<%= simple_form_for([@company, @user, @project_assignment]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs row separator-row">
      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.association :project, collection: @projects, include_blank: false, label: 'Site', wrapper_html: {class: 'col s12'}, input_html: {class: 'select2'} , label_html: {class: 'cb1'}%>
        </div>
      </div>

      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.input :role, required: true, include_blank: false, collection: ProjectAssignment.roles.map { |role, _| [ProjectAssignment.role_lookup.fetch(role, role.titleize), role] }, wrapper_html: {class: 'col s12 dd1'}, input_html: {class: 'select2'}, label_html: {class: 'cb1'} %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :button, 'Create site assignment',class: 'but1 site-assignment-btn site-assign-btn',data: {disable_with: 'Processing…'} %>
      <%= link_to 'Cancel', company_user_path(@company, @user), class: 'btn but2 white site-assignment-new site-assign-cancel'%>

    </div>
<% end %>

