<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-headin site-header-bottom h1">Add Site Assignment</h1>
        <%= link_to 'Back', company_user_path(@company, @user), class: 'links-li lk1' %>
      </div>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>

