$gray-base: #000;
$gray-light: lighten($gray-base, 46.7%);
$mailer-background: #ebebeb;
$mailer-container-background: #ffffff;

body,
.body {
  background: $mailer-background;
}

.container {
  background: $mailer-container-background;

  &.body-background {
    background: $mailer-background;
  }
}

