<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <div class="h1" style="border-bottom: 1px solid #C6C6C6;">RFID SAVED LISTS</div>
      </div>

      <table class="">
        <tbody>
              <% if @lists.count > 0%>
                <%@lists.each do |list|%>
                  <%if list.filter.present?%>
                    <%filters = list.filter.split(',')%>
                    <%filters_str = ""%>
                    <%filters.each do |fil|%>
                      <%filter_key_val = fil.split(':')%>
                      <%key = filter_key_val[0].strip if filter_key_val[0]%>
                      <%val = filter_key_val[1].strip if filter_key_val[1]%>
                      <%if key == 'equipment' && val == '1'%>
                        <%filters_str += key.capitalize.pluralize + ','%>
                      <%end%>
                      <%if key == 'material' && val == '1'%>
                        <%filters_str += key.capitalize.pluralize + ','%>
                      <%end%>
                      <%if key == 'category' %>
                        <%filters_str += val.capitalize + ','%>
                      <%end%>
                      <%if key == 'project' %>
                        <%project = ProjectSearch.get_project(val)%>
                        <%project_name = project.name if project%>
                        <%filters_str += key.capitalize + ' ' + project_name.to_s + ','%>
                      <%end%>
                    <%end%>
                  <%end%>
                  <tr style="border-bottom: 1px solid #C6C6C6;">
                    <%date = DateTime.parse(list.created_at.to_s).in_time_zone(@browser_timezone).strftime('%m/%d/%Y %I:%M %p (%Z)')%>
                    <td class="dd1">RFID <%="#{list.list_type.capitalize}.#{filters_str.chop + '.' if filters_str} Saved at #{date}" %></td>
                    <td style="text-align:right;" class="show_link_on_small_devices b18">
                    <% if list.list_type == "checklist" %>
                    <%= link_to "View List", findit_checklist_path(:list_id => list.id), :style=> 'color: #fd4f00;' %>
                    <% else %>
                    <%= link_to "View List", assets_findit_path(:list_id => list.id), :style=> 'color: #fd4f00;' %>
                    <% end %>
                    </td>
                  </tr>
                <%end%>
              <% else %>
                <tr>
                  <td class="center">No list found.</td>
                </tr>
              <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
