.ldAssetGaugeStats {
  display: flex;
  justify-content: space-around;
  padding-top: $px-md;

  &__label {
    color: #999999;
    font-size: $fs-mx;
    font-weight: bold;
    &--small {
      font-size: $fs-sm;
      font-weight: normal;
    }
  }

  &__value {
    font-size: $px-xl;
  }
}