.ldAssetNotifList {
  &__wrapper {
    border: 1px solid #d8d8d8;
    padding: $px-sm;
    height: 350px;
  }

  &__header {
    border-bottom: 1px solid #c1c1c1;
    height: 40px;
  }

  &__filter {
    float: right;
    width: 40%;
  }

  &__inlineLabel {
    display: inline-block;
    margin-right: $px-sm;
    line-height: 36px;
    vertical-align: text-bottom;
  }
  &__severityList {
    display: inline-block;
    width: 80px;
    text-align: center;
  }

  &__title {
    line-height: 40px;
    float: left;
  }

  &__table {
    min-height: 230px;
    max-height: 230px;
    overflow-y: scroll;
  }

  &__severity {
  	display: inline-block;
  	width: $px-lg;
  	height: $px-lg;
  	line-height: $px-lg;
    border-radius: 9999px;
    color: white;
    text-align: center;
    text-transform: uppercase;

    &--high {
      background-color: #ff2721;
    }
    &--medium {
      background-color: #f6b436;
    }
    &--low {
      background-color: #a8cc00;
    }
  }
}