.ldAssetInfo {
  &__infoWrapper {
    border: 1px solid #d8d8d8;
    padding: $px-lg $px-sm;
    height: 350px;
  }
  &__image {
    float: left;
    width: 210px;
    height: 200px;
    border: 1px solid #b3b4ae;
    margin-right: $px-sm;
  }
  &__info {
    line-height: $px-lg;
    height: 200px;
  }
  &__note {
    text-decoration: underline;
  }
}