.barGauge {
  width: 100%;
  padding: $px-lg $px-md;
  &__chart {
    height: 40px;
    background-color: #c4c4c4;
    transition:all 0.3s ease;
    &--active {
      background-color: #00cd34;
      transition:all 0.3s ease;
    }
  }
}