.odometerGauge {
  width: 100%;
  height: 251px;
  padding: $px-md;
  border-bottom: 1px solid #cccccc;
  &__chart {
    height: 130px;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    border: 8px solid #e4e2e3;
    border-radius: 40px;
  }

  &__unit {
    color: #696969;
    font-size: $fs-md;
    font-weight: bolder;
  }

  &__value {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
  }
}