.progressGauge {
  width: 100%;
  padding: $px-lg $px-md;
  &__chart {
    height: 40px;
    display: flex;
  }
  &__item {
    background-color: #c4c4c4;
    margin-right: $px-tn;
    flex: 1;
    height: 40px;
    transition:all 0.3s ease;
    &--high {
      background-color: #cc0001;
      transition:all 0.3s ease;
    }
    &--medium {
      background-color: #cc9900;
      transition:all 0.3s ease;
    }
    &--low {
      background-color: #00cd34;
      transition:all 0.3s ease;
    }
  }
}