<div>
  <p>Tenna Support,</p>
  <br /><br />
  An unauthorized code was scanned.
  <br /><br />
  Name: <%= @first_name %> <%= @last_name %><br />
  Email: <%= @user_email %> <br />
  Company: <%= @user_company %> <br />
  Role: <%= @role %> <br />
  Asset URL: <%= @asset_url %> <br />
  Scanned Code: <%= @url_of_scan %> <br />
  Location: Lat: <%= @lat %>, Lng <%= @lng %> <br />
  Date: <%= @date %> <br />
  Time: <%= @time %>
  <br><br>
  --Tenna.
</div>
