<div class="row dashboard-chart">
  <div class="col s12 m12 l4 chart hide-on-large-only">
    <div class="card-panel stats-card-panel">
      <%= render "my_stats" %>
    </div>
  </div>
  <div class="col s12 m6 l4 chart">
  	<div class="card-panel small-chart" data-chart="<%= @chart3.to_json %>">
    </div>
  </div>
  <div class="col s12 m12 l4 chart hide-on-med-and-down">
    <div class="card-panel stats-card-panel">
      <%= render "my_stats" %>
    </div>
  </div>
  <div class="col s12 m6 l4 chart">
  	<div class="card-panel" data-chart="<%= @chart4.to_json %>"></div>
  </div>
</div>

