<div id="bs-filters">
  <div class="b8 bb-gray"><%= current_user.private? ? 'My Company' : 'My Assets' %></div>
  <div <%= 'hidden="hidden"' if current_user.public? %>>
    <input type="checkbox" class="markers-filter filled-in checked-assets-count" id="all_assets" checked>
    <label for="all_assets" class="filter">
      <span>All assets</span>
    </label>
  </div>
  <% if current_user.public? %>
    <div>
      <input type="checkbox" class="markers-filter asset-filter filled-in checked-assets-count" id="owned_assets" checked>
      <label for="owned_assets" class="filter inherit-filter simple-filter">
        <span>For Sale</span>
        <i class="fa fa-circle marker sale" aria-hidden="true"></i>
      </label>
    </div>

    <div>
      <input type="checkbox" class="markers-filter asset-filter filled-in checked-assets-count" id="rental_assets" checked>
      <label for="rental_assets" class="filter inherit-filter simple-filter">
        <span>For Rent</span>
        <i class="fa fa-circle marker for-rent" aria-hidden="true"></i>
      </label>
    </div>
  <% else %>
    <div>
      <input type="checkbox" class="markers-filter asset-filter filled-in checked-assets-count" id="owned_assets" checked>
      <label for="owned_assets" class="filter inherit-filter simple-filter">
        <span>Private Owned</span>
        <i class="fa fa-circle marker owned" aria-hidden="true"></i>
      </label>
    </div>

    <div>
      <input type="checkbox" class="markers-filter asset-filter filled-in checked-assets-count" id="rental_assets" checked>
      <label for="rental_assets" class="filter inherit-filter simple-filter">
        <span>Private Rentals</span>
        <i class="fa fa-circle marker rental" aria-hidden="true"></i>
      </label>
    </div>

    <div>
      <input type="checkbox" class="markers-filter asset-filter filled-in checked-assets-count" id="public_assets" checked>
      <label for="public_assets" class="filter inherit-filter simple-filter">
        <span>Public Assets</span>
        <i class="fa fa-circle marker assets" aria-hidden="true"></i>
      </label>
    </div>
    <div>
      <input type="checkbox" class="markers-filter filled-in checked-assets-count" id="projects" checked>
      <label for="projects" class="filter simple-filter">
        <span>Sites</span>
        <i class="fa fa-circle marker sites" aria-hidden="true"></i>
      </label>
    </div>
  <% end %>

  <div class="b8 bb-gray mt-mn">Public Marketplace</div>
  <div>
    <input type="checkbox" class="markers-filter filled-in checked-assets-count" id="public_public_assets" checked>
    <label for="public_public_assets" class="filter simple-filter">
      <span>Other's Assets</span>
      <i class="fa fa-circle marker other-assets" aria-hidden="true"></i>
    </label>
  </div>
</div>
