<div id="map-wrapper" data-position-url="<%= geo_positions_path format: :json %>" data-private="<%= current_user.private? %>" data-api-key="<%= Rails.application.secrets['keys']['map_box_api_key'] %>" data-company-id='<%= current_user.company.try(:id) %>' data-creator-id='<%= current_user.id %>'>
  <div class="mobile-map-overlay hide-on-med-and-up-map">
    <div class="mobile-map-header row">
      <div class="col s3 mobile-filter-open">
        <i class="fa fa-filter fa-2x"></i>
      </div>
      <div class="col s6 hidden mobile-filter-title">
        <h5>Filters</h5>
      </div>
      <div class="col s3 right-align hidden mobile-filter-close">
        <i class="fa fa-map-o fa-2x"></i>
      </div>
      <div class="col s9 right-align mobile-filter-status hide-on-short-screen">
        <% if current_user.public? %>
          <%= image_tag 'marker-dark-blue.png', class: 'filter-owned', height: '35' %>
          <%= image_tag 'marker-blue.png', class: 'filter-rental', height: '35' %>
        <% else %>
          <%= image_tag 'dark-blue-lock.png', class: 'filter-owned', height: '35' %>
          <%= image_tag 'orange-lock.png', class: 'filter-rental', height: '35' %>
        <% end %>
        <%= image_tag 'light-blue-eye.png', class: 'filter-public', height: '35'  %>
        <%= image_tag 'green-tag.png', class: 'filter-others', height: "35"  %>
        <%= image_tag 'grey-briefcase.png', class: 'filter-project', height: '35'  %>
      </div>
      <div class="col s12 center-align hidden mobile-more-info-title">
      </div>
    </div>
    <div class="mobile-filters hidden">
    </div>
    <div class="mobile-more-info">
    </div>
  </div>

  <div id="dashboard-map"></div>
  <% if user_signed_in? && current_user.private? %>
  <%= link_to "Live Data", live_data_path, class: "waves-effect waves-light btn live-data-btn but1" %>
  <% end %>
  <div id="bs-sidebar" class="sidebar collapsed hide-on-small-and-down-map">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li><a href="#sidebar-filters" role="tab"><i class="fa fa-ellipsis-v"></i></a></li>
        <li><a href="#sidebar-marker-info" role="tab"><i class="fa fa-info"></i></a></li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
      <div class="sidebar-pane" id="sidebar-filters">
        <div class="sidebar-header">
          Filters
          <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
        </div>
        <%= render 'map_filters' %>
      </div>

      <div class="sidebar-pane" id="sidebar-marker-info">
        <h1 class="sidebar-header">
          Marker Info
          <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
        </h1>
        <div id="pin-info-container">
          <div id="pin-info-error">Select a marker to see more information about that item.</div>
        </div>
      </div>
    </div>
  </div>

  <form method="get" id="location-zip-code" data-parsley-validate>
    <input id="location-input" name="addr" placeholder="Location" data-parsley-remote-validator="zipcode"
    data-parsley-remote
    data-parsley-error-message="Enter valid zipcode with comma seperated country name/code."
    autocomplete='off'
    value="<%= cookies[:zip_code] %>">
  </form>
</div>
