<% if map_marker[:count] %>
    <div class="map-pin-info-asset">
      <div class="row callout-row-project-name callout-row-regular">
        <div class="col s12">
          <p class="callout-project-name"> <%= pluralize(map_marker[:count], 'Asset') %> in <%= map_marker[:zip_code] %></p>
        </div>
      </div>
      <div class="row callout-row-view-details">
        <div class="col s12 center-align ">
          <%= link_to "View #{'Asset'.pluralize(map_marker[:count].to_i)}", marketplace_zip_code_url(map_marker[:zip_code]), class: 'callout-view-details' %>
        </div>
      </div>
    </div>
<% elsif map_marker[:id] %>
    <div class="map-pin-info-project">
      <div class="row callout-row-project-name">
        <div class="col s12">
          <p class="callout-project-name"><%= map_marker[:name] %></p>
        </div>
      </div>
      <div class="row callout-row-regular">
        <div class="col s6 left-align">
          <p class="callout-regular"><%= map_marker[:contact] %></p>

          <p class="callout-light">Closes <%= map_marker[:closeout_date] %></p>
        </div>
        <div class="col s6 right-align">
          <p class="callout-regular"><%= map_marker[:address] %></p>

          <p class="callout-light"><%= pluralize(map_marker[:asset_count], 'Resource') %></p>
        </div>
      </div>
      <div class="row callout-row-view-details">
        <div class="col s12 center-align ">
          <%= link_to 'View Details', project_path(map_marker[:id]), class: 'callout-view-details' %>
        </div>
      </div>
    </div>
<% end %>
