<div class="row dashboard-stats">
  <div class="col s12 m12 l12">
  <% if current_user.private? %>
      <div class="col s12 m12 l12">
        <div class="pt-sm left-align">
          <span class="h1">
            <%= current_user.company.name %>
          </span>
        </div>
        <hr style="border: 1px solid #e1e1e1" />​
      </div>

      <div class="col s12 m5 l12 border-right">
        <div class="row">
          <div class="col s12 h4">
            <%= number_with_delimiter(@my_assets_count, delimiter: ',') %>
          </div>
          <div class="col s12 b8">
          company <%='Asset'.pluralize(@my_assets_count) %> valued at
          </div>
          <div class="col s12 h4 c-primary">
            $<%= number_to_human(@my_assets_value, units: {thousand: 'K', million: 'M', billion: 'B', trillion: 'T', quadrillion: 'Q'}) %>
          </div>
        </div>
        <hr style="border: 1px solid #e1e1e1; width:80%;" class="hide-on-med-only" />​
      </div>

    <div class="verticalLineRight col m1"></div>
      <div class="col s12 m5 l12">
        <div class="b8">
          <span class="h4">
            <%= number_with_delimiter(@my_asset_reallocation_count, delimiter: ',') %>
          </span><br />
          Reallocations
        </div>
      </div>
  <% end %>
  </div>
</div>
