<% if @notifications.present? %>
  <div class="row" style="margin-bottom: 0px;">
    <% @notifications.each_with_index do |notification, index| %>
      <div class="col l4 m6 s10 notification " style="padding:0px;"  >
        <div class="col s12 m12 l12 " style="padding:0px;">
          <div class="card-panel" style="padding: 10px;">
            <div class="col l12 s12 m12" style="padding: 0px; margin-bottom:5px;">
              <div class="heading">Tenna Upcoming Upgrades</div>
              <div style="float:right;">
                <a class="waves-effect waves-light btn col m12 close-btn">&times;</a>
              </div>
            </div>
            <div class="col l12 s12 m12" style="margin:0px;padding:0px;">
              <hr style="border: 1px solid #ECECEC; margin:0px;" />
            </div>
            ​
              <span class="black-text">
                <%start_time = notification.notification_datetime %>
                <%end_time = start_time + (60 * 60 * notification.duration) if start_time and notification.duration%>
                <p style= "margin-bottom:0px;"><%=notification.message.html_safe%></p>
                <p class = "notification-duration" ><%=start_time.strftime("%B %e,") + start_time.strftime("%l:%M %p") + " to "+ end_time.strftime("%l:%M %p")+"." if start_time and end_time%></p>
                <p>Thank you for your patience and understanding.</p>
              </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
