<div class="row dashboard-stats dashboard-footer">
  <div class="col s12 m12 l12">
    <h2>
      <span class="company-name text-downcase">The Public Marketplace currently has </span>
      <span class="value2"><%= number_with_delimiter(@public_assets_count, delimiter: ',') %><%=' asset'.pluralize(@my_assets_count) %>, valued at $<%= number_to_human(@public_assets_value, units: {thousand: 'K', million: 'M', billion: 'B', trillion: 'T', quadrillion: 'Q'}) %>*</span>
    </h2>
    <p class="sub-text">
		*Others’ assets for Sale or Rent on the Public Marketplace
    </p>
  </div>
</div>
