<div class="widgets">
  <div class="map-scroller text-center hide-on-med-and-up-map">
    <i class="fa fa-chevron-circle-up fa-2x"></i>
  </div>
  <div class="row">
    <% if current_user.private? %>
      <div class="col l1 m1 s6 hide-on-small-and-down status-icons-center">&nbsp;</div>

      <div class="col l2 m2 s6">
        <%= link_to assets_path({'filter_search[has_qr_code]' => '1', 'filter_search[hide_filters]' => true, 'filter_search[assets_title]' => 'qr_tracked'}), class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            Tracked<br><br><span class="btn transparent primary-border h2">
            <%= number_with_delimiter(@assets_with_qr_code, delimiter: ',') if @assets_with_qr_code < 1000 %>
            <%= number_to_human(@assets_with_qr_code,  precision: 0, :format => '%n%u+', :units => { :thousand => 'K' })  if @assets_with_qr_code > 1000 %></span>
          </div>
        <% end %>
      </div>

      <div class="col l2 m2 s6">
        <%= link_to assets_path({'filter_search[req_maintenance]' => '1', 'filter_search[hide_filters]' => true, 'filter_search[assets_title]' => 'req_maintenance'}), class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            Maintenance<br><br><span class="btn transparent primary-border h2">
            <%= number_with_delimiter(@maintenance_required_count, delimiter: ',') if @maintenance_required_count < 1000 %>
            <%= number_to_human(@maintenance_required_count,  precision: 0, :format => '%n%u+', :units => { :thousand => 'K' })  if @maintenance_required_count > 1000 %></span>
          </div>
        <% end %>
      </div>

      <div class="col l2 m2 s6">
        <%= link_to assets_path({'filter_search[abandoned]' => '1', 'filter_search[hide_filters]' => true, 'filter_search[assets_title]' => 'abandoned'}), class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            Abandoned<br><br><span class="btn transparent primary-border h2">
            <%= number_with_delimiter(@my_assets_expiring_count, delimiter: ',') if @my_assets_expiring_count < 1000 %>
            <%= number_to_human(@my_assets_expiring_count,  precision: 0, :format => '%n%u+', :units => { :thousand => 'K' })  if @my_assets_expiring_count > 1000 %></span>
          </div>
        <% end %>
      </div>

      <div class="col l2 m2 s6">
        <%= link_to wanted_assets_path, class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            Wanted<br><br><span class="btn transparent primary-border h2"><%= number_with_delimiter(@my_wanted_count, delimiter: ',') %></span>
          </div>
        <% end %>
      </div>

      <div class="col l2 m2 s6">
        <%= link_to sold_assets_path, class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            Sold<br><br><span class="btn transparent primary-border h2">
              <%= number_with_delimiter(@my_assets_sold_count, delimiter: ',') if @my_assets_sold_count < 1000 %>
              <%= number_to_human(@my_assets_sold_count,  precision: 0, :format => '%n%u+', :units => { :thousand => 'K' })  if @my_assets_sold_count > 1000 %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col l3 m3 s6">
        <%= link_to sold_assets_path, class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            Sold<br><br><span class="btn transparent primary-border h2"><%= number_with_delimiter(@my_assets_sold_count, delimiter: ',') %></span>
          </div>
        <% end %>
      </div>

      <div class="col l3 m3 s6">
        <%= link_to assets_path(filter_search: { distance_miles: 50, distance_zip: cookies[:zip_code] }), class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            Within 50 mi.<br><br><span class="btn transparent primary-border h2"><%= number_with_delimiter(@asset_nearby_count, delimiter: ',') %></span>
          </div>
        <% end %>
      </div>

      <div class="col l3 m3 s6">
        <%= link_to "#", class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            View Count<br><br><span class="btn transparent primary-border h2"><%= number_with_delimiter(@my_asset_views_count, delimiter: ',') %></span>
          </div>
        <% end %>
      </div>

      <div class="col l3 m3 s6">
        <%= link_to assets_path(filter_search: { expiring: 1 }), class: 'inherit-color widget-item' do %>
          <div class="widget-desc b8">
            Expiring<br><br><span class="btn transparent primary-border h2"><%= number_with_delimiter(@my_assets_expiring_count, delimiter: ',') %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

