<% content_for :map do %>
  <%= render 'notifications' %>
  <%= render 'map' %>
  <%= render 'widgets' %>
<% end %>
<% if current_user.present? && current_user.private? %>
  <%= render 'chart' %>
    <div class="row">
      <div class="col s12 m12 l6">
        <div class="card-panel">
          <div class="header-link">
            <h1 class="card-panel-heading">Recent Sites</h1>

            <% if can? :create, Project %>
              <%= link_to new_project_path(back: request.fullpath), onClick: "ga('send', 'Internal Link', '#{new_project_path(back: request.fullpath)}');".html_safe do %>
                <span class="btn-floating btn-small waves-effect waves-light primary mr-tn">
                  <i class="material-icons">add</i>
                </span><span class="dd3">Add Site</span>
              <% end %>
            <% end %>
          </div>

          <table id="table-projects" class="table">
            <%= render @project_updates %>
          </table>

          <div class="show-all">
            <%= link_to 'Show All', projects_path, class: "lk1", onClick: "ga('send', 'Internal Link', '#{projects_path}');".html_safe %>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <div class="card-panel">
          <div class="header-link">
            <h1 class="card-panel-heading">Recent Assets</h1>
            <%= link_to new_asset_path(back: request.fullpath), onClick: "ga('send', 'Internal Link', '#{new_asset_path(back: request.fullpath)}');".html_safe do %>
              <span class="btn-floating btn-small primary waves-effect waves-light  mr-tn">
                <i class="material-icons">add</i>
              </span><span class="dd3">Add Asset</span>
            <% end %>
          </div>

          <table id="table-assets" class="table">
            <%= render partial: 'assets/asset', collection: @recently_added_resources %>
          </table>

          <div class="show-all">
            <%= link_to 'Show All', assets_path, class: "lk1", onClick: "ga.push('send', 'Internal Link', '#{assets_path}');".html_safe %>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="col s12 m12 l6">
        <div class="card-panel">
          <div class="header-link">
            <h1 class="card-panel-heading">Recent Materials</h1>
            <%= link_to 'Add Material', new_asset_path(back: request.fullpath, assetType: "Material"), onClick: "ga('send', 'Internal Link', '#{new_asset_path(back: request.fullpath, assetType: "Material")}');".html_safe %>
          </div>

          <table id="table-assets" class="table">
            <%= render partial: 'assets/asset', collection: @recently_added_materials %>
          </table>

          <div class="show-all">
            <%= link_to 'Show All', marketplace_path(category_type: :material), onClick: "ga('send', 'Internal Link', '#{marketplace_path}');".html_safe %>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <div class="card-panel">
          <div class="header-link">
            <h1 class="card-panel-heading">Recent Equipment</h1>
            <%= link_to 'Add Equipment', new_asset_path(back: request.fullpath), onClick: "ga('send', 'Internal Link', '#{new_asset_path(back: request.fullpath)}');".html_safe %>
          </div>

          <table id="table-assets" class="table">
            <%= render partial: 'assets/asset', collection: @recently_added_equipment %>
          </table>

          <div class="show-all">
            <%= link_to 'Show All', marketplace_path(category_type: :equipment) %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= fab Asset %>
