body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
img {
  border: 0;
}
.gal-holder {
	display: block;
	overflow: hidden;
	padding: 20px;
}
.gal-holder .gal-item:first-child {
    float: left;
}
.gal-holder .gal-item {
    display: inline-block;
    width: 150px;
	overflow: hidden;
	position: relative;
	margin: 0 12px 12px 0;
}
.gal-holder .gal-item .gal-del {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.gal-holder .gal-item .gal-del:hover {
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.gal-holder .gal-item .gal-upload-holder input {
	height: 162px;
}
.gal-holder .gal-item .gal-upload-holder .add:hover {
	text-decoration: underline;
}
.gal-holder .gal-item .gal-inner-holder, .gal-holder .gal-item .gal-upload-holder {
	display: block;
	margin: 6px 6px 0 0;
	overflow: hidden;
	padding: 12px;
	background: #fff;
	border: solid 1px #D3D3D3;
	min-height: 138px;
}
.gal-holder .gal-item .gal-inner-holder.hover {
    background: #DFF1FF;
    border: solid 1px #99CCFF;
}
.gal-holder .gal-item .gal-inner-holder.selected {
    background: #B4D9FF;
    border: solid 1px #6565FE;
}
.gal-holder .gal-item .gal-upload-holder .add {
  display: block;
  color: #2e5aff;
  background: url(/static-assets/ckeditor/filebrowser/images/gal_add-e97dc0969bf9a7b88d048bcc2e4eb28a2f9ae75763e7076b4c68ee2e7de3ea05.png) no-repeat left center;
  padding-left: 33px;
  line-height: 25px;
  text-decoration: none;
  margin: 50px 0 0 10px;
  font-size: 14px;
}
.gal-holder .gal-item .gal-inner-holder .img {
	height: 100px;
	overflow: hidden;
	cursor:pointer;
}
.gal-holder .gal-item .gal-inner-holder .img.preloader {
	padding: 27px 0 0 33px;
	height: 73px;
}
.gal-holder .gal-item .gal-inner-holder .img-data {
	display: block;
	overflow: hidden;
	padding-top: 5px;
}
.gal-holder .gal-item .gal-inner-holder .img-data .img-name {
	display: block;
	color: #333;
	padding-bottom: 5px;
	font-size: 12px;
	overflow: hidden;
	width: 500px;
}
.img-name {
	word-wrap: break-word;
	width: auto !important;
}
.gal-holder .gal-item .gal-inner-holder .img-data .time-size {
	display: block;
	overflow: hidden;
	font-size: 10px;
	color: #666;
}
.gal-holder .gal-item .gal-inner-holder .img-data .time-size .time {
	display: block;
	float: left;
}
.gal-holder .gal-item .gal-inner-holder .img-data .time-size .size {
	display: block;
	float: right;
}
.gal-more {
	display: block;
	overflow: hidden;
	border-top: dashed 1px #d3d3d3;
	padding: 20px 0;
	text-align: center;
}
.gal-more a {
	color: #2e5aff;
	background: url(/static-assets/ckeditor/filebrowser/images/gal_more-93d8887361f4dd7f757c20a186a2dae6e5cc6698da238814eacbff7b19a43f51.gif) no-repeat left center;
	padding-left: 15px;
	font-size: 14px;
	text-decoration: none;
}
.gal-more a:hover {
	text-decoration: underline;
}

.pagination, .pagination a {
    text-decoration: none;
}
