<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <h1 class="card-panel-heading">Resend Confirmation Instructions</h1>

      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-inputs margin-btm-none">
            <div class="row">
              <%= f.input :email, label: 'Email', required: true, autofocus: true, wrapper_html: {class: 'col s12'} %>
            </div>
          </div>

          <div class="form-actions margin-btm-lg">
            <%= f.button :button, 'Resend Confirmation Instructions' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
      <% end %>
    </div>
  </div>
</div>
