<div class="row center padding-top-50 padding-bottom-25">
  <a id="logo-container" href="/" class="brand-logo">
    <%= image_tag "Logo_Vertical.png", class: 'sign-in-logo' %>
  </a>
</div>
<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <h1 class="card-panel-heading h1">Resend Confirmation Instructions</h1><span style="float:right; margin-top: -45px;"><%= link_to "Back", :back,  class: 'lk3' %></span>

      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-inputs margin-btm-none">
            <div class="row">
              <%= f.input :email, label: 'Email', required: true, autofocus: true, wrapper_html: {class: 'col s12'} %>
            </div>
          </div>

          <div class="form-actions margin-btm-lg">
            <%= link_to 'Cancel', root_path, class: 'waves-effect waves-light btn but2' %>
            <%= f.button :button, 'Resend Confirmation', class: 'but1' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
      <% end %>
    </div>
  </div>
</div>
