<div class="col s12 m6 form-col">
  <div class="row">
    <%= f.input :line_1, label: 'Address 1', wrapper_html: {class: 'col s12'} ,label_html: {class: 'ip1'}%>
  </div>

  <div class="row">
    <%= f.input :city, wrapper_html: {class: 'col s12'},label_html: {class: 'ip1'}%>
  </div>

  <div class="row project-country">
    <%= f.label :country, class: 'cb1', style: 'margin-left: 7px'%>
    <%=f.select :country, ZipCode.country_lists,{prompt: "Select country"}, { :class => 'browser-default col s12'}%>
  </div>
</div>

<div class="col s12 m6 form-col">
  <div class="row">
    <%= f.input :line_2, label: 'Address 2', wrapper_html: {class: 'col s12'} ,label_html: {class: 'ip1'}%>
  </div>

  <div class="row">
    <%= f.input :state,
                label: 'State / Province',
                wrapper_html: {class: 'col s12'} ,label_html: {class: 'ip1'}%>
  </div>
  <div class="row">
    <%= f.input :zip,
              label: 'Zip / Postal Code',
              wrapper_html: {class: 'col s12'} ,label_html: {class: 'ip1'}%>
  </div>
</div>

<div class="col s12 m6 form-col">
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng%>
    <%= f.hidden_field :change_addr%>
    <%= f.hidden_field :current_coords, value: cookies[:coordinates]%>
</div>