<div id="slider-date" class="noUi-target noUi-ltr noUi-horizontal">
</div>
<br />
<span class="example-val" id="event-start">Thursday, 30th December 2010</span>
<span class="example-val" id="event-end">Thursday, 1st January 2015</span>
