<% company_scorecard ||= @company_scorecard %>
<% company_safety_configurations ||= @company_safety_configurations %>
<div class="card-panel">
  <h5 class="h5-font">Company Averages <span class="right"><i class="fa fa-question-circle blue-text" id="config-helper"></i></span></h5>
  <div class="row bottom-border">&nbsp;</div>
  <div class="row scrollable-div-x">
    <ul class="main-ul center-align">
      <li class="scorecard-item">
        <div class="sv_toggler_tab">
          <div class="scorecard-item-title">Score</div>
          <span class="average_number_circle average_score"><%= company_scorecard.scorecard_type == 'Driver' ? company_scorecard.average_score_by_driver.to_i : company_scorecard.average_score_by_vehicle.to_i %></span>
        </div>
        <div class="sv_toggler_tab hidden">
          <div class="scorecard-item-title">Violation</div>
          <span class="violation_num"><%= company_scorecard.scorecard_type == 'Driver' ? company_scorecard.average_violations_by_driver.to_i : company_scorecard.average_violations_by_vehicle.to_i %></span>
        </div>
      </li>
      <% company_safety_configurations.each do |company_safety_configuration| %>
        <li class="scorecard-item">
          <div class="scorecard-item-title"><%= company_safety_configuration.gauge.name %></div>
          <div class="sv_toggler_tab"><span class="average_number_circle"><%= company_scorecard.scorecard_type == 'Driver' ? company_scorecard.send(company_safety_configuration.gauge.safety_indexify_name)['average_score_by_driver'].to_i : company_scorecard.send(company_safety_configuration.gauge.safety_indexify_name)['average_score_by_vehicle'].to_i %></span></div>
          <div class="sv_toggler_tab hidden"><span class="violation_num"><%= company_scorecard.scorecard_type == 'Driver' ? company_scorecard.send(company_safety_configuration.gauge.safety_indexify_name)['average_violations_by_driver'].to_i : company_scorecard.send(company_safety_configuration.gauge.safety_indexify_name)['average_violations_by_vehicle'].to_i %></span></div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row score_category padding-top-20" style="border: none;"> <%= link_to 'Score', '#', class: 'active sv_toggler' %> | <%= link_to 'Violations', '#', class: 'sv_toggler' %></div>
<div class="row">
  <table id="data_table_main" class="scores-table striped cell-border centered" style="width: 100%;">
    <thead>
    <tr>
      <th>Score</th>
      <th class="dt-left"><%= company_scorecard.scorecard_type.capitalize %></th>
      <% company_safety_configurations.each do |company_safety_configuration|%>
        <th><%= company_safety_configuration.gauge.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% if company_scorecard.scorecard_type == 'Driver'%>
      <% company_scorecard.driver_scorecards.each do |driver_scorecard| %>
        <tr>
          <td><span class="number_circle"><%= driver_scorecard.calculated_score.to_i %></span></td>
          <td class="dt-left"><%= driver_scorecard.driver.name %></td>
          <% company_safety_configurations.each do |company_safety_configuration| %>
            <td>
              <span class="sv_toggler_tab number_circle"><%= driver_scorecard.send(company_safety_configuration.gauge.safety_indexify_name)['score'].to_i %></span>
              <span class="sv_toggler_tab hidden"><%=  driver_scorecard.send(company_safety_configuration.gauge.safety_indexify_name)['violations_count']%></span>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <% company_scorecard.vehicle_scorecards.each do |vehicle_scorecard| %>
        <tr>
          <td><span class="number_circle"><%= vehicle_scorecard.calculated_score.to_i %></span></td>
          <td class="dt-left"><%= vehicle_scorecard.asset.title %></td>
          <% company_safety_configurations.each do |company_safety_configuration| %>
            <td>
              <span class="sv_toggler_tab number_circle"><%= vehicle_scorecard.send(company_safety_configuration.gauge.safety_indexify_name)['score'].to_i %></span>
              <span class="sv_toggler_tab hidden"><%=  vehicle_scorecard.send(company_safety_configuration.gauge.safety_indexify_name)['violations_count']%></span>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
