<div id="not_subscribed">
  <div class="row">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <div class="row">
        <div class="col s12 m12 l12">
        <span class="title-text-big-orange">
          No Configuration added for Safety Reports.
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text">
          Safety Reports configuration needs to be added to view this page.
        </div>
      </div>
    </div>
  </div>
</div>
