<div class="preloader-background">
  <div class="preloader-wrapper big active hidden">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div id="config-partial-for-company" class="hidden"><%= render partial: 'company_safety_configurations/help_section', locals: {company_safety_configurations: @company_safety_configurations}%></div>

<div class="safety-reports-container row card-panel">
  <%= form_tag({controller: 'safety_reports', action: 'landing_page'},method: 'get', remote: true ) do %>
    <div class="row score_category padding-top-20"> <%= link_to 'Drivers', '#', id: 'driver-link', class: 'active score-link', data: {score_type: 'Driver'} %> | <%= link_to 'Vehicles', '#', class: 'score-link', data: {score_type: 'Vehicle'} %></div>
    <div class="row bottom-border">&nbsp;</div>
    <input id="scorecard_type" name="scorecard_type" value="Driver" type="hidden">
    <div class="row">
      <div class="dv-chips-autocomplete col s5 data_row_div">
        <%#= select_tag :search_select, options_for_select((company_scorecard.scorecard_type == 'Driver') ? company_scorecard.driver_scorecards.map{|element| element.driver.name } : company_scorecard.vehicle_scorecards.map{|element| element.asset.title },), class: 'browser-default search_select select2', multiple: true %>
      </div>
      <div class="col s3"></div>
      <div class="col s2">
        <label class="string-date" for="asset_start_date">Start Date</label>
        <input class="safety-datepicker" placeholder="Start Date" name="start_date" max=<%= Date.today.to_s %> value="<%= @company_scorecard.start_date.strftime(I18n.t('time.formats.month_day_year')) %>" required="false" id="start_date">
      </div>
      <div class="col s2">
        <label class="string-date" for="asset_end_date">End Date</label>
        <input class="safety-datepicker" placeholder="End Date" name="end_date" max=<%= Date.today.to_s %> value="<%= @company_scorecard.end_date.strftime(I18n.t('time.formats.month_day_year')) %>" required="false" id="end_date">
      </div>
    </div>
  <%end%>

  <div class="col s12" id="scorecards">
    <%= render partial: 'safety_reports/safety_reports_card', locals: {company_scorecard: @company_scorecard, company_safety_configurations: @company_safety_configurations} %>
  </div>
</div>
