<div id="not_subscribed">
  <div class="row">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <div class="row">
        <div class="col s12 m12 l12">
        <span class="title-text-big-orange">
          Driver Safety is an Optional, Premium Feature.
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text">
          Driver scorecards efficiently manage driver safety and performance to identify behavioral trends in your company. Easily measure risk and safety performance to promote good driving behavior based on unique driver scores. Receive real-time notifications to identify safe and dangerous driving habits, monitor vehicle health to increase preventive maintenance, reduce operation cost, and maximize efficiency. All by using a simple and effective quantitative metrics to show fleet performance.
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text contact-text">
          <div>Please contact us if you wish to add Driver Safety to your Tenna account.</div>
          <div id="mail-div"><%= mail_to 'support@tenna.com' %></div>
          <div>844.502.8453</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l9">
      <div class="row v-h-align center ie-center">
        <div class="not-subscribed-img-generic-css not-subscribed-safety-reports v-h-align" style="align-self: center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
