<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading">Edit <%= resource_name.to_s.humanize %></h1>
        <%= link_to_cancel %>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs row separator-row">
            <div class="col s12 m6 form-col">

              <div class="row">
                <%= f.input :first_name, label: 'First Name', required: true, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :last_name, label: 'Last Name', required: true, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :password, label: 'Password', autocomplete: 'off', hint: 'Leave it blank if you don\'t want to change it.', required: false, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :password_confirmation, label: 'Password Confirmation', required: false, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :current_password, label: 'Current Password', hint: 'We need your current password to confirm your changes.', required: true, wrapper_html: {class: 'col s12'} %>
              </div>
            </div>

            <div class="col s12 m6 form-col">
              <div class="row">
                <%= f.input :email, label: 'Email', required: true, wrapper_html: {class: 'col s12'} %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              </div>

              <% if resource.public? %>
                  <div class="row">
                    <%= f.input :company_name, label: 'Company Name', required: true, wrapper_html: {class: 'col s12'} %>
                  </div>
              <% end %>

              <div class="row">
                <%= f.input :phone_number,
                            label: 'Phone Number',
                            input_html: {value: phony_formatted(f.object.phone_number)},
                            wrapper_html: {class: 'col s12'} %>
              </div>

              <% unless current_user.public? %>
                <div class="row">
                  <%= f.input :title, label: 'Title', autofocus: true, wrapper_html: {class: 'col s12'} %>
                </div>
              <% end %>
              <div class="row">
                <%= f.input :subscription_opt, as: :boolean, boolean_style: :inline, label: ' Subscribe to mailing list', input_html: {class: 'Isinventory'}, wrapper_html: {class: 'col s12'}, label_html: {class: 'cb1'} %>
              </div>
            </div>
          </div>
          <div class="form-actions margin-btm-lg">
            <%= f.button :button, 'Update' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
      <% end %>
    </div>
  </div>
</div>
