<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <h1 class="card-panel-heading">Join</h1>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs row separator-row">
            <div class="col s12 m6 form-col">

              <div class="row">
                <%= f.input :first_name, label: 'First Name', required: true, autofocus: true, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :last_name, label: 'Last Name', required: true, wrapper_html: {class: 'col s12'} %>
              </div>


              <div class="row">
                <%= f.input :password, label: 'Password', required: true, hint: ("#{@minimum_password_length} Characters Minimum" if @minimum_password_length), wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :password_confirmation, label: 'Password Confirmation', required: true, wrapper_html: {class: 'col s12'} %>
              </div>
            </div>

            <div class="col s12 m6 form-col">
              <div class="row">
                <%= f.input :email, label: 'Email', required: true, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :company_name, label: 'Company Name', required: true, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :phone_number,
                            label: 'Phone Number',
                            input_html: {value: phony_formatted(f.object.phone_number)},
                            wrapper_html: {class: 'col s12'} %>
              </div>
              <div class="row">
                <%= f.input :terms_of_service, label: ("Accept #{link_to 'Terms of Service', terms_path}").html_safe, required: true, as: :boolean, boolean_style: :inline, wrapper_html: {class: 'col s12'} %>
              </div>
            </div>
          </div>

          <div class="form-actions margin-btm-lg">
            <%= f.button :button, 'Join' %>
            <%= link_to 'Cancel', root_path, class: 'waves-effect waves-light btn' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
          <%= render partial: 'shared/terms_of_service' %>
      <% end %>
    </div>
  </div>
</div>
