<div class="row center padding-top-50 padding-bottom-25">
  <a id="logo-container" href="/" class="brand-logo">
    <%= image_tag "Logo_Vertical.png", class: 'sign-in-logo' %>
  </a>
</div>
<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <h1 class="card-panel-heading h1">Join The Marketplace</h1><span style="float:right; margin-top: -45px;"><%= link_to "Back", :back,  class: 'lk3' %></span>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs row separator-row">
            <div class="col s12 m6 form-col">

              <div class="row">
                <%= f.input :first_name, label: 'First Name', required: true, autofocus: true, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :last_name, label: 'Last Name', required: true, wrapper_html: {class: 'col s12'} %>
              </div>


              <div class="row">
                <%= f.input :password, label: 'Password', required: true, hint: ("#{@minimum_password_length} Characters Minimum" if @minimum_password_length), wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :password_confirmation, label: 'Password Confirmation', required: true, wrapper_html: {class: 'col s12'} %>
              </div>
            </div>

            <div class="col s12 m6 form-col">
              <div class="row">
                <%= f.input :email, label: 'Email', required: true, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :company_name, label: 'Company Name', required: true, wrapper_html: {class: 'col s12'} %>
              </div>

              <div class="row">
                <%= f.input :phone_number,
                            label: 'Phone Number',
                            input_html: {value: phony_formatted(f.object.phone_number)},
                            wrapper_html: {class: 'col s12'} %>
              </div>
              <div class="row">
                <%= f.input :terms_of_service, label: ("#{link_to 'Accept Terms of Service', '#', id: 'tos_link'}").html_safe, required: true, as: :boolean, boolean_style: :inline, wrapper_html: {class: 'col s12'} %>
              </div>
              <%= render partial: 'shared/terms_of_service', locals: {f: f} %>
            </div>
          </div>

          <div class="form-actions margin-btm-lg">
            <%= link_to 'Cancel', root_path, class: 'waves-effect waves-light btn but2' %>
            <%= f.button :button, 'Join', class: 'but1' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
      <% end %>
    </div>
  </div>
</div>
