@import "../variables";

.dhx_cal_light {
  .dhx_cal_lsection {
    font-size: 13px;
  }

  .dhx_multi_select_users {
    padding: 2px 0 2px 10px;
    label {
      padding-right: 15px;
    }
  }

  .dhx_btn_set {
    border: none;
    border-radius: 2px;
    display: inline-block;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    text-decoration: none;
    color: #fff;
    background-color: #3B98DF;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;

    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 20px;
    font-family: $base-font !important;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    @media only screen and (orientation:portrait) and (max-device-width: 455px){
      padding-left: 0em;
      padding-right: 0em;
      margin-left: 7px;
    }
  }


  .dhx_btn_set div {
    font-family: $base-font !important;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
  }

  .dhx_btn_set.dhx_cancel_btn_set {
    background-color: #FFFFFF !important;
    color: #646464;
  }
}

#events-index {
  .dhx_cal_event .dhx_body, .dhx_cal_event .dhx_footer, .dhx_cal_event .dhx_header, .dhx_cal_event .dhx_title {
    background-color: #3B98DF;
  }
}

#bs_scheduler {
  table {
    width: auto;
    td {
      padding: 0;
    }
  }
}

#events-index {
  .dhtmlx_modal_box {
    width: 500px !important;
    z-index: 1800;
  }
  div.dhx_modal_cover {
    z-index: 1700 ;
  }
  .select2-container {
    width: 100% !important;
  }

  #sidenav-overlay {
    z-index: 997;
  }

  .dhx_form_repeat {
    .select2-container {
      width: auto !important;
      min-width: 90px;
      margin-left: 5px;
      margin-right: 5px;
      .select2-selection--single {
        height: 22px;
      }
    }

    .select2-container--default .select2-results__option {
      font-size: 11px;
      line-height: 11px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 11px;
      line-height: 22px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 22px;
    }
  }
}

.dhx_cal_navline .dhx_cal_date,  .dhx_cal_today_button, .dhx_cal_container, .dhx_cal_tab, .dhx_scale_bar{
    font-family: $base-font !important;
}
.dhx_now .dhx_month_body, .dhx_now .dhx_month_head
{
    font-family: $base-font !important;
  background-color: #dadbd9 !important;
}
.dhx_title{
    font-family: $base-font !important;
    color: $darker-gray !important;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: left !important;
  padding-left: 5px !important;
  padding-top: 5px !important;
}


.dhtmlx_popup_controls
{
  float: right;
}
.dhtmlx_cancel_button{
    font-size: 16px !important;
  font-weight: 500;
  color: $primary !important;
  font-family: $base-font-medium;
}
.dhtmlx_popup_button.dhtmlx_ok_button div
{
    color: #fff !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-family: Helvetica Neue - Medium;
  background-color: $primary !important;
  border: 2px solid $primary !important;
  &:hover {
    background-color: $primary !important;
  }
}
.dhtmlx_popup_text
{
    text-align: left;
  color: $darker-gray !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}
.dhx_scale_holder_now{
  background-color: #dadbd9 !important;
}
.dhx_cal_event_line_end{
  font-family: $base-font !important;
  background: white !important;
    color: $darker-gray !important;
  font-size: 12px !important;
}
.dhx_body
{
    font-family: $base-font !important;
  text-align: left !important;
  padding-left: 5px !important;
  padding-top: 5px !important;
  font-weight: normal !important;
    color: $darker-gray !important;
  font-size: 12px !important;

}



.dhx_cal_ltitle, .dhx_cal_ltitle span{
  color: $darker-gray !important;
  font-size: 18px !important;
  font-family: $base-font !important;
}

.dhx_cal_ltitle .dhx_title{
  margin-top: -5px;
  padding-left: 10px !important;
}

.dhx_cal_larea label, .dhx_cal_radio label
{
    color: $darker-gray !important;
  font-size: $fs-mn;
  font-family: $base-font;
}
.dhx_cal_ltext textarea
{
  font-size: 14px !important;
}



.dhx_cal_radio
{
  [type="radio"] + label {
    padding: 0 20px 0 5px;
  }
   [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      width: 10px;
      height: 10px;
      top: 4px;
      left: 4px;
    }
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 8px;
      height: 8px;
      border: 0px;
      position: absolute;
      background-color: $primary;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      border: 0px;
      background-color: $primary;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  label.active, .input-field label.boolean {
     color: $darker-gray;
     font-size: $fs-mn;
  }
}

.dhx_form_repeat
{
  [type="radio"] + label {
    padding: 0 20px 0 5px;
  }
   [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      border: 0px;
      position: absolute;
      background-color: $primary;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      border: 0px;
      background-color: $primary;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  label.active, .input-field label.boolean {
     color: $darker-gray;
     font-size: $fs-mn;
  }
}

option:checked, option:hover {
    color: white;
    background: #488f8f;
}

.dhx_repeat_center {
 padding-top: 5px !important;
}

@media only screen
and (min-width : 1224px) {

.dhx_cal_light_rec.dhx_cal_light_wide, .dhx_cal_light_rec.dhx_cal_light_wide .dhx_cal_larea
{
  /*width: 830px !important;*/
  margin-left: 0;
}
.dhx_repeat_days label{
    color: $darker-gray !important;
  font-size: 12px !important;
}
.dhx_save_btn_set, .dhx_cancel_btn_set
{
  background-color: white !important;
  color: $darker-primary !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.dhx_delete_btn_set
{
  color: #fff !important;
  font-size: 16px !important;
  background-color: $primary !important;
  &:hover {
    background-color: $primary !important;
  }
}
/*.dhx_cal_light select{
  color: $primary !important;
}*/

}


@media only screen
   and (min-device-width : 768px)
   and (max-device-width : 1024px) {
    .dhx_repeat_days label{
        color: $darker-gray !important;
    }
    .dhx_save_btn_set, .dhx_cancel_btn_set
    {
      background-color: white !important;
      color: $darker-primary !important;
      font-weight: 500 !important;
    }
    .dhx_delete_btn_set
    {
      color: #fff !important;
      background-color: $primary !important;
      &:hover {
        background-color: $primary !important;
      }
    }
  .dhx_repeat_left {
      width: 90px !important;
  }
}


@media only screen and (min-width: 601px)
{
  .navbar-fixed {
      height: 50px !important;
  }
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 50px !important;
      line-height: 50px !important;
  }
}
