<%= render partial: 'shared/filterable_assets_index',
  locals: { clear_filters_path: favorites_path, title: 'Favorites', fab_model: Asset, show_selection_cell: false, show_tabs: false,
              assign_tracking_code: @assign_tracking_code, 
              tracking_code: @tracking_code  } %>

<script>
  var markers = <%= raw @markers.to_json %>;
</script>
