{
  "status": "ok",
  "html": "<%= escape_javascript(render partial: 'shared/versions.html', locals: {versions: @versions }) %>",
  "chart": <%= @chart.to_json.html_safe %>,
  "series": <%= @series.to_json.html_safe %>,
  "geoData": <%= @geo_data.to_json.html_safe %>,
  "csvData": <%= @csvData.to_json.html_safe %>
}
