<ul>

  <%- if devise_mapping.registerable? && ['registrations', 'sessions'].exclude?(controller_name) %>
      <li><%= link_to 'Join', new_registration_path(resource_name), class: 'lk3' %></li>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <li><%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'lk3' %></li>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' && !user_signed_in? %>
      <li><%= link_to 'Didn\'t receive confirmation instructions?', new_confirmation_path(resource_name), class: 'lk3' %></li>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <li><%= link_to 'Didn\'t receive unlock instructions?', new_unlock_path(resource_name) %></li>
  <% end -%>

  <%- if controller_name == 'registrations' && action_name == 'edit' && can?(:destroy, current_user) %>
      <li><%= link_to 'Cancel Account', registration_path(current_user), data: {confirm: 'Are you sure?'}, method: :delete %></li>
  <% end -%>
</ul>
