<div class="row hide-on-med-and-down v-h-align ie-center">
<div style="align-self: center">
  <div class="col s12 m7 l6">
    <%= link_to marketplace_path do %>
      <div style="vertical-align: middle;" class="join-market2 content-text-white-med v-h-align"><span style="align-self: center">EXPLORE THE MARKETPLACE</span></div>
    <%end%>
  </div>
  <div class="hide-on-med-and-up">
    <br /><br /><br />
  </div>
  <div class="col s12 m5 l5">
    <%= link_to new_user_session_path do %>
      <div class="join-market content-text-white-med"><span style="vertical-align: middle;" class="btn-large">JOIN THE MARKETPLACE</span></div>
        <div class="col l2 m2 s2">&nbsp</div>
        <div class="col l10 m9 s7">
          <span class="tiny-text-center-white right">IT'S FREE AND EASY</span></div>
    <%end%>
  </div>
  </div>
</div>
