<div class="row flex-s padding-top-50">
  <div class="col s12 m12 l6 padding-0 img-order-2"> <%= image_tag 'homepage/marketplace_screenshot.jpg'%></div>
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5 padding-top-50">
      <span class="title-text">SELL OR RENT WHAT YOU DON'T NEED</span><br /><br />
      <span class="content-text-white">The Tenna Marketplace seamlessly integrates with our asset management platform, so you can sell what you don't need or rent it out temporarily.
    </span><br /><br />
      <span class="title-text">GET ACCESS TO WHAT YOU DO NEED</span><br /><br />
      <span class="content-text-white">You can also buy or rent inventory from other Tenna members. You could find what you need, where you need it and when you need it, and at an attractive price.
    </span>
    </div>
    <div class="col l2"></div>
  </div>
</div>
