<div class="row padding-top-100">
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5">
      <span class="title-text-big-blue">The Marketplace</span><br /><br />
      <span class="content-text-gray">Put your excess or underutilized assets to work for you. The Tenna Marketplace seamlessly integrates with our asset management platform, so you can sell or rent any inventory you don't need.<br /><br />You can also buy or rent inventory from other Tenna members. Easily find what you need, where you need it and when you need it - and at an attractive price.</span><br />
    </div>
    <div class="col l2"></div>
  </div>
  <div class="col s12 m12 l6 hide-on-med-and-down">
    <div class="row padding-top-100 left" style="width: 85%">
      <div class="left">
        <div class="col s12 m7 l7">
        <%= link_to marketplace_path do %>
            <div style="vertical-align: middle;" class="join-market2 content-text-black-med v-h-align"><span style="align-self: center">EXPLORE THE MARKETPLACE</span></div>
        <%end%>
          </div>
        <div class="hide-on-med-and-up">
          <br /><br /><br />
        </div>
        <div class="col s12 m5 l5">
          <%= link_to new_user_session_path do %>
              <div class="join-market content-text-black-med"><span style="vertical-align: middle;" class="btn-large">JOIN THE MARKETPLACE</span></div>
              <div class="row center" style="width: 230px;">
                <div class="col l12">
                  <span class="tiny-text-center">IT'S FREE AND EASY</span></div>
              </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row padding-top-20 center">
  <%= image_tag 'homepage/marketplace_devices.png', style: 'width: 1000px'%>
</div>
