<div class="row">
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5 padding-top-100">
      <span class="title-text"><span style="color: #009BEE">TWO WAYS</span> TO BE A PART OF THE TENNA MARKETPLACE</span><br /><br />
      <span class="content-text-white "><span style="color: #009BEE">1.</span> Tenna Asset Management clients are automatically in the Marketplace and can seamlessly move their underutilized assets to market.</span><br /><br />
      <span class="content-text-white "><span style="color: #009BEE">2.</span> Non-Asset Management clients are invited to become Marketplace members. It's free and as members you can list assets to rent or sell, and buy from each other. We invite you to explore the Marketplace.</span>
    </div>
    <div class="col l2"></div>
  </div>
  <div class="col s12 m12 l6 padding-0 padding-top-50"> <%= image_tag 'homepage/two_ways-min.jpg'%></div>
</div>
