<div>
<p>Hi <%= @name %>,</p>
<% if @cond.cond_type == "service" %>
<p><%= @gauge.name %> for <%= link_to @asset.title, asset_path(@asset)  %> requires service.</p>
<% else %>
<p><%= @gauge.name %> for <%= link_to @asset.title, asset_path(@asset)  %> triggered <%= @cond.servere_str %> alert at <%= @date_time %></p>
<% end %>
<br>
<p><%= @message %></p>
<br>
<% if @cond.cond_type == "service" %>
<%= link_to "Schedule maintenance", event_asset_path(@asset) %>
<% end %>
<br>
Company: <%= @asset.company.name %><br>
Asset: <%= @asset.title %><br>
S/N: <%= @asset.asset_num %><br>
Date: <%= @date_time %><br>
Location: <%=  @asset.get_address_by_lat_lng %><br>
Site: <%=  asset_project(@asset) %><br>
Fault Code: <br>
Fault Description: <br>
<br>
Notes: <%= @notes %>
<br>
--Tenna
</div>
