<div>
<p>Hi <%= @name %>,</p>
<%= @message%> at <%= @date_time%>
<br>
Company: <%= @asset.company.name %><br>
Asset: <%= @asset.title %><br>
S/N: <%= @asset.asset_num %><br>
Date: <%= @date_time %><br>
Location: <%=  @asset.get_address_by_lat_lng %><br>
Site: <%=  asset_project(@asset) %><br>

<br>
--Tenna
</div>
