<div>
  <p>Hi,</p>
  <p>This is an live data notification.</p>
  <hr>
  
  Type: <%= @notification[:type] %><br>
  Serverity: <%= @notification[:severity] %><br>
  Message: <%= @notification[:value] %><br>
  <br>

  Notes: <%= @notes %>
  <br>

  Asset Details:<br>
  <%= link_to asset_url(@asset), asset_url(@asset) %>
  <br><br>
  --Tenna, LLC
</div>
