<%= simple_form_for @wanted_asset.becomes(WantedAsset), url: (@wanted_asset.new_record? ? wanted_assets_url : wanted_asset_url(@wanted_asset)),
                    html: {class: "type-#{@wanted_asset.type.downcase}", multipart: true, data: {"data-parsley-validate": ""}} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row separator-row">
    <div class="col m6 s12 form-col">
      <% if @projects.available.present? %>
        <%= content_tag :div, class: "row projects", data: {zips: @project_zips} do %>
          <label class="project-req cb1">Select Site<abbr title="required">* </abbr></label>
          <%= f.association :project, collection: @projects.available, include_blank: (@wanted_asset.new_record?) ? 'Select Site' : false,
                            required: current_user.private?, wrapper_html: {class: 'col s12 select-project', style: "margin-top: 0px;"},
                            input_html: {data: {"parsley-error-message": "Please select a project." }, class: 'select2'} %>
          <% end %>
      <% end %>

      <div class="row ip5">
        <%= f.input :needed_on, as: :material_date, label: 'Needed By', wrapper_html: {class: 'col s12 wanted-asset-needed-on'},  required:true, input_html: {data: {"parsley-error-message": "Can't be blank." }}%>
      </div>

      <div class="row">
        <%= f.association :contact, collection: @users, include_blank: false, wrapper_html: {class: 'col s12 select-users ddlcategory'}, selected: @wanted_asset.contact_id || current_user.id , label_html: {class: 'cb1'},input_html: {class: 'select2'}, required: :true%>
      </div>

      <div class="row">
        <%= f.input :location_zip,
                    label: 'Location Zip / Postal Code',
                    wrapper_html: {class: 'col s12 ip1'} %>
      </div>
      <div class="wanted-asset-country-dv">
        <label class="cb1">Select Country<abbr title="required">* </abbr></label>
        <%=f.select :country_name, ZipCode.country_lists,{prompt: "Select country"}, {id: "wanted_asset_country", :class => 'browser-default select2' , required: true}%>
      </div>
    </div>

    <div class="col m6 s12 form-col">
      <div class="row">
        <%= f.input :title, wrapper_html: {class: 'col s12 ip1'}, required:true %>
      </div>

      <div class="row">
        <%= f.input :type, as: :radio_buttons, boolean_style: :inline, label: false, collection: WantedAsset::TYPES, input_html: {class: 'with-gap'}, wrapper_html: {class: 'col s12'} %>
      </div>
      <label style="font-size: 14px;">Priority</label>
      <div class="row">
        <%= f.input :priority, as: :radio_buttons, boolean_style: :inline, label: false, collection: WantedAsset::PROIRITIES, input_html: {class: 'with-gap'}, wrapper_html: {class: 'col s12'}%>
      </div>

      <div class="row">
        <%= f.input :description, as: :material_text, wrapper_html: {class: 'ip1 col s12'} %>
      </div>

      <div class="row">
        <label class="project-req cb1">Category<abbr title="required">* </abbr></label>
        <% grouped_options = CategoryGroup.all.map{ |group_category| [group_category.name, group_category.categories] } %>
        <%= f.association :category, :as => :grouped_select, collection: grouped_options, :group_method => :last, include_blank: 'Select Category...', label: false, input_html: {class: 'select2'}, wrapper_html: {class: 'col s12 select-project asset-site-dropdown'} %>
      </div>
    </div>
  </div>
  <div class="form-actions-wanted">
    <a class="waves-effect waves-light btn white txtOrange but2" href="/wanted">Cancel</a>
    <%= f.button :button , data: {disable_with: 'Processing…'}, class: "btnapply-filter but1" %>
  </div>
<% end %>
