
<% if @wanted_assets.size > 0 %>
    <%= render partial: 'wanted_assets/wanted_asset', collection: @wanted_assets %>
<% else %>
    <p>No Wanted Assets Found</p>
<% end %>

<% if (@wanted_assets.respond_to? :total_pages) && @wanted_assets.total_pages > 1 %>
  <tr>
    <td colspan="2">
      <%= paginate @wanted_assets %>
    </td>
  </tr>
<% end %>
