<div id="increment-reallocation-modal" class="modal">
  <div class="modal-content">
    <h4>Is this a reallocation?</h4>

    <p>Reallocating helps track assets that are more valuable.</p>
    <%= f.input :increment_reallocation_count,
      as: :hidden,
      disabled: wanted_asset.new_record?,
      input_html: {class: 'increment-reallocation'} %>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat select-increment-reallocation">Yes</a>
    <a href="#!" class="modal-action modal-close waves-effect btn-flat select-increment-reallocation">No</a>
  </div>
</div>

