<div id="not_subscribed">
  <div class="row">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <div class="row">
        <div class="col s12 m12 l12">
        <span class="title-text-big-orange">
          Tenna’s Want It is a Premium service...
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text">
          The Tenna <span style="color: #fd4f00;">Want It</span> feature lets you request for assets that are needed for a job site. This gives you the ability to quickly acquire assets from other companies without going through the hassle of a searching a retail store.
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text contact-text">
          <div>Contact us if you wish to subscribe.</div>
          <div id="mail-div"><%= mail_to 'support@tenna.com' %></div>
          <div>844.502.8453</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l9">
      <div class="row v-h-align center ie-center">
        <div class="not-subscribed-want-it-image not-subscribed-img-generic-css v-h-align" style="align-self: center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
