<tr id="<%= dom_id wanted_asset.becomes(WantedAsset)%>" >
  <td class="selection-cell cell-check">
    <%= check_box_tag "asset-selected-#{wanted_asset.id}", nil, false, class: 'filled-in', data: {id: wanted_asset.id} %>
    <%= content_tag :label, nil, for: "asset-selected-#{wanted_asset.id}" %>
  </td>
  <td>
    <%= link_to edit_wanted_asset_path(wanted_asset), onClick: "ga('send', 'Internal Link', '#{wanted_asset}');".html_safe do %>
      <p class="title h2"><%= wanted_asset.title %></p>
      <% if wanted_asset.category.present? %>
        <p class="category b1"><%= wanted_asset.category.name %></p>
      <% end %>
      <p class="description b1"><%= wanted_asset.description %></p>
      <% if wanted_asset.project.present? %>
        <p class="project subh1"><%= wanted_asset.project.name %></p>
      <% end %>
      <% if wanted_asset.fulfilled_date? %>
        <p class="fulfilled-date subh2">Fulfilled: <%= wanted_asset.fulfilled_date.strftime("%m/%d/%Y at %I:%M %P") %> </p>
      <% end %>
      <p class="available_on subh2">Needed By: <%= format_date_or_today(wanted_asset.needed_on) %></p>
      <% if wanted_asset.contact.present? %>
        <p class="name subh1"><%= wanted_asset.contact.name %></p>
        <p class="email lk3"><%= wanted_asset.contact.email %></p>
        <p class="phone"><%= wanted_asset.contact.phone_number %></p>
        <% if wanted_asset.priority.present?%>
          <p class="priority priority_left <%= wanted_asset.priority.downcase%>-clr"><%= wanted_asset.priority[0]%></p>
        <%end%>
      <% end %>
      <% if wanted_asset.status.present? %>
        <p class="status <%= wanted_asset.state %> b2"><%= wanted_asset.state %> </p>
      <% end %>
    <% end %>
  </td>
</tr>
