<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading h1">Edit <%= @wanted_asset.title %></h1>
        <%= link_to 'Cancel', wanted_assets_path(@wanted_asset) %>
      </div>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>

<%= fab @wanted_asset %>
