<%if @company_wantit_subscription%>
  <%= render partial: 'shared/search' %>
  <div class="row">
    <div id="filters" class="col s12 m12 l4">
      <div class="card-panel">
        <div class="header-link">
          <h1 class="card-panel-heading h1">Filters</h1>
        </div>
        <%= simple_form_for(@filter_search, url: '', method: :get) do |f| %>
            <%= f.input :sort, as: :hidden %>
            <%= f.input :query, as: :hidden %>
            <div class="row">
              <%= f.input :my_wanted, as: :boolean, boolean_style: :inline, label: 'My Wanted Posts', label_html: {class: 'cb1'}, wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in cb1'} %>
            </div>
            <div class="row">
              <%= f.input :fulfilled, as: :boolean, boolean_style: :inline, label: 'Fulfilled', label_html: {class: 'cb1'}, wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'} %>
            </div>
          <label class="cb1">Priority</label>
          <div class="row prior-row">
            <div class="col s4">
              <%= f.input :high, as: :boolean, boolean_style: :inline, label: 'High', label_html: {class: 'cb1'}, wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'} %>
            </div>
            <div class="col s4">
              <%= f.input :medium, as: :boolean, boolean_style: :inline, label: 'Medium', label_html: {class: 'cb1'}, wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'} %>
            </div>
            <div class="col s4">
              <%= f.input :low, as: :boolean, boolean_style: :inline, label: 'Low', label_html: {class: 'cb1'}, wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'} %>
            </div>
          </div>
          <div class="row category-filters">
            <% grouped_options = CategoryGroup.all.map{ |group_category| [group_category.name, group_category.categories] } %>
            <%= f.input :category, :as => :grouped_select, collection: grouped_options, :group_method => :last, include_blank: 'All categories',label: false, input_html: {class: 'select2 selected-set'}, wrapper_html: {class: 'col s12 select-project asset-site-dropdown'} %>
          </div>
          <div class="row category-filters">
            <%= f.input :project, collection: @projects.available, include_blank: 'All sites', label: 'Site', label_html: {class: 'cb1'}, wrapper_html: {class: 'col s12 all-projects'}, input_html: {class: 'select2'} %>
          </div>
            <div class="form-actions">
              <%= link_to 'Reset', wanted_assets_path, class: 'waves-effect waves-light btn white txtOrange but2' %>
              <%= f.button :button, 'Apply Filters', class: 'waves-effect waves-light btn but1 btnapply-filter' %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="col s12 m12 l8">
      <div class="card-panel" id="wanted-asset-panel">
        <div class="pb-mn">
          <div class="row mb-tn">
            <div class="col s12 m12 l12">
              <div class="h1">Wanted Posts</div>
            </div>
            <div class="col s12 ">
              <div class="filter-header">
              </div>
            </div>
          </div>
          <div class="row margin-bottom-0 mt-mn">
            <div class="col s6 m6 l4 ">
              <div class="action-filter-form-container inline-form">
                <div class="all-select-wrapper radio-btn">
                  <%= check_box_tag "asset-select-toggle", nil, false, class: 'filled-in' %>
                  <%= content_tag :label, nil, for: "asset-select-toggle" %>
                </div>
                <%= form_tag update_multiple_wanted_assets_path, class: 'action-filter-form wantedPost-from', method: :put do %>
                  <div class="select-wrapper">
                    <a class="dropdown-button dd1 txtaction-wanted" href="#" data-activates="action-dropdown" data-constrainwidth="false">
                      Actions
                      <span class="caret">▼</span>
                    </a>
                  </div>
                  <ul id="action-dropdown" class="dropdown-content">
                    <% wanted_assets_actions_for_user(current_user).each do |action| %>
                      <li><a class="assets-header-action" href="#" data-action="<%= action[1] %>"><%= action[0] %></a></li>
                    <% end %>
                  </ul>

                  <%= hidden_field_tag :asset_action %>
                  <%= hidden_field_tag :asset_ids %>
                  <%= hidden_field_tag :redirect_to, wanted_assets_path %>
                <% end %>
              </div>
            </div>
            <div class="col s6 m6 l8 right-align ">
              <div class="filter-list">
                <div class="show-box filter-item">
                  <%= render partial: 'shared/wanted_assets_sort_form' %>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <table id="table-assets" class="table">
          <%= render partial: 'wanted_assets/list' %>
          <%= render partial: 'shared/modal_select_asset_error' %>
        </table>
      </div>
    </div>
  </div>

  <%= fab WantedAsset %>
<%else%>
  <%= render partial: 'wanted_assets/not_subscribed.html' %>
<%end%>
