<ul class="collapsible projects-assets-list" data-collapsible="expandable">
  <% @path_finder_assets.each do |project_id, assets| %>
      <% next if project_id.nil? || !Project.exists?(project_id) %>
      <% project = Project.find(project_id) %>
      <li class="project-assets">
        <div class="project-header collapsible-header waypoint-wrapper">
          <div class="row">
            <div class="vertical-center col s12 m12 l12">
              <div class="left routing-project">
                <%= f.input "project[#{project.id}]", as: :boolean, boolean_style: :inline, input_html: { class: 'waypoint-chk filled-in' }, label_html: { class: 'collection_check_boxes' }, wrapper_html: { class: 'waypoint', data: { waypoint_type: 'project', waypoint_id: "#{project.id}" } } %>
              </div>
              <div class="left asset-data-retriever" data-project-id="<%= project_id %>">
                <div class="h2"><%= project.name %></div>
                <div class="b10"><%= project.description %></div>
                <div class="b9"><%= project.address.formatted_address.gsub(/(\\n)+/, ', ') %></div>
              </div>
              <div class="right asset-data-retriever" style="flex-grow: 1;" data-project-id="<%= project_id %>">
                <i class="material-icons right more report-info-i-more">expand_more</i>
              </div>
            </div>
          </div>
        </div>
        <div class="waypoint-options project-waypoint-options" id="project-waypoint-options-<%= project_id %>"></div>

        <div class="project collapsible-body" data-project-id="<%= project_id %>">
          <div class="project-content" id="project_<%= project_id %>_content"></div>
        </div>
      </li>
  <% end %>
</ul>
<input type="hidden" id="filter_search_params" value="<%= params[:filter_search].to_json %>"/>
