<ul class="collapsible projects-assets-list" data-collapsible="expandable">
  <% @path_finder_assets.each do |project_id, assets| %>
      <% next if project_id.nil? || !Project.exists?(project_id) %>
      <% project = Project.find(project_id) %>

      <% project_selected = @selected_project_ids.include?(project.id) %>
      <% project_expanded = @asset_project_ids.include?(project.id) %>

      <li class="project-assets <% 'active' if project_expanded %>">
        <div class="project-header collapsible-header waypoint-wrapper <%= 'options-open' if project_selected %> <%= 'active' if project_expanded %>">
          <div class="row">
            <div class="vertical-center col s12 m12 l12">
              <div class="left routing-project">
                <%= f.input "project[#{project.id}]", as: :boolean, boolean_style: :inline, label_html: { class: 'collection_check_boxes' }, input_html: { class: 'waypoint-chk filled-in', checked: project_selected ? true : false }, wrapper_html: { class: 'waypoint', data: { waypoint_type: 'project', waypoint_id: "#{project.id}" } } %>
              </div>
              <div class="left asset-data-retriever" data-project-id="<%= project_id %>">
                <div class="h2"><%= project.name %></div>
                <div class="b10"><%= project.description %></div>
                <div class="b9"><%= project.address.formatted_address.gsub(/(\\n)+/, ', ') %></div>
              </div>
              <div class="right asset-data-retriever" style="flex-grow: 1;" data-project-id="<%= project_id %>">
                <i class="material-icons right more report-info-i-more">expand_more</i>
              </div>
            </div>
          </div>
        </div>
        <div class="waypoint-options project-waypoint-options" id="project-waypoint-options-<%= project_id %>" <%= "style='display: block;' data-waypoint-expanded='true'".html_safe if project_selected %>>
          <% if project_selected %>
              <% selected_project = (@selected_projects.select {|p| p.waypoint_id == project_id}).first %>
              <%= render partial: 'waypoint_options',
                         locals: {
                             waypoint_id: project_id,
                             waypoint_type: 'project',
                             start_time: selected_project.begin_window,
                             end_time: selected_project.end_window,
                             vehicle_load: (selected_project.load || 0),
                             priority: selected_project.priority&.capitalize,
                             service_notes: selected_project.service_notes,
                             time_on_site: selected_project.time_on_site,
                             notify_customer: selected_project.notify_customer
                         }
              %>
          <% end %>
        </div>

        <div class="project collapsible-body" data-project-id="<%= project_id %>" data-assets-expanded="<%= project_expanded ? 'true' : 'false' %>" <%= "style='display: block;'".html_safe if project_expanded %>>
          <div style="width: 102%; margin: 0 -1%; border-bottom: 1px solid #ddd; height: 1px;">&nbsp;</div>
          <div class="project-content" id="project_<%= project_id %>_content">
            <% if project_expanded %>
                <%= render partial: 'edit_project_assets', locals: { assets: project_assets(project_id) } %>
            <% end %>
          </div>
        </div>
      </li>
  <% end %>
</ul>
<input type="hidden" id="filter_search_params" value="<%= params[:filter_search].to_json %>"/>
