<% assets.each_with_index do |asset, idx| %>
    <% asset_selected = @selected_asset_ids.include?(asset.id) %>
    <%= simple_fields_for :path_finder do |f| %>
        <div class="routing-asset waypoint-wrapper <%= 'options-open' if asset_selected %>">
          <div class="row routing-asset-header">
            <div class="col s12 m12 l12 vertical-center">
              <div class="left">
                <%= f.input "asset[#{asset.id}]", as: :boolean, boolean_style: :inline, input_html: { class: 'waypoint-chk', checked: asset_selected ? true : false }, wrapper_html: { class: 'waypoint', data: { waypoint_type: 'asset', waypoint_id: "#{asset.id}" } } %>
              </div>
              <div class="left">
                <%= photo_thumb(asset) %>
              </div>
              <div class="left">
                <div><b><%= asset.title %></b></div>
                <div><%= asset.description %></div>
                <div><%= Geocoder.search("#{asset.current_lat},#{asset.current_lng}").first.address.gsub(/(\\n)+/, ', ') if asset.current_lat.present? && asset.current_lng.present? %></div>
                <div><%= (asset.current_lat.present? && asset.current_lng.present?) ? "Long: #{asset.current_lat} Lat: #{asset.current_lng}" : "Zip: #{asset.location_zip}" %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="waypoint-options asset-waypoint-options" id="asset-waypoint-options-<%= asset.id %>" <%= "style='display: block;' data-waypoint-expanded='true'".html_safe if asset_selected %>>
          <% if asset_selected %>
              <% selected_asset = (@selected_assets.select {|p| p.waypoint_id == asset.id}).first %>
              <%= render partial: 'waypoint_options',
                         locals: {
                             waypoint_id: asset.id,
                             waypoint_type: 'asset',
                             start_time: selected_asset.begin_window,
                             end_time: selected_asset.end_window,
                             vehicle_load: (selected_asset.load || 0),
                             priority: selected_asset.priority&.capitalize,
                             service_notes: selected_asset.service_notes,
                             time_on_site: selected_asset.time_on_site,
                             notify_customer: selected_asset.notify_customer
                         }
              %>
          <% end %>
        </div>
    <% end %>

    <% if assets.size - 1 != idx %>
        <div style="width: 92%; margin: 0 auto; border-bottom: 1px solid #ddd; height: 1px;">&nbsp;</div>
    <% else %>
        <div style="width: 100%; margin: 0 auto; border-bottom: 1px solid #ddd; height: 1px;">&nbsp;</div>
    <% end %>
<% end %>
