<div class="header-link">
  <div class="filter-header h1">Filters</div>
</div>

<%= simple_form_for(@filter_search, url: '', method: :get, data: { "data-parsley-validate": "" }) do |f| %>
    <div id="additional-options-content" style="margin-bottom: 10px;">
      <div class="" id="additional-options-filters">
        <% if controller_name != 'marketplace' and controller_name != 'groups' and current_user.present? and current_user.company.present? %>
            <div class="non-material-fields">
              <div class="row">
                <%= f.input :project,
                            collection: current_user.company.projects.order(:name).pluck(:name, :id),
                            label: 'Sites',
                            include_blank: 'Any Site',
                            wrapper_html: { class: 'col s12' },
                            label_html: { class: 'cb1' },
                            disabled: (action_name == 'edit' ? true : false),
                            input_html: { class: 'select2' } %>
              </div>
            </div>
        <% end %>

      <div class="row">
        <%= f.input "distance_miles",
                    as: :select,
                    collection: %w(Exact 5 10 25 50 100 250),
                    input_html: {class: "select2"},
                    label: 'Within Miles',
                    label_html: { class: 'cb1' },
                    disabled: (action_name == 'edit' ? true : false),
                    input_html: { class: 'select2'},
                    wrapper_html: {class: 'col s4'} %>

        <%= f.input "distance_zip", label: 'Zip Code / Postal Code',
                    label_html: {
                      class: 'cb1'
                    },
                    input_html: { data: {
                                      "parsley-remote-validator": "zipcode",
                                      "parsley-remote": "",
                                      "parsley-error-message": "Enter valid zipcode with comma seperated country name/code."
                                  },
                                  class: "ip1"
                    },
                    #disabled: (action_name == 'edit' ? true : false),
                    wrapper_html: {class: 'col s8 b1'} %>
      </div>

        <div class="row">
          <%= f.input :favorites,
                      as: :boolean,
                      boolean_style: :inline,
                      label: 'Favorite',
                      input_html: { class: 'filled-in' },
                      label_html: { class: 'cb1' },
                      disabled: (action_name == 'edit' ? true : false),
                      wrapper_html: { class: 'col s12' } %>
        </div>
      </div>
    </div>

    <% if action_name != 'edit' %>
        <div class="form-actions">
          <%= link_to 'Reset', clear_filters_path, class: 'waves-effect waves-light btn white but2 c-primary' %>
          <%= f.button :button, 'Apply Filters', class: 'primary but1' %>
        </div>
    <% else %>
        <div style="color: red;">Filtering is disabled when editing routes.</div>
    <% end %>
<% end %>
