<div class="header-link">
  <h1 class="card-panel-heading">Filters</h1>
</div>

<div>
  <%= simple_form_for :route_history, method: :post, url: route_history_search_path_finder_index_path, remote: true, data: {'data-parsley-validate': ''} do |f| %>
      <div class="form-inputs row">
        <div class="col s12 fo rm-col">
          <div class="row">
            <%= f.input :driver, collection: @company.users.sort_by(&:name), include_blank: 'Any Driver', label: 'Driver', label_html: {class: 'active optional'}, wrapper_html: {class: 'col s12'}, input_html: {class: 'select2'} %>
          </div>
          <div class="row">
            <%= f.input :project, collection: @company.projects.order(:name).pluck(:name, :id), label: 'Site', label_html: {class: 'active optional'}, include_blank: 'Any Site', wrapper_html: {class: 'col s12'}, input_html: {class: 'select2'} %>
          </div>
          <div class="row">
            <%= f.input :from_date, as: :material_date, label: 'From', label_html: {class: 'optional active ip1'}, wrapper_html: {class: 'col s12', id: 'route_history_start_date'} %>
          </div>
          <div class="row">
            <%= f.input :to_date, as: :material_date, label: 'To', label_html: {class: 'optional active ip1'}, wrapper_html: {class: 'col s12', id: 'route_history_end_date'} %>
          </div>

          <%= f.hidden_field :page, value: 1 %>

          <div class="form-actions">
            <%= link_to 'Reset', '#', id: 'reset_manage_route_filters', class: 'waves-effect waves-light btn white but2 c-primary' %>
            <%= f.button :button, 'Apply Filters', id: 'apply_path_finder_filters', class: 'but1 primary', onclick: "$('#route_preview').fadeOut(250, function () { $('#route_history_results_preview.tabs').tabs('select_tab', 'route_history_results'); });" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
