<div id="notification_modal" class="modal">
  <div class="modal-content">
    <h4 class="card-panel-heading">
      Enter Details for Recipient(s)
      <!--  -->
    </h4>
    <form action="#" id="send_route_form">
      <%= hidden_field_tag 'recurring_route_id', @route_recurring.id %>

      <div class="vertical-center mb-sm">
        <%= check_box_tag 'driver_notification_check', 'notify_driver', true, class: 'filled-in' %>
        <label for="driver_notification_check" class="cb1">Send to <%= @route_recurring.route.user.name %></label>
      </div>

      <div class="vertical-center mb-sm">
        <%= check_box_tag 'other_notification_check', 'notify_other', false, class: 'filled-in' %>
        <label for="other_notification_check">&nbsp</label>

        <div class="row other-notification-details">
          <div class="col s12 m6 l6">
            <%= email_field_tag 'notify_email', '', class: 'left validate', disabled: 'disabled', placeholder: 'Email', 'data-error': 'Invalid email' %>
          </div>
          <div class="col s12 m6 l6">
            <%= text_field_tag 'notify_phone', '', class: 'left', disabled: 'disabled', placeholder: 'Phone number' %>
          </div>
        </div>
      </div>

      <div style="display: none;" id="other_notification_error">Please enter valid email or phone number.</div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" id="send_notification_submit" class="modal-action modal-close waves-effect waves-green btn but1 primary">Send</a>
    <a href="#!" id="cancel_send_route_2" class="modal-action modal-close waves-effect waves-green btn white but2 c-primary mr-md">Cancel</a>
  </div>
  <div id="send_button_error" class="float-right padding-10" style="color: red; display: none;">Please select at least one recipient.</div>
</div>
