<% assets.each_with_index do |asset, idx| %>
    <%= simple_fields_for :path_finder do |f| %>
        <div class="routing-asset waypoint-wrapper">
          <div class="routing-asset-header">
            <div class="vertical-center">
              <div class="left">
                <%= f.input "asset[#{asset.id}]", as: :boolean, boolean_style: :inline, label_html: { class: 'collection_check_boxes' }, input_html: { class: 'waypoint-chk filled-in' }, wrapper_html: {class: 'waypoint', data: {waypoint_type: 'asset', waypoint_id: "#{asset.id}"}} %>
              </div>
              <div class="left mr-sm">
                <%= photo_thumb(asset) %>
              </div>
              <div class="left">
                <div class="h2"><%= asset.title %></div>
                <div class="b10"><%= asset.description %></div>
                <div class="b6"><%= Geocoder.search("#{asset.current_lat},#{asset.current_lng}").first.address.gsub(/(\\n)+/, ', ') if asset.current_lat.present? && asset.current_lng.present? %></div>
                <div class="b6"><%= (asset.current_lat.present? && asset.current_lng.present?) ? "Long: #{asset.current_lat} Lat: #{asset.current_lng}" : "Zip: #{asset.location_zip}" %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="waypoint-options asset-waypoint-options" id="asset-waypoint-options-<%= asset.id %>"></div>
    <% end %>

<% end %>
