<div class="row">
  <div id="filters" class="col s12 m12 l4">
    <div class="card-panel">
      <%= render partial: 'filters', locals: {clear_filters_path: @clear_filters_path} %>
    </div>
  </div>

  <div class="col s12 m12 l8">
    <%= yield %>

    <%= simple_form_for :path_finder, method: :post, remote: true, html: {id: 'path_finder_form'}, data: {type: 'json'} do |f| %>
        <div id="users_panel" class="card-panel">
          <div class="filter-header h1">Select Drivers</div>
          <div class="input-field user-search-filter">
            <input type="text" id="user_filter">
            <label for="user_filter" id="user_filter_label" class="hide-on-small-and-down ip1">Select Driver (Smart type - drivers below disappear as you type)</label>
            <label for="user_filter" id="user_filter_label" class="hide-on-med-and-up ip1">Select Driver (Smart type)</label>
          </div>
          <div class="users-table">
            <%= render partial: 'path_finder/users', locals: {f: f} %>
          </div>

          <div id="driver_options_driver_id" class="driver-options driver-options-placeholder">
            <div>
              <div class="filter-header h2">Driver Options for driver_name</div>
              <div class="input-field">
                <%= text_field_tag "user_options[driver_id][name]", "driver_name's Route" %>
                <label for="user_options_driver_id_name">Route Name</label>
              </div>
              <div class="input-field">
                <%= text_field_tag "user_options[driver_id][start_location]", @company.address.formatted_address.gsub(/(\n)+/, ', ').gsub(/(\\n)+/, ', ') %>
                <label for="user_options_driver_id_start_location">Start Location</label>
              </div>
              <div class="input-field">
                <%= text_field_tag "user_options[driver_id][end_location]", @company.address.formatted_address.gsub(/(\n)+/, ', ').gsub(/(\\n)+/, ', ') %>
                <label for="user_options_driver_id_end_location">End Location</label>
              </div>
              <div class="input-field">
                <%= number_field_tag "user_options[driver_id][capacity]", nil, onkeypress: "return event.charCode >= 48", min: 0 %>
                <label for="user_options_driver_id_capacity">Capacity of Vehicle</label>
              </div>
              <div class="row">
                <div class="col l6 s12">
                  <%= text_field_tag "user_options[driver_id][start_time]", '08:00:00', :required => true, :class => 'timepicker' %>
                  <label for="user_options_driver_id_start_time">Start Time</label>
                </div>
                <div class="col l6 s12">
                  <%= text_field_tag "user_options[driver_id][end_time]", '10:00:00', :required => true, :class => 'timepicker' %>
                  <label for="user_options_driver_id_end_time">End Time</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% if @path_finder_assets.present? %>
          <div class="form-actions" style="margin-top: 20px;">
            <%= link_to 'Reset', url_for(params), class: 'waves-effect waves-light btn white but2 c-primary' %>
            <div class="hide-on-med-and-up">&nbsp;</div>
            <%= f.button :button, 'Create Route', class: 'primary but1' %>
          </div>

          <div id="panel-list" class="card-panel">
            <div class="filter-header h1">Select Route Stops</div>
            <table id="table-assets" class="table">
              <%= render partial: 'assets', locals: {f: f} %>
            </table>
          </div>

          <div class="form-actions">
            <%= link_to 'Reset', url_for(params), class: 'waves-effect waves-light btn white but2 c-primary' %>
            <div class="hide-on-med-and-up">&nbsp;</div>
            <%= f.button :button, 'Create Route', class: 'primary but1' %>
          </div>
        <% else %>
          <div id="panel-list" class="padding-top-20 padding-left-20">
            No assets found with filter criteria
          </div>
        <% end %>
    <% end %>
  </div>
</div>
