<div class="filter-header h1">Manage Routes</div>
<table class="striped" id="route_history_table">
  <thead>
  <tr>
    <th data-field="created_on">Created on</th>
    <th data-field="name">Route Name</th>
    <th data-field="driver">Driver</th>
    <!--<th data-field="start_address">Start Address</th>-->
    <!--<th data-field="end_address">End Address</th>-->
    <th data-field="link">Link</th>
  </tr>
  </thead>

  <tbody>
  <% @recurrings.each do |recurring| %>
      <tr class="route-history-row" data-route-id="<%= recurring.route.id %>">
        <td><%= recurring.created_at.strftime('%e %B %Y, %I:%M %p') %></td>
        <td style="width:200px;"><%= recurring.route.name %></td>
        <td style="width:180px;"><%= recurring.route.user.name %></td>
        <td>
          <% if recurring.event.present? %>
            <%= link_to '<i class="fa fa-calendar" aria-hidden="true" style="font-size: 25px; margin-top: 3px;"></i>'.html_safe, event_path(recurring.event.id), title: 'Schedule' %>
          <% else %>
             <i class="fa fa-calendar" aria-hidden="true" style="font-size: 25px; margin-top: 3px; color: grey;" title="No event scheduled"></i>
          <% end %>
          &nbsp;&nbsp;
          <%= link_to '<i class="fa fa-eye" aria-hidden="true" style="font-size: 25px;margin-top: 3px;"></i>'.html_safe, preview_path(recurring.route, recurring.fired_date), method: :post, remote: true, class: "preview-data", title: 'Preview' %>
          &nbsp;&nbsp;
          <%= link_to '<i class="fa fa-pencil" aria-hidden="true" style="font-size: 25px;margin-top: 3px;"></i>'.html_safe, path_finder_edit_path(recurring.route, recurring.fired_date), title: 'Edit' %>
        </td>
      </tr>
  <% end %>
  <% if !@recurrings.present? %>
      <tr>
        <td colspan="4">
          <p class="text-center">No matched routes...</p>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if (@recurrings.respond_to? :total_pages) && @recurrings.total_pages > 1 %>
    <%= paginate @recurrings %>
<% end %>

<script>
  $(function() {
    var register_paginated_anchors = function () {
      $('.pagination a').unbind('click');
      $('.pagination a').on('click', function (event) {
        event.preventDefault();
        href = $(event.target).closest('a').attr('href');
        page_attr = href.match(/&page=(\d+)&/);
        next_page = (page_attr == null ? 1 : page_attr[1]);
        $('#route_history_page').val(next_page);
        $('#apply_path_finder_filters').click();
      });
    }
    register_paginated_anchors();
  });
</script>
