<div class="row">
  <div id="filters" class="col s12 m12 l4">
    <div class="card-panel">
      <%= render partial: 'history_filters' %>
    </div>
  </div>

  <div class="col s12 m12 l8">
    <div class="card-panel">
      <div class="row">
        <div class="col s12">
          <ul class="tabs" id="route_history_results_preview" style="display: none;">
            <li class="tab col s6"><a class="active" href="#route_history_results">Results</a></li>
            <li class="tab col s6"><a class="active" href="#route_preview">Preview</a></li>
          </ul>
          <div id="route_history_results">Please wait while routes are populated.</div>
          <div id="route_preview"></div>
        </div>
      </div>
    </div>
  </div>
</div>
