<div id="company_drivers">
  <% @users.each do |user| %>
      <div class="row filterable-user" data-user-name="<%= user.name %>" data-user-id="<%= user.id %>">
        <div class="col">
<!--           <%= f.input :favorites, as: :boolean, boolean_style: :inline, label: 'Favorite', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'} %> -->
          <%= f.collection_check_boxes "user", [[user.id, '']], :first, :last do |r|
            if @selected_driver_ids && @selected_driver_ids.include?(user.id)
              r.check_box(checked: 'checked', class: 'filled-in') + r.label(class: 'collection_check_boxes driver')
            else
              r.check_box(class: 'filled-in') + r.label(class: 'collection_check_boxes driver')
            end
          end %>
          <span class="driver-name cb1"><%= user.name %></span>
        </div>
      </div>
  <% end %>
</div>
