<div class="options-wrapper">
  <div class="waypoint-options-wrapper">
    <div class="filter-header h2 mb-sm">Options</div>
    <div class="row">
      <div class="col s12 m6 l6 input-field">
        <%= text_field_tag "waypoint_options_#{waypoint_type}[#{waypoint_id}[start_time]]", start_time&.strftime("%H:%M:%S"), class: 'timepicker', type: 'time', placeholder: 'Click to select time' %>
        <label for="start_time" class="active ip5">Appointment Begin Window</label>
      </div>
      <div class="col s12 m6 l6 input-field">
        <%= text_field_tag "waypoint_options_#{waypoint_type}[#{waypoint_id}[end_time]]", end_time&.strftime("%H:%M:%S"), class: 'timepicker', type: 'time', placeholder: 'Click to select time' %>
        <label for="end_time" class="active ip5">Appointment End Window</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6 input-field routing-load-slider-container">
        <div class="active b15" style="width: 100%; padding-right: 20px;"><span>&larr;&nbsp;Dropoff</span><span style="float: right;">Pickup&nbsp;&rarr;</span></div>
        <div class="routing-load-slider-value-display">0</div>
        <div class="routing-load-slider" data-value="<%= vehicle_load %>"></div>
        <%= hidden_field_tag "waypoint_options_#{waypoint_type}[#{waypoint_id}[load]]", '', class: 'routing-load-slider-value' %>
      </div>
      <div class="col s12 m6 l6 input-field">
        <%= select_tag "waypoint_options_#{waypoint_type}[#{waypoint_id}[priority]]", options_for_select(['Low', 'Regular', 'High'], priority) %>
        <label for="priority" class="cb1">Priority</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="input-field">
          <%= text_area_tag "waypoint_options_#{waypoint_type}[#{waypoint_id}[service_notes]]", service_notes, class: 'routing-textarea service-notes materialize-textarea', placeholder: 'Service Notes' %>
          <!-- <label for="service_notes" class="active">Service Notes</label> -->
        </div>
        <div class="input-field">
          <%= text_field_tag "waypoint_options_#{waypoint_type}[#{waypoint_id}[duration]]", time_on_site, placeholder: 'Time On Site (in minutes)' %>
          <!-- <label for="duration" class="active">Time On Site (in minutes)</label> -->
        </div>
      </div>
      <div class="col s12 m6 l6 input-field notify-customer-checkbox">
        <%= check_box_tag "waypoint_options_#{waypoint_type}[#{waypoint_id}[notify_customer]]", 'true', notify_customer, class: 'filled-in' %>
        <label for="waypoint_options_#{waypoint_type}[<%= waypoint_id %>[notify_customer]]" class="notify-customer-checkbox-label cb1">Notify Customer</label>
      </div>
    </div>
  </div>
</div>
