<div id="not_subscribed">
  <div class="row">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <div class="row">
        <div class="col s12 m12 l12">
        <span class="title-text-big-orange title-text-big-blue">
          <% if @subscription_not_active %>
              Your subscription to the Routing Feature is not active.
          <% else %>
              Routing is an Optional, Premium Feature.
          <% end %>
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text">
          Routing lets you assign routes, optimize the order of customer visits and adjust on the fly. You spend less time planning routes, gain route efficiency, faster route assignments, less wear and tear, and better customer service.
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text contact-text">
          <div>Please contact us if you wish to add Routing to your Tenna account.</div>
          <div class="txtOrange"><%= mail_to 'support@tenna.com' %></div>
          <div>844.502.8453</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l9">
      <div class="row v-h-align center ie-center">
        <div class="not-subscribed-image v-h-align" style="align-self: center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
