<style>
  .map-marker-label {
    position: relative;
    font-size: 12px;
    font-weight: bold;
  }
</style>

<div id="panel-list" class="route-show">
  <div class="card-panel-heading margin-bottom-0" id="<%= @route_recurring.route.slug %>">
    <div class="row mb-tn filter-header">
      <div class="col s12 m6 l6">
        <div class="h1">
          <%= @route_recurring.route.name %>
        </div>
      </div>
      <div class="col s12 m6 l6 right-align">
        <a href="javascript:void(0)" class="back-to-route-list lk1">
          Back
        </a>
      </div>
    </div>
    <div class="row margin-bottom-0 filter-header">
      <div class="col s12 m12 l6 hide-on-large-only ">
        <div class="icon-list bb-light-gray">
          <%= link_to '<i class="fa fa-paper-plane" style="font-size: 25px;margin-top: 3px;"></i><span>Send<br/>Route</span>'.html_safe,
                      '#notification_modal',
                      class: 'active',
                      data: { target: 'notification_modal' },
                      title: 'Send Route',
                      onclick: "$('#notification_modal').modal({dismissible: true}); $('#notification_modal').modal('open');" %>
          <%= link_to '<i class="fa fa-external-link" style="font-size: 25px;margin-top: 3px;"></i><span>Open<br/>Route</span>'.html_safe,
                      route_path(@route_recurring.route, @route_recurring.fired_date),
                      target: '_blank',
                      title: 'Open in New Window',
                      class: 'active' %>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class="icon-list">
          <a class="active" href="#" id="panel-show-list" title="Show Route List">
            <i class="fa fa-th-list" style="font-size: 25px;margin-top: 3px;"></i>
            <span>List<br/>View</span>
          </a>
          <a id="panel-map-show" href="#" title="Show Route Map">
            <i class="fa fa-map-o" style="font-size: 25px;margin-top: 3px;"></i>
            <span>Map<br/>View</span>
            <div class="splitter hide-on-med-and-down">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="col s12 m12 l6 right-align hide-on-med-and-down">
        <div class="icon-list">
          <%= link_to '<i class="fa fa-paper-plane" style="font-size: 25px;margin-top: 3px;"></i><span>Send<br/>Route</span>'.html_safe,
                      '#notification_modal',
                      class: 'active',
                      data: { target: 'notification_modal' },
                      title: 'Send Route',
                      onclick: "$('#notification_modal').modal({dismissible: true}); $('#notification_modal').modal('open');" %>
          <%= link_to '<i class="fa fa-external-link" style="font-size: 25px;margin-top: 3px;"></i><span>Open<br/>Route</span>'.html_safe,
                      route_path(@route_recurring.route, @route_recurring.fired_date),
                      target: '_blank',
                      title: 'Open in New Window',
                      class: 'active' %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div id="panel-list12" class="route-show">
    <% driver_stops = @route_recurring.driver_stops.joins(:path).includes(:path).order('paths.sequence') %>
    <% driver_stops.each_with_index do |driver_stop, idx| %>
        <% path = driver_stop.path %>
        <% if path.waypoint_type == 'asset'
             asset = Asset.find(path.waypoint_id)
           end %>
        <div class="row route-path <%= idx.odd? ? 'colored' : '' %>">
          <div class="col s12 m12 l12 path-head">
          <span class="ordinalLabel">
            <% if driver_stop == driver_stops.first %>
                Start:
                <input type="hidden" value="<%= path.address %>" name="start" id="startAddress">
            <% elsif driver_stop == driver_stops.last %>
                Finish:
                <input type="hidden" value="<%= path.address %>" name="end" id="endAddress">
            <% else %>
                <input type="hidden" name="paths[]" value="<%= path.address %>" id="paths">
                <%= path.sequence %><span class="ordinal"><%= path.sequence.ordinal %></span> Stop:
            <% end %>
          </span>

            <%= path.address %>
          </div>
          <% if path.waypoint_type == 'asset' %>
              <div class="col s12 m12 l12 path-asset-info">
                <div class="row">
                  <div class="col s12 m12 l12">
                    <span class="bold">On Site: </span>
                    <span><%= asset.project.name %></span>
                  </div>
                </div>
                <div class="row path-asset-image-description">
                  <div class="col">
                    <%= photo_thumb(asset) %>
                  </div>
                  <div class="col">
                    <div class="h2"><%= asset.title %></div>
                    <div class="b10"><%= asset.description %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="col s12 m12 l12 path-notes-actions">
            <div class="row">
              <div class="col s12 m12 l6 b3">
                Service Notes: <br>
                <% if path.service_notes.present? %>
                    <%= path.service_notes %>
                <% else %>
                    None
                <% end %>
              </div>
              <div class="col s12 m12 l6 path-actions">
                <%= link_to 'Map', path.lat.present? && path.lng.present? ? "http://maps.google.com/?q=#{path.lat},#{path.lng}" : "http://maps.google.com/?q=#{path.address}",
                            target: '_blank',
                            class: 'waves-effect waves-light btn but1 primary' %>
              </div>
            </div>
          </div>
          <% if driver_stop.done_timestamp.present? %>
              <div class="col s12 m12 l12" style="border-top: 1px solid lightgrey;">
                <div class="row" style="margin: 10px; display: flex; justify-content: center;">
                  <div class="col s12 m12 l6" style="align-self: center;">
                    Done at <%= driver_stop.done_timestamp.strftime('%l:%M%P').strip %> on <%= driver_stop.done_timestamp.strftime('%e %B %Y').strip %>
                  </div>
                  <div class="col s12 m12 l6">
                    <iframe style="float: right;" width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= driver_stop.done_lat %>,<%= driver_stop.done_lng %>&hl=es;z=14&amp;output=embed"></iframe>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <div id="panel-list124" class="route-show" style="display:none;margin: 10px auto 0 auto; ">
    <div id="directions" style='width: 100%; height: 400px;'></div>
  </div>
</div>
<%= button_tag 'Back', class: 'back-to-route-list waves-effect waves-light btn white but2 c-primary' %>
<%= render partial: 'notification_modal' %>
