$('#route_history_results').html("<%= escape_javascript (render partial: 'route_history_search') %>");
// $('#route_history_results_preview.tabs').tabs('select_tab', 'route_history_results');

$(function () {
  $('#reset_manage_route_filters').click(function(event) {
    event.preventDefault;

    $('#route_history_driver').val('').select2('destroy').select2();
    $('#route_history_project').val('').select2('destroy').select2();
    $('#route_history_from_date').val('');
    $('input[name="route_history\[from_date\]"]').val('');
    $('#route_history_to_date').val('');
    $('input[name="route_history\[to_date\]"]').val('');
    $('#apply_path_finder_filters').click();
  });

  $("#route_history_table a[data-remote]").on("ajax:success", function (e, data, status, xhr) {
    $('#route_preview').html(data);
    $('#route_history_results').fadeOut(250, function () {
      $('#route_history_results_preview.tabs').tabs('select_tab', 'route_preview');
    });
    register_back_from_preview();
    register_notification_controls();
    mapinIt();
  });

  var register_back_from_preview = function () {
    $('.back-to-route-list').on('click', function () {
      $('#route_preview').fadeOut(250, function () {
        $('#route_history_results_preview.tabs').tabs('select_tab', 'route_history_results');
      });
    });
  }

  var register_notification_controls = function () {
    var send_notification_submit = function () {
      if (!$(this).hasClass('disabled')) {
        var data = $('#send_route_form').serialize();

        $.post({
          url: "/path_finder/send_route",
          type: "POST",
          data: data,
          success: function (resp) {
            $('#flash').html('<div class="chip success">Notification sent successfully.<i class="material-icons">close</i></div>').show();
            $('.lean-overlay').trigger('click');
          },
          error: function () {
            $('#flash').html('<div class="chip alert">Notification not sent.<i class="material-icons">close</i></div>').show();
            $('.lean-overlay').trigger('click');
          }
        });
      }
    }
    $('#send_notification_submit').unbind('click');
    $('#send_notification_submit').on('click');
    $('#send_notification_submit').click(send_notification_submit);

    var verify_send_route_inputs = function () {
      if ($('#other_notification_check').is(':not(:checked)') && $('#driver_notification_check').is(':not(:checked)')) {
        $('#send_button_error').show();

        $('.other-notification-details input').attr('disabled', 'disabled');
        $('#send_notification_submit').removeClass('disabled').addClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
        $('#other_notification_error').hide();

        $('#send_notification_submit').addClass('disabled').addClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
      } else if ($('#other_notification_check').is(':not(:checked)') && $('#driver_notification_check').is(':checked')) {
        $('#send_button_error').hide();
        $('#send_notification_submit').removeClass('disabled').addClass('modal-close modal-action waves-effect waves-green').removeProp('disabled').on('click');
        $('#other_notification_error').hide();
        $('#send_notification_submit').unbind('click');
        $('#send_notification_submit').on('click');
        $('#send_notification_submit').click(send_notification_submit);
      } else {
        $('#send_button_error').hide();
        if ($('#other_notification_check').is(':checked')) {
          $('.other-notification-details input').removeAttr('disabled');

          if (($('#notify_email').val().length == 0) && ($('#notify_phone').val().length == 0)) {
            $('#send_notification_submit').addClass('disabled').removeClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
            $('#other_notification_error').show();
          } else {
            if (($('#notify_email').val().length > 0) && !(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{1,10})+$/.test($('#notify_email').val()))) {
              $('#send_notification_submit').addClass('disabled').removeClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
              $('#other_notification_error').show();
            } else {
              $('#send_notification_submit').removeClass('disabled').addClass('modal-close modal-action waves-effect waves-green').removeProp('disabled').on('click');
              $('#other_notification_error').hide();
              $('#send_notification_submit').unbind('click');
              $('#send_notification_submit').on('click');
              $('#send_notification_submit').click(send_notification_submit);
            }
          }
        } else {
          $('.other-notification-details input').attr('disabled', 'disabled');
          $('#send_notification_submit').removeClass('disabled').addClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
          $('#other_notification_error').hide();
        }
      }
    };

    $('#notify_email, #notify_phone').keyup(verify_send_route_inputs);
    $('#notify_email, #notify_phone').blur(verify_send_route_inputs);
    $('#other_notification_check').click(verify_send_route_inputs);
    $('#driver_notification_check').click(verify_send_route_inputs);
  }

  var addressMessage;
  var count = 0;

  function mapinIt() {
    $("#panel-show-list").click(function () {
      $("#panel-list124").css("display", "none");
      $("#panel-list12").css("display", "block");
      $("#panel-map-show").removeClass('active');
      $("#panel-show-list").addClass('active');
    });

    $("#panel-map-show").click(function () {
      $("#panel-list124").css("display", "block");
      $("#panel-list12").css("display", "none");
      $("#panel-map-show").addClass('active');
      $("#panel-show-list").removeClass('active');
    });

    var directionsDisplay = new google.maps.DirectionsRenderer({preserveViewport: true, suppressMarkers: true});
    var directionsService = new google.maps.DirectionsService();
    var geocoder = new google.maps.Geocoder();
    var waypts = [];
    var handler = Gmaps.build('Google');
    handler.buildMap({internal: {id: 'directions'}}, function () {
      directionsDisplay.setMap(handler.getMap());
      directionsDisplay.setOptions({
        polylineOptions: {
          strokeWeight: 2,
          strokeOpacity: 1,
          strokeColor: 'green'
        },
      });
    });

    addwaypt();

    function calcRoute() {
      var startAddress = "#startAddress";
      var endAddress = "#endAddress",
      startAddressValue = $(startAddress).val(),
      endAddressValue = $(endAddress).val();
      geocoder.geocode({'address': $(startAddress).val()}, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var startlatitude = results[0].geometry.location.lat();
          var startlongitude = results[0].geometry.location.lng();
          var origin = new google.maps.LatLng(startlatitude, startlongitude);
          geocoder.geocode({'address': $(endAddress).val()}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              var endlatitude = results[0].geometry.location.lat();
              var endlongitude = results[0].geometry.location.lng();
              var destination = new google.maps.LatLng(endlatitude, endlongitude);

              startAddressValue = startAddressValue.split(',');
              startAddressValue = startAddressValue[0] + startAddressValue[1];

              endAddressValue = endAddressValue.split(',');
              endAddressValue = endAddressValue[0] + endAddressValue[1];

              var marker = new google.maps.Marker({
                map: handler.map.getServiceObject(),
                position: origin,
                label: {text: startAddressValue, fontWeight: "bold", fontSize: "17px"},
                labelClass: "routeItMapLabel",
                draggable: true
              });

              if ( endAddressValue == startAddressValue )
              {
               var markerB = new google.maps.Marker({
                  map: handler.map.getServiceObject(),
                  position: destination,
                  icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 3
                  }
                });
              } 
              else
              {
               var markerB = new google.maps.Marker({
                  map: handler.map.getServiceObject(),
                  position: destination,
                  label: {text: endAddressValue, fontWeight: "bold", fontSize: "17px"},
                  labelClass: "routeItMapLabel",
                  icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 3
                  }
                });                
              }

              var request = {
                origin: origin,
                destination: destination,
                waypoints: waypts,
                optimizeWaypoints: true,
                travelMode: google.maps.TravelMode.DRIVING
              };
              directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
                }
              });
            }
          });
        }
      });
    }

    $('#panel-map-show').click(function () {
      geocoder.geocode({'address': $("#startAddress").val()}, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var latitude = results[0].geometry.location.lat();
          var longitude = results[0].geometry.location.lng();

            setTimeout(function () {
              google.maps.event.trigger(handler.getMap(), 'resize');
              handler.map.centerOn([latitude, longitude]);
              handler.map.getServiceObject().setZoom(10);
            }, 50);
            calcRoute();
        }
      });

    });

    function getAddress(latlng) {
      geocoder.geocode({'latLng': latlng}, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0]) {
            addressMessage = results[0].formatted_address;
          }
        }
      });
    }

    function addwaypt() {
      for (i = 0; i < $("input[name='paths[]']").length; i++) {
        var as = $("input[name='paths[]']")[i];
        geocoder.geocode({'address': $(as).val()}, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();
            var location = new google.maps.LatLng(latitude, longitude);
            var waylocation = $(as).val().toString();
            var labalLocation = waylocation;
            waylocation = waylocation.split(',');
            waylocation = waylocation[0] + waylocation[1];
            var marker = new google.maps.Marker({
              position: location,
              map: handler.map.getServiceObject(),
              label: {text: waylocation, fontWeight: "bold"},
              icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 3
              }
            });

            waypts.push({
              location: location
            });
          }
        });
      }
    }

  }
});
