<div id="loading_overlay" style="position: absolute; z-index: 9999; background-color: lightgrey; opacity: 0.4; width: 100vw; height: 100vh; top: 0; left: 0; text-align: center; display: none;">
  <span style="top: 38%; position: absolute; font-size: 200%; text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);">Loading...</span>
</div>
<div class="row" style="position: relative; padding-top: 15px;">
  <% if @route_recurrings.present? %>
      <div class="row route-selector">
        <div class="col s12 m6 l6">
          <span class="label">Show:</span>
          <span class="driver-chooser"><%= select_tag :route_list, options_for_select(@route_recurrings.collect { |r| [r.route.name, r.route.slug] }) %></span>
        </div>
      </div>

      <% @route_recurrings.each_with_index do |route_recurring| %>
          <%= render 'route', route_recurring: route_recurring, multi: true %>
      <% end %>
  <% else %>
      <div id="panel-list" class="card-panel">
        <h1 class="card-panel-heading">An error occurred</h1>
      </div>
  <% end %>
  <div id="route_disclaimer">NOTE: Routes do not account for height, weight, or other vehicle restrictions.</div>
</div>
<% if current_user.present? %>
  <div class="form-actions">
    <%= link_to 'Back to Routing', path_finder_index_path, class: 'waves-effect waves-light btn white but2 c-primary' %>
  </div>
<% end %>
