<div id="loading_overlay" style="position: absolute; z-index: 9999; background-color: lightgrey; opacity: 0.4; width: 100vw; height: 100vh; top: 0; left: 0; text-align: center; display: none;">
  <span style="top: 38%; position: absolute; font-size: 200%; text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);">Loading...</span>
</div>
<div class="row" style="position: relative;">
  <% if @route_recurring %>
    <%= render 'route', route_recurring: @route_recurring, multi: false %>
  <% else %>
    <div id="panel-list" class="">
      <h1 class="card-panel-heading">An error occurred</h1>
    </div>
  <% end %>
  <div id="route_disclaimer">NOTE: Routes do not account for height, weight, or other vehicle restrictions.</div>
</div>
<% if current_user.present? %>
    <div class="form-actions">
      <div class="row">
        <!--<div class="col m2 l4 hide-on-small-and-down">&nbsp;</div>-->
        <div class="col s12 m6 l6" id="mark_all_as_undone">
          <a class="waves-effect waves-light btn white mark-all-as-undone margin-left-0 but2 c-primary" data-route-recurring-id="<%= @route_recurring.id %>">Mark All As Undone</a>
        </div>
        <div class="col s12 m6 l6">
          <%= link_to 'Back to Routing', path_finder_index_path, class: 'waves-effect waves-light btn white but2 c-primary' %>
        </div>
      </div>
    </div>
<% end %>

<%= render partial: 'notification_modal' %>
