<%= simple_form_for(@project_assignment) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs row separator-row">
      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.association :user, collection: @users, include_blank: false, wrapper_html: {class: 'col s12'} ,input_html: {class: 'select2'}%>
        </div>
      </div>

      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.input :role, required: true, include_blank: false, collection: ProjectAssignment.roles.map { |role, _| [ProjectAssignment.role_lookup.fetch(role, role.titleize), role] }, wrapper_html: {class: 'col s12'},input_html: {class: 'select2'} %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :button, data: {disable_with: 'Processing…'} %>
    </div>
<% end %>
