<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading"><%= @project.name %> > Users</h1>
        <%= link_to 'Cancel', project_path(@project) %>
      </div>

      <table class="project_assignments">
        <tbody class="body-text1">
          <% @project.company.company_admins.each do |company_admin| %>
            <tr>
              <td>
                <%= company_admin.name %>
              </td>
              <td>
                Administrator
              </td>
              <td></td>
            </tr>
          <% end %>

          <% if @project.project_assignments.present? %>
            <% @project.project_assignments.each do |project_assignment| %>
              <tr>
                <td>
                  <%= project_assignment.user.name %>
                </td>
                <td>
                  <%= form_for(project_assignment, url: project_assignment_path(@project, project_assignment), data: {"username": project_assignment.user.name}) do |f| %>
                      <%= f.select :role, ProjectAssignment.roles.map { |role, _| [ProjectAssignment.role_lookup.fetch(role, role.titleize), role] } %>
                  <% end %>
                </td>
                <td><%= link_to 'Remove', project_assignment_path(@project, project_assignment), method: :delete,
                  data: {confirm: "#{project_assignment.user.name + " is the contact for the project, if you proceed the role will be assigned to the company contact.\n\n" if project_assignment.is_project_contact?}"+
                         "Are you sure you would like to remove #{project_assignment.user.name} from this project? "},
                  onClick: "ga('send', 'Internal Link', '#{project_assignment_path(@project, project_assignment)}');".html_safe %></td>
              </tr>
            <% end %>
          <% end %>

          <% @project.company.field_members.each do |field_member| %>
            <tr>
              <td>
                <%= field_member.name %>
              </td>
              <td>
                Field
              </td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="form-actions margin-top-std">
        <%= link_to 'Invite New User', new_user_invitation_path(back: project_assignments_path), onClick: "ga('send', 'Internal Link', '#{new_user_invitation_path}');".html_safe %>
        <%= link_to 'Assign Existing User', new_project_assignment_path, class: 'waves-effect waves-light btn' %>
      </div>
    </div>
  </div>
</div>
