<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading">Add Site Assignment</h1>
        <%= link_to 'Cancel', project_assignments_path(@project) %>
      </div>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>
