<%= react_component 'Myfilters', {
  title: 'My Reports',
  recommended: false,
  filters: @filters,
  filter_labels: @filter_labels,
  filter_label_obj: @filter_label_obj,
  filters_arr: @filters_arr
} %>
