<div id="not_subscribed">
  <div class="row">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <div class="row">
        <div class="col s12 m12 l12">
        <span class="title-text-big-orange">
          Asset Reports it is a Premium service...
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text">
          The <span style="color: #fd4f00;">Asset Report</span> feature provides analytics of your entire inventory of equipment and materials, or subsets of assets that you can choose. For example, you can select and get reports on the utilization of your truck fleet, or your generators, or choose your equipment assigned to a certain site or certain supervisors. Asset Reports give you extensive research capability!
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text contact-text">
          <div>Contact us if you wish to subscribe.</div>
          <div id="mail-div"><%= mail_to 'support@tenna.com' %></div>
          <div>844.502.8453</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l9">
      <div class="row v-h-align center ie-center">
        <div class="not-subscribed-image v-h-align" style="align-self: center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
