<%= react_component 'Myfilters', {
  title: 'Recommended Reports',
  recommended: true,
  filters: @recommended_filters,
  filter_labels: @recommended_filter_labels,
  filter_label_obj: @recommended_filter_label_obj,
  filters_arr: @recommended_filters_arr
} %>
