<div class="col s12 m12 history-row">
  <%= simple_form_for @asset do |f| %>
    <div class="row">
      <div class="col s6">
        <%= f.input :filter_name, label: 'Filter Name', wrapper_html: {class: 'ip1'}, required: true %>
      </div>
      <div class="col s3">
        <div class="input-field string asset_start_date ip1 asset-report-range">
          <input type="date" class="datepicker report-datepicker" name="asset[start_date]" max= <%= Date.today.to_s %> value="<%= action_name == 'pre_filter_get' ? @asset.start_date : Date.today - 3.month %>" required="false" id="asset_start_date">
          <label class="string" for="asset_start_date">Start Date</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field string asset_end_date ip1 asset-report-range">
          <input type="date" class="datepicker report-datepicker" name="asset[end_date]" max="<%= Date.today.to_s %>" value="<%= Date.today.to_s %>" required="false" id="asset_end_date">
          <label class="string" for="asset_end_date">End Date</label>
        </div>
      </div>
    </div>
  <% end %>

  <%= react_component 'Analytics', {
    dateStart: '2017-01-01',
    dateEnd: '2017-01-02',
    filterObject:  defined?(@filter) ? @filter : nil,
    companyId: current_user.company.id,
    assetAnalytics: true,
    categoryGroup: CategoryGroup.all.select(:id, :name).to_a,
    category: Category.all.select(:id, :name, :category_group_id).to_a
  } %>

  <br>
  <div class="row analytics-tabs" style="margin-top: 30px;">
    <hr>
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2 m1">
          <a href="#table-view" class="active ">
            <i class="fa fa-th-list"></i>
          </a>
        </li>
        <li class="tab col s2 m1">
          <a href="#line-view">
            <i class="fa fa-line-chart"></i>
          </a>
        </li>
        <li class="tab col s2 m1">
          <a href="#column-view">
            <i class="fa fa-bar-chart"></i>
          </a>
        </li>
        <li class="tab col s2 m1">
          <a href="#scatter-view" id="scatter-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><g><path d="M95,97H4.5C3.671,97,3,96.328,3,95.5V5c0-0.829,0.671-1.5,1.5-1.5S6,4.171,6,5v89h89c0.828,0,1.5,0.672,1.5,1.5    S95.828,97,95,97z"/></g><g><path d="M23.5,82.5c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5S30,72.416,30,76S27.084,82.5,23.5,82.5z M23.5,71.5    c-2.481,0-4.5,2.019-4.5,4.5s2.019,4.5,4.5,4.5S28,78.481,28,76S25.981,71.5,23.5,71.5z"/></g><g><path d="M28.5,61.5c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5S35,51.416,35,55S32.084,61.5,28.5,61.5z M28.5,50.5    c-2.481,0-4.5,2.019-4.5,4.5s2.019,4.5,4.5,4.5S33,57.481,33,55S30.981,50.5,28.5,50.5z"/></g><g><path d="M50.5,61.5c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5S57,51.416,57,55S54.084,61.5,50.5,61.5z M50.5,50.5    c-2.481,0-4.5,2.019-4.5,4.5s2.019,4.5,4.5,4.5S55,57.481,55,55S52.981,50.5,50.5,50.5z"/></g><g><path d="M62.5,44.5c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5S69,34.416,69,38S66.084,44.5,62.5,44.5z M62.5,33.5    c-2.481,0-4.5,2.019-4.5,4.5s2.019,4.5,4.5,4.5S67,40.481,67,38S64.981,33.5,62.5,33.5z"/></g><g><path d="M81.5,25.5c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5S88,15.416,88,19S85.084,25.5,81.5,25.5z M81.5,14.5    c-2.481,0-4.5,2.019-4.5,4.5s2.019,4.5,4.5,4.5S86,21.481,86,19S83.981,14.5,81.5,14.5z"/></g></g></svg>
          </a>
        </li>
        <li class="tab col s2 m1">
          <a href="#map-view" id="history-map-link">
            <i class="fa fa-map-o"></i>
          </a>

      </ul>
    </div>
    <div id="table-view" class="col s12"></div>
    <div id="line-view" class="col s12 numeric-view"></div>
    <div id="column-view" class="col s12 numeric-view"></div>
    <div id="scatter-view" class="col s12 numeric-view"></div>
    <div id="map-view" class="col s12" style="height:400px;"></div>
  </div>
</div>
