{
  "success": <%= @filter.valid? %>,
  <% if @filter.valid? %>
  "filter": <%= @filter.to_json.html_safe %>,
  "html": "<%= escape_javascript(render partial: 'my_filters.html', locals: {filters: @filters }) %>",
  <% else %>
  "errors": <%= @filter.errors.to_json.html_safe %>,
  <% end %>
  "dummy": "dummy"
}
