<% if @company_analytics_subscription %>
  <div class="asset-report-container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <ul class="tabs groups">
            <li class="tab col s4 m4 l4 but9">
              <a href="#recommended-reports" onClick="parent.location = this.href">Recommended Reports</a>
            </li>
            <li class="tab col s4 m4 l4 but9">
              <a href="#asset-reports" onClick="parent.location = this.href">Asset Reports</a>
            </li>
            <li class="tab col s4 m4 l4 but9">
              <a href="#my-reports" onClick="parent.location = this.href">My Reports</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="recommended-reports">
        <div class="col s12 m12 history-row">
          <div class="card-panel">
            <%= render partial: 'asset_reports/predefined_filters' %>
          </div>
        </div>
      </div>
      <div id="asset-reports">
        <div class="col s12 m12 history-row">
          <div class="card-panel">
            <%= render partial: 'asset_reports/report' %>
          </div>
        </div>
      </div>
      <div id="my-reports">
        <div class="col s12 m12 history-row">
          <%= render partial: 'asset_reports/my_filters' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render partial: 'asset_reports/not_subscribed.html' %>
<% end %>
