<%= simple_form_for [@group, @csv_import || CsvImport.new], html: {method: :post, multipart: true}, remote: true do |f| %>
  <div class="form-inputs row">
    <div class="col s12">
      <%= f.input :file, as: :csv_import_file, label: false, input_html: {accept: 'text/csv'}, wrapper_html: {class: 'but1'} %>
    </div>
  </div>

  <div class="form-actions">
    <a href="#!" class="modal-action modal-close btn but2 white">Cancel</a>
    <%= f.button :button, 'Import' %>
  </div>
<% end %>

