$breakpoints: (
        'xs-phone': 320px,
        'phone': 480px,
        'tablet': 768px,
        'desktop': 1024px,
        'widescreen': 1200px
);

// keywords
$media-expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'landscape': '(orientation: landscape)',
        'portrait': '(orientation: portrait)',
        'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
        'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤


body {
  background-color: #F7F6F3;
}

@import 'vendors/lightbox';
@import "variables";
#wrapper {
  @import 'vendors/include-media';
  @import 'vendors/normalize';

  @import 'base/variables';
  @import 'base/functions';
  @import 'base/mixins';
  @import 'base/helpers';
  @import 'base/reset';
  @import 'base/typography';
  @import 'base/forms';

  overflow: hidden;

  #main {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    @extend %clearfix;
  }

  #header {
    background: #32323c;
    text-align: center;
    img {
      vertical-align: top;
    }
  }

  .btn-holder {
    position: absolute;
    bottom: 37%;
    left: 0;
    right: 0;
    @include media("<widescreen") {
      bottom: 33%;
    }
    @include media("<desktop") {
      bottom: 25%;
    }
    @include media("<tablet") {
      bottom: 20px;
    }
    @include media("<phone") {
      bottom: -212px;
      margin: 40px 20px;
    }
    .button {
      box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.75);
      margin: 0 5px 10px;
      @include media("<desktop") {
        width: 31%;
      }
      @include media("<phone") {
        position: static;
        width: 100%;
        margin: 0 0 22px;
        font-size: $fs-mn;
      }
    }
  }

  .button {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    font-size: $base-font-size - 4;
    text-decoration: none;
    background: $btn-background;
    color: $btn-color;
    border-radius: 3px;
    border: 1px solid $btn-background;
    transition: color 0.25s linear;
    transition: background 0.25s linear;
    min-width: 220px;
    padding: 12px 10px;
    margin: 0 8px;
    position: relative;
    z-index: 5;
    box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.75);
    @include media("<tablet") {
      font-size: $base-font-size - 6;
    }
    @include media("<phone") {
      margin: 0 0 10px;
    }
    &:hover {
      color: $btn-background;
      background: $btn-color;
      transition: color 0.25s linear;
      transition: background 0.25s linear;
    }
  }

  .title {
    color: $gray;
    font-weight: normal;
    @include media("<desktop") {
      font-size: $base-font-size + 16;
    }
    @include media("<tablet") {
      font-size: $base-font-size + 4;
    }
  }

  .paragraph {
    font-weight: 300;
    @include media("<desktop") {
      font-size: $base-font-size - 2;
    }
    @include media("<tablet") {
      font-size: $base-font-size - 4;
    }
  }

  .parthners {
    padding: 21px 9999px 0 9999px;
    margin: 0 -9999px;
    background: $pink;
    @extend %clearfix;
    @include media("<desktop") {
      padding: 20px -9999px 0;
    }
    @include media("<tablet") {
      padding: 0;
      margin: 0 -9999px 12px;
    }
  }

  .parthners-list {
    @extend %listreset;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 37px 20px;
      vertical-align: middle;
      @include media("<desktop") {
        margin: 0 10px 20px;
      }
      @include media("<tablet") {
        width: 100%;
        margin: 21px 0;
      }
    }
    img {
      vertical-align: middle;
      @include media("<tablet") {
        max-width: 150px;
      }
    }
  }

  .enterprise {
    text-align: center;
    padding: 68px 0 42px;
    @extend %clearfix;
    @include media("<desktop") {
      padding: 20px 0;
    }
    .title {
      margin: 0 0 9px;
      @include media("<tablet") {
        color: $gray;
        font-size: 28px;
        line-height: 34px;
        font-weight: normal;
        margin: 0 0 4px;
      }
    }

    .row {
      @extend %clearfix;
    }
    .column {
      float: left;
      width: 33.333%;
      padding: 0 30px;
      &:last-child {
        @include media("<tablet") {
          margin: 0;
        }
      }
      @include media("<desktop") {
        padding: 0 10px;
      }
      @include media("<tablet") {
        float: none;
        width: 100%;
        padding: 0;
        margin: 0 0 10px;
      }
    }
    .paragraph {
      @include media("<tablet") {
        font-size: $fs-base;
        line-height: 20px;
        margin: 0 0 18px;
      }
    }
  }

  .build-source {
    text-align: center;
    padding: 70px 0 0 0;
    @extend %clearfix;
    @include media("<desktop") {
      padding: 20px 0 0;
    }
    @include media("<tablet") {
      padding: 40px 0;
    }
    .row {
      @extend %clearfix;
      display: table;
      width: 100%;
      @include media("<tablet") {
        display: block;
      }
    }
    .title {
      margin: 0 0 9px;
      @include media("<tablet") {
        color: $gray;
        font-size: 28px;
        line-height: 34px;
        font-weight: normal;
        margin: 0 0 5px;
      }
    }
    .image-holder {
      width: 49%;
      margin: 0 12% 0 0;
      display: table-cell;
      vertical-align: bottom;
      padding: 0 12% 0 0;
      img {
        vertical-align: bottom;
      }
      @include media("<tablet") {
        float: none;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
    .sub-title {
      margin: 0 0 38px;
      @include media("<desktop") {
        margin: 0 0 20px;
      }
    }
    .text-box {
      overflow: hidden;
      text-align: left;
      padding: 56px 110px 20px 0;
      @include media("<desktop") {
        padding: 0;
      }
      @include media("<tablet") {
        float: none;
        display: block;
        width: 100%;
        padding: 20px 0 0;
        text-align: center;
        padding: 32px 0 0;
      }
    }
    .title-sub {
      margin: 0;
      font-size: $base-font-size + 10;
      @include media("<desktop") {
        margin: 0 0 15px;
      }
      @include media("<tablet") {
        color: $gray;
        font-size: 24px;
        line-height: 31px;
        font-weight: normal;
        margin: 0 0 5px;
      }
    }
    .paragraph {
      margin: 0 0 91px;
      @include media("<desktop") {
        margin: 0 0 30px;
      }
      @include media("<tablet") {
        font-size: $fs-base;
        line-height: 20px;
        margin: 0 0 40px;
      }
    }
  }

  #footer {
    background: #686877;
    border-bottom: 2px solid $white;
    text-align: center;
    img {
      vertical-align: top;
    }
  }

  .slider {
    .indicators {
      .indicator-item {
        background-color: #ABACAB;
        &.active {
          background-color: #91E300;
        }
      }
    }
    .slide-div{
      display: none;
      @include media(">=tablet"){
        display: block;
        #slide-video {
          width:100%;
          opacity: 0.70;
          margin-top: -50px;
        }
      }
    }
    max-width: 100%;
    margin: 0 auto;
    li {

      .blue-box {
        text-align: left;
        padding: 2.1%;
        position: absolute;
        left: 60%;
        top: 10%;
        width: 35%;
        max-width: 498px;
        background-color: rgba(0, 155, 238, 0.7);
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: $fs-md;
        @include media("<desktop") {
          font-size: $fs-mn;
        }
        @include media("<tablet") {
          font-size: 9px;
          line-height: 1.2;
          width: 39%;
          top: 5%;
          left: 60%;
        }
        .italic {
          color: #FFFFFF;
          font-style: italic;
        }
        h2 {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: $fs-xl;
          @include media("<desktop") {
            font-size: 25px;
          }
          @include media("<tablet") {
            font-size: 13px;
          }
        }
      }

      .video-mask {
        display: block;
        @include media(">tablet") {
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          z-index: 1000;
        }
      }

      .video-textbox{
        width:70%;
        text-align: center;
        opacity: 1;
        font-size: 25px;
        font-weight: 200;
        @include media(">desktop") {
          top: 180px;
        }
        @include media("<desktop") {
          font-size: $fs-mn;
        }
        @include media("<tablet") {
          font-size: 10px;
          font-weight: 600;
        }
        h2 {
          font-family: 'Open Sans', sans-serif;
          font-weight: 800;
          font-size: 35px;
          @include media("<desktop") {
            font-size: 25px;
            font-weight: 600;
          }
          @include media("<tablet") {
            font-size: 12px;
            font-weight: 600;
          }
        }
        &.active {
          z-index: 3;
        }
      }
    }
  }
  .slider .slides {
    background-color: #484858;
    li img {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

#pages-index {

  .lrn-more {
    @media #{$large-and-up} {
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      border: thick solid #009BEE;
      margin-top: -6px;
      margin-right: -45px;
      text-align: center;
      height: 55px;
      width: 190px;
    }
  }

  .pyramid-div {
    height: 100%;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
  }
  .border-radius-0 {
    border-radius: 0;
  }
  .btn.active, .btn:active {
    background: white;
    color: #009BEE;
  }
  .convention {
    img {
      @media #{$small-and-down} {
        max-width: 50%;
        min-width: 90px;
      }
      @media #{$medium-and-up} {
        max-width: 90%;
        min-width: 80px;
     }
      @media #{$large-and-up} {
        max-width: 75%;
        min-width: 100px;
      }
    }
  }
}

.text-align-start {
  text-align: start;
}
.no-link-styling {
  a {
    color: inherit !important;
  }
}

.cta-options {
  font-size: 13px;
  width: 200px;
}

.cta-options i {
  padding-left: 15px;
}
#pages-industries-served {
  a.leads-form {
    color: #ffffff !important;
  }
  .leads-form i {
    color: #009BEE;
  }
}
