<p><%= t("devise.mailer.invitation_instructions.hello", invitee_name: @resource.name) %></p>


<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
