/* line 6, /home/danial/Desktop/work/tenna-web/app/assets/stylesheets/mailer/mailer.scss */
body,
.body {
  background: #ebebeb;
}

/* line 11, /home/danial/Desktop/work/tenna-web/app/assets/stylesheets/mailer/mailer.scss */
.container {
  background: #ffffff;
}
/* line 14, /home/danial/Desktop/work/tenna-web/app/assets/stylesheets/mailer/mailer.scss */
.container.body-background {
  background: #ebebeb;
}
