/* line 6, /Users/muhtah/buildsourced-web/app/assets/stylesheets/mailer/mailer.scss */
body,
.body {
  background: #ebebeb;
}

/* line 11, /Users/muhtah/buildsourced-web/app/assets/stylesheets/mailer/mailer.scss */
.container {
  background: #ffffff;
}
/* line 14, /Users/muhtah/buildsourced-web/app/assets/stylesheets/mailer/mailer.scss */
.container.body-background {
  background: #ebebeb;
}
