<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <h3><%= 'Asset'.pluralize(@assets.count) %> is expiring in two days. Please renew them if you would like them to stay current on Tenna.</h3>

            <% @assets.each do |asset| %>
              <p>
              <%= link_to asset.title, asset_url(asset) %><br>
              <% if asset.make.present? || asset.model.present? %>
                <%= asset.year %> <%= asset.make %> <%= asset.model %><br>
              <% end %>
              <%= asset.category.name %><br>
              <%= asset.location %><br>
              <%= number_to_currency(asset.price, precision: 0) %>
              </p>
            <% end %>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
