<%= 'Asset'.pluralize(@assets.count) %> is expiring in two days. Please renew them if you would like them to stay current on Tenna.

<% @assets.each do |asset| %>
<%= asset.title %>
<% if asset.make.present? || asset.model.present? %>
<%= asset.year %> <%= asset.make %> <%= asset.model %>
<% end %>
<%= asset.category.name %>
<%= asset.location %>
<%= number_to_currency(asset.price, precision: 0) %>

<% end %>
