<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <h3>Wanted <%= 'Asset'.pluralize(@wanted_assets.count) %> is expiring in two days. Please renew them if you would like them to stay current on Tenna.</h3>
            <% @wanted_assets.each do |wanted_asset| %>
              <p>
              <%= link_to wanted_asset.title, wanted_asset_url(wanted_asset) %><br>
              <% if wanted_asset.make.present? || wanted_asset.model.present? %>
                <%= wanted_asset.make %> <%= wanted_asset.model %><br>
              <% end %>
              <%= wanted_asset.category.name %><br>
              <%= number_to_currency(wanted_asset.price, precision: 0) %>
              </p>
            <% end %>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
