Wanted <%= 'Asset'.pluralize(@wanted_assets.count) %> is expiring in two days. Please renew them if you would like them to stay current on Tenna.

<% @wanted_assets.each do |wanted_asset| %>
<%= wanted_asset.title %>
<% if wanted_asset.make.present? || wanted_asset.model.present? %>
<%= wanted_asset.make %> <%= wanted_asset.model %>
<% end %>
<%= wanted_asset.category.name %>
<%= number_to_currency(wanted_asset.price, precision: 0) %>

<% end %>
