<%= simple_form_for(@group) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs row separator-row">
      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.input :name, autofocus: true, required: true, wrapper_html: {class: 'col s12'} %>
        </div>

        <div class="row">
          <%= f.input :group_num, label: 'ID/Number', wrapper_html: {class: 'col s12'} %>
        </div>

        <div class="row">
          <%= f.input :client, wrapper_html: {class: 'col s12'} %>
        </div>

        <div class="row">
           <span style="padding-left: 5px;">Select Site</span>
          <%= f.association :project, required: false, collection: @projects.available, include_blank: (@group.new_record?) ? ' ' : false, input_html: {class: 'select2 '}, selected: (@group.new_record?) ? ' ' : @group.project_id, wrapper_html: {class: 'select-project'} %>
          <%= render partial: 'modal_move_edit', locals: { group: @group } %>
        </div>
      </div>

      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.input :description, as: :material_text, wrapper_html: {class: 'col s12'} %>
        </div>

        <div class="row">
          <%= f.input :notes, as: :material_text, wrapper_html: {class: 'col s12'} %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :button, onClick: "ga('send', 'Internal Link', 'Projects: #{action_name}');".html_safe, data: {disable_with: 'Processing…'} %>
    </div>
<% end %>
