<% if group !=nil %>
<tr id="<%= dom_id group.becomes(Group) %>">
   <td class="selection-cell <%=params[:controller] == 'projects' ? 'group-chkbox-align' : ''%>">

      <%= check_box_tag "group-selected-#{group.id}", nil, false, class: 'filled-in', data: { id: group.id, count: group.assets.available.count } %>
      <%= content_tag :label, nil, for: "group-selected-#{group.id}" %>

  </td>
  <td>
    <%= link_to group do %>
        <p class="group_nam h2"><%= group.name %></p>
        <% if group.project_name.present?%>
          <p class="categor subh1"><%= group.project_name %></p>
        <% end %>
        <% if group.group_num.present? %>
            <p class="project_project_num">Group Num: <%= group.group_num %></p>
        <% end %>
        <p class="description">
          Total Assets: <%= group.assets.not_sold_deleted.count %>
        </p>
        <p class="date_posted">Created: <%= format_date(group.created_at) %></p>
    <% end %>
  </td>
</tr>
<% end %>