<% redirect_path ||= '' %>
  <div id="panel-list" class="card-panel" style="top: 0px">
    <div class="card-panel-heading mb-sm pb-mn" id="candice-cobb-s-route">
      <div class="row mb-tn">
        <div class="col s12 m6 l6">
          <%if params[:controller] == 'projects'%>
            <div class="card-panel-heading without-border h1">Groups</div>
          <%else%>
            <div class="h1">Groups</div>
          <%end%>
        </div>
        <div class="col s12 m6 l6 right-align">
          <div class="project-header-icons">
            <% if current_page?(groups_path) %>
              <%= link_to   "#{ image_tag('guide_download_blue.png', alt: 'User Guide')}<span>User<br />Guide</span>".html_safe, '//s3.amazonaws.com/buildsourced-production-1/how_to_mass_import_groups.pdf', target: '_blank' %>
              <%= link_to   "#{ image_tag('XLS_download_artwork.png', alt: 'Site Template')}<span>Group<br />Template</span>".html_safe, '//s3.amazonaws.com/buildsourced-production-1/groups_inventory_capture_sheet.csv', target: '_blank' %>

              <a class="" id="bulk-group-upload-modal-open" href="#bulk-group-upload-modal">
                <i class="icon-upload" ></i>
                <span >Import<br /> Group</span>
              </a>
            <% end %>
          </div>
        </div>
        <div class="col s12 ">
          <div class="filter-header">
          </div>
        </div>
      </div>
      <div class="row margin-bottom-0 mt-mn">
        <div class="col s6 m6 l4 ">
          <div class="action-filter-form-container">
            <div class="all-select-wrapper radio-btn">
              <%= check_box_tag 'group-select-toggle', nil, false, class: 'filled-in radio-btn' %>
              <%= content_tag :label, nil, for: 'group-select-toggle' %>
            </div>
            <%= form_tag form_path, class: 'action-filter-form', method: :put do %>
                  <div class="select-wrapper">
                    <a class="dropdown-button action-border <%= params[:controller] == 'projects' ? 'new-action-caret-groups dd1-caret' : ' '%>" href="#" data-activates="group-action-dropdown" data-constrainwidth="false">
                      Actions
                      <span class="caret">▼</span>
                    </a>
                  </div>

              <ul id="group-action-dropdown" class="dropdown-content">
                <% group_actions_for_user(current_user).each do |action| %>
                  <li><span class="groups-header-action" href="#" data-action="<%= action[1] %>"><%= action[0] %></span></li>
                <% end %>
              </ul>

              <%= hidden_field_tag :group_action %>
              <%= hidden_field_tag :group_ids %>
              <%= hidden_field_tag :redirect_to, redirect_path %>
              <%= render partial: 'groups/modal_reallocate_index' %>
              <%= render partial: 'shared/modal_select_group_error' %>
            <% end %>
          </div>
        </div>
        <div class="col s6 m6 l8 right-align ">
          <div class="filter-list">
            <div class="show-box filter-item">
              <%= render partial: 'shared/group_page_size_form' %>
            </div>
            <div class="srch-name filter-item">
              <%= form_tag '', class: 'filter-form', method: :get do %>
                <%= select_tag :sort, options_for_select(GroupSearch.sorts.keys.map { |s| [s.to_s.titleize, s] }, @group_filter_search ? @group_filter_search.sort : nil), id: 'group-header-sort' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <table id="table-groups" class="table tblsgroups" style="">
      <% if groups.size > 0 %>
        <%= render partial: 'groups/group', collection: groups %>
      <% else %>
        <p>No Groups Found</p>
      <% end %>

      <% if groups.total_pages > 1 %>
        <tr>
          <td class="hide-on-small-and-down" colspan= "2">
            <%= paginate groups, :param_name => page_param.to_sym %>
          </td>
          <td class="hide-on-med-and-up" colspan= "2">
            <%= paginate groups, :param_name => page_param.to_sym, window: 2 %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
