<div id="modal-group-edit" class="modal">
  <div class="modal-content">
    <h4>Move Group</h4>
    <div class="row" id="group-edit-notes">
      <p>If you move this group, all assets in the group will have their longitude and latitude updated to match the site location.</p>
    </div>
    <br><a href="#!" class="modal-action modal-close waves-effect btn select-increment-reallocation">OK</a>
  </div>
</div>
