<div id="reallocate-group" class="modal">
  <div class="modal-content">
    <div class="card-panel-heading h1 pb-tn">Move Group</div>
    <div class="row">
      <div class="col s12">
        <p class="select-label2">Site</p>
        <%= select_tag :project_id, options_from_collection_for_select(@projects.available, :id, :name, @groups.first.try(:project_id)), class: 'browser-default select2' %>
      </div>
    </div>
  <div class="row">
    <div class="col s12 right-align">
      <a href="#!" class="modal-action modal-close btn but2 white">Cancel</a>
      <%= button_tag 'Move Group', class: 'alternate-option btn', onClick: "ga('send', 'Internal Link', 'Move group');".html_safe %>
    </div>
    </div>
  </div>
</div>
