<div id="modal-upload-spreadsheet" class="modal">
  <div class="modal-content modal-bg-clr">
    <div class="card-panel-heading h1 pb-tn">Import Assets</div>
    <%= render partial: "group_csv_imports/form" %>
  </div>
</div>
