<% if versions.total_count > 0 %>
  <table class="striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>New</th>
      <th>Old</th>
      <th>User</th>
    </tr>
    </thead>
    <tbody>
    <% versions.each do |version| %>
      <tr>
        <td data-order=<%= version.id %>><%= DateTime.parse(version.created_at).in_time_zone.strftime('%m/%d/%Y %I:%M %p %Z') %></td>
        <td><%= group_version_action_label(version) %></td>
        <td><%= group_version_value(version, 'to') %></td>
        <td><%= group_version_value(version, 'from') %></td>
        <td><%= version.whodunnit_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No history to show.</p>
<% end %>

<script>
  $(document).ready(function() {
    $(".striped").DataTable({
      "destroy": true,
      "bFilter": false,
      "bLengthChange": false,
      "pageLength": 25
    });
  });
</script>
