<%= render partial: 'shared/group_search', locals: { groups: @groups } %>

<div class="row">
  <div id="filters" class="col s12 m12 l4">
    <div class="card-panel">
      <div class="header-link">
        <h1 class="h1 panel-bdr">Filters</h1>
      </div>
      <%= simple_form_for(@group_filter_search, url: '',method: :get) do |f| %>
        <%= f.input :query, as: :hidden %>
        <%= f.input :sort, as: :hidden %>
        <%= f.input :page_size, as: :hidden %>

        <div class="form-inputs row group-filter">
          <%= f.input :is_active, as: :boolean, boolean_style: :inline, label: 'Active Groups', wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'},label_html: {class: 'cb1'} %>
          <%= f.input :is_closed, as: :boolean, boolean_style: :inline, label: 'Closed Groups', wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'},label_html: {class: 'cb1'} %>

          <% if !current_user.company.project.blank? %>
            <%= f.input :default_project, as: :boolean, boolean_style: :inline, label: 'Default Site', wrapper_html: {class: 'col s12 dd1'}, input_html: {class: 'filled-in'},label_html: {class: 'cb1'} %>
          <% end %>

          <%= f.input :project, collection: current_user.company.projects.available.order(:name).pluck(:name, :id), label: 'Site', include_blank: 'Any Site', wrapper_html: {class: 'col s12'}, input_html: {class: 'select2'},label_html: {class: 'cb1'} %>

        </div>

        <div class="form-actions">
          <%= link_to 'Reset', groups_path, class: 'waves-effect waves-light btn white but2' %>
          <%= f.button :button, 'Apply Filters',class: 'but1' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col s12 m12 l8">
    <%= render partial: 'groups/list',
      locals: {
        groups: @groups,
        redirect_path: groups_path,
        form_path: update_multiple_groups_path,
        page_param: 'page' }
    %>
  </div>
</div>
<!-- Modal bulk upload groups -->
<div id="bulk-group-upload-modal" class="modal">
  <div class="modal-content">
    <div class="card-panel-heading h1 pb-tn">Import Groups</div>
    <div>
      <%= form_tag upload_multiple_groups_path, multipart: true do %>
        <div class="file-field input-field">
          <div class="btn">
            <span class = "import-projects-file-btn">File</span>
            <%= file_field_tag :file, accept: 'text/csv' , required: true %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="form-actions project-import-btn">
          <a href="#!" class="modal-action modal-close btn but2 white">Cancel</a>
          <%= submit_tag "Import" ,:class =>"btn" , data: {disable_with: 'Processing Data...'}%>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= fab Group %>
