<%
  clear_filters_path = group_path(@group)
  title = 'Group Assets'
  fab_model = @group
  show_selection_cell = true
  assign_tracking_code = @assign_tracking_code,
  tracking_code = @tracking_code
%>

<%= render partial: 'shared/search' %>
<div class="row">
  <div id="filters" class="col s12 m12 l4">
      <div class="card-panel">
        <%= render partial: 'shared/filters', locals: { clear_filters_path: group_path(@group) }  %>
      </div>
  </div>

  <div class="col s12 m12 l8">
    <div class="card-panel project-details-card-panel" style="padding-bottom: 3px;">
      <div class="header-link">
        <h1 class="card-panel-heading links-li2 h1"><%= @group.name %></h1>
      </div>
      <div id="project-details">
        <p class="project_project_num subh2">Site: <strong><%= @group.project.name %></strong></p>
        <p class="project_action add-asset-text">
          <%= link_to '<span class="btn-floating btn-small primary waves-effect waves-light  mr-tn">
                <i class="material-icons">add</i>
              </span><span class="dd3">Add Asset</span>'.html_safe, new_asset_path(back: request.fullpath, group_id: @group.id),  onClick: "ga('send', 'Internal Link', '#{new_asset_path(back: request.fullpath, group_id: @group.id)}');".html_safe %>
        </p>
        <p class="project_project_num b3">Total Assets: <strong><%= number_with_delimiter(@group.total_assets_count, delimiter: ',') %></strong></p>
        <p class="project_project_num b3">Total Value: <strong>$<%= number_with_delimiter(@group.total_assets_value, delimiter: ',') %></strong></p>


        <% if @group.group_num.present? %>
          <p class="project_project_num b3">ID: <strong><%= @group.group_num %></strong></p>
        <% end %>


        <% if @group.client.present? %>
          <p class="project_address b6">Client: <%= @group.client %></p>
        <% end %>

        <p class="project_closeout_date"><%= "Created #{format_date(@group.created_at)}" %></p>
      </div>
      <div id="spreadsheet-links" >
        <div class="row">
          <div class="col l5 m6 s12">
            <div class="project-detail-links">
              <%= link_to   "<span>#{ image_tag('guide_download_blue.png', alt: 'UPLOAD GUIDE')}</span> <span>Import<br />Guide</span>".html_safe, '//s3.amazonaws.com/buildsourced-production-1/how_to_mass_upload_groups.pdf', target: '_blank', class: 'project-detail-icons' %>
              <%= link_to  "<span>#{ image_tag('XLS_download_artwork.png', alt: 'ASSETS TEMPLATE') }</span> <span>Assets<br />Template</span>".html_safe, '//s3.amazonaws.com/buildsourced-production-1/inventory_capture_sheet.csv', target: '_blank', class: 'project-detail-icons' %>
              <% if @show_import_link %>
                <%= link_to content_tag(:i, '', class: 'icon-upload project-detail-upload-data-icon') + '<span>Import<br />Assets</span>'.html_safe, '#', class: 'modal-trigger project-detail-icons', id: 'modal-upload-spreadsheet-open' %>
              <% end %>
            </div>
          </div>
          <div class="col l7 m6 s12">
            <button class="waves-effect waves-light btn but1" id='btn-move-group'>Move Group</button>
            <button class="waves-effect waves-light btn but1" id='closed-group' style="margin-right: 25px;">Mark as Closed</button>
          </div>
        </div>
      </div>
    </div>

    <ul class="tabs groups">
      <li class="tab col s6 l6"><a class="active" href="#tab-assets">Assets</a></li>
      <li class="tab col s6 l6"><a href="#tab-history">History</a></li>
    </ul>
    <div id="tab-assets">
      <%= render partial: 'shared/asset_list',
        locals: {
          title: title,
          show_selection_cell: show_selection_cell,
          clear_filters_path: clear_filters_path,
          assign_tracking_code: assign_tracking_code,
          tracking_code: tracking_code,
          group: true
        } %>
    </div>
    <div id="tab-history" class="col s12 card-panel">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6 l2"><a class="active" href="#total-history">Total History</a></li>
            <li class="tab col s6 l2"><a href="#edits">Edits</a></li>
            <li class="tab col s6 l2"><a href="#moves">Movement</a></li>
            <li class="tab col s6 l2"><a href="#user-history">User History</a></li>
          </ul>
        </div>
        <div id="total-history" class="col s12">
          <%= render partial: 'versions', locals: {versions: GroupsVersionSearch.total_history(@group.id) } %>
        </div>
        <div id="edits" class="col s12">
          <%= render partial: 'versions', locals: {versions: GroupsVersionSearch.edits(@group.id) } %>
        </div>
        <div id="moves" class="col s12">
          <%= render partial: 'versions', locals: {versions: GroupsVersionSearch.moves(@group.id) } %>
        </div>
        <div id="user-history" class="col s12">
          <%= render partial: 'versions', locals: {versions: GroupsVersionSearch.user_history(@group.id) } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'groups/upload_spreadsheet' %>
<%= simple_form_for(@group) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :group_num %>
  <%= f.hidden_field :client %>
  <%= f.hidden_field :description %>
  <%= f.hidden_field :notes %>
  <div id="reallocate-group" class="modal">
    <div class="modal-content">
      <div class="card-panel-heading h1 pb-tn">Move Group</div>
      <div class="row">
        <div class="col s12">
          <p class="select-label2">Site</p>
          <%= f.select :project_id, options_from_collection_for_select(@projects.available, :id, :name, @group.project_id), {}, class: 'browser-default select2' %>
          <br><br>
          <p class="move-group-info-text">
            If you move this group, all assets in the group will have their longitude and latitude updated to match the site location.
          </p>
        </div>
      </div>
    <div class="row">
      <div class="col s12 right-align">
        <a href="#!" class="modal-action modal-close btn but2 white" style="margin-right: 19px;">Cancel</a>
        <%= button_tag 'Move Group', class: 'alternate-option btn', onClick: "ga('send', 'Internal Link', 'Move group');".html_safe %>
      </div>
      </div>
    </div>
  </div>
<% end %>
<div id="mark-as-closed-modal" class="modal">
  <div class="modal-content">
    <div class="card-panel-heading h1 pb-tn">Mark as Closed</div>
    <div class="row">
      <div class="col s12">
        <p class="move-group-info-text">
          Are you sure, you want to mark this group as Closed?
        </p>
      </div>
    </div>
  <div class="row">
    <div class="col s12 right-align">
      <%= link_to 'ok', mark_as_closed_group_path(@group), class: 'but1 waves-effect waves-light btn move-group'%>
      <a href="#!" class="modal-action modal-close btn but2 white">Cancel</a>
    </div>
    </div>
  </div>
</div>
<%= fab @group %>
