<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <h1 class="card-panel-heading">Change Your Password</h1>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="form-inputs margin-btm-none">
            <div class="row">
              <%= f.input :password, label: 'New Password', required: true, autofocus: true, hint: ("#{@minimum_password_length} Characters Minimum" if @minimum_password_length), wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :password_confirmation, label: 'Confirm Your New Password', required: true, wrapper_html: {class: 'col s12'} %>
            </div>
          </div>

          <div class="form-actions margin-btm-lg">
            <%= f.button :button, 'Change My Password' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
      <% end %>
    </div>
  </div>
</div>
