<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <h1 class="card-panel-heading">Forgot Your Password?</h1>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs margin-btm-none">
            <div class="row">
              <%= f.input :email, required: true, autofocus: true, wrapper_html: {class: 'col s12'} %>
            </div>
          </div>

          <div class="form-actions margin-btm-lg">
            <%= f.button :button, 'Send Me Reset Password Instructions' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
      <% end %>
    </div>
  </div>
</div>
