<%= simple_form_for(@company_safety_configuration) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :gauge, input_html: {class: 'select2'} %>
    <%= f.input :company_id, as: :hidden %>
    <%= f.input :score_type, collection: CompanySafetyConfiguration.score_types.keys, input_html: {class: 'select2'} %>
    <%= f.input :score_weight, label: 'Weight ( Out of 100 ) ' %>
    <%= f.input :high_points, label: 'Points for High Alert' %>
    <%= f.input :high_points_no_violations, label: 'Points for High Alert with No Violation ' %>
    <%= f.input :medium_points, label: 'Points for Medium Alert' %>
    <%= f.input :medium_points_no_violations, label: 'Points for Medium Alert with No Violation' %>
    <%= f.input :low_points, label: 'Points for Low Alert' %>
    <%= f.input :low_points_no_violations, label: 'Points for Low Alert with No Violation ' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
