<% company_safety_configurations ||= @company_safety_configurations %>

<table class="dataTable">
  <thead>
    <tr>
      <th>
        Total Score : <span class="light-green-text"> </span><%= CompanySafetyConfiguration.deduction_sum_for_company(current_user.company_id) %></span>
      </th>
      <th>

      </th>
      <th>
        Violation Points <br />
        (Deduction)
      </th>
    </tr>
  </thead>
  <tbody>
    <% company_safety_configurations.each do |company_safety_configuration| %>
      <tr>
        <td><%= company_safety_configuration.gauge.name %></td>
        <td class="light-green-text"><%= company_safety_configuration.score_weight.to_i %></td>
        <td><%= company_safety_configuration.score_operator%>&nbsp;(<%= company_safety_configuration.low_points.to_i %>,<%= company_safety_configuration.high_points.to_i %>)</td>
      </tr>
    <%end%>
  </tbody>
</table>
