<p id="notice"><%= notice %></p>

<h3>Listing Company Safety Configurations</h3>

<table class="bordered">
  <thead>
    <tr>
      <th>Gauge</th>
      <th>Company</th>
      <th>Score type</th>
      <th>Score weight</th>
      <th>High points</th>
      <th>Medium points</th>
      <th>Low points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_safety_configurations.each do |company_safety_configuration| %>
      <tr>
        <td><%= company_safety_configuration.gauge.name %></td>
        <td><%= company_safety_configuration.company.name %></td>
        <td><%= company_safety_configuration.score_type %></td>
        <td><%= company_safety_configuration.score_weight %></td>
        <td><%= company_safety_configuration.high_points %></td>
        <td><%= company_safety_configuration.medium_points %></td>
        <td><%= company_safety_configuration.low_points %></td>
        <td><%= link_to 'Show', company_safety_configuration %></td>
        <td><%= link_to 'Edit', edit_company_safety_configuration_path(company_safety_configuration) %></td>
        <td><%= link_to 'Destroy', company_safety_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company safety configuration', new_company_safety_configuration_path %>
