<p id="notice"><%= notice %></p>

<p>
  <strong>Gauge:</strong>
  <%= @company_safety_configuration.gauge %>
</p>

<p>
  <strong>Company:</strong>
  <%= @company_safety_configuration.company %>
</p>

<p>
  <strong>Score type:</strong>
  <%= @company_safety_configuration.score_type %>
</p>

<p>
  <strong>Score weight:</strong>
  <%= @company_safety_configuration.score_weight %>
</p>

<p>
  <strong>High points:</strong>
  <%= @company_safety_configuration.high_points %>
</p>

<p>
  <strong>Medium points:</strong>
  <%= @company_safety_configuration.medium_points %>
</p>

<p>
  <strong>Low points:</strong>
  <%= @company_safety_configuration.low_points %>
</p>

<%= link_to 'Edit', edit_company_safety_configuration_path(@company_safety_configuration) %> |
<%= link_to 'Back', company_safety_configurations_path %>
