<%= simple_form_for([@company, @user]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <%= f.input :email, required: true, autofocus: true, wrapper_html: {class: 'col s12'}, label_html: {class: 'ip5'} %>
    <%= f.input :first_name, required: true, wrapper_html: {class: 'col s12'}, label_html: {class: 'ip5'} %>
    <%= f.input :last_name, required: true, wrapper_html: {class: 'col s12'}, label_html: {class: 'ip5'} %>
    <%= f.input :phone_number, wrapper_html: {class: 'col s12'} , label_html: {class: 'ip5'} %>
    <!--<%#= f.input :role, label: 'Role', required: true, input_html: { class: 'dd1' }, collection: User.roles.reject{ |r| r.in?(['admin', 'public_user'])}.map{ |k, _| [k.titleize, k] }, selected: 'company_admin', wrapper_html: {class: 'col s12', style: 'margin-top: 40px;'}, label_html: {class: 'cb1'} %>-->
    <%= f.input :role, label: 'Role', required: true, input_html: {class:"select2"}, collection: User::COMPANY_ROLES, wrapper_html: {class: 'col s12 select-wrapper', style: 'margin-top: 40px;'}, label_html: {class: 'cb1'} %>
  </div>

  <div class="row right-align">
    <%= link_to 'Cancel', company_path(current_user.company),{class: 'btn asset-report-btn white but2 invitation-cancel', style: 'margin-right: 32px;'} %>
    <%= f.button :button,current_page?(action: 'new') ? 'Send an Invitation' : 'Update' , data: {disable_with: 'Processing…'},class: 'but1 invit-send' %>
  </div>
<% end %>
