<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading h1">Edit user</h1>
        <%= link_to 'Cancel', company_users_path(@company) %>
      </div>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>
