<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-headin modal-heading-botm h1 company-users-heading"><%= @company.name %> > Users</h1>
        <%= link_to 'Back', company_path(@company.id), {class: "links-li lk1"} %>
      </div>

      <% if @company.admin_seats.present? %>
        <p id="seats-remaining"><%= "#{@company.admin_seats_remaining} Administrator #{'Seat'.pluralize(@company.admin_seats_remaining)} Remaining" %> </p>
      <% end %>

      <table class="company_assignments striped">
        <thead>
          <tr>
            <td class="b21">Name</td>
            <td class="b21" style="text-align: left;">Role</td>
          </tr>
        </thead>
        <tbody>
        <% if @users.present? %>
          <% @users.each do |user| %>
            <tr>
              <td class="body-text1 dd1">
                <%= user.name %>
                <% if user == @company.contact %>*<% end %>
                <% if user.invitation_created_at.present? && user.invitation_accepted_at.blank? %>(Invited)<% end %>
              </td>
              <td class="body-text1 dd1">
                <% if @company.admin_company %>
                  <%= user.role.humanize.titleize %>
                <% elsif current_user.role == User::ROLE_COMPANY_ADMIN %>
                  <% # company admin cannot change their title, but allow a subset change for lesser, not change if not company user %>
                  <% if user.role == User::ROLE_COMPANY_USER || user.role == User::ROLE_FIELD_MEMBER %>
                    <%= form_for(user, url: company_user_path(@company, user)) do |f| %>
                      <% if user.projects.any? %>
                        <%= f.select :role, User::ASSIGNEABLE_ROLES_WHEN_COMPANY_ADMIN ,class: 'dd1'%>
                      <% else %>
                        <%= f.select :role, User::ASSIGNEABLE_ROLES_WHEN_NO_PROJECT_AND_COMPANY_ADMIN ,class: 'dd1'%>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= (user.role == User::ROLE_COMPANY_ADMIN) ? 'Administrator' : '' %>
                  <% end %>
                <% elsif current_user.role == User::ROLE_ADMIN %>
                  <% # admin cannot change their title, but can change others %>
                  <% if current_user == user %>
                    <%= user.role.humanize.titleize %>
                  <% else %>
                    <%= form_for(user, url: company_user_path(@company, user)) do |f| %>
                      <%= f.select :role, User::COMPANY_ROLES ,class: 'dd1'%>
                    <% end %>
                  <% end %>
                <% else %>
                  <% # company user cannot change their title, only have it displayed %>
                  <%= User::ROLE_COMPANY_USER.humanize.titleize %>
                <% end %>
              </td>

              <td class="links-li1">
                <% if user != current_user && user != @company.contact && !(user.company_admin? && current_user.company_admin?) %>
                  <%= link_to 'delete', '#', data: { id: "#{user.id.to_s}" }, class: "delete-confirm material-icons delete-bin" %>
                  <%= render partial: 'layouts/confirm_delete', locals: { company_id: @company.id, user_id: user.id, user_name: user.name } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="row" style="float: right;margin-top: 20px;">
      <%= link_to 'Cancel', company_path(@company.id), {class: "btn white but2 margin-right-20 users-btn-cncl",style: 'float: left;'} %>
      <%= link_to 'Invite New User', new_company_user_path(@company), class: 'waves-effect waves-light btn margin-right-20 btnInviteUser but1 users-btn-asignment' %>
      <%= link_to 'Assign Existing User', new_company_user_path(@company), class: 'waves-effect waves-light btn margin-right-20 btnInviteUser but1 users-btn-asignment' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.delete-confirm').click(function(e) {
    e.preventDefault();
    var user_id = $(this).data('id');
    $('#confirm-delete-user-' + user_id).modal('open');
  });
</script>