<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-headin h1 site-header-bottom">Send Invitation</h1>
        <%= link_to 'Back', company_path(current_user.company), class: 'links-li lk1' %>
      </div>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
