$("html, body").animate({ scrollTop: 0 }, "slow");
$("#flash").html("<div class='chip notice'><%=j flash[:notice] %><i class='material-icons'>close</i></div>");
setTimeout(function(){
  $('#flash .notice').remove();
}, 5000);