<div class="card-panel" id="user-info">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading h1">
          <% if current_user == @user %>
            My Profile
          <% else %>
            Profile: <%= @user.name %>
        <% end %>
      </h1>
      <% if current_user == @user %>
        <%= link_to 'Edit', edit_user_registration_path(back: company_user_path(@user.company, @user)), class: 'links-li2', onClick: "ga('send', 'Internal Link', '#{edit_user_registration_path}  #{current_user.email}');".html_safe  %>
      <% end %>
      <% if @user != current_user and @user != @company.contact and can?(:destroy, @user)%>
        <%= link_to 'Remove User', company_user_path(@company, @user), method: :delete, data: {confirm: 'Are you sure?'}, class: 'links-li2 but2' %>
      <% end %>
    </div>


    <div class="row">
      <div class="col s12 l6">
        <span class="b21"><%= @user.name %></span><br/>
        <span class="b10">
        <%= @company.name %><%= ", #{@user.title}" unless @user.title.blank? %><br/></span>
        <span class="email-link1 lk1"><%= mail_to @user.email %></span><br/>
        <span class="body-text1"> <%= phony_formatted @user.phone_number %></span><br/><hr>
        <span class="subh2">Company Role:</span>&nbsp;&nbsp;<span class="b10"><%= User::COMPANY_ROLE_HASH[@user.role] %><br/></span>
        <% if @user.is_company_contact? %>
          <span class="default-contact body-text15 subh2">Default Company Contact</span>
        <% end %>
      </div>
      <div class="col s12 l6"><span style="float: right;"><%= check_box_tag 'subscription_opt', '1', @user.subscription_opt, disabled: 'disabled' %><label for="subscription_opt">Subscribe to mailing list</label><span class="right"></span></span></div>
    </div>
    <div class="row">
      <div class="col s12 left-align">
      <% if current_user == @user %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, onClick: "ga('send', 'Internal Link', '#{destroy_user_session_path}');".html_safe, class: 'b9c btn' %>
      <% else %>
        <% if can?(:edit, @user) %>
          <%= link_to 'Edit', edit_company_user_path(@company, @user), class: :btn %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>

<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading h1">
          Site Roles
        </h1>
      </div>
      <% if @user.company_admin? || @user.admin? %>
        <p class="body-text1 b8">An administrator has access to all sites.</p>
      <% else %>
        <% if @user.project_assignments.any? %>
          <table id="project_roles" class="table">
            <% @user.project_assignments.each do |assignment| %>
              <tr>
                <td class="body-text1">
                  <%= assignment.project.name %>
                </td>
                <td class="body-text1">
                  <%= ProjectAssignment.role_lookup.fetch(assignment.role, assignment.role.titleize) %>
                </td>
                <td class="links-li2">
                  <% if can?(:destroy, assignment) and @user != current_user && current_user.role != 'field_member' %>
                    <%= link_to 'Remove', project_assignment_path(assignment.project, assignment, {back: company_user_path(@company, @user) }), class: "but2 b9c",
                      method: :delete, data: {confirm: "Are you sure you would like to remove #{@user.name} from #{assignment.project.name}?"}, onClick: "ga('send', 'Internal Link', '#{project_assignment_path(assignment.project, assignment)}');".html_safe %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <% if current_user == @user %>
            You are not assigned to any site.
          <% else %>
            The user is not assigned to any site.
          <% end %>
        <% end %>
        <% if current_user.company_admin? && @user.role != 'field_member' %>
          <div class="projects-actions">
            <br/>
            <%= link_to 'Add site assignment', new_company_user_project_assignment_path(@company, @user) , class: 'waves-effect waves-light btn' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
