<%= form_tag '', class: "page-size-filter-form dd1 dd1",style: 'z-index: 1', method: :get do %>
	  <%= select_tag :page_size, options_for_select(AssetSearch::PAGE_SIZES.map { |pz| [pz, pz] }, @filter_search ? @filter_search.page_size : AssetSearch::PAGE_SIZES[0]), id: 'page-size-sel' %>
<% end %>