<div id="panel-list" style="top:0px" class="card-panel <%= "#{ " resources-card-panel" if show_selection_cell }" %>">
  <div class="<%= show_selection_cell ? 'pb-mn' : 'pb-tn mt-md'%>">
    <div class="row mb-sm">
      <div class="col s12 <%= show_selection_cell ? 'm12 l12' : 'm6 l6'%>">
        <div class="h1"><%= title %></div>
      </div>
      <% if !show_selection_cell %>
        <div class="col s12 m6 l6">

          <div class="filter-list">
            <div class="show-box filter-item">
              <%= render partial: 'shared/asset_page_size_form' %>
            </div>
            <div class="srch-name filter-item">
              <div class="<%= params[:action] == 'sold' ? 'sort-by-date-on-sold' : ''%>">
                <%= render partial: 'shared/assets_sort_form' %>
              </div>
            </div>
          </div>

        </div>
      <% else %>
        <div class="col s12 ">
          <div class="filter-header">
          </div>
        </div>
      <% end %>
    </div>
    <% if show_selection_cell %>
      <div class="row margin-bottom-0 mt-mn">

        <div class="col s6 m6 l8 ">

          <div class="action-filter-form-container" id="assets_filter_form_container">

            <div class="all-select-wrapper radio-btn">
              <%= check_box_tag "asset-select-toggle", nil, false, class: 'filled-in' %>
              <%= content_tag :label, nil, for: "asset-select-toggle" %>
            </div>
            <%= form_tag update_multiple_assets_path, class: "action-filter-form", method: :put do %>
              <div class="select-wrapper">
                <a class="dropdown-button action_border" href="#" data-activates="action-dropdown" data-constrainwidth="false">
                  Actions
                  <span class="caret">▼</span>
                </a>
              </div>
              <ul id="action-dropdown" class="dropdown-content">
                <% actions_for_user(current_user).each do |action| %>
                  <li><a class="assets-header-action" href="#" data-action="<%= action[1] %>"><%= action[0] %></a></li>
                <% end %>
              </ul>

              <% if params[:filter_search] %>
                <% if params[:filter_search][:hide_filters] == 'true' %>
                  <%= hidden_field_tag '[filter_search][hide_filters]', 'true' %>
                  <%= hidden_field_tag '[filter_search][assets_title]', params[:filter_search][:assets_title] %>
                  <% if params[:filter_search][:assets_title] == 'abandoned' %>
                    <%= hidden_field_tag '[filter_search][abandoned]', params[:filter_search][:abandoned] %>
                  <% elsif params[:filter_search][:assets_title] == 'sold' %>
                    <%= hidden_field_tag '[filter_search][sold]', params[:filter_search][:sold] %>
                  <% elsif params[:filter_search][:assets_title] == 'available' %>
                    <%= hidden_field_tag '[filter_search][available]', params[:filter_search][:available] %>
                  <% elsif params[:filter_search][:assets_title] == 'in_use' %>
                    <%= hidden_field_tag '[filter_search][in_use]', params[:filter_search][:in_use] %>
                  <% elsif params[:filter_search][:assets_title] == 'qr_tracked' %>
                    <%= hidden_field_tag '[filter_search][has_qr_code]', params[:filter_search][:has_qr_code]%>
                  <% elsif params[:filter_search][:assets_title] == 'req_maintenance' %>
                    <%= hidden_field_tag '[filter_search][req_maintenance]', params[:filter_search][:req_maintenance]%>
                  <% end %>
                <% end %>
              <% end %>

              <%= hidden_field_tag :asset_action %>
              <%= hidden_field_tag :asset_ids %>
              <%= hidden_field_tag :redirect_to, clear_filters_path %>
              <%#= render partial: 'assets/modal_reallocate_index' %>

              <% if @groups && @groups.length > 0 %>
                <%= render partial: 'assets/modal_assets_link_to_group' %>
              <% end %>
              <%= render partial: 'shared/modal_select_asset_error' %>
              <!-- TODO, Reverting changes for info popup on mass action, 'public', 'sold' <#%= render partial: 'shared/modal_select_rental_error' %>-->

          </div>
            <div class="modal-content-mass col s12 offset-s4" id="reallocate-asset-mass-action" style="display: none;">
              <div class="row">
                <div class="col s2 l2" style="padding: 12px;">
                  <p class="select-label2">Site</p>
                </div>
                <div class="col s10 l10">
                  <%= select_tag :project_id, options_from_collection_for_select(@projects.available, :id, :name, @assets.first.try(:project_id)), class: 'browser-default select2' %>
                </div>
              </div>
              <div class="row" style="margin-right: 1px;">
                <div class="col l4 offset-l4 s4 offset-s3">
                  <%= button_tag 'Reallocate', class: 'alternate-option waves-effect waves-light btn reallocate-action-btn but1', onClick: "ga('send', 'Internal Link', 'Reallocate asset');".html_safe %>
                </div>
                <div class="col s4 l4">
                  <a class="waves-effect waves-light btn white but2" id="remove-realllocate-content" href="#">Cancel</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col s6 m6 l4 right-align ">
          <div class="filter-list">
            <div class="show-box filter-item">
              <%= render partial: 'shared/asset_page_size_form' %>
            </div>
            <div class="srch-name filter-item">
              <div class="<%= params[:action] == 'sold' ? 'sort-by-date-on-sold' : ''%>">
                <%= render partial: 'shared/assets_sort_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>

  <table id="table-assets" class="table my-table  market-mg">
    <%= render partial: 'assets/list', locals: {show_selection_cell: show_selection_cell, assign_tracking_code: assign_tracking_code, tracking_code: tracking_code, group: true} %>
  </table>
</div>
