<%= form_tag '', class: "filter-form ast-srt-n #{params[:controller]}-srt", method: :get do %>
<% maintenance_required_check = params[:filter_search][:assets_title] if params[:filter_search].present?  %>
<%= select_tag :sort, options_for_select(AssetSearch.sorts.keys.reject { |i| i ==  ((maintenance_required_check == 'req_maintenance') ? 'date_created' : 'maintenance_date' )}.map { |s| [s.to_s.titleize, s] }, @filter_search ? @filter_search.sort : nil), id: 'header-sort', class: 'dd1-caret caret_position' %>

<% end %>
