<% if user_signed_in? && current_user.private? and @asset.project_id.present? %>
	<div class="asset-bread-crumb">
		You are here: <span class="lk1"><%= link_to 'All Sites', projects_path, :class => "all-project-link" %> / <%= link_to @asset.project.name, project_path(@asset.project), :class => "project-link" %> &gt;&gt;</span><span class="b3"><%= @asset.title %></span>
	</div>

	<% if @project_id %>
		<script>
			var project_id='<%= @project_id %>';
			var query_string='<%= @query_string %>';
			sessionStorage['project-'+project_id] = query_string;
		</script>
	<% end %>

	<script>
		$(function() {
			var sKey = 'project-<%= @asset.project.id %>';
			if (sessionStorage[sKey]) {
				var href = $('.project-link').attr('href') + sessionStorage[sKey];
				$('.project-link').attr('href', href);
			}
		});
	</script>
<% end %>

