<%= render partial: 'shared/search' %>
<div class="row">
  <% if params[:filter_search] %>
    <% if params[:filter_search][:hide_filters] != 'true' %>
      <div id="filters" class="col s12 m12 l4">
    <% elsif params[:filter_search][:hide_filters] == 'true' %>
      <div id="filters" class="col s12 m12 l4 hide-filters">
    <% end %>
  <% else %>
    <div id="filters" class="col s12 m12 l4">
  <% end %>
      <div class="card-panel">
        <% if assign_tracking_code %>
          <%= render partial: 'shared/filters_for_tracking_code', locals: { clear_filters_path: assets_path(tracking_code: tracking_code), tracking_code: tracking_code }  %>
        <% else %>
          <%= render partial: 'shared/filters', locals: { clear_filters_path: clear_filters_path }  %>
        <% end %>
      </div>
    </div>

  <% if params[:filter_search] %>
    <% if params[:filter_search][:hide_filters] != 'true' %>
      <div class="col s12 m12 l8" id="card-index">
    <% else %>
      <div class="col s12 m12 l12">
    <% end %>
  <% else %>
    <div class="col s12 m12 l8">
  <% end %>

  <%= yield %>
    <% if (params[:controller] == 'assets'  and params[:action] == 'findit' ) %>
      <div id="tab-inventory">
        <%= render partial: 'assets/inventorylist',
          locals: {
            title: "Inventory",
            show_selection_cell: show_selection_cell,
            clear_filters_path: clear_filters_path,
            assign_tracking_code: assign_tracking_code,
            tracking_code: tracking_code,
            group: true,
            type: 'inventory'
          } %>
      </div>
    <%elsif (params[:controller] == 'assets'  and params[:action] == 'checklist' )%>
      <div id="tab-checklist">
        <%= render partial: 'assets/inventorylist',
          locals: {
            title: "Checklist",
            show_selection_cell: show_selection_cell,
            clear_filters_path: clear_filters_path,
            assign_tracking_code: assign_tracking_code,
            tracking_code: tracking_code,
            group: true,
            type: 'checklist'
          } %>
      </div>
    <%elsif%>
      <div id="tab-assets">
        <%= render partial: 'shared/asset_list',
          locals: {
            title: title,
            show_selection_cell: show_selection_cell,
            clear_filters_path: clear_filters_path,
            assign_tracking_code: assign_tracking_code,
            tracking_code: tracking_code,
            group: true
            } %>
      </div>
    <%end%>

  <div id="panel-map" class="card-panel" style="display: none;">
    <h1 class="card-panel-heading"><%= title %></h1>
    <div id="dashboard-map"></div>
  </div>
</div>

<div class=<%= params.has_key?(:tracking_code) ? 'hide-on-med-and-down' : ''%>>
  <%= fab fab_model, tracking_code %>
</div>
