<%url = (params[:controller] == 'assets'  and (params[:action] == 'findit' or params[:action] == 'checklist') ) ? assets_findit_path : assets_path%>
<%= simple_form_for(@filter_search, url: url, method: :get, data: {"data-parsley-validate": ""}) do |f| %>
  <div class="header-link">
    <h1 class="card-panel-heading">Filters</h1>
    <div class="form-actions">
      <%= link_to 'Reset', clear_filters_path %>
      <%= f.button :button, 'Apply Filters', class: 'btn-link1', name: :tracking_code, value: tracking_code %>
    </div>
  </div>
  <%= f.error_notification %>
  <%= f.input :query, as: :hidden %>
  <%= f.input :without_tracking_code, as: :hidden %>
  <%= f.input :sort, as: :hidden %>
  <%= f.input :coordinate, input_html: { value: cookies[:coordinates].present? ? JSON.parse(cookies[:coordinates]).values.join(',') : f.object.coordinate }, as: :hidden %>

  <div class="form-inputs row">
    <div class="col s12">
      <div class="row">
        <%= f.input :equipment, as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'} %>
      </div>

      <div class="row">
        <%= f.input :material, as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'} %>
      </div>

      <div class="row project-filters">
        <%= f.input :project, collection: @projects.order(:name).pluck(:name, :id), label: 'Site', include_blank: 'All Sites', wrapper_html: {class: 'col s12'}, input_html: {class: 'select2'},label_html: {class: 'cb1'} %>
      </div>

      <div class="row category-filters">
        <%= f.input :category, label: '', collection: Category.with_type('material').by_name, include_blank: 'All Categories', wrapper_html: {class: 'col s12 material-categories'}, input_html: {
                                             class: "select2"
                                          }  %>
        <%= f.input :category, label: '', collection: Category.with_type('equipment').by_name, include_blank: 'All Categories', wrapper_html: {class: 'col s12 equipment-categories'},input_html: {
                                             class: "select2"
                                          }  %>
        <%= f.input :category, label: '', collection: Category.by_name, include_blank: 'All Categories', wrapper_html: {class: 'col s12 all-categories'}, input_html: {
                                             class: "select2"
                                          }  %>
      </div>

      <div class="row">
        <%= f.input "distance_miles", collection: %w(Exact 5 10 25 50 100 250), label: 'Within Miles', wrapper_html: {class: 'col s4'}, input_html: { class: "select2"}, label_html: {class: 'cb1'} %>
        <%= f.input "distance_zip",
                    label: 'Of',
                    input_html: { data: {
                                  "parsley-remote-validator": "zipcode",
                                  "parsley-remote": "",
                                  "parsley-error-message": "Enter a valid zip code" }
                    }, wrapper_html: {class: 'col s8'} %>
      </div>
    </div>
  </div>
<% end %>