<%= simple_form_for(@filter_search, url: '', method: :get, data: {"data-parsley-validate": ""}) do |f| %>
  <%reset_url = (params[:controller] == 'assets'  and (params[:action] == 'findit' or params[:action] == 'checklist') ) ? assets_findit_path : clear_filters_path%>
  <div class="header-link">
    <h1 class="h1 panel-bdr">Filters</h1>
    <!-- <div class="form-actions">
      <%= link_to 'Reset', reset_url %>
      <a id="apply-filters" href="#">Apply Filters</a>
    </div> -->
  </div>
  <%= f.error_notification %>
  <%= f.input :query, as: :hidden %>
  <%= f.input :active_tab, as: :hidden, input_html: {id: 'active_tab',name: 'active_tab', value: 'tab-assets'} %>
  <% (f.object.geohash || []).each do |h| %>
    <%= f.input :geohash, as: :hidden, input_html: {multiple: true, value: h} %>
  <% end %>
  <% if controller_name == 'marketplace' %>
    <%= f.input :public, as: :hidden, input_html: {value: '1'} %>
  <% end %>
  <%= f.input :sort, as: :hidden %>
  <%= f.input :page_size, as: :hidden %>
  <% if params[:filter_search] %>
    <% if params[:filter_search][:hide_filters] == "true" %>
      <%= f.input :hide_filters, as: :hidden , input_html: { value: "true"} %>
      <%= f.input :assets_title, as: :hidden , input_html: { value: params[:filter_search][:assets_title]} %>
    <% end %>
  <% end %>
  <%= f.input :coordinate, input_html: { value: cookies[:coordinates].present? ? JSON.parse(cookies[:coordinates]).values.join(',') : f.object.coordinate }, as: :hidden %>
  <div class="form-inputs row search-filters-form" style="margin-top: -30px">
    <div class="col s12">
      <ul class="collapsible box-filter" data-collapsible="accordion">
        <li>
          <div id="asset-type-header" class="collapsible-header asset-filter-header">
            <i class="material-icons right more asset-header-i">expand_more</i>
            <i class="material-icons right less asset-header-i" style="display: none">expand_less</i>
            <span class="subh2">Asset Type</span>
          </div>
          <div id="asset-type" class="collapsible-body asset-filter-container">
            <div id="asset-type-content" class="asset-filter-content">
              <div class="" id="asset-type-filters">
                <div class="row">
                  <%= f.input :equipment, as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                </div>

                <div class="row">
                  <%= f.input :material, as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'} ,label_html: {class: 'cb1'}%>
                </div>

                  <div class="row category-filters cb1">
                  <%= f.input :category, label: 'Categories', collection: Category.with_type('material').by_name, include_blank: 'All Categories', wrapper_html: {class: 'col s12 material-categories'}, input_html: {
                                             class: "select2"
                                          }  %>
                  <%= f.input :category, label: 'Categories', collection: Category.with_type('equipment').by_name, include_blank: 'All Categories', wrapper_html: {class: 'col s12 equipment-categories'},input_html: {
                                             class: "select2"
                                          }  %>
                  <%if controller_name == 'assets'%>
                    <% all_Cat = CategoryGroup.all.map{ |group_category| [group_category.name, group_category.categories] } %>
                    <%= f.input :category, :as => :grouped_select, collection: all_Cat, :group_method => :last,include_blank: 'All Categories', wrapper_html: {class: 'col s12 all-categories'}, input_html: {
                                             class: "select2"
                                          }  %>
                  <%else%>
                    <%= f.input :category, label: 'Categories', collection: Category.by_name, include_blank: 'All Categories', wrapper_html: {class: 'col s12 all-categories'}, input_html: {
                                             class: "select2"
                                          }  %>
                  <%end%>
                </div>

                <% if controller_name != 'marketplace' %>
                  <div class="row">
                    <div class="filters-label cb1">Model/Year</div>
                    <%= f.input :year_min, label: 'Min Model Yr', wrapper_html: {class: 'col s6 model-year'}, input_html: {class: "integers-only ip2", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1900, "parsley-max": 2200}} %>
                    <%= f.input :year_max, label: 'Max Model Yr', wrapper_html: {class: 'col s6 model-year'}, input_html: {class: "integers-only ip2", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1900, "parsley-max": 2200}} %>
                  </div>

                  <div class="non-material-fields">
                    <div class="row">
                      <div class="filters-label cb1">Hours</div>
                      <%= f.input :hours_min, label: 'Min Hrs', wrapper_html: {class: 'col s6 filter-hrs-mls'},
                        input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
                      <%= f.input :hours_max, label: 'Max Hrs', wrapper_html: {class: 'col s6 filter-hrs-mls'}, input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
                    </div>

                    <div class="row">
                      <div class="filters-label cb1">Miles</div>
                      <%= f.input :miles_min, label: 'Min Mls', wrapper_html: {class: 'col s6 filter-hrs-mls'},
                        input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
                      <%= f.input :miles_max, label: 'Max Mls', wrapper_html: {class: 'col s6 filter-hrs-mls'}, input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
       </li>

        <% if controller_name != 'marketplace' %>
          <li>
            <div id="asset-management-header" class="collapsible-header asset-filter-header">
              <i class="material-icons right more asset-header-i">expand_more</i>
              <i class="material-icons right less asset-header-i" style="display: none">expand_less</i>
              <span class="subh2">Asset Management</span>
            </div>
            <div id="asset-management" class="collapsible-body asset-filter-container">
              <div id="asset-management-content" class="asset-filter-content">
                <div class="" id="asset-mangement-filters">
                  <% if controller_name != 'marketplace' %>
                    <div class="row">
                      <%= f.input :req_maintenance, as: :boolean, boolean_style: :inline, label: 'Maintenance', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                    </div>
                    <div class="row">
                      <%= f.input :has_qr_code, as: :boolean, boolean_style: :inline, label: 'Tags', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                    </div>
                    <div class="row">
                      <%= f.input :has_trackers, as: :boolean, boolean_style: :inline, label: 'Trackers', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                    </div>
                  <% end %>
                  <div class="row">
                    <%= f.input :buy, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'Owned' : 'For Sale', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                  </div>

                  <div class="row">
                    <%= f.input :rental, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'Rentals' : 'For Rent', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                  </div>

                  <% if current_user.present? %>
                    <div class="row">
                      <%= f.input :sold, as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                    </div>

                    <% if current_user.company.present? %>
                      <div class="row">
                        <%= f.input :abandoned, as: :boolean, boolean_style: :inline, label: ' Abandoned', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                      </div>
                    <% end %>
                  <% end %>

                  <div class="row">
                    <%= f.input :available, as: :boolean, boolean_style: :inline ,input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                  </div>

                  <div class="row">
                    <%= f.input :in_use, as: :boolean, boolean_style: :inline , label: 'In Use', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'} ,label_html: {class: 'cb1'}%>
                  </div>

                  <div class="row">
                    <%= f.input :public, as: :boolean, boolean_style: :inline , label: 'Marketplace', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                  </div>

                  <div class="row marketplace-filters">
                    <%= f.input :for_sale, as: :boolean, boolean_style: :inline , label: 'For Sale', input_html: {class: 'filled-in marketplace-filter-sale'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                  </div>

                  <div class="row marketplace-filters">
                    <%= f.input :for_rent, as: :boolean, boolean_style: :inline , label: 'For Rent', input_html: {class: 'filled-in marketplace-filter-rent'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                  </div>

                  <div class="row">
                    <% if current_user.private? %>
                      <%= f.input :current_driver, collection: current_user.company.users, include_blank: 'All Drivers', include_hidden: false, wrapper_html: {class: 'col s12 all-categories'}, input_html: {multiple: true, class: 'select2'}  %>  
                    <% end %>
 
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>

        <% if controller_name == 'marketplace' %>
          <% if user_signed_in? %>
            <li>
              <div id="my-assets-header" class="collapsible-header asset-filter-header">
                <i class="material-icons right more asset-header-i">expand_more</i>
                <i class="material-icons right less asset-header-i" style="display: none">expand_less</i>
                <span class="subh2">My Assets</span>
              </div>

              <div id="my-assets" class="collapsible-body asset-filter-container">
                <div id="my-assets-content" class="asset-filter-content">
                  <div class="" id="my-assets-filters">
                    <% if user_signed_in? %>
                      <div class="row">
                        <%= f.input :buy_mine, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'For Sale' : 'For Sale', input_html: {class: 'filled-in mine-assets-sale'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                      </div>

                      <div class="row">
                        <%= f.input :rental_mine, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'For Rent' : 'For Rent', input_html: {class: 'filled-in mine-assets-rental'}, wrapper_html: {class: 'col s12'} ,label_html: {class: 'cb1'}%>
                      </div>
                      <% if !current_user.company.present? %>
                        <div class="row">
                          <%= f.input :expiring_mine, as: :boolean, boolean_style: :inline, label: 'Expiring/Expired',input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="row">
                        <%= f.input :buy_mine, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'Owned/For Sale' : 'For Sale', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                      </div>

                      <div class="row">
                        <%= f.input :rental_mine, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'Rentals/For Rent' : 'For Rent', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                      </div>

                      <div class="row">
                        <%= f.input :expiring_mine, as: :boolean, boolean_style: :inline, label: 'Expiring/Expired',input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <div id="others-assets-header" class="collapsible-header asset-filter-header">
                <i class="material-icons right more asset-header-i">expand_more</i>
                <i class="material-icons right less asset-header-i" style="display: none">expand_less</i>
                <span class="subh2">Other's Assets</span>
              </div>

              <div id="others-assets" class="collapsible-body asset-filter-container">
                <div id="others-assets-content" class="asset-filter-content">
                  <div class="" id="others-assets-filters">
                    <% if user_signed_in? %>
                      <div class="row">
                        <%= f.input :buy_others, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'For Sale' : 'For Sale', input_html: {class: 'filled-in others-assets-forsale' }, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                      </div>

                      <div class="row">
                        <%= f.input :rental_others, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'For Rent' : 'For Rent', input_html: {class: 'filled-in others-assets-forrent' }, wrapper_html: {class: 'col s12'} ,label_html: {class: 'cb1'}%>
                      </div>
                    <% else %>
                      <div class="row">
                        <%= f.input :buy_others, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'Owned/For Sale' : 'For Sale', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                      </div>

                      <div class="row">
                        <%= f.input :rental_others, as: :boolean, boolean_style: :inline, label: (user_signed_in? && current_user.company.present?) ? 'Rentals/For Rent' : 'For Rent', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                      </div>

                      <div class="row">
                        <%= f.input :expiring_others, as: :boolean, boolean_style: :inline, label: 'Expiring/Expired',input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'} %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          <div id="non-collapsible-wrapper">
            <div class="row margin-bottom-0">
              <div id="slider-price-range-wrapper col s12">
                <div class="ip1" style="position: absolute;margin-top: 53px;">min</div>
                <div class="ip1" style="float: right;margin-top: 53px;">max</div>
                <div id="price-range-heading" class="cb1">Price Range</div>
                <div id="slider-price-range"></div>
              </div>
            </div>
            <div class="row">
              <%= f.input :price_min, label: 'Min Price', wrapper_html: {class: 'col s6'}, input_html: {class: "integers-only price-input", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}}%>
              <%= f.input :price_max, label: 'Max Price', wrapper_html: {class: 'col s6'}, input_html: {class: "integers-only price-input", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
            </div>

            <div class="row">
              <div class="filters-label cb1">Model/Year</div>
              <%= f.input :year_min, label: 'Min Model Yr', wrapper_html: {class: 'col s6 model-year'}, input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1900, "parsley-max": 2200}} %>
              <%= f.input :year_max, label: 'Max Model Yr', wrapper_html: {class: 'col s6 model-year'}, input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1900, "parsley-max": 2200}} %>
            </div>

            <div class="non-material-fields">
              <div class="row">
                <div class="filters-label cb1">Hours</div>
                <%= f.input :hours_min, label: 'Min Hrs', wrapper_html: {class: 'col s6 filter-hrs-mls'},
                  input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
                <%= f.input :hours_max, label: 'Max Hrs', wrapper_html: {class: 'col s6 filter-hrs-mls'}, input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
              </div>

              <div class="row">
                <div class="filters-label cb1">Miles</div>
                <%= f.input :miles_min, label: 'Min Mls', wrapper_html: {class: 'col s6 filter-hrs-mls'},
                  input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
                <%= f.input :miles_max, label: 'Max Mls', wrapper_html: {class: 'col s6 filter-hrs-mls'}, input_html: {class: "integers-only", pattern: "[0-9]*", data: {"parsley-type": "integer", "parsley-min": 1, "parsley-max": 1000000}} %>
              </div>
            </div>
          </div>
        <% end %>

        <li>
          <div id="additional-options-header" class="collapsible-header asset-filter-header">
            <i class="material-icons right more asset-header-i">expand_more</i>
            <i class="material-icons right less asset-header-i" style="display: none">expand_less</i>
            <span class="subh2">Additional Options</span>
          </div>
          <div id="additional-options" class="collapsible-body asset-filter-container">
            <div id="additional-options-content" class="asset-filter-content">
              <div class="" id="additional-options-filters">
                <% if controller_name != 'marketplace' and controller_name != 'groups' and controller_name != 'projects' and current_user.present? and current_user.company.present? %>
                  <div class="non-material-fields">
                    <div class="row">
                      <%= f.input :project, collection: current_user.company.projects.available.order(:name).pluck(:name, :id), label: 'Site', include_blank: 'Any Site', wrapper_html: {class: 'col s12'}, input_html: {class: 'select2'},label_html: {class: 'cb1'} %>
                    </div>
                    <div class="row">
                      <%= f.input :group, collection: current_user.company.groups.available.order(:name).map { |g| [g.name, g.id, {'data-project' => g.project_id}] }, label: 'Group', include_blank: 'Any Group', input_html: {class: 'select2'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                    </div>
                  </div>
                <% end %>
                <% if controller_name == 'projects' and current_user.present? and current_user.company.present? %>
                  <div class="non-material-fields">
                    <div class="row">
                      <%= f.input :group, collection: @groups.pluck(:name, :id), label: 'Group',include_blank: 'Any Group', wrapper_html: {class: 'col s12'}, input_html: {class: 'select2'},label_html: {class: 'cb1'} %>
                      </div>
                  </div>
                <% end %>

                <div class="row">
                  <% if controller_name != 'marketplace' and controller_name != 'groups' and controller_name != 'projects' and current_user.present? and current_user.company.present? %>
                      <%= f.input :project, collection: current_user.company.projects.available.order(:name).pluck(:name, :id), label: 'Site', include_blank: 'Site', wrapper_html: {class: 'col s8'}, input_html: {class: 'select2'} ,label_html: {class: 'cb1'}%>
                    <%end%>
                  <%= f.input "distance_miles", as: :select, collection: %w(Exact 5 10 25 50 100 250), label: 'Within Miles', input_html: { class: 'select2'}, wrapper_html: {class: 'col s4'},label_html: {class: 'cb1'} %>
                  <%#= f.input "distance_zip", label: 'Zip Code / Postal Code',
                              input_html: {data: {
                                              "parsley-remote-validator": "zipcode",
                                              "parsley-remote": "",
                                              "parsley-error-message": "Enter valid zipcode with comma seperated country name/code."
                                            }
                                          },
                              wrapper_html: {class: 'col s8'} %>
                </div>

                <!--<div class="row">
                  <#%= f.input :zipcode, label: 'Zip Code / Postal Code', input_html: {class: ''}, wrapper_html: {class: 'col s12'} %>
                </div>-->

                <div class="row">
                  <%= f.input :favorites, as: :boolean, boolean_style: :inline, label: 'Favorite', input_html: {class: 'filled-in'}, wrapper_html: {class: 'col s12'},label_html: {class: 'cb1'} %>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-actions">
    <%= link_to 'Reset', reset_url, class: 'waves-effect waves-light btn white but2' %>
    <%= f.button :button, 'Apply Filters', class: 'but1' %>
  </div>
<% end %>
