<%= form_tag '', class: "#{params[:controller] == 'projects' ? 'dd1 page-size-filter-form' : ' '} page-size-filter-form",style: 'z-index: 1', method: :get do %>
  <%= select_tag :page_size, options_for_select(GroupSearch::PAGE_SIZES.map { |pz| [pz, pz] }, @group_filter_search ? @group_filter_search.page_size : GroupSearch::PAGE_SIZES[0]), id: 'group-page-size-sel' %>
<% end %>
