<% hide ||= false %>
<% content_for :search do %>
  <nav role="navigation" class="nav-search group-search-nav
  <% if hide %>hide<% end %>">
    <div class="nav-wrapper container">
      <%= form_tag nil, id: 'group-search-form', method: :get do %>
        <div class="input-field">
          <input id="group-nav-search" type="search" name="g_query"
            placeholder="Search"
            value="<%= @group_filter_search ? @group_filter_search.query : nil %>">
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons nav-close" id="group-nav-search-clear">close</i>
        </div>
      <% end %>
      <a id="toggle-filters" class="waves-effect waves-light btn">Filter</a>
    </div>
  </nav>
<% end %>
