<div class="fixed-action-btn fab-helper-main">
  <div class="fab-helper-sub">
    <a class="btn-floating btn-large">
      <i class="large material-icons">live_help</i>
    </a>
    <ul style="top: inherit;">
      <li><a class="btn-floating" id="videos-box-link"><i class="material-icons">videocam</i></a></li>
      <li><a id="Intercom" class="btn-floating"><i class="material-icons" style="background-color: #FD4F00;">chat</i></a></li>
    </ul>
  </div>
</div>
<div class="videos-box" id="videos-box">
  <div class="videos-box-header">Video Help <a class="videos-box-cancel"><i class="material-icons">close</i></a></div>
  <div class="video-box-content">
    <% if Video.find_by_page_name(controller_name) %>
    <% videos = Video::get_videos %>
    <% videos.each_with_index do |vid, ind| %>
      <% if controller_name == vid.page_name %>
        <div class="row video-link-div">
          <a class="video-help-link lightbox fancybox.iframe" data-video-id="<%= vid.id %>" href="<%= vid.url %>">
           <div class="col s1" style="padding-left: 0;"> <i class="material-icons tenna-blue" style="font-size: 27px;">play_circle_outline</i></div>
            <div class="col s9" style="padding-right: 0;"><span><%= vid.description %></span></div>
            <div class="col s2" style="padding-left: 0; padding-right: 0;">
              <% if vid.emphasis_indicator == 'HOT' %>
                <i class="fa fa-fire" aria-hidden="true" style=" color: #f9a048; font-size: 18px; position: relative; right: -4px; top: -2px;"></i>
              <% elsif vid.emphasis_indicator == 'NEW' %>
                <i class="fa fa-star" aria-hidden="true" style=" color: #FFD700; font-size: 18px; position: relative; right: -4px; top: -2px;"></i>
              <% elsif vid.emphasis_indicator == 'POPULAR' %>
                <i class="fa fa-rocket" aria-hidden="true" style=" color: #0fd852; font-size: 18px; position: relative; right: -4px; top: -2px;"></i>
              <% elsif vid.emphasis_indicator == 'IMPORTANT' %>
                <i class="fa fa-exclamation" aria-hidden="true" style=" color: #ed4e04; font-size: 18px; position: relative; right: -4px; top: -2px;"></i>
              <% end %>
              <% if current_user.video_usages.pluck(:video_id).map(&:to_i).uniq.include?(vid.id) %>
                  <i class="material-icons" style=" color: #6DAA00; font-size: 18px; position: relative; right: -10px; top: 2px;">check_circle</i>
              <% end %>
            </div>
          </a>
        </div>
        <% unless ind == videos.length-1 %>
          <div class="col s12"><hr style="margin-top: 15px; border: 1px solid #F0F0F0;"></div>
        <% end %>
      <% end %>
          <!--<p><%#= current_user.video_usages %></p>-->
      <% end %>
    <% else %>
      <div class="row"><div class="col s12">Videos coming soon!</div></div>
    <% end %>
  </div>
</div>
