<ul>
  <% if Rails.env.development? %>
    <li class="b1"><%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank'%></li>
    <li class="b1"><%= link_to 'Terms & Conditions', terms_path, target: '_blank' %></li>
    <li class="b1"><%= link_to 'Contact Us', contact_us_path, target: '_blank' %></li>
  <% elsif Rails.env.staging? %>
    <li class="b1"><%= link_to 'Privacy Policy', 'http://tennamarketing.lumenoweb.com/privacy-policy/', target: '_blank'%></li>
    <li class="b1"><%= link_to 'Terms & Conditions', 'http://tennamarketing.lumenoweb.com/terms/', target: '_blank' %></li>
    <li class="b1"><%= link_to 'Contact Us', 'http://tennamarketing.lumenoweb.com/contact-us/', target: '_blank' %></li>
  <% elsif Rails.env.production? %>
    <li class="b1"><%= link_to 'Privacy Policy', 'http://www.tenna.com/privacy-policy/', target: '_blank'%></li>
    <li class="b1"><%= link_to 'Terms & Conditions', 'http://www.tenna.com/terms/', target: '_blank' %></li>
    <li class="b1"><%= link_to 'Contact Us', 'http://www.tenna.com/contact-us/', target: '_blank' %></li>
  <% end %>
</ul>
