<div id="select-rental-error" class="modal">
  <div class="modal-content">
    <h4>Information</h4>
    <p>Action cannot be performed on some of the selected assets, Please check and reselect.<br/>Example, <b>“Rental”</b> cannot be sold or moved to marketplace. </p>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s2">
        <a href="#!" class="waves-effect waves-light btn modal-action modal-close">OK</a>
      </div>
    </div>
  </div>
</div>
