<div id="select-asset-error" class="modal">
  <div class="modal-content">
    <h4>Oops</h4>
    <a href="#!" class="modal-action modal-close">Cancel</a>
    <p>Please select the assets to perform this action on.</p>
  </div>
  <div class="modal-footer"></div>
</div>
