<% hide ||= false %>
<% content_for :search do %>
  <nav role="navigation" class="nav-search asset-search-nav <% if hide %>hide<% end %>">
    <div class="nav-wrapper container">
      <%= form_tag nil, id: 'search-form', method: :get do %>
        <div class="input-field">
          <input id="nav-search" type="search" name="query" class="ip3"
            placeholder="Search"
            value="<%= @filter_search ? @filter_search.query : nil %>">
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons nav-close" id="nav-search-clear">close</i>
        </div>
      <% end %>
      <a id="toggle-filters" class="waves-effect waves-light btn">Filter</a>
    </div>
  </nav>
<% end %>
