<div class="social-links">
  <a href="https://www.youtube.com/channel/UCwqeRPqA_cNtbhjTQoM8bFQ?guided_help_flow=3" target="_blank">
    <i class="fa fa-youtube" aria-hidden="true"></i>
  </a>
  <a href="https://www.linkedin.com/company/tennaco" target="_blank">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
  <a href="https://www.facebook.com/TennaCo/" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://twitter.com/Tenna_Co" target="_blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
</div>
