<div class="swiper-container">
  <div class="swiper-wrapper">
    <% if swiper.photos.present? %>
      <% swiper.photos.each do |photo| %>
        <div class="swiper-slide">
          <%= image_tag(photo.file.url, class: 'responsive-img') %>
        </div>
      <% end %>
    <% else %>
      <div class="swiper-slide">
        <%= image_tag('img-no-image-available-large.jpg', class: 'responsive-img') %>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
