<% versions = versions || @versions %>
<% company_wide = defined?(@company_wide) && @company_wide %>
<% if versions.total_count > 0 %>
  <table class="striped versions-table">
    <thead>
    <tr>
      <th>Category</th>
      <th>Sub Category</th>
      <% if company_wide %>
        <th>Asset Name</th>
      <% end %>
      <th>Date</th>
      <th>Action</th>
      <th>New</th>
      <th>Old</th>
      <th>User</th>
    </tr>
    </thead>
    <tbody>
    <% versions.each do |version| %>
      <tr>
        <% if version.asset_id %>
          <td><%= version.category_group.split("-").join(" ").humanize if version.category_group %></td>
          <td><%= version.category_name.split("-").join(" ").humanize if version.category_name %></td>
        <% else %>
          <td><%= version.wanted_category_group.split("-").join(" ").humanize if version.wanted_category_group %></td>
          <td><%= version.wanted_category_name.split("-").join(" ").humanize if version.wanted_category_name %></td>
        <% end %>
        <% if company_wide %>
          <% if version.asset_id %>
            <td><%= version.asset_title %></td>
          <% else %>
            <td><%= version.wanted_asset_title %></td>
          <% end %>
        <% end %>
        <td><%= DateTime.parse(version.created_at).in_time_zone.strftime('%m/%d/%Y %I:%M %p %Z') %></td>
        <td><%= version_action_label(version) %></td>
        <td><%= version_value(version, 'to') %></td>
        <td><%= version_value(version, 'from') %></td>
        <td><%= version.whodunnit_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No history to show.</p>
<% end %>

<script>
  <% if company_wide %>
    $(document).ready(function() {
      $(".striped").DataTable({
        "destroy": true,
        "bFilter": false,
        "bLengthChange": false,
        "pageLength": 25,
        "order": [1, "desc"]
      });
    });
  <% else %>
    $(document).ready(function() {
      $(".striped").DataTable({
        "destroy": true,
        "bFilter": false,
        "bLengthChange": false,
        "pageLength": 25,
        "order": [0, "desc"]
      });
    });
  <% end %>
</script>
