<%= form_tag '', class: 'filter-form', method: :get do %>
  <%= select_tag :sort, options_for_select(WantedAssetSearch.sorts.keys.map { |s| [s.to_s.titleize, s] }, @filter_search ? @filter_search.sort : nil), id: 'header-sort' %>
<% end %>
