<div id="not_subscribed">
  <div class="row">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <div class="row">
        <div class="col s12 m12 l12">
        <span class="title-text-big-orange">
          Schedule It is an optional Premium selection...
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text">
          The Tenna <span style="color: #fd4f00;">Schedule It</span> feature helps you find more time in your day.  You can plan ahead and assign equipment to future projects or to maintenance, and even get reminder notifications about equipment assignments. You improve your asset utilization, and keep your projects on time.
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text contact-text">
          <div>Contact us if you wish to subscribe.</div>
          <div id="mail-div"><%= mail_to 'support@tenna.com' %></div>
          <div>844.502.8453</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l9">
      <div class="row v-h-align center ie-center">
        <div class="not-subscribed-schedule-it-image not-subscribed-img-generic-css v-h-align" style="align-self: center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
