<% if @company_schedule_subscription%>
<div id="bs_scheduler" class="dhx_cal_container" style='width:100%; height:800px;'>
 <div class="dhx_cal_navline">
   <div class="dhx_cal_prev_button b6">&nbsp;</div>
   <div class="dhx_cal_next_button b6">&nbsp;</div>
   <div class="dhx_cal_today_button b6"></div>
   <div class="dhx_cal_date b21"></div>
   <div class="dhx_cal_tab b6" name="day_tab" style="right:204px;"></div>
   <div class="dhx_cal_tab b6" name="week_tab" style="right:140px;"></div>
   <% if !browser.device.mobile? %>
    <div class="dhx_cal_tab b6" name="month_tab" style="right:76px;"></div>
   <% end %>
 </div>
 <div class="dhx_cal_header b17">
 </div>
 <div class="dhx_cal_data">
 </div>
</div>

<script>
  var hideId = [];

  var valid = false;
  for (var i = 0; i < hideId.length; i++) {
    $(".dhx_cal_event[event_id='"+hideId[i]+"']").hide();
  }

  //since we remove materialize js, we need to make sure mobile navbar works manually
  $(function() {
    function closeSideNav() {
      $('#sidenav-overlay').remove();
      $('#nav-mobile').css('left', '-105%');
    }
    $('a[data-activates="nav-mobile"]').click(function() {
      $('#nav-mobile').css('left', '0px');
      $('body').append('<div id="sidenav-overlay" style="opacity: 1;" class=""></div>');
    });


    $('body').on('touchstart click', '#sidenav-overlay', function() {
      console.log('touchstart');
      closeSideNav();
    });
  });
  var valid = false;
  var events = <%= @events_json.html_safe %>;
  var routes = <%= @routes.html_safe %>;
  var assets = <%= @assets.html_safe %>;
  var users = <%= @users.html_safe %>;
  scheduler.locale.labels.section_eventtype = 'Event Type';
  scheduler.locale.labels.section_routing = 'Routing';
  scheduler.locale.labels.section_asset = 'Asset';
  scheduler.locale.labels.section_users = "Users to be notified";
  scheduler.config.server_utc = true;
  scheduler.config.occurrence_timestamp_in_utc = true;
  scheduler.config.prevent_cache = true;
  scheduler.config.lightbox.sections=[
  {name:"description", height:130, map_to:"text", type:"textarea" , focus:true},
  {name:"time", time_format:["%H:%i","%m","%d","%Y"]}
];

  scheduler.config.xml_date="%Y-%m-%d %H:%i";
  scheduler.config.api_date="%Y-%m-%d %H:%i";
  //open the details page on a double click
  scheduler.config.details_on_create=true;
  scheduler.config.details_on_dblclick = true;
  scheduler.config.time_step = 30;
  scheduler.config.event_duration = 30;
  scheduler.config.auto_end_date = true;

  scheduler.form_blocks["single_select"] = {
    render:function(sns) {
      var options="";
      for (var i=0; i<sns.options.length;i++) {
        options += (
          "<option value='" + sns.options[i].key+"'>" + sns.options[i].label+"</option>"
        );
      }
      return "<div class='dhx_cal_ltext' style='height:auto;'><select class='select browser-default'>"+options+"</select></div>";
    },
    set_value:function(node, value, ev) {
      var $select = $(node).find('select');
      $select.val(value);
    },
    get_value:function(node, ev) {
      var $select = $(node).find('select');
      return $select.val();
    },
    focus:function(node) {
      var $select = $(node).find('select');
      $select.focus();
    }
  };
  scheduler.form_blocks["multiple_select"] = {
    render:function(sns) {
      var options="";
      for (var i=0; i<sns.options.length;i++) {
        options += (
          "<option value='" + sns.options[i].key+"'>" + sns.options[i].label+"</option>"
        );
      }

      return "<div class='dhx_cal_ltext' style='height:auto;'><select multiple class='select browser-default'>"+options+"</select></div>";
    },
    set_value:function(node, value, ev) {
      var $select = $(node).find('select');
      if (value && value.length > 0) {
        $select.val(value.split(','));
      } else {
        $select.val([]);
      }
    },
    get_value:function(node, ev) {
      var $select = $(node).find('select');
      return ($select.val() || []).join(',');
    },
    focus:function(node) {
      var $select = $(node).find('select');
      $select.focus();
    }
  };

  scheduler.config.lightbox.sections=[
    {
      name: "eventtype",
      height: 30,
      map_to: "event_type",
      type: "radio",
      options: [
        {key: "maint", label: 'Maintenance'},
        {key: "routing", label: 'Routing'},
        {key: "other", label: 'Other'},
      ]
    },
    {
      name: "routing",
      height: 30,
      map_to: "route_id",
      type: "single_select",
      options: routes
    },
    {
      name: "asset",
      height: 30,
      map_to: "asset_id",
      type: "single_select",
      options: assets
    },
    {
      name: "users",
      height: 'auto',
      map_to: "user_ids",
      type: "multiple_select",
      options: users
    },
    {
      name:"description",
      height:200,
      map_to:"text",
      type:"textarea" ,
      focus:true
    },
    {
      name: "recurring",
      map_to: "rec_type",
      type: "recurring",
      button: "recurring"
    },
    {
      name:"time",
      height:72,
      type:"time",
      map_to:"auto"
    }
  ];
  scheduler.__recurring_template=[
    '<div class="dhx_form_repeat">',
      '<form class="row">',
        '<div class="dhx_repeat_left">',
          '<input class="dhx_repeat_radio" id="dday" type="radio" name="repeat" value="day" /><label for="dday">Daily</label><br />',
          '<input class="dhx_repeat_radio" type="radio" name="repeat" id="dweek" value="week"/><label for="dweek">Weekly</label><br />',
          '<input class="dhx_repeat_radio" type="radio" name="repeat" id="dmonth" value="month" checked /><label for="dmonth">Monthly</label><br />',
          '<input class="dhx_repeat_radio" type="radio" id="dyear" name="repeat" value="year" /><label for="dyear">Yearly</label>',
        '</div>',
        '<div class="dhx_repeat_divider"></div>',
        '<div class="dhx_repeat_center">',
          '<div style="display:none;" id="dhx_repeat_day">',
            '<input class="dhx_repeat_radio" type="radio" id="devery" name="day_type" value="d"/><label for="devery">Every</label>',
            '<input class="dhx_repeat_text" type="number" name="day_count" oninput="maxLengthCheck(this)" maxlength="2" value="1" min="1" step="1" max="7"  style="width:40px;"/>day<br />',

            '<input class="dhx_repeat_radio" id="dworkday" type="radio" name="day_type" checked value="w"/><label for="dworkday">Every workday</label>',
          '</div>',
          '<div style="display:none;" class="b15" id="dhx_repeat_week">',
            'Repeat every<input class="dhx_repeat_text" type="number" min="1"  step="1" oninput="maxLengthCheckWeek(this)" name="week_count" max="4" value="1" />week next days:<br />',
            '<table class="dhx_repeat_days">',
              '<tr>',
                '<td>',
                  '<input class="dhx_repeat_checkbox filled-in" id="ch_mon" type="checkbox" name="week_day" value="1" /><label for="ch_mon">Monday</label><br />',
                  '<input class="dhx_repeat_checkbox filled-in" type="checkbox" id="ch_thu" name="week_day" value="4" /><label for="ch_thu">Thursday</label>',
                '</td>',
                '<td>',
                  '<input class="dhx_repeat_checkbox filled-in" id="ch_tue" type="checkbox" name="week_day" value="2" /><label for="ch_tue">Tuesday</label><br />',
                  '<input class="dhx_repeat_checkbox filled-in" type="checkbox" id="ch_fri" name="week_day" value="5" /><label for="ch_fri">Friday</label>',
                '</td>',
                '<td>',
                  '<input class="dhx_repeat_checkbox filled-in" type="checkbox" id="ch_wed" name="week_day" value="3" /><label for="ch_wed">Wednesday</label><br />',
                  '<input class="dhx_repeat_checkbox filled-in" id="ch_sat" type="checkbox" name="week_day" value="6" /><label for="ch_sat">Saturday</label>',
                '</td>',
                '<td>',
                  '<input class="dhx_repeat_checkbox filled-in" type="checkbox" name="week_day" value="0" id="ch_sun"/><label for="ch_sun">Sunday</label><br /><br />',
                '</td>',
              '</tr>',
            '</table>',
          '</div>',
          '<div id="dhx_repeat_month" class="b15">',
            'Repeat by:&nbsp;&nbsp;<input id="dofmonth" class="dhx_repeat_radio b15" type="radio" name="month_type" value="d"/><label for="dofmonth">&nbsp;day of the month&nbsp;&nbsp;</label><br>',
            '<div class="day-of-month b15">',
              'Repeat&nbsp;',
              '<input class="dhx_repeat_text b15" type="number" oninput="maxLengthCheckMonth(this)" name="month_day" value="1" step="1" min="1" max="31" style="width: 40px;"/>day every',
              '<input class="dhx_repeat_text b15" type="number" oninput="maxLengthCheckMonth(this)" name="month_count" value="1" step="1" min="1" max="12" />month<br />',
            '</div>',
            'Repeat by:&nbsp;&nbsp;<input id="dofweek" class="dhx_repeat_radio b15" type="radio" name="month_type" checked value="w"/><label for="dofweek">&nbsp;day of the week</label><br>',
            '<div class="day-of-week b15">',
              'Repeat&nbsp;',
              '<input class="dhx_repeat_text b15" type="number" min="1" step="1" name="month_week2" oninput="maxLengthCheckWeek(this)" value="1" max="4" />',
              '<select name="month_day2" class="b15">',
                '<option value="1" selected >Monday',
                '<option value="2">Tuesday',
                '<option value="3">Wednesday',
                '<option value="4">Thursday',
                '<option value="5">Friday',
                '<option value="6">Saturday',
                '<option value="0">Sunday',
              '</select>',
              'every<input class="dhx_repeat_text" type="number" oninput="maxLengthCheckMonth(this)" name="month_count2" value="1" step="1" min="1" max="12" />month<br />',
            '</div>',
          '</div>',
          '<div style="display:none;" id="dhx_repeat_year">',
            '<input class="dhx_repeat_radio b15" type="radio"  id="dyearevery" name="year_type" value="d"/><label for="dyearevery">Every</label>',
            '<input class="dhx_repeat_text b15" name="year_day" oninput="maxLengthCheckMonth(this)" value="1" type="number" min="1" step="1" max="31"/>day',
            '<select name="year_month"  class="b15"><option value="0" selected >January<option value="1">February<option value="2">March<option value="3">April<option value="4">May<option value="5">June<option value="6">July<option value="7">August<option value="8">September<option value="9">October<option value="10">November<option value="11">December</select>month<br />',
            '<input class="dhx_repeat_radio b15"  id="dyearon" type="radio" name="year_type" checked value="w"/><label for="dyearon">On</label>',
            '<input class="dhx_repeat_text b15" type="number" name="year_week2" oninput="maxLengthCheckWeek(this)"" value="1" step="1" min="1" max="4" />',
            '<select name="year_day2" class="b15"><option value="1" selected >Monday<option value="2">Tuesday<option value="3">Wednesday<option value="4">Thursday<option value="5">Friday<option value="6">Saturday<option value="7">Sunday</select>of<select name="year_month2"><option value="0" selected >January<option value="1">February<option value="2">March<option value="3">April<option value="4">May<option value="5">June<option value="6">July<option value="7">August<option value="8">September<option value="9">October<option value="10">November<option value="11">December</select><br />',
          '</div>',
        '</div>',
        '<div class="dhx_repeat_divider"></div>',
        '<div class="dhx_repeat_right">',
          '<input class="dhx_repeat_radio" type="radio"  id="noenddate" name="end" checked/><label for="noenddate">No end date</label><br />',
          '<input class="dhx_repeat_radio" id="rafter" type="radio" name="end" /><label for="rafter">After</label>',
          '<input class="dhx_repeat_text" type="number" min="1" style="width:40px !important" oninput=numberOnly(this) name="occurences_count" value="1" />occurrences<br />',
          '<input class="dhx_repeat_radio"  id="endby" type="radio" name="end" /><label for="endby">End by</label>',
          '<input class="dhx_repeat_date" type="text" id="last_date" style="width: 100px !important;" name="date_of_end" value="'+scheduler.config.repeat_date_of_end+'" /><br />',
        '</div>',
      '</form>',
    '</div>',
    '<div style="clear:both"></div>'
  ].join('');
  scheduler.attachEvent("onViewChange", function (){
    //any custom logic here
      for (var i = 0; i < hideId.length; i++) {
        $(".dhx_cal_event[event_id='"+hideId[i]+"']").css({"display": "none !important"});
      }
  });
  scheduler.attachEvent("onAfterLightbox", function (){
    //show .dhx_cal_data div scroll
    $('.dhx_cal_data').removeClass('hide-scroll');
  });
  scheduler.attachEvent("onBeforeLightbox", function (id){
    //hide .dhx_cal_data div scroll
    $('.dhx_cal_data').addClass('hide-scroll');
    var scheduledDateObject = scheduler.getEvent(id);
    var scheduledDate = scheduledDateObject.start_date.getTime();
    var currentDate = new Date().getTime();
    var dateDifference = currentDate - scheduledDate;
    if(dateDifference <= 0)
    {
      valid = true;
      return true;
    }
    else if(typeof scheduledDateObject.user_ids == "undefined")
    {
      alert("Please select a time in the future.");
      scheduler.deleteEvent(id);
      return false;
    }
    else
    {
      valid = true;
      return true;
    }
  });
  scheduler.attachEvent("onLightbox", function(id){
    var scheduledDateObject = scheduler.getEvent(id);
    var scheduledDate = scheduledDateObject.start_date.getTime();
    var currentDate = new Date().getTime();
    var dateDifference = currentDate - scheduledDate;
    if(dateDifference < 0 || valid)
    {
      var event = scheduler.getEvent(id);
      var $typeCtl = $(scheduler.formSection("eventtype").node)
        .find("input[type=radio]");
      var $routingCtl = $(scheduler.formSection("routing").node).find('select');
      var $routingWrap = $routingCtl.closest('.dhx_wrap_section');

      var $assetCtl = $(scheduler.formSection("asset").node).find('select');
      var $assetWrap = $assetCtl.closest('.dhx_wrap_section');

      var $userCtl = $(scheduler.formSection("users").node).find('select');

      if (event.event_type && event.event_type.length > 0) {
        $typeCtl.prop('disabled', 'disabled');
        if (event.event_type == "routing" && event.route_id) {
          $routingCtl.prop('disabled', 'disabled');
          $routingWrap.css('display', 'block');
          $assetWrap.css('display', 'none');
        }

        if (event.event_type == "maint" && event.asset_id) {
          $assetCtl.prop('disabled', 'disabled');
          $routingWrap.css('display', 'none');
          $assetWrap.css('display', 'block');
        }

        if (event.event_type == "other") {
          $routingWrap.css('display', 'none');
          $assetWrap.css('display', 'none');
        }
      } else {
        $typeCtl.on('change', function() {
          var val = $(this).val();
          if (val == 'routing') {
            $routingWrap.css('display', 'block');
            $assetWrap.css('display', 'none');

          } else if (val == 'maint') {
            $routingWrap.css('display', 'none');
            $assetWrap.css('display', 'block');
          } else {
            $routingWrap.css('display', 'none');
            $assetWrap.css('display', 'none');
          }
        });

        $routingWrap.css('display', 'block');
        $assetWrap.css('display', 'block');
        $typeCtl.prop('disabled', '');
        $assetCtl.prop('disabled', '');
        $routingCtl.prop('disabled', '');
      }

      $routingCtl.select2();
      $assetCtl.select2();
      $userCtl.select2();
      $(".dhx_form_repeat select").css("display", "-webkit-inline-box");
    }
    else
    {
      alert("Please select a valid date.");
    }
  });
  scheduler.attachEvent("onEventSave",function(id,ev,is_new){
    // if(new Date($("#last_date").val()))
    // if($("#last_date").val() != "")
    if (!ev.event_type) {
      alert("Please select event type!");
      return false;
    } else {
      if (ev.event_type == 'routing' && !ev.route_id) {
        alert("Pleaes select a route!");
        return false;
      }
      if (ev.event_type == 'maint' && !ev.asset_id) {
        alert("Please select a asset!");
        return false;
      }
      if (!ev.user_ids) {
        alert("Please select users to get notified!");
        return false;
      }
      if (!ev.text) {
        alert("Please input description!");
        return false;
      }
      if (ev.start_date < new Date()) {
        alert("Please select a time in the future.");
        return false;
      }
    }
    ss = ev.start_date.getTime();
    en = ev.end_date.getTime();
    if(ss > en)
    {
        alert("Please Select a valid period!");
        return false;
    }
    var dateReg = /^\d{2}[./.]\d{2}[./.]\d{4}$/
    if($("#last_date").val() == dateReg)
    {
      alert("Please input correct date format! The format is MM.DD.YYYY");
      return false;
    }
    var datevalues = $("#last_date").val();
    var datearray = datevalues.split(".");
    var datereverse = datearray[2] + "-" + datearray[0] + "-" + datearray[1];
    ev._end_date = new Date(datereverse);
    if (ev._end_date && isNaN(ev._end_date.getTime())) {
      alert("Please input correct date format! The format is MM.DD.YYYY");
      return false;
    }

    return true;
  })
  <% if @asset %>
    var backPath = '?back=<%= asset_path(@asset.id) %>';

    scheduler.attachEvent("onEventChanged", function(id,ev){
      window.location.href = '<%= edit_asset_path(@asset) %>'+backPath;
    });
    scheduler.attachEvent("onEventAdded", function(id,ev){
      window.location.href = '<%= edit_asset_path(@asset) %>'+backPath;
    });
    scheduler.attachEvent("onEventCancel", function(id, flag){
      window.location.href = '<%= edit_asset_path(@asset) %>'+backPath;
    });
    scheduler.attachEvent("onEventDeleted", function(id){
      window.location.href = '<%= edit_asset_path(@asset) %>'+backPath;
    });
  <% end %>
  initResponsive(scheduler);
  scheduler.init("bs_scheduler");

  scheduler.parse(events, 'json');

  var dp = new dataProcessor("<%= event_action_path %>");
  dp.init(scheduler);
  dp.setTransactionMode("GET", false);

  window.setTimeout(function(){
    <% if @event %>
      scheduler.showLightbox(<%= @event.id %>);
    <% elsif @asset %>
      var event_id = scheduler.addEventNow({
        start_date: "<%= Date.current().to_s(:db) %> 09:00",
        end_date:   "<%= Date.current().to_s(:db) %> 12:00",
        text:   "This is a scheduled maintenance for <%= @asset.title %>",
        event_type: "maint",
        asset_id: '<%= @asset.id %>',
        user_ids: '',
        route_id: null
      });
    <% end %>
  }, 300);

  function maxLengthCheck(object)
  {
    object.maxLength = 1;
    if(object.value == "")
      object.value = object.value.slice(0, object.maxLength)
    else if (object.value > 7)
      object.value = 7;
    else if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
  function maxLengthCheckWeek(object)
  {
    object.maxLength = 1;
    if(object.value == "")
      object.value = object.value.slice(0, object.maxLength)
    else if (object.value > 4)
      object.value = 4;
    else if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
  function maxLengthCheckMonth(object)
  {
    object.maxLength = 2;
    if(object.value == "")
      object.value = object.value.slice(0, object.maxLength)
    else if (object.value > 12 && object.name == "month_count")
      object.value = 12;
    else if (object.value > 12 && object.name == "month_count2")
      object.value = 12;
    else if (object.value > 31 && object.name == "month_day")
      object.value = 31;
    else if (object.value > 31 && object.name == "year_day")
      object.value = 31;
    else if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
  function numberOnly(object)
  {
    if(object.value == "")
      object.value = object.value.slice(0, object.maxLength)
  }
</script>
<%else%>
  <%= render partial: 'events/not_subscribed.html' %>
<%end%>
<style type="text/css">
  .dhx_repeat_date{
    width: 110px !important;
  }
</style>
