<p>Hello <%= @customer.first_name%>,<br/>

We have received your email regarding you</b> want to <%=@customer.lead_type.humanize %> about Tenna we will reach you shortly.<br/><br/>

  Thanks<br/>
</p>
