<p>Hello Tenna,<br/>

User <b><%= @customer.first_name %> <%= @customer.last_name %></b> want <%= @customer.lead_type.humanize%> about Tenna.<br/><br/>

  <b>User's information:</b><br/><br/>
  <b>Email:</b> <%= @customer['email'] %><br/><br/>

  Thanks<br/>
  --Tenna Mailer
</p>
