<p>Hello Tenna,<br/>
  &nbsp;&nbsp;&nbsp;User <b><%= @lead_email_params['first_name'] %> <%= @lead_email_params['last_name'] %></b> want to learn more about Tenna.<br/><br/>

  <b>User's information:</b><br/><br/>
  <b>Email:</b> <%= @lead_email_params['email'] %><br/><br/>
  <b>PDF Downloaded:</b> <%= @lead_email_params['pdf_type'] %><br/><br/>


  Thanks<br/>
  --Tenna Mailer
</p>
