<div id="lead-email" class="modal dl-pdf-form">
  <div class="modal-content">
    <a href="#!" class="modal-action modal-close">Cancel</a>
    <div class="row">
      <%= simple_form_for '', url: leads_mailer_mail_path(@lead_email_params) ,
                          html: {id: :leads_form, data: {"data-parsley-validate": ""}} do |f| %>
          <%= f.error_notification %>
          <%= f.input :pdf_type, as: :hidden, input_html: {id: :pdf_name} %>
          <div class="row">
            <%= f.input :first_name, label: 'First Name', required: true, autofocus: true, wrapper_html: {class: 'col s12'} %>
          </div>

          <div class="row">
            <%= f.input :last_name, label: 'Last Name', required: true, wrapper_html: {class: 'col s12'} %>
          </div>

          <div class="row">
            <%= f.input :email, label: 'Email', required: true, wrapper_html: {class: 'col s12', id:'lead_popup_email'} %>
          </div>
          <div class="input-field col s12 center">
            <%= f.button :button, 'DOWNLOAD PDF', id: 'download_pdf' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
