<div class="wrapper">
  <section class="about-us-intro">
    <%= render partial: 'pages/about_us_partials/intro'%>
  </section>
  <section class="dark-section our-approach">
    <%= render partial: 'pages/about_us_partials/our_approach'%>
  </section>
  <section class="our-values">
    <%= render partial: 'pages/about_us_partials/our_values'%>
  </section>
  <!--<section class="dark-section affiliations">-->
    <%#= render partial: 'pages/about_us_partials/affiliations'%>
  <!--</section>-->
  <section class="white-section2 leadership">
    <%= render partial: 'pages/about_us_partials/leadership'%>
  </section>
</div>
<section class="learn-more-form">
  <%= render partial: 'pages/homepage_partials/learn_more_footer'%>
</section>
