<br/>
<h4>Contact Us</h4>
<div class="pages-container">
  <div class="row">
    <div class="col s12">
      <p>For more information please contact a Business Development Team Member in Your Region:</p>
      <p>Contact Us <br/>
        <p>
          <b>Tenna.com</b> <br/>
          <%= mail_to "support@tenna.com" %>  <br/>
          <%= link_to "844.502.8453" , "tel:1-844-502-8453"%>
        </p>
      </p>
      <!--<p>For general questions and inquiries please call or email us:</p>
      <a href="tel:1-844-50BUILD">1.844.50BUILD or 1.844.502.8453</a><br/>
      <p>Email: <a href="mailto:support@tenna.com?subject=Tenna Support">support@tenna.com</a></p>-->
    </div>
  </div>
</div>
