<div id="wrapper">
  <section class="promo-box">
    <div class="slider">
      <ul class="slides">
        <li>
          <div class="video-mask"></div>
          <div class="slide-div">
            <div class="video-container responsive-video">
              <video autoplay loop controls="false" id="slide-video" src="https://player.vimeo.com/external/175561298.hd.mp4?s=9184c635e07c787c5c29689719be5758882df07e&profile_id=119" frameborder="0" ></video>
            </div>
          </div>
            <%= image_tag 'homepage/slide1_header_img-small.png'%>
          <div class="caption first video-textbox">
            <h2>UNLOCK HIDDEN VALUE IN YOUR ASSETS</h2>
            Tenna is the new way to manage, track, and organize your tools, attachments, equipment, and materials.
          </div>
        </li>
        <li>
          <%= image_tag 'homepage/slide2_header_img.jpg'%>
          <div class="caption blue-box">
            <h2>Asset Management</h2>
            <span class="italic">Manage:</span> Cloud-based management, tracking, and communication of assets within your company.
          </div>
        </li>
        <li>
          <%= image_tag 'homepage/slide3_header_img2.jpg'%>
          <div class="caption blue-box">
            <h2>QR Code Technology</h2>
            <span class="italic">Track:</span> Optional QR code tagging and tracking keeps you in even more control!
          </div>
        </li>
        <li>
          <%= image_tag 'homepage/slide4_header_img.jpg'%>
          <div class="caption blue-box">
            <h2>Marketplace</h2>
            <span class="italic">Liquidate:</span> Sell, Rent, or Buy on our FREE public marketplace.
          </div>
        </li>
    </ul>
      </div>
  </section>
  <main role="main" id="main">
    <section class="homepage-desc row">
      <div class="col m4 s12">
        <a href="javascript:void(0);" class="slide-btn" data-index="1">
          <i class="material-icons">cloud</i>
        </a>
        <h2>Asset Management</h2>
        <div class="desc">
          Tenna is a secure cloud-based platform housing all your inventory and asset data. Tenna is a BI (business intelligence) tool that enables businesses to effectively manage, deploy, and maintain assets. We give you and your teams total control and visibility of all company assets anytime, anywhere. With Tenna you have the ability to share all asset information which will improve cross-communication among your project sites and storage yards.
          <br><br>
        </div>
      </div>
      <div class="col m4 s12">
        <a href="javascript:void(0);" class="slide-btn" data-index="2">
          <i class="fa fa-qrcode"></i>
        </a>
        <h2>QR Code Technology</h2>
        <div class="desc">
          Tenna’s QR Code Technology allows you to tag and track assets that are not cost-effectively nor practically tracked with GPS or other telematics systems. Our custom-made, durable QR tags and labels allow companies to build new tracking habits for materials and equipment that historically have never been tracked.
        </div>
      </div>
      <div class="col m4 s12">
        <a href="javascript:void(0);" class="slide-btn" data-index="3">
          <i class="material-icons">group</i>
        </a>
        <h2>Marketplace</h2>
        <div class="desc">
          Sell or rent your excess or under-utilized assets on Tenna’s free public Marketplace. Our marketplace is seamlessly linked to your Tenna asset management platform. With access to local and national resources you can tap into markets close to your job sites, giving you a significant competitive advantage.
        </div>
      </div>
    </section>
    <section class="contacts-holder">
      <div class="row">
        <div class="image-holder">
          <a class="lightbox fancybox.iframe"  href="//player.vimeo.com/video/175438006?autoplay=1">
            <%= image_tag 'homepage/product_video_img.jpg', class: 'main' %>
            <%= image_tag 'homepage/green_playBtn.png', class: 'player' %>
          </a>
        </div>
        <div class="text-box">
          <h3 class="title-sub">
            Our Product Video
          </h3>
          <p class="paragraph">
            Learn more about our unique approach to asset management. We look forward to working with you!
          </p>
          <a class="button lightbox fancybox.iframe" href="//player.vimeo.com/video/175438006?autoplay=1">play video ></a>
        </div>
      </div>
    </section>
  </main>
</div>
