<div id="wrapper">
  <section class="intro-header">
    <%= render partial: 'pages/homepage_partials/intro_header'%>
  </section>
  <section class="dark-section padding-bottom-25" id="how-it-works">
    <%= render partial: 'pages/homepage_partials/know_everything'%>
  </section>
  <section class="total-visibility white-section padding-bottom-1">
    <%= render partial: 'pages/homepage_partials/total_visibility'%>
  </section>
  <section class="dark-section padding-bottom-20">
    <%= render partial: 'pages/homepage_partials/end_disconnect'%>
  </section>
  <section class="save-money padding-bottom-25">
    <%= render partial: 'pages/homepage_partials/save_money'%>
  </section>
  <section class="dark-section padding-bottom-20">
    <%= render partial: 'pages/homepage_partials/do_more'%>
  </section>
  <section class="dark-section padding-bottom-20">
    <%= render partial: 'pages/homepage_partials/market_advantage'%>
  </section>
</div>

<section class="learn-more-form">
  <%= render partial: 'pages/homepage_partials/learn_more_footer'%>
</section>
