<div id="wrapper">
  <section class="industries-served-intro">
    <%= render partial: 'pages/industries_partials/industries_served_intro'%>
  </section>
  <section class="white-section2 div-tabs">
    <%= render partial: 'pages/industries_partials/industries_tabs_contents'%>
  </section>
  <section class="white-section2">
    <%= render partial: 'pages/industries_partials/customer_testimonials'%>
  </section>
</div>
<section class="learn-more-form">
  <%= render partial: 'pages/homepage_partials/learn_more_footer'%>
</section>
