<div class="pages-container">
  <div class="row">
    <div class="col s12">

      <h5>NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT</h5>

      <p>This Tenna Agreement (the "Agreement") is between you and Tenna, LLC ("Tenna"). If you are agreeing to the terms and conditions of this Agreement not as an individual but on behalf of your company, then "Customer" or "you" means your company, and you are binding your company to this Agreement. Tenna may modify the terms and conditions of this Agreement from time to time, subject to the terms in Section 18 (Changes to this Agreement) below.</p>

      <p><u>NOTE:</u> THE FOLLOWING INFORMATION IS PROVIDED EXCLUSIVELY FOR NOTIFYING THE SERVICE PROVIDERS REFERENCED BELOW THAT YOUR COPYRIGHTED MATERIAL MAY HAVE BEEN INFRINGED. ALL OTHER INQUIRIES WILL NOT RECEIVE A RESPONSE THROUGH THIS PROCESS.</p>

      <p>Pursuant to Title 17, U.S. Code, Section 512(c)(2), written notification must be submitted to the following Designated Agent:</p>

      <p>Service Provider(s):<br/>
        Name of Agent Designated to Receive<br/>
        Notification of Claimed Infringement: Corporate Service Company<br/>
        Full Address of Designated Agent to<br/>
        Which Notification Should be Sent: 2711 Centerville Road, Suite 400 Wilmington, Delaware 19808<br/>
        Telephone Number of Designated Agent: +1-302-636-5400<br/>
        Facsimile Number of Designated Agent: +1-302-636-5454</p>

      <p>To be effective, the Notification must include the following:</p>

      <p>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; </p>

      <p>Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</p>

      <p>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material;</p>
      <p>Information reasonably sufficient to permit the service provider to contact the Complaining Party, such as an address, telephone number, and if available, an electronic mail address at which the complaining party may be contacted;</p>
      <p>A statement that the Complaining Party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
      </p>
      <p>TA statement that the information in the notification is accurate, and under penalty of perjury, that the Complaining Party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed</p>
    </div>
  </div>
</div>
