<div class="row padding-bottom-100">
  <%= simple_form_for '', url: learn_more_mail_path(@email_params) ,
                    html: {id: :learn_more1, data: {"data-parsley-validate": ""}} do |f| %>
    <%= f.error_notification %>
    <div class="col l12 left padding-left-5 padding-top-100">
      <span class="title-text-big-blue">Learn More</span><br /><br />
      <span class="content-text-gray">Simply fill out the short form below, and we'll be in touch to get things going or <%= link_to 'contact us', contact_us_path %>.</span><br /><br />
    </div>
    <div class="row">
      <div class="col l8">
        <div class="row">
          <div class="col l6">
            <div class="row">
              <%= f.input :first_name, label: 'First Name', required: true, autofocus: true, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :last_name, label: 'Last Name', required: true, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row" style="padding-top:10px;">
              <%= f.input :email, label: 'Email', required: true, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :phone_number,
                          label: 'Phone Number',
                          required: true,
                          wrapper_html: {class: 'col s12'} %>
            </div>

          </div>

          <div class="col l6">
            <div class="row" style="margin-top:10px;">
              <%= f.input :select_your_industry, label: false, required:false, include_blank: false, collection: ["SELECT YOUR INDUSTRY","Construction","Facility & Property Management","Transportation & Transport","Utilities","Other"] , wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row" style="margin-top:10px;">
              <%= f.input :reason_for_contacting, label: false, include_blank: false, required:false, collection: ["REASON FOR CONTACTING","Contact Me","Schedule Face to Face Meeting","Schedule Demo","Other"] , wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :title, label: 'Title', required: true, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :company_name, label: 'Company Name', required: true, wrapper_html: {class: 'col s12'} %>
            </div>

          </div>
        </div>

        <div class="row">
          <div class= 'col s12 m12 l12' style="color: #747684; margin-left: -5px;">
            <%= f.input :comments, as: :material_text, label: 'Comment' %>
          </div>
        </div>
      </div>

      <div class="col l4">
        <div class="row" style="margin-top:31px; padding-left:50px;">
          <%= f.button :button, 'Submit' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
