<div id="wrapper">
  <section class="white-section2 padding-bottom-1">
    <%= render partial: 'pages/market_place_partials/the_marketplace'%>
  </section>
  <section class="dark-section padding-bottom-1">
    <%= render partial: 'pages/market_place_partials/sell_or_rent'%>
  </section>
  <section class="dark-section padding-bottom-1">
    <%= render partial: 'pages/market_place_partials/two_ways'%>
  </section>
  <section class="explore_marketplace_footer">
    <%= render partial: 'pages/market_place_partials/explore_marketplace_footer'%>
  </section>
</div>
