 <div class="pages-container">
  <div class="row">
    <div class="col s12">

      <h5>Privacy Policy</h5>

      <p><b>Effective Date: July 1, 2017</b></p>

      <p>Please read the following Tenna Privacy Policy. By using the <a target="_blank" href="http://www.tenna.com">www.tenna.com</a> website or any of our applications (such as any mobile application we may offer) (collectively, the "Service") you acknowledge that you accept the practices and policies outlined in this Privacy Policy. This Privacy Policy covers Tenna's treatment of personally identifiable information (&quot;Personal Information&quot;), which Tenna, LLC with domicile in Edison, New Jersey gathers when you access/use the Service - as well as information you submit to the Service.</p>
      <p><b>IF YOU REPRESENT AN ORGANIZATION, YOU REPRESENT AND WARRANT THAT YOU ARE AUTHORIZED AND ABLE TO ENTER INTO A BINDING CONTRACT, AND THAT YOU ARE FULLY RESPONSIBLE FOR OBTAINING ALL CONSENTS AND RIGHTS NECESSARY TO PROVIDE THE INFORMATION PROVIDED TO TENNA RELATING TO THE ASSETS, WHETHER FROM YOU, YOUR EMPLOYER, YOUR CUSTOMER, AND/OR THE ASSET ITSELF, FOR TENNA’S USE AS DESCRIBED IN THIS PRIVACY POLICY AND IN THE TERMS OF SERVICE.  TENNA IS RELYING ON YOU TO PROVIDE ONLY THAT DATA YOU ARE AUTHORIZED TO PROVIDE IN ACCORDANCE WITH LEGAL REQUIREMENTS.</b></p>
      <p><b>PERSONAL INFORMATION COLLECTION</b> - In order to be able to provide the Service, Tenna will collect and use the following kinds of personal information:</p>
      <div class="pages-list">
        <ul class="pages-list">
          <li class="pages-list">information about your use of our services, including the geolocation of your use;</li>
          <li class="pages-list">information that you provide using for the purpose of registering with Tenna;</li>
          <li class="pages-list">information that you provide for the purpose of subscribing to the services (including name, address, and e-mail address) offered by or through Tenna; and</li>
          <li class="pages-list">any other information that you provide from time to time to Tenna.</li>
        </ul>
      </div><br/>

      <p><b>USING PERSONAL INFORMATION</b> - Tenna may use your
      personal information to:</p>

      <div class="pages-list">
        <ul class="pages-list">
          <li class="pages-list">administer the service;</li>
          <li class="pages-list">personalize the Site for you;</li>
          <li class="pages-list">enable your access to and use of the services;</li>
          <li class="pages-list">publish information about you on the Site;</li>
          <li class="pages-list">supply to you services that you purchase;</li>
          <li class="pages-list">provide you with notices related to your use of the service</li>
          <li class="pages-list">help personalize the Service experience for you (such as remembering your information so you will not have to enter it each time you use the service);</li>
          <li class="pages-list">improve the services;</li>
          <li class="pages-list">provide relevant advertisements from third parties that appear on the Site;</li>
          <li class="pages-list">send to you statements and invoices;</li>
          <li class="pages-list">collect payments from you; and</li>
          <li class="pages-list">send you marketing and promotional communications.</li>
        </ul>
      </div><br/>

      <p>Tenna logs your current Internet address (this is usually a temporary address assigned by your Internet service provider when you log in), the type of operating system you are using, and the type of browser software used. In addition, Tenna may keep track of what portions of this Site you are visiting. Tenna aggregates this information to help Tenna improve or create a better experience for users of the Site. For example: Tenna may upgrade those parts of the Site that are heavily visited.</p>


      <p>The Site automatically records website usage information that we analyze statistically to track operational problems, to prevent fraud and to improve the effectiveness, security and integrity of the site. We do not use this information to track or record information about individuals. We will disclose this information to third parties only in aggregate form or as may be required by law. For each page that you visit, we collect and store the following technical information in what is called a web server log file:</p>

      <div class="pages-list">
        <ul class="pages-list">
          <li class="pages-list">Date and time of access</li>
          <li class="pages-list">URL address of the Tenna webpage visited</li>
          <li class="pages-list">Internet domain and IP address from which our website was accessed</li>
          <li class="pages-list">Type of browser and operating system used to access our site (if provided by the browser)</li>
          <li class="pages-list">URL address of the referring page (if provided by the browser)</li>
          <li class="pages-list">Completion or success status of the request for a web page or other on-line item</li>
          <li class="pages-list">File size of the webpage visited</li>
        </ul>
      </div><br/>

      <p>For the purpose of enabling better website design and a better user experience, we employ Google Analytics (a web service by Google, Inc.) to track site traffic and provide aggregate reports of how the public interacts with our website. Session cookies are employed by Google Analytics in the form of client-side JavaScript code. In utilizing this analytics service, Tenna maintains its existing standards in regards to the sharing and disclosure of information, security and privacy safeguards for the data, and the data retention policy, each described below. Google Analytics analyzes website usage information automatically upon visits to the Tenna website(s). Users who do not wish to have their visit information collected by Google Analytics may opt-out by downloading a browser extension or by disabling cookies in their browser settings. Opting-out of web measurements will still permit users to access the full Tenna website, with all included information and functionality.</p>

      <p>Tenna may collect and aggregate data about your usage of the Site, and Tenna shall be the sole owner of such information.</p>

      <p>Service Providers and Agents: We employ other companies and people to perform tasks on our behalf. For example, we may decide to use a third party payment processing company to process payments you make through the Service. In addition, parts of the Service may be hosted by a third party on our behalf. Your information may be accessed by such providers/agents, in the event that we need to share your information with them to provide our services or customer support to you. Unless we tell you differently, Tenna's agents do not have any right to use Personal Information we share with them beyond what is necessary to assist us.  With respect to optional additional services offered by third parties, those services may be governed by the service provider’s own privacy policy, which we encourage you to view.
      </p>
      <p>OTHER DATA.  YOU MAY ELECT TO PROVIDE US INFORMATION OTHER THAN PERSONAL. INFORMATION, SUCH AS DATA FROM IOT SENSORS THAT YOU EMPLOY.  AS LONG AS THAT DATA DOES NOT SPECIFICALLY IDENTIFY YOU AS THE SOURCE, YOU GRANT TO TENNA THE RIGHT TO USE, SELL, REPRODUCE, PUBLICLY DISPLAY, PUBLICLY PERFORM, PREPARE DERIVATIVE WORKS UPON, DISTRIBUTE, SUBLICENSE, AND TRANSLATE SUCH DATA FOR ANY PURPOSE, INCLUDING THE RIGHT FOR TENNA TO ANONYMIZE THIS DATA AND PREPARE AND FURNISH AGGREGATED DATA REPORTS SHOWING ANONYMIZED INFORMATION (INCLUDING, BUT NOT LIMITED TO, THE FOLLOWING:  COMPILATIONS, ANALYSES, ANALYTICAL AND PREDICTIVE MODELS AND RULES, AND OTHER AGGREGATED REPORTS) FOR FOR MARKETING, ADVERTISING, RESEARCH AND OTHER BUSINESS PURPOSES.</p>

      <p><b>COOKIES:</b>This website uses cookies. By using this website and agreeing to this policy, you consent to Tenna's use of cookies in accordance with the terms of this policy. Cookies are files sent by web servers to web browsers, and stored by the web browsers. The information is then sent back to the server each time the browser requests a page from the server. This enables a web server to identify and track web browsers. There are two main kinds of cookies: session cookies and persistent cookies. Session cookies are deleted from your computer when you close your browser, whereas persistent cookies remain stored on your computer until deleted, or until they reach their expiry date. <br /><br />Tenna uses session cookies to store your session and store your location to show asset distances from the user.</p>

      <p><b>WHERE IS INFORMATION STORED?</b></p>
      <p>While your Personal Information is in our possession, it will be primarily stored at hosting facilities located in the USA. These facilities are either operated by Tenna or our third party providers. By using the Service, you are consenting to have your Personal Information stored, transferred and processed in the USA.</p>

      <p><b>SECURING YOUR DATA</b></p>
      <p>Tenna takes certain precautions to protect your Personal Information and to limit the risk that it will be accessed without authorization, including use of certain industry standard technologies and practices. That said, we cannot guarantee the security of such information. Unauthorized entry or use, hardware or software failure, and other factors may compromise the security of user information at any time. No security system is perfect - so your use of the Service is at your own risk. Passwords on this website will be protected by encryption technology.<br /><br />Tenna uses no encryption (data scrambling) on certain portions of the Site, but uses encryption on portions where you are transmitting password information. When you are on any web site that asks you for confidential information, you should check to see if the information being transmitted is encrypted in order to increase the security of your information. Keep in mind that there is no such thing as perfect security.</p>

      <p><b>PERSONAL INFORMATION PROCESSED ABROAD</b></p>
      <div class="pages-list">
        <ul class="pages-list">
          <li class="pages-list">Information that Tenna collects may be stored and processed in and transferred between any of the countries in which Tenna operates to enable the use of the information in accordance with this privacy policy. </li>
          <li class="pages-list">In addition, personal information that you submit for publication on the Site will be published on the internet and may be available around the world. You agree to such cross-border transfers of personal information.</li>
        </ul>
      </div><br />

      <p><b>CHANGES TO THIS PRIVACY POLICY</b></p>
      <p>Updating this statement - Tenna may update this privacy policy by posting a new version on this Site. You should check this page occasionally to ensure you are familiar with any changes. If you disagree with any changes to this Privacy Policy, you will need to stop using Tenna Services and deactivate your account(s).  Any changes will be effective only after the effective date of the change and will not affect any dispute arising prior to the effective date of the change. Your continued use of the Service following the posting of any changes to this Privacy Policy constitutes acceptance of those changes.</p>

      <p><b>OUR POLICY TOWARDS CHILDREN</b></p>
      <p>Tenna Services are not directed to individuals under 13. We do not knowingly collect Personal Information from children under 13. If we become aware that a child under 13 has provided us with Personal Information, we will take steps to delete such information. If you become aware that a child has provided us with Personal Information, please contact our Support Services.</p>

      <p><b>TRACKING</b></p>
      <p>Tenna will not respond to Web browser "do not track" signals. If you would like additional information about online tracking and various opt-out mechanisms, please see http://donottrack.us/<br /><br />Because we link to social media sites, and from time to time may include third-party advertisements, other parties may collect your personally identifiable information about your online activities over time and across different web sites when you visit this Site.<br /><br />In addition, we use Google AdWords, so we are advertising the Site online through a form of tracking called remarketing, third-party vendors, including Google, show our ads on various sites across the Internet, and use cookies to serve you ads based on your past visits to this Site. You can opt out of Google's use of cookies by visiting Google's Ads Settings <a target="_blank" href="https://www.google.com/settings/ads/plugin">www.google.com/settings/ads/plugin</a>. Alternatively, you may be able to opt out of a third-party vendor's use of cookies by visiting the Network Advertising Initiative opt-out page. <a target="_blank" href="http://www.networkadvertising.org/choices/">www.networkadvertising.org/choices/</a><br /><br />Please note that not all tracking will stop even if you delete cookies.</p>

      <p><b>CONDITIONS OF USE</b></p>

      <p>If you decide to access or use the Service, such access and use and any possible dispute over privacy is subject to this Privacy Policy and our Terms of Service, including limitations on damages, disclaimer of warranties, and the application of New Jersey state law.</p>

      <p>Other websites - This Site may contain links to other websites. The privacy and security practices of websites linked to or from the Service are not covered by this Privacy Policy, and Tenna is not responsible for the privacy or security practices or the content of such websites.</p>

      <p>Additional Rights: Applicable laws may give you additional rights that are not described in this online privacy policy.</p>

      <p><b>QUESTIONS OR CONCERNS</b></p>

      <p>If you wish to access, rectify, cancel or oppose to the processing of your Personal Information or limit the use Tenna gives to your Personal Information or in general, if you have any questions or concerns regarding privacy, please send us a detailed email to <%= mail_to 'support@tenna.com' %> at tenna.com. We will carefully review your request and work to resolve your concerns.</p>

    </div>
  </div>
</div>
