<div id="wrapper">
  <!--<section class="support-intro">
    <%#= render partial: 'pages/support_partials/intro'%>
  </section>
  <section class="white-section2 support-learning">
    <%#= render partial: 'pages/support_partials/buildsourced_learning'%>
  </section>-->
  <section class="white-section2 support-faqs">
    <%= render partial: 'pages/support_partials/faqs'%>
  </section>
</div>
