<div class="pages-container">
  <div class="row">
    <div class="col s12">

      <h5>Terms of Service</h5>

      <p><b>Effective Date: January 2018</b></p>

      <p>This Tenna Agreement (the "Agreement") is between User and Tenna, LLC ("Tenna"). If User is agreeing to the terms and conditions of this Agreement not as an individual but on behalf of User's company, then "Customer" or "User" means User's company, and User is binding User's company to this Agreement.  (If User represents a federal, state or local government agency, please <a href="mailto:support@tenna.com">Contact Us</a>.)  Tenna may modify the terms and conditions of this Agreement from time to time, subject to the terms in Section 19 (Changes to this Agreement) below.</p>

      <p><i><b>By clicking on the "I agree" (or similar button) that is presented to User at the time of User's Order, or by using or accessing Tenna products and services, User indicates User's assent to be bound by this Agreement and the <a href="/privacy-policy" target="_blank">Privacy Policy</a></b></i></p>

      <p><i><b>ARBITRATION NOTICE: EXCEPT FOR CERTAIN TYPES OF DISPUTES DESCRIBED IN THE "ARBITRATION AND CLASS ACTION WAIVER" SECTION BELOW, AND IF USER DOES NOT OPT-OUT AS SET FORTH IN THAT SAME SECTION, USER AGREES THAT DISPUTES BETWEEN USER AND TENNA WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION, AND USER WAIVES USER'S RIGHT TO BRING OR RESOLVE ANY DISPUTE AS, OR PARTICIPATE IN, A CLASS, CONSOLIDATED, REPRESENTATIVE, COLLECTIVE, OR PRIVATE ATTORNEY GENERAL ACTION OR ARBITRATION.</b></i></p>

      <p>The following terms and conditions govern all use of the <a href="http://www.tenna.com" target="_blank">www.buildsourced.com</a> website and mobile app (the "Site") and the services ("Services") and merchandise ("Goods") available for sale or advertised on or at the Site or otherwise provided by Tenna (taken together with the Site, the "Good and Services"). The Goods and Services are owned and operated by Tenna. The Goods and Services are offered subject to User's acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies and procedures that may be published from time to time on the Site by Tenna. Unless otherwise stated, Tenna and/or its licensors own the intellectual property rights in the Site and material on the Site.</p>

      <p>User represents and warrants to Tenna that: (i) (a) User is at least 18 years of age or older and, if applicable, (b) <i><b>User represents an organization on whose behalf User is authorized and able to enter into a binding contract; </b></i>(ii) all registration and rental information User submits is complete, accurate and truthful; and (iii) User will maintain the completeness, accuracy and truthfulness of such information. User also certifies that User is legally permitted to use and access the Goods and Services and takes full responsibility for the selection, use of, and access to the Goods and Services.
      </p>

      <div class="pages-list">
        <ul>
          <li style="list-style:decimal; padding-left: 5px;"><b>SCOPE:</b> The Site is a venue where companies can manage their owned or rented materials, tools, equipment or other properties ("assets"), as well as find each other and arrange for purchase, rental(s) or exchange of assets.
            <br />
            a. OPTIONAL ADDITIONAL SERVICES: In addition, registered users will have the option to purchase additional services, which may be subject to additional terms and conditions as well as additional fees. At this time, these optional services include the following. Please click on the link where provided for each service to obtain additional information relating to terms and conditions.
            <div class="pages-list">
              <ul>
                <li style="list-style: lower-roman; margin-left: 15px;">Wireless networking to connect to low-energy IoT meters. If User use IoT meters to track User's equipment, Tenna can help User organize that data for asset management purposes.</li>
                <li style="list-style: lower-roman; margin-left: 15px;">Vehicle routing service. Tenna is offering a third-party service designed to help User compute efficient routes between equipment location points. <a href="https://routific.com/privacy/" target="_blank">https://routific.com/privacy/</a></li>

                <li style="list-style: lower-roman; margin-left: 15px;">Analytics engine. Tenna offers an engine that will provide a graphical representation of the data that User (and User's IoT sensors) provide.</li>
                <li style="list-style: lower-roman; margin-left: 15px;">RFID. If User uses RFID tags on User's equipment, Tenna can help User manage that data.</li>
                <li style="list-style: lower-roman; margin-left: 15px;">Registered users may be eligible for a free, limited trial of certain of these services, which will be described on the page for each service.</li>
              </ul>
            </div>
            <br/><br/>
            TENNA CANNOT AND DOES NOT GUARANTEE OR ENSURE (I) THE FORM, FIT, FUNCTION OR CONDITION OF ANY ASSETS, (II) THE SAFETY, OR LEGAL OR REGULATORY COMPLIANCE OF ANY ASSETS OR SERVICES, (III) THE ACCURACY OF ANY DATA PROVIDED BY IOT SENSORS, RFID TAGS, OR OTHER DEVICES, OR (IV) THE ACTS OR OMISSIONS OF ANY TENNA USER OR SERVICE PROVIDER. Any and all communications, or correspondence, verbal or written, or any warranties or representations, made between Users are not made by (and do not legally bind) Tenna, but rather are made specifically and solely by the Users. Tenna may - but is not obligated to - pre-screen or prequalify any User. ALL ASSETS DESCRIBED ON THE SITE MAY BE SUBJECT TO PRIOR SALE AND EACH USER IS RESPONSIBLE FOR DETERMINING THE LEGALITY OF THE USER'S OWN OFFERS AND POSTINGS. <br/><b> USER UNDERSTANDS THAT ALL INFORMATION PUBLICLY POSTED OR PRIVATELY TRANSMITTED THROUGH THE SERVICES IS THE SOLE RESPONSIBILITY OF THE PERSON FROM WHICH SUCH CONTENT ORIGINATED AND MAY NOT BE ACCURATE OR UP-TO-DATE. TENNA WILL NOT BE LIABLE FOR ANY ERRORS OR OMISSIONS IN ANY CONTENT. USER ACKNOWLEDGES THAT ALL CONTENT ACCESSED BY USER USING THE SERVICE IS AT USER'S OWN RISK AND USER WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE OR LOSS TO ANY PARTY RESULTING THEREFROM.</b><br/><br/>
          </li>

          <li style="list-style:decimal; padding-left: 5px;"><b>REGISTRATION AND SECURITY:</b> As a condition to using some aspects of the Goods and Services, User may be required to register with Tenna and select a password and user name ("Tenna User ID"). User shall provide Tenna with accurate, complete, and updated registration information. Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of User's account. User may not (i) select or use as a Tenna User ID a name of another person with the intent to impersonate that person; or (ii) use as a Tenna User ID a name subject to any rights of a person other than User without appropriate authorization. Tenna reserves the right to refuse registration of or cancel a Tenna User ID in its discretion. User shall be responsible for maintaining the confidentiality of User's password. If User allows third party sites or services to provide information to Tenna, User is consenting to have such information from those accounts transmitted to User's Tenna account. User agrees that User shall only use accounts owned by User, and not by any other person or entity. User must also update User's information so that Tenna may send notices, statements and other information to User by email or through User's account. User is responsible for all actions taken through User's accounts.<br/><br/>a. Access to certain areas of this Site is restricted. Tenna reserves the right to restrict access to other areas of this Site, or indeed this entire website, at Tenna's discretion. When this Agreement has been accepted and agreed to by the User, the password that the User creates will soon be activated to enable User to access the Site. If User is provided with a user ID and password to enable access to restricted areas of this Site or other content or services, User must ensure that the user ID and password are kept confidential. Tenna may disable User's user ID and password in Tenna's sole discretion without notice or explanation.<br/><br/>b. In the event User's password is lost or stolen it is User's responsibility to notify Tenna at the address listed in the "Contact Us" section.</li>

          <div class="pages-list">
            <ul>
              <li style="list-style:lower-alpha; margin-left: 15px;"> a.  Access to certain areas of this Site is restricted. Tenna reserves the right to restrict access to other areas of this Site, or indeed this entire website, at Tenna's discretion. When this Agreement has been accepted and agreed to by the User, the password that the User creates will soon be activated to enable you to access the Site. If User is provided with a user ID and password to enable access to restricted areas of this Site or other content or services, User must ensure that the user ID and password are kept confidential. Tenna may disable your user ID and password in Tenna's sole discretion without notice or explanation.</li>
              <li style="list-style:lower-alpha; margin-left: 15px;">In the event your password is lost or stolen it is your responsibility to notify Tenna at the address listed in the "Contact Us" section.</li>
            </ul>
          </div>

          <li style="list-style:decimal; padding-left: 5px;"><b>DISPUTES BETWEEN USERS:</b> User is solely responsible for User's interaction with other Service users (e.g. payment obligations) or service providers, if the User elects to purchase one of the additional services. Because Tenna is not the agent of either User or any other Users or service providers, Tenna will not act as an agent to User or in connection with resolving any disputes between such participants related to or arising out of any transaction conducted via the Site or the Service. IF USER HAS A DISPUTE WITH ONE OR MORE OTHER USERS OF THE SERVICE, OR WITH ANY SERVICE PROVIDER, USER SHALL AND HEREBY DOES RELEASE AND SHALL INDEMNIFY, DEFEND AND HOLD HARMLESS TENNA (AND ITS OFFICERS, DIRECTORS, AGENTS, SUBSIDIARIES, JOINT VENTURES, EMPLOYEES AND INVESTORS AND THEIR RELATED ENTITIES) FROM CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH DISPUTES. If User is a California resident, User waives California Civil Code §1542, which states: "A general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which if known by him or her must have materially affected his or her settlement with the debtor." UNDER NO CIRCUMSTANCES WILL TENNA BE LIABLE IN ANY WAY FOR ANY THIRD PARTY CONTENT, INCLUDING BUT NOT LIMITED TO ANY ERRORS OR OMISSIONS IN ANY CONTENT, OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED OR OTHERWISE TRANSMITTED VIA THE SITE.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>FEES:</b> If the User elects to purchase an annual subscription of the Services, Tenna will not increase the subscription fee for the following year by more than 5% percent. Note that the optional additional services may be subject to additional fees. All sales are FINAL. Tenna will not issue refunds to the User if the User decides to cancel a subscription. If Tenna ceases offering the Service to which User has subscribed, Tenna may terminate this Agreement in respect to the affected service and Tenna will provide User with a pro-rata refund of the fees allocable for the service for the period from the termination date to the end of the pre-paid period (if any). Such amount would be payable within 45 days after the termination date.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>CHANGES TO THE SERVICE</b> Subject to the terms and conditions of this Agreement, the software and services provided in connection with the Services are solely for User's own business use, and not for the use or benefit of any third party. For clarity, User will not re-rent or otherwise sell the Services. Tenna or its service providers may change, suspend or discontinue the Service or the additional optional services, including the availability of any feature, database or content, at any time. Tenna or its service providers may also impose limits on certain features and services or restrict User's access to parts or all of the Services or additional optional services without notice or liability.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>LIMITATIONS ON USE OF MERCHANDISE; NOT FOR EXPORT.</b> Subject to the terms and conditions of this Agreement, the Goods provided by Tenna are solely for User's own business use. For clarity, User will not use it for any purpose other than the User's lawful business purposes. User agrees to comply with all applicable laws and regulations of the various states and of the United States including all Export Regulations, as defined below. User represents and warrants that User is buying products from the Site for User's lawful business purposes only, and not for resale or export. Products purchased from the Site may be controlled for export purposes by export regulations, including but not limited to, the Export Administration Act of 1979 (50 U.S.C. 2401-2410), the Export Administration Regulations promulgated thereunder (15 C.F.R. 768-799), the International Traffic in Arms Regulations (22 C.F.R. 120-128 and 130) and their successor and supplemental regulations (collectively, "Export Regulations").</li>
          <li style="list-style:decimal; padding-left: 5px;"><b>LIMITED WARRANTY.</b> <a href="/privacy-policy" target="_blank">Privacy Policy</a><p>g. <u>Limitation of Liability</u><br/>Subject to the terms and conditions of this Agreement, the Goods provided by Tenna are solely for User's own business use. For clarity, User will not use it for any purpose other than the User's lawful business purposes. User agrees to comply with all applicable laws and regulations of the various states and of the United States including all Export Regulations, as defined below. User represents and warrants that User is buying products from the Site for User's lawful business purposes only, and not for resale or export. Products purchased from the Site may be controlled for export purposes by export regulations, including but not limited to, the Export Administration Act of 1979 (50 U.S.C. 2401-2410), the Export Administration Regulations promulgated thereunder (15 C.F.R. 768-799), the International Traffic in Arms Regulations (22 C.F.R. 120-128 and 130) and their successor and supplemental regulations (collectively, "Export Regulations").<p></li>

          <li style="list-style:decimal; padding-left: 5px;"><b>CONTENT.</b> TThe Services (including the additional optional services) and its contents are intended solely for the business use of the Services by users and may only be used in accordance with the terms of this Agreement. All materials displayed or performed on the Services (including, but not limited to text, graphics, articles, photographs, video, images, illustrations (also known as the "Content," and which includes User Submissions (as defined below)) may be protected by copyright. User shall abide by all copyright notices, trademark notices, information, and restrictions contained in any Content accessed through the Services, and shall not use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell or otherwise exploit for any purposes whatsoever any Content or third party submissions or other proprietary rights not owned by User: (i) without the express prior written consent of the respective owners, and (ii) in any way that violates any third party right.

            <div class="pages-list">
              <ul>
                <li style="list-style:lower-alpha; margin-left: 15px;">In the course of using the Services, User and other users may provide information which may be used by Tenna in connection with the Services and for its business purposes, and which may be visible to certain other users. User understands that by posting information or "user content" (including without limitation text, images, audio material, video material and audio-visual material) on the Services such as for sale submissions, or other information meant to be visible and used by other users (collectively, "User Submissions"), Tenna hereby is and shall be granted a non-exclusive, worldwide, royalty-free, perpetual, irrevocable, sub-licenseable and transferable right to fully exploit such User Submissions (including all related intellectual property rights) in connection with providing the Services.</li>

                <li style="list-style:lower-alpha; margin-left: 15px;">Unauthorized use of any Content contained on this Site may violate copyright laws, trademark laws, the laws of privacy and publicity, and/or other regulations and statutes. If User believes that any of the Content infringes on any of the User's intellectual property rights, please contact Tenna immediately at the address provided below. Except as expressly provided herein, Tenna and the third parties reserve all rights with respect to the Content, and may pursue all legally available options under both civil and criminal laws (and may cooperate with law enforcement agencies) in the event of any violations, including but not limited to the right to terminate accounts of any user who has infringed a third party's copyright [three] times. Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement should be sent to Tenna's Designated Agent. ALL INQUIRIES NOT RELEVANT TO THE FOLLOWING PROCEDURE WILL NOT RECEIVE A RESPONSE. See below.</li>

                <li style="list-style:lower-alpha; margin-left: 15px;">User may not use manual or automated software, devices, scripts robots, other means or processes to access, "scrape," "crawl" or "spider" any web pages or other services contained in the Site.</li>
                <li style="list-style:lower-alpha; margin-left: 15px;">Tenna or its service providers may change, suspend or discontinue any Goods or Services listed or advertised on the Site, including the availability of any feature, database or content, at any time. Tenna or its service providers may also impose limits on certain features or restrict User's access to parts or all of the Services without notice or liability.</li></ul>
            </div>
          </li>

          <li style="list-style:decimal; padding-left: 5px;"><b>TRADEMARKS:</b> Trademarks and service marks that may be referred to on this Site or appear on any of the Goods are the property of Tenna or their respective owners. Nothing on this Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any trademark without our written permission. The name of Tenna or the Tenna logo may not be used in any way, including in advertising or publicity pertaining to distribution of materials on this Site, without prior written permission. Users are not authorized to use our logo as a hyperlink to this Site unless the User obtains Tenna's written permission in advance, although Tenna permits the User to use certain designated features of the Site to use the Tenna logo as a hyperlink for designated purposes.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>RESTRICTIONS:</b> User warrants, represents and agrees that User will not contribute any Content or otherwise use the Goods and Services in a manner that (i) infringes or violates the intellectual property rights or proprietary rights, rights of publicity or privacy, or other rights of Tenna or any third party; (ii) violates any law, statute, ordinance or regulation; (iii) is harmful, fraudulent, deceptive, threatening, abusive, harassing, tortious, defamatory, obscene, libelous, or otherwise objectionable; (iv) impersonates any person or entity, including without limitation any employee or representative of Tenna; (v) contains a virus, trojan horse, worm, time bomb, or other harmful computer code, file, or program or (vi) violates or constitutes a breach of any agreement or obligation User may have with or to a third party. Tenna reserves the right to remove any Content from the Site or Services at any time, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if Tenna is concerned that User may have breached the immediately preceding sentence), or for no reason at all. User, not Tenna, remains solely responsible for all Content that User uploads, posts, emails, transmits, or otherwise disseminates using, or in connection with, the Services, and User warrants that User possesses all rights necessary to provide such content to Tenna and to grant Tenna the rights to use such information in connection with the Services and as otherwise provided herein.

            <div class="pages-list">
              <ul>
                <li style="list-style:lower-alpha; margin-left: 15px;">User is responsible for all of User's activity in connection with the Goods and Services. Any fraudulent, abusive, or otherwise illegal activity may be grounds for termination of User's right to access or use the Goods and Services. User may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any other user of the Services. Use of the Services to violate the security of any computer network, crack passwords or security encryption codes, transfer or store illegal or unlawful material (including material that may be considered threatening or obscene), or engage in any kind of illegal activity is expressly prohibited. User will not run Maillist, Listserv, any form of auto-responder, or "spam" on the Services, or any processes that run or are activated while User is not logged on to the Services, or that otherwise interfere with the proper working of or place an unreasonable load on the Services' infrastructure. User must not conduct any systematic or automated data collection activities including without limitation scraping, data mining, data extraction and data harvesting. Further, the use of manual or automated software, devices, or other processes to "crawl," "scrape," or "spider" any portion of the Services is strictly prohibited. User will not decompile, reverse engineer, or otherwise attempt to obtain the source code of the Services. User will be responsible for withholding, filing, and reporting all taxes, duties and other governmental assessments associated with User activity in connection with the Services.</li>

                <li style="list-style:lower-alpha; margin-left: 15px;">User understands and agrees that Tenna shall have the sole right to decide whether User is in violation of any of the restrictions set forth in this Section or the terms of this Agreement, and shall have sole discretion regarding the course of action to take in connection therewith. Tenna reserves the right to edit or remove any material submitted to this Site, or stored on Tenna's servers, or hosted or published upon this Site. Notwithstanding Tenna's rights under this Agreement in relation to user content, Tenna does not undertake to monitor the submission of such content to, or the publication of such content on, this Site. Nor does Tenna make any representations as to the accuracy of any information contained on the Site.</li>

                <li style="list-style:lower-alpha; margin-left: 15px;">User understands and agrees that should Tenna request the deletion of a link to our Site that is within User's control, User will delete the link promptly.</li>
              </ul>
            </div>
          </li>

          <li style="list-style:decimal; padding-left: 5px;"><b>WARRANTY DISCLAIMER FOR THIRD-PARTY CONTENT AND PRODUCTS OBTAINED FROM THIRD PARTIES THROUGH THE SERVICES:</b> Tenna has no special relationship with or fiduciary duty to User. User acknowledges that Tenna has no control over, and no duty to take any action regarding: which users gain access to the Services; what Content User accesses via the Services; what effects the Content may have on User; how User may interpret or use the Content; or what actions User may take as a result of having been exposed to the Content; or any interactions amongst Users.<br/><br/>
            USER RELEASES TENNA FROM ALL LIABILITY FOR USER HAVING ACQUIRED OR NOT ACQUIRED CONTENT THROUGH THE SERVICES. TENNA MAKES NO REPRESENTATIONS CONCERNING ANY CONTENT CONTAINED IN, OR ACCESSED THROUGH, OR PRODUCTS OR SERVICES OBTAINED THROUGH THE SERVICES, AND TENNA WILL NOT BE RESPONSIBLE OR LIABLE FOR THE ACCURACY, COPYRIGHT COMPLIANCE, OR LEGALITY MATERIAL CONTAINED IN OR ACCESSED OR PRODUCTS OR SERVICES OBTAINED THROUGH THE SERVICES. TENNA MAKES NO REPRESENTATIONS OR WARRANTIES REGARDING THE ACCURACY OF DESCRIPTIONS ANYWHERE ON THE SERVICES, OR REGARDING SUGGESTIONS OR RECOMMENDATIONS OF SERVICES OR PRODUCTS OFFERED OR PURCHASED THROUGH THE SERVICES. THE SERVICE, CONTENT, WEBSITE, PRODUCTS AND SERVICES OBTAINED THROUGH THE WEBSITE, AND ANY SOFTWARE ARE PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO USER. IN PARTICULAR, TENNA MAKES NO REPRESENTATIONS, WARRANTIES OR GUARANTEES WITH RESPECT TO ANY POSTED ASSETS.<br/><br/>User warrants that it has undertaken its own investigation of all matters relating to the Services provided and any assets, including an investigation as to the condition of any asset provided by another User, and therefore has not received or relied upon any statements or representations by Tenna concerning such matters.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>INDEMNITY:</b> To the greatest extent permitted by law, User will indemnify, defend and hold harmless Tenna, its parents, subsidiaries, affiliates, officers, directors, employees, investors, successors and assigns (the "indemnitees") from all claims, demands, losses, costs, damages, liabilities, settlements, judgments, awards, causes of actions, fines, or penalties (including without limitation, expert and attorneys' fees) directly or indirectly arising out of User's access to the Services, use of the Goods or Services, rental or use of equipment of any User, User's violation of this Agreement, or the infringement by User or any third party using User's account of any intellectual property or other right of any person or entity; the obligations under this paragraph shall apply notwithstanding active or passive negligence on the part of the indemnitee and regardless of whether User is at fault or has breached its obligations hereunder. This provision shall survive completion of any Services or sale of Goods and shall continue in effect notwithstanding the termination or breach of any agreements between or among Tenna and any Users. If and to the extent that it is determined that this provision is subject to Section 2782 or Section 2782.05 of the California Civil Code, then the indemnity, defense, and hold harmless obligations hereunder shall be deemed to apply to the extent permitted by law, but no greater. The obligations of this paragraph shall apply notwithstanding the existence of any insurance or rights, benefits or defenses under workers' compensation laws, and shall survive the completion of any transactions or the termination of any agreements.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>LIMITATION OF LIABILITY; WAIVER OF DAMAGES:</b>TO THE FULLEST EXTENT ALLOWED BY APPLICABLE LAW, IN NO EVENT SHALL TENNA OR ITS SUPPLIERS, OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE WITH RESPECT TO THE WEBSITE OR THE GOODS AND SERVICRS OR ANY OTHER SUBJECT MATTER OF THIS AGREEMENT, WHETHER UNDER ANY CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY: (a) FOR ANY AMOUNT IN THE AGGREGATE IN EXCESS OF US $500; (b) FOR ANY INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL, LIQUIDATED, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER; (c) FOR DATA LOSS OR COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; (d) FOR ANY BUSINESS LOSSES, LOSS OF REVENUE, INCOME, PROFITS OR ANTICIPATED SAVINGS, LOSS OF CONTRACTS OR BUSINESS RELATIONSHIPS, LOSS OF REPUTATION OR GOODWILL, OR LOSS OR CORRUPTION OF INFORMATION OR DATA, OR (e) FOR ANY MATTER BEYOND TENNA'S REASONABLE CONTROL. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS WILL APPLY TO USE ONLY TO THE EXTENT PERMITTED BY APPLICABLE LAW.   The foregoing limitations shall not apply with respect to personal injury or property damage directly caused by any Goods purchased from Tenna and used in accordance with its directions.<br/><br/>
            As a limited liability entity, Tenna has an interest in limiting the personal liability of its officers and employees. User agrees that User will not bring any claim personally against Tenna's officers or employees in respect of any losses User suffers in connection with the Site or Services.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>INTERACTION WITH THIRD PARTIES</b>: The Services may contain links to third party websites or services ("Third Party Services") that are not owned or controlled by Tenna. When User accesses Third Party Services, User does so at User's own risk. User hereby represents and warrants that User has read and agree to be bound by all applicable policies of any Third Party Services relating to User's use of the Services and that User will act in accordance with those policies, in addition to User's obligations under this Agreement. Tenna has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, practices of, or opinions expressed in, any Third Party Services. In addition, Tenna will not and cannot monitor, verify, censor or edit the content of any Third Party Services. By using the Services, User expressly relieves and holds harmless Tenna from any and all liability arising from User's use of any Third Party Services.<br/><br/>If User is a consumer, the provisions in this Agreement are intended to be only as broad and inclusive as is permitted by the laws of User's state of residence.  If User is a New Jersey consumer, the terms of this section above do not limit or waive User's rights as a consumer under New Jersey law and the provisions in this Agreement are intended to be only as broad and inclusive as is permitted by the laws of the State of New Jersey.  In any event, Tenna reserves all rights, defenses and permissible limitations under the law of User's state of residence.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>TERMINATION:</b> This Agreement shall remain in full force and effect while User uses the Goods and/or Services. User may terminate User's use of the Services at any time. Tenna may terminate or suspend User's access to the Services or User's membership at any time, for any reason, and without warning, which may result in the forfeiture and destruction of all information associated with User's membership. Tenna may also terminate or suspend any and all Services and access to the Site immediately, without prior notice or liability, if User breaches any of the terms or conditions of this Agreement. Upon termination of User's account, User's right to use the Services, access the Site, and any Content will immediately cease. All provisions of this Agreement which, by their nature, should survive termination, shall survive termination, including limitations of liability.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>MISCELLANEOUS:</b> This Agreement and conditions, together with the policies and other documents detailed herein, constitute the entire agreement between User and Tenna in relation to User's use of Tenna's Site and Services and the purchase of Goods from Tenna, and supersede all previous agreements in respect of User's use of the Site and Goods and Services. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. Tenna shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond Tenna's reasonable control. If any provision of this Agreement is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect and enforceable. This Agreement is not assignable, transferable or sub-licensable by User except with Tenna's prior written consent. Tenna may transfer, assign or delegate this Agreement and its rights and obligations without consent. Both parties agree that this Agreement is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this Agreement. No agency, partnership, joint venture, or employment is created as a result of this Agreement and User does not have any authority of any kind to bind Tenna in any respect whatsoever.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>LAW AND JURISDICTION:</b> This Agreement shall be governed by and construed in accordance with the laws of the state of New Jersey, and any disputes relating to this Agreement will be subject to the non-exclusive jurisdiction of the courts of New Jersey, without reference to choice of law principles.<br/><br/>EACH OF THE PARTIES HERETO HEREBY IRREVOCABLY WAIVES ITS RIGHT TO A JURY TRIAL OF ANY CLAIM OR CAUSE OF ACTION BASED UPON OR ARISING OUT OF THIS AGREEMENT OR ANY DEALINGS BETWEEN THE PARTIES HERETO RELATING TO THE SUBJECT MATTER HEREOF.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>ARBITRATION AND CLASS ACTION WAIVER:</b> Excluding claims for injunctive or other equitable relief, for claims related to the Site, including any Goods and/or Services purchased through the Site or from Tenna, any dispute or controversy arising out of or relating to this Agreement, including without limitation, any and all disputes, claims (whether in tort, contract, statutory or otherwise) or disagreements concerning the existence, breach, interpretation, application or termination of this Agreement shall be resolved by final and binding arbitration in accordance with the JAMS Inc. Comprehensive Arbitration Rules & Procedures then in effect. There shall be no right or authority for any claims to be arbitrated on a class action basis. The arbitration shall take place in Edison, New Jersey or at the option of the party seeking relief, online, by telephone, online, or via written submissions alone, and be administered by JAMS. The arbitral tribunal ("Tribunal") shall be composed of one arbitrator, who shall be independent and impartial. If the parties fail to agree on the arbitrator within twenty (20) calendar days after the initiation of an arbitration hereunder, JAMS shall appoint the arbitrator. The arbitration shall be conducted in the English language. The decision of the arbitrator will be final and binding on the parties. Judgment on any award(s) rendered by the arbitrator may be entered in any court having jurisdiction thereof. Nothing in this Section shall prevent either party from seeking immediate injunctive relief from any court of competent jurisdiction, and any such request shall not be deemed incompatible with the agreement to arbitrate or a waiver of the right to arbitrate. The parties undertake to keep confidential all awards in their arbitration, together with all confidential information, all materials in the proceedings created for the purpose of the arbitration and all other documents produced by the other party in the proceedings and not otherwise in the public domain, save and to the extent that disclosure may be required of a party by legal duty, to protect or pursue a legal right or to enforce or challenge an award in legal proceedings before a court or other judicial authority. The arbitrator shall award all fees and expenses, including reasonable attorney's fees, to the prevailing party. Any judgment rendered by the arbitrator may be entered in any court of competent jurisdiction.<br/><br/>Members may choose to opt out of the agreement to arbitrate by mailing a written opt-out notice ("Notice") to Tenna. The Notice must be postmarked no later than thirty (30) days after the date User accepts this Agreement for the first time. The Notice must be mailed to Tenna LLC 2045 Lincoln Hwy. Edison, NJ  08817. This procedure is the only mechanism by which User can opt out of the agreement to arbitrate. Opting out of the agreement to arbitrate has no effect on any other parts this Agreement, or any previous or future arbitration agreements that User has entered into with Tenna.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>CHANGES TO THIS AGREEMENT:</b> Tenna reserves the right, at its sole discretion, to modify or replace any of the terms or conditions of this Agreement, including any referenced policies and other documents, at any time. It is User's responsibility to check this Agreement periodically for changes. Any changes will be effective only after the effective date of the change and will not affect any dispute arising prior to the effective date of the change. User's continued use of the Goods and Services following the posting of any changes to this Agreement constitutes acceptance of those changes.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>CONTRACT INTERPRETATION:</b> The Article headings of this Agreement are for convenience only, and shall not be considered or referred to in resolving questions of interpretation or construction. Whenever the Agreement so requires, the masculine gender includes the feminine and neuter, and the singular number includes the plural. The terms "hereof," "herein," "hereby," "hereto," and similar words refer to this entire Subcontract and not to any particular Article, Section, Exhibit or any other subdivision of this Subcontract. The words "include" or "including" shall be deemed to be followed by "without limitation" or "but not limited to" whether or not they are followed by such phrases or words of like import. Whenever this Subcontract refers to a number of "days," such number shall refer to calendar days unless business days are specified. Any reference to a "month" or a "year" shall be construed as a reference to a calendar month or year. In the event that an ambiguity or question of intent or interpretation arises, this Agreement shall be construed as if drafted jointly by the parties hereto, and no presumption or burden of proof shall arise favoring or disfavoring any party by virtue of the authorship of any of the provisions of this Agreement.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>NOT AUTHORIZED TO DO BUSINESS IN EVERY JURISDICTION:</b> Tenna is not authorized to do business in every jurisdiction. Information published on this Site may contain references or cross-references to Goods and Services that are not available in the User's state or country.</li>

          <li style="list-style:decimal; padding-left: 5px;"><b>COMPLIANCE WITH LAW; INDEMNITY:</b> User, in its use of the Goods and Services and its obligations hereunder shall fully comply with the provisions of all applicable laws, codes, ordinances, rules, regulations, standards, orders and decrees of any government or quasi-government entity having jurisdiction as modified during the existence of the Agreement (collectively, "Legal Requirements"). User agrees to indemnify and hold harmless Tenna and its respective officers, directors, employees, and agents against any and all loss, cost, damage, fine, expense, or liability by reason, in whole or in part, of User's failure to comply with all applicable Legal Requirements. This provision shall survive completion or termination of this Agreement.</li>
        </ul>
        <br>

        <p><b>COPYRIGHT NOTICE -</b> Copyright © 2015-2018 Tenna, LLC</p>

        <p>The copyright of this website and the material on this website (including without limitation the text, computer code, artwork, photographs, images, music, audio material, video material and audio-visual material on this website) is owned or licensed by Tenna. Tenna does not grant User any other rights in relation to this website or the material on this website. In other words, all other rights are reserved. For the avoidance of doubt, User must not adapt, edit, change, transform, publish, republish, distribute, redistribute, broadcast, rebroadcast or show or play in public this website or the material on this website (in any form or media) without Tenna's prior written permission. If Tenna discovers that User has used its copyright materials in contravention of the license above, Tenna may bring legal proceedings against User seeking monetary damages and an injunction to stop User using those materials. User could also be ordered to pay legal costs. If User becomes aware of any use of Tenna's copyright materials that contravenes or may contravene the license above, please report this by email to <a href="mailto:support@tenna.com">Support@tenna.com</a>.</p>
        <p>
          NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT  NOTE: THE FOLLOWING INFORMATION IS PROVIDED EXCLUSIVELY FOR NOTIFYING THE SERVICE PROVIDERS REFERENCED BELOW THAT USER'S COPYRIGHTED MATERIAL MAY HAVE BEEN INFRINGED. ALL OTHER INQUIRIES WILL NOT RECEIVE A RESPONSE THROUGH THIS PROCESS. Pursuant to Title 17, U.S. Code, Section 512(c)(2), written notification must be submitted to the following Designated Agent: Service Provider(s):
          Name of Agent Designated to Receive
          Notification of Claimed Infringement: Corporate Service Company
          Full Address of Designated Agent to
          Which Notification Should be Sent: 2711 Centerville Road, Suite 400 Wilmington, Delaware 19808
          Telephone Number of Designated Agent: +1-302-636-5400
          Facsimile Number of Designated Agent: +1-302-636-5454
          To be effective, the Notification must include the following:</p>
        <p>
          A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</p>
        <p>Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</p>
        <p>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material;</p>
        <p>Information reasonably sufficient to permit the service provider to contact the Complaining Party, such as an address, telephone number, and if available, an electronic mail address at which the complaining party may be contacted;</p>
        <p>A statement that the Complaining Party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</p>
        <p>A statement that the information in the notification is accurate, and under penalty of perjury, that the Complaining Party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
        </p>
      </div>
    </div>
  </div>
</div>
