<div class="wrapper">
  <section class="affordable-asset">
    <%= render partial: 'pages/value_partials/affordable_asset'%>
  </section>
  <section class="white-section2">
    <%= render partial: 'pages/value_partials/asset_management_system'%>
  </section>
</div>
<section class="learn-more-form">
  <%= render partial: 'pages/homepage_partials/learn_more_footer'%>
</section>
