<div class="row">
  <div class="col s12 m12 l12">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <span class="title-text-big-blue">Press Releases</span>
    </div>
  </div>
</div>

<% @news_items.each do |news_item| %>
<div class="news-index-item">
  <div class="row s12 m12 l12">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10 news-item-title">
      <div class="float-left padding-top-20 news-item-date">
        <div class="date-container">
          <%= news_item.article_date.strftime('%b') %><br>
          <%= news_item.article_date.strftime('%-d') %>
        </div>
      </div>
      <div class="news-item-title-text">
          <%= link_to news_item.title, news_item %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="news-index-item">
  <div class="row s12 m12 l12">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10 news-item-title"></div>
  </div>
</div>
