<div class="row v-h-align center ie-center">
  <div class="newsroom-heading v-h-align" style="align-self: center">
    <div class="btn-large" style="align-self: center;">NEWSROOM</div>
  </div>
</div>
