<div id="newsroom">
  <div id="wrapper">
    <section class="newsroom-intro">
      <%= render partial: 'news_items/intro' %>
    </section>
    <section class="white-section2 padding-top-50">
      <%= render partial: 'news_items/articles' %>
    </section>
    <% if (@news_items.respond_to? :total_pages) && @news_items.total_pages > 1 %>
        <%= paginate @news_items %>
    <% end %>
  </div>
</div>
