<div id="wrapper">
  <div id="news_item" class="row">
    <div class="col s12 m12 l12 padding-top-50">
      <div class="col l1 hide-on-med-and-down">&nbsp;</div>
      <div class="col s12 m12 l10">
        <div><%= link_to "Back", news_items_path %></div>
      </div>
    </div>

    <div class="col s12 m12 l12 padding-top-50">
      <div class="col l1 hide-on-med-and-down">&nbsp;</div>
      <div class="col s12 m12 l10">
        <div><%= @news_item.post_date.present? ? @news_item.post_date.strftime("%B #{@news_item.post_date.day.ordinalize}, %Y") : Date.today.strftime("%B #{Date.today.day.ordinalize}, %Y") %></div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s12 m12 l10">
          <span class="title-text-big-blue"><%= @news_item.title %></span>
        </div>
      </div>
    </div>

    <div class-="row">
      <div class="col s12 m12 l12">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s12 m12 l10">
          <div class="row"><%= Loofah.fragment(@news_item.description).scrub!(:strip).to_s.html_safe %></div>
        </div>
      </div>
    </div>
  </div>
</div>
