<ul class="tabs steps-tab">
  <li class="tab col s6 l6 site-detail-step-1"><a class="active" id="detail" href="#step-detail">Step 1 - Details</a></li>
  <li class="tab col s6 l6 next-disable next-step site-address-tab"><a href="#step-address" id="address">Step 2 - Address</a></li>
</ul>
<%= simple_form_for(@project, html: {data: {"data-parsley-validate": ""} }) do |f| %>
  <%= f.error_notification %>
  <div id="step-detail">
    <div class="form-inputs row">
      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.input :name, autofocus: true, input_html: {class: 'ip2' }, wrapper_html: {class: 'col s12'} , label_html: {class: 'ip1'}%>
        </div>

        <div class="row">
          <%= f.input :project_num, label: 'ID/Number', wrapper_html: {class: 'col s12'},label_html: {class: 'ip1'} %>
        </div>

        <div class="row">
          <%= f.input :closeout_date, as: :material_date, label: 'Closeout Date', wrapper_html: {class: 'col s12', id: 'project_create'} ,label_html: {class: 'ip1'}%>
        </div>
        <% if @project.duration.present? %>
          <div class="row">
            <%= f.input :duration, wrapper_html: {class: 'col s12'} ,label_html: {class: 'ip1'}%>
          </div>
        <% end %>
      </div>

      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.association :contact, collection: @project.company.users,include_blank: (@project.new_record?) ? 'Select Contact' : false, label: 'My Company Contact', class: 'dd1', wrapper_html: {class: 'col s12',style: 'margin-top: 25px;'} ,label_html: {class: 'cb1',style: 'font-size: 17px !important'}, input_html: {class: 'select2'}%>
        </div>

        <div class="row">
          <%= f.input :contact_email, wrapper_html: {class: 'col s12 contact-size'}, label: 'Customer/Contact Email',label_html: {class: 'ip1'} %>
        </div>

        <div class="row">
          <%= f.input :contact_sms_number, wrapper_html: {class: 'col s12',style: ' height: 44px;'}, label: 'Customer/Contact Mobile Number',
                      input_html: { data: { "parsley-pattern": '^[\d\+\-\.\(\)\/\s]*$' } },label_html: {class: 'ip1'} %>
            <span class="b13" style="margin-left: 3%;">To send SMS/Text</span>
        </div>
      </div>

      <div class="row">
        <%= f.input :description, as: :material_text, wrapper_html: {class: 'col s12', style: 'margin-top: 35px'} ,label_html: {class: 'ip1'}%>
      </div>
    </div>

    <div class="row step-2-btns">
        <div class="col s4">
          <a href="<%=params[:back]%>" class="modal-action modal-close btn white but2 site-detail-step-1" style="color: #fd4f00;">Cancel</a>
        </div>
        <div class="col s8">
          <span id="next-step" class="next-disable waves-effect waves-light btn next-step but1 site-address-tab reallocate-action-btn">Next Step</span>
        </div>
    </div>
  </div>
  <div id="step-address">
    <a href="#!" class="lk1" id="prev-step" >Back</a>
      <ul class="tabs steps-splitter">
        <li class="tab" id="form-tab">
          <a href="#table-view" class="active">
            <i class="fa fa-th-list"></i>
          </a>
        </li>
        <li class="tab" id="maping-tab">
          <a href="#map-view-site" id="history-map-link" class="">
            <i class="fa fa-map-o"></i>
          </a>
        </li>
      </ul>

      <div id="table-view">
        <%= f.simple_fields_for :address do |address_form| %>
            <%= render 'address/form', f: address_form %>
        <% end %>
      </div>
      <div id="map-view-site">
      <input id="searchTextField" type="text" size="50">

          <div id="geolocation" data-private="<%= current_user.private? %>" data-api-key="<%= Rails.application.secrets['keys']['map_box_api_key'] %>">
          </div>
      </div>

      <div class="row step-2-btns">
        <div class="col s4 form_btn">
            <a class="waves-effect clear_location_btn waves-light btn white but2">Clear</a>
        </div>
        <div class="col s4 map_btn hide">
            <a class="waves-effect clear_map_btn waves-light btn white but2">Clear</a>
        </div>
        <div class="col s4">
            <a href="<%=params[:back]%>" class="waves-effect waves-light btn white but2">Cancel</a>
        </div>
        <div class="col s4">
          <%=f.button :button,"#{params[:action] == 'edit' ? 'Update Site' : 'Create Site'}", onClick: "ga('send', 'Internal Link', 'Projects: #{action_name}');".html_safe, data: {disable_with: 'Processing…',class: 'but1'} ,style: 'float: right'%>
        </div>
      </div>
  </div>
<% end %>
