<% if @projects.size > 0 and !@projects.first.nil? %>
    <%= render partial: 'projects/project',  collection: @projects %>
<% else %>
    <p>No Sites Found</p>
<% end %>

<% if @projects.total_pages > 1 %>
    <tr>
      <td>
        <%= paginate @projects %>
      </td>
    </tr>
<% end %>
