<div id="project-closed-<%= project.id.to_s %>" class="modal">
  <div class="modal-content">
    <div class="h3 modal-heading-botm">This Site has expired...</div>
    <br>
    <div class="subh1"> There are <span class="h2"><%= project.available_assets.count%> Assets </span>in this site.</div>
    <br>
    <div class="h1">Would you like to ?</div>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12 m4 l6"><a href="#!" class="modal-action modal-close proj-popup btn white but2 change-date-cncl-btn">Cancel</a></div>
        <div class="col s12 m8 l6 site-date-btn"><%= link_to 'Change The Site Date', '', name: 'change-project-date' , class: 'btn but1' %></div>
      </div>
      <div class="has-assets">
      <div class="col s12 m12 l1">
        or
      </div>
      <div class="col s12 m12 l5">
        <%= link_to 'Reallocate Groups/Assets to Active Site', '', name: 'reallocate-active-project' %>
      </div>
      </div>
    </div>
  </div>
</div>
