<%= link_to project.name, project_path(project) %>

<p><%= project.name %></p>

<% if project.project_num.present? %>
  <p><%= project.project_num %></p>
<% end %>
<p><%= project.contact.name %></p>

<p><%= project.contact.email %></p>

<p><%= phony_formatted(project.contact.phone_number) %></p>

<p><%= project.address.short_address %></p>

<p><%= "#{closeout_date_label(project.closeout_date)} #{format_date(project.closeout_date)}" %></p>
