<tr>
  <td>
    <% has_assets = (project.has_assets? || project.has_groups?)? '_assets' : '' %>

    <%= link_to project, {class: (project.project_available?)? 'project-popup' : '', data_project_id: "#{project.try(:id)}#{has_assets}"} do %>

      <p class="project_left_item h2 <%=  project.default_project? ? 'default' : '' %>"><%= project.name %></p>

      <% if project.project_num.present? %>
        <p class="project_left_item b9">ID - <%= project.project_num %></p>
      <% end %>

      <p class="project_left_item b10"><%= project.contact.name %></p>

      <p class="project_left_item lk3"><%= project.contact.email %></p>

      <p class="project_left_item b10"><%= phony_formatted(project.contact.phone_number) %></p>

      <p class="project_address b10"><%= project.address.short_address %></p>

      <% if !project.default_project? %>
        <p class="<%= (project.closeout_date >= Date.today)? 'project_closeout_date b1': 'project_closedout_date b7' %> ">
          <%= "#{closeout_date_label(project.closeout_date)} #{format_date(project.closeout_date)}" %>
        </p>
      <% end %>
    <% end %>
    <%= render partial: 'projects/modal_project_closed', locals: {project: project} %>
  </td>
</tr>
