<div id="modal-upload-spreadsheet" class="modal">
  <div class="modal-content modal-bg-clr">
    <div class="h1" style="border-bottom: 1px solid #d7d7d7;">Import Assets</div>
<!--     <a href="#!" class="modal-action modal-close">Cancel</a>
 -->    <%= render partial: "project_csv_imports/form" %>
  </div>
</div>
