<%= render partial: 'shared/search' %>

<div class="row">
  <div id="filters" class="col s12 m12 l4">
    <div class="card-panel">
    <div class="header-link">
    <h1 class="h1 panel-bdr">Filters</h1>
      <a id="apply-filters" href="#"></a>
      </div>
      <%= simple_form_for(@filter_search, url: '', method: :get) do |f| %>
        <%= f.input :query, as: :hidden %>
        <%= f.input :sort, as: :hidden %>
        <%= f.input :page_size, as: :hidden %>

        <div class="form-inputs row">
          <div class="col s12">
            <% if user_signed_in? %>
              <div class="row site-filter">
                <%= f.input :is_mine, as: :boolean, boolean_style: :inline, label: 'My Sites', wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'},label_html: {class: 'cb1'} %>
                <%= f.input :is_active, as: :boolean, boolean_style: :inline, label: 'Active Sites', wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'},label_html: {class: 'cb1'} %>
                <%= f.input :is_closed, as: :boolean, boolean_style: :inline, label: 'Closed Sites', wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'},label_html: {class: 'cb1'} %>
              </div>
            <% end %>

            <div class="row">
              <%= f.input :contact_id, collection: @contacts.by_name, include_blank: 'All Contacts', wrapper_html: {class: 'col s12 dd1'} ,label_html: { :class => 'cb1' }, input_html: { class: "select2" }%>
            </div>

            <div class="row">
              <%= f.input :project, collection: current_user.company.projects.available.order(:name).pluck(:name, :id), label: 'Site', include_blank: 'Site', wrapper_html: {class: 'col s8 m6 l8'}, input_html: {class: 'select2'},label_html: {class: 'cb1'} %>
              <%= f.input 'distance_miles', as: :select, collection: %w(Exact 5 10 25 50 100), label: 'Within Miles', input_html: { class: 'select2'}, wrapper_html: {class: 'col s4 m6 l4 dd1'}, label_html: {class: 'cb1'} %>
              <%#= f.input 'distance_zip', label: 'Zip Code / Postal Code',
                input_html: {
                  data: {
                    "parsley-remote-validator": 'zipcode',
                    "parsley-remote": '',
                    "parsley-error-message": 'Enter valid zipcode with comma seperated country name/code.'
                  }
                },
                wrapper_html: {class: 'col s8'} %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= link_to 'Reset', projects_path, class: 'waves-effect waves-light btn white but2' %>
          <%= f.button :button, 'Apply Filters' ,class: 'but1'%>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col s12 m12 l8">    
    <div id="panel-list" class="card-panel" style="top: 0px">
      <div class="">
        <div class="row mb-tn">
          <div class="col s12 m6 l6">
            <div class="h1">Sites</div>
          </div>
          <div class="col s12 m6 l6 right-align">
            <div class="project-header-icons">
              <% if current_user.project_assignments.any? || current_user.company_admin? || current_user.field_member? %>
                <a href= "//s3.amazonaws.com/buildsourced-production-1/how_to_mass_upload_projects.pdf" target="_blank"><%= image_tag('guide_download_blue.png', alt: 'User Guide') %><span > User<br /> Guide</span></a>

                <a href= "//s3.amazonaws.com/buildsourced-production-1/projects_inventory_capture_sheet.csv"><%= image_tag('XLS_download_artwork.png', alt: 'Site Template') %><span > Site<br /> Template</span></a>

                  <a id="bulk-project-upload-modal-open" href="#!">
                    <i class="icon-upload" ></i>
                    <span >Import<br /> Site</span>
                  </a>
                <% end %>

                <a href = <%= export_project_exports_path %> > <i class="icon-download" ></i><span >Export<br /> Site</span></a>
                <% if current_page?(groups_path) %>
                  <%= link_to   "#{ image_tag('guide_download_blue.png', alt: 'User Guide')}<span>USER<br />GUIDE</span>".html_safe, '//s3.amazonaws.com/buildsourced-production-1/how_to_mass_import_groups.pdf', target: '_blank' %>
                  <%= link_to   "#{ image_tag('XLS_download_artwork.png', alt: 'Site Template')}<span>GROUP<br />TEMPLATE</span>".html_safe, '//s3.amazonaws.com/buildsourced-production-1/groups_inventory_capture_sheet.csv', target: '_blank' %>

                  <a class="modal-trigger" href="#bulk-group-upload-modal">
                    <i class="icon-upload" ></i>
                    <span >Import<br /> Group</span>
                  </a>
                <% end %>
              </div>
            </div>
            <div class="col s12 ">
              <div class="filter-header">
              </div>
            </div>
          </div>
          <div class="row margin-bottom-0 mt-mn">
            <div class="col s6 m6 l4 ">
              <h1 class="card-panel-heading margin-bottom-0" style="border-bottom: none">
                <%= link_to exports_path, class: 'project-action-header lk1' do %>
                  <i class="hide-on-small-and-down icon-download" style="font-size: 18px;font-weight: 600"></i>
                  <span class="hide-on-small-and-down lk1">Sites and Assets Data Export</span>
                  <i class="material-icons hide-on-med-and-up">system_update_alt</i>
                <% end %>
              </h1>
            </div>
            <div class="col s6 m6 l8 right-align ">
              <div class="filter-list">
                <div class="show-box filter-item">
                  <%= render partial: 'shared/asset_page_size_form' %>
                </div>
                <div class="srch-name filter-item">
                  <%= form_tag '', class: 'filter-form',method: :get do %>
                     <%= select_tag :sort,options_for_select(ProjectSearch.sorts.keys.map { |s| [s.to_s.titleize, s] }, @filter_search ? @filter_search.sort : nil), id: 'header-sort', style: 'margin-top: -7px;margin-left: 6px;' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <table id="table-projects" class="table" style="margin-top: 6px;">
          <%= render partial: 'projects/list' %>
        </table>
      </div>
    <div id="panel-map" class="card-panel" style="display: none;">
      <h1 class="card-panel-heading">Sites</h1>
      <div id="dashboard-map"></div>
    </div>
  </div>
</div>

<%= fab Project %>

<!-- Modal bulk upload projects -->
<div id="bulk-project-upload-modal" class="modal" style="background-color: #fff">
  <div class="modal-content">
    <div class="h1" style="border-bottom: 1px solid #d7d7d7;">Import Sites</div>
    <div class="padding-top-20">
      <%= form_tag upload_multiple_projects_path, multipart: true do %>
        <div class="file-field input-field">
          <div class="btn but1">
            <span class = "import-projects-file-btn">File</span>
            <%= file_field_tag :file, accept: 'text/csv' , required: true%>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="form-actions project-import-btn">
          <%= submit_tag 'Import', :class => 'btn but1',style: 'float:right; margin-right: 12px; margin-top: 20px;' , data: {disable_with: 'Processing Data...'}%>
          <a href="#!" class="modal-action modal-close btn but2 right-align" style="float: right;margin: 19px;">Cancel</a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var markers = <%= raw @markers.to_json %>;
</script>

