<div class="card-panel" style="margin-top: 70px;">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-headin h1 site-header-bottom" id="site-header-new">Site Details</h1>
        <%#= link_to_cancel %>
      </div>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>
