<%
  clear_filters_path = project_path(@project)
  title = 'Assets'
  fab_model = @project
  show_selection_cell = true
  assign_tracking_code = @assign_tracking_code
  tracking_code = @tracking_code
  assets_active = true
  groups_active = false
  if !params[:group_filter_search].blank? || !params[:show_groups].blank?
    groups_active = true
    assets_active = false
  end
%>

<%= render partial: 'shared/search', locals: { hide: !assets_active } %>
<%= render partial: 'shared/group_search', locals: { hide: !groups_active, groups: @project_groups } %>
<div class="row">
  <div id="filters" class="col s12 m12 l4">
      <div class="card-panel project-asset-filter <%= assets_active ? 'active' : '' %>">
        <%= render partial: 'shared/filters', locals: { clear_filters_path: project_path(@project) }  %>
      </div>

      <div class="card-panel project-group-filter <%= groups_active ? 'active' : '' %>">
        <div class="header-link">
          <h1 class="card-panel-headin h1 panel-bdr">Filters</h1>
          <!-- <a id="apply-filters" href="#">Apply Filters</a> -->
        </div>
        <%= simple_form_for(@group_filter_search, url: '', method: :get) do |f| %>
          <%= f.input :query, as: :hidden %>
          <%= f.input :sort, as: :hidden %>
          <%= f.input :page_size, as: :hidden %>
          <div class="form-inputs row">
            <%= f.input :is_active, as: :boolean, boolean_style: :inline, label: 'Active Groups', wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'}, label_html: {class: 'cb1'} %>
            <%= f.input :is_closed, as: :boolean, boolean_style: :inline, label: 'Closed Groups', wrapper_html: {class: 'col s12'}, input_html: {class: 'filled-in'},label_html: {class: 'cb1'} %>
          </div>

          <div class="form-actions">
            <%= link_to 'Reset', groups_path, class: 'waves-effect waves-light btn white but2' %>
            <%= f.button :button, 'Apply Filters', class: 'but1' %>
          </div>
        <% end %>
      </div>
  </div>

  <div class="col s12 m12 l8">
    <div class="card-panel project-details-card-panel">
      <div class="header-link">
        <h1 class="card-panel-headin links-li panel-bdr h2">Site Details</h1>
        <% if can?(:edit, @project) && current_user.role != 'field_member' %>
          <%= link_to 'Site Users', project_assignments_path(@project), class: 'lk1' %>
        <% end %>
        <%= link_to '<span class="btn-floating btn-small primary waves-effect waves-light  mr-tn"><i class="material-icons">add</i></span><span class="dd3">Add Asset</span>'.html_safe, new_asset_path(back: request.fullpath, project_id: @project.id), onClick: "ga('send', 'Internal Link', '#{new_asset_path(back: request.fullpath, project_id: @project.id)}');".html_safe , style: 'margin-top: 54px;z-index: 1;'%>
      </div>
      <div id="project-details">
        <p class="project_name h2 <%= @project.default_project? ? 'default' : '' %>"><%= @project.name %></p>

        <% if @project.project_num.present? %>
          <p class="project_project_num b9"><%= @project.project_num %></p>
        <% end %>

        <p class="project_contact_name b10"><%= @project.contact.name %></p>

        <p class="project_contact_email lk3"><%= mail_to @project.contact.email %></p>

        <p class="project_contact_phone_number b1"><%= phony_formatted(@project.contact.phone_number) %></p>

        <p class="project_address b6"><%= @project.address.short_address %></p>
        <% if !@project.default_project? %>
          <p class="project_closeout_date b1"><%= "#{closeout_date_label(@project.closeout_date)} #{format_date(@project.closeout_date)}" %></p>
        <% end %>
      </div>

      <div id="spreadsheet-links" class="project-detail-links">
        <%= link_to   "#{ image_tag('guide_download_blue.png', alt: 'UPLOAD GUIDE')} <span class='lk2'>User<br />Guide</span>".html_safe, '//s3.amazonaws.com/buildsourced-production-1/how_to_mass_upload.pdf', target: '_blank', class: 'project-detail-icons' %>
        <%= link_to  "#{ image_tag('XLS_download_artwork.png', alt: 'ASSETS TEMPLATE') } <span class='lk2'>Assets<br />Template</span>".html_safe, '//s3.amazonaws.com/buildsourced-production-1/inventory_capture_sheet.csv', target: '_blank', class: 'project-detail-icons' %>
        <% if @show_import_link %>
          <%= link_to content_tag(:i, '', class: 'icon-upload project-detail-upload-data-icon') + '<span class="lk2">Import<br />Assets</span>'.html_safe, '#', class: 'project-detail-icons', id: 'modal-upload-spreadsheet-open' %>
        <% end %>
        <%= link_to content_tag(:i, '', class: 'icon-download project-detail-upload-data-icon') + '<span class="lk2">Export<br />Assets</span>'.html_safe,reports_project_assets_report_path(project_id: @project.id),class: 'project-detail-icons' ,style: 'float: none;'%>
      </div>
    </div>

    <ul class="tabs groups site-detail-tabs">
      <li class="tab col s6 l6">
        <a
          <% if assets_active %>class="active"<% end %>
          href="#tab-assets">
          Assets
        </a>
      </li>
      <li class="tab col s6 l6">
        <a
          <% if groups_active %>class="active"<% end %>
          href="#tab-groups">
          Groups
        </a>
      </li>
    </ul>
    <div id="tab-assets">
      <%= render partial: 'shared/asset_list',
        locals: {
          title: title,
          show_selection_cell: show_selection_cell,
          clear_filters_path: clear_filters_path,
          assign_tracking_code: assign_tracking_code,
          tracking_code: tracking_code
        } %>
    </div>
    <div id="tab-groups">
      <%= render partial: 'groups/list',
        locals: {
          groups: @project_groups,
          form_path: update_multiple_groups_path,
          page_param: 'g_page',
          redirect_path: project_path+'?show_groups=true'
        }
      %>
    </div>
  </div>
</div>
<%= render partial: 'projects/upload_spreadsheet' %>
<%= fab @project %>
<script>
  var markers = <%= raw @markers.to_json %>;
</script>
