// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: image-url("tennalogo/ActiveAdLogo.png") 0px 0px/ 160px 45px no-repeat;

$skinHeaderBck: #D3D1DB;
$skinActiveColor: #D3D1DB;

@import "active_skin";
@import "active_admin_pr_24";

@import "companies";
@import "notifications";

.cke_button__assets_loop_icon,
.cke_button__link_to_asset_icon,
.cke_button__asset_title_icon,
.cke_button__asset_make_icon,
.cke_button__asset_model_icon,
.cke_button__asset_year_icon,
.cke_button__asset_category_icon,
.cke_button__asset_location_icon,
.cke_button__asset_price_icon{
  display: none !important;
}

.cke_button__assets_loop_label,
.cke_button__link_to_asset_label,
.cke_button__asset_title_label,
.cke_button__asset_make_label,
.cke_button__asset_model_label,
.cke_button__asset_year_label,
.cke_button__asset_category_label,
.cke_button__asset_location_label,
.cke_button__asset_price_label{
  display: inline !important;
}

.green {
  color: green;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

a.red {
  color: red !important;
}

a.green {
  color: green !important;
}
