// https://github.com/rstgroup/active_skin/pull/24

#title_bar
  .action_items span.action_item
    & > a, & > .dropdown_menu > a
      @include rounded(0)
      background: $skinActiveColor
      color: #fff
      @include no-shadow()
      text-shadow: none
      border: none
      padding: 17px
      font-size: 14px
      &:hover
        background: lighten($skinActiveColor, 10%) !important

#header
  background: #484858

#header ul.tabs > li a
  color: #ffffff

#header #utility_nav 
  background: #484858

#header #utility_nav a
  color: #ffffff

#header #utility_nav a:active
  color: #ffffff