/*@import "materialize.scss";*/
@import "../variables";
.notification{
  background-color: white;
  margin: 10px auto;
  padding: 5px;
  
  hr{
    border: 1px solid #E1E4E7;

  }

  h2{
    font-size: $fs-mn;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #7A8B8B;
    display: inline-block;
    margin: 5px 5px 5px 0px;
    padding: 5px 5px 5px 0px;
  }

  .resource_selection_cell{
    display: inline-block;
    margin: 5px 5px 5px 0px;
    padding: 5px 5px 5px 0px;
  }
  .send-email-btn{
    font-size: $fs-mn;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0.3em;
    padding: 10px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border: none; 
    text-align: center;
    background-color: #3B98DF;
    color: white;
  }
  .send-email-btn:hover {
    box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
  }
}

