<div class="row">
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h1 class="card-panel-heading h1">Company Wide</h1>
      <table class="company_directory striped">
        <thead class="header-h3b b21">
          <tr>
            <th>Name</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @company_users.order(:last_name).each do |cu| %>
            <tr>
              <td class="<%= "default-contact body-text15" if cu.is_company_contact?%>">
                <%if cu.invitation_accepted_at.nil?%>
                  <%= "#{cu.first_name} #{cu.last_name}" %>
                  <% if cu.invitation_created_at.present? && cu.invitation_accepted_at.blank? %>(Invited)<% end %>
                  <% if cu.title %>
                    <%= cu.title %></div>
                  <% end %>
                    <br>
                    <i class="icon-share reinvite-share li"></i>
                    <%= link_to("Re-invite",resend_invitation_path(cu.id), style: 'margin-left:24px;font-size: 13px')
                    %>
                <%else%>
                  <%= link_to company_user_path(cu.company, cu) do %>
                    <%= "#{cu.first_name} #{cu.last_name}" %>
                    <% if cu.invitation_created_at.present? && cu.invitation_accepted_at.blank? %>(Invited)<% end %>
                    <% if cu.title %>
                      <%= cu.title %></div>
                    <% end %>
                    <%end%>
                <%end%>
              </td>
              <td class="body-text1 b3">
                <% if cu.company_admin? or cu.admin? %>
                  A
                <% elsif cu.field_member? %>
                  F
                <% else %>
                  Staff
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if (@company_users.respond_to? :total_pages) && @company_users.total_pages > 1 %>
            <tr>
              <td colspan="2">
                <%= paginate @company_users, :param_name => :c_page %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h1 class="card-panel-heading h1">Site Specific</h1>
      <table class="company_directory striped">
        <thead class="header-h3b b21">
          <tr>
            <th>Name</th>
            <th>Sites</th>
          </tr>
        </thead>
        <tbody>
          <% @project_users.order(:last_name).each do |cu| %>
            <tr>
              <td class="<%= "default-contact body-text15 lk1" if cu.is_company_contact?%>">
              <%= link_to company_user_path(cu.company, cu) do %>
                <span class="lk3"><%= "#{cu.first_name} #{cu.last_name}" %></span>
                <% if cu.invitation_created_at.present? && cu.invitation_accepted_at.blank? %>(Invited)<% end %>
                <% if cu.title %>
                  <br><span class="lk3"><%= cu.title %></span>
                <% end %>
              <% end %>
              <%if cu.invitation_accepted_at.nil?%>
                <br>
                <i class="icon-share reinvite-share"></i>
                <%= link_to("Re-invite",resend_invitation_path(cu.id,class: "lk1"), style: 'margin-left:24px;font-size: 13px')
                %>
              <%end%>
              </td>
              <td class="body-text1 b3">
                <%= render partial: "user_projects", locals: {user: cu,
                                                          project_assignments: cu.project_assignments.by_project_name} %>
              </td>
            </tr>
          <% end %>
          <% if (@project_users.respond_to? :total_pages) && @project_users.total_pages > 1 %>
            <tr>
              <td colspan="2">
                <%= paginate @project_users, :param_name => :p_page %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
