<%= simple_form_for(@company, html: {multipart: true}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs row separator-row">
      <div class="col s12 m6 form-col">
        <div class="row">
          <%= f.input :name, autofocus: true, wrapper_html: {class: 'col s12'} %>
        </div>

        <div class="row">
          <%= f.association :contact, collection: @company.users, include_blank: false, wrapper_html: {class: 'col s12'} %>
        </div>

        <% if @company.company_logo.present? %>
            <div class="row">
              <div class="col s12">
                <%= image_tag current_user.company.company_logo.thumb.url %>
              </div>
            </div>
        <% else%>
            <div class="row">
              <div class="col s12">
                <%= image_tag("tennalogo/company-logo-not-uploaded.png") %>
              </div>
            </div>
        <% end %>

        <div class="row">
          <%= f.input :company_logo, as: :material_file, label: false, wrapper_html: {class: 'col s12'} %>
        </div>

        <% if @company.company_logo.present? %>
            <div class="row">
              <%= f.input :remove_company_logo, as: :boolean, boolean_style: :inline, wrapper_html: {class: 'col s12'} %>
            </div>
        <% end %>
      </div>

      <div class="col s12 m6 form-col">

        <%= f.simple_fields_for :address do |address_form| %>
            <%= render 'address/form', f: address_form %>
        <% end %>
      </div>
    </div>
  <div class="form-actions">
    <%= f.button :button, onClick: "ga('send', 'Internal Link', 'Companies: #{action_name}');".html_safe, data: {disable_with: 'Processing…'} %>
  </div>
<% end %>
