<% if user.company_admin? || user.field_member? %>
  All sites
<% else %>
    <div class="collapsed">
    <% if project_assignments.count == 1 %>
      <%= project_name_and_role project_assignments.first %>
    <% elsif project_assignments.count > 1 %>
      Sites <a class="expander">( +<%= project_assignments.count %> )</a>
    <% else %>
      None
    <% end %>
    </div>
    <div class="other_projects">
      <% if  project_assignments.count > 1 %>
        <% project_assignments.each_with_index do |pa, i| %>
          <%= project_name_and_role pa %> <br/>
        <%  end %>
      <% end %>
    </div>
<% end %>
