<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading h1">Edit Company</h1>
        <%= link_to_cancel %>
      </div>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>

<%= fab @company %>
