<div class="loaderOverlay">
  <p>.</p>
</div>
<div class="row prinitingTags">
  <div class="col s12 m12 l12">
    <div class="card-panel qrPrintingPanel">
      <h1 class="h1">Printable QR Tags</h1>
      <p class = "b3-qr">These QR tags are great for indoor assets and temporary use. To get tags that are weather tested, durable, and last up to ten years, please <a href="#" class="l1">contact us.</a></p>
      <hr>
      <div class="row">
        <div class="col s12 m6 l6 leftSection">
          <p>Printable QR tags used: <span class="l5-qr"><b class="l5-qr" id="used_codes_count"><%= @company.total_used_codes %></b></span></p>
          <p>Printable QR tags not in use: <span class="text-printable"><b class="b26" id="unused_codes_count"><%= @company.total_unused_codes %></b></span></p>
          <p>Unique Printable QR tags provided to date: <span><b><%= TrackingCode::MAX_UNUSED_CODES %></b></span></p>
          <p class="b1">Because you have used <b class="l5"><%= @company.total_used_codes %></b> out of the <b class="l5"><%= TrackingCode::MAX_UNUSED_CODES %></b> provided, the next batch will provide you with <b class="l5"><%= @company.total_used_codes %></b> new tags, plus a copy of the <b class="b27"><%= @company.total_unused_codes %></b> that are not in use.</p>
          <p class="b1">We allow you up to <b><%= TrackingCode::MAX_UNUSED_CODES %></b> unique codes that are not yet associated with an asset. We'll privide unlimited codes.</p>
        </div>

        <div id="preloaderBkground" class="<%= @company.qr_requested_or_generating? ? 'preloader-background' : '' %>">
          <div class="preloader-wrapper small <%= @company.qr_requested_or_generating? ? '' : 'in' %>active printQrLoader">
            <div class="spinner-layer spinner-grey-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
          <p class="subh2">How are you printing your QR tags?</p>
          <form>
            <div class="row rdbPrinted">
              <div class="col s6 m6 l6">
                <input id="thermalPrint" class="radio_buttons optional with-gap" type="radio" name="printedType" value="thermalPrint" <%= (@company.qr_print_type == 'thermalPrint') ? 'checked' : '' %> >
                <label for="thermalPrint">Thermal Printed</label>
              </div>
              <div class="col s6 m6 l6">
                <input id="laserPrint" class="radio_buttons optional with-gap"  type="radio" name="printedType" value="laserPrint" <%= (@company.qr_print_type == 'laserPrint' || @company.qr_print_type.nil? ) ? 'checked' : '' %> >
                <label for="laserPrint">Laser printed</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <% if ((@company.qr_status.eql? 'created') && (@company.qr_print_type.eql? 'laserPrint')) %>
                  <%= select_tag 'label_format', options_for_select(laser_printed, @company.qr_format), class: 'browser-default drpLabelSize' %>
                <% elsif ((@company.qr_status.eql? 'created') && (@company.qr_print_type.eql? 'thermalPrint')) %>
                  <%= select_tag 'label_format', options_for_select(thermal_printed, @company.qr_format), class: 'browser-default drpLabelSize' %>
                <% else %>
                  <%= select_tag 'label_format', options_for_select(laser_printed, 'avery_5160'), class: 'browser-default drpLabelSize' %>
                <% end %>
              </div>
            </div>
            <p class="subh2">How would you like to recieve the QR Tags?</p>
            <div class="row rdbPrinted">
              <div class="col s6 m6 l6">
                <input id="email" class="radio_buttons optional with-gap"  type="radio" name="receivingSource" value="email" checked>
                <label for="email" class="labelcb">Email</label>
              </div>
              <div class="col s6 m6 l6">
                <input id="download" class="radio_buttons optional with-gap"  type="radio" name="receivingSource" value="download">
                <label for="download" class="labelcb">Download</label>
              </div>
            </div>
            <div class="row btnSection">
              <div class="col s12 m12 l12 sbmt-btn">
                <% if @company.qr_status.eql? 'created' %>
                  <a class='btn but1 btn-qr waves-effect waves-light request_submit_button' id='email_company_qr_codes' href='#'>GET QR TAGS</a>
                <% else %>
                  <button class="btn btn-qr but1 waves-effect waves-light request_submit_button" id="generate-qr-codes">GENERATE QR CODES</button>
                <% end %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
