<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div><h5 class="company-name h1"><%= @company.name %></h5></div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col s6 m6 l6">
      <% if current_user.admin? %>
        <%= link_to 'Tenna Admin', admin_root_path, class: 'btn red' %>
        <br/>
      <% end %>
      <p class='body-text1 b9'>
        <%= @company.address.formatted_address %>
        <br>
        <span class='default-contact body-text15 b21'><%= @company.contact.name %></span>
        <br>
        <span class="lk1"><%= @company.contact.email %><%= @company.contact.phone_number %></span>
      </p>
      <% if can? :edit, @company %>
        <%= link_to 'Edit', edit_company_path(@company, back: request.fullpath), class: "lk1" %>
      <% end %>
    </div>

    <div class="col s6 m6 l6 right-align">
      <p class="margin-btm-none b9"><b class="h2">A:</b> Administrator</p>
      <p class="margin-btm-none b9"><b class="h2">F:</b> Field</p>
      <p class="margin-btm-none b9"><b class="h2">L:</b> Leader</p>
      <p class="margin-btm-none b9"><b class="h2">M:</b> Member</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3 linkPermissionOver link-c lk1">
      <%= link_to '<ul><li class="txtPermission"><i class="fa fa-file-text-o"></i> Permissions Overview</li></ul>'.html_safe, 'https://s3.amazonaws.com/buildsourced-production-1/user_permissions.pdf', target: :_blank %>
    </div>
    <div class="col s12 m6 l9 btns-c">
      <% if current_user.company_admin? or current_user.admin? %>
        <%= link_to 'Assign Company Role', company_users_path(@company), class: 'waves-effect waves-light btn btn-company' %>
      <% end %>

      <% if current_user.company_admin? or current_user.admin? %>
        <%= link_to 'Invite New User', new_company_user_path(@company), class: 'waves-effect waves-light btn btn-company' %>
      <% end %>
    </div>

  </div>
</div>

<%= render partial: "directory" %>
