<div id="not_subscribed">
  <div class="row">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <div class="row">
        <div class="col s12 m12 l12">
        <span class="title-text-big-orange" style="font-size: 36px;">
          Tenna’s Live Data feature is an optional Premium feature...
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text">
          The Tenna<span style="color: #fd4f00;"> Live Data</span> feature gives you real-time insights on the location and status of your equipment. Get instant, automatic updates as your equipment relocates to or from selected areas, or real-time service notifications such as engine operations or speed.  Tenna can help you find more operational control with live insights from the field.
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text contact-text">
          <div>Contact us if you wish to subscribe.</div>
          <div id="mail-div"><%= mail_to 'support@tenna.com' %></div>
          <div>844.502.8453</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l9">
      <div class="row v-h-align center ie-center">
        <div class="not-subscribed-img-generic-css not-subscribed-livedata-image v-h-align" style="align-self: center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
