<%= javascript_tag do %>
  window.CSRF_TOKEN = $('meta[name="csrf-token"]').attr('content');
  window.COMPANY_ID = <%= current_user.company_id %>;
  window.IS_ADMIN = <%= current_user.admin? || current_user.company_admin? %>;
  window.INITIAL_STATE = {
    mqtt: {
      token: '<%= MqttJwtGenerator.new(current_user.company_id, current_user.id).perform %>'
    },
    assets: {
      all: <%= raw to_map_data(@assets).to_json %>,
      data: <%= raw to_map_data(@assets).to_json %>,
      showFilter: true,
      selectAssetClickCount: 0,
    },
    sites: {
      data: <%= raw current_user.company.projects.available.order(:name).pluck(:name, :id).as_json %>
    },
    contacts: {
      data: <%= raw current_user.company.users.as_json({only: [:first_name, :last_name, :id]}).to_json %>
    },
    geofences: {
      data: <%= raw current_user.company.geo_fences.to_json %>,
      drawing: {
        shape: {},
        color: '#fd4f00',
        assets: []
      },
      drawingActive: false
    },
    gauges: {
      data: <%= raw Gauge.all.sort_by(&:name).to_json %>
    },
    gaugeAlert: {
      data: {},
      gauges: [],
      selectedGauges: [],
      availableGauges: <%= raw Gauge.all.to_json %>,
      filters: null,
      object: null,
      isLoading: false,
      isSaving: false,
      error: '',
      deletedConditions: [],
      deletedGauges: [],
    },
    categoryGroups: {
      data: <%= raw CategoryGroup.all.to_json %>
    },
    categories: {
      data: <%= raw parseToGroupCategories(Category.all).to_json %>
    }
  };
  window.markerIcons = {
    bluetooth: {
      originalIcon:   '<%= image_url('live_data/marker-bt-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-bt-satellite-view.png') %>',
      updateIcon:     '<%= image_url('live_data/marker-bt-latest-update.png') %>',
      stateHoverIcon: '<%= image_url('live_data/marker-bt-hover-selected-state.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-bt-selected-hover.png') %>',
    },
    cellular: {
      originalIcon:   '<%= image_url('live_data/marker-cellular-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-cellular-satellite-view.png') %>',
      updateIcon:     '<%= image_url('live_data/marker-cellular-latest-update.png') %>',
      stateHoverIcon: '<%= image_url('live_data/marker-cellular-hover-selected-state.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-cellular-selected-hover.png') %>',
    },
    group: {
      originalIcon:   '<%= image_url('live_data/marker-group-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-group-satellite-view.png') %>',
      updateIcon:     '<%= image_url('live_data/marker-group-latest-update.png') %>',
      stateHoverIcon: '<%= image_url('live_data/marker-group-hover-selected-state.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-group-selected-hover.png') %>',
    },
    lora: {
      originalIcon:   '<%= image_url('live_data/marker-lora-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-lora-satellite-view.png') %>',
      updateIcon:     '<%= image_url('live_data/marker-lora-latest-update.png') %>',
      stateHoverIcon: '<%= image_url('live_data/marker-lora-hover-selected-state.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-lora-selected-hover.png') %>',
    },
    project: {
      originalIcon:   '<%= image_url('live_data/marker-project-site-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-project-site-satellite-view.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-project-site-selected-hover.png') %>',
    },
    qr: {
      originalIcon:   '<%= image_url('live_data/marker-qr-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-qr-satellite-view.png') %>',
      updateIcon:     '<%= image_url('live_data/marker-qr-latest-update.png') %>',
      stateHoverIcon: '<%= image_url('live_data/marker-qr-hover-selected-state.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-qr-selected-hover.png') %>',
    },
    rfid: {
      originalIcon:   '<%= image_url('live_data/marker-rfid-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-rfid-satellite-view.png') %>',
      updateIcon:     '<%= image_url('live_data/marker-rfid-latest-update.png') %>',
      stateHoverIcon: '<%= image_url('live_data/marker-rfid-hover-selected-state.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-rfid-selected-hover.png') %>',
    },
    sigfox: {
      originalIcon:   '<%= image_url('live_data/marker-sigfox-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-sigfox-satellite-view.png') %>',
      updateIcon:     '<%= image_url('live_data/marker-sigfox-latest-update.png') %>',
      stateHoverIcon: '<%= image_url('live_data/marker-sigfox-hover-selected-state.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-sigfox-selected-hover.png') %>',
    },
    upc: {
      originalIcon:   '<%= image_url('live_data/marker-upc-map-view.png') %>',
      satelliteIcon:  '<%= image_url('live_data/marker-upc-satellite-view.png') %>',
      updateIcon:     '<%= image_url('live_data/marker-upc-latest-update.png') %>',
      stateHoverIcon: '<%= image_url('live_data/marker-upc-hover-selected-state.png') %>',
      hoverIcon:      '<%= image_url('live_data/marker-upc-selected-hover.png') %>',
    },
  };
<% end %>
<% if @company_livedata_subscription %>
  <div class="card-panel">
    <%= react_component 'LiveData' %>
  </div>
<% else %>
    <%= render partial: 'live_data/not_subscribed.html' %>
<% end %>

