<div class="card-panel">
  <div class="row separator-row">
    <div class="col s12 m6 form-col sign_in">
      <h1 class="card-panel-heading">Sign In</h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">

            <div class="row">
              <%= f.input :email, required: false, autofocus: true, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :password, required: false, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row margin-btm-std">
              <%= f.input :remember_me, as: :boolean, boolean_style: :inline, label: 'Remember Me', wrapper_html: {class: 'col'} if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="btn-holder">
            <%= f.button :button, 'Sign In'%>
            <%= link_to 'Cancel', root_path, class: 'waves-effect waves-light btn' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
      <% end %>
    </div>

    <div class="col s12 m6 form-col sign_up">
      <h1 class="card-panel-heading">NOT A TENNA MEMBER?</h1>

      <%= link_to 'JOIN NOW', new_registration_path(resource_name), class: 'waves-effect waves-light btn' %>
    </div>
  </div>
</div>
