<div class="row center padding-top-50 padding-bottom-25">
  <a id="logo-container" href="/" class="brand-logo">
    <%= image_tag "Logo_Vertical.png", class: 'sign-in-logo' %>
  </a>
</div>
<div class="card-panel">
  <div class="row separator-row">
    <div class="col s12 m6 form-col sign_in">
      <h1 class="card-panel-heading h1">Sign In</h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">

            <div class="row">
              <%= f.input :email, required: false, autofocus: true, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :password, required: false, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row margin-btm-std">
              <%= f.input :remember_me, as: :boolean, boolean_style: :inline, label: 'Remember Me', wrapper_html: {class: 'col'} if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="btn-holder sign-in-btns">
            <%= link_to 'Cancel', root_path, class: 'waves-effect waves-light btn but2' %>
            <%= f.button :button, 'Sign In', class: 'but1' %>
          </div>

          <%= render partial: 'devise/shared/links' %>
      <% end %>
    </div>

    <div class="col s12 m6 form-col sign_up center">
      <h1 class="card-panel-heading h1">Not a Tenna Member?</h1>
      <p class="b8">Join the Marketplace</p>
      <%= link_to 'Join Now', new_registration_path(resource_name), class: 'waves-effect waves-light btn but1' %>
    </div>
  </div>
</div>
