.alertItem {
  &__conditionList {
    display: flex;
    align-items: center;
  }
  &__notification {
    color: $success;
  }
  &__condition {
    margin: $px-tn;
    // line-height: 68px;
    &--select {
      line-height: auto;
      min-width: 120px;
    }
    &--delete {
      cursor: pointer;
      color: #ff2721;
    }

    .input-field {
      margin-top: -30px;
    }
  }

  &__inputError {
    color: $font-color-red;
    padding-left: $px-sm;
  }
}