.caGaugeList {
  border-bottom: 1px solid $darker-gray;
  &__container {
    display: flex;
    align-items: center;
  }
  &__title {
    border-bottom: 1px solid $darker-gray;
    margin-bottom: 0;
    padding-top: $px-tn;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__action {
    min-width: 150px;
    text-align: right;
  }
  &__add {
    width: 120px;
    padding-top: $px-sm;
    padding-bottom: $px-sm;
  }

  &__list {
    width: calc(100% - 120px);
    padding-left: $px-md;
    padding-right: $px-md;
  }

  &__addButton {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px dashed black;
    color: $darker-gray;
    text-align: center;
    display:block;
    div{
      height:100%;
      width:100%;
      a{
        display:block;
        height:100%;
        width:100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        i{
          margin-top:14px;
        }
      }
    }
  }

  &__text {
    color: $darker-gray;
    display:block;
    overflow:hidden;
    max-height: calc(100% - 35px);
  }
  &__carousel {
    .slick-arrow::before {
      color: $primary;
    }
    .slick-next {
      right: -($px-mx);
      &::before {
        font-family: 'FontAwesome';
        content: '\f054';
        color: #a6a0a0;
      }
    }
    .slick-prev {
      left: -($px-mx);
      &::before {
        font-family: 'FontAwesome';
        content: '\f053';
        color: #a6a0a0;
      }
    }

    .slick-slide {
      padding-top: $px-sm;
      padding-bottom: $px-sm;
    }

    .slick-disabled {
      display: none !important;
    }
  }

  &__card {
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  &__deleteCard {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: white;
    display: none;
    &:focus {
      background-color: white;
    }
    @at-root .caGaugeList__card--active & {
      display: block;
    }
  }
  &__deleteIcon {
    color: black !important;
    font-size: 20px !important;
    line-height: 32px !important;
  }
  &__cardImage {
    width: 100px;
    height: 100px;
  }
}
