.caGeofenceList {
  margin-top: $px-md;
  &__carousel {
    margin-left: 0;
    margin-right: 0;
  }
  &__card {
    width: 160px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;

    &--active {
      transform: scale(1.08);
    }
  }

  &__cardImage {
    border: 1px solid $light-gray;
    width: 160px;
  }
  &__cardTitle {
    padding: $px-sm;
    border: 1px solid $light-gray;
    border-top: none;
    text-align: left;
  }
}