.caGeofenceSetting {
  padding: 0 $px-md;

  &__notification {
    color: $success;
    display: inline-block;
    float: right;
    padding-right: $px-sm;
  }

  &__header {
    padding: $px-mn 0;
    border-bottom: 1px solid #c1c2bf;
  }

  &__title {
    display: inline-block;
  }

  &__action {
    display: inline-block;
    float: right;
  }

  &__activeButton {
    margin-right: $px-md;
  }

  &__toggleButton {
    color: $primary;
    cursor: pointer;
  }

  &__content {
    padding-top: $px-sm;
    border-bottom: 1px solid #c1c2bf;
  }
}