@import "./gauge_list";
@import "./severity_list";
@import "./alert_item";
@import "./geofence_setting";
@import "./geofence_list";

.caSetting {
  &__title {
    border-bottom: 1px solid $darker-gray;
    margin-bottom: 0;
    padding-top: $px-tn;
  }
}