.severityList {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $lighter-gray;
  &__item {
    cursor: pointer;
    display: inline-block;
    width: $px-lg;
    height: $px-lg;
    line-height: $px-lg;
    border-radius: 9999px;
    color: white;
    text-align: center;
    background-color: $light-gray;
    margin: $px-tn;
    &--H {
      background-color: #ff2721;
    }
    &--M {
      background-color: #f6b436;
    }
    &--L {
      background-color: #a8cc00;
    }
  }
}