<% if resource_name == :user %>
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h1 class="card-panel-heading"><%= t 'devise.invitations.edit.header' %></h1>

        <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :put} do |f| %>
          <%= f.error_notification %>
          <%= f.hidden_field :invitation_token %>

          <div class="form-inputs margin-btm-none">
            <div class="row">
              <%= f.input :password, label: 'Password', autofocus: true, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :password_confirmation, label: 'Password Confirmation', wrapper_html: {class: 'col s12'} %>
            </div>
            <div class="row">
              <%= f.input :terms_of_service, label: ("Accept #{link_to 'Terms of Service', '#', id: 'tos_link'}").html_safe, required: true, as: :boolean, boolean_style: :inline, wrapper_html: {class: 'col s12'} %>
            </div>
            <%= render partial: 'shared/terms_of_service', locals: {f: f} %>
          </div>
          <div class="form-actions margin-btm-std">
            <%= f.button :button, t('devise.invitations.edit.submit_button') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div id="login">
    <h2><%= t 'devise.invitations.edit.header' %></h2>

    <%= active_admin_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
      f.inputs do
        f.input :password
        f.input :password_confirmation
        f.input :invitation_token, as: :hidden, input_html: { value: resource.invitation_token }
      end
      f.actions do
        f.action :submit, label: t('devise.invitations.edit.submit_button'), button_html: { value: t('devise.invitations.edit.submit_button') }
      end
    end
  %>

<% end %>
