<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <h1 class="card-panel-heading"><%= t 'devise.invitations.new.header' %> <%= link_to_cancel %></h1>

      <%= simple_form_for @user, as: resource_name, url: invitation_path(resource_name, back:params['back']), html: {method: :post} do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs margin-btm-none">
            <div class="row">
              <%= f.input :email, label: 'Email', required: true, autofocus: true, wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :first_name, label: 'First Name', wrapper_html: {class: 'col s12'} %>
            </div>

            <div class="row">
              <%= f.input :last_name, label: 'Last Name', wrapper_html: {class: 'col s12'} %>
            </div>

            <% if current_user.company_admin? %>
                <div class="row">
                  <%= f.input :role, as: :select, include_blank: false, collection: User::ASSIGNEABLE_ROLES_WHEN_COMPANY_ADMIN, wrapper_html: {class: 'col s12'} %>
                </div>
            <% end %>
          </div>

          <div class="form-actions margin-btm-none">
            <%= f.button :button, t('devise.invitations.new.submit_button') %>
          </div>
      <% end %>
    </div>
  </div>
</div>
