<% show_selection_cell = local_assigns[:show_selection_cell] ||= false %>
<% if asset != nil %>
  <% if !@tracking_asset or asset.id!=@tracking_asset.id %>
    <% asset_type = get_asset_type(asset, user_signed_in? && current_user) %>
    <% ours_str = is_our_asset(asset, user_signed_in? && current_user) ? 'ours' : '' %>
    <tr id="<%= dom_id asset.becomes(Asset) %>">
      <% if show_selection_cell %>
        <td class="selection-cell">
          <% if can?(:update, asset) %>
            <%= check_box_tag "asset-selected-#{asset.id}", nil, false, class: 'filled-in checked-assets-count', data: { id: asset.id, group: asset.group_id } %>
            <%= content_tag :label, nil, for: "asset-selected-#{asset.id}" %>
          <% end %>
        </td>
      <% end %>
      <td class="thumb-cell">
        <div class="asset-type <%= asset.asset_kind %> <%= ours_str%>"></div>
        <%= photo_thumb_link(asset, local_assigns[:tracking_code]) %>
        <% if params[:controller] == 'assets' and params[:action] == 'asset' %>
          <div  class="scaned_tile default_scanned_tile">SCANNED</div>
        <% end %>
      </td>
      <% if @tracking_code %>
        <td>
          <div class="row">
            <div class="col s12 m7">
              <div class="h2 t-capitalize"><%= asset.title %></div>
                <div class="asset-icons <%= controller_name %>">
                  <% if user_signed_in? && asset.has_tracking_code? && asset.company.try(:id) == current_user.company.try(:id) %>
                    <span class="tracking-ids <%= asset.project_qr_code_same_location? ? 'green-icon' : 'red-icon'%>">
                      <% if asset.has_cellular? %>
                        <i class="material-icons cellular-icon qr-code-icon">speaker_phone</i>
                      <% end %>
                      <% if asset.has_lora? %>
                        <i class="material-icons lora-icon qr-code-icon color_green">settings_input_antenna</i>
                      <% end %>
                      <% if asset.has_sigfox? %>
                        <i class="material-icons sigfox-icon qr-code-icon color_green">wifi_tethering</i>
                      <% end %>
                      <% if asset.has_bt? %>
                        <i class="material-icons bt-icon qr-code-icon color_green">bluetooth_searching</i>
                      <% end %>
                      <% if asset.has_rfid? %>
                       <i class="material-icons rfid-icon qr-code-icon color_green">cast</i>
                      <% end %>
                      <% if asset.has_qr? %>
                        <i class="fa fa-qrcode qr-icon qr-code-icon color_green" aria-hidden="true"></i>
                      <% end %>
                      <% if asset.has_upc? %>
                        <i class="material-icons upc-icon qr-code-icon color_green">line_weight</i>
                      <% end %>
                      <% if asset.has_serialnumber?%>
                        <i class="material-icons qr-code-icon color_green">vpn_key</i>
                      <%end%>
                    </span>
                  <% else %>
                      <span style="color: #ccc">No QR Associated</span>
                  <% end %>
                </div>
                <div>
                <% if @tracking_type %>
                  <% if @tracking_asset %>
                    <a id="link_asset" class="waves-effect waves-light btn" href="/assets?tracking_code=<%= @tracking_code %>&tracking_asset_id=<%= asset.id %>">Replace</a>
                  <% else %>
                    <a id="link_asset" class="waves-effect waves-light btn" href="/assets?tracking_code=<%= @tracking_code %>&tracking_asset_id=<%= asset.id %>">Link</a>
                  <% end %>
                <% else %>
                  <% if @tracking_asset %>
                    <a id="link_asset" class="waves-effect waves-light btn" href="/assets?tracking_code=<%= @tracking_code %>&tracking_asset_id=<%= asset.id %>">Replace</a>
                  <% else %>
                    <a id="link_asset" class="waves-effect waves-light btn" href="/assets?tracking_code=<%= @tracking_code %>&tracking_asset_id=<%= asset.id %>">Add</a>
                  <% end %>
                <% end %>
                </div>
            </div>
          </div>
        </td>
      <% else %>
        <td>
          <%= link_to custom_asset_path(asset, local_assigns[:tracking_code]), onClick: "ga('send', 'Internal Link', '#{asset.becomes(Asset)}');".html_safe,
            data: { confirm: local_assigns[:tracking_code].nil? ? nil : 'Are you sure you want to link this asset to this QR code?'} do %>

            <div class="row">
              <div class="col s12 m7">
                <div class="h2 t-capitalize"><%= asset.title %></div>
                <% if asset.asset_num.present? %>
                  <div class="b9">ID : <%= asset.asset_num %></div>
                <% end %>
                <% if controller_name != 'marketplace' %>
                  <% if asset.project_name.present?%>
                    <div class="b10 subh1"><%= asset.project_name %></div>
                  <% end %>

                  <% if asset.group.present? %>
                    <div class="b10"><%= asset.group.name %></div>
                  <% end %>
                <% else %>
                  <% if ['for_rent', 'rental'].include?(asset.asset_kind) %>
                    <div class="unit b10">For <%= asset.time_length %> <%= asset.units %><% if asset.time_length > 1 %>s<% end %></div>
                  <% end %>

                  <% if asset.quantity_unit.present? %>
                    <div class="b10">Unit: <%= asset.quantity_unit %></div>
                  <% end %>

                  <% if asset.condition.present? %>
                    <div class="b10">Condition: <%= asset.condition %></div>
                  <% end %>

                  <% if asset.quantity.present? %>
                    <div class="b10">Quantity: <%= asset.quantity %></div>
                  <% end %>
                <% end %>
                <%= asset_status_text(asset, current_user) %>
              </div>
              <div class="col s12 m5 right-section">
                <% if controller_name != 'marketplace' %>
                  <% if asset.price.present? %>
                    <% if ['for_rent', 'rental'].include?(asset.asset_kind) %>
                      <div class="b8"><%= number_to_currency(asset.price, precision: 2, strip_insignificant_zeros: true) %><% if ['for_rent'].include?(asset.asset_kind) %> per <%= asset.units %> <% end %></div>
                    <% else %>
                      <div class="b8"><%= number_to_currency(asset.price, precision: 0) %></div>
                    <% end %>
                  <% else %>
                    <div class="b8 price-not-set">$0</div>
                  <% end %>

                  <% if asset.market_value.present? %>
                    <% if ['for_rent', 'rental'].include?(asset.asset_kind) %>
                      <div class="b9"><%= number_to_currency(asset.total_rental_asset, precision: 2, strip_insignificant_zeros: true) %> for <%= asset.time_length %> <%= asset.units %><% if asset.time_length > 1 %>s<% end %></div>
                    <% else %>
                      <div class="b9"><%= number_to_currency(asset.market_value, precision: 0) %></div>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if asset.price.present? %>
                    <div class="public-price hide-on-small-and-down"><%= number_to_currency(asset.price, precision: 0) %> <% if ['for_rent'].include?(asset.asset_kind) %> per <%= asset.units %> <% end %></div>
                  <% else %>
                    <div class="public-price price-not-set hide-on-small-and-down">$0</div>
                  <% end %>
                <% end %>
                <div class="s12 m5 right-section">
                  <% if user_signed_in? && asset.maintenance && asset.company == current_user.company %>
                    <div class="maintenance_list_div"> <i class="fa fa-wrench wrench-icon-devices" aria-hidden="true"></i> <%= asset.maintenance_date? ? asset.maintenance_date.strftime("%m/%d/%y") : '' %></div>
                  <% end %>
                </div>
                <div class="asset-icons <%= controller_name %>">
                  <% if user_signed_in? && asset.has_tracking_code? && asset.company.try(:id) == current_user.company.try(:id) %>
                    <span class="tracking-ids <%= asset.project_qr_code_same_location? ? 'green-icon' : 'red-icon'%>">
                      <% if asset.has_cellular? %>
                        <i class="material-icons cellular-icon qr-code-icon">speaker_phone</i>
                      <% end %>
                      <% if asset.has_lora? %>
                        <i class="material-icons lora-icon qr-code-icon">settings_input_antenna</i>
                      <% end %>
                      <% if asset.has_sigfox? %>
                        <i class="material-icons sigfox-icon qr-code-icon">wifi_tethering</i>
                      <% end %>
                      <% if asset.has_bt? %>
                        <i class="material-icons bt-icon qr-code-icon">bluetooth_searching</i>
                      <% end %>
                      <% if asset.has_rfid? %>
                       <i class="material-icons rfid-icon qr-code-icon">cast</i>
                      <% end %>
                      <% if asset.has_qr? %>
                        <i class="fa fa-qrcode qr-icon qr-code-icon" aria-hidden="true"></i>
                      <% end %>
                      <% if asset.has_upc? %>
                        <i class="material-icons upc-icon qr-code-icon">line_weight</i>
                      <% end %>
                      <% if asset.has_serialnumber?%>
                        <i class="material-icons qr-code-icon">vpn_key</i>
                      <%end%>
                    </span>
                  <% end %>

                  <% if user_signed_in? %>
                    <% favorite = asset.favorite_for(current_user) || Mark.new %>
                    <%= render partial: 'assets/favorite_form',
                      object: favorite,
                      locals: {asset: asset, remote: true} %>
                  <% end %>
                </div>
                <div class="b1 <%= controller_name %>"><%= asset.location %></div>
              </div>
            </div>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
