<div class="card-panel">
  <div class="row page-size">
    <div class="col s6">
      <div class="card-panel-heading without-border h1"><%= title %></div>
    </div>
    <div class="col s6">
      <% if type == 'inventory' || type == 'checklist' %>
        <a href="#"><span class="inventory-save-list">View Saved Lists</span></a>
      <% else %>
        <%= render partial: 'shared/asset_page_size_form' %>
      <% end %>
    </div>
  </div>
    <div class="row page-size">
      <div class="col s9">
        <% if type == 'inventory' %>
          <span class="title inventory_title">Inventory Info<span class="inventory_hide_info rf-info-inventory"> (hide info)</span></span>
          <p style="color: #747684" id="rf-inv-detail">Use the RFID scanner to add assets to the RFID list. Once an asset is scanned it is inventoried and added to the list below.</p>
        <% elsif type == 'checklist' %>
          <p style="color: #747684" id="rf-chk-detail">Use the filter to create a list of assets that you wished to be scanned. AS you scan them they will be added to the scanned tab and will be inventoried.</p>
        <% end %>
      </div>
    </div>
</div>
<% if type == 'inventory' || type == 'checklist' %>
  <button name="button" type="submit" class="waves-effect waves-light btn" style="background-color: #009bee;float: right;margin-top: 10px;">Save 456 List</button>
<% end %>
<div id="panel-list" style="<%= "top: 15px;#{ " resources-card-panel" if type == "inventory" || type == "checklist" }" %>" class="<%= "card-panel#{ " resources-card-panel" if show_selection_cell }" %>">
  <div class="row margin-bottom-0 mt-mn">
    <div class="col s6 m6 l4 ">
      <% if show_selection_cell %>
        <div class="action-filter-form-container">
          <div class="all-select-wrapper radio-btn">
            <%= check_box_tag "asset-select-toggle", nil, false, class: 'filled-in' %>
            <%= content_tag :label, nil, for: "asset-select-toggle" %>
          </div>

          <%= form_tag update_multiple_assets_path, class: 'action-filter-form', method: :put do %>
            <div class="select-wrapper">
              <a class="dropdown-button action_border" href="#" data-activates="action-dropdown" data-constrainwidth="false">
                Actions
                <span class="caret">▼</span>
              </a>
            </div>
            <ul id="action-dropdown" class="dropdown-content">
              <% actions_for_user(current_user).each do |action| %>
                <li><a class="assets-header-action" href="#" data-action="<%= action[1] %>"><%= action[0] %></a></li>
              <% end %>
            </ul>

            <% if params[:filter_search] %>
              <% if params[:filter_search][:hide_filters] == 'true' %>
                <%= hidden_field_tag '[filter_search][hide_filters]', 'true' %>
                <%= hidden_field_tag '[filter_search][assets_title]', params[:filter_search][:assets_title] %>
                <% if params[:filter_search][:assets_title] == 'abandoned' %>
                  <%= hidden_field_tag '[filter_search][abandoned]', params[:filter_search][:abandoned] %>
                <% elsif params[:filter_search][:assets_title] == 'sold' %>
                  <%= hidden_field_tag '[filter_search][sold]', params[:filter_search][:sold] %>
                <% elsif params[:filter_search][:assets_title] == 'available' %>
                  <%= hidden_field_tag '[filter_search][available]', params[:filter_search][:available] %>
                <% elsif params[:filter_search][:assets_title] == 'in_use' %>
                  <%= hidden_field_tag '[filter_search][in_use]', params[:filter_search][:in_use] %>
                <% elsif params[:filter_search][:assets_title] == 'qr_tracked' %>
                  <%= hidden_field_tag '[filter_search][has_qr_code]', params[:filter_search][:has_qr_code]%>
                <% end %>
              <% end %>
            <% end %>

            <%= hidden_field_tag :asset_action %>
            <%= hidden_field_tag :asset_ids %>
            <%= hidden_field_tag :redirect_to, clear_filters_path %>
            <%= render partial: 'assets/modal_reallocate_index' %>
            <% if @groups && @groups.length > 0 %>
              <%= render partial: 'assets/modal_assets_link_to_group' %>
            <% end %>
            <%= render partial: 'shared/modal_select_asset_error' %>
            <%= render partial: 'shared/modal_select_rental_error' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col s6 m6 l8 right-align ">
      <div class="filter-list">
        <div class="filter-item">
          <%= render partial: 'shared/assets_sort_form' %>
        </div>
      </div>
    </div>
  </div>

  <table id="table-assets" class="table">
    <%= render partial: 'assets/list', locals: {show_selection_cell: show_selection_cell, assign_tracking_code: assign_tracking_code, tracking_code: tracking_code, group: true} %>
  </table>
</div>
