<div id="disconnect_inventory_modal" class="modal <%= (asset.quantity > 1) ? 'move_inventory' : '' %>">
  <div class="modal-content">
    <h4>Disconnecting Inventory Assets</h4>

    <p>You are about to disconnect as an Inventory.If you wish to continue, you are required to move your inventory quantities to another inventory asset.
    Would you like to continue?</p>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn  btn_continue_inventory">Continue</a>
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
  </div>
</div>
