<% if user_signed_in? %>
    <%= form_tag polymorphic_path([asset.becomes(Asset), favorite_form]),
                 remote: remote,
                 method: favorite_form.new_record? ? 'post' : 'delete',
                 'data-type': 'json',
                 class: 'mark-form' do %>
        <%= hidden_field_tag 'mark[mark]', 'favorite' %>

        <%= content_tag :i, '', class: "icon-favorite-star-#{favorite_form.new_record? ? 'outline' : 'fill'}" %>
    <% end %>
<% end %>
