<%= simple_form_for @asset.becomes(Asset), url: (@asset.new_record? ? assets_url(tracking_code: params[:tracking_code]) : asset_url(@asset)),
  html: {class: "type-#{@asset.type.downcase} action-#{@asset.asset_kind} #{@asset.public? ? "marketplace" : "private"}", multipart: true, data: {"data-parsley-validate": ""} } do |f| %>
    <%= f.error_notification %>
    <% if !@projects.available.present? and !current_user.public? %>
      <div class="error_notification">Please increase close out date of your site.</div>
    <% end %>
    <div class="form-inputs row separator-row">
      <div class="col m6 s12 form-col">
        <div class="row <% if current_user.public? %>hide<% end %>" data-public = <%= current_user.public? %>>
          <%= f.input :owned_rental, as: :radio_buttons, boolean_style: :inline, label: false, collection: [['Owned', 'owned'], ['Rental', 'rental']], input_html: {group: 'owned_rental-group', class: 'with-gap asset-kind-radio owned-rental-radio cb1'}, wrapper_html: { class: 'col s12'} %>
        </div>

        <div class="row public_private <% if @asset.asset_kind == 'rental' or current_user.public? %>hide<% end %>" data-public=<%= current_user.public? %>>
          <%= f.input :public_private, as: :radio_buttons, boolean_style: :inline, label: false, collection: [['Company Listing', 'private'], ['Public Marketplace', 'public']], input_html: {group: 'public_private-group', class: 'with-gap asset-kind-radio public-private-radio cb1'}, wrapper_html: { class: 'col s12'} %>
        </div>

        <div class="row for_sale_rental <% if @asset.public_private == 'private' %>hide<% end %>">
          <%= f.input :for_sale_rental, as: :radio_buttons, boolean_style: :inline, label: false, collection: [['For Sale', 'for_sale'], ['For Rent', 'for_rent']], input_html: {group: 'for_sale_rental-group', class: 'with-gap asset-kind-radio for-sale-rent-radio cb1'}, wrapper_html: { class: 'col s12'} %>
        </div>
        <%= f.hidden_field :asset_kind %>
        <div class="row">
          <%= hidden_field_tag :dashboard_asset_type, params[:assetType]  %>
          <%= f.input :type, as: :radio_buttons, boolean_style: :inline, label: false, collection: Asset::TYPES, input_html: {class: 'with-gap'}, wrapper_html: {class: 'col s12'} %>
        </div>
        <div class="row rental_only <% if ['owned', 'for_sale'].include?(@asset.asset_kind)  %>hide<% end %>">
          <%= f.input :time_length, wrapper_html: {class: 'ip1 col s7'}, input_html: {class: 'integers-only', pattern: '[0-9]*', min: '1'}, :maxlength => 10, required: ['rental', 'for_rent'].include?(@asset.asset_kind) %>
          <%= f.input :units, include_blank: false, collection: Asset::RENT_UNITS, input_html: {class: 'select2'}, wrapper_html: {class: 'col s5'}, label: 'Time unit' %>
        </div>

        <% if @projects.available.present? %>
          <%= content_tag :div, class: 'row projects', data: {zips: @project_zips} do %>
            <label class="project-req cb1">Select Site<abbr title="required">* </abbr></label>
            <%= f.association :project, collection: @projects.available, include_blank: (@asset.new_record?) ? 'Select Site' : false, label: 'Site', required: current_user.private?, input_html: {class: 'select2'}, wrapper_html: {class: 'col s12 select-project asset-site-dropdown'} %>
          <% end %>
          <%= render partial: 'modal_reallocate_edit', locals: { asset: @asset, f: f } %>
        <% end %>
        <% if @groups.present? %>
          <%= content_tag :div, class: 'row groups' do %>
            <%= f.association :group, collection: @groups.map { |g| [g.name, g.id, {'data-project' => g.project_id}] }, include_blank: 'Select Group', input_html: {class: 'select2'}, wrapper_html: {class: 'col s12 select-group'} %>
          <% end %>
        <% end %>
        <div class="row">
          <%= f.input :location_zip,
            label: 'Location Zip / Postal Code',
            wrapper_html: {class: 'col s12 ip1'} %>
        </div>
        <label class="cb1">Select Country*</label>
        <%=f.select :country_name, ZipCode.country_lists, {prompt: 'Select country'}, {id: 'asset_country', :class => 'browser-default dd1' , required: true} %>
        <% unless current_user.public? %>
          <div class="row">
            <%= f.input :in_use_until, as: :material_date, label: 'In Use Until', wrapper_html: {class: 'col s12', id: 'asset_in_use_until'}, required: false %>
          </div>
        <% end %>

        <div class="row">
          <%= f.input :price, as: :string, required: ['rental', 'for_rent', 'for_sale'].include?(@asset.asset_kind),
            label: ['rental', 'for_rent'].include?(@asset.asset_kind) ? 'Rental Cost' : 'Price',
            input_html: {class: 'integers-only ip1', pattern: '[0-9]*', data: {'parsley-type': 'integer', 'parsley-min': 1, 'parsley-max': 1000000}},
            wrapper_html: {class: 'col s12 ip1'}, hint: f.object.errors[:price].empty? ? 'Max price can be 999999' : nil %>
        </div>
        <div class="row">
          <%= f.input :internal_daily_rental_rate, as: :string,
            label: 'Internal Daily Rental Rate',
            input_html: {class: 'integers-only ip1', pattern: '[0-9]*', data: {'parsley-type': 'integer', 'parsley-min': 1, 'parsley-max': 1000000}},
            wrapper_html: {class: 'col s12 ip1'}, hint: f.object.errors[:price].empty? ? 'Max value can be 999999' : nil %>
        </div>

        <div class="row">
          <%= f.input :market_value, as: :string, label: ['rental', 'for_rent'].include?(@asset.asset_kind) ? 'Total Rental Cost' : 'Market Value (Visible Internally)', required: true,
            input_html: {class: 'integers-only', pattern: '[0-9]*', data: {'parsley-type': 'integer', 'parsley-min': 0, 'parsley-max': 1000000}},
            wrapper_html: {class: 'col s12'}, hint: f.object.errors[:market_value].empty? ? 'Max value can be 999999' : nil %>
        </div>

        <div class="type-equipment-only quantity-row <% if ['rental', 'for_rent'].include?(@asset.asset_kind) %>hide<% end %>">
          <div class="row">
          <% if @subtracted_quantity %>
            <%= f.input :quantity, as: :string, wrapper_html: {class: 'col s12'}, input_html: { :value => @subtracted_quantity, class: 'integers-only quantity-input', pattern: '[0-9]*'} %>
          <% else %>
            <%= f.input :quantity, as: :string, wrapper_html: {class: 'col s12'}, input_html: { class: 'integers-only quantity-input', pattern: '[0-9]*'} %>
          <% end %>
          <% if params[:value].present? && params[:id].present? %>
            <%= hidden_field_tag :asset_id, params[:id]  %>
          <% end %>
          </div>
        </div>

        <div class="row">
          <%= f.input :is_inventory, as: :boolean, boolean_style: :inline, label: ' This is an Inventory Asset', label_html: {class: 'inventory_left cb1'} %>
          <% if (true) %>
            <%= render partial: 'disconnecting_inventory_assets', locals: { asset: @asset } %>
          <% end %>
            <%= render partial: 'move_to_assets_modal', locals: { asset: @asset } %>
        </div>


        <div class="type-material-only quantity-row <% if ['rental', 'for_rent'].include?(@asset.asset_kind)  %>hide<% end %>">
          <div class="row">
          <% if @subtracted_quantity %>
            <%= f.input :quantity, as: :string, wrapper_html: {class: 'col s6'}, input_html: { :value => @subtracted_quantity, class: 'material_quantity integers-only quantity-input', pattern: '[0-9]*' } %>
          <% else %>
              <%= f.input :quantity, as: :string, wrapper_html: {class: 'col s6'}, input_html: { class: 'material_quantity integers-only quantity-input', pattern: '[0-9]*' } %>
          <% end %>
            <%= f.input :quantity_unit, wrapper_html: {class: 'col s6'} %>
          <% if params[:value].present? && params[:id].present? %>
            <%= hidden_field_tag :asset_id, params[:id]  %>
          <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 md12 l12">
            <%= radio_button_tag(:upload, 'csv_file', '', class: 'radio_buttons with-gap') %>
            <%= label_tag(:upload_csv_file, 'Upload CSV File') %>
            <br>
            <%= radio_button_tag(:upload, 'image_file', '', class: 'radio_buttons with-gap') %>
            <%= label_tag(:upload_image_file, 'Upload Image Files') %>
          </div>
        </div>

        <div id="asset-photos" class="row">
          <div class="upload-img-files ast-btn-h">
            <%= f.input :photos, as: :material_file, label: 'Add Photo', input_html: {id: 'imgInp', name: 'new_photos[file][]', accept: 'image/jpg,image/jpeg,image/png', multiple: true, icon: 'icon-attach-photo'},
                        hint: 'Images must be at least 800 x 600 px. File-size must not exceed 4 MB. Limit 4.', hint_html: {class: 'b13'}, wrapper_html: {class: 'col s12'} %>
          </div>
          <div class="input-field material_file optional upload-csv-file col s12" style="display: none;">
            <div class="file-field input-field">
              <div class="waves-effect waves-light btn ast-btn-h">
                <i class="fa fa-file-text-o left"></i>+ CSV
                <input id="csv_file_upload" class="material_file optional but1" type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <label class="material_file optional" for="csv_file_upload">+ CSV</label><div class="help-block b13">Images must be at least 800 x 600 px. File-size must not exceed 4 MB. Limit 4.</div></div>
        </div>

        <div class="row">
          <div class="sortable">
            <%= f.simple_fields_for :photos, @asset.photos do |p| %>
              <%= p.hidden_field :file, label: false, id: 'uploaded_photos' %>
            <% end %>
            <div class="carousel">
              <% @asset.photos.each do |p| %>
                <a class="carousel-item" href="#one!">
                  <%= image_tag 'cross.svg', alt: 'cross', class: 'notification-badge', 'data-id': p.id  %>
                  <%= image_tag p.file %>
                </a>
              <% end %>
            </div>
            <%= hidden_field_tag 'destroy_photos_ids' %>
            <%= hidden_field_tag 'destroy_un_save_photos' %>
            <%= hidden_field_tag 'upload_csv_photos' %>
          </div>
        </div>
      </div>

      <div class="col m6 s12 form-col">
        <div class="row">
          <%= f.input :title, wrapper_html: {class: 'col s12 ip5'}, input_html: {required: ""} %>
        </div>

        <div class="row">
          <%= f.input :description, as: :material_text, wrapper_html: {class: 'col s12'} %>
        </div>

        <div class="row">
          <label class="project-req cb1">Category<abbr title="required">* </abbr></label>
          <% grouped_options = CategoryGroup.all.map{ |group_category| [group_category.name, group_category.categories] } %>
          <% if @old_asset_category %>
            <%= f.hidden_field :category_id, value: @old_asset_category %>
            <%= f.association :category, :as => :grouped_select, collection: grouped_options, :group_method => :last, include_blank: 'Select Category...', label: false, input_html: {class: 'select2', id: "disable_assoc"}, wrapper_html: {class: 'col s12 disabled'}, selected: @old_asset_category, disabled: true %>
          <% else %>
            <%= f.association :category, :as => :grouped_select, collection: grouped_options, :group_method => :last, include_blank: 'Select Category...', label: false, input_html: {class: 'select2'}, wrapper_html: {class: 'col s12'} %>
          <% end %>
        </div>

        <div class="row" id="current_driver_row">
           <% if current_user.private? %>
          <%= f.association :current_driver, collection: current_user.company.users, include_blank: 'All Drivers', include_hidden: false, wrapper_html: {class: 'col s12 all-categories'}, input_html: {class: 'select2'}  %>
          <% end %>
        </div>

        <div class="type-material-only">
          <div class="row">
            <%= f.input :durability, as: :radio_buttons, boolean_style: :inline, label: false, collection: Asset::DURABILITY, input_html: {class: 'with-gap'}, wrapper_html: {class: 'col s12'} %>
          </div>
        </div>

        <div class="type-equipment-only">
          <div class="row">
            <%= f.input :year, as: :string, wrapper_html: {class: 'col s12 m6'}, input_html: {class: 'integers-only year-input', pattern: '[0-9]*'} %>
            <%= f.input :make,  wrapper_html: {class: 'col s12 m6'} %>
          </div>

          <div class="row">
            <%= f.input :model, wrapper_html: {class: 'col s12'} %>
          </div>

          <div class="row">
            <%= f.input :asset_num, label: 'ID/Number', wrapper_html: {class: 'col s12'}, :maxlength => 9 %>
          </div>

          <div class="row">
            <%= f.input :hours, as: :string, label: 'Hours', input_html: {min: '0', max: '1000000', step: '1', class: 'integers-only hours-miles-input', pattern: '[0-9]*'}, wrapper_html: {class: 'col s12'} %>
          </div>

          <div class="row">
            <%= f.input :miles, as: :string, label: 'Miles', input_html: {min: '0', max: '1000000', step: '1', class: 'integers-only hours-miles-input', pattern: '[0-9]*'}, wrapper_html: {class: 'col s12'} %>
          </div>
        </div>

          <div>
            <label class="cb1">Condition</label>
            <br>
            <br>
            <%= f.select :condition, [['Excellent','excellent'],['Good','good'],['Fair','fair'],['Poor','poor']] , wrapper_html: {class: 'col s12 all-categories'}, input_html: {class: 'select2'} %>

            <%#= f.input :condition, :as => :select, :collection =>Asset.conditions.keys.to_a , input_html: {class: 'select2'}, wrapper_html: {class: 'col s12 select-project asset-site-dropdown'} %>

            <%#= f.input :condition, include_blank: false, collection: Asset.conditions.map { |condition, _| [condition.titleize, condition] }, wrapper_html: {class: 'col s12'}, label: false %>
          </div>
          <br>
        <% if current_user.role != "public_user" %>
          <div class="row">
            <%= f.input :maintenance, as: :boolean, boolean_style: :inline, label: 'Maintenance', wrapper_html: {class: 'col s12 wrench-icon cb1'} ,label_html: { :class => 'maintenance_left cb1' }%>
            <p class="help-block col s12 b13 padding-top-10">Make sure to uncheck if the maintenance is complete.</p>
          </div>
          <% if @asset.id and @company_asset_schedule_subscription%>
            <div class="row">
              <%= link_to event_asset_path(@asset.id), onClick: "ga('send', 'Internal Link', '#{event_asset_path(@asset.id)} schedule asset maintenance;".html_safe, class:'waves-effect waves-light lk3' do %>
                Schedule Maintenance&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>
              <% end %>
            </div>
          <%else%>
            <a class="waves-effect waves-light lk3 modal-trigger" href="#un-subscribed-schedule">Schedule Maintenance&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i></a>
            <%= render partial: 'assets/not_subscribed_modal_schedule_maintenance'%>
          <% end %>
        <% end %>
        <div class="row">
          <%= f.input :notes, as: :material_text, label: 'Notes', :maxlength => 256, wrapper_html: {class: 'col s12 unlinked-notes'} %>
        </div>

        <div class="row linkified-notes" style="display:none;">
          <div class="col s12 linkified-asset-notes">
            <p></p>
          </div>
        </div>

        <div class="row">
          <%= f.input :pdfs, as: :material_file, label: 'Add PDF', input_html: {name: 'new_pdfs[file][]', accept: 'application/pdf,image/jpg,image/jpeg,image/png', multiple: true}, class: "but1", hint: 'For spec sheets or equipment history. File size must not exceed 25 MB. 2 files per Upload.', hint_html: {class: "b13"}, wrapper_html: {class: 'col s12'} %>
        </div>

        <div class="row">
          <div class="col s12">
            <ul class="newly_appended_pdfs">
              <li><b>New Files</b></li>
            </ul>
            <%= f.simple_fields_for :pdfs, @asset.pdfs do |p| %>
              <% unless p.object.id.nil? %>
                <%= p.input :file, as: :pdf_preview, label: false %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <% if !@asset.new_record? && !current_user.private? %>
              <div class="row">
                <%= f.input :expires_on, as: :material_date, input_html: {value: @asset.expires_on}, label: 'Post Expires On', wrapper_html: {class: 'col s12'}, disabled: true %>
              </div>
              <div class="row">
                <%= f.input :renew_expires_on,
                  as: :boolean,
                  boolean_style: :inline,
                  label: "Extend Until #{format_date(Time.zone.today + Asset.available_duration + Asset.expire_threshold)}?",
                  wrapper_html: {class: 'col s12'} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <% if !@asset.new_record? %>
        <div class="row">
          <div class="col s12 center-align take-align-right">
            <%= link_to_cancel class: 'waves-effect waves-light btn btn-cancl-align' %>
            <% if can?(:edit, @asset) %>
              <% if can?(:toggle_marketplace, @asset) and @asset.active? and !@asset.rental_check? %>
                <a class="waves-effect waves-light btn modal-trigger btn-cancl-align" href="#mark-as-sold" id="asset-mark-as-sold">Mark as Sold</a>
                <div id="mark-as-sold" class="modal">
                  <div class="modal-content">
                    <h4>Mark as Sold</h4>
                    <a href="#!" class="modal-action modal-close">Cancel</a>
                    <p>Are you sure, mark this asset as sold?</p>
                    <%= link_to 'Mark as Sold',  asset_url(@asset, asset: {event: 'sell'}), method: :put, onClick: "ga('send', 'Internal Link', '#{asset_url(@asset)} mark as sold');".html_safe, class:'waves-effect waves-light btn' %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <%= f.button :button , class: "asset-cu but1", onClick: "ga('send', 'Internal Link', 'Assets: #{action_name}');".html_safe, data: {disable_with: 'Processing…'} %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col s12 m6 l6 right-float-align">
            <%= link_to_cancel class: 'col s5 m5 l5 waves-effect waves-light btn btn-cancl-align' %>
            <%= f.button :button , class: 'col s5 m5 l5 asset-cu but1',style: 'color: white;font-weight: 500;', onClick: "ga('send', 'Internal Link', 'Assets: #{action_name}');".html_safe, data: {disable_with: 'Processing…'} %>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
<script type="text/javascript">

  function reset_crousel() {
    var slider_item_class = "";
    var slider = $('.carousel');
    var slider_images = $('a.carousel-item').clone();

    if (slider.hasClass('initialized')){
      slider.removeClass('initialized');
    }

    slider.empty();

    $.each(slider_images, function(index, slider_item) {
      if ($(slider_item).hasClass('carousel-uploaded-item'))
        slider_item_class = "carousel-uploaded-item";
      else if ($(slider_item).hasClass('csv-uploaded-item'))
        slider_item_class = "csv-uploaded-item";
      else
        slider_item_class = "";

      slider.append(
        "<a class='carousel-item "+ slider_item_class +"' href='#"+index+"' style='display: block;'>"+
          $(slider_item).html()+
        "</a>"
      );

    });

    slider.carousel();
  }

  var d_un_save_photos = [];  // deleted unsaved uploaded photoss
  
  // Start: Destroying an uploaded images without saving
  function cross_click(file_name) {
    
    $('*[data-name="'+file_name+'"]').parent().remove();

    var inp = document.getElementById('imgInp');
    for (var i = 0; i < inp.files.length; ++i) {
      var name = inp.files.item(i).name;
      if(name == file_name) {
        d_un_save_photos.push(name);
        delete inp.files.item(i);
      }
    }
    reset_crousel();
    $("#destroy_un_save_photos").val(d_un_save_photos);
  }
</script>
