<div class="card-panel">
  <div class="row" style="border-bottom: 1px solid #ccc;">
    <div class="col s6">
      <div class="h1"><%= title %></div>
    </div>
    <div class="col s6">
      <a href=<%= lists_path %>><span style="float: right" class="l1">View Saved Lists</span></a>
    </div>
  </div>
  <%= render partial: 'assets/rfid_info', locals: {type: type} %>
</div>

<% if type == 'inventory'%>
  <button id='save-inventory' name="button" type="submit" class="waves-effect waves-light btn disabled" style="float: right;margin-top: 10px;">Save List</button>
  <button id='start-inventory' name="button" type="submit" class="waves-effect waves-light btn inventory-btn but1">Start Inventory</button>
  <button id='inventory-started' name="button" type="submit" class="waves-effect waves-light btn inventory-btn" style="background-color: #78B300; display:none;">Inventory Started</button>
    
<!-- Modal Structure -->
  <div id="error" class="modal">
    <div class="modal-content">
      <div class="h1">Error Saving List</div>
      <hr/>
      <div class="row">
        <div class="col s10 subh2">Please Scan Atleast one asset to save the list.</div>
        <div class="col s2">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn but1" style="margin-top: 0px !important">OK</a>
        </div>
      </div>
    </div>
  </div>



  <%= render partial: 'assets/rfid_mass_actions', locals: {
    show_selection_cell: show_selection_cell,
    clear_filters_path: clear_filters_path,
    assign_tracking_code: assign_tracking_code,
    tracking_code: tracking_code,
    group: true,
    type_id: 'inventory'} %>
    <table id="table-assets-<%=type%>" class="table">
      <%= render partial: 'assets/asset', collection: @inventory_assets, locals: {
        show_selection_cell: show_selection_cell,
        assign_tracking_code: assign_tracking_code,
        tracking_code: tracking_code} %>
    </table>
  </div>
<% elsif type == 'checklist'  and @checklist_assets_not_found.present? or @items_count %>
  <button id='save-checklist' name="button" type="submit" class="waves-effect waves-light btn but1" style="background-color: #009bee;float: right;margin-top: 10px;">Save List</button>
  <div id ="just-scanned-wrapper" style='display:none; margin-top:40px;' class="H1">
    <%= render partial: 'assets/rfid_mass_actions', locals: {
      show_selection_cell: show_selection_cell,
      clear_filters_path: clear_filters_path,
      assign_tracking_code: assign_tracking_code,
      tracking_code: tracking_code,
      group: true,
      type_id: 'just-scanned' } %>

     <table id="table-assets-<%= type %>-just_scanned"  class="table"></table>
     </div>
  </div>
  <%= render partial: 'assets/rfid_mass_actions', locals: {
      show_selection_cell: show_selection_cell,
      clear_filters_path: clear_filters_path,
      assign_tracking_code: assign_tracking_code,
      tracking_code: tracking_code,
      group: true,
      type_id: 'not-found' } %>
    <%= render partial: 'assets/rfidlist', locals: {
      show_selection_cell: show_selection_cell,
      assign_tracking_code: assign_tracking_code,
      tracking_code: tracking_code,
      group: true,
      type: type,
      collection:@checklist_assets_not_found,
      list_type: 'not_found' } %>
  </div>

  <%= render partial: 'assets/rfid_mass_actions', locals: {
      show_selection_cell: show_selection_cell,
      clear_filters_path: clear_filters_path,
      assign_tracking_code: assign_tracking_code,
      tracking_code: tracking_code,
      group: true,
      type_id: 'found'} %>
  <%= render partial: 'assets/rfidlist', locals: {
      show_selection_cell: show_selection_cell,
      assign_tracking_code: assign_tracking_code,
      tracking_code: tracking_code,
      group: true,
      type: type,
      collection:@checklist_assets_found,
      list_type: 'found'} %>
  </div>

  <%= render partial: 'assets/rfid_mass_actions', locals: {
      show_selection_cell: show_selection_cell,
      clear_filters_path: clear_filters_path,
      assign_tracking_code: assign_tracking_code,
      tracking_code: tracking_code,
      group: true,
      type_id: 'not-in-list'} %>
  <%= render partial: 'assets/rfidlist', locals: {
      show_selection_cell: show_selection_cell,
      assign_tracking_code: assign_tracking_code,
      tracking_code: tracking_code,
      group: true,
      type: type,
      collection:@checklist_assets_not_in_lists,
      list_type: 'not_in_list'} %>
  </div>

  <%= render partial: 'assets/rfid_mass_actions', locals: {
      show_selection_cell: show_selection_cell,
      clear_filters_path: clear_filters_path,
      assign_tracking_code: assign_tracking_code,
      tracking_code: tracking_code,
      group: true,
      type_id: 'not-in-assets'} %>

    <table id="table-assets-checklist-not_in_assets" class="table">
      <% if @checklist_assets_not_in_assets.present? %>
        <% @checklist_assets_not_in_assets.each do |rfid| %>
          <% token = "rfid_" + rfid.token %>
          <tr id = <%=token%> >
            <td>
              <div class='chklist-not-in-asset-margin'>
                <span class='chklist-not-in-asset-title h2'>RFID: <%= rfid.token %> </span>
                <div class='chklist-not-in-asset but1'>SCANNED</div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

<% end %>
