
<% if @assets.size > 0 %>
  <%= render partial: 'assets/asset', collection: @assets, locals: {show_selection_cell: show_selection_cell, assign_tracking_code: assign_tracking_code, tracking_code: tracking_code} %>
<% else %>
  <p>No Assets Found</p>
<% end %>

<% if (@assets.respond_to? :total_pages) && @assets.total_pages > 1 %>
  <tr>
    <td class="hide-on-small-and-down" colspan= "<%= (show_selection_cell) ? 3 : 2 %>">
      <%= paginate @assets %>
    </td>
    <td class="hide-on-med-and-up" colspan= "<%= (show_selection_cell) ? 3 : 2 %>">
      <%= paginate @assets, window: 2 %>
    </td>
  </tr>
<% end %>
