<div id="reallocate-asset" class="modal">
  <div class="modal-content">
    <h4>Select Site</h4>
    <a href="#!" class="modal-action modal-close">Cancel</a>
    <div class="row">
      <div class="col s12">
        <p class="select-label2">Site</p>
        <%= select_tag :project_id, options_from_collection_for_select(@projects.available, :id, :name, @assets.first.try(:project_id)), class: 'browser-default select2' %>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <%= button_tag 'Reallocate', class: 'alternate-option waves-effect waves-light btn but1', onClick: "ga('send', 'Internal Link', 'Reallocate asset');".html_safe %>
      </div>
    </div>
  </div>
</div>
