<div id="unlink-group-asset" class="modal">
  <div class="modal-content show-modal-hg">
    <span class="h1">Unlink Group</span>
    <hr style="height: 1px;">
    <br>
    <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-select', style: 'display: inline;'} do |f| %>
      <div class="row">
        <div class="col s12 m12 l12">
          <span class="subh1">Are you sure you want to unlink asset from this group: </span><span class="h2"><%= group.name%>?</span>
          <%= f.input :unlink_group, as: :hidden, input_html: { value: 'Yes' } %>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <%= f.button :button, 'Unlink Group', class: 'but1',style: 'float:right; margin-right: 12px;',onClick: "ga('send', 'Internal Link', 'Unlink Group');".html_safe %>
          <a href="#!" class="modal-action modal-close btn white right-align" style="color: #fd4f00;float: right;margin-right: 12px;">Cancel</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
