<div id="link-group-asset" class="modal">
  <div class="modal-content">
    <span class="h1">Select Group</span>
    <hr class="hr-global">
    <br>
    <div class="row">
      <div class="col s12 m12 l12">
        <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-select'} do |f| %>
          <%= f.association :group, collection: @groups.available, include_blank: false, required: true, input_html: {class: 'browser-default select2'}, label_html: { :class => 'subh2' }, label: "Groups" %>
           <div class="row">
            <%= f.button :button, 'Link To Group',style: 'float:right;margin-right: 12px;margin-top: 20px;', class: 'but1', onClick: "ga('send', 'Internal Link', 'Link Group');".html_safe %>
             <a href="#!" class="modal-action modal-close btn white right-align" style="color: #fd4f00;float: right;margin: 19px;">Cancel</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
