<div id="link-to-group" class="modal">
  <div class="modal-content">
    <span class="h1">Select Group</span>
    <hr style="height: 1px;">
    <br>
    <div class="row">
      <div class="col s12">
        <p class="select-label2">Group</p>
        <%= select_tag :group_id, options_from_collection_for_select(@groups.available, :id, :name, (@assets || []).first.try(:group_id)), class: 'browser-default select2' %>
      </div>
    </div>
    <div class="row" id="multi-group-notes">
      <p>Some of the assets selected are linked to different groups. By linking to a new group these asset's longitude and latitude will be updated to the group location.
    </div>
    <div class="row">
        <%= button_tag 'Link to Group', class: 'alternate-option btn but1',style: 'float:right;margin-right: 12px;margin-top: 20px;', onClick: "ga('send', 'Internal Link', 'Link to Group');".html_safe %>
      <a href="#!" class=" modal-action modal-close btn white right-align" style="color: #fd4f00;float: right;margin: 19px;">Cancel</a>

    </div>
  </div>
</div>
