<div id="reallocate-asset" class="modal">
  <div class="modal-content">
    <span class="h1">Select Site</span>
    <hr style="height: 1px;">
    <br>
    <div class="row">
      <div class="col s12 m12 l12">
        <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-select'} do |f| %>
          <%= f.association :project, collection: @projects.available, include_blank: false, required: !current_user.company_admin?, input_html: {class: 'browser-default select2'},label_html: { :class => 'subh2' }, label: "Sites" %>
          <%= f.input :increment_reallocation_count, as: :hidden, input_html: { value: 'Yes' } %>
          <%= f.button :button, 'Reallocate',style: 'float:right;margin-right: 12px;margin-top: 20px;', class: 'but1',onClick: "ga('send', 'Internal Link', 'Asset Reallocate');".html_safe %>
          <a href="#!" class="modal-action modal-close btn white right-align" style="color: #fd4f00;float: right;margin: 19px;">Cancel</a>

        <% end %>
      </div>
    </div>
  </div>
</div>
