<div id="add-id" class="modal">
  <div class="modal-content">
    <span class="h1">Add Tracking</span>
    <hr style="height: 1px;">
    <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-select'} do |f| %>
      <div id="token_type_div" data-token-asset-id=<%= @asset.id %> >
        <div class=" rfid_row">
          <div class="row">
            <div class="col s6 m3 l2">
              <%= f.input :token_type, include_blank: false, label: false, default: 'QR' ,input_html: {id: 'asset_token_type', class: 'tracking_codes', style: 'min-width: 90px;'}, collection: [['QR', 'QR'],['UPC','UPC'],['RFID', 'RFID'],['BT', 'BT'],['LoRa', 'LoRa'],['Sigfox', 'Sigfox'],['Cellular', 'Cellular'], ['Fleet Tracker SN', 'SerialNumber']] %>
            </div>
            <div class="col s6 m8 l9">
              <%= f.input :token, as: :string, label: false, autofocus: true, input_html: {class: 'token-class', id: 'asset_token'} %>
            </div>
          </div>
        </div>
      </div>
        <div id="token-fab-id" class="row">
          <div class="col s12">
            <a id="token_fab"><span class="btn-floating btn-small primary waves-effect waves-light  mr-tn"><i class="material-icons">add</i></span><span class="dd3">Add another ID</span></a>
          </div>
        </div>
        <div class="row" id="token-add-id">
          <a href="#!" class="waves-effect waves-light btn modal-close but1" style='float:right;margin: 10px;' id="add-token-btn">Submit</a>
          <a href="#!" class="modal-action modal-close btn white" id="token-cancel" style="color: #fd4f00;float: right;margin: 10px;">Cancel</a>
        </div>
    <% end %>
  </div>
</div>


