<div id="move_to_assets_modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <p>Disconnecting Inventory Asset</p>
    <p class="txtmoveinventory">Move Inventory To</p>
    <div class="asset_list_inventory">
      <% same_category_assets = this_company_assets(@asset) %>
      <% same_category_assets.each do |aset| %>
        <p class="asset_title_move text_black" id="asset-<%= @asset.id %>-<%= aset.id %>"><%= aset.title %></p>
	    	<hr class="assestHr">
	    <% end %>
    </div>
  </div>

  <div class="modal-footer inventoryModal-footer">
    <% if (same_category_assets.count == 0) %>
      <%= link_to 'Create New Asset', new_asset_path(value: @asset.quantity, id: @asset.id), class: 'btn modal-action modal-close waves-effect btn_move_css' %>
    <% end %>
    <a href="#!" class="modal-action modal-close waves-effect btn  btn_continue_move_asset margin-right">Continue</a>
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
  </div>
</div>

