<div id="un-subscribed-schedule" class="modal">
  <div class="modal-content">
    <span class="title-text-big-orange" style="color: #212121;font-size: 20px;">Tenna’s Maintenance feature is an optional Premium service...</span><a href="#" style="color: #212121;"><i class="material-icons subs-modal-close-icon modal-close">close</i></a>
    <hr style="height: 1px;border-bottom:none">
    <br>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="row">
          <div class="col s12 m12 l12 intro-text">
            The Tenna <span style="color: #fd4f00;">Maintenance</span> feature can help you find more productivity by managing, scheduling and tracking maintenance for your vehicles.  Find more cost savings, too, using this feature to schedule preventative maintenance instead of more costly repairs.   
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12 intro-text contact-text">
            <div>Contact us if you wish to subscribe.</div>
            <div id="mail-div"><%= mail_to 'support@tenna.com' %></div>
            <div>844.502.8453</div>
          </div>
        </div>
      </div>
    </div>
    <div class="center-align" style="margin-top: -19px;">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn but1">Okay</a>
    </div>
  </div>
</div>


