<div id="un-subscribed-modal" class="modal">
  <div class="modal-content">
    <span class="title-text-big-orange" style="color: #212121;font-size: 20px;">This feature is available if you use various types of Tenna asset tags or trackers, beyond our QR Code asset tags...</span><a href="#" class="modal-close" style="color: #212121;"><i class="material-icons subs-modal-close-icon" style="margin-top: -24px;margin-right: -11px;">close</i></a>
    <hr style="height: 1px;">
    <br>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="row">
          <div class="col s12 m12 l12 intro-text">
            The Tenna <span style="color: #fd4f00;">Tracking Code</span> feature helps you find more control of all your assets.  You can use our broad array of asset tracking tags and trackers, and match them across all your equipment.  Select from our GPS asset trackers, or our Bluetooth, RFID and QR code tags, and match each type of asset tracker to the variety of equipment and vehicles in your fleet. 
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12 intro-text contact-text">
            <div>Contact us if you wish to subscribe.</div>
            <div id="mail-div"><%= mail_to 'support@tenna.com' %></div>
            <div>844.502.8453</div>
          </div>
        </div>
      </div>
    </div>
    <div class="center-align" style="margin-top: -19px;">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn but1">Okay</a>
    </div>
  </div>
</div>


