<div id="panel-list_<%= type_id %>" style="top: 15px; padding-top: 1px" class="mass-panel-<%= type_id %> <%= "card-panel#{' resources-card-panel' if show_selection_cell }" %>">
  <% if type_id != 'inventory' %>
    <ul class="collapsible inventory-info-dropdown" data-collapsible="expandable">
      <li>
        <div class="collapsible-header">
          <span class="h1">
            <% if type_id == 'not-found' %>
              Assets you are looking for
            <% elsif type_id == 'not-in-list' %>
              Not in filtered list
            <% elsif type_id == 'not-in-assets' %>
              Unrecognized ID Codes
            <% else %>
              <%= type_id.gsub('-', ' ') %>
            <% end %>
          </span>
          <% if type_id != 'just-scanned' %>
            <i class="material-icons right more report-info-i-more inventory-expand-arrow" style="float: right !important; color: #fd4f00">expand_more</i>
          <% end %>
        </div>
        <div class="collapsible-body b1" style="overflow: hidden;">
          <% if type_id == 'not-found' %>
            <p>These assets are the filtered list that you will use as your checklist. You’ll use your RFID, QR, or UPC scanner gun to identify these assets and they’ll be moved into the FOUND category below.</p>
          <% elsif type_id == 'not-in-list' %>
            <p>You found an asset that was not in the list above, but DOES belongs to your company.</p>
          <% elsif type_id == 'not-in-assets' %>
            <p>You scanned a Tracking Code (RFID, QR or UPC) that is not associated with your company.</p>
          <% else %>
            <p>These are the assets that you found that matched the Tracking Codes associated with the assets in the ASSETS YOU ARE LOOKING FOR list above.</p>
          <% end %>
        </div>
      </li>
    </ul>
  <% end %>
  <% if type_id != 'just-scanned' && type_id != 'not-in-assets' %>
    <% if show_selection_cell %>
      <div class="mass-action-wrapper asset-select-wrapper <%= type_id != 'inventory' ?  'mass-action-position' : '' %> " style= <%= type_id == 'not-found' ? '' : 'display:none' %> >
        <%= check_box_tag 'asset-select-toggle', nil, false, class: 'filled-in', id: 'asset-select-toggle-'+ type_id %>
        <%= content_tag :label, nil, for: 'asset-select-toggle-'+type_id, style: 'top: 3px;' %>
        <%= form_tag update_multiple_assets_path, class: 'action-form',style: 'position: relative;top: -28px; left: 40px;', method: :put do %>
          <div class="select-wrapper">
            <a class="dropdown-button dd1 action_border" href="#" data-activates="action-dropdown<%=type_id%>" data-constrainwidth="false">
              Actions
              <span class="caret" style="color: #fd4f00 !important;">▼</span>
            </a>
          </div>
          <ul id="action-dropdown<%=type_id%>" class="dropdown-content">
            <% actions_for_user(current_user).each do |action| %>
              <li><a class="assets-header-action" href="#" data-action="<%= action[1] %>"><%= action[0] %></a></li>
            <% end %>
          </ul>

          <% if params[:filter_search] %>
            <% if params[:filter_search][:hide_filters] == 'true' %>
              <%= hidden_field_tag '[filter_search][hide_filters]', 'true' %>
              <%= hidden_field_tag '[filter_search][assets_title]', params[:filter_search][:assets_title] %>
              <% if params[:filter_search][:assets_title] == 'abandoned' %>
                <%= hidden_field_tag '[filter_search][abandoned]', params[:filter_search][:abandoned] %>
              <% elsif params[:filter_search][:assets_title] == 'sold' %>
                <%= hidden_field_tag '[filter_search][sold]', params[:filter_search][:sold] %>
              <% elsif params[:filter_search][:assets_title] == 'available' %>
                <%= hidden_field_tag '[filter_search][available]', params[:filter_search][:available] %>
              <% elsif params[:filter_search][:assets_title] == 'in_use' %>
                <%= hidden_field_tag '[filter_search][in_use]', params[:filter_search][:in_use] %>
              <% elsif params[:filter_search][:assets_title] == 'qr_tracked' %>
                <%= hidden_field_tag '[filter_search][has_qr_code]', params[:filter_search][:has_qr_code]%>
              <% end %>
            <% end %>
          <% end %>

          <%= hidden_field_tag :asset_action %>
          <%= hidden_field_tag :asset_ids %>
          <%= hidden_field_tag :redirect_to, clear_filters_path %>
          <%= render partial: 'assets/modal_reallocate_index'%>
          <% if @groups && @groups.length > 0 %>
            <%= render partial: 'assets/modal_assets_link_to_group'%>
            <div class="modal-content-mass" id="reallocate-asset-mass-action-<%= type_id %>" style="display: none;">
              <div class="row">
                <div class="col s2" style="padding: 12px;">
                  <p class="select-label2">Site</p>
                </div>
                <div class="col s8">
                  <%= select_tag :project_id, options_from_collection_for_select(@projects.available, :id, :name, @assets.first.try(:project_id)), class: 'browser-default select2' %>
                </div>
              </div>
              <div class="row">
                <div class="col s6 right-align">
                  <%= button_tag 'Reallocate', class: 'alternate-option waves-effect waves-light btn but1', onClick: "ga('send', 'Internal Link', 'Reallocate asset');".html_safe %>
                </div>
                <div class="col s6">
                  <a class="waves-effect waves-light btn white but2" id="remove-realllocate-content-<%=type_id%>" href="#">Cancel</a>
                </div>
              </div>
            </div>
          <% end %>
          <%= render partial: 'shared/modal_select_asset_error'%>
          <%= render partial: 'shared/modal_select_rental_error'%>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
