  <table id="table-assets-<%=type%>-<%=list_type%>" class="table" style="margin-top: -10px;">
	<% if !collection.nil? and collection.size > 0 %>
		<%= render partial: 'assets/asset', collection: collection, locals: {show_selection_cell: show_selection_cell, assign_tracking_code: assign_tracking_code, tracking_code: tracking_code} %>
  	<% end %>
  </table>
