<div class="row" style="margin-top: 15px;">
  <div class="col s12">
  <input type="text" name="" placeholder="RFID scanning" id="rfid-sm-<%=type%>" class="sm-screen-scan">
    <% if type == 'inventory' %>
      <p  class="b1" style="color: #747684 !important" id="rf-inv-detail">Use a QR, UPC, or RFID scanner to add assets to the list. Once an asset is scanned it is inventoried and added to the list below.</p>
    <% elsif type == 'checklist' %>
      <p style="color: #747684" class="b1" id="rf-chk-detail">Use the filters to create a list of assets that you wish to be scanned. As you scan them they will be added to the scanned tab and will be inventoried.</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12 custom-s12">
    <%# if type == "inventory" %>
	    <div class="col l2 custom-l2 s6">
    	  <%= image_tag 'gun-1.png', alt: 'RFID Gun-1', width: 110, height: 90, class: 'image_round' %>
  	  </div>
	    <div class="col l2 custom-l2 s6">
        <%= image_tag 'gun-2.png', alt: 'RFID Gun-2', width: 110, height: 90, class: 'image_round margin_10' %>
  	  </div>
	    <div class="col l8 s12 remove_padding custom-l8">
      	<div class="col s12 remove_padding custom-s12">
      		<p style="color: #747684; word-wrap: break-word;" class="font_size_13 b1">To use this feature, you will need a QR, UPC, or RFID scanning gun. Please contact Tenna for information (admin@tenna.com).</p>
      	</div>
      	<div class="col s12 center-text custom-s12">
      	  <%= link_to 'CONTACT US', contact_us_path, class: 'lk3' %>
      	</div>
  	  </div>
    <%# end %>
  </div>
</div>
