<div id="panel-list" style="top: 15px;padding-top:0px" class="<%= "card-panel#{ " resources-card-panel" if show_selection_cell }" %> panel-scanned panel-not-scanned">
  <ul class="collapsible inventory-info-dropdown" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><span class="card-panel-heading without-border"><%= type_id %></span>
      <% if type_id != 'Just Scanned' %>
        <i class="material-icons right more report-info-i-more inventory-expand-arrow">expand_more</i></div>
        <div class="collapsible-body">
          <p>These assets are the filtered list that you will use as your checklist.  You’ll use your RFID, QR, or UPC scanner gun to identify these assets and they’ll be moved into the FOUND category below.</p>
        </div>
      <% end %>
    </li>
  </ul>
  <% if type_id != 'Just Scanned' %>
    <div class="row margin-bottom-0 mt-mn">
      <div class="col s6 m6 l4 ">
        <% if show_selection_cell %>
          <div class="action-filter-form-container">
            <div class="all-select-wrapper radio-btn">
              <%= check_box_tag 'asset-select-toggle', nil, false, class: 'filled-in' %>
              <%= content_tag :label, nil, for: 'asset-select-toggle' %>
            </div>

            <%= form_tag update_multiple_assets_path, class: 'action-filter-form', style: 'position: relative;top: -32px;', method: :put do %>
              <div class="select-wrapper">
                <a class="dropdown-button action_border" href="#" data-activates="action-dropdown" data-constrainwidth="false">
                  Actions
                  <span class="caret">▼</span>
                </a>
              </div>
              <ul id="action-dropdown" class="dropdown-content">
                <% actions_for_user(current_user).each do |action| %>
                  <li><a class="assets-header-action" href="#" data-action="<%= action[1] %>"><%= action[0] %></a></li>
                <% end %>
              </ul>

              <% if params[:filter_search] %>
                <% if params[:filter_search][:hide_filters] == 'true' %>
                  <%= hidden_field_tag '[filter_search][hide_filters]', 'true' %>
                  <%= hidden_field_tag '[filter_search][assets_title]', params[:filter_search][:assets_title] %>
                  <% if params[:filter_search][:assets_title] == 'abandoned' %>
                    <%= hidden_field_tag '[filter_search][abandoned]', params[:filter_search][:abandoned] %>
                  <% elsif params[:filter_search][:assets_title] == 'sold' %>
                    <%= hidden_field_tag '[filter_search][sold]', params[:filter_search][:sold] %>
                  <% elsif params[:filter_search][:assets_title] == 'available' %>
                    <%= hidden_field_tag '[filter_search][available]', params[:filter_search][:available] %>
                  <% elsif params[:filter_search][:assets_title] == 'in_use' %>
                    <%= hidden_field_tag '[filter_search][in_use]', params[:filter_search][:in_use] %>
                  <% elsif params[:filter_search][:assets_title] == 'qr_tracked' %>
                    <%= hidden_field_tag '[filter_search][has_qr_code]', params[:filter_search][:has_qr_code] %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col s6 m6 l8 right-align ">
        <div class="filter-list">
          <div class="filter-item">
            <%= render partial: 'shared/assets_sort_form' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <table id="table-assets" class="table">
    <%= render partial: 'assets/rfidlist', locals: {show_selection_cell: show_selection_cell, assign_tracking_code: assign_tracking_code, tracking_code: tracking_code, group: true} %>
  </table>
</div>
