<div class="row">
  <div class="">
    <div class="card">
      <% if @tracking_asset %>
        <table class="table">
          <tr>
            <td class="thumb-cell scanned_list">
              <div class="col s3">
                <div class="asset-type <%= @tracking_asset.asset_kind %>"></div>
                <%= photo_thumb_link(@tracking_asset, @tracking_code) %>
              </div>
              <div class="col s9">
                <div class="col s12 m7">
                  <div class="h2 t-capitalize"><%= @tracking_asset.title %></div>
                    <div class="asset-icons <%= controller_name %>">
                      <% if user_signed_in? && @tracking_asset.has_tracking_code? && @tracking_asset.company.try(:id) == current_user.company.try(:id) %>
                        <span class="tracking-ids green-icon">
                        <% if @tracking_asset.has_cellular? %>
                          <i class="material-icons cellular-icon qr-code-icon">speaker_phone</i>
                        <% end %>
                        <% if @tracking_asset.has_lora? %>
                          <i class="material-icons lora-icon qr-code-icon color_green">settings_input_antenna</i>
                        <% end %>
                        <% if @tracking_asset.has_sigfox? %>
                          <i class="material-icons sigfox-icon qr-code-icon color_green">wifi_tethering</i>
                        <% end %>
                        <% if @tracking_asset.has_bt? %>
                          <i class="material-icons bt-icon qr-code-icon color_green">bluetooth_searching</i>
                        <% end %>
                        <% if @tracking_asset.has_rfid? %>
                         <i class="material-icons rfid-icon qr-code-icon color_green">cast</i>
                        <% end %>
                        <% if @tracking_asset.has_qr? %>
                          <i class="fa fa-qrcode qr-icon qr-code-icon color_green" aria-hidden="true"></i>
                        <% end %>
                        <% if @tracking_asset.has_upc? %>
                          <i class="material-icons upc-icon qr-code-icon color_green">line_weight</i>
                        <% end %>
                      </span>
                    <% else %>
                        <span style="color: #ccc">No QR Associated</span>
                    <% end %>
                  </div>
                  <div>
                    <%= link_to 'Done', tracking_ids_add_token_path(id: @tracking_code, tracking_tokens: ["token: " + @tracking_code.to_s + ", resource_id: " + @tracking_asset.id.to_s + ", resource_type: Asset, status: assigned, token_type: QR"], asset_id: @tracking_asset.id, token_id: @tracking_token_id, js_success: false), id: "link_asset", class: 'waves-effect waves-light btn', method: :post %>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      <% else %>
        <% if @tracking_type == 'BT' %>
          <div class="card-content col s2" style="padding-bottom: 0px;">
            <%= image_tag 'Bluetooth.png', alt: 'Bluetooth', :class => "scanned-img" %>
          </div>
        <% elsif @tracking_type == 'QR' %>
          <div class="card-content col s2" style="padding-bottom: 0px;">
            <%= image_tag 'QR.png', alt: 'QR', :class => "scanned-img" %>
          </div>
        <% elsif @tracking_type == 'RFID' %>
          <div class="card-content col s2" style="padding-bottom: 0px;">
            <%= image_tag 'RFID.png', alt: 'RFID', :class => "scanned-img" %>
          </div>
        <% elsif @tracking_type == 'UPC' %>
          <div class="card-content col s2" style="padding-bottom: 0px;">
            <%= image_tag 'UPC.png', alt: 'UPC', :class => "scanned-img" %>
          </div>
        <% elsif @tracking_type == 'Sigfox' %>
          <div class="card-content col s2" style="padding-bottom: 0px;">
            <%= image_tag 'SigFox.png', alt: 'SigFox', :class => "scanned-img" %>
          </div>
        <% elsif @tracking_type == 'LoRa' %>
          <div class="card-content col s2" style="padding-bottom: 0px;">
            <%= image_tag 'LoRa.png', alt: 'LoRa', :class => "scanned-img" %>
          </div>
        <% elsif @tracking_type == 'Cellular' %>
          <div class="card-content col s2" style="padding-bottom: 0px;">
            <%= image_tag 'Cellular.png', alt: 'Cellular', :class => "scanned-img" %>
          </div>
        <% else %>
          <div class="card-content col s2" style="padding-bottom: 0px;">
            <%= image_tag 'question.png', alt: 'Not Found', :class => "scanned-img" %>
          </div>
        <% end %>
        <div class="card-content col s10">
          <% if @tracking_type %>
            <div class="scanned-text"><%= @tracking_type %> tracker scanned.</div>
            <div class="">Link to asset below.</div>
          <% else %>
            <div class="scanned-text"> Code not in database.</div>
            <div class="">Add to asset below.</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

















