<div id="token_type_div" data-token-asset-id=<%= @asset.id %> >
  <div class="row">
  <%= f.input :token_type, include_blank: false, label: false, collection: TrackingCode.token_types.map { |token_type, _| [token_type.titleize, token_type] }, wrapper_html: {class: 'col s6 m2'} %>
  <%= f.input :token, as: :string, label: false, wrapper_html: {class: 'col s6 m8'}, input_html: {class: 'token-class'} %>
</div>
</div>
<div id="token-fab-id">
  <a class="btn-floating btn-large waves-effect waves-light blue disabled" id="token_fab"><i class="material-icons">add</i></a>
</div>
<div class="row" id="token-add-id">
<a href="#!" class="waves-effect waves-light btn modal-close disabled" id="add-token-btn">ADD NEW ID</a>
</div>

