<%= render partial: 'shared/asset_breadcrumb', asset: @asset %>
<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="h1 panel-bdr">Edit <%= @asset.type %></h1>
        <span id="n-asset"><%= link_to_cancel %></span>
      </div>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>
