<% asset_title_header = ["Asset Title: #{@asset.title}"] %>
<% asset_id_header = ["Asset ID: #{@asset.id}"] %>
<% asset_date_time_header = ["Date/Time: #{@exported_at.sub(" ", " at")}"] %>
<% headers = ['Date', 'Action', 'New', 'Old', 'User'] %>
<%= CSV.generate_line asset_title_header %>
<%= CSV.generate_line asset_id_header %>
<%= CSV.generate_line asset_date_time_header %>
<%= CSV.generate_line headers %>
<% @versions.each do |version| %>
  <%= CSV.generate_line([
        DateTime.parse(version.created_at).in_time_zone.strftime('%m/%d/%Y'),
        version_action_label(version),
        version_value(version, 'to'),
        version_value(version, 'from'),
        version.whodunnit_name
      ]).html_safe %>
<% end %>
