<%if (@company_findit_subscription and (params[:action] == 'checklist' or params[:action] == 'findit')) or (params[:action] == 'index') %>
  <% title = "<div class='#{(@filter_search.is_any_filter_selected? ? '' : 'without-border')}'>#{(@assign_tracking_code ? 'Assets List' : (params['filter_search']['abandoned'] == '1') ? 'abandoned assets'.capitalize : 'Assets')}" %>
  <%if @filter_search.is_any_filter_selected? and @assets.count > 0 %>
    <% title +=  link_to export_assets_exports_path(filtered_assets: params[:filter_search], hide_filters: true) do %>
      <i class="hide-on-med-and-up icon-download"></i>
    <% end %>
    <% title += "</div>" %>
    <% title +=  link_to export_assets_exports_path(filtered_assets: params[:filter_search]) do %>
      <%= hidden_field_tag 'equipment', "asdsd"  %>
      <span class="hide-on-small-and-down link_float_right"><i class="hide-on-small-and-down icon-download"></i>Export this list</span>
  <% end %>
  <% else %>
    <% title += "</div>" %>
  <% end %>

  <% if params[:filter_search][:hide_filters] == 'true' and params[:filter_search][:assets_title] %>
    <% title_text = '' %>
    <% if params[:filter_search][:assets_title] == 'sold' %>
      <% title_text = 'SOLD ASSETS' %>
    <% elsif params[:filter_search][:assets_title] == 'abandoned' %>
      <% title_text = 'ABANDONED ASSETS' %>
    <% elsif params[:filter_search][:assets_title] == 'in_use' %>
      <% title_text = 'ASSETS IN USE' %>
    <% elsif params[:filter_search][:assets_title] == 'available' %>
      <% title_text = 'AVAILABLE ASSETS' %>
    <% elsif params[:filter_search][:assets_title] == 'qr_tracked' %>
      <% title_text = 'TRACKED ASSETS' %>
    <% elsif params[:filter_search][:assets_title] == 'req_maintenance' %>
      <% title_text = 'MAINTENANCE REQUIRED ASSETS' %>
    <% end %>
    <% title = "<div class='#{(@filter_search.is_any_filter_selected? ? '' : 'without-border')}'>"+ title_text + "</div>" %>

    <%if @filter_search.is_any_filter_selected? and @assets.count > 0 %>
      <% title +=  link_to export_assets_exports_path(filtered_assets: params[:filter_search], hide_filters: true) do %>
        <i class="hide-on-med-and-up icon-download"></i>
      <% end %>
      <% title += "</div>" %>
      <% title +=  link_to export_assets_exports_path(filtered_assets: params[:filter_search]) do %>
        <%= hidden_field_tag 'equipment', "asdsd"  %>
        <span class="hide-on-small-and-down link_float_right"><i class="hide-on-small-and-down icon-download"></i>Export this list</span>
    <% end %>
    <% else %>
      <% title += "</div>" %>
    <% end %>

    <% if params[:filter_search][:hide_filters] == 'true' and params[:filter_search][:assets_title] %>
      <% title_text = '' %>
      <% if params[:filter_search][:assets_title] == 'sold' %>
        <% title_text = 'SOLD ASSETS' %>
      <% elsif params[:filter_search][:assets_title] == 'abandoned' %>
        <% title_text = 'ABANDONED ASSETS' %>
      <% elsif params[:filter_search][:assets_title] == 'in_use' %>
        <% title_text = 'ASSETS IN USE' %>
      <% elsif params[:filter_search][:assets_title] == 'available' %>
        <% title_text = 'AVAILABLE ASSETS' %>
      <% elsif params[:filter_search][:assets_title] == 'qr_tracked' %>
        <% title_text = 'TRACKED ASSETS' %>
      <% elsif params[:filter_search][:assets_title] == 'req_maintenance' %>
        <% title_text = 'MAINTENANCE REQUIRED ASSETS' %>
      <% end %>
      <% title = "<div class='#{(@filter_search.is_any_filter_selected? ? '' : 'without-border')}'>"+ title_text + "</div>" %>
      <%if @filter_search.is_any_filter_selected? and @assets.count > 0 %>
        <% title +=  link_to export_assets_exports_path(filtered_assets: params[:filter_search], hide_filters: true) do %>
          <span class="hide-on-small-and-down link_float_right"><i class="hide-on-small-and-down icon-download"></i>Export this list</span>
        <% end %>
      <%end%>
    <% end %>
  <%end%>

    <%= render partial: 'shared/filterable_assets_index',
        locals: { clear_filters_path: assets_path,
                  title: title.html_safe,
                  fab_model: Asset,
                  show_selection_cell: (!@assign_tracking_code and params['filter_search']['sold'] != '1'),
                  assign_tracking_code: @assign_tracking_code,
                  tracking_code: @tracking_code  } %>
    <input type="text" value="<%=@filters%>" hidden id="rfid-search-filters">
    <script>
      var markers = <%= raw @markers.to_json %>;
    </script>
<%else%>
  <%= render partial: 'assets/not_subscribed' %>
<%end%>
