<div class="row page-size invMoveTo">
	<div class="col s8">
		<p class="leftheading txtmoveto">Move Quantity</p>
	</div>
	<div class="col s4">
		<%= link_to 'Back', manage_inventory_asset_path(params[:id]), class: 'btnback btnbackinv' %>
	</div>
</div>
<br>
<table class="assetsInvTbl">
	<% if params[:operator].eql? 'true' %>
		<%= link_to '+', new_asset_path(value: (params[:value] ? params[:value] : 1), id: params[:id]), class: 'btn btnFileInput' %>
		<span class="txtaddassets">Add New Assets</span>
	<% end %>

	<% if @assets.size > 0 %>
		<% @assets.each do |asset| %>
			<% show_selection_cell = false %>
			<% if asset != nil %>
				<% asset_type = get_asset_type(asset, user_signed_in? && current_user) %>
				<% ours_str = is_our_asset(asset, user_signed_in? && current_user) ? 'ours' : '' %>
				<tr id="<%= dom_id asset.becomes(Asset) %>" class="asset_row_each">

					<% if show_selection_cell %>
						<td class="selection-cell">
							<% if can?(:update, asset) %>
								<%= check_box_tag "asset-selected-#{asset.id}", nil, false, class: 'filled-in checked-assets-count', data: { id: asset.id, group: asset.group_id } %>
								<%= content_tag :label, nil, for: "asset-selected-#{asset.id}" %>
							<% end %>
						</td>
					<% end %>

					<td class="thumb-cell inv-thumb-cell">
						<div class="asset-type <%= asset.asset_kind %> <%= ours_str%>"></div>
						<%= photo_thumb(asset) %>
						<% if params[:controller] == 'assets' and params[:action] == 'asset' %>
							<div  class="scaned_tile default_scanned_tile">SCANNED</div>
						<% end %>
					</td>
					<td>
            <div class="row">
						  <%= link_to manage_inventory_asset_path(selected_id: asset.id,value: params[:value], operator: params[:operator]) do %>
								<div class="col s12 m7">
                  <div class="h2 t-capitalize"><%= asset.title %></div>
                    <% if asset.quantity.present?%>
                      <div class="b10 subh1">Quantity: <%= asset.quantity ? asset.quantity : '0' %></div>
                    <% end %>
                    <% if asset.project_name.present?%>
                      <div class="b10 subh1"><%= asset.project_name %></div>
                    <% end %>
                    <% if asset.asset_num.present? %>
                      <div class="b9">ID : <%= asset.asset_num %></div>
                    <% end %>
                    <% if controller_name != 'marketplace' %>
                      <% if asset.group.present? %>
                        <div class="b10"><%= asset.group.name %></div>
                      <% end %>
                    <% else %>
                      <% if ['for_rent', 'rental'].include?(asset.asset_kind) %>
                        <div class="unit b10">For <%= asset.time_length %> <%= asset.units %><% if asset.time_length > 1 %>s<% end %></div>
                      <% end %>
                      <% if asset.quantity_unit.present? %>
                        <div class="b10">Unit: <%= asset.quantity_unit %></div>
                      <% end %>
                      <% if asset.condition.present? %>
                        <div class="b10">Condition: <%= asset.condition %></div>
                      <% end %>
                      <% if asset.quantity.present? %>
                        <div class="b10">Quantity: <%= asset.quantity %></div>
                      <% end %>
                    <% end %>
                    <%= asset_status_text(asset, current_user) %>
                  </div>

									<div class="col s12 m5 right-section">
										<% if controller_name != 'marketplace' %>
											<% if asset.price.present? %>
												<% if ['for_rent', 'rental'].include?(asset.asset_kind) %>
													<div class="b8"><%= number_to_currency(asset.price, precision: 2, strip_insignificant_zeros: true) %><% if ['for_rent'].include?(asset.asset_kind) %> per <%= asset.units %> <% end %></div>
												<% else %>
													<div class="b8"><%= number_to_currency(asset.price, precision: 0) %></div>
												<% end %>
											<% else %>
												<div class="b8 price-not-set">$0</div>
											<% end %>

											<% if asset.market_value.present? %>
												<% if ['for_rent', 'rental'].include?(asset.asset_kind) %>
													<div class="b9"><%= number_to_currency(asset.total_rental_asset, precision: 2, strip_insignificant_zeros: true) %> for <%= asset.time_length %> <%= asset.units %><% if asset.time_length > 1 %>s<% end %></div>
												<% else %>
													<div class="b9"><%= number_to_currency(asset.market_value, precision: 0) %></div>
												<% end %>
											<% end %>
										<% else %>
											<% if asset.price.present? %>
												<div class="public-price hide-on-small-and-down"><%= number_to_currency(asset.price, precision: 0) %> <% if ['for_rent'].include?(asset.asset_kind) %> per <%= asset.units %> <% end %></div>
											<% else %>
												<div class="public-price price-not-set hide-on-small-and-down">$0</div>
											<% end %>
										<% end %>
                  </div>

                  <div class="asset-icons <%= controller_name %>">
										<% if user_signed_in? && asset.has_tracking_code? && asset.company.id == current_user.company.id %>
                      <span class="tracking-ids <%= asset.project_qr_code_same_location? ? 'green-icon' : 'red-icon'%>">
                        <% if asset.has_cellular? %>
                          <i class="material-icons cellular-icon qr-code-icon">speaker_phone</i>
                        <% end %>
                        <% if asset.has_lora? %>
                          <i class="material-icons lora-icon qr-code-icon">settings_input_antenna</i>
                        <% end %>
                        <% if asset.has_sigfox? %>
                          <i class="material-icons sigfox-icon qr-code-icon">wifi_tethering</i>
                        <% end %>
                        <% if asset.has_bt? %>
                          <i class="material-icons bt-icon qr-code-icon">bluetooth_searching</i>
                        <% end %>
                        <% if asset.has_rfid? %>
                          <i class="material-icons rfid-icon qr-code-icon">cast</i>
                        <% end %>
                        <% if asset.has_qr? %>
                          <i class="fa fa-qrcode qr-icon qr-code-icon" aria-hidden="true"></i>
                        <% end %>
                        <% if asset.has_upc? %>
                          <i class="material-icons upc-icon qr-code-icon">line_weight</i>
                        <% end %>
                      </span>
                    <% end %>
                    <% if user_signed_in? && asset.maintenance && asset.company == current_user.company %>
                      <i class="fa fa-wrench wrench-icon-devices" aria-hidden="true"></i>
                    <% end %>
                  </div>
                  <div class="b1 <%= controller_name %>"><%= asset.location %></div>
                </div>
              <% end %>
						</div>
					</td>
				</tr>
			<% end %>
		<% end %>
	<% else %>
		<p>No Assets Found</p>
	<% end %>
</table>

