<div class="card-panel card-panel-mob">
  <div class="row page-size manageInv">
    <div class="col s8">
      <p class="leftheading">Manage Inventory</p>
    </div>
    <div class="col s4">
      <%= link_to 'Back', asset_path(@asset.id), class: 'btnback' %>
    </div>
  </div>
  <hr>
  <div class="row page-size">
    <div class="col s12">
      <p class="txtassets"><%= @asset.title %></p>
    </div>
  </div>
  <div class="row page-size">
    <div class="col s12 m12">
      <p class="txtcurrent col s8">Current: <%= @asset.quantity %></p>
      <p class="txtnew col s4">New: <span class="newval"><%= @asset.quantity ? @asset.quantity : '0' %></span></p>
    </div>
  </div>
  <br>
  <div class="statusdiv marginbtom" id="uperstatus">
    <i class="material-icons iconpurple hide">error</i><br>
    <span class="statusText">You are adding
      <span class="count">1</span> Item
    </span><br>
    <span class="select_page">
      <span class="move">Move from</span>
      <%= link_to (@selected_asset ?  @selected_asset.title : 'None'), inventory_assets_asset_path(@asset.id), class: 'form-control movebtn' %>
    </span>
  </div>

  <%= form_tag update_quantity_asset_path(@asset.id), method: :get do %>
    <div class="row page-size">
       <div class="col l4 m4 s4 text-white">
         &nbsp;
      </div>
      <div class="col l4 m4 s4">
        <div class="counterr">
          <input type='button' value='+' name="+" class='qtyplus' field='quantity' />
            <div class="upperCircle text-white">&nbsp;</div>
          <input type='number' name='quantity' value='0' min='0' class='qty inputNumber' id="i12" />
            <div class="lowerCircle text-white">&nbsp;</div>
          <input type='button' value='-' name="-" class='qtyminus' field='quantity' />
        </div>
      </div>
       <div class="col l4 m4 s4 text-white">
         &nbsp;
      </div>
    </div>
    <br><br>
    <div class="statusdiv hide" id="lowrstatus">
      <i class="material-icons iconpurple hide">error</i><br>
      <span class="statusText">You are adding
        <span class="count">1</span> Items
      </span><br>
      <span class="select_page">
        <span class="move">Move from</span>
        <%= link_to (@selected_asset ?  @selected_asset.title : 'None'), inventory_assets_asset_path(@asset.id), class: 'form-control movebtn' %>
      </span>
    </div>
    <span class="hide val"><%= params[:value] ? params[:value] : '0' %></span>
    <span class="hide op"><%= params[:operator] ? params[:operator] : false %></span>
    <span class="hide checkselected"><%= @selected_asset ? 'AssetPresent' : 'Absent' %></span>

    <div class="row footerBtns">
      <div class="col s1 text-white">
          .
      </div>
      <div class="col s10">
        <%= link_to 'Cancel', asset_path(@asset.id), class: 'btnCancels' %>
        <%= hidden_field_tag :operator, 'neutral', class: 'operatr' %>
        <%= hidden_field_tag :selected_asset, params[:selected_id] if params[:selected_id] %>
        <%= submit_tag 'Save', class: 'btnSave' %>
      </div>
      <div class="col s1 text-white">
          .
      </div>
    </div>
  <% end %>
</div>
