<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="h1 panel-bdr">Add Asset</h1>
        <span id="n-asset"><%= link_to_cancel %></span>
      </div>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
