<div class="card card-border main-panel-qr">
  <div class="row">
    <div class="thumb-cell col s4 l2"><%= photo_thumb_link(@asset, local_assigns[:tracking_code]) %>
    </div>
    <div class="h2 t-capitalize col s8 l10">
      <%= @asset.title %>
      <br>
      <span class="tracking-ids <%= @asset.project_qr_code_same_location? ? 'green-icon' : 'red-icon'%>">
        <% if @asset.has_cellular? %>
          <i class="material-icons cellular-icon qr-code-icon">speaker_phone</i>
        <% end %>
        <% if @asset.has_lora? %>
          <i class="material-icons lora-icon qr-code-icon">settings_input_antenna</i>
        <% end %>
        <% if @asset.has_sigfox? %>
          <i class="material-icons sigfox-icon qr-code-icon">wifi_tethering</i>
        <% end %>
        <% if @asset.has_bt? %>
          <i class="material-icons bt-icon qr-code-icon">bluetooth_searching</i>
        <% end %>
        <% if @asset.has_rfid? %>
         <i class="material-icons rfid-icon qr-code-icon">cast</i>
        <% end %>
        <% if @asset.has_qr? %>
          <i class="fa fa-qrcode qr-icon qr-code-icon" aria-hidden="true"></i>
        <% end %>
        <% if @asset.has_upc? %>
          <i class="material-icons upc-icon qr-code-icon">line_weight</i>
        <% end %>
      </span>
      <span id="qr-done-bt"><button class='waves-effect waves-light btn'>Done</button></span>
      <span id="qr-before-save-done"><button class='waves-effect waves-light btn'>Done</button></span>
    </div>
  </div>
</div>
<div id="choose-one">
  <div class="card card-border qr-tiles-1st" id="qr-reallocate">
    <div class="row">
      <div class="col s6"><span class="qr-head">Reallocate</span></div>
      <div class="col s6 panel-pull-right"><span class="ip1"><%= qr_versions_whodunnit(qr_versions_updated(@asset,"project_id").whodunnit).name if qr_versions_updated(@asset,"project_id") %></span></div>
    </div>
    <i class="material-icons qr-forward-icon">arrow_forward_ios</i>
    <div class="row">
      <div class="col s6"><span class="qr-subhn" id="site-panel-head"><%= @asset.project.name%></span></div>
      <div class="col s6 panel-pull-right"><span class="ip1"><%= qr_scanning_time_ago(@asset,"project_id") if qr_versions_updated(@asset,"project_id") %></span></div>
    </div>
  </div>
  <div class="card card-border qr-tiles" id='qr-link-group'>
    <div class="row">
      <div class="col s6"><span class="qr-head">Group</span></div>
      <div class="col s6 panel-pull-right"><span class="ip1"><%= qr_versions_whodunnit(qr_versions_updated(@asset,"group_id").whodunnit).name if qr_versions_updated(@asset,"group_id")%></span></div>
    </div>
    <i class="material-icons qr-forward-icon">arrow_forward_ios</i>
    <div class="row">
      <div class="col s6"><span class="qr-subhn" id="group-panel-head"><%= @asset.group ? @asset.group.name : 'No Group Associated'  %></span></div>
      <div class="col s6 panel-pull-right"><span class="ip1"><%= qr_scanning_time_ago(@asset,"group_id") if qr_versions_updated(@asset,"group_id") %></span></div>
    </div>
  </div>
  <div class="card card-border qr-tiles" id='qr-maintenance'>
    <div class="row">
      <div class="col s6"><span class="qr-head">Maintenance</span></div>
      <div class="col s6 panel-pull-right"><span class="ip1"><%= qr_versions_whodunnit(qr_versions_updated(@asset,"maintenance requested").whodunnit).name if qr_versions_updated(@asset,"maintenance requested") %></span></div>
    </div>
    <i class="material-icons qr-forward-icon">arrow_forward_ios</i>
    <div class="row">
      <div class="col s6"><span class="qr-subhn" id="maintenence-panel-head"><%= @asset.notes[0..24] if @asset.notes%></span></div>
      <div class="col s6 panel-pull-right"><span class="ip1"><%= qr_scanning_time_ago(@asset,"maintenance requested") if qr_versions_updated(@asset,"maintenance requested") %></span></div>
    </div>
  </div>
  <% if @asset.is_inventory.eql? true %>
    <div class="card card-border qr-tiles qr-move-group" id="qr-manage-inventory">
      <div class="row">
        <div class="col s6"><span class="qr-head">Inventory</span></div>
        <div class="col s6 panel-pull-right"><span class="ip1"><%= qr_versions_whodunnit(qr_versions_updated(@asset,"inventory").whodunnit).name if qr_versions_updated(@asset,"inventory") %></span></div>
      </div>
      <i class="material-icons qr-forward-icon">arrow_forward_ios</i>
      <div class="row">
        <div class="col s6"><span class="qr-subhn" id="inventory-panel-head">Current Quantity: <%= @asset.quantity if @asset.quantity%></span></div>
        <div class="col s6 panel-pull-right"><span class="ip1"><%= qr_scanning_time_ago(@asset,"inventory") if qr_versions_updated(@asset,"inventory") %></span></div>
      </div>
    </div>
  <%end%>
</div>
<% if @projects_by_distance %>
  <!-- Reallocation modal for assets scanned with qr code -->
  <div class='scan-qr-container'>
    <div id="reallocation-div" class="qr-none">
      <div class="row header">
        <div class="col s12">
          <span class="qr-head">Reallocate</span>
        </div>
      </div>
        <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-asset-form',id: 'qr-reallocate-form'}, remote: true do |f| %>
          <div class="row">
            <input type="text" name="qr_scan" value="qr_scan" hidden>
            <%= f.association :project, collection: @projects.available, include_blank: false, label: 'Site', wrapper_html: {class: 'col s12 select-project'}, input_html: {class: 'select2'} %>
            <%= f.input :increment_reallocation_count, as: :hidden, input_html: { value: 'Yes'} %>
          </div>
          <input type="text" id="site-previous-val" hidden>
          <input type="text" id="site-previous-opt-val" hidden>
          <p class="ip1 allocate-mg">If you reallocate this asset it will be unlinked from it's current group.</p>
          <div class="row bt-rows generic-rght">
            <div class="col s6 l6 m6">
              <%= link_to 'Cancel', '#', class: 'waves-effect waves-light btn col s8 l12 m12 qr-ccl-bt site_cancel',id: "reallocation-back", type: :reset %>
            </div>
        <% end %>
            <div class="col s6 l6 m6">
              <button class='waves-effect waves-light btn col s8 l12 m12 qr-upd-btn reallocation-save site-save-click' id="qr_reallocate">Save</button>
            </div>
          </div>
        <div class="col s6"><span class="qr-subhn">Last updated <%= qr_versions_updated(@asset,"project_id").updated_at.strftime('%m/%d/%Y %l:%M%P %Z') if qr_versions_updated(@asset,"project_id")%></span>
          <br>
          <span>User: <%= qr_versions_whodunnit(qr_versions_updated(@asset,"project_id").whodunnit).name if qr_versions_updated(@asset,"project_id")%></span>
        </div>
    </div>

    <div id="group-link-div" class="qr-none">
      <div class="row header">
        <span class="qr-head">Group</span>
        <div class="col s12">
          <%if !@asset.group%>
            <span style="font-weight: 600;margin-left: -8px">No group associated to asset</span>
            <br>
          <%end%>
          <div class="col s6">
            <span style="margin-left: -19px">Link to</span>
          </div>
          <div class="col s6">
            <%if @asset.group.present?%>
              <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-select',id: 'qr-unlink-group'} do |f| %>
                <%= f.input :unlink_group, as: :hidden, input_html: { value: 'Yes' } %>
                <%= f.input :unlink_group_from_qr, as: :hidden, input_html: { value: 'Yes' } %>
                <%= link_to 'Unlink', "#", :onclick=>"$('#qr-unlink-group').submit()" ,style: 'float: right;margin-right: -17px;'%>
              <% end %>
            <%end%>
          </div>
        </div>
      </div>
        <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-asset-form',id: 'qr-group-form'} , remote: true do |f| %>
          <div class="row">
            <input type="text" name="qr_scan" value="qr_scan" hidden>
            <%= f.association :group, collection: @groups, include_blank: false, wrapper_html: {class: 'col s12 select-project'}, input_html: {class: 'select2'} ,prompt: 'Select Group'%>
            <%= f.input :increment_reallocation_count, as: :hidden, input_html: { value: 'Yes'} %>
              <input type="text" id="group-previous-val" hidden>
              <input type="text" id="group-previous-opt-val" hidden>
          </div>
          <%if @asset.group%>
            <div class="row">
              <span style="margin-left: 12px;">Move to</span>
              <%= f.association :project, collection: @projects.available, include_blank: false, label: 'Site', wrapper_html: {class: 'col s12 select-project mv-grp-select'}, input_html: {class: 'select2'} %>
              <%= f.input :move_group, as: :hidden, input_html: { value: 'Yes'} %>
            </div>
          <%end%>
          <div class="row bt-rows generic-rght">
            <div class="col s6 l6 m6">
              <%= link_to 'Cancel', '#', class: 'waves-effect waves-light btn col s8 l12 m12 qr-ccl-bt group_cancel',id: 'group-link-back', type: :reset %>
            </div>
        <% end %>
            <div class="col s6 l6 m6">
              <button class='waves-effect waves-light btn col s8 l12 m12 qr-upd-btn reallocation-save group-save-click' >Save</button>
            </div>
        </div>
        <div class="col s6"><span class="qr-subhn">Last updated <%= qr_versions_updated(@asset,"group_id").updated_at.strftime('%m/%d/%Y %l:%M%P %Z') if qr_versions_updated(@asset,"group_id")%></span>
          <br>
          <span>User: <%= qr_versions_whodunnit(qr_versions_updated(@asset,"group_id").whodunnit).name if qr_versions_updated(@asset,"group_id")%></span>
        </div>
    </div>

 <!--    <div id="move-group-div" class="qr-none">
      <div class="row header">
        <div class="col s12">
          <h4>Move Group?</h4>
          <a href='#' class='qr-back pull-right' id='move-group-back'>Back</a>
        </div>
      </div>
      <hr>
      <br>
      <p><strong><%= @asset.title %></strong> is currently
        <% if @asset.project.present? %>
          allocated to <strong><%= @asset.project.name %></strong>.
        <% else %>
          not allocated to any project.
        <% end %>
      </p>
      <p>
        <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-asset-form'} do |f| %>
          <div class="row">
            <%= f.association :project, collection: @projects.available, include_blank: false, label: 'Site', wrapper_html: {class: 'col s12 select-project'}, input_html: {class: 'select2'} %>
            <%= f.input :move_group, as: :hidden, input_html: { value: 'Yes'} %>
          </div>
          <p class="move-group-info-text">If you move this group, assets in this group which has QR code, their longitude and latitude will be update to current location, remaining asset's zip code will be updated to site's zip code.</p><hr>
          <%= link_to 'Cancel', asset_path(@asset), class: 'waves-effect waves-light btn', type: :reset %>
          <div class="btn-container">
            <%= f.button :button, 'Move Group', id: 'qr_reallocate', class: 'close-lnk', onClick: "ga('send', 'Internal Link', 'Move Group');".html_safe %>
          </div>
        <% end %>
      </p>
    </div> -->

    <div id="maintenance-div" class="qr-none">
      <div class="row header">
        <div class="col s12">
        </div>
      </div>
        <%if @asset.maintenance?%>
            <span>Maintenance has been requested by <%= qr_versions_whodunnit(qr_versions_updated(@asset,"notes").whodunnit).name if qr_versions_updated(@asset,"notes")%></span>
            <br>
            <span style="font-weight: 600;">Notes</span>
            <p><%= @asset.notes%></p>
        <%end%>
        <br>
        <%= simple_form_for @asset, url: asset_url(@asset), html: {class: 'reallocate-asset-form',id: 'qr-maintenance-form'} ,remote: true do |f| %>
          <div class="row" >
            <input type="text" name="qr_scan" value="qr_scan" hidden>
            <%= f.input :maintenance, as: :boolean, boolean_style: :inline, label: "#{@asset.maintenance?  ? 'Fulfill Maintenance' :   'Request Maintenance'}", wrapper_html: {class: 'col s12 padding-bottom-10'} %>
            <%= f.input :notes, as: :material_text, label: 'Notes', maxlength: 256, wrapper_html: {class: 'col s12'},label_html: {style: 'left: 20px;'}%>
            <input type="text" id="notes-previous-val" hidden>
          </div>
          <div class="row bt-rows generic-rght">
            <div class="col s6 m6 l6">
              <%= link_to 'Cancel', '#', class: 'waves-effect waves-light btn col s8 m12 l12 qr-ccl-bt maintenence_cancel',id: 'maintenance-back', type: :reset %>
            </div>
        <% end %>
            <div class="col s6 m6 l6">
              <button class='waves-effect waves-light btn col s8 l12 m12 qr-upd-btn reallocation-save maintenence-save-click'>Save</button>
            </div>
        </div>
        <div class="col s6"><span class="qr-subhn">Last updated <%= qr_versions_updated(@asset,"notes").updated_at.strftime('%m/%d/%Y %l:%M%P %Z') if qr_versions_updated(@asset,"notes")%></span>
          <br>
          <%if !@asset.maintenance?%>
            <span>User: <%= qr_versions_whodunnit(qr_versions_updated(@asset,"notes").whodunnit).name if qr_versions_updated(@asset,"notes")%></span>
          <%end%>
        </div>
    </div>
    <div id='manage-inventory-div' class='qr-none'>
      <div class="card-panel card-panel-mob">
        <div class="row header">
          <div class="col s12">
            <div class="col s8">
              <p class="leftheadingqr">Manage Inventory</p>
            </div>
          </div>
        </div><hr>
        <div class="row page-size">
          <div class="col s12">
            <p class="txtassets"><%= @asset.title %></p>
          </div>
        </div>
        <div class="row page-size">
          <div class="col s12">
            <p class="txtcurrent col s8">Current: <%= @asset.quantity %></p>
            <p class="txtnew col s4">New: <span class="newval"><%= @asset.quantity ? @asset.quantity : '0' %></span></p>
          </div>
        </div><br>
        <div class="statusdiv marginbtom" id="uperstatus">
          <i class="material-icons iconpurple hide">error</i><br>
          <span class="statusText">You are adding
            <span class="count">1</span> Item
          </span><br>
          <span class="select_page">
            <span class="move">Move from</span>
            <%= link_to (@selected_asset ?  @selected_asset.title : 'None'), inventory_assets_asset_path(@asset.id), class: 'form-control movebtn' %>
          </span>
        </div>
        <%= form_tag update_quantity_asset_path(@asset.id),id: 'qr-inventory-form',remote: true, method: :get do %>
          <div class="row page-size">
            <div class="col l4 s4 text-white">
              &nbsp;
            </div>
            <div class="col l4 m4 s4">
              <div class="counterr">
                <input type='button' value='+' name="+" class='qtyplus' field='quantity' />
                <div class="upperCircle text-white">&nbsp;</div>
                <input type='number' name='quantity' value= <%= params[:value] ? params[:value] : '0' %> min='0' class='qty inputNumber' id="i12" />
                <div class="lowerCircle text-white">&nbsp;</div>
                <input type='button' value='-' name="-" class='qtyminus' field='quantity' />
              </div>
            </div>
            <div class="col l4 m4 s4 text-white">
              &nbsp;
            </div>
          </div><br><br>
          <span class="hide val"><%= params[:value] ? params[:value] : '0' %></span>
          <span class="hide op"><%= params[:operator] ? params[:operator] : false %></span>

          <div class="statusdiv" id="lowrstatus">
            <i class="material-icons iconpurple hide">error</i><br>
            <span class="statusText">You are adding <span class="count">1</span> Items </span><br>
            <span class="select_page">
              <span class="move">Move from</span>
              <%= link_to (@selected_asset ?  @selected_asset.title : 'None'), inventory_assets_asset_path(@asset.id), class: 'form-control movebtn' %>
            </span>
          </div>
          <span class="hide checkselected"><%= @selected_asset ? 'AssetPresent' : 'Absent' %></span>
          <div class="row footerBtns">
            <div class="col s1 text-white">
              .
            </div>
            <div class="col s10">
              <%= link_to 'Cancel', '#', class: 'btnCancels qr-ccl-bt inventory_cancel', id: 'manage-inventory-back', style: 'margin-left: 0px !important;'%>
              <%= hidden_field_tag :operator, 'neutral', class: 'operatr' %>
              <%= hidden_field_tag :selected_asset, params[:selected_id] if params[:selected_id] %>
              <button class='reallocation-save pull-right inventory-save-click btnSave'>Save</button>
            </div>
            <div class="col s1 text-white">
              .
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <script>
    $('#qr-manage-inventory').click(function () { 
      $('#choose-one').css('display','none'); 
      $('.managebtn').css('display','none'); 
      $('#manage-inventory-div').css('display','block'); 
    });

    $('#manage-inventory-back').click(function () { 
      $('#manage-inventory-div').css('display','none'); 
      $('#choose-one').css('display','block'); 
    });

    $('#qr-reallocate').click(function () {
      $('#choose-one').css('display','none');
      $('#reallocation-div').css('display','block');
    });

    $('#qr-link-group').click(function () {
      $('#choose-one').css('display','none');
      $('#group-link-div').css('display','block');
    });

    $('#qr-move-group').click(function (ev) {
      if ($(this).hasClass('disabled')) {
        return false;
      }
      $('#choose-one').css('display','none');
      $('#move-group-div').css('display','block');
    });

    $('#qr-maintenance').click(function () {
      $('#choose-one').css('display','none');
      $('#maintenance-div').css('display','block');
    });

    $('#inventory-back').click(function () {
      $('#inventory-update').css('display','none');
      $('#choose-one').css('display','block');
    });

    $('#reallocation-back').click(function () {
      $('#reallocation-div').css('display','none');
      $('#choose-one').css('display','block');
    });
    $('.reallocation-save').click(function (e) {
      $('#reallocation-div').css('display','none');
      $('#group-link-div').css('display','none');
      $('#move-group-div').css('display','none');
      $('#maintenance-div').css('display','none');
      $('#manage-inventory-div').css('display','none');
      $('#choose-one').css('display','block');
      $('#qr-done-bt').show();
      e.preventDefault();
    });

    $('#group-link-back').click(function () {
      $('#group-link-div').css('display','none');
      $('#choose-one').css('display','block');
    });

    $('#move-group-back').click(function () {
      $('#move-group-div').css('display','none');
      $('#choose-one').css('display','block');
    });

    $('#maintenance-back').click(function () {
      $('#maintenance-div').css('display','none');
      $('#choose-one').css('display','block');
    });
    $('#qr-done-bt').hide();
  </script>
<% end %>
