<% content_for :title, @asset.title %>
<% meta_tag :description, @asset.description %>
<% if !@projects_by_distance %>
  <%= render partial: 'shared/asset_breadcrumb', asset: @asset %>
  <div class="row">
    <div class="col s12 m6">
      <%= render partial: 'shared/swiper', object: @asset %>
      <div class="static-map-wrapper" id="bs-asset-map"
           data-token="<%= Rails.application.secrets['keys']['map_box_api_key'] %>"
           data-lat="<%= @asset.current_lat %>"
           data-lng="<%= @asset.current_lng %>">
        <%= asset_static_map(@asset) %>
      </div>
    </div>

    <div class="col s12 m6" style="margin-top: -19px;">
      <div class="row row-title">
        <div class="col s10">
          <h1 class="asset_titl h1" style="margin-top: 16px; padding-bottom: 7px;"><%= @asset.title %></h1>
        </div>
        <div class="col s2 right-align">
          <div class="asset_share_favorite">
            <%= render partial: 'favorite_form', object: @favorite, locals: {asset: @asset, remote: false} %>
          </div>
        </div>
      </div>

      <div class="row row-dates">
        <div class="col s6 left-align" style="margin-top: -30px;">
          <% if @asset.has_top_left_content? %>
            <% if @asset.asset_num.present? %>
              <span class="asset-nu b8">ID/Number: <%= @asset.asset_num %></span><br>
            <% end %>
            <% if @asset.type == 'Material' %>
              <span class="quantity-unit">Quantity: <%= @asset.quantity %> <%= @asset.quantity_unit %></span><br>
            <% end %>
          <% end %>
          <div class="asset-types-set <%=@asset.asset_kind %>_at">
            <% if @asset.asset_kind == 'for_rent' %>
              <p class="b20 ast-typ-mg asset-typ <%= (user_signed_in? && is_our_asset(@asset, current_user)) ? '' : 'not-ours' %>">For Rent</p>
            <% elsif @asset.asset_kind == 'rental' %>
              <p class="b20 ast-typ-mg asset-typ rental">Rental</p>
            <% elsif @asset.asset_kind == 'owned' %>
              <p class="b20 ast-typ-mg asset-typ owned">Owned</p>
            <% elsif @asset.asset_kind == 'for_sale' %>
              <p class="b20 ast-typ-mg asset-typ <%= (user_signed_in? && is_our_asset(@asset, current_user)) ? 'sale ours' : 'sale' %>">For Sale</p>
            <% end %>
          </div>
          <% if @asset.price.present? %>
            <% if ['for_rent', 'rental'].include?(@asset.asset_kind) %>
              <span class="asset_pric h2">Rent $<%= number_to_currency(@asset.price, precision: 2, strip_insignificant_zeros: true, unit: '') %> per <%= @asset.units %></span>
            <% else %>
              <span class="asset_pric h2">Price <%= number_to_currency(@asset.price, precision: 0) %></span>
            <% end %>
          <% else %>
            <span class="asset_pric h2 price-not-set">Price $0</span>
          <% end %>
          <% if user_signed_in? && @asset.company == current_user.company && @asset.market_value.present? %>
            <br>
            <% if ['for_rent', 'rental'].include?(@asset.asset_kind) %>
              <span class="market-valu b3 header-h2">Total Rental Cost: $<%= number_to_currency(@asset.total_rental_asset, precision: 2, strip_insignificant_zeros: true, unit: '') %></span><br>
              <span class="asset_price_thirty_day b3">For <%= @asset.time_length %> <%= @asset.units %><% if @asset.time_length > 1 %>s<% end %></span>
            <% else %>
              <span class="market-valu b3 header-h2">Value <%= number_to_currency(@asset.market_value, precision: 0) %></span>
            <% end %>
          <% end %>
          <p class="body-text1 b3">Category:
            <%= @asset.category.name %>
          </p>
          <% if @asset.condition.present? %>
            <p class="body-text1 b3">Condition: <%= @asset.condition.titleize %></p>
          <% end %>
          <%= asset_status(@asset, current_user) %>
          <span class="desc body-text1 b9">
            <%= @asset.description %>
          </span>
          <% if @asset.notes %>
            <div class="row">
              <div class="col s12">
                <p class="body-text1 b3"><%= simple_format @asset.notes %></p>
              </div>
            </div>
          <% end %>
          <% if can?(:toggle_marketplace, @asset) and @asset.active? %>
            <br>
            <%= link_to 'Duplicate', new_asset_path(dup_slug: @asset.slug, back: "/assets/#{@asset.slug}"), class:'waves-effect waves-light btn but1' %>
          <% end %>
        </div>

        <div class="col <%=  @asset.has_top_left_content? ?  's6' : 's12' %> right-align">
          <% if @asset.maintenance? %>
            <p class="body-text1 wrench-icon-bold" style="    margin-left: 86px;"></p>
          <% end %>
        </div>
      </div>
      <hr>
      <% if @asset.has_tracking_code? %>
        <div class="row row-year <%= @asset.project_qr_code_same_location? ? 'green-icon' : 'red-icon'%>">
          <div class="col s12 h2" style="font-weight: 600; padding-bottom: 10px;">Manage Tracking Code</div>
          <div class="col s12 b13" style="padding-bottom: 10px; font-style: italic">Click on icons to see and edit tracking codes:</div>
          <div class="col s7">
            <% if @asset.has_qr? %>
              <a class="tracking-ids tracking-icon" data-token-type="0"><i class="fa fa-qrcode qr-icon" aria-hidden="true"></i></a>
            <% end %>
            <% if @asset.has_rfid? %>
              <a class="tracking-ids tracking-icon" data-token-type="1"><i class="material-icons">cast</i></a>
            <% end %>
            <% if @asset.has_lora? %>
              <a class="tracking-ids tracking-icon" data-token-type="2"><i class="material-icons">settings_input_antenna</i></a>
            <% end %>
            <% if @asset.has_sigfox? %>
              <a class="tracking-ids tracking-icon" data-token-type="3"><i class="material-icons">wifi_tethering</i></a>
            <% end %>
            <% if @asset.has_upc? %>
              <a class="tracking-ids tracking-icon" data-token-type="4"><i class="material-icons">line_weight</i></a>
            <% end %>
            <% if @asset.has_bt? %>
              <a class="tracking-ids tracking-icon" data-token-type="5"><i class="material-icons">bluetooth_searching</i></a>
            <% end %>
            <% if @asset.has_cellular? %>
              <a class="tracking-ids tracking-icon" data-token-type="6"><i class="material-icons">speaker_phone</i></a>
            <% end %>
            <% if @asset.has_serialnumber? %>
              <a class="tracking-ids tracking-icon" data-token-type="7"><i class="material-icons">vpn_key</i></a>
            <% end %>
          </div>
          <% if can?(:edit, @asset) %>
            <% if current_user.private? and !@asset.sold? %>
              <div class="col s5 right-align">
                <div class="reallocate-wrapper">
                 <a class="waves-effect waves-light btn modal-trigger but1" id="add-tracking" href="#add-id">Add Tracking</a>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
        <div id="token-div" class="tracking-content row-year">
        </div>
        <hr>
      <% end %>
      <div class=" row row-year">
        <div class="col s12">
          <span id="asset_sh_proj"><%= asset_project(@asset) %></span>
          <span id="asset_sh_grp"><%= asset_group(@asset) %></span>
          <div class="row-buttons">
            <% if can?(:edit, @asset) %>
              <% if current_user.private? and !@asset.sold? %>
                <% if !@asset.group %>
                  <a class="waves-effect waves-light btn modal-trigger" href="#link-group-asset" onClick="ga('send', 'Internal Link', '#link-to-group');">Link To Group</a>
                  <%= render partial: 'assets/modal_asset_link_to_group' %>
                <% else %>
                  <a class="waves-effect waves-light btn modal-trigger" href="#unlink-group-asset" onClick="ga('send', 'Internal Link', '#link-to-group');">Unlink Group</a>
                  <%= render partial: 'assets/modal_unlink_group_show',:locals => {:group => @asset.group}%>
                <% end %>

                <div class="reallocate-wrapper">
                  <a class="waves-effect waves-light btn modal-trigger but1" href="#reallocate-asset" onClick="ga('send', 'Internal Link', '#reallocate-asset');">Reallocate</a>
                </div>
                <% if !@asset.has_tracking_code? and @company_tracking_subscription%>
                  <div class="reallocate-wrapper">
                    <a class="waves-effect waves-light btn modal-trigger but1" id="add-tracking" href="#add-id">Add Tracking</a>
                  </div>
                <%elsif !@asset.has_tracking_code?%>
                  <div class="reallocate-wrapper">
                    <a class="waves-effect waves-light btn modal-trigger but1" href="#un-subscribed-modal">Add Tracking</a>
                  </div>
                  <%= render partial: 'assets/not_subscribed_modal_tracking_show'%>
                <%end%>
                <%= render partial: 'assets/modal_reallocate_show' %>
                <%= render 'assets/modal_tracking_show'%>
              <% end %>

              <% if (@asset.is_inventory.eql? true) %>
                <%= link_to 'Manage Inventory', manage_inventory_asset_path(@asset.id), class: 'waves-effect waves-light btn manage-btn-mobile-view' %>
              <% end %>

            <% end %>
            <br><br>
            <% if !user_signed_in? or current_user.can_flag?(@asset) %>
              <%= link_to 'Flag as inappropriate', flag_asset_url(@asset), method: :patch,  onClick: "ga('send', 'Internal Link', '#{asset_url(@asset)} flag as inappropriate');".html_safe%>
            <% end %>
          </div>
          <% if user_signed_in? && @asset.has_current_coordinates? && current_user.private? && @asset.company == current_user.company %>
            <span class="<%= @asset.project_qr_code_same_location? ? "b22" : "b23" %>" style="cursor: pointer" id="load-dynamic-map">
              (lat: <%= @asset.current_lat.round(4) %>, lng: <%= @asset.current_lng.round(4) %>) <br/>
              <%= @asset.get_address_by_lat_lng %>
            </span>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row row-price">
        <br>
        <div class="col s12 m12 l6 left-align">
          <% if @asset.contact.present? %>
            <p class="contact-name body-text1 b3"><%= @asset.contact.name %></p>
            <p style="font-weight: 500">
            <%= mail_to '', content_tag(:i, '', class: 'icon-share',style: 'font-size: 20px;padding: 6px; color: #00b2d3;'), subject: "Tenna: #{@asset.title}", body: "#{@asset.url}" %>
            <span style="position: absolute;">
            <%= mail_to @asset.contact.email, @asset.contact.email, class: 'lk1', subject: "Tenna: #{@asset.title}", body: "#{@asset.url}" %></span></p>
            <p><%= phony_formatted(@asset.contact.phone_number) %></p>
          <% end %>
        </div>

        <div class="col s12 m12 l6 asset_views_favorites <%= @asset.contact.active_for_authentication? ? 'right-align' : '' %> small_left_align">
          <% if user_signed_in? && @asset.creator_id == current_user.id && current_user.public? %>
            Post Expires: <%= format_date_or_today(@asset.expires_on) %>
            <br><br>
          <% end %>
          <span class="nowrap body-text-bt6 ip2" style="color: #65675e;"><i class="icon-favorite-star-fill" style="color: #65675e;"></i> <%= pluralize(@asset.num_favorites, 'Favorite') %></span>
          <br><br>
          <p class="body-text-bt6 b1">Created: <%= format_date(@asset.created_at) %></p>
        </div>
      </div>
      <hr>
<!-- tracking code was there -->
      <div class="row row-available">
        <div class="col s12">
          <br>
          <% if @asset.type == 'Material' && @asset.durability.present? %>
            <br>Durability: <%= @asset.durability.humanize %><br>
          <% end %>
          <% if @asset.hours.present? %>
            <%= @asset.hours %> Hours
          <% end %>
          <% if @asset.miles.present? %>
            <%= @asset.miles %> Miles
          <% end %>
          <% if @asset.pdfs.size > 0 %>
            <br>
            <p><strong>PDFs:</strong></p>
            <ul>
              <% @asset.pdfs.each do |pdf| %>
                <li><%= link_to pdf.file.file.filename, pdf.file.url, class: 'pdf-link', target: '_blank' %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <% if user_signed_in? && current_user.private? && @asset.company == current_user.company %>
      <%= render partial: 'shared/history', locals: {asset_id: @asset.id} %>
    <% end %>
  </div>

  <% unless @asset.sold? %>
    <%= fab @asset %>
  <% end %>
<% end %>
<style type="text/css">
  #assets-show, #wanted-assets-show {
    background-color: #FFF !important;
  }
</style>
<!-- take this code to new template names 'qr_scanning.html.erb' -->
<%#= render partial: 'assets/qr_scanned' %>
