<%= render partial: 'shared/filterable_assets_index',
  locals: { clear_filters_path: sold_assets_path, title: "Sold Assets", fab_model: Asset, show_selection_cell: false, show_tabs: current_user.private?,
            assign_tracking_code: @assign_tracking_code,
            tracking_code: @tracking_code  } %>

