<div class="wrapper2">
  <div class="row center">
    <div class="row padding-top-50">
      <div class="col s2 m2 l3">&nbsp;</div>
      <div class="col s8 m8 l6 intro-text-heading2">Affiliations</div>
      <div class="col s2 m2 l3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col s2 m2 l3">&nbsp;</div>
      <div class="col s8 m8 l6 intro-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.
      </div>
      <div class="col s2 m2 l3">&nbsp;</div>
    </div>
  </div>

  <div class="row margin-bottom-0 center padding-bottom-25">
    <div class="col s2 m2 hide-on-large-only">&nbsp;</div>
    <div class="col s8 m8 l4 affiliation">
      <div class="affiliation-box">
        <div class="heading2 padding-bottom-25">Cross Arrow Network</div>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </div>
    </div>
    <div class="col s2 m2 hide-on-large-only">&nbsp;</div>
    <div class="col s2 m2 hide-on-large-only clear-left">&nbsp;</div>
    <div class="col s8 m8 l4 affiliation">
      <div class="affiliation-box">
        <div class="heading2 padding-bottom-25">Neo Scanner</div>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </div>
    </div>
    <div class="col s2 m2 hide-on-large-only">&nbsp;</div>
    <div class="col s2 m2 hide-on-large-only clear-left">&nbsp;</div>
    <div class="col s8 m8 l4 affiliation">
      <div class="affiliation-box">
        <div class="heading2 padding-bottom-25">HighCharts</div>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </div>
    </div>
    <div class="col s2 m2 hide-on-large-only">&nbsp;</div>
  </div>
</div>
