<div class="wrapper2">
  <div class="row">
    <div class="row padding-top-50">
      <div class="col s2 m2 l2 float-left">&nbsp;</div>
      <div class="col s9 m9 l9 intro-text-heading2">ABOUT US</div>
    </div>
    <div class="row">
      <div class="col s2 m2 l2 float-left">&nbsp;</div>
      <div class="col s9 m9 l9 heading2">We make your assets work harder for you.</div>
    </div>
    <div class="row">
      <div class="col s2 m2 l2 float-left">&nbsp;</div>
      <div class="col s9 m9 l5 intro-text">
        Industrial companies from logistics to construction and utilities, as well as governments and transit systems, rely on their assets - equipment and material - to make things happen.<br><br>
        These assets are on the move among locations plants and projects, so it's almost impossible to track and manage them efficiently.  Until now.  Tenna's unique technology tracks all your equipment, tools and assets, including their location and availability, so that your assets can work harder for you.
      </div>
    </div>
  </div>
</div>
