<div class="wrapper2">
  <div class="row center">
    <div class="row padding-top-50">
      <div class="col s2 m2 l3">&nbsp;</div>
      <div class="col s8 m8 l6 title-text-big-blue">LEADERSHIP</div>
      <div class="col s2 m2 l3">&nbsp;</div>
    </div>
  </div>
  <div class="row margin-bottom-0 center padding-bottom-25">
    <div class="col s12 m12 l6 leader padding-bottom-25">
      <div class="col s12 m12 l12 miniscreen-padding-left-0 miniscreen-padding-right-0">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s5 m4 l4 miniscreen-padding-left-0"><%= image_tag 'homepage/bio_images/austin_bio_image.png' %></div>
        <div class="col s7 m6 l6 leader-name text-align-start miniscreen-padding-left-15 miniscreen-padding-right-0">Austin Conti<br /> <span class="row leader-position">CEO/Co-Founder</span></div>
      </div>
      <div class="leader-about">Austin brings deep experience in business development, operations and development for public and private clients in infrastructure, power, building and environmental projects.  He has demonstrated leadership and entrepreneurial spirit, which contributed to success in his previous roles in domestic and international business expansion.  Austin has a Bachelors in Business Management & Entrepreneurship from Babson College.</div>
    </div>
    <div class="col s12 m12 l6 leader padding-bottom-25">
      <div class="col s12 m12 l12 miniscreen-padding-left-0 miniscreen-padding-right-0">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s5 m4 l4 miniscreen-padding-left-0"><%= image_tag 'homepage/bio_images/jose_bio_image.png' %></div>
        <div class="col s7 m6 l6 leader-name text-align-start miniscreen-padding-left-15 miniscreen-padding-right-0">Jose Cueva<br /> <span class="row leader-position">Co-Founder, Strategic Initiatives</span></div>
      </div>
      <div class="leader-about">Jose’s first-hand construction experience lets him understand the challenges that industrial companies face in the field.  He has architected and delivered innovative solutions to complex engineering challenges, and designed Tenna’s cloud-based platform solution.  Jose holds both a BS in Civil Engineering and a Master’s in Construction Project Management from Worcester Polytechnic Institute.</div>
    </div>
  </div>
  <div class="row margin-bottom-0 center padding-bottom-25">
    <div class="col s12 m12 l6 leader padding-bottom-25">
      <div class="col s12 m12 l12 miniscreen-padding-left-0 miniscreen-padding-right-0">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s5 m4 l4 miniscreen-padding-left-0"><%= image_tag 'homepage/bio_images/kristen_bio_image.png' %></div>
        <div class="col s7 m6 l6 leader-name text-align-start miniscreen-padding-left-15 miniscreen-padding-right-0">Kristen Olson<br /> <span class="row leader-position">COO</span></div>
      </div>
      <div class="leader-about">Kristen brings experience in start-ups and over 17 years in Human Resources.  Her creative mind and non-traditional background drive innovative solutions to business leadership and to human resource management.  Kristen attended the General Manager Program at Harvard Business School and has a BFA from Syracuse University.</div>
    </div>
    <div class="col s12 m12 l6 leader padding-bottom-25">
      <div class="col s12 m12 l12 miniscreen-padding-left-0 miniscreen-padding-right-0">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s5 m4 l4 miniscreen-padding-left-0"><%= image_tag 'homepage/bio_images/mike_bio_image.png' %></div>
        <div class="col s7 m6 l6 leader-name text-align-start miniscreen-padding-left-15 miniscreen-padding-right-0">Mike Cook<br /> <span class="row leader-position">CTO</span></div>
      </div>
      <div class="leader-about">Michael has over two decades of experience transforming industries through the development of new technology, products, and solutions.  He pioneered the conversion to IP in worldwide voice networks under his leadership at Bell Communications Research and Telcordia.  At Comcast, he innovated new IP-based technologies to run atop cable’s channelized QAM-based networks.  And now, at Tenna, he is creating new, industry leading, ways to use the Internet of Things to revolutionize Asset Management.  Michael has over 20 patents spanning wireless, voice, video and general protocols.  He earned his Masters in IT-MIS from Harvard.  He is a graduate of Gettysburg College with a bachelors in Business.</div>
    </div>
  </div>
  <div class="row margin-bottom-0 center padding-bottom-25">
    <div class="col s12 m12 l6 leader padding-bottom-25">
      <div class="col s12 m12 l12 miniscreen-padding-left-0 miniscreen-padding-right-0">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s5 m4 l4 miniscreen-padding-left-0"><%= image_tag 'homepage/bio_images/dan_bio_image.png' %></div>
        <div class="col s7 m6 l6 leader-name text-align-start miniscreen-padding-left-15 miniscreen-padding-right-0">Dan Kohn<br /> <span class="row leader-position">VP Marketing</span></div>
      </div>
      <div class="leader-about">Dan’s career spans marketing execution through brand strategy.  In 15 years at Pitney Bowes, he helped grow the small business division into the fastest growing unit in the company.  He brings skills in digital and traditional media, branding, and product development for the digital age.  Dan has a Columbia MBA and a BA from Wayne State University.</div>
    </div>
    <div class="col s12 m12 l6 leader padding-bottom-25">
      <div class="col s12 m12 l12 miniscreen-padding-left-0 miniscreen-padding-right-0">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s5 m4 l4 miniscreen-padding-left-0"><%= image_tag 'homepage/bio_images/juan_bio_image.png' %></div>
        <div class="col s7 m6 l6 leader-name text-align-start miniscreen-padding-left-15 miniscreen-padding-right-0">Juan Perez<br /> <span class="row leader-position">VP of Operations</span></div>
      </div>
      <div class="leader-about">Juan is a decorated Special Forces combat veteran and an expert strategic and operational planner and leader.  His focus, attention to detail, and robust management skills enable him to create and deliver seamless experiences for Tenna customers, ensuring missions accomplished on target.  Juan holds a Masters of Strategic Security Studies from the National Defense University.</div>
    </div>
    <div class="row margin-bottom-0 center padding-bottom-25">
      <div class="col l3 hide-on-med-and-down">&nbsp;</div>
      <div class="col s12 m12 l6 leader padding-bottom-50">
        <div class="col s12 m12 l12 miniscreen-padding-left-0 miniscreen-padding-right-0">
          <div class="col l1 hide-on-med-and-down">&nbsp;</div>
          <div class="col s5 m4 l4 miniscreen-padding-left-0"><%= image_tag 'homepage/bio_images/tahir_bio_image.png' %></div>
          <div class="col s7 m6 l6 leader-name text-align-start miniscreen-padding-left-15 miniscreen-padding-right-0">Muhammad Tahir<br /> <span class="row leader-position">Lead Developer</span></div>
        </div>
        <div class="leader-about">Muhammad is a seasoned technology developer in software engineering, product development and continuous improvement.  His background includes leadership roles developing new applications for e-commerce and digital trading start-ups including PinchMe, CollegeBound NetWork, TradeKing and Scivantage.  Muhammad earned his MS in Computer Science from City University of New York and an MSC in Computer Science from COMSATS.</div>
      </div>
      <div class="col l3 hide-on-med-and-down">&nbsp;</div>
    </div>
  </div>
</div>
