<div class="wrapper2">
  <div class="row center">
    <div class="row padding-top-50">
      <div class="col s2 m2 l3">&nbsp;</div>
      <div class="col s8 m8 l6 intro-text-heading2">OUR APPROACH</div>
      <div class="col s2 m2 l3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col s2 m2 l3">&nbsp;</div>
      <div class="col s8 m8 l6 intro-text">
        We use today's and tomorrow's technologies - Internet of Things (IoT), mobile, and customized QR tags -- to
        connect your assets via the cloud into a sophisticated asset management system. Our asset management platform
        provides data analytics that impart strategic insights about your equipment and material.
      </div>
      <div class="col s2 m2 l3">&nbsp;</div>
    </div>
    <div class="row padding-top-25">
      <div class="col s2 m2 l2">&nbsp;</div>
      <div class="col s8 m8 l8 heading2">
        This is how we help make your assets work harder for you.
      </div>
      <div class="col s2 m2 l2">&nbsp;</div>
    </div>
  </div>

  <div class="row margin-bottom-0">
    <div class="col s2 m2 hide-on-large-only">&nbsp;</div>
    <div class="col s8 m8 l12">
      <div class="row intro-text">
        <div class="col s12 m12 l4 padding-bottom-50">
          <div class="our-approach-image" style="background-image: url(<%= image_url('homepage/QR-Code-on-Equipment-min.png') %>)"></div>
          <p>While the Tenna asset management system is sophisticated and secure behind the scenes, it's brilliantly
          simple for you and your team to use.</p>
          <p>Just put our QR tags onto any piece of equipment and scan the tags with your mobile phone.</p>
          <p>Your asset information is captured and available to be shared and analyzed enabling you to make smarter and
          immediate utilization decisions.</p>
        </div>
        <div class="col s12 m12 l4 padding-bottom-50">
          <div class="our-approach-image" style="background-image: url(<%= image_url('homepage/Man-Drilling-low-res-min.png') %>)"></div>
          <p>Instantaneously, the data is presented in a clear dashboard; a satellite map pinpoints every asset's location.
          You can track the value, usage, location, history and availability of each asset.</p>
        </div>
        <div class="col s12 m12 l4 padding-bottom-50">
          <div class="our-approach-image" style="background-image: url(<%= image_url('homepage/shaking-hands-low-res-min.png') %>)"></div>
          <p>And, when you need to dispose of or acquire new equipment or material, just click to the Tenna online
          Marketplace to sell, buy or rent equipment directly with other Tenna members.</p>
        </div>
      </div>
    </div>
    <div class="col s2 m2 hide-on-large-only">&nbsp;</div>
  </div>
</div>
