<div class="wrapper2">
  <div class="row center">
    <div class="row padding-top-50">
      <div class="col s2 m2 l3">&nbsp;</div>
      <div class="col s8 m8 l6 intro-text-heading2">OUR VALUES</div>
      <div class="col s2 m2 l3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col s2 m2 l2">&nbsp;</div>
      <div class="col s8 m8 l8 intro-text">
        We believe that your assets need to work harder for you. And it’s also how we work – with our customers, our
        partners, our employees and our communities. At Tenna we are dedicated to a simple set of core values
        that steer our actions every day.
      </div>
      <div class="col s2 m2 l2">&nbsp;</div>
    </div>
  </div>

  <div class="row center margin-bottom-0">
    <div class="col s3 m3 hide-on-large-only">&nbsp;</div>
    <div class="col s6 m6 l12">
      <div class="row intro-text">
        <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        <div class="col s12 m12 l2 padding-bottom-25">
          <div class="our-values-image" style="background-image: url(<%= image_url('homepage/progress-icon.png') %>)"></div>
          <div class="heading2 padding-bottom-10">Progress</div>
          Looking toward the future, in service to our customers.
        </div>
        <div class="col s12 m12 l2 padding-bottom-25">
          <div class="our-values-image" style="background-image: url(<%= image_url('homepage/drive-icon.png') %>)"></div>
          <div class="heading2 padding-bottom-10">Drive</div>
          Pushing ourselves and each other to do better, working hard.
        </div>
        <div class="col s12 m12 l2 padding-bottom-25">
          <div class="our-values-image" style="background-image: url(<%= image_url('homepage/knowledge-icon.png') %>)"></div>
          <div class="heading2 padding-bottom-10">Knowledge</div>
          Doing our research, keeping an open mind, educating ourselves and others.
        </div>
        <div class="col s12 m12 l2 padding-bottom-25">
          <div class="our-values-image" style="background-image: url(<%= image_url('homepage/personable-icon.png') %>)"></div>
          <div class="heading2 padding-bottom-10">Personable</div>
          Listening, asking questions, respecting others, team-oriented, having fun.
        </div>
        <div class="col s12 m12 l2 padding-bottom-25">
          <div class="our-values-image" style="background-image: url(<%= image_url('homepage/integrity-icon.png') %>)"></div>
          <div class="heading2 padding-bottom-10">Integrity</div>
          Staying true to ourselves and our word, generating trust.
        </div>
      </div>
      <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    </div>
    <div class="col s3 m3 hide-on-large-only">&nbsp;</div>
  </div>
</div>
