.attachmentSubNav{
  &__list {
    background-color: #d1d1d0;
    padding: 5px;
  }

}

.caFilterCategory {
  background-color: #eff0ef;
  &__item {
    color: $dark-gray;
    min-height: 48px;

    padding-left: $px-md;
    padding-right: $px-sm;
    border-bottom: 2px solid #d8d9d7;

    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;

    &--active {
      // min-height: $px-xxl;
      // color: $primary;
      font-weight: bolder;
    }
  }

  &__itemLink {
    color: $dark-gray;
    line-height: 48px;

    &--active {
      color: $primary;
    }
  }

  &__editPen{
    color: $primary;
    float: right;
    margin-left: $px-hg;
  }

  &__removeIcon{
    cursor: pointer;
    color: $dark-gray;
    float: right;
    line-height: 48px;
    @at-root .caFilterCategory__item--active & {
      color: $primary;
    }
  }

  &__addIcon{
    cursor: pointer;
    color: $dark-gray;
    width: $px-mx;
    text-align: center;
    line-height: 48px;
    @at-root .caFilterCategory__item--active & {
      color: $primary;
    }
  }

  &__saveButton{
    float:right;
    margin: $px-sm;
  }

  &__cancelButton{
    color: #fd4f00;
    float: right;
    margin: $px-sm;
  }

}
