.caFilterGroup {
  // min-width: 400px;
  &--minimized {
    min-width: 0;
  }

  &__itemLink {
    color: $dark-gray;
    line-height: 48px;
    font-weight: bold;
    &--active {
      color: $primary;
    }
  }

  &__item {
    color: $dark-gray;
    border-bottom: 2px solid #e1e1e0;
    &--active {
      min-height: $px-xxl;
      color: $primary;
    }
  }


  &__editIcon{
    cursor: pointer;
    color: $dark-gray;
    float: right;
    margin-right: $px-sm;
    margin-left: $px-hg;
    line-height: 48px;
    @at-root .caFilterGroup__item--active & {
      color: $primary;
    }
  }

  &__removeIcon{
    cursor: pointer;
    color: $dark-gray;
    float: right;
  }


  &__addIcon{
    cursor: pointer;
    color: $dark-gray;
    width: $px-mx;
    text-align: center;
    line-height: 48px;
    @at-root .caFilterGroup__item--active & {
      color: $primary;
    }
  }

  &__saveButton{
    float:right;
    margin: $px-sm;
  }

  &__cancelButton{
    color: #fd4f00;
    float: right;
    margin: $px-sm;
  }


}
