.caFilterSearch {
  background-color: #eff0ef;
  position: relative;
  &__item {
    display: flex;
    align-items: center;
    color: $dark-gray;
    min-height: 58px;

    padding-left: $px-lg;
    // padding-right: $px-md;
    border-bottom: 2px solid #d8d9d7;

    &--active {
      color: $primary;
    }
  }

  &__itemLink {
    color: $black;
    // line-height: 58px;
    padding: $px-tn $px-lg $px-tn 0;
    &--active {
      color: $primary;
    }
  }

  &__search {
    width: 100%;
    @at-root .caFilterCategory & {
      margin-left: 65px;
    }
  }

  &__searchToggle{
    display: none;
    @at-root .caFilterCategory & {
      display: inline-block;
      position: absolute;
      left: 40px;
      cursor: pointer;
      color: $dark-gray;
      width: $px-mx;
      height: 48px;
      text-align: center;
      line-height: 48px;
    }
  }
  &__itemToggle{
    display: none;
    @at-root .caFilterCategory & {
      display: inline-block;
      cursor: pointer;
      color: $dark-gray;
      width: $px-mx;
      height: 48px;
      text-align: center;
      line-height: 48px;
      margin-left: $px-sm;
    }

    @at-root .caFilterSearch__item--active & {
      color: $primary;
    }
  }

  &__editPen{
    color: $primary;
    float: right;
    margin-left: $px-hg;
  }

  &__resetLink{
    cursor: pointer;
    color: $primary;
    float: right;
    // margin-right: $px-sm;
    line-height: 58px;
    position: absolute;
    right: $px-sm;
  }

  &__editIcon{
    cursor: pointer;
    color: $dark-gray;
    float: right;
    // margin-right: $px-sm;
    line-height: 58px;
    position: absolute;
    right: $px-sm;

    @at-root .caFilterSearch__item--active & {
      color: $primary;
    }
  }

  &__searchWrapper {
    display: flex;
    align-items: center;
  }


  &__addIcon{
    cursor: pointer;
    color: $primary;
    float: right;
    width: $px-mx;
    text-align: center;
    margin-left: $px-lg;
    line-height: 58px;
  }

  &__saveButton{
    float:right;
    margin: $px-sm;
  }

  &__cancelButton{
    color: #fd4f00;
    float: right;
    margin: $px-sm;
  }

  &
  .Select-control {
    @at-root .global & {
      border: none;
    }
  }
}