// NOTE: Get calendar data with
//        CalendarData.getUsers(populateUsers)
//        CalendarData.getAssets(populateAssets)
//        CalendarData.getRoutes(populateRoutes)

var CalendarData = (function() {
  var url_prefix = <%= "'#{ ENV['API_SERVER'] }'" %> + '/api/v1/';

  var getData = function(resource_type, callback_fn, filter_column, filter_value) {
    $.ajax({
      url: url_prefix + resource_type + '/list',
      data: filter_column + '=' + filter_value,
      xhrFields: {
        withCredentials: true
      },
      success: function(response_data_json) {
        callback_fn(response_data_json);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log('An error occurred while retriving data for ' + resource_type + ' from the API Server: ');
        console.log(textStatus, errorThrown);
      }
    })
  }

  return {
    getUsers: function(name, callback_fn) { getData('users', callback_fn, 'name', name); },
    getAssets: function(title, callback_fn) { getData('assets', callback_fn, 'title', title); },
    getRoutes: function(name, callback_fn) { getData('routes', callback_fn, 'name', name); }
  }
})();

// TODO: Implement these functions to show the response in the browser
var populateUsers = function(response) { console.log(response); }
var populateAssets = function(response) { console.log(response); }
var populateRoutes = function(response) { console.log(response); }
