$(document).on("ready", function () {
  $('#routing-tabs').click(function() {
    $('#flash').html('').hide();
    $('#apply_path_finder_filters').click();
  });

  $('.asset-data-retriever').unbind('click');
  $('.asset-data-retriever').click(function() {
    project_id = $(this).data().projectId;
    if ($('#project_' + project_id + '_content').data('assets-expanded') != 'true' && $('#project_' + project_id + '_content').data('assets-expanded') != true) {
      $.ajax({
        url: "/path_finder/project_assets/" + project_id,
        type: "POST",
        data: {
          filter_options: $('#filter_search_params').val()
        },
        success: function (resp) {
          $("#project_" + project_id + "_content").html(resp);
          $('#project_' + project_id + '_content').data('assets-expanded', 'true');
          initialize_waypoint_selector();
        },
        error: function () {
          $('#flash').html('<div class="chip alert">An error occurred. Please try again later.<i class="close material-icons">close</i></div>').show();
        }
      });
    }
  });

  var addressMessage;
  var count = 0;
  function mapinIt(){
  $("#panel-show-list").click(function(){
      $("#panel-list124").css("display", "none");
      $("#panel-list12").css("display", "block");
      $(".map-show").removeClass('active');
      $("#panel-show-list").addClass('active');
  });

  $(".map-show").click(function(){
      $("#panel-list124").css("display", "block");
      $("#panel-list12").css("display", "none");
      $(".map-show").addClass('active');
      $("#panel-show-list").removeClass('active');
  });

  var directionsDisplay = new google.maps.DirectionsRenderer({preserveViewport: true, suppressMarkers: true });
  var directionsService = new google.maps.DirectionsService();
  var geocoder = new google.maps.Geocoder();
  var waypts = [];
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'directions'}}, function(){
      directionsDisplay.setMap(handler.getMap());
      directionsDisplay.setOptions( {
    polylineOptions: {
                strokeWeight: 2,
                strokeOpacity: 1,
                strokeColor:  'green'
            },
    });
  });
 
 addwaypt();

  function calcRoute() {
    var startAddress = "input[name='start[]']";
    var endAddress = "input[name='end[]']";
    for (i = 0; i < $(startAddress).length; i++) {
      var sAdd = $("input[name='start[]']")[i];
      var eAdd = $("input[name='end[]']")[i];
    geocoder.geocode( { 'address': $(sAdd).val()}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var startlatitude = results[0].geometry.location.lat();
        var startlongitude = results[0].geometry.location.lng();
        var origin      = new google.maps.LatLng(startlatitude, startlongitude);
        geocoder.geocode( { 'address': $(eAdd).val()}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var endlatitude = results[0].geometry.location.lat();
            var endlongitude = results[0].geometry.location.lng();
            var destination = new google.maps.LatLng(endlatitude, endlongitude);


                var marker = new google.maps.Marker({
                    map: handler.map.getServiceObject(),
                    position: origin,
                    label:$(sAdd).val(),
                    draggable: true
                 });

                 // var label1 = new Label({
                 //   map: handler.map.getServiceObject()
                 // });
                 // label1.bindTo('position', marker, 'position');
                 // label1.bindTo('text', marker, 'position');

                var markerB = new google.maps.Marker({
                    map: handler.map.getServiceObject(),
                    position: destination,
                    label: $(eAdd).val(),
                    icon: {
                      path: google.maps.SymbolPath.CIRCLE,
                      scale: 3
                    }
                  });

                 // var label = new Label({
                 //   map: handler.map.getServiceObject()
                 // });
                 // label.bindTo('position', markerB, 'position');
                 // label.bindTo('text', markerB, 'position');

                  var request = {
                      origin: origin,
                      destination: destination,
                      waypoints: waypts,
                      optimizeWaypoints: true,
                      travelMode:  google.maps.TravelMode.DRIVING
                  };
            directionsService.route(request, function(response, status) {
                  if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                  }
                });
          }
        });
      }
    });
    }
  }

  $('.map-show').click(function(){
    geocoder.geocode( { 'address': $("#startAddress").val()}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var latitude = results[0].geometry.location.lat();
          var longitude = results[0].geometry.location.lng();
          if(count == 0){

         setTimeout(function(){
           google.maps.event.trigger(handler.getMap(), 'resize');
           handler.map.centerOn([latitude, longitude]);
          handler.map.getServiceObject().setZoom(10);
         }, 50);
         count = 1;
            calcRoute();
         }
        }
      });

  });

  function getAddress(latlng)
  {
    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            if (results[0]) {
                addressMessage = results[0].formatted_address;
            }
        }
    });
  }

  function addwaypt() {
    for (i = 0; i < $("input[name='paths[]']").length; i++) {
      var as = $("input[name='paths[]']")[i];
        geocoder.geocode( { 'address': $(as).val()}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();
            var location = new google.maps.LatLng(latitude,longitude);
            var waylocation = $(as).val().toString();
            var labalLocation = waylocation;
            waylocation = waylocation.split(',');
            waylocation = waylocation[0];
            var marker = new google.maps.Marker({
                position: location,
                label: labalLocation,
                map: handler.map.getServiceObject(),
                icon: {
                  path: google.maps.SymbolPath.CIRCLE,
                  scale: 3
                }
              });

             // var label = new Label({
             //   map: handler.map.getServiceObject()
             // });
             // label.bindTo('position', marker, 'position');
             // label.bindTo('text', marker, 'position');

            waypts.push({
                location: location
            });
          }
        });
      }
  }

  }
  function initialize_controls(div) {
    var sliders = div.find('.routing-load-slider');
    $.each(sliders, function (idx, val) {
      noUiSlider.create($(val)[0], {
        start: [$(val).data('value')],
        step: 1,
        range: {
          'min': -20,
          'max': 20
        },
        format: wNumb({
          decimals: 0
        })
      })
    });

    $.each(sliders, function (idx, val) {
      val.noUiSlider.on('update', function (values, handle) {
        var slider = val;
        var value = values[handle];
        $(slider).parent('.routing-load-slider-container').find('input.routing-load-slider-value').val(value);
        $(slider).parent('.routing-load-slider-container').find('.routing-load-slider-value-display').html(value);
      })
    });

    var time_fields = div.find('.timepicker');
    time_fields.pickatime({
      autoclose: true,
      twelvehour: false
    });

    $('.notify-customer-checkbox-label').unbind('click');
    $('.notify-customer-checkbox-label').click(function () {
      var checkBox = $(this).parents('.notify-customer-checkbox').find("input[type='checkbox']");
      checkBox.prop("checked", !checkBox.prop("checked"));
    });
  }
  initialize_controls($('body'));

  $('#user_filter').keyup(function () {
    var user_name_entered = $('#user_filter').val();

    $.each($('.filterable-user'), function () {
      if ($(this).data('user-name').toLowerCase().indexOf(user_name_entered) >= 0) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  });
  if($("#panel-list-create").length != 0)
  {
    mapinIt();
  }
  $("[id^='path_finder_user_']").click(function () {
    var driver_id = $(this).parents('.filterable-user').data().userId;
    var driver_name = $(this).parents('.filterable-user').data().userName;

    //check number_of_vehicles
    if ($(this).is(":checked") != true) {
      $('#driver_options_' + driver_id).remove();
      $('#flash').html('').hide();
    } else {
      if ($('.driver-options:not(#driver_options_driver_id)').size() < parseInt($('#number_of_vehicles').val())) {
        var driver_options = $('.driver-options-placeholder').clone();
        driver_options.removeClass('driver-options-placeholder');
        driver_options.attr('id', 'driver_options_' + driver_id);
        driver_options.html(function (i, oldHTML) {
          return oldHTML.replace(/driver_id/g, driver_id).replace(/driver_name/g, driver_name);
        });

        $('#users_panel').append(driver_options);
        driver_options.show();
        driver_options.find('.timepicker').pickatime({
          autoclose: true,
          twelvehour: false
        });
        $('#flash').html('').hide();
      } else {
        $('#flash').html('<div class="chip alert">Your vehicle limit is restricted at ' + $('#number_of_vehicles').val() + '.<br/>To increase the limit, please contact Tenna.<i class="close material-icons">close</i></div>').show();
        return false;
      }
    }
  });

  function initialize_waypoint_selector() {
    $('.waypoint-chk').unbind('click');
    $('.waypoint-chk').click(function() {
      waypoint = $(this).parents('.waypoint');
      wrapper_div = $(waypoint).parents('.waypoint-wrapper');
      options_div = $('#' + $(waypoint).data().waypointType + '-waypoint-options-' + $(waypoint).data().waypointId);

      if (options_div.data('waypoint-expanded') == 'true' || options_div.data('waypoint-expanded') == true) {
        options_div.find('input').attr('disabled');
        options_div.find('textarea').attr('disabled');
        options_div.find('select').attr('disabled');

        if ($($(waypoint).find('input.boolean')[0]).is(':checked')) {
          options_div.show('fast');
          wrapper_div.addClass('options-open');
        } else {
          options_div.hide('fast');
          wrapper_div.removeClass('options-open');
        }
      } else {
        $.ajax({
          url: "/path_finder/waypoint_options",
          type: "POST",
          data: {
            waypoint_id: $(waypoint).data().waypointId,
            waypoint_type: $(waypoint).data().waypointType
          },
          success: function (resp) {
            options_div.html(resp);

            options_div.find('input').removeAttr('disabled');
            options_div.find('textarea').removeAttr('disabled');
            options_div.find('select').removeAttr('disabled').material_select();

            options_div.show('fast');

            wrapper_div.addClass('options-open');
            initialize_controls(options_div);
            options_div.data('waypoint-expanded', 'true');
          },
          error: function () {
            $('#flash').html('<div class="chip alert">An error occurred. Please try again later.<i class="close material-icons">close</i></div>').show();
          }
        });
      }
    });
  }
  initialize_waypoint_selector();

  $('.mark-as-done').click(function () {
    var driver_stop_id = $(this).data('driver-stop-id');
    var lat;
    var lng;

    var startPos;
    var geoOptions = {
      timeout: 10 * 1000
    };
    $('#loading_overlay').show();
    var geoSuccess = function (position) {
      startPos = position;
      lat = startPos.coords.latitude;
      lng = startPos.coords.longitude;

      $.ajax({
        url: "/path_finder/mark_as_done",
        type: "POST",
        data: {
          id: driver_stop_id,
          lat: lat,
          lng: lng
        },
        success: function (resp) {
          //refresh page
          $('#loading_overlay').hide();
          location.reload();
        },
        error: function () {
          $('#loading_overlay').hide();
          $('#flash').html('<div class="chip alert">Error occurred.<i class="close material-icons">close</i></div>').show();
        }
      });
    };
    var geoError = function (error) {
      $('#loading_overlay').hide();
      console.log('Error occurred. Error code: ' + error.code);
      $('#flash').html('<div class="chip alert">Error occurred. Could not get your location.<i class="close material-icons">close</i></div>').show();
      // error.code can be: [0, 1, 2, 3]: [unknown error, permission denied, position unavailable (error response from location provider), timed out]
    };

    navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
  });

  $('.mark-as-undone').click(function () {
    var driver_stop_id = $(this).data('driver-stop-id');
    $('#loading_overlay').show();

    $.ajax({
      url: "/path_finder/mark_as_undone",
      type: "POST",
      data: {
        id: driver_stop_id,
      },
      success: function (resp) {
        //refresh page
        $('#loading_overlay').hide();
        location.reload();
      },
      error: function () {
        $('#loading_overlay').hide();
        $('#flash').html('<div class="chip alert">Error occurred.<i class="close material-icons">close</i></div>').show();
      }
    });
  });

  $('.mark-all-as-undone').click(function () {
    var recurringId = $(this).data('route-recurring-id');

    $('#loading_overlay').show();

    $.ajax({
      url: "/path_finder/mark_all_as_undone",
      type: "POST",
      data: {
        id: recurringId,
      },
      success: function (resp) {
        $('#loading_overlay').hide();
        location.reload();
      },
      error: function () {
        $('#loading_overlay').hide();
        $('#flash').html('<div class="chip alert">Error occurred.<i class="close material-icons">close</i></div>').show();
      }
    });
  });

  $('#route_list').change(function () {
    $('html,body').animate({
      scrollTop: $('#' + $(this).val()).offset().top - 70
    }, 'slow');
  });

  var send_notification_submit = function() {
    if (!$(this).hasClass('disabled')) {
      var data = $('#send_route_form').serialize();

      $.post({
        url: "/path_finder/send_route",
        type: "POST",
        data: data,
        success: function (resp) {
          $('#flash').html('<div class="chip success">Notification sent successfully.<i class="close material-icons">close</i></div>').show();
          $('.lean-overlay').trigger('click');
        },
        error: function () {
          $('#flash').html('<div class="chip alert">Notification not sent.<i class="close material-icons">close</i></div>').show();
          $('.lean-overlay').trigger('click');
        }
      });
    }
  }
  $('#send_notification_submit').unbind('click');
  $('#send_notification_submit').on('click');
  $('#send_notification_submit').click(send_notification_submit);

  var verify_send_route_inputs = function() {
    if ($('#other_notification_check').is(':not(:checked)') && $('#driver_notification_check').is(':not(:checked)')) {
      $('#send_button_error').show();

      $('.other-notification-details input').attr('disabled', 'disabled');
      $('#send_notification_submit').removeClass('disabled').addClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
      $('#other_notification_error').hide();

      $('#send_notification_submit').addClass('disabled').addClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
    } else if ($('#other_notification_check').is(':not(:checked)') && $('#driver_notification_check').is(':checked')) {
      $('#send_button_error').hide();
      $('#send_notification_submit').removeClass('disabled').addClass('modal-close modal-action waves-effect waves-green').removeProp('disabled').on('click');
      $('#other_notification_error').hide();
      $('#send_notification_submit').unbind('click');
      $('#send_notification_submit').on('click');
      $('#send_notification_submit').click(send_notification_submit);
    } else {
      $('#send_button_error').hide();
      if ($('#other_notification_check').is(':checked')) {
        $('.other-notification-details input').removeAttr('disabled');

        if (($('#notify_email').val().length == 0) && ($('#notify_phone').val().length == 0)) {
          $('#send_notification_submit').addClass('disabled').removeClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
          $('#other_notification_error').show();
        } else {
          if (($('#notify_email').val().length > 0) && !(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{1,10})+$/.test($('#notify_email').val()))) {
            $('#send_notification_submit').addClass('disabled').removeClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
            $('#other_notification_error').show();
          } else {
            $('#send_notification_submit').removeClass('disabled').addClass('modal-close modal-action waves-effect waves-green').removeProp('disabled').on('click');
            $('#other_notification_error').hide();
            $('#send_notification_submit').unbind('click');
            $('#send_notification_submit').on('click');
            $('#send_notification_submit').click(send_notification_submit);
          }
        }
      } else {
        $('.other-notification-details input').attr('disabled', 'disabled');
        $('#send_notification_submit').removeClass('disabled').addClass('modal-close modal-action waves-effect waves-green').prop('disabled', true).off('click');
        $('#other_notification_error').hide();
      }
    }
  };

  $('#notify_email, #notify_phone').keyup(verify_send_route_inputs);
  $('#notify_email, #notify_phone').blur(verify_send_route_inputs);
  $('#other_notification_check').click(verify_send_route_inputs);
  $('#driver_notification_check').click(verify_send_route_inputs);
});

jQuery(function ($) {
  $("#path_finder_form")
    .bind("ajax:before", function () {
      $("[name^='path_finder\[project\[']").attr('disabled', 'disabled');
      $("[name^='path_finder\[project\['][value='1']:checked").removeAttr('disabled');

      $("[name^='path_finder\[asset\[']").attr('disabled', 'disabled');
      $("[name^='path_finder\[asset\['][value='1']:checked").removeAttr('disabled');

      $("[name^='path_finder\[user']").attr('disabled', 'disabled');
      $("[name^='path_finder\[user']:checked").removeAttr('disabled');
    })
    .bind("ajax:success", function (event, data, status, xhr) {
      if (data['ids'].length > 1) {
        location.href = '/route_multi/' + data['ids'].join(',');
      } else {
        location.href = '/route/' + data['ids'][0].replace(':', '/');
      }
    })
    .bind("ajax:error", function (event, data, status, xhr) {
      if (data.responseJSON && data.responseJSON.hasOwnProperty('errors')) {
        $('#flash').html('<div class="chip alert">' + data.responseJSON.errors.join('<br/>') + '<i class="close material-icons">close</i></div>').show();
      }
      $("html, body").animate({scrollTop: 0}, "slow");

      $("[name^='path_finder\[project\[']").removeAttr('disabled');
      $("[name^='path_finder\[asset\[']").removeAttr('disabled');
      $("[name^='path_finder\[user']").removeAttr('disabled');
    });


  var _oldShow = $.fn.show;
  $.fn.show = function (speed, oldCallback) {
    return $(this).each(function () {
      var obj = $(this),
        newCallback = function () {
          if ($.isFunction(oldCallback)) {
            oldCallback.apply(obj);
          }
          obj.trigger('afterShow');
        };

      // you can trigger a before show if you want
      obj.trigger('beforeShow');

      // now use the old function to show the element passing the new callback
      _oldShow.apply(obj, [speed, newCallback]);
    });
  }


  if(window.location.pathname == '/path_finder/manage_routes') {
    $('#route_history_tab').trigger('click');
    $('#apply_path_finder_filters').click();
  }
});
