<div class="row">
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5 padding-top-25">
      <span class="title-text">FIND MORE TIME</span><br />
      <span class="title-text-blue">with digital routing and maintenance records</span><br /><br />
    <span class="content-text-white">Save countless hours with Tenna’s <b>automated routing</b>.  Stop manually figuring out routes for service or delivery, because Tenna does it in seconds.  You speed up your routes, save fuel, and improve customer service.
      <br /><br />
    </span>
      <span class="content-text-white ">Find more uptime with digital <b>maintenance tracking</b>.  Tenna connects your field, shop and office so they can request or schedule maintenance, and always know what equipment is ready.<br /><br /></span>
      <a href="#learn-more-form">Contact us for a live demo.</a>
    </div>
    <div class="col l2"></div>
  </div>
  <div class="col s12 m12 l6 padding-0 padding-top-50"> <%= image_tag 'homepage/find_more_time_min.png'%></div>
</div>
