<div class="row">
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5 padding-top-25">
      <span class="title-text-big-blue">Maximize Efficiencies Across Your Entire Organization</span><br /><br />
      <span class="title-text">END DISCONNECT</span><br />
      <span class="title-text-blue">with a unifying system</span><br /><br />
    <span class="content-text-white">Your assets are distributed across sites - and so are your managers. This disconnect creates inefficiencies that can cost time and money on every project.
      <br /><br />
    </span>
      <span class="content-text-white ">Tenna lets you end this disconnect. Our cloud-based tracking helps you maximize utilization of equipment and materials, and increase your knowledge of the assets available across your projects. <br /><br /></span>
      <span class="content-text-white">It's easy to adopt and start improving the daily routines of everyone on your jobs.</span>
     <!-- <div class="row padding-top-50"><a href="#" class="play-video btn-border-blue ltr-spacing">SEE GRAPHIC<i class="fa fa-caret-right"></i></a></div>-->
    </div>
    <div class="col l2"></div>
  </div>
  <div class="col s12 m12 l6 padding-0 padding-top-50"> <span class="mobile-img v-h-align"><%= image_tag 'homepage/end_disconnect2.png'%></span></div>
</div>
