<div class="row title-text center v-h-align" style="width: 90%">
  <div style="align-self: center; width: 90%">
    <div class="col s12 m12 l8 ">
     <div style="float: right">
       SEE HOW WE CAN HELP YOUR BUSINESS
     </div>
    </div>
    <div class="col s12 m12 l4 v-h-align">
      <div class="industries-served">
        <a href="#" class="btn-large ltr-spacing" style="align-self: center">INDUSTRIES SERVED</a>
      </div>
    </div>
  </div>
</div>
