<div class="intro-box">
  <div class="mask1">
    <div class="nav-wrapper2">
      <div class="row">
        <div class="col s12 m8 l6 intro-text-heading">FIND AND MAXIMIZE THE VALUE IN YOUR COMPANY’S ASSETS</div>
      </div>
      <div class="row">
        <div class="col s12 m8 l6 intro-text">Now there’s a better way to manage and track your entire inventory, from small tools and large equipment, to materials. With Tenna®, you can find more value and efficiency from the assets you already own. <br/><br/>See for yourself with a live demo or watch the videos below.</div>
      </div>
      <div class="row padding-top-20">
        <a href="#learn-more-form" class="btn-large blue ltr-spacing play-video btn-blue-style">REQUEST DEMO</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="hide-on-large-only"><br /><br /></div>
        <a href="//player.vimeo.com/video/226364799?autoplay=1" class="lightbox fancybox.iframe play-video btn-border-blue ltr-spacing">PLAY VIDEO<i class="fa fa-caret-right"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="hide-on-large-only"><br /><br /><br /></div>
        <a href="//player.vimeo.com/video/201850621?autoplay=1" id="video-link2" class="lightbox fancybox.iframe play-video btn-border-blue ltr-spacing">SEE TAG DURABILITY<i class="fa fa-caret-right"></i></a>
      </div>
    </div>
  </div>
</div>
