<div class="row padding-top-25">
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left hide-on-med-and-down">&nbsp;</div>
    <div class="col l8 padding-left-5">
      <span class="title-text">FIND MORE</span><br/>
      <span class="title-text-blue line-height-40">with modern asset management</span><br/><br/>
      <span class="content-text-white line-height-30">
        Your company relies on equipment and assets to get work done.
        <br/><br/>
      </span>
      <span class="content-text-white line-height-30">Unfortunately, many of our customers used to rely on paper records, outdated spreadsheets, and even whiteboards to track tools and equipment. <br/><br/></span>
      <span class="content-text-white line-height-30">Tenna is the better way. Our cloud-based system and durable QR and RFID trackers make it simple and affordable to see all your assets. You get more out of your equipment because you know its history, location, availability, maintenance and more.</span>
    </div>
    <div class="col l2">&nbsp;</div>
  </div>
  <div class="col s12 m12 l6 padding-0"> <%= image_tag 'homepage/take_control-min.jpg' %></div>
</div>
