<!--
<div class="row v-h-align center ie-center">
  <div class="lrn-more2 v-h-align" style=" align-self: center">
    <%#= link_to 'LEARN MORE', learn_more_path, onClick: "adRoll();", class: 'btn-large ltr-spacing', style: 'align-self: center;' %>
  </div>
</div>
-->
<div class="container">
  <%= render partial: 'pages/learn_more_form' %>
</div>
