<div class="row flex-s">
  <div class="col s12 m12 l6 padding-0 img-order-2"> <%= image_tag 'homepage/market_advantage-min.jpg'%></div>
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5">
      <span class="title-text">GET THE MARKET ADVANTAGE</span><br />
      <span class="title-text-blue">in our free open marketplace</span><br /><br />
    <span class="content-text-white">Put your excess or underutilized assets to work for you. The Tenna Marketplace seamlessly integrates with our asset management platform, so you can sell or rent any inventory you don’t need.
      <br /><br />
    </span>
      <span class="content-text-white padding-bottom-20">You can also buy or rent inventory from other Tenna members. Easily find what you need, where you need it and when you need it - and at an attractive price.</span>
    </div>
    <div class="col l2"></div>
  </div>
</div>
