<div class="row hide-on-med-and-down padding-top-10" style="align-self: center">
  <div class="col s12 m12 l6 padding-0 padding-top-25">
    <div class="row center" style="width: 100%;">
      <%= image_tag 'homepage/save_time.png' %>
      <div class="col l12" style="margin-top: -87%"><div class="pyramid-div" style="width: 35%; height: 19vw"><div id="tab1" class="pyramid-div show-content"><div id="py-btn1" class="btn border-radius-0 active" style="height: 62px; width: 170px; line-height: 2">COMPLETE & ACCURATE<i class="fa fa-caret-right"></i></div></div></div></div>
      <div class="col l12" style="margin-top: -49%"><div class="pyramid-div" style="width: 40%; height: 11vw"><div id="tab2" class="pyramid-div show-content"><div id="py-btn2" class="btn border-radius-0">SAVE TIME<i class="fa fa-caret-right"></i></div></div></div></div>
      <div class="col l12" style="margin-top: -25%"><div class="pyramid-div" style="width: 55%; height: 12vw"><div id="tab3" class="pyramid-div show-content"><div id="py-btn3" class="btn border-radius-0">SAVE MONEY<i class="fa fa-caret-right"></i></div></div></div></div>
    </div>
  </div>
  <div class="col s12 m12 l6 padding-0 padding-top-20">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5">
      <div id="tab1show" class="pyramid-content" style="width: 100%">
        <div class="row">
          <div class="col l12">
            <span class="title-text">COMPLETE & ACCURATE</span><br />
            <span class="title-text-blue">With a total picture of your equipment and materials</span><br /><br />
            <span class="content-text-white">Unlike other asset tracking systems, Tenna lets you monitor and manage all your assets, including non-powered equipment and small tools. Our optical scanning and IoT system accurately tracks your assets and their precise location while preventing human error. You get better project management and financial records.<br /><br />
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col l6">
             <span class="content-text-white"><span class="title-text-blue">All Assets</span><br />
               <ul class="list-style-circle">
                <li>Non-powered attachments</li>
                <li>Forms, materials, small tools</li>
                <li>Mechanized equipment</li>
              </ul>
             </span>
          </div>
          <div class="col l6">
           <span class="content-text-white"><span class="title-text-blue">Reliable Tracking</span><br />
             <ul class="list-style-circle">
              <li>Our QR codes prevent errors</li>
              <li>Tenna tags are incredibly durable</li>
              <li>Every scan collects time, latitude & longitude</li>
            </ul>
           </span>
          </div>
        </div>
        <div class="row">
          <div class="col l6">
             <span class="content-text-white"><span class="title-text-blue">Improve Accountability</span><br />
               <ul class="list-style-circle">
                <li>Easily track all assets & movements</li>
                <li>Automate your inventory</li>
                <li>Collateral visibility for lenders</li>
              </ul>
             </span>
          </div>
        </div>
      </div>
      <div id="tab2show" class="pyramid-content" style="width: 100%">
        <div class="row">
          <div class="col l12">
            <span class="title-text">SAVE TIME</span><br />
            <span class="title-text-blue">by having your asset data when you need it</span><br /><br />
            <span class="content-text-white">You get real-time asset information because Tenna records the arrival and departure of all your assets and instantly uploads to the cloud. We provide access to data across devices, giving you a large advantage over spreadsheet-based systems. Capture critical information quickly, even while on-the-go, upload and source inventory in seconds, and post items right from the field in no time at all.<br /><br />
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col l6">
             <span class="content-text-white"><span class="title-text-blue">Fast Set-up</span><br />
               <ul class="list-style-circle">
                <li>Upload your existing asset list</li>
                <li>Attach QR tags - no complex installation</li>
                <li>Scan with your existing mobile devices</li>
                <li>Train your team in 30 minutes</li>
              </ul>
             </span>
          </div>
          <div class="col l6">
           <span class="content-text-white"><span class="title-text-blue">Cloud-based</span><br />
             <ul class="list-style-circle">
              <li>No software or IT hassels</li>
              <li>Instantaneous data updates with every asset scan</li>
              <li>Immediate reporting</li>
            </ul>
           </span>
          </div>
        </div>
        <div class="row">
          <div class="col l6">
             <span class="content-text-white"><span class="title-text-blue">Automate Inventory</span><br />
               <ul class="list-style-circle">
                <li>Eliminate tedious manual tasks</li>
                <li>Always up to date</li>
                <li>Far more accurate than manual inspections</li>
              </ul>
             </span>
          </div>
        </div>
      </div>
      <div id="tab3show" class="pyramid-content" style="width: 100%">
        <div class="row">
          <div class="col l12">
            <span class="title-text">SAVE MONEY</span><br />
            <span class="title-text-blue">by having the right equipment when you need it</span><br /><br />
            <span class="content-text-white">Eliminate unnecessary and costly moves, or having to pay labor costs to handle idle assets. Plus, you can use Tenna’s public marketplace to buy, sell or rent inventory quickly, easily and more cost-effectively.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col l6">
             <span class="content-text-white"><span class="title-text-blue">Beyond GPS</span><br />
               <ul class="list-style-circle">
                <li>QR code system costs 90% less than GPS/telematics</li>
                <li>Tracks all assets, including small and non-powered</li>
                <li>Simple & durable installation</li>
              </ul>
             </span>
          </div>
          <div class="col l6">
           <span class="content-text-white"><span class="title-text-blue">Scalable to all Assets</span><br />
             <ul class="list-style-circle">
              <li>Cover all assets - even small & non-mechanized equipment</li>
              <li>Unlimited assets / unlimited users included in your subscription</li>
            </ul>
           </span>
          </div>
        </div>
        <div class="row">
          <div class="col l6">
             <span class="content-text-white"><span class="title-text-blue">Use Current Device</span><br />
               <ul class="list-style-circle">
                <li>No new scanners needed</li>
                <li>Leverage your investment in phones & tablets</li>
                <li>Your team is ready to use it</li>
              </ul>
             </span>
          </div>
          <div class="col l6">
             <span class="content-text-white"><span class="title-text-blue">Marketplace</span><br />
               <ul class="list-style-circle">
                <li>List your un-needed assets for others to buy/rent</li>
                <li>Buy or rent from other others whenever you need</li>
                <li>Free - no commissions or fees</li>
              </ul>
             </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col l2"></div>
  </div>
</div>
<div class="row hide-on-large-only" style="align-self: center">
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5 padding-top-25">
      <span class="title-text">SAVE MONEY</span><br />
      <span class="title-text-blue">by having the right equipment when you need it</span><br /><br />
      <span class="content-text-white ">Eliminate unnecessary and costly moves, or having to pay labor costs to handle idle assets. Plus, you can use Tenna’s public marketplace to buy, sell or rent inventory quickly, easily and more cost-effectively.</span>
    </div>
    <div class="col l2"></div>
  </div>
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5 padding-top-25">
      <span class="title-text">SAVE TIME</span><br />
      <span class="title-text-blue">by having your asset data when you need it</span><br /><br />
      <span class="content-text-white">You get real-time asset information because Tenna records the arrival and departure of all your assets and instantly uploads to the cloud. We provide access to data across devices, giving you a large advantage over spreadsheet-based systems. Capture critical information quickly, even while on-the-go, upload and source inventory in seconds, and post items right from the field in no time at all.</span>
    </div>
    <div class="col l2"></div>
  </div>
</div>
