<div class="row">
  <div class="col s12 m12 l6 padding-0">
    <div class="col l2 float-left">&nbsp;</div>
    <div class="col l9 padding-left-5 padding-top-50">
      <span class="title-text-big-blue">Connect your Field<br/>and your Office.</span><br/>
      <span class="title-text-gray">CONTROL YOUR ASSETS LIKE NEVER BEFORE.</span><br/>
    </div>
    <div class="col l2"></div>
  </div>
  <div class="col s12 m12 l5  padding-top-50">
    <span class="content-text-gray">
      It’s hard to run a business when equipment moves between yards, sites and projects, and your crew is busy working and not tracking assets or equipment. <br/><br/>
     Tenna is the better way.  Our unique QR and RFID technology lets your field team track assets and update your office in real-time with inventory, routes, photos, documentation and maintenance notes.  Click below to learn how Tenna connects your field and office to drive more value from your assets.
    </span>
  </div>
</div>

<div class="row padding-top-50">
  <div class="col l1 m1 s1">&nbsp;</div>
  <div class="col l4 m12 s12 padding-0">
    <p class="title-text-gray work-image-title">WORKS IN THE FIELD</p>
    <div class="row">
      <div class="col l6 m6 padding-0">
        <%= image_tag 'homepage/bg-left-one.png' %>
        <div class="row">
          <div class="col s12 center work-icons">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <%= image_tag 'homepage/ico_shadow1.png' %>
                  <br/>
                  <p>EASY SET-UP<br></p>
                  <i class="fa fa-caret-down"></i>
                </div>
                <div class="collapsible-body">
                  <p>1. Upload your asset list<br/>2. Attach our QR tags to any asset<br/>3. Easy 30 minute training</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col l6 m6 padding-0">
        <%= image_tag 'homepage/bg-left-two.png' %>
        <div class="row">
          <div class="col s12 center work-icons">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <%= image_tag 'homepage/ico_shadow2.png' %>
                  <br/>
                  <p> EASY TO USE<br></p>
                  <i class="fa fa-caret-down"></i>
                </div>
                <div class="collapsible-body">
                  <p><b>&bull;</b> Scan the QR tag when using or moving any item<br/><b>&bull;</b> Use mobile devices
                    you <u>already</u> have - no scanners needed<br/><b>&bull;</b> Tracking info is automatically
                    registered and saved</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col l2 m12 s12 center padding-0">
    <span class="hide-on-med-and-down">
      <%= image_tag 'homepage/bg_middle2.png', style: 'width: 75%' %>
    </span>
    <span class="hide-on-large-only">
      <%= image_tag 'homepage/mobile_cloud_icon.png', style: 'width: 35%' %>
    </span>
    <div class="row">
      <div class="col s12 work-icon-middle center">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              <%= image_tag 'homepage/ico_shadow3.png' %>
              <br/>
              <p>
                COMPLETE<br>ACCURATE<br>DATABASE<br></p>
              <i class="fa fa-caret-down"></i>
            </div>
            <div class="collapsible-body">
              <p><b>&bull;</b> See your <u>full</u> asset story - not just the GPS/ telematics items <br/><b>&bull;</b>
                Even track <u>non-powered</u> assets<br/><b>&bull;</b> Real-time cloud-based data<br/><b>&bull;</b>
                Eliminate errors by scanning our QR tags</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col l4 m12 s12 padding-0">
    <p class="title-text-gray work-image-title">WORKS IN THE OFFICE</p>
    <div class="row">
      <div class="col l6 m6 padding-0">
        <%= image_tag 'homepage/bg-right-one.png' %>
        <div class="row">
          <div class="col s12 center work-icons">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <%= image_tag 'homepage/ico_shadow4.png' %>
                  <br/>
                  <p>OFFERING INSIGHT<br></p>
                  <i class="fa fa-caret-down"></i>
                </div>
                <div class="collapsible-body">
                  <p><b>&bull;</b> Connect your inventory across sites & by project<br/><b>&bull;</b> More accurate
                    project accounting<br/><b>&bull;</b> Always know what is in use, where, and its
                    availability<br/><b>&bull;</b> Deter theft/improve site accountability<br/><b>&bull;</b> Speed-up
                     inventory and audits</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col l6 m6 padding-0">
        <%= image_tag 'homepage/bg-right-two.png' %>
        <div class="row">
          <div class="col s12 center work-icons">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <%= image_tag 'homepage/ico_shadow5.png' %>
                  <br/>
                  <p>MARKETPLACE OPPORTUNITIES<br></p>
                  <i class="fa fa-caret-down"></i>
                </div>
                <div class="collapsible-body">
                  <p><b>&bull;</b> Seamlessly offer your un-needed items for others to buy or rent from
                    you<br/><b>&bull;</b> Procure from others for timely local access to needed equipment or
                    materials<br/><b>&bull;</b> Free to use - no fees or commission</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col l1 m1 s1">&nbsp;</div>
</div>

<div class="row padding-bottom-25">
  <div class="col s12 m12 l4 padding-0">
    <div class="col l1 float-left">&nbsp;</div>
    <div class="col l10 padding-left-5 center">
      <%= image_tag 'homepage/ico_shadow1.png', style: 'height: 300px' %> <br/>
      <span class="title-text-black">TAG AND TRACK</span><br/>
      <span class="title-text-blue line-height-40">for complete asset control</span><br/><br/>
      <span class="content-text-black line-height-30">You get the peace of mind that it’s easy to be accurate. Our durable QR tag technology eliminates tracking errors by providing real-time visibility and control over all equipment, attachments and materials with a simple scan and search. Always know your total inventory, the location and movements of your assets, and that every asset is being used to its fullest potential.</span>
    </div>
    <div class="col l1">&nbsp;</div>
    <div class="row">
      <div class="col s12 m12 l12 padding-top-10">
      <div class="col l1 float-left">&nbsp;</div>
        <div class="col s12 m12 l12 padding-left-5 center"><a href="//player.vimeo.com/video/201850621?autoplay=1" id="video-link2" class="lightbox fancybox.iframe play-video btn-border-blue ltr-spacing" style="color: #000">SEE OUR DURABLE TAGS<i class="fa fa-caret-right"></i></a></div>

        <div class="col l1">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l4 padding-0">
    <div class="col l1 float-left">&nbsp;</div>
    <div class="col l10 padding-left-5 center">
      <%= image_tag 'homepage/ico_shadow7.png', style: 'height: 300px' %> <br/>
      <span class="title-text-black">SNAP AND SEARCH</span><br/>
      <span class="title-text-blue line-height-40">to track assets from site to site</span><br/><br/>
      <span class="content-text-black line-height-30">You have a complete picture of your assets. Wherever you are, simply snap a photo of your equipment or material assets, and upload to the Tenna database. The location and person responsible is easily trackable each time new information is added to the database.</span>
    </div>
    <div class="col l1">&nbsp;</div>
  </div>
  <div class="col s12 m12 l4 padding-0">
    <div class="col l1 float-left">&nbsp;</div>
    <div class="col l10 padding-left-5 center">
      <%= image_tag 'homepage/ico_shadow6.png', style: 'height: 300px' %> <br/>
      <span class="title-text-black">FILL OUT AND FIND</span><br/>
      <span class="title-text-blue line-height-40">asset information at your fingertips</span><br/><br/>
      <span class="content-text-black line-height-30">Get full control of your equipment. The extensive Tenna database allows you to store all critical information about each asset in your inventory. Easily get a complete view of the information you need to know. The database is accessible from anywhere and from any device - all you need is an Internet connection.
      </span>
    </div>
    <div class="col l1">&nbsp;</div>
  </div>
</div>
<%= render partial: 'pages/leads_email_form' %>
<div class="row">
  <div class="col s12 m12 l6 padding-0 padding-top-5 padding-bottom-25"> <%= image_tag 'homepage/track_assets-min.jpg' %></div>
  <div class="col s12 m12 l6 padding-0">
    <div class="col l1 float-left">&nbsp;</div>
    <div class="col l10 padding-left-5 padding-top-5">
      <span class="title-text-black">TRACK ASSETS</span><br/>
      <span class="title-text-blue line-height-40">with a single search</span><br/><br/>
      <span class="content-text-black line-height-30">With Tenna, you get full visibility of your equipment and materials at all times, so that your assets can work harder for you.
      <br/><br/>
    </span>
      <span class="content-text-black line-height-30">Anyone moving assets, from small tools to large equipment, can simply scan Tenna’s unique QR tag, upload a photo, or search the Tenna database. The location of the asset and the person responsible is instantly uploaded to the cloud.<br/><br/></span>
      <%= image_tag 'homepage/track_assets_chart.png' %>
    </div>
    <div class="col l1"></div>
  </div>
</div>
