<div class="wrapper2">
  <div class="row">
    <div class="row padding-top-50">
      <div class="col s2 m2 l2 float-left">&nbsp;</div>
      <div class="col s9 m9 l9 intro-text-heading2">AFFORDABLE ASSET MANAGEMENT</div>
    </div>
    <div class="row">
      <div class="col s2 m2 l2 float-left">&nbsp;</div>
      <div class="col s9 m9 l6 intro-text">With Tenna, you get enterprise-caliber asset tracking and analysis, without enterprise costs.  We keep it simple and affordable for you.</div>
    </div>
  </div>
</div>
