<div class="wrapper2">
  <div class="row padding-top-50">
    <div class="col s12 m6 l6">
      <div class="col l4 float-left">&nbsp;</div>
      <div class="col l8 float-left"><span class="title-text-black">Asset Management System</span><br /><br />
        <span class="content-text-gray">Every Tenna membership is tailored to the nature and scale of each client, to meet your asset management needs.<br />Our simple annual membership includes unlimited users in your company, and tracking an unlimited quantity of assets.  There are no costly activation fees or per-unit data charges.<br />Right now, you can also save 5% when you select an annual payment option.</span>
      </div>
      <div class="col l2">&nbsp;</div>
    </div>
    <div class="col s12 m6 l6">
      <div class="col l1 float-left">&nbsp;</div>
      <div class="col s12 m12 l9"><span class="title-text-black">Implementation Support</span><br /><br />
        <span class="content-text-gray">Tenna is easy for you to implement yourself.  To get you started faster, we offer implementation support.  Our team can upload your asset data into Tenna’s secure cloud-based system, install our unique QR tags onto your assets in the field, and train your team.<br />Our implementation fees are simple too.  We bill for time and materials, including QR tags, and travel-related expenses.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="col l4 float-left">&nbsp;</div>
      <div class="col l8 float-left"><span class="title-text-black">Marketplace</span><br /><br />
        <span class="content-text-gray">The Tenna Marketplace lets you optimize your assets by disposing of those you don’t need, or procuring what you do need, directly from other Marketplace members.  Keeping it simple, the Marketplace is free to join and free to use.  There are no fees or commissions.  It’s another way Tenna helps your assets work harder for you.</span>
      </div>
      <div class="col l2">&nbsp;</div>
    </div>
    <div class="col s12 m6 l6">
      <div class="row">
        <div class="col l1 float-left">&nbsp;</div>
        <div class="col s12 m12 l10">
          <div class="btn-border-blue2 cta-options">
            <a class="modal-trigger leads-form" style="color: #000000" href="#lead-email" data-lead-link="BuildSourced_for_Implementation_and_Deployment_Services.pdf">IMPLEMENTATION SERVICE<i class="fa fa-caret-right" style="color: #009BEE"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l1 float-left">&nbsp;</div>
        <div class="col s12 m12 l10">
          <div class="btn-border-blue2 cta-options">
            <a class="lightbox fancybox.iframe" style="color: #000000" href="//player.vimeo.com/video/192639737?autoplay=1">IMPLEMENTATION CLIENT STORY<i class="fa fa-caret-right" style="color: #009BEE"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'pages/leads_email_form' %>
