@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


.Collapsible {
  background-color: white; }

.Collapsible__contentInner {
  padding: $px-sm $px-tn;
  border-bottom: 2px solid #e1e1e0;
  border-top: 0;
  background-color: #efede7;
}
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  color: $dark-gray;
  font-size: $fs-base !important;
  font-weight: 500;
  font-family: $base-font-medium;
  text-decoration: none;
  position: relative;
  border-bottom: 2px solid #e1e1e0;
  padding: $px-sm $px-tn;
}
.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f107';
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 50ms;
  color: $primary;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
