.AlertTypeCarousel {
  @media only screen and (min-width : 1024px) {
    padding-left: $px-md;
    padding-right: $px-md;
    padding-bottom: $px-md;
  }
  .slick-track {
    margin-top: $px-md;
    margin-bottom: $px-md;
    @media only screen and (min-width : 1024px) {
      // margin-left: -($px-md);
    }
  }

  .slick-arrow::before {
    color: $primary;
  }
  .slick-next {
    right: -($px-md);
    @media only screen and (min-width : 1024px) {
      right: -($px-sm);
    }
    &::before {
      font-family: 'FontAwesome';
      content: '\f054';
      color: #a6a0a0;
    }
  }
  .slick-prev {
    left: -($px-md);
    @media only screen and (min-width : 1024px) {
      left: -($px-sm);
    }
    &::before {
      font-family: 'FontAwesome';
      content: '\f053';
      color: #a6a0a0;
    }
  }
  .slick-dots {
    bottom: -($px-sm);
    li button::before {
      font-family: 'FontAwesome';
      content: '\f111';
      font-size: $fs-md;
      color: #d8d8d8;
    }

    li.slick-active button::before {
      color: #666666;
    }
  }
}
