.alertType {
  &__item {
 
    width: 200px;
    margin-top: $px-sm;
    height: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
 
    &.idlehour {
      background-image: image_url('live_data/IdleHours-Inactive.png');
    }
    &.odometer {
      background-image: image_url('live_data/Odomete-Inactive.png');
    }
    &.fuel {
      background-image: image_url('live_data/Fuel_level-Inactive.png');
    }
    &.geofence {
      background-image: image_url('live_data/Geofence-Inactive.png');
    }
    &.engineOilLevel {
      background-image: image_url('live_data/Engine_Oillevel-Inactive.png');
    }
    &.batteryVoltage {
      background-image: image_url('live_data/Battery_Voltage-Inactive.png');
    }
    &.engineRunTime {
      background-image: image_url('live_data/EngineRuntime-Inactive.png');
    }
    &.engineSpeed {
      background-image: image_url('live_data/Enginespeed-Inactive.png');
    }
    &.engineTemp {
      background-image: image_url('live_data/EngineTemp-Inactive.png');
    }
    &.oilPressure {
      background-image: image_url('live_data/OilPressure-Inactive.png');
    }
    &.speed {
      background-image: image_url('live_data/Speed-Inactive.png');
    }

    &--active {
      &.idlehour {
        background-image: image_url('live_data/Idlehours-Active.png');
      }
      &.odometer {
        background-image: image_url('live_data/Odometer-Active.png');
      }
      &.fuel {
        background-image: image_url('live_data/Fuel_Level-Active.png');
      }
      &.geofence {
        background-image: image_url('live_data/Geofence-Active.png');
      }
      &.engineOilLevel {
        background-image: image_url('live_data/Engine_Oillevel-Active.png');
      }
      &.batteryVoltage {
        background-image: image_url('live_data/Battery_Voltage-Active.png');
      }
      &.engineRunTime {
        background-image: image_url('live_data/EngineRuntime-Active.png');
      }
      &.engineSpeed {
        background-image: image_url('live_data/EngineSpeed-Active.png');
      }
      &.engineTemp {
        background-image: image_url('live_data/EngineTemp-Active.png');
      }
      &.oilPressure {
        background-image: image_url('live_data/OilPressure-Active.png');
      }
      &.speed {
        background-image: image_url('live_data/Speed-Active.png');
      }
    }
  }

  &__allalert {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px dashed black;
    text-align: center;
    margin-top: $px-sm;
    padding-top: 30px;
  }

  &__hidden {
    visibility: hidden !important;
  }
}
