// ============Live data Asset list
.liveDataAssets {
  margin-top: $px-lg;
  &__header {
    border-bottom: 2px solid $lighter-gray;
    padding: $px-sm 0;
  }

  &__title {
    line-height: $px-xxl;
  }

  &__showOptions {
    height: $px-xxl;
    line-height: $px-xxl;
    text-align: right;

    i {
      font-size: $px-xxl;
    }
  }

  &__noAssets {
    background-color: #f3f3f3;
    text-align: center;
    padding: $px-md;
  }

  &__tabs {
    text-align: right;
  }
  &__tab {
    display: inline-block;
    color: $lighter-gray;

    &--active {
      color: $primary;
    }
  }
  &__tabLink {
    cursor: pointer;
    color: $light-gray;

    &--active {
      color: $primary;
    }
  }
}
