.liveDataAssetCarousel {
  @media only screen and (min-width : 1024px) {
    padding-left: $px-md;
    padding-right: $px-md;
    padding-bottom: $px-md;
  }
  &__card {
    width: 180px;
    height: 380px;
    margin-top: $px-md;
    margin-bottom: $px-md;
    border: 1px solid #66665c;
    text-align: left;
    padding: 7px;
    background-color: $white;
    position: relative;

    @at-root .slick-center & {
      transform: scale(1.08);
      transition: box-shadow .25s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
  }

  &__assetPhoto {
    border: 1px solid #66665c;
    background-color: #f4f4f4;
    margin-bottom: $px-tn;
    position: relative;
    text-align: center;

    &--checkbox {
      position: absolute;
      left: 0;
      top: 0;
    }

    img {
      width: 100%;
      // margin-left: auto;
	    // margin-right: auto;
    }
  }

  &__cardTitle {
    // line-height: $px-md;
  }

  &__cardRow {
    display: flex;
    > div:first-child {

      display: inline-table;
    }

    &__date {
      float: right;
      width: 50%;
      display: block;
    }
  }

  &__viewOnMap {
    position: absolute;
    right: $px-sm;
    bottom: $px-sm;
    // margin-left: $px-md;
    font-size: $fs-lg;
    cursor: pointer;
    color: $dark-gray;
    &:hover {
      color: $primary;
    }
  }

  .slick-track {
    margin-top: $px-md;
    margin-bottom: $px-md;
    @media only screen and (min-width : 1024px) {
      // margin-left: -($px-md);
    }
  }

  .slick-arrow::before {
    color: $primary;
  }
  .slick-next {
    right: -($px-md);
    @media only screen and (min-width : 1024px) {
      right: -($px-sm);
    }
    &::before {
      font-family: 'FontAwesome';
      content: '\f054';
      color: #a6a0a0;
    }
  }
  .slick-prev {
    left: -($px-md);
    @media only screen and (min-width : 1024px) {
      left: -($px-sm);
    }
    &::before {
      font-family: 'FontAwesome';
      content: '\f053';
      color: #a6a0a0;
    }
  }
  .slick-dots {
    li button::before {
      font-family: 'FontAwesome';
      content: '\f111';
      font-size: $fs-md;
      color: #d8d8d8;
    }

    li.slick-active button::before {
      color: #666666;
    }
  }

  .sliderPagination {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
