.liveDataAssetsTable {
  overflow-x: scroll;
  &__viewOnMap {
    position: absolute;
    right: $px-sm;
    // margin-left: $px-md;
    font-size: $fs-lg;
    cursor: pointer;
    color: $dark-gray;
    &:hover {
      color: $primary;
    }
  }

  &__checkDiv {
    position: relative;
    padding-left: 30px;
    .col {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -10px;
    }
  }

  .photo_wrapper {
    display: inline-block;
    vertical-align: middle;
    img {
      width: 50px;
      height: 50px;
      margin-right: $px-sm;
    }
  }
  tr {
    border-bottom: 2px solid $lighter-gray;
  }
  td {
    padding: $px-tn 0;

    &:first-child {
      width: 30px;
    }
  }

  .reactable-pagination {
    tr {
      border: none;
    }
    td {
      text-align: center;
      padding: $px-md;
    }

    a {
      color: #333;
    }
  }
  .reactable-data tr {

    &:nth-child(odd) {
      background-color: #f3f3f3;
    }
  }

  .reactable-page-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: $px-tn;
    line-height: $px-md;
    text-align: center;
    border-radius: 3px;

    &.reactable-current-page {
      background-color: $primary;
      color: $white;
    }
  }

  .reactable-header-sortable {
    cursor: pointer;
    white-space: nowrap;
    &::after {
      font-family: 'FontAwesome';
      content: '\f0dc';
      color: #a6a0a0;
      margin-left: $px-sm;
    }

    &.reactable-header-sort-asc::after {
      font-family: 'FontAwesome';
      content: '\f0de';
      color: $primary;
    }

    &.reactable-header-sort-desc::after {
      font-family: 'FontAwesome';
      content: '\f0dd';
      color: $primary;
    }
  }
}
