.attachmentSubNav{
  &__list {
    background-color: #d1d1d0;
    padding: 5px;
  }
  
}

.attachmentSubNavItem {

  &__leftNav {
    color: $black;
  }

  &__leftNavItem {
    color: $black;
    min-height: 48px;
    padding-top: $px-mn;
    &--active {
      color: $black;
      min-height: $px-xxl;
      padding-top: $px-mn;
      color: $primary;
    }
  }


  &__editPen{
    color: $primary;
    float: right;
    margin-left: $px-hg;
  }

  &__removeIcon{
    color: $primary;
    float: right;
  }


  &__addIcon{
    color: $primary;
    float: right;
    margin-left: $px-lg;
  }

  &__saveButton{
    float:right;
    margin: $px-sm;
  }

  &__cancelButton{
    color: #fd4f00;
    float: right;
    margin: $px-sm;
  }

}