.companyContact {
  padding-top: $px-mn;
  padding-left: $px-mn;	
}

.companyContactList {
  padding-top: $px-mn;
  padding-left: $px-mn;

  &__contactList{
    padding-top: $px-tn !important;
  }
	
}