.configFilters
{
  
  @media only screen and (min-width : 768px) {
    min-width: 400px;
    border-left: 1px solid #ccc;
    padding-top: $px-mn;
    padding-left: 8px;
  }

  &--minimized {
    min-width: 0;
  }

  &__list{
    padding-top: 100px;
  }
  &__icon{
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }
}