.ldDashboardFilter {
  @media screen and (max-width: 768px) {
    min-width: 100%;
    width: 100%;
  }
  &--minimized {
    min-width: 0;
  }

  &__header {
    position: relative;
    border-bottom: 2px solid #e1e1e0;
    padding: $px-sm $px-tn;
    height: 53px;
  }
  &__title {
    @at-root .ldDashboardFilter--minimized & {
      display: none;
    }
  }

  &__body {
    display: block;
    @at-root .ldDashboardFilter--minimized & {
      display: none;
    }
  }

  &__chevron {
    position: absolute;
    top: $px-sm;
    color: #fff;
    cursor: pointer;
    line-height: 33px;
    left: 20px;
    background: $primary;
    padding: 2px 5px;
    font-size: 30px;
    @at-root .ldDashboardFilter--minimized & {
      position: relative;
      display: block;
      top: auto;
      right: auto;
    }
  }
  &__buttons {
    margin-top: $px-md;
    margin-bottom: $px-md;
    float: right;
    button {
      margin-left: 15px;
    }
  }
}
