@import "../variables";

.geoFenceList {
  padding: 0 15px;
  margin-top: 40px;
  float: left;

  &__new {
    border: 3px dashed #979797;
    width: 162px;
    height: 248px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 20px;
    float: left;
    display: table;
    i {
      color: red;
    }
    margin-right: 20px;
    margin-bottom: 20px;

    &--child {
      display: table-cell;
      vertical-align: middle;
    }
    margin-right: 40px;
    margin-bottom: 30px;
    position: relative;
    max-width: 162px;
  }

  &__item {
    float: left;
    border: 1px solid #979797;
    margin-right: 40px;
    margin-bottom: 30px;
    position: relative;
    max-width: 162px;

    &:hover {
      .btn-floating {
        display: block;
      }
    }

    .btn-floating {
      position: absolute;
      right: -18px;
      top: -18px;
      background: white;
      display: none;

      i {
        color: black;
      }
    }

    &--info {
      border-top: 1px solid #979797;
      padding: 5px;
      position: relative;
      padding-right: 20px;
      padding-bottom: 10px;
      i.fa-pencil {
        color: red;
        float: right;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
      }

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inherit; /* Fallback for non-webkit */
        height: 15px;
        line-height: 15px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    &.hvr-grow {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;

      &:hover, &:focus, &:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.geoFenceEdit {
  &__header {
    border-bottom: 1px solid #C1C2BF;
    padding-bottom: 15px;
    .b2 {
      font-weight: normal !important;
      i {
        color: grey;
      }
    }
  }

  &__body {
    padding: 20px;

    .h1 {
      padding-bottom: 10px;
      border-bottom: 2px solid #d0d0d0;
    }
  }

  &__settings {
    /*border-right: 1px solid #d0d0d0;*/
  }

  &__contacts {
    padding: 0 0.75rem;
    margin-top: 1rem;
  }

  &__label {
    margin-top: 20px;
    line-height: 60px;
  }

  &__swatch {
    margin-top: 15px;
  }

  &__switch {
    position: relative;

    label input[type=checkbox]:checked+.lever {
      background-color: #B9E88B;
    }

    label input[type=checkbox]:checked+.lever:after {
      background-color: #A9CA28;
    }
  }

  &__checkbox {
    position: absolute;
    left: 16%;
    top: 180%;
  }

  &__contactTable.striped {
    margin-top: 20px 0;

    tbody > tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tbody > tr:nth-child(odd) {
      background-color: transparent;
    }
  }

  &__otherContact {
    padding: 10px;
    border-bottom: 1px solid #d0d0d0;

    &:nth-child(odd) {
      background-color: #f2f2f2;
    }

    i {
      margin-top: 22px;
      color: $primary;
      cursor: pointer;
    }

    .dd1 {
      margin-top: 23px;
    }

    &__btnRow {
      .btn-floating {
        background: $primary;
        margin-right: 15px;
      }

      padding-bottom: 15px;
      border-bottom: 1px solid #d0d0d0;
    }
  }

  &__warning__txt {
    color: red;
    font-size: 12px;
    margin-top: 15px;
    width: 100%;
    float: right;
  }
}
