.idleHourAlert {
  min-width: 400px;
  padding-top: $px-mn;
  &--minimized {
    min-width: 0;
  }

  &__switch {
    position: relative;
    top: $px-lg;
    left: $px-sm;
    display: inline-block;
    width: $px-xxl;
    height: $px-md;
  }

  &__pullLeft {
    text-align: left;
  }

  &__pullRight {
    line-height: 0px;
    position: relative;
    bottom: 30px;
    text-align: right;
    right: 50px;
  }

  /* Hide default HTML checkbox */
  &__switch input {display:none;}

  /* The slider */
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  &__slider:before {
    position: absolute;
    content: "";
    height: $fs-base;
    width: $fs-mx;
    left: 4px;
    bottom: 2px;
    background-color: #a1b147;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + &__slider {
    background-color: #a7cc00;
  }

  input:focus + &__slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + &__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  &__slider.round {
    border-radius: 34px;
  }

  &__slider.round:before {
    border-radius: 50%;
  }

  &__circle {
    width: $px-lg;
    height: $px-lg;
    border-radius: 50%;
    color: white;
    text-align: center;
    background: #ccc;
    margin-left: 10px;
    padding: 4px;
    &--active {
      width: $px-lg;
      height: $px-lg;
      border-radius: 50%;
      color: white;
      text-align: center;
      background: #f5b338;
      margin-left: 10px;
      padding: 4px;
    }
  }
  &__idleType
  {
    position: relative;
    top: $px-md;
    left: $px-sm;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    display: inline-flex;
    padding-right: 10px;
  }

  &__text
  {
    position: relative;
    top: $px-lg;
    left: 20px;
    display: inline-block;
  }

  &__textMins
  {
    position: relative;
    top: $px-xl;
    left: $px-sm;
    display: inline-block;
  }

  &__textTrash
  {
    position: relative;
    top: $px-lg;
    left: $px-md;
    color: $font-color-red;
    font-size: $px-md;
  }

  &__select
  {
    position: relative;
    top: $px-md;
    left: $px-sm;
    display: inline-block;
  }

  &__group {
    width: 100%;
    height: 60px;
    min-height: 60px;
  }
  &__list {
    background-color: #d1d1d0;
    padding: 5px;
  }

  &__tab {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &--active {
      a {
        border-bottom: 4px solid $primary;
      }
    }
  }

  &__tabLink {
    display: block;
    position: relative;
    width: 100%;
    color: $darker-gray;
    font-size: $fs-md;
    font-weight: bold;
    font-family: $base-font-bold;
    line-height: 60px;
    border-bottom: 4px solid #e9e9e9;
  }

  &__tabContent {
    display: none;
    &--active {
      display: block;
    }
  }

  &__chevron {
    position: absolute;
    right: $px-sm;
    top: $px-mn;
    color: $primary;
    font-size: $px-lg;
  }

  &__count {
    margin-left: $px-md;
    text-transform: capitalize !important;
    border-radius: 7px;
    min-width: 90px;
    height: auto !important;
    box-shadow: none;
    border: 2px solid $dark-gray;
    padding: $px-tn $px-mx;
    @at-root .ldDashboardSubNav__tab--active & {
      border: 2px solid $primary;
    }
  }

}
