.liveDataMap {
  width: 100%;
  min-height: 600px;
  background-color: $lighter-gray;

  .gm-style-iw {
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*border: 1px solid rgba(72, 181, 233, 0.6);*/
  }

  &__iwContainer {
    padding: $px-sm;
    display: flex;
  }

  &__iwInfoSection {
    width: 150px !important;
    padding-left: $px-sm;
  }

  &__iwTitle {
    margin-bottom: $px-tn;

    font-weight: bold;
  }

  &__iwLastUpdate {
    color: $dark-gray;
    margin-bottom: $px-tn;
  }

  &__iwMoreInfo {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    color: $primary;
    line-height: 24px;
    cursor: pointer;
  }
  &__iwMoreInfoIcon {
    font-size: 14px;
    border: 1px solid $primary;
    border-radius: 9999px;
    margin-left: 5px;
  }
}