.liveDataNav {
  &__mainNav {
    border-bottom: 1px solid #C6C6C6;
    padding: $px-sm 0;
  }

  &__linkItem {
    display: inline-block;
    border-right: 1px solid #C6C6C6;
    padding: 0 $px-sm;
    font-size: $fs-lg;
    color: $dark-gray;

    &:last-child {
      border-right: none;
    }

    &:hover {
      color: $primary;
    }

    &--active {
      color: $primary;
    }
  }

  &__searchNav {
    border-bottom: 1px solid #C6C6C6;
    padding: $px-sm $px-sm $px-sm 0;
  }

  &__searchInput {
    height: 30px;
    line-height: 30px;
  }

  &__searchWrapper {
    overflow-x: hidden;

    input[type='search'] {
      width: 95%;
    }
  }

  .input-field input[type=search] {
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
  }

  .input-field {
    margin: 0;
  }

  .input-field label {
    top: 19px;
    position: absolute;
    left: 0 !important;
  }
}
