// ============Live Data Notification

.liveDataNotification {

  &__emptyRow > td {
    text-align: center;
    vertical-align: middle;
  }

  &__list > tr {
    &:nth-child(odd) {
      background-color: #f3f3f3;
    }
  }

  &__severity {
  	display: inline-block;
  	width: $px-lg;
  	height: $px-lg;
  	line-height: $px-lg;
    border-radius: 9999px;
    color: white;
    text-align: center;
    text-transform: uppercase;

    &--high {
      background-color: #ff2721;
    }
    &--medium {
      background-color: #f6b436;
    }
    &--low {
      background-color: #a8cc00;
    }
  }
  &__action {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 0;
  }
  &__actionButton {
    color: #abce08;
  }
  &__confirmButton {
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: center;
    line-height: 60px;
    background-color: #ef2a2a;
    color: white;
    text-transform: uppercase;
  }

  &__viewOnMap {
    font-size: 22px;
    cursor: pointer;
    color: #65675e;
  }

  &__table {
    max-height: 353px;
    overflow-y: scroll;
    border-bottom: 1px solid lightgray;
    table thead th {
      white-space: nowrap;
    }
  }
}
