.liveDataNotificationModal {
  padding-top: $px-md;
  border-top: 1px solid $lighter-gray;
  overflow-y: auto !important;

  [type="checkbox"] + label {
    display: inline-block;
    color: $darker-gray;
    font-size: $fs-base;
    font-family: $base-font-regular;
    font-weight: normal;
    margin-top: 28px;
    line-height: 21px;
  }

  &__label {
    display: inline-block;
    margin-right: $px-sm;
    margin-top: 18px;
  }

  &__checkbox {
    margin-top: 25px;
  }

  &__success {
    color: #abce08;
  }

}
#live-data-index {
  .modal h4 {
    margin-bottom: 0 !important;
  }
}

#live-data-notification-modal {
  overflow-y: auto !important;

  > .modal-content {
    overflow-y: auto !important;
  }

}
