.ldDashboardSubNav, .liveDataAlerts {
  &__group {
    width: 100%;
    height: 60px;
    min-height: 60px;
  }
  &__list {
    background-color: #d1d1d0;
    padding: 5px;
  }

  &__tab {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    

    &--active {
      a {   
        border-bottom: 4px solid $primary;
      }
    }
  }

  &__tabLink {
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    color: $darker-gray;
    font-size: $fs-md;
    font-weight: bold;
    font-family: $base-font-bold;
    line-height: 60px;

    border-bottom: 4px solid #e9e9e9;

    @media screen and (max-width: 768px) {
      font-size: $fs-sm;
    }
  }

  &__tabContent {
    display: none;
    &--active {
      display: block;
    }
  }

  &__chevron {
    position: absolute;
    right: $px-sm;
    top: $px-mn;
    color: $primary;
    font-size: $px-lg;
    @media screen and (max-width: 768px) {
      right: 0;
      font-size: $px-md;
      top: $px-md;
    }
  }

  &__count {
    margin-left: $px-md;
    text-transform: capitalize !important;
    border-radius: 7px;
    min-width: 90px;
    height: auto !important;
    box-shadow: none;
    border: 2px solid $dark-gray;
    padding: $px-tn $px-mx;
    @at-root .ldDashboardSubNav__tab--active & {
      border: 2px solid $primary;
    }
    @at-root .liveDataAlerts__tab--active & {
      border: 2px solid $primary;
    }

    @media screen and (max-width: 768px) {
      padding: 3px 7px;
      margin-left: $px-tn;
    }
  }
  
  &__saveButton{
    float:right;
    margin: $px-sm;
  }

  &__cancelButton{
    color: #fd4f00;
    float: right;
    margin: $px-sm;
  }
}