Hi,

This is an live data notification.

Type: <%= notification[:type] %>
Serverity: <%= notification[:severity] %>
Message: <%= notification[:value] %>

Notes: <%= notes %>

Asset Details:
<%= asset_url(asset) %>

  --Tenna, LLC