<% if cond.cond_type == "service" %>
<%= gauge.name %> for <%= asset.title %> requires service. 
<%= message %>
"Schedule maintenace": <%= event_asset_path(asset) %>
<%=  asset.get_address_by_lat_lng %>
<% else %>
<%= gauge.name %> for <%= asset.title %> triggered a <%= cond.severe_str %> alert at <%= date_time %>. 
<%= message %> <%=  asset.get_address_by_lat_lng %>.
<% end %>
  --Tenna