Hi <%= user.name %>,

This is an automated message. A maintenance event has been completed by <%= event.user.name %> <%= event.user.email %> at <%= asset.assets_versions.first.created_at.strftime("%I:%M%p") %> on <%= asset.assets_versions.first.created_at.to_date %>. The link to the maintenance is <%= link_to event_url(event), event_url(event) %>.

Event:
Notified people: <%= user.name %>

Maintenance was completed on <%= asset.assets_versions.first.created_at.to_date %> at <%= asset.assets_versions.first.created_at.strftime("%I:%M%p") %> for <%= asset.title %>.

Other:
<%= event.text %>
Asset Details:
<%= link_to asset_url(asset), asset_url(asset) %>

--Tenna
