Hi <%= user.name %>,

This is an automated message. A maintenance event has been <%= event.verb %> by <%= event.user.name %> at <%= event.action_dt_str %>. The link to the event is  <%= event_url(event) %>.
<% if !event.processed %>
A reminder email will be sent 30-45 minutes before the event.
<% end %>
Event:
Notified people: <%= event.names %>
<% if event.is_repeatable? %>
Maintenance for  <%= asset.title %> will happen <%= event.repetition_text %>
<% else %>
Maintenance is scheduled <%= event.start_date.in_time_zone(event.timezone).strftime('on %m/%d/%Y at %l:%M%P ').strip %> for <%= asset.title %>.
<% end %>
Other:
<%= event.text %>

Asset Details:
<%= asset_url(asset) %>

  --Tenna, LLC
