Hi <%= user.name %>,

This is an automated message. An event has been <%= event.verb %> by <%= event.user.name %> at <%= event.action_dt_str %>. The link to the event is  <%= event_url(event) %>.
<% if !event.processed %>
A reminder email will be sent 30-45 minutes before the event.
<% end %>
Event:
Notified people: <%= event.names %>
<% if event.is_repeatable? %>
This event will occur <%= event.repetition_text %>
<% end %>
Other:
<%= event.text %>

  --Tenna, LLC
