Hi <%= user.name %>,
This is an automated message. A recurring route has been <%= event.verb %> by <%= event.user.name %> at <%= event.action_dt_str %>. The link to the event is  <%= event_url(event) %>.
<% if !event.processed %>
A reminder email will be sent 30-45 minutes before the event.
<% end %>
Event:
Notified people: <%= event.names %>
<% if event.is_repeatable? %>
<%= recurring_route.route.user.name %> is assigned to the <%= recurring_route.route.name %> <%= event.repetition_text %>
<% else %>
<%= recurring_route.route.user.name %> is assigned to the <%= recurring_route.route.name %> <%= recurring_route.created_at.in_time_zone(event.timezone).strftime('on %m/%d/%Y at %l:%M%P ').strip %>
<% end %>
Other:
<%= event.text %>

Route Details:<br>
<%= route_url(recurring_route.route, recurring_route.fired_date) %>

  --Tenna, LLC
