Hi <%= driver.name %>,

This is an automated system notification. A new route has been generated for you by <%= route.creator.name %> at <%= route.updated_at.in_time_zone(route.timezone).strftime('%l:%M%P on %m/%d/%Y').strip %>. To see the route, please go to: <%= link_to route_url, route_url + '?sent=true' %>.

Route Name:
<%= route.name %>

  --Tenna, LLC
