@import "../variables";
.btn {
  border-radius: 5px;
}
.btn.btn-small, .btn-floating.btn-small {
  &.halfway-fab {
    bottom: -12px;
  }

  box-shadow: none !important;
  width: 24px;
  height: 24px;
  line-height: 24px;
  i {
    line-height: 24px;
    font-size: $fs-mn;
    font-weight: bolder;
  }
}



/* CTA */
.btn {
  font-size: $fs-base;
  font-weight: 500;
  font-family: $base-font-medium;
  text-transform: capitalize;

  &.but1{
    color: $white;
    background-color: $primary;
    &:hover, &:active {
      background-color: $primary;
      color: $white;
    }
  }
  /* Cancel btn */
  &.but2 {
    color: $primary;
    background-color: $white;
    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
  /* Delete/Remove */
  &.but3 {
    color: $primary;
  }
  /* Title Header Tab / Text Tabs with Line Below*/
  &.but4, &.but6 {
    color: $primary;
    font-size: $fs-md;
  }
  /* Title Header Tab */
  &.but5 {
    font-size: $fs-md;
  }
}

.fixed-action-btn {
  a {
    background-color: $primary;
  }
}

.asset-btn {
  .btn-large {
    background-color: $primary !important;
  }
}

@media #{$large-and-up} {
  .fixed-action-btn {
    top: 23px;
    bottom: auto;
    //right: calc(5% - 27.75px);
    padding-top: 0;
    padding-bottom: 15px;

    ul {
      top: 80px;
      bottom: auto;
    }
  }
}
