@import '../variables';
@each $color_name, $color_value in $color-palette {
  .#{$color_name} {
    background-color: $color_value !important;
  }
  .#{$color_name}-text {
    color: $color_value !important;
  }
  .btn.#{$color_name}-border {
    border: 2px solid $color_value;
    &:hover {
      border-color: lighten($color_value, 15%);
    }
  }
}
