@import "../variables";
/* Drop Down Filter */
.dd1 {
  color: $darker-gray;
  font-size:$fs-mn;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Drop Down Text */
.dd2, .b1, .b5 {
  font-size:$fs-mn;
  font-family: $base-font-regular;
  color: $dark-gray;
  font-weight: normal;
}
.b6{
  font-size:$fs-mn;
  font-family: $base-font-medium;
  color: $dark-gray;
  font-weight: 500;
}
/* Text Once Opened/Add Asset */
.dd3 {
  color: $primary;
  font-size:$fs-mn;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Text Input / Cancel/Reset & Download Text in Export */
.dd4, .but2, .b18 {
  text-transform: capitalize;
  font-size: $fs-base;
  font-weight: 500;
  color: $primary;
  background: transparent;
  font-family: $base-font-medium;
}
/* Dropdown hover text */
.dd5 {
  font-family: $base-font-regular;
  font-weight: normal;
  color: #fff;
  font-size:$fs-mn;
}
/* Check box title/Radio/Filter Sub-head */
.dd6 {
  color: $darker-gray;
  font-family: $base-font-medium;
  font-size:$fs-mn;
  font-weight: 500;
}