@import "../variables";

.select2-container--default .select2-search--dropdown {
  display: block;
  padding: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  @include helvetica_neue();
  color: $darker-gray;
  font-size: $fs-mn;
  font-weight: normal;
  line-height: $fs-mn;
  padding: 6px;
  height: auto;
  &:focus {
    border-bottom: 1px solid #fd5a00;
    box-shadow: 0 1px 0 0 #fd5a00;
  }
}
.select2-container--open .select2-dropdown--below {
  border: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: $primary;
  color: $white;
}

.select2-container--default .select2-results__option {
  @include helvetica_neue();
  color: $darker-gray;
  font-size: $fs-mn;
  font-weight: normal;
  line-height: $fs-mn;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #e1e1e1;

  // border-radius: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  @include helvetica_neue();
  color: $darker-gray;
  font-size: $fs-mn;
  font-weight: normal;
}

.select2-results__options {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

label.select.active {
  @include helvetica_neue();
  font-size: $fs-mn;
  font-weight: normal;
  color: #33302b;
}
.input-field label.active {
  @include helvetica_neue();
  font-size: $fs-sm;
  font-weight: normal;
  color: #fd4f00;
}
.input-field label {
  @include helvetica_neue();
  font-size: $fs-mn;
  font-weight: normal;
  line-height: 20px;
  color: #33302b;
}

select {
  color: $darker-gray;
  font-size: $fs-mn;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  color: $darker-gray;
  option {
    @include helvetica_neue();
    color: $darker-gray;
    font-size: $fs-mn;
    font-weight: normal;
    &:focus {
      background-color: $primary;
      color: $white;
    }
  }
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
textarea.materialize-textarea {
  height: auto;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @include helvetica_neue();
    color: $light-gray;
    font-size: $fs-mn;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @include helvetica_neue();
    color: $light-gray;
    font-size: $fs-mn;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @include helvetica_neue();
    color: $light-gray;
    font-size: $fs-mn;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @include helvetica_neue();
    color: $light-gray;
    font-size: $fs-mn;
  }
}

textarea.materialize-textarea:focus,
input[type=text]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=email]:focus:not([readonly])  {
  border-bottom: 1px solid #fc4f00 !important;
  box-shadow: 0 1px 0 0 #fc4f00 !important;
 }

.btn.primary, .btn.c-primary {
  border-radius: 0px;
}

[type="checkbox"] + label:before {
  border: 2px solid #717167;
  border-radius: 2px;
}

.collapsible {
  border: none;
}

.select-wrapper input.select-dropdown {
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  height: auto;
  padding: 6px;
  margin: 0;
  @include helvetica_neue();
  color: $darker-gray;
  font-size: $fs-mn;
  line-height: $fs-mn;
}
// .select-wrapper span.caret {
//   top: 8px;
// }

.select-wrapper + label {
  @include helvetica_neue();
  font-size: $fs-mn;
  color: #33302b;
  top: -20px
}
#path-finder-index {
  .select-wrapper + label {
    @include helvetica_neue();
    font-size: $fs-mn;
    color: #33302b;
    top: -32px
  }
}
.select-wrapper .dropdown-content li >span{
  @include helvetica_neue();
  color: $primary;
  font-size: $fs-mn;
}

.noUi-horizontal .noUi-handle {
  background-color: $primary !important;
}

.noUi-background {
  background-color: $primary !important;
}

/* Input text */
.ip1 {
  color: $light-gray;
  font-size: $fs-mn;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Input text filled in / Search text filled in */
.ip2, .ip4, .b3 {
  color: $darker-gray !important;
  font-size: $fs-base !important;
  font-family: $base-font-regular !important;
  font-weight: normal !important;
}
/* Search text */

.ip3, .l4_tenna, .b9, .lk4 {
  color: $dark-gray;
  font-size: $fs-base;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Text going up on input */
.ip5 {
  color: $light-gray;
  font-size: 12px;
  font-family: $base-font-regular;
  font-weight: normal;
}

.page-size-filter-form {
  width: 110px;
  height: 32px;
  position: relative;
  &::before {
    content: 'Show';
    color: $darker-gray;
    font-size:$fs-mn;
    font-family: $base-font-regular;
    font-weight: 500;
    margin-right: -48px;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 6px;
  }
  .select-wrapper {
    display: inline-block;
    color: $darker-gray;
    font-size:$fs-mn;
    font-family: $base-font-regular;
  }

  .select-wrapper input.select-dropdown {
    color: $darker-gray;
    font-size:$fs-mn;
    font-family: $base-font-regular;
    font-weight: 500;
    text-align: right;
    padding-right: 30px;
    width: 72px;
  }
  .select-wrapper span.caret {
    right: 13px;
  }
}

.filter-form {
  width: 110px;
  .select-wrapper {
    padding-right: 14px;
  }
  .select-wrapper span.caret {
    right: 13px;
  }
}
.action-filter-form-container {
  display: flex;
  align-items: center;
  @media #{$small-and-down} {
    margin-top: 30px;
  }
  .action-filter-form {
    display: inline-flex;
    .select-wrapper > a {
      display: block;
      width: 110px;
      border: 1px solid #dadada;
      border-radius: 4px;
      color: $darker-gray;
      font-size:$fs-mn;
      line-height: $fs-mn;
      font-family: $base-font-regular;
      font-weight: 500;
      padding: 7px 6px;
      margin: 0;
    }
    .select-wrapper a span.caret {
      right: 13px;
    }
  }
}

.all-select-wrapper label {
  margin-top: 4px;
}

.action-filter-form-container.inline-form {
  @media #{$small-and-down} {
    margin-top: 0;
  }
}


.all-select-wrapper {
  display: inline-flex;
}

//=============React Select style
.Select-arrow {
  border-top-color: $primary;


}

.is-open .Select-arrow {
  border-top-color: mix($primary, $white, 80%);
}

//===========================


//=============Pagination
.pagination {
  text-align: center;
  @media #{$small-and-down} {
    font-size: 10px;
  }

  li {
    font-family: $base-font-bold;
    color: $darker-gray;
    font-size: $fs-base;
    font-weight: bold;
    &.active {
      background-color: $primary;
      color: #fff;
    }
  }
  li i {
    color: $primary;
    font-size: 28px;
  }
}
//==============================

//==============File field
.file-field .btn {
  height: 38px;
  line-height: 38px;
}
