.sliderPagination {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  &__item {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      button {
          border: 0;
          background: transparent;
          display: block;
          height: 20px;
          width: 20px;
          outline: none;
          line-height: 0px;
          font-size: 0px;
          color: transparent;
          padding: 5px;
          cursor: pointer;
          &:hover, &:focus {
              outline: none;
              &:before {
                  opacity: $slick-opacity-on-hover;
              }
          }
          &:before {
              position: absolute;
              top: 0;
              left: 0;
              content: $slick-dot-character;
              width: 20px;
              height: 20px;
              font-size: $slick-dot-size;
              line-height: 20px;
              text-align: center;
              opacity: $slick-opacity-not-active;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-family: 'FontAwesome';
              content: '\f111';
              font-size: 18px;
              color: #d8d8d8;
          }
      }
      &--active button:before {
        color: #666666;
        opacity: 0.75;
      }
  }
}