@import "../variables";
/* Largest Header */
.h6 {
  font-family: $base-font-bold;
  color: $primary;
  font-size: $fs-lg;
  font-weight: bold;
}
.h3{
  color: $darker-primary;
  font-size: $fs-lg;
  font-weight: bold;
  font-family: $base-font-bold;
}
/* Large Text Dashboard */
.h4 {
  font-family: $base-font-bold;
  color: $dark-gray;
  font-size: $fs-xl;
  font-weight: bold;
}
/* Sub Header */
.h5 {
  font-family: $base-font-bold;
  color: #fff;
  font-size: $fs-md;
  font-weight: bold;
}

/* Link One */
.lk1 {
  color: $secondary;
  font-size: $fs-base;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Email Link */
.lk3 {
  font-family: $base-font-regular;
  color: $secondary !important;
  font-size: $fs-mn !important;
  font-weight: normal;
}
/* Pagination Link */
.lk5 {
  font-family: $base-font-bold;
  color: $darker-gray;
  font-size: $fs-base;
  font-weight: bold;
}
/* Pagination Link - white */
.lk6 {
  font-family: $base-font-bold;
  color: $white;
  font-size: $fs-base;
  font-weight: bold;
}

/* Highlights */
.b1 {
  color: $dark-gray;
  font-size: $fs-mn;
  font-family: $base-font-regular;
  font-weight: normal;
}

.b2 {
  color: $secondary !important;
  font-size: $fs-base !important;
  font-weight: bold !important;
  font-family: $base-font-medium !important;
}
/* Emphasis/Remove */
.b7 {
  font-family: $base-font-regular;
  color: $darker-primary;
  font-size: $fs-mn;
  font-weight: normal;
}
/* Price */
.b8 {
  color: $darker-gray;
  font-size: $fs-md !important;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* In Use Date */
.b10, .subh1 {
  color: $dark-gray;
  font-size: $fs-base !important;
  font-weight: 500;
  font-family: $base-font-medium;
}
/* Sold */
.b11 {
  font-family: $base-font-regular;
  color: $lighter-gray;
  font-size: $fs-base;
  font-weight: normal;
}
/* Asset tags */
.b12 {
  font-family: $base-font-regular;
  font-weight: normal;
  color: $white;
  font-size: 12px;
}
/* Notes Italics */
.b13 {
  font-family: $base-font-regular;
  font-weight: normal;
  color: $medium-gray;
  font-size: $fs-mn;
  font-style: italic;
}
/* Warning Input needed */
.b14 {
  font-family: $base-font-regular;
  font-weight: normal;
  color: $darker-primary;
  font-size: 12px;
}
/* Scheduler */
.b15 {
  font-family: $base-font-regular;
  font-weight: normal;
  color: $darker-gray;
  font-size: 12px;
}
/* Scheduler Time */
.b16 {
  font-family: $base-font-bold;
  color: $darker-gray;
  font-size: 12px;
  font-weight: bold;
}
/* Small Graph Legends */
.b17 {
  font-family: $base-font-regular;
  font-weight: normal;
  color: $dark-gray;
  font-size: 12px;
}
/* Asset Detail Rental/Owned */
.b20 {
  color: $white;
  font-size: $fs-mx;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Asset Detail Info */
.b21, .but7 {
  color: $darker-gray;
  font-size: $fs-md;
  font-weight: 500;
  font-family: $base-font-medium;
}
/* Asset Green */
.b22 {
  color: $grande;
  font-size: $fs-base;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Asset Red */
.b23 {
  color: $darker-primary;
  font-size: $fs-base;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Asset Map Text Available / Small Project Icons */
.b24, .lk2 {
  color: $secondary;
  font-size: 12px;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Schedule Time Increments */
.b25 {
  color: $dark-gray;
  font-size: 11px;
  font-family: $base-font-regular;
  font-weight: normal;
}
/* Printable QR Codes - 16px */
.b27 {
  color: $primary;
  font-size: $fs-base;
  font-weight: bold;
  font-family: $base-font-bold;
}
/* Printable QR Codes - 14px */
.b28 {
  color: $primary;
  font-size: $fs-mn;
  font-weight: bold;
  font-family: $base-font-bold;
}

/* Largest Header */
.h1 {
  color: $darker-gray;
  font-size: $fs-lg;
  font-weight: bold;
  font-family: $base-font-bold;
}
/* Sub Header */
.h2 {
  color: $darker-gray;
  font-size: $fs-md;
  font-weight: bold;
  font-family: $base-font-bold;
}
/* Smaller */
.subh2 {
  color: $darker-gray !important;
  font-size: $fs-base !important;
  font-weight: 500;
  font-family: $base-font-medium;
}