<div>
  <p>Hi <%= @user.name %>,</p>
  <p>This is an automated message. A maintenance event has been <%= @event.verb %> by <%= @event.user.name %> at <%= @event.action_dt_str %>. The link to the event is  <%= link_to event_url(@event), event_url(@event) %>.</p>
  <% if !@event.processed %>
    <p>
      A reminder email will be sent 30-45 minutes before the event.
    </p>
  <% end %>
  <hr>
  Event:<br>
  Notified people: <%= @event.names %><br>
  <% if @event.is_repeatable? %>
    Maintenance for  <%= @asset.title %> will happen <%= @event.repetition_text %>
  <% else %>
    Maintenance is scheduled <%= @event.start_date.in_time_zone(@event.timezone).strftime('on %m/%d/%Y at %l:%M%P ').strip %> for <%= @asset.title %>.
  <% end %>
  <br>
  Other:<br>
  <%= @event.text %>
  <br><br>
  Asset Details:<br>
  <%= link_to asset_url(@asset), asset_url(@asset) %>
  <br><br>
  --Tenna, LLC
</div>
