<div>
  <p>Hi <%= @user.name %>,</p>
  <p>This is an automated message. A maintenance event has been completed by <%= @event.user.name %> <%= @event.user.email %> at <%= @asset.assets_versions.first.created_at.strftime("%I:%M%p") %> on <%= @asset.assets_versions.first.created_at.to_date %>. The link to the maintenance is <%= link_to event_url(@event), event_url(@event) %>.</p>
  <hr>
  
  Event:<br>
  Notified people: <%= @user.name %><br>

  Maintenance was completed on <%= @asset.assets_versions.first.created_at.to_date %> at <%= @asset.assets_versions.first.created_at.strftime("%I:%M%p") %> for <%= @asset.title %>.

  <br>
  Other:<br>
  <%= @event.text %>
  <br><br>
  Asset Details:<br>
  <%= link_to asset_url(@asset), asset_url(@asset) %>
  <br><br>
  --Tenna
</div>
