<div>
  <p>Hi <%= @user.name %>,</p>
  <p>This is an automated message. An event has been <%= @event.verb %> by <%= @event.user.name %> at <%= @event.action_dt_str %>. The link to the event is  <%= link_to event_url(@event), event_url(@event) %>.</p>
  <% if !@event.processed %>
    <p>
      A reminder email will be sent 30-45 minutes before the event.
    </p>
  <% end %>
  <hr>
  Event:<br>
  Notified people: <%= @event.names %><br>
  <% if @event.is_repeatable? %>
      This event will occur <%= @event.repetition_text %><br>
  <% end %>
  Other:<br>
  <%= @event.text %>
  <br><br>
  --Tenna, LLC
</div>
