<div>
  <p>Hi,</p>
  This is an automated system notification. Your
  <% if @asset != false %>
    <%= @asset.title %>
  <% else %>
    <%= @project.name %>
  <% end %> at <%= @path.address %> has been serviced by <%= @route.user.name %> at <%= @driver_stop.done_timestamp.in_time_zone(@route.timezone).strftime('%l:%M%P on %m/%d/%Y').strip %>.
</div>
