<div>
  <p>Hi <%= @user.name %>,</p>
  <p>This is an automated message. A recurring route has been <%= @event.verb %> by <%= @event.user.name %> at <%= @event.action_dt_str %>. The link to the event is  <%= link_to event_url(@event), event_url(@event) %>.</p>
  <% if !@event.processed %>
    <p>
      A reminder email will be sent 30-45 minutes before the event.
    </p>
  <% end %>
  <hr>
  Event:<br>
  Notified people: <%= @event.names %><br>
  <% if @event.is_repeatable? %>
    <%= @recurring_route.route.user.name %> is assigned to the <%= @recurring_route.route.name %> <%= @event.repetition_text %>
  <% else %>
    <%= @recurring_route.route.user.name %> is assigned to the <%= @recurring_route.route.name %> <%= @recurring_route.created_at.in_time_zone(@event.timezone).strftime('on %m/%d/%Y at %l:%M%P ').strip %>
  <% end %>
  <br>
  Other:<br>
  <%= @event.text %>
  <br><br>
  Route Details:<br>
  <%= link_to route_url(@recurring_route.route, @recurring_route.fired_date), route_url(@recurring_route.route, @recurring_route.fired_date) %>
  <br><br>
  --Tenna, LLC
</div>
