<div>
  <p>Hi <%= @driver.name %>,</p>
  <br/>
  This is an automated system notification. A new route has been generated for you by <%= @route.creator.name %> at <%= @route.updated_at.in_time_zone(@route.timezone).strftime('%l:%M%P on %m/%d/%Y').strip %>. To see the route, please go to: <%= link_to route_url(@route.slug, @fired_date), route_url(@route.slug, @fired_date, sent: 'true') %>.
  <br/><br/>
  Route Name:
  <%= @route.name %>
  <br><br>
  --Tenna, LLC
</div>
