<%= simple_form_for [@project, @csv_import || CsvImport.new], html: {method: :post, multipart: true}, remote: true do |f| %>
  <div class="form-inputs row">
    <div class="col s12">
      <div class="form-actions" style="margin-bottom: -22px;">
        <%= f.input :file, as: :csv_import_file, label: false, input_html: {accept: 'text/csv',class: 'but1'} %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= f.button :button, 'Import' ,style: 'float:right;margin-right: 12px;margin-top: 20px;',class: 'but1'%>
    <a href="#!" class="modal-cancel-btn modal-action modal-close btn white right-align" style="color: #fd4f00;float: right;margin-top: 19px;margin-right: 26px;">Cancel</a>
  </div>
<% end %>

