function poolCsvStatus(csvImport, url) {
  switch(csvImport.state) {
    case 'working':
      $.get(url)
      .done(function(data){
        // $('.upload-status').html($('.upload-status').html().replace(/(\.*)$/, '$1.').replace(/\.{4,}$/, ''));
        setTimeout(function(){
          poolCsvStatus(data.csv_import, url);
        }, (data.csv_import.state == 'working') ? 1000 : 0);
      })
      .fail(function(response){
        try {
          $('.upload-status').html('Error: ' + response.responseJSON.error);
        } catch(e) {
          $('.upload-status').html('Unexpected error: ' + e);
        }
      });
      break;
    case 'success':
      $('.upload-status').html('<div><span class="h6">Successfully </span><span class="b21">' + csvImport.message + '</span><a href="" class="modal-action modal-close btn but1" style="float:right;margin-top: 0px;">OK</a></div>');
      break;
    case 'failure':
      $('.upload-status').html('<div><span class="h3">File upload failed.</span> <span class="b21">' + csvImport.message +'</span><br><a href="" class="modal-action modal-close btn but1" style="float:right;margin-top: 0px;">OK</a><span class="b9"><br>Please refresh your browser (F5) before reattempting your upload.</span></div>');
      break;
    default:
      $('.upload-status').html('');
  }
}
$("#new_csv_import").replaceWith("<%= j render(partial: 'status')%>")
poolCsvStatus(JSON.parse("<%= j @csv_import.to_json %>"), "<%= project_csv_import_path(@project, @csv_import) %>");
