<p>Hi Kristen,<br/>
  &nbsp;&nbsp;&nbsp;Here's the new list of <%= @urls.count %> URL's for QR codes.<br/><br/>

  <table>
    <% @urls.each do |url| %>
      <tr>
        <!--<td><img alt="Embedded Image" src="<%#= RQRCode::QRCode.new(url, :size => 6, :level => :q).as_png({ xdim: 4 }).to_data_url %>" width="20" height="20" /></td>-->
        <td><%= url.html_safe %></td>
      </tr>
    <% end %>
  </table><br/>
  Let me know if you have any questions.<br/><br/>

  Thanks<br/>
  --Tahir
</p>
