@import "icomoon";
@import "museo_slab";
@import "helvetica_neue";

@mixin open-sans($font-weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight;
}

@mixin open-sans-light() {
  font-family: 'Open Sans', sans-serif;
  @include open-sans(300)
}

@mixin open-sans-semi-bold() {
  @include open-sans(600)
}

@mixin open-sans-bold() {
  @include open-sans(700)
}

@mixin merriweather($font-weight: 400) {
  font-family: 'Merriweather', serif;
  font-weight: $font-weight;
}

@mixin museo_slab_500() {
  font-family: 'museo_slab_500', serif;
  font-weight: normal;
}

@mixin helvetica_neue() {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin helvetica_neue_medium() {
  font-family: "Helvetica Neue - Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin helvetica_neue_bold() {
  font-family: "Helvetica Neue - Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

@mixin helvetica_neue_italic() {
  font-family: "Helvetica Neue - Italic", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
}