@font-face {
  font-family: 'Helvetica Neue';
  src: font-url('helvetica_neue/HelveticaNeue.eot');
  src: font-url('helvetica_neue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  font-url('helvetica_neue/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue - Medium';
  src: font-url('helvetica_neue/HelveticaNeueMedium.eot');
  src: font-url('helvetica_neue/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
  font-url('helvetica_neue/HelveticaNeueMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue - Bold';
  src: font-url('helvetica_neue/HelveticaNeueBold.eot');
  src: font-url('helvetica_neue/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
  font-url('helvetica_neue/HelveticaNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue - Italic';
  src: font-url('helvetica_neue/HelveticaNeueItalic.eot');
  src: font-url('helvetica_neue/HelveticaNeueItalic.eot?#iefix') format('embedded-opentype'),
  font-url('helvetica_neue/HelveticaNeueItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}