@font-face {
  font-family: 'icomoon';
  src: font-url('icomoon/icomoon.eot?ax0wyh');
  src: font-url('icomoon/icomoon.eot?ax0wyh#iefix') format('embedded-opentype'),
  font-url('icomoon/icomoon.ttf?ax0wyh') format('truetype'),
  font-url('icomoon/icomoon.woff?ax0wyh') format('woff'),
  font-url('icomoon/icomoon.svg?ax0wyh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach-file:before {
  content: "\e90a";
}

.icon-attach-photo:before {
  content: "\e912";
}

.icon-company-resource:before {
  content: "\e906";
}

.icon-download:before {
  content: "\e907";
}

.icon-export:before {
  content: "\e908";
}

.icon-fab-add:before {
  content: "\e90f";
}

.icon-fab-edit:before {
  content: "\e910";
}

.icon-fab-trash:before {
  content: "\e911";
}

.icon-favorite-star-fill:before {
  content: "\e900";
}

.icon-favorite-star-outline:before {
  content: "\e901";
}

.icon-help:before {
  content: "\e902";
}

.icon-resources-available:before {
  content: "\e913";
}

.icon-resources-expiring:before {
  content: "\e914";
}

.icon-resources-managed:before {
  content: "\e915";
}

.icon-resources-reallocated:before {
  content: "\e916";
}

.icon-resources-sold:before {
  content: "\e917";
}

.icon-share:before {
  content: "\e905";
}

.icon-upload:before {
  content: "\e909";
}

.icon-views-fill:before {
  content: "\e91a";
}

.icon-views-outline:before {
  content: "\e91b";
}
