/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2015 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: http://www.fontspring.com/licenses/exljbris/webfont
 *
 *
 */

@font-face {
  font-family: 'museo_slab_500';
  src: font-url('museo_slab_500/museo_slab_500.eot');
  src: font-url('museo_slab_500/museo_slab_500.eot?#iefix') format('embedded-opentype'),
  font-url('museo_slab_500/museo_slab_500.woff2') format('woff2'),
  font-url('museo_slab_500/museo_slab_500.woff') format('woff'),
  font-url('museo_slab_500/museo_slab_500.ttf') format('truetype'),
  font-url('museo_slab_500/museo_slab_500.svg#museo_slab500') format('svg');
  font-weight: normal;
  font-style: normal;
}
