// START: MATERIALIZE VARIABLES //


// Custom variables

$px-tn:   5px;  // tiny
$px-sm:   10px; // small
$px-mn:   15px; // mini
$px-md:   20px; // midi
$px-mx:   25px; // maxi
$px-lg:   30px; // large
$px-xl:   40px; // xlarge
$px-xxl:  50px; // xxlarge
$px-hg:   60px; // huge

$fs-tn:   11px;
$fs-sm:   12px;
$fs-mn:   14px;
$fs-base: 16px;
$fs-md:   18px;
$fs-mx:   20px;
$fs-lg:   22px;
$fs-xl:   30px;

//Tena Sizes
$h1-size: 22px;
$h2-size: 18px;
$h3-size: 22px;
$h4-size: 30px;
$h5-size: 18px;
$h6-size: 22px;

// Global

$global-font-size: 100%;
$global-width:    rem-calc(1200);
$lightest-gray:   #eff0ef;
$lighter-gray:    #d7d2c5;
$light-gray:      #a3a49e;
$medium-gray:     #9d9c94;
$dark-gray:       #65675e;
$darker-gray:     #2d2a26;
$grande:          #abcc00;
$black:           black;
$white:           white;
$primary:         #fd4f00;
$secondary:       #00b2d3;
$darker-primary:  #ff2721;
$success:         #2d8e2d;

//Tena Font Families
$base-font: Helvetica, Arial, serif;
$base-font-regular: "Helvetica Neue", Helvetica, Arial, serif;
$base-font-medium: "Helvetica Neue - Medium", Helvetica, Arial, serif;
$base-font-bold: "Helvetica Neue - Bold", Helvetica, Arial, serif;

$color-palette: (
  "primary":        $primary,
  "secondary":      $secondary,
  "darker-primary": $darker-primary,
  "success":        $success,
);

$primary-color: #484858;
$primary-color-dark: #33333C;
$font-color-blue: #009BEE;
$font-color-light-black: #33333C;
$font-color-dark-gray: #747684;
$font-color-light-green: #e6913e;
$font-color-red: #F9003A;
$font-color-orange: #E6913E;
$font-color-green: #6DAA00;
$font-color-dark-blue: #00557F;
$secondary-color: #3B98DF;

/*** Forms ***/
// Text Inputs + Textarea
$input-border-color: #979797;

/*** Navbar ***/
$navbar-height: 50px;
$navbar-font-color: #D3D1DB;

/*** Typography ***/
// Footer
$footer-bg-color: #686877;

// END: MATERIALIZE VARIABLES //
// START: CUSTOM VARIABLES //

$card-panel-heading-color: #00557F;

// END: CUSTOM VARIABLES //

@import "fonts";

// Mixins
// @import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables
@import "materialize/components/variables";
