@import "variables";


.newly_appended_pdfs {
  display:none;
}
.controller-assets, .controller-wanted-assets {
  &.action-new, &.action-create, &.action-edit, &.action-update {
    .type-equipment-only, .type-material-only,
    .action-for_sale-only, .action-for_rent-only,
    .private-only, .marketplace-only{
      display: none;
    }

    .maintenance_left {
        top: 0;
        left: 0px !important;
      }

    .inventory_left {
        top: 0;
        left: 12px !important;
    }

    .project-req{
      margin-left: 13px;
    }
    /* asset */
    .input-field > label{
      color: $light-gray;
      font-size: $fs-mn;
      font-family: $base-font-regular;
    }
    select > option:hover{
      color: #fff;
      font-size: $fs-mn;
      font-style: "regular";
    }
    #n-asset > a{
      color: $secondary;
      font-size: $fs-base;
      font-family: $base-font-regular;
    }
    .ast-btn-h{
      height: 35px;
      margin-top: 11px;
      line-height: 2.2rem;
    }
    .waves-effect.waves-light.btn {
      height: 35px;
      margin-top: 11px;
      line-height: 2.4rem;
    }
    [type="checkbox"]:checked + label:before{
      border-right: 2px solid $primary !important;
      border-bottom: 2px solid $primary !important;
    }
    abbr {
      color: $primary;
      text-decoration: none;
    }
    /* asset end*/
    .type-equipment .type-equipment-only,
    .action-for_sale .action-for_sale-only{
      display: block;
    }
    .type-material .type-material-only,
    .action-for_rent .action-for_rent-only{
      display: block;
    }

    .private .private-only{
      display: block
    }

    .marketplace .marketplace-only{
      display: block
    }

    .wanted-asset-needed-on {
      select {
        position: initial !important;
        pointer-events: all !important;
        height: 2rem;
        opacity: 1 !important;
      }
    }
  }

  .select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
  }
}

.tabs-no-overflow{
  overflow: hidden;
  .indicator{
    background-color: #f55f5f;
  }
}
  #tab-checklist {
    .card-panel:first-child {
    }
  }
  #tab-checklist {
    .card-panel:first-child {
    }
  }
  #tab-inventory{
      .card-panel:first-child {
        margin: 40px auto 0 auto;
      }
  }
  .inventory_title{
    font-size: $fs-base;font-weight: bold;color: #747684;
  }
  .flash-notice-rfid{
    /*position: absolute;*/
    z-index: 1;
    /*margin: 1px !important;*/
  }
  .inventory-save-list{
    font-size: $fs-base;
    float: right;
    color: #1f9bee;
    line-height: 45px;
    font-weight: bold;
  }
  .image_round{
    border-radius: 5px;
    float: left;
  }

  .font_size_13{
    font-size: 13px;
  }
  .panel-bdr{
      border-bottom: 1px solid #C6C6C6;
      padding: 4px;
  }
  .custom-l2{
      padding-left: 0px !important;
    }
  .margin_10{
    margin-left: 10px;
  }
  .contact_us_btn{
    letter-spacing: 0px;
    line-height: 25px;
    padding: 0 1rem;
    height: 34px;
    border: 3px solid #3B98DF;
    color: #3B98DF !important;
  }
   @media only screen and (max-width:500px){
    .remove_padding{
      padding: 0px !important;
    }
    .center-text{
      text-align: center;
    }
    .font_size_13{
      font-size: 15px;
    }
    .custom-l2{
      padding-left: 20px !important;
    }
    .margin_10{
      margin-left: 0px;
    }
  }

  @media only screen and (max-width:1200px){
    .custom-l2 {
       width: initial !important;
    }
    .custom-l8 {
    }
    .remove_padding{
      padding: 0px !important;
    }
    .margin_10{
      margin-left: 0px;
    }
    .custom-l8.remove_padding{
      width: initial;
    }
  }

   @media only screen and (max-width:980px){
  .scaned_tile{
     margin-top: -48px !important;
    }
  }
 .default_scanned_tile {
   background: #3fa00b;
   position: absolute;
   margin-top: -23px;
   opacity: 0.7;
   width: 100px;
   color: white;
   text-align: center;
   height: 22px;
   font-weight: bold;
 }
 [type="checkbox"].filled-in:checked + label:after {
    top: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid $primary !important;
    background-color: $primary !important;
    z-index: 0;
}
.inventory_hide_info {
  color: $primary;
  font-size: 12px;
  font-weight: 600;
}
.inventory-sort-form {
  float:right;
  top: -65px;
  position:relative;
}
.inventory-info-dropdown {
  box-shadow: none;
  border: none;
}
.inventory-expand-arrow {
  line-height: 50px !important;
}
.box-filter{
  box-shadow: none;
}
/* could be put in global.scss if needed for all sections */
.new-head{
  position: absolute;
  margin-top: 12px;
  margin-left: 20px;
  z-index: 1;
  width: 87%;
  @media #{$small-and-down} {
    margin-top: 10px;
    margin-left: 10px;
  }
}
.new-margin{
  margin-top: 45px;
}
.new-table-mg{
  margin-top: -2.5% !important;
}
.new-page-size-form{
  margin-right: 166px;
  margin-top: 51px;
  z-index: 1;
  @media #{$small-and-down} {
    margin-right: 10px;
    margin-top: 15px !important;
  }
}
#new-head >  h1{
  color: $darker-gray;
  font-size: $fs-lg;
  font-weight: bold;
  font-family: 'Helvetica Neue - Bold'
}
.new-action-caret{
  border: 1px solid #dadada;
  padding: 5px;
}
.dd1-caret,.sort-form > input {
  color: $darker-gray !important;
  font-size: 14px !important;
  font-family: $base-font-regular !important;
  font-weight: 500 !important;
}
[type="radio"]:checked + label:after {
  background-color: $primary !important;
  border: 2px solid $primary !important;
}
input[type="text"] {
  color: $darker-gray;
  font-size: 16px;
  font-family: $base-font-regular;
}
.parsley-required{
  font-family: $base-font-regular;
  color: $darker-primary;
  font-size: 12px;
}
.collection_radio_buttons {
  color: $darker-gray !important;
  font-size: $fs-mn;
  font-family: $base-font-medium;
}
.asset-types-set{
  width: 150px;
  height: 30px;
  border-right: 26px solid transparent;
  margin-left: -22px;
}
.ast-typ-mg{
  margin-top: -30px;
  margin-left: 21px;
}
.for_rent_at{
  border-top: 27px solid #39a53d;;
}
.rental_at{
  border-top: 27px solid #f7bb3b;;
}
.owned_at{
  border-top: 27px solid $primary;
}
.for_sale_at{
  border-top: 27px solid #b1d101;
}
#asset_sh_proj > div {
  color: $darker-gray !important;
  font-size: 18px !important;
  font-weight: bold !important;
  font-family: "Helvetica Neue - Bold" !important;
}
#asset_sh_grp > div {
  color: $darker-gray !important;
  font-size: 16px !important;
  font-family: $base-font-regular !important;
  font-weight: 500 !important;
}
.page-size-form:before{
  margin-right: -67px !important;
  line-height: 31px !important;
}
.page-size-form .select-wrapper .caret
{
  color: $primary;
  margin-right: 10px;
}
.page-size-form .select-wrapper input.select-dropdown
{
  border: none;
    color: black;
    margin-left: 16px;
    text-align: center;
}
.page-sz-frm{
  z-index: 1;
  border: 1px solid #dadada;
  width: 110px !important;
  height: 32px;
  margin-top: 58px;
  border-radius: 3px;

  &.groups-srt-page {
    margin-top: 3px;
  }
}

.page-size-form .select-wrapper{
  margin-top: -7px;
}
/* end could be put in global.scss if needed for all sections */
.collapsible {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
.chklist-not-in-asset {
  opacity: 0.7;
  width: 100px;
  color: white;
  text-align: center;
  background: #3fa00b;
  font-weight: bold;
}
.chklist-not-in-asset-title {
  font-size: $fs-mx;
  font-family: Arial, sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}
.chklist-not-in-asset-margin {
  margin-left: 40px;
}
.mass-panel-inventory{
  top: 15px;
  padding-top: 50px !important;
  @media #{$small-and-down} {
    top: 65px !important;
  }
}
.mass-action-position {
  position: static !important;
}
.assets-mass-action-form {
  position:relative !important;
  top:-34px !important;
  width:100% !important;
  left: 30px !important;
  @media #{$small-and-down} {
  /*top: -53px !important;*/
  }
}
.inventory-btn {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  @media (max-width: 360px) {
    margin-right: 0;
  }
}
.tabs {
  height: 60px;
  overflow-x: hidden;

  @media #{$medium-and-down} {
    overflow-x: auto;
  }

  .tab {
    height: 60px;
    line-height: 60px;
    a {
/*      font-weight: bold;
      font-size: 15px;
      letter-spacing: 0px;
      color: #8D8F9A;*/
      &.active, &:hover {
          color: $primary;
      }
    }
    min-width: 150px;
  }

  .indicator {
    height: 4px;
    background-color: $primary;
  }
}

.controller-assets {
  &.action-index , &.action-checklist , &.action-findit {
    #panel-list {
      // padding-top: 50px;
    }
    @media #{$medium-and-up} {
      .sm-screen-scan{
        display: none;
      }
    }

    #table-assets-inventory, #table-assets-checklist, #table-assets-checklist-not_found, #table-assets-checklist-found, #table-assets-checklist-just_scanned,#table-assets-checklist-not_in_list {
      margin-top: 10px;
    }
    .row.page-size {
      h1 {
        margin-bottom: 10px;
        &.without-border {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
          line-height: 45px;
        }
        @media #{$small-and-down} {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
          line-height: 45px;
        }
      }
    }
  }
  &.action-show, &.action-qr-scanning {
    .close-lnk {
      @media #{$small-and-down} {
        top: 10px;
      }
    }
    .card {
      min-height: 100px;
      height: auto;
      width: 100%;
    }

    .card-border {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16), 0 6px 6px 0 rgba(0, 0, 0, 0.12);
    }
    .tracking-ids > i {
      @media #{$small-and-down}{
        font-size: 17px;
      }
    }
    @media #{$small-and-down}{
      .qr-ccl-bt{
        margin-left: 100px !important;
      }
      .qr-upd-btn{
        float: right;
        right: -25px;
      }
    }
    .qr-ccl-bt{
      background: #f5f5f5;
      color: rgb(254, 31, 71);
    }
    .select2-selection__rendered {
      line-height: 40px !important;
    }
    .select2-container .select2-selection--single {
      height: 40px !important;
      border-radius: 0px;
    }
    .select2-selection__arrow {
      height: 40px !important;
    }
    .select2-selection__arrow b {
      border-width: 8px 8px 0px 8px !important;
      margin-left: -12px !important;
    }
    .red-icon i {
      color: black;
    }
    @media only screen and (min-width : 375px) and (max-width : 736px) {
      .t-capitalize{
        margin-left: -20px;
      }
    }
    @media only screen and (min-width : 320px) and (max-width : 374px) {
      .t-capitalize button{
        right: 7px !important;
        width: 80px;
        padding: 0 1.5rem !important;
      }
    }
    .main-panel-qr{
      top: -8px;
      height: auto;
      width: 110.5%;
      right: 5.2%;
    }
    .main-panel-qr div.thumb-cell{
      padding: 12px 0px 0px 18px;
    }
    .main-panel-qr .t-capitalize{
      padding-top: 15px;
    }
    @media #{$medium-and-up} {
      .t-capitalize button{
        right: 15px;
      }
    }
    .t-capitalize button{
      float:right;
    }
    @media only screen and (min-width : 1025px) and (max-width : 1600px) {
      .t-capitalize{
        margin-left: -31px;
      }
    }
    @media only screen and (min-width : 768px) and (max-width : 1023px) {
      .t-capitalize{
        margin-left: -145px;
      }
    }
    .select-project{
      margin-top: -15px;
    }
    .scan-qr-container{
      margin-top: -20px;
    }
    .mv-grp-select{
      margin-top: 0px;
    }
    .allocate-mg{
      margin: 10px;
    }
    .bt-rows{
      margin-top: -15px;
    }
    .qr-none {
      display: none;
    }
    .qr-back {
      float: right;
      text-decoration: underline;
    }
    .qr-tiles-1st{
      margin-top: -22px;
      padding: 12px 0px 0px 12px;
      cursor:pointer;
    }
    .qr-tiles{
      margin-top: -13px;
      padding: 12px 0px 0px 12px;
      cursor:pointer;
    }
    .qr-head{
      color: $primary;
      font-size: 22px;
    }
    .qr-subhn{
      color: #2d2a26;
      font-size: 16px;
    }
    @media #{$small-and-down}{
      #choose-one{
        width: 107%;
        margin-left: -12px;
      }
    }
    .qr-forward-icon{
      right: 0;
      bottom: 37px;
      position: absolute;
      color: $primary;
    }
    [type="checkbox"].filled-in:not(:checked) + label:after{
      height: 35px;
      width: 35px;
      background-color: transparent;
      border: 1px solid $primary;
      top: -8px;
      z-index: 0;
      border-radius: 0px;
      left: -10px;
    }
    [type="checkbox"].filled-in:checked + label:after{
      width: 35px;
      height: 35px;
      border: 1px solid $primary !important;
      background-color: $primary !important;
      z-index: 0;
      top: -7px;
      left: -10px;
    }
    [type="checkbox"].filled-in:checked + label:before{
      left: -2px;
    }
    #maintenance-div textarea {
      border: 2px solid #e5e5e5;
    }
    #maintenance-div textarea:focus {
      border: 2px solid $primary;
    }
    .equipment_maintenance label {
      margin-left: 10px;
      color: $primary;
      font-size: 20px;
      font-weight: 600;
    }
    .material_maintenance label {
      margin-left: 10px;
      color: $primary;
      font-size: 20px;
      font-weight: 600;
    }
    .equipment_notes label.active {
      display: none;
    }
    .material_notes label.active {
      display: none;
    }
    .panel-pull-right{
      float: right !important;
    }
    @media #{$medium-and-up} {
      .generic-rght{
        float: right;
        margin-right: 15px;
      }
    }
    .scan-qr-container {
      .row.header {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        #close-lnk {
          font-size: $fs-md;
        }
        h4 {
          color: #747685;
          font-size: 23px;
          display: inline;
        }
      }
      .waves-effect.waves-light.btn {
        text-transform: capitalize !important;
        display: block;
        margin: 25px;
        // font-size: 1px;
        // padding: 10px;
      }
      .btn-container {
        margin: 0 25px;
        text-transform: capitalize !important;
        button.waves-effect.waves-light.btn {
          text-transform: capitalize !important;
          margin-left: 0;
          margin-right: 0;
          width: 100%;
        }
      }
      .info-text {
        font-family: "Open Sans", sans-serif;
        font-size: $fs-mn;
        font-weight: 400;
        color: $font-color-light-green;
        padding-bottom: 5px;
      }
      .group-info-text {
        font-family: "Open Sans", sans-serif;
        font-size: $fs-mn;
        font-weight: 400;
        color: $font-color-dark-gray;
        padding-top: 5px;
        padding-bottom: 15px;
      }
      .group-sub-text {
        font-family: "Open Sans", sans-serif;
        font-size: $fs-mn;
        font-weight: 600;
        color: $font-color-blue;
      }
    }
  }
  &.action-new,&.action-edit{
      label.active{
      font-size: 12px;
    }
  }
}

.controller-wanted-assets {
  &.action-index, &.action.checklist &.action-findit {
    #table-assets {
      td {
        padding-bottom: 10px;
      }
      a {
        font-family: "Open Sans", sans-serif;
        color: #696978;
        p.status {
          color: #039be5;
          &.fulfilled {
            color: red;
            font-weight: 900;
          }
        }
        @media #{$medium-and-up} {
          .column-1 {
            width: 65%;
            float: left;
          }
          .column-2 {
            width: 35%;
            float: left;
          }
        }
      }
    }

    .priority{
      border-radius: 50%;
      width: 20px;
      text-align: center;
      color: white !important;
     }
    .high-clr{
      background: #ff0842;
    }
    .medium-clr{
      background: #ffc55c;
    }
    .low-clr{
      background: #6bd734;
    }

    @media only screen and (min-width : 768px) and (max-width : 1024px) {
      .prior-row{
        margin-left: -3.5% !important;
      }
    }
    .prior-row{
      margin-left: -7%;
      padding-top: 7px;
    }
  }

  &.action-new,&.action-edit {
    @media only screen and (min-width : 768px) and (max-width : 1024px) {
      .wanted_asset_description:before{
        top: 260%;
        right: 364px;
      }
    }
    @media only screen and (min-width : 320px) and (max-width : 600px) {
      top: -280%;
      right: 17px;
    }
    @media only screen and (min-width : 300px) and (max-width : 667px) {
      .form-actions-wanted button {
        width: 50%;
      }
    }
    @media #{$small-and-down}{
      .wanted_asset_priority span:first-child {
        padding-left: 0px !important;
      }
      .wanted_asset_priority span {
        padding-left: 30px;
      }
    }

    @media only screen and (min-width : 1024px){
      .wanted_asset_priority span:first-child {
        padding-left: 0px !important;
      }
      .wanted_asset_priority span {
        padding-left: 30px;
      }
    }

    label.active{
      color: #a3a49e;
      font-size: 12px;
    }
    label.collection_radio_buttons{
      color: #2d2a26 !important;
      font-size: 14px !important;
      font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif;
    }
  }
  .assets-header-action {
    color: $primary;
  }
  &.action-index {
    #filters .input-field label{
      line-height: 21px;
    }
    .selection-cell label{
      bottom: -5px;
    }
    .select-wrapper > a {
      border-radius: 0px !important;
    }
  }
}

.input-field label
{
  pointer-events: all !important;
}
span.my-public-asset{
  color: #F55F5F;
}

#assets-show, #wanted-assets-show {
  background-color: #FFF;

  main.container {
    max-width: 1120px;
  }

  main > .row {
    margin-top: 10px;
  }

  hr {
    height: 1px;
    border-width: 0;
    color: #d2d2d2;
    background-color: #d2d2d2;
    border-color: rgba(255, 255, 255, 0.25);
  }

  .asset_default {
    @include open-sans-semi-bold();
    font-size: 15px;
    color: $font-color-light-black;
  }

  .asset_light {
    @include open-sans-light();
    font-size: $fs-base;
    color: #464650;
  }

  .row-title {
    margin-bottom: 12px;
  }

  .asset_title {
    @include open-sans-semi-bold();
    font-size: 25px;
    color: $font-color-light-black;
    margin-bottom: 0;
  }

  .row-dates {
    margin-bottom: 20px;
  }

  .post_expires_on, .asset_created_at {
    font-size: $fs-mn;
    color: #646464;
  }

  .row-price {
    margin-bottom: 12px;
  }

  .asset-num {
    @include open-sans-semi-bold();
    font-size: $fs-base;
    color: $font-color-dark-gray;
  }
  .asset_price {
    @include open-sans-semi-bold();
    font-size: $fs-md;
    color: $font-color-dark-gray;
  }
  .market-value {
    @include open-sans-semi-bold();
    font-size: 25px;
    color: #484858;
    &.header-h2 {
      font-size: $fs-md;
      color: $font-color-dark-gray;
    }
  }

  .asset_project {
    @include open-sans-semi-bold();
    font-size: 15px;
    color: $font-color-light-black;
  }

  .asset_share_favorite {
    font-size: $fs-xl;
    line-height: 45px;

    a {
      padding-right: 10px;
    }

    i {
      font-size: $fs-xl;
      line-height: 45px;
      @media #{$small-and-down} {
        font-size: 25px;
      }
    }
  }

.asset_wanted_share_favorite  {
    font-size: $fs-xl;
    line-height: 45px;

    a {
      padding-right: 0px;
    }
 }

  .row-year {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  .asset_year_make_model {
    @include open-sans-semi-bold();
    font-size: 15px;
    color: $font-color-light-black;
  }

  .row-category {
    margin-bottom: 4px;
  }

  .row-available {
    margin-bottom: 16px;
  }

  .asset_available_on {
    font-size: $fs-mn;
    color: #808080;
  }

  .asset_views_favorites {
    font-size: $fs-mn;
    line-height: 16px;
    color: $font-color-dark-gray;

    i {
      font-size: $fs-base;
      @media #{$small-and-down} {
        font-size: $fs-mn;
      }
    }

    i.icon-company-resource {
      color: #f55f5f;
    }

    i.icon-views-fill {
      color: $font-color-dark-blue;
    }

    i.icon-favorite-star-fill {
      color: $font-color-dark-blue;
    }
  }

  .row-contact {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .row-description {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .row-tags {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .row-buttons {
    form {
      display: inline-block;
    }

    .reallocate-wrapper {
      display: inline-block;
      margin-top: 1rem;
    }
  }

  .scan-qr-container {
    .row.header {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      #close-lnk {
        font-size: $fs-md;
      }
      h4 {
        color: #747685;
        font-size: 23px;
        display: inline;
      }
    }

    .waves-effect.waves-light.btn {
      display: block;
      text-transform: capitalize !important;
      margin: 25px;
      // font-size: 1px;
      // padding: 10px;
    }
    .btn-container {
      margin: 0 25px;
      button.waves-effect.waves-light.btn {
        margin-left: 0;
        text-transform: capitalize !important;
        margin-right: 0;
        width: 100%;
      }
    }
    .info-text {
      font-family: "Open Sans", sans-serif;
      font-size: $fs-mn;
      font-weight: 400;
      color: $font-color-light-green;
      padding-bottom: 5px;
    }
    .group-info-text {
      font-family: "Open Sans", sans-serif;
      font-size: $fs-mn;
      font-weight: 400;
      color: $font-color-dark-gray;
      padding-top: 5px;
      padding-bottom: 15px;
    }
    .group-sub-text {
      font-family: "Open Sans", sans-serif;
      font-size: $fs-mn;
      font-weight: 600;
      color: $font-color-blue;
    }
  }
}
.action-form {
  position: absolute;
  top: 16px;
  left: 55px;

  width: 100px;

  &.wantedPost-from {
    top: 56px;
    left: 50px;
    width: 100px;
  }

  @media #{$small-and-down} {
/*    top: -3px;
    left: 30px;*/
  }

  span.caret {
    position: relative;
    margin-left: 10px;
    top: -1px !important;
  }
}
// .sort-by-date-on-sold > form{
//   position: initial !important;
//   float: right !important;
// }

.sort-form {
  position: absolute;
  top: 6px;
  right: 35px;

  width: 115px;

  &.srch-name {
    top: 53px;
    right: 35px;
  }
  @media #{$small-and-down} {
    top: 4px;
    /*right: 0;*/
  }

  /*.select-dropdown {
    @include open-sans-semi-bold();
    border-bottom: none !important;
    font-size: 16px !important;
    color: $font-color-light-black !important;
  }*/
}

.status {
  @include open-sans();
  margin-bottom: 0;
  color: $font-color-dark-gray;
  font-size: 12px;

  &.available {
    @include open-sans-semi-bold();
    color: $font-color-blue;
    font-size: $fs-mn;
  }
  &.sold {
    @include open-sans-semi-bold();
    color: $font-color-red;
    font-size: $fs-mn;
  }
}

#assets-index {
  #table-assets {
    // margin-top: -10px;
    tr:first-child {
      border-top: 1px solid #C6C6C6;
    }
  }
  .category-filters .select2-selection__arrow{
    display:none !important;
  }
}

#table-assets, #table-assets-inventory, #table-assets-checklist,
#table-assets-checklist-not_found, #table-assets-checklist-found,
#table-assets-checklist-just_scanned, #table-assets-checklist-not_in_list {

  tr {
    &:first-child {
      td {
        padding-top: 10px;
      }
    }
  }

  td {
    border-top: 1px solid #C6C6C6 !important;
    padding-bottom: 0;

    &:last-child {
      position: relative;
      padding-left: 0;
    }

    .row {
      margin-bottom: 10px;
    }

    &.selection-cell {
      width: 30px;
      padding-right: 10px;
      vertical-align: top;
      @media #{$small-and-down} {
        vertical-align: top;
        padding-top: 20px !important;
      }
    }

    &.thumb-cell {
      padding-left: 0;
      padding-right: 10px;
      width: 110px;
      position: relative;
      .asset-type {
        position: absolute;
        left: 0;
        top: 10px;
        width: 66px;
        height: 0;
        border-top: 20px solid red;
        border-right: 12px solid transparent;
        z-index: 3;
        &:after {
          position: absolute;
          top: -20px;
          left: 3px;
          color: white;
          font-size: 12px;
          line-height: 20px;
          @include helvetica_neue();
        }
        &.rental {
          border-top-color: #f7bb3b;


          &:after {
            content: 'Rental';
          }
        }
        &.owned {
          border-top-color: $primary;


          &:after {
            content: 'Owned';
          }
        }
        &.for_sale {
          border-top-color: #b1d200;
          &.ours {
            border-top-color: #b1d101;
          }
          &:after {
            content: 'For Sale';
          }
        }

        &.for_rent {
          border-top-color: #3aa33a;
          &.ours {
            border-top-color: #39a53d;
          }
          &:after {
            content: 'For Rent';
          }
        }
      }
    }
    &:last-child {
      position: relative;
      padding-left: 0;
    }
    border-bottom: 1px solid #C6C6C6;
    //padding: 5px;
  }

  .right-section {
    @media #{$medium-and-up} {
      text-align: right;
    }
    @media #{$small-and-down} {
      text-align: left;
    }
  }

 /* .title {
    margin-bottom: 1px;
    @media #{$medium-and-up} {
      max-width: calc(100% - 150px);
      text-overflow: ellipsis;
    }
  } */

  .left-item {
    max-width: calc(100% - 150px);
    text-overflow: ellipsis;
  }


  .public-price {
    font-size: 17px;
    color: $font-color-light-black;
    padding-bottom: 8px;
  }

  .make-model {
    color: $secondary-color;
    @media #{$medium-and-up} {
      font-size: 15px;
      max-width: calc(100% - 160px);
      text-overflow: ellipsis;
    }
    @media #{$small-and-down} {
      font-size: 13px;
      max-width: calc(100% - 60px);
      text-overflow: ellipsis;
    }
  }

  .asset-icons {
    @media #{$medium-and-up} {
      margin-top: 20px;
    }

    display: inline-flex;
    justify-content: center;
    text-align: right;
    &.marketplace {
      top: 10px;
    }
    i.qr-code-icon {
      line-height: 25px;
      @media #{$small-and-down} {
        font-size: $fs-mx;
      }
      font-size: 25px;
      margin-right: 5px;
    }
    i.wrench-icon-devices {
      @media #{$small-and-down} {
        font-size: $fs-mx;
      }
      color: $font-color-orange;
      font-size: 25px;
      margin-right: 5px;
    }
  }
  .maintenance_list_div {
    font-size: 14px;
    color: $font-color-light-black;
  }
  i.wrench-icon-devices {
    @media #{$small-and-down} {
      font-size: $fs-mx;
    }
    color: $font-color-orange;
    font-size: 25px;
  }

  .category, .available_on, .project, .location, .description, .name, .email, .phone {
    font-size: 13px;
    color: $font-color-dark-gray;
  }

  .status {
    margin-bottom: 0;
    font-size: 13px;
    color: $font-color-dark-gray;

    &.available, &.wanted {
      font-size: $fs-mn;
      @include open-sans-semi-bold();
      color: $font-color-blue;
    }
    &.sold {
      font-size: $fs-mn;
      @include open-sans-semi-bold();
      color: $font-color-red;
    }
  }

  .status-text {
    &.expiring {
      color: $font-color-orange;
    }
    &.in-use {
      @media #{$small-and-down} {
        font-size: 12px !important;
      }
      /*color: $font-color-dark-blue; */
    }
    &.sold {
      color: $font-color-red;
      font-weight: bold;
    }
    &.expired {
      color: $font-color-red;
      font-weight: bold;
    }
    /*&.available {
      color: $font-color-blue;
      font-weight: bold;
    }*/

    //TODO adjust for small screens
    //@media #{$small-and-down} {
    //  top: auto !important;
    //  bottom: 5px !important;
    //  right: auto !important;
    //  left: -115px !important;
    //  position: absolute;
    //}
  }

  .marketplace.location {
    position: absolute;
    bottom: 28px;
    right: 5px;
    @media #{$small-and-down} {
      position: static;
      bottom: auto;
      right: auto;
    }
  }

  .date_posted {
    // right: 5px;
    font-size: 10px;
    color: $font-color-dark-gray;
  }

  .in-use-until {
    right: 5px;
    @media #{$medium-and-up} {
      position: absolute;
      font-size: 13px;
      bottom: 28px;
    }
    @media #{$small-and-down} {
      font-size: 11px;
      bottom: 20px;
    }
    color: $secondary-color;
  }

  .photo_wrapper {
    position: relative;
    @media #{$medium-and-down} {
      padding-bottom: 25px;
    }
    img {
      display: block;
    }

    .photo-badge {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .available_on {
    @media #{$medium-and-up} {
      position: absolute;
    }
    right: 5px;
    top: 10px;
  }
  .name {
    @media #{$medium-and-up} {
      position: absolute;
    }
    right: 5px;
    top: 50px;
  }
  .email {
    @media #{$medium-and-up} {
      position: absolute;
    }
    right: 5px;
    top: 30px;
  }
  .phone {
    @media #{$medium-and-up} {
      position: absolute;
    }
    right: 5px;
    top: 70px;
  }
  .fulfilled-date {
    @media #{$medium-and-up} {
      position: absolute;
    }
    right: 5px;
    top: 80px;
  }
  .description {
    @media #{$medium-and-up} {
      max-width: calc(100% - 150px);
      text-overflow: ellipsis;
    }
  }
}

.delete-bin {
  color: #F9003A;
}

.green-icon {
  i {
    color: #6DAA00;
  }
}
.red-icon {
  i {
    color: #ff2721;
  }
}
.tracking-ids {
  display: inline-flex;
  i.qr-icon {
    font-size: 33px;
  }
  i {
    font-size: $fs-xl;
  }
}

.token-id-row {
  margin-bottom: 0 !important;
  height: 40px;
  justify-content: center;
  display: flex;
}
.token-id-row:nth-child(odd) {
  background-color: #f2f2f2;
}
.tracking-content {
  max-height: 300px;
  min-heigh: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-fixed-footer {
  .alternate-option {
    padding-left: 7px;
    padding-right: 7px;
    font-size: $fs-mn;
    @media #{$small-and-down} {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
    }
  }

  .select-dropdown {
    max-height: 390px;
    @media #{$small-and-down} {
      max-height: 245px;
    }
  }

  .dropdown-content li {
    line-height: 15px;
    min-height: 15px;
    span {
      line-height: 15px;
      padding: 10px 10px;
    }
  }

  .spacing {
    margin-left: 5px !important;
  }

  .no-scrollbar {
    overflow-y: hidden !important;
  }
}

.price-not-set {
  color: $font-color-red !important;
  // font-size: $fs-base;
}

.asset-thumbnail > img {
  display: block;
}

.mark-form {
  display: inline;
  cursor: pointer;
}

.swiper-container {
  margin: 0;
}

.static-map-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}

.image_preview {
  padding: 15px 0.75em 0 0.75em;
  width: 25%;
  float: left;
}

.file-field {
  i {
    font-size: 1.5em;
  }
}

.destroy-file {
  position: absolute;
  z-index: 100;
}

.image_preview {
  .destroy-file {
    top: 8px;
    right: 4px;
  }
}

.pdf_preview {
  .destroy-file {
    top: 2px;
    right: 0;
  }
}

.pdf-link {
  max-width: 200px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.asset-select-wrapper {
  position: absolute;
  top: 17px;

  @media #{$small-and-down} {
    top: -2px;
  }
}

.green-icon {
  color: $font-color-green;
}

.red-icon {
  color: $font-color-red;
}

.qr-code {
  width: 40px;
  height: 40px;
  display: inline-block;
  img {
    opacity: 0.6;
  }
  &.green-back {
    background-color: green;
  }
  &.red-back {
    background-color: red;
  }
}

#assets-edit {
  .form-actions {
    a, button {
      margin-bottom: 20px;
      margin-left: 15px;
    }
  }
}

.select-project,
.select-group {
  label {
    display: none;
  }
}

.reallocate-select {
  min-width: 100%;
}

.quantity-unit {
  @include open-sans-semi-bold();
  font-size: $fs-base;
  color: $font-color-dark-gray;
}

#assets-show {
  .analytics-tabs {
    ul.tabs{
      right: 20px;
    }
    .tabs {
      margin: 0;
    }
    hr {
      margin-bottom: 10px;
    }
  }
  .show-exp-btn {
    position: absolute;
    right: 0;
    margin-top: 68px;
  }
  @media only screen and (min-width : 768px) and (max-width : 1024px) {
    ul.tabs li {
      min-width: 86px;
    }
    .analytics-tabs ul.tabs{
      overflow: hidden;
    }
  }
  @media #{$medium-and-up} {
    .analytics-tabs ul.tabs {
      width: 67% !important;
    }
  }
  @media #{$small-and-down} {
    ul.tabs {
      width: 100%;
      right: 20px;
    }
    ul.tabs li {
      min-width: 0px;
    }
  }
  .tracking-ids i {
    line-height: 36px;
  }

  .asset-type {
    color: $card-panel-heading-color;
    font-size: 12px;
    @include helvetica_neue_bold();
    &.not-ours {
      color: $font-color-orange;
    }
    &.sale {
      @media #{$small-and-down} {
        font-size: 9px;
      }
      &.ours {
        color: $card-panel-heading-color;
      }
      color: $font-color-orange;
    }
    i {
      @media #{$small-and-down} {
        font-size: $fs-mx;
      }
      font-size: 25px;
      margin-right: 5px;
    }
    &.owned {
      @media #{$small-and-down} {
        font-size: 10px;
      }
      i {
        @media #{$small-and-down} {
          font-size: $fs-mx;
        }
      }
    }
    &.rental {
      @media #{$small-and-down} {
        font-size: 9px;
      }
      color: $font-color-orange;
    }
  }
}

/*Adding standardized styles according to guide*/
.body-text1 {
  font-family: 'Open Sans', sans-serif;
  font-size: $fs-mn;
  color: black;
}

.body-text15 {
  @include open-sans-semi-bold();
  font-size: 13px;
  color: $font-color-dark-blue;
}

.header-h3b {
  @include open-sans-semi-bold();
  font-size: 15px;
  color: $font-color-light-black;
}
.show-modal-hg{
  height: 205px;
  overflow: hidden;
  @media #{$small-and-down} {
    height: 265px;
  }
}
.track-id-pos{
  margin-left: 50px;
  position: absolute;
  margin-top: -25px;
  color: $primary;
}

.links-li1 {
  @include open-sans-semi-bold();
  font-size: $fs-mn;
  color: $font-color-blue;
}

.links-li2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight:400;
  color: $font-color-blue;
  @media #{$small-and-down} {
    font-size: $fs-mn;
  }
}

.links-li3 {
  @include open-sans-semi-bold();
  font-size: 10px;
  color: $font-color-blue;
}

.body-text-bt6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: $font-color-dark-gray;
}

.icons-ic9 {
  text-align: right;
  a {
    color: $font-color-blue;
  }
}

.asset-bread-crumb {
  font-size: $fs-base;
  padding: 12px 0;
}

.asset-bread-crumb + .row,
.asset-bread-crumb + .card-panel {
  margin-top: 5px !important;
}

#assets-index {
  .modal-content {
    .select-label2 {
      color: #747684;
      font-size: 12px;
      margin-bottom: -1px;
    }
  }
}

.asset-filter-header {
  border-bottom: 1px solid #C6C6C6;
  padding: 5px 5px;
}
.asset-header-i{
  padding-top: 18px;
}
.asset-filter-container {
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 0px !important;
}
.asset-filter-content {
  background-color: #f1f2f1;
  padding: 10px;
}

.search-filters-form{
  margin: inherit ;
}

#marketplace-index {
  .filters-label {
    color: #33333C;
    /*font-weight: bold;*/
  }
}

.filters-label{
  color: #747684;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.model-year, .filter-hrs-mls{
  margin-top: 0px;
}
#slider-price-range{
  margin: 0px 10px 0px 10px;
}
.marketplace-filters{
  padding-left: 20px;
}
.collapsible li.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  padding-bottom: 18px;
  padding-top: 0px;
}
#slider-price-range-wrapper{
  padding: 20px;
}
#price-range-heading{
  padding-top: 10px;
  padding-bottom: 10px;
}
#non-collapsible-wrapper{
  padding-left: 10px;
  padding-right: 10px;
}
.range-label{
  display: none;
}

/*.history-title {
  font-weight: 400;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
} */
.history-title{
  color: $darker-gray;
  font-size: $fs-lg;
  font-weight: bold;
  font-family: "Helvetica Neue - Bold";
}

.hidden {
  display: none;
}

.history-row {
  position: relative;
  .download-link {
    position: absolute;
    font-weight: bold;
    font-size: $fs-base;
    letter-spacing: 2px !important;
    right: 50px;
    top: 50px;
  }
}

.hide-filters{
  display: none !important;
}

.rental-text {
  font-weight: 400;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: $font-color-orange;
}

#add-id {
  min-height: 200px;
  h4 {
    text-align: left;
  }
  #asset_token {
    padding: 5px 0;
  }
  .asset_token_type {
    margin-top: 30px;
  }
  .modal-close.btn{
    float: left;
    margin-top: 10px;
  }
  .modal-content {
    .disabled {
      pointer-events: none;
      cursor: default;
    }
  }
  .remove_field {
    margin-top: 16px;
  }
}
.modal-cancel-bt{
  color: $primary;
  float: right;
  margin: 19px;
}
.mass-act-btns{
  float:right;
  margin-right: 12px;
  margin-top: 20px;
}
.Select-control {
  height: 3rem;
  .Select-value {
    line-height: 3rem;
  }
}
.Select-input {
  height: 3rem;
}
.Select-placeholder, :not(.Select--multi) > .Select-control .Select-value {
  line-height: 3rem;
}
.rule-table {
  display: table;
}
.rule-row {
  display: table-row;
}
.rule-cell {
  display: table-cell;
  vertical-align: middle;
  .waves-effect {
    z-index: auto;
  }
  .btn {
    text-transform: capitalize !important;
    line-height: 30px;
    height: 30px;
    padding: 0 0.8rem;
    i.left {
      margin-right: 0;
    }
  }

  .btn-floating {
    padding: 0;
    width: 30px;
    i {
      font-size: $fs-mx;
      line-height: 30px;
    }
  }
  .analytics-padding {
    @media #{$small-and-down} {
      padding-top: 15px !important;
    }
  }
}

.flow-rules-group {
  width: 100%;
  padding: 10px 0;
  .flow-rule {
    .flowform {
      width: auto;
      .row {
        margin: 0;
      }
    }

    .rule-legend {
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 60px;

      .rule-number {
        display: inline-block;
        padding: 3px 6px 7px 6px;
        width: 24px;
        height: 24px;
        font-size: 10px;
        font-weight: 600;
        color: #999;
        border: 2px solid #b1b7ba;
        border-radius: 100%;
        position: absolute;
        top: 10px;
        left: 15px;
      }

      .number-line-element {
        position: absolute;
        right: 5px;
        top: 0;
        padding-top: 34%;
        left: 78%;
        border-bottom: 1px solid #b1b7ba;
      }
    }
  }
}
.rule-divider {
  position: relative;
  text-align: center;
  width: 60px;

  &.rule-divider-or {
    padding: 12px 0;
  }

  &.rule-divider-and {
    padding: 6px 0;

    .divider-line-element {
      border-left: 1px solid #b1b7ba;
      position: absolute;
      top: -3px;
      bottom: -3px;
      left: 50%;
      right: 0;
    }
  }

  .divider-word {
    color: #5F6C72;
    background-color: #fff;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 4px 0;
    position: relative;
    text-transform: uppercase;
  }
}

.dummy-push {
  position: relative;
  width: 60px;
  height: 45px;
  .bend-line-element {
    position: absolute;
    top: -3px;
    right: 10px;
    height: 31px;
    left: 50%;
    border: 1px solid #b1b7ba;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 3px;
  }

  .button.flat {
    background-color: #eef0f2;
    color: #354147;
    border-color: transparent;
    cursor: pointer;
  }
}

.add-filter-button {
  padding-top: 12px;
  padding-left: 12px;
}

.analytics-tabs {
  i {
    font-size: 40px;
  }
}

#scatter-icon {
  svg {
    width: 45px;
    height: 40px;
    fill: #484858;
  }
  &.active {
    svg {
      fill: #009BEE;
    }
  }
}

.hide-filters {
  display: none !important;
}

.qr-wrench-icon {
  position: relative;
}

.qr-wrench-icon:before {
  content: "\f0ad";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: $font-color-orange;
  font-size: $fs-mx;
  padding-right: 0.5em;
  position: absolute;
  left: 180px;
}

.wrench-icon {
  position: relative;
}

.wrench-icon:before {
  content: "\f0ad";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: $font-color-orange;
  font-size: $fs-mx;
  padding-right: 0.5em;
  position: absolute;
  left: 140px;
  bottom: -16px
}

.wrench-icon-bold {
  position: relative;
}

.wrench-icon-bold:before {
  content: "\f0ad";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: $font-color-orange;
  font-size: 25px;
  padding-right: 0.5em;
  position: absolute;
  left: 150px;
  top: -7px;
}

.disable-content{
  pointer-events: none;
  opacity: 0.4;
}

.Select-menu-outer {
  max-height: 1000px;
}

.Select-menu {
  max-height: 998px;
}

.reallocate-action-btn {
  float: right;
}
.lnkReinite{
  display:flex !important;
  font-size:12px;
}
.lnkReinite > i {
  font-size:13px !important;
  margin-right:4px;
  margin-top:1px;
}
.txtUsername {
  font-weight:700;
}
.txtUserInfo > span {
  font-weight:100;
}
.modalDeletingUser {
  padding: 24px 24px 1px 24px !important;
}
.btnCancel {
  background: #fff;
  color: #13a2ef;
  border: 1px solid #ccc;
  float: none !important;
  margin: 0px !important;
  margin-right: 15px !important;
}
.btnDelete {
  background:#fa0342;
}
.btnDelete:hover {
  background:#fa0342;
}
.btnCancel:hover {
  background: #13a2ef;
  color: #fff;
}
.delete-confirms {
  width:30%;
}
.buttonGroups {
  text-align:center;
}
.tracking-icon{
  cursor: pointer;
}

.asset_price{
  color: #3A3A44 !important;
}

.asset_price_thirty_days{
  @include open-sans-semi-bold();
  font-size: $fs-mn;
  color: $font-color-dark-gray;
}

.link-export-btn {
  top: -10px !important;
}

.export-btn {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 12px;
}

.upload-csv-file i {
  font-size: $fs-mx;
}

.linkified-notes {
  p {
    overflow-y: hidden;
    padding: 1.6rem 0;
    margin-top: -20px;
    padding-bottom: 48px;
    min-height: 3rem;
    border-bottom: 1px solid #979797;
    width:100%;
    word-wrap:break-word;
    display: inline-block;
  }
}

.linkified-notes {
  margin-bottom: 19px !important;
}

.action_border{
  padding: 8px;
    border: 1px solid #dadada;
    border-radius: 3px;
}

.new-margin-action{
  margin-top: 43px;
}

.select-wrapper input.select-dropdown{
    padding-left: 6px;
    /*border: 1px solid #dadada;*/
    border-radius: 3px;
}


#action-dropdown{
  .dropdown-content li > a{
    color: $primary;
  }
}

.right-float-align{
  float: right !important;
}
.btn-cancl-align{
  background:transparent !important;
  color: $primary !important;
  font-weight: 500 !important;
}
@media only screen and (min-width : 1023px) and (max-width : 1600px) {
  .asset-detail-tab  ul {
    width: 66% !important;
    overflow: hidden;
  }
  .asset-detail-tab  ul > li{
    min-width: 126px !important;
  }
  .controller-assets .show-exp-btn{
    position: absolute;
    right: 0;
    margin-top: 41px;
  }
  .take-align-right{
    text-align: right;
  }
  .controller-assets.action-index .page-sz-frm{
    margin-top: 58px !important;
  }
}
@media only screen and (min-width : 601px) and (max-width : 1023px) {
  .small_left_align {
    text-align: left;
  }
  .controller-assets.action-index {
    .group-srt-name{
      margin-top: 46px;
    }
    div.select-wrapper.dd1-caret > input {
      //top: 7px;
    }
  }
}
@media only screen and (min-width : 600px) and (max-width : 1023px) {
  .asset-detail-tab  ul {
    width: 84% !important;
    overflow: hidden;
  }
  .asset-detail-tab  ul > li{
    min-width: 100px !important;
  }
  .controller-assets .show-exp-btn{
    position: absolute;
    margin-top: 108px;
    margin-left: 17px;
  }
  .controller-assets div.row.analytics-tabs #table-view{
    margin-top: 25px;
  }
  .take-align-right{
    text-align: right;
  }
}
@media only screen and (min-width : 300px) and (max-width : 601px) {
  .asset-detail-tab  ul > li{
    min-width: 50px !important;
  }
  .show-exp-btn{ display: none;}
  .small_left_align {
    text-align: left;
  }
}
.controller-assets, .controller-projects {
  ul.dropdown-content li > a {
    color: $primary;
  }
}
.DefaultLogo {
  width:4%;
}
@media #{$small-and-down} {
  .controller-assets.action-index {
    .assets-srt-page {
      right: -9px;
    }
    .sort-form{
      right: 0;
    }
    table.new-table-mg{
      margin-top: -5.5% !important;
    }
  }
}
.controller-assets .action-index{
  #table-assets{
    margin-top: -2% !important;
  }
}



#projects-index .select-wrapper input.select-dropdown{
  margin: 0;
    // margin-left: 10px !important;
}


.link_float_right
{
    float: right;
    margin-top: -30px;
    font-size: 16px;
}

.anylytics_date label {
  color: #a3a49e !important;
}


.btn-small
{
  width: 24px;
    height: 24px;
    line-height: 24px;
    box-shadow: none !important;
}

.asset-site-dropdown {
  margin-top: 0px;
}
.controller-assets{
  .filter_search_category:after{
  width: 0;
      height: 0;
      border-left: 5.5px solid transparent;
      border-right: 5.5px solid transparent;
      border-top: 7.5px solid $primary;
      position: absolute;
      top: 44%;
      right: 17px;
      content: "";
      z-index: 98;
    }
   .filter_search_distance_miles select {
     -webkit-appearance: none;
      opacity: 1;
      opacity: 1;
      position: absolute;
      pointer-events: all;
      height: initial;
      top: initial;
      left: inherit;
      width: initial;
   }
}


.filter_search_category:after{
width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    position: absolute;
    top: 44%;
    right: 17px;
    content: "";
    z-index: 98;
}
#assets_filter_form_container {
  align-items: normal;
}

#reallocate-asset-mass-action {
  padding-top: 50px;
  width: 400px;
  @media #{$small-and-down} {
    margin-left: -10px;
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel{
    display: none;
  }
}

  #move_to_assets_modal > .modal-content {
    padding: 38px 45px 0px 45px;
  }
  .assestHr {
    border: 1px solid rgba(204, 204, 204, 0.81);
  }
  #move_to_assets_modal > .modal-content > p {
    color: $primary;
    font-weight: 500;
  }
  #move_to_assets_modal {
    background: rgb(241, 241, 241);
  }
  .inventoryModal-footer {
        background: #f1f1f1 !important;
        border-top:none !important;
        padding: 0px 45px 8px 0px !important;
  }
  .txtmoveinventory {
    font-size: 17px;
    color: #000 !important;
  }
  .asset_list_inventory {
    float:left;
    width:100%;
    overflow-y: auto;
    height: 260px;
          border: 1px solid rgba(142, 140, 140, 0.74);
      padding-top: 8px;
      background: #fff;
  }
  .margin-right{
    margin-right: 16px;
      }
  .text_black{
      padding: 11px;
    color: black;
  }
  .text_black:hover{
    padding: 11px;
    color: #9a9898;
  }
  .asset_title_move{
    margin: -7px;
  }
.assetsInvTbl tr {
  border-bottom: 1px solid #ccc;
}
.inv-thumb-cell {
  vertical-align: top;
}
.btnFileInput {
  background: #fff !important;
  color: #ccc;
  padding: 18px 39px 17px 39px;
  height: 82px;
  font-size: 28px !important;
  margin-top: 25px;
  margin-left: 6px;
  border: 1px solid;
  border-style: dashed;
  margin-bottom: 17px;
}
.txtaddassets {
  font-size: 17px;
  color: #969494;
  position: relative;
  top: 4px;
  left: 19px;
}
.assetsInvTbl tr:nth-child(1){
  border-top:1px solid #ccc;
}
.invMoveTo {
  margin-bottom: -32px;
  padding: 18px 0px 0px 0px;
  background: #ff3500;
  color: #fff !important;
  margin-top: 6px;
}
.btnbackinv {
  color:#fff;
  text-decoration: none !important;
  position: relative;
  top:-9px;
}
.txtmoveto {
  position: relative;
  top: -4px;
}

.iconpurple{
    color: #d00051;
}
.textcolorpurple{
    color: #d00051;
}
.statusdiv{
    text-align: center;
}
.counterr {
        margin-top: -203px;
}
#myform {
  text-align: center !important;
  padding: 5px !important;
  border: 1px dotted #ccc !important;
  margin: 2% !important;
}
.qty {
  border-radius: 55% !important;
  width: 107px !important;
  height: 96px !important;
  text-align: center !important;
  border: 2px solid $primary !important;
  margin-top: -4px !important;
  font-size: 45px !important;
  box-shadow: 0px 0px 0px black !important;
  -ms-transform: translateY(22%) !important;
  -webkit-transform: -webkit-translateY(22%) !important;
  -moz-transform: translateY(22%) !important;
  -o-transform: translateY(22%) !important;
  transform: translateY(22%) !important;
  z-index: 1000;
  position: relative;
  display: inline-block;

}
input.qtyplus {
  position: relative !important;
  top: 168px !important;
  background: none !important;
  border: none !important;
  font-size: 29px !important;
  font-weight: 700 !important;
  color: $primary !important;
  transform: translateX(38px);
}
input.qtyminus {
  position: relative !important;
  top: 41px !important;
  background: none !important;
  border: none !important;
  font-size: 35px !important;
  font-weight: 700 !important;
  color: #9a9a9a !important;
  transform: translateX(38px);
}
input.qtyplus:focus{
  outline: none !important;
}
input.qtyminus:focus{
  outline: none !important;
}
.upperCircle {
  width: 111px !important;
  height: 161px !important;
  border-top-left-radius: 45% !important;
  border-top-right-radius: 45% !important;
  border-bottom-left-radius: 45% !important;
  border-bottom-right-radius: 45% !important;
  position: relative !important;
  top: 178px !important;
  border: 2px solid #eaeaea !important;
  background: #ffffff !important;
  box-shadow: 0px -2px 7px black !important;
}
input[type=number]{
  position: relative;
  top: 12px;
}
.transferLower{
  transform: translateY(47%) !important;
  -ms-transform: translateY(47%) !important;
  -webkit-transform: -webkit-translateY(47%) !important;
  -moz-transform: translateY(47%) !important;
  -o-transform: translateY(47%) !important;
  transition: 1s !important;
  background: white !important;
  z-index: 996;
  position: relative;
  display: inline-block;

}
.transferUpper {
  -ms-transform: translateY(0%) !important;
  -webkit-transform: -webkit-translateY(0%) !important;
  -moz-transform: translateY(0%) !important;
  -o-transform: translateY(0%) !important;
  transform: translateY(0%) !important;
  transition: 1s !important;
  background: white !important;
  z-index: 996;
  position: relative;
  display: inline-block;

}
.upperCirclebG{
  background: $primary !important;
  box-shadow: 0px 2px 7px 0px black !important;
  border: 1px solid #656464 !important;
}
.text-white {
  color: #fff;
}
.footerBtns {
  margin-bottom: 40px;
  margin-top: 30px;
}
.btnCancels {
  background: none;
  border: 1px solid #cccccc;
  font-size: 20px;
  padding: 9px 28px;
  color: $primary;
}
.btnSave {
  background: $primary;
  border: 1px solid #ffffff;
  font-size: 20px;
  padding: 9px 28px;
  color: #fff;
  margin-top: -9px;
  float: right;
}
.btntoAdd  {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 900;
  color: #000;
  margin: 0;
  padding: 0;
}
.btntoSub {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 900;
  color: #000;
  margin-top: 20px;
  padding: 0;
}
.switchbtnrow {
  margin-top: 30px;
  margin-left: -42px !important;
}
.manageInv p.leftheading {
  font-size: 20px;
  color: #9e9e9e;
  text-align: left;
}
.leftheadingqr{
  font-family: "Helvetica Neue", Helvetica, Arial, serif !important;
  font-size: 20px;
  color: #9e9e9e;
  text-align: left;
  margin-bottom: 0px !important;
}
.btnback {
  float: right;
  font-size: 17px;
  text-decoration: underline;
  margin: 4px 0px;
}
.card-panel-mob {
  margin: 18px auto 0 auto;
}
.txtassets {
  font-size: 20px;
}
.txtcurrent {
  font-size: 18px;
}
.txtnew{
  font-size: 18px;
  float: right !important;
  position: relative;
  margin-right: -11px;
}
@media screen and (max-width: 320px) {
  .counterr {
    margin-left: -19px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  .counterr {
    margin-left: -10px;
  }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
  .counterr {
    margin-left: 0px;
  }
}
@media screen and (min-width: 540px) and (max-width: 768px) {
  .txtnew {
    margin-right: -80px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .txtnew {
    margin-right: -120px;
  }
}
@media screen and (min-width: 426px){
  .asset-mobile-view-manage {
    visibility:hidden;
  }
}
.managebtn{
  margin-top: -30px !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
}
#manage-inventory-div{
  margin-top: -40px;
}
@media screen and (min-width: 769px){
  .manage-btn-mobile-view {
     visibility:hidden;
   }
}
.marginbtom{
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) and (max-width: 1250px){
  .counterr {
     margin-left: 44px;
   }
}
@media screen and (min-width: 510px) and (max-width: 640px){
  .counterr {
     margin-left: 25px;
   }
}


.tracking_codes{
  pointer-events: all !important;
  height: 40px !important;
  top: 10px !important;
  left: 10px !important;
  opacity: 1 !important;
}
.btn_move_css{
  float: left;
  margin-left: 46px !important;
}

#asset_in_use_until {
  select {
    position: initial !important;
    pointer-events: all !important;
    height: 2rem;
    opacity: 1 !important;
  }
}

.priority_left{
  float: right !important;
  margin-top: 11px !important;
}

.collapsible-header {
  display: block !important;
}

.collapsible-header i {
  margin-right: 0rem;
}

.inputNumber {
  padding: 7px 0px !important;
  top: 15px !important;
}

.caret_position{
  margin: -2px;
}
