@import "variables";


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .textsized {
    padding-left: 20px !important;
  }
  .fontsized{
    width: 110% !important;
  }
  #margin_button_25{
    margin-right: 0px !important;
    margin-left: 15px;
    float: none;
  }
  .btnsized {
    width: 45%;
  }
  .btnsizedwhite{
    font-size: 14px !important;
  }
}
@media screen and (min-width: 602px) and (max-width: 767px) {
  .btnsized {
    width: 45%;
  }
  #margin_button_25{
    margin-right: 3px !important;
  }
  .btnsizedwhite{
    font-size: 10px !important;
  }
}
@media #{$small-and-down} {
  .btnsized {
    padding: inherit;
    font-size: 11px !important;
    margin-left: 18px !important;
    width: 40%;
  }
  .btnsizedwhite {
    width: inherit;
    padding: 0px 7px 24px 9px !important  ;
    font-size: 10px !important;
    float: left;
  }
   .imagesized {
    width: 240% !important;
    height: 121px !important;
  }
  .consize {
    padding-left: 0px !important;
  }
  .textsize {
    //padding-left: 79px !important;
  }
  #margin_button_25{
    margin-right: 0px !important;
  }
}

.reports-container {
  .tabs, .premium-reports {
    color: black !important;
  }
  .active {
    font-size: 18px;
    font-weight: bold;
    background-color: $primary !important;
    color: white !important;
  }
  .subh2 {
    .active {
      color: white !important;
    }
  }
  .top-margin-10 {
    margin-top: 5px;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    border: 0px;
    position: absolute;
    background-color: $primary;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    border: 0px;
    background-color: $primary;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  label.active, .input-field label.boolean {
    /* font-size: $fs-sm; */
    color: $darker-gray;
    font-size: $fs-mn;
  }
  label {
    color: $darker-gray;
    font-size: $fs-mn;
  }
}

.sort-order select, .sort-order label {
  display: inline-block;
}

.sort-order-label {
  margin-top: 24px;
}

.export-as-label {

}

.date-range {
  margin-left: 10px !important;
  height: 1rem !important;
  padding: 10px !important;
}

.asset-report-btn {
  font-family: Arial, sans-serif;
  font-size: $fs-mn;
  padding: 0px 16px;
}

.report-date {
  width: 40% !important;
  @media #{$small-and-down} {
    width: 80% !important;
  }
}

#reports-side-nav {
  margin-top: 40px;
  li {
    font-family: $base-font-bold;
    font-size: $fs-md;
    font-weight: bold;
    color: black !important;
  }
  li:hover {
    background-color: #EBEBEB;
    a {
      /*color: #009BEE;*/
    }
  }
}

#reports-container {
  .active {
    background-color: transparent !important;
    color: black !important;
    border-bottom: 1px solid #ccc;
  }
  .collapsible-header {
    height: 40px;
    min-height: inherit;
    line-height: 2rem;
    padding-top: 10px;
  }
  .collapsible {
    margin-top: 0;
    border: none;
    box-shadow: none;
    .collapsible-body {
      border: none;
      .b21 {
        padding-left: 16px;
        padding-top: 5px;
      }
      p {
        padding: 16px;
      }
    }
  }
}

.tabs-vertical {
  .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .tab {
    width: 100%;
    text-transform: none;
    float:left;
    .active {
      background-color: #EBEBEB;
      /*color: #009BEE !important;*/
    }
    a {
      padding: 0px 16px;
      text-align: left;
    }

    :hover {
      border-right: 3px solid #eeeeee;
    }
  }

  .indicator {
    display: none;
  }
}

.export-types {
  span {
    margin: 0px 10px;
  }
  label {
    label {
      padding-left: 25px !important;
    }
  }
}

.report-category-types {
  padding-left: 32px !important;
  margin-top: 10px;
}

.report-info-i-more {
  margin: 0px !important;
  padding: 0px !important;
  line-height: 29px !important;
  color: $primary;
}

.multi-projects-msg {
  display: none;
}

.asset-report-container {
  .card-panel {
    margin-top: 0;
  }
}

.premium-reports {
  float: left;
  width: 100%;
  position: relative;

  .card-panel-heading {
    font-size: $fs-md;
    font-weight: bold;
    border-bottom: none;
  }

  .crown {
    width: 30px;
    height: 30px;
    background: #DE8B3A;
    border-radius: 15px;
    position: absolute;
    right: 15px;
    top: 15px;

    img {
      width: 20px;
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }

  .badge {
    font-size: 10px;
    padding: 5px;
    background: #5A9D04;
    color: white;
    border-radius: 15px;
  }
}

.not-subscribed {
  h3 {
    font-family: 'Open Sans', sans-serif;
    color: #1392EC;
    margin: 20px 0;
    font-size: $fs-xl;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    color: #6C6D7C;
    margin-bottom: 30px;
    &.active {
      color: #2C2B35;
      margin-bottom: 0;
    }
  }
  img {
    width: 100%;
  }
}

.controller-asset-reports {
  #flash {
    position: absolute;
    top: 66px;
    margin: auto 0;
    z-index: 1000;
    width: 50% !important;
    left: 25% !important;
  }
  .pagination{
    //margin-left: 30%;
    li {
      cursor: pointer;
    }
    .next a {
      color: $primary;
    }
  }
}

#asset-reports-index, #asset-reports-filter-get, #assets-show {
  .Select-placeholder {
    color: $light-gray !important;
  }
  .Select, .Select div, .Select input, .Select span {
    color: $darker-gray;
    font-size: $fs-mn;
    font-family: $base-font;
  }
  .Select {
    .Select-value {
      .Select-value-label {
        /*line-height: 18px;*/
      }
    }
    .Select-input input {
      margin-top: -2px;
    }
  }
  .Select-arrow {
    border-color: $primary transparent transparent !important;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
  }
  .reports-checkbox {
    label {
      color: black;
    }
  }

  .full-width-col {
    div.col {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .card-panel-heading.filter-zone {
    color: $primary;
    padding-top: 20px;

    &.line-separated {
      border-top: 2px solid #e1e1e0;
    }
  }

  #current_filters {
    #clear_all_filters {
      color: $primary;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
    }

    .fixed-filters-container {
      overflow: hidden;
      margin-bottom: 10px;
    }

    .fixed-filters {
      margin-top: 0;
      margin-left: -3px;
    }

    .fixed-filter {
      font-size: 12px;
      color: lightgray;
      border-left: 1px solid lightgray;
      float: left;
      padding: 2px 10px;
    }

    .tag-box {
      input {
        display: none;
      }

      .tag-box-pill {
        display: inline-block;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;

        .tag-box-pill-text {
          background-color: lightgray;
          padding: 4px;
          border-bottom: 1px solid lightgray;
        }

        button.remove {
          border: none;
          background-color: lightgray;
          color: black;
          border-top: 1px solid lightgray;
        }
      }
    }
  }

  #tab-my-filters, #tab-recommended {
    .row.saved-my-filter-label {
      .card-panel.saved-my-filter-label-items {
        padding: 10px 10px 0;
      }

      .Collapsible__trigger {
        border-bottom: none;
        color: $primary;

        &.is-closed {
          padding-bottom: 20px;
        }
      }

      .Collapsible__contentInner {
        border-bottom: none;
        background-color: transparent;
      }

      .row.saved-my-filter {
        margin-bottom: 0;
        border-top: 1px solid lightgray;
        line-height: 40px;

        .delete-saved-filter {
          line-height: 24px;
          margin: 8px 0;
          font-size: 20px;
          padding: 0 2px;
        }
      }
    }

    .myfilters-filter {
      margin: 2px;
      background-color: #ededed;
      line-height: 25px;
      padding: 3px;
      border-radius: 3px;
      display: inline-block;
    }
  }

  .delete-icon {
    background-color: $primary;
    color: white;
    box-shadow: 1px 1px 2px grey;
    cursor: pointer;
    border-radius: 1px;
  }

  #asset_reports_tabs {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .price-marketvalue {
    .b15 {
      color: lightgray;
    }
  }
}

#asset-reports-index, #asset-reports-pre-filter-get, #asset-reports-filter-get {
  .asset-report-container li > a {
    text-transform: none;
  }
  .show-exp-btn {
    position: absolute;
    right: 0;
    margin-top: 68px;
  }
  .analytics-tabs {
    ul.tabs {
      right: 20px;
    }
    .tabs {
      margin: 0;
    }
    .tabs .tab {
      min-width: 93px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    ul.tabs li {
      min-width: 86px;
    }
    .analytics-tabs ul.tabs {
      overflow: hidden;
    }
  }
  @media #{$medium-and-up} {
    .analytics-tabs ul.tabs {
      width: 72% !important;
    }
  }
  @media #{$small-and-down} {
    ul.tabs {
      width: 100%;
    }
    ul.tabs li {
      min-width: 0px;
    }
  }
  label.active {
    font-size: 12px;
  }
  .btn:disabled {
    color: #9F9F9F !important;
  }
  .text-blue {
    color: #fd4f00 !important;
  }
  .dataTables_wrapper {
    background: white;
  }
}

.controller-asset-reports {
  #flash {
    position: absolute;
    top: 66px;
    margin: auto 0;
    z-index: 1000;
    width: 100%;
  }
}

.sectionHeading {
  /*padding-left: 32px;*/
  padding-left: 43px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  /*top: 10px;*/
  top: 25px;
}

.rule-cell .filterSection {
  margin: 0px 0px 0px 20px !important;
}

.btnOutline {
  border: 1px solid #fd4f00;
  padding: 0px 20px 32px 18px;
  box-shadow: 0px 0px black !important;
  color: #fd4f00;
}

.btnOutline > i {
  font-size: 16px !important;
  position: relative !important;
  right: 11px !important;
}

@media screen and (min-width: 320px) and (max-width: 370px) {
  .btnOutline {
    margin-bottom: 10px;
  }
}

.margin_left {
  margin-left: -10px;
}

.filterhr {
  margin-left: 31px;
  width: 97%;
  border-color: rgba(255, 255, 255, 0.25);
}

.filter-wrapper {
  //margin: 0px 0px 0px -30px;
}

.btnOutline:hover {
  background: #fd4f00 !important;
  color: #fff !important;
}

.rule-cell .btn-floating {
  float: right;
}

#asset-reports-index .show-exp-btn {
  margin-top: -43px !important;
}

.analytics-tabs {
  margin-top: -10px !important;
}

.group-tagtrackers {
  margin-top: -20px !important;
}

.group-attributes {
  margin-top: -20px !important;
}

.group-liveData {
  margin-top: -20px !important;
}

.group-categories {
  margin-top: -20px !important;
}

.filterGroupsContainer {
  margin-top: 10px !important;
}

@media screen and (min-width: 550px) and (max-width: 822px) {
  #asset-reports-index .show-exp-btn {
    margin-top: 25px !important;
  }
}

#collapStyle .Collapsible__trigger:after {
  font-size: 25px;
  font-weight: 500;
}

.sample_asset {
  width: 150px;
  height: 120px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.owned_asset {
  position: absolute;
  left: 11;
  top: 20px;
  width: 66px;
  height: 0;
  border-top: 20px solid #fd4f00;
  border-right: 12px solid transparent;
  z-index: 3;
}

.owned_asset:after {
  content: 'Owned';
  position: absolute;
  top: -20px;
  left: 3px;
  color: white;
  font-size: 12px;
  line-height: 21px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

#scan-icons a {
  color: #aac713;
  i {
    font-size: 25px;
    margin: 2px;
  }
}

.row-pad {
  padding-left: 10px;
  padding-top: 20px;
  //border: 1px solid #e1e1e0;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  .asset_img{
    padding-right: 0px;
  }
  .asset_desc{
    padding-left: 0px;
  }
}

.analytics_history_daily {
  width: 90px;
  float: right;
  margin-top: 20px;
  height: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 40px;
  background-image: image_url('analytics_history_daily.png');
}

.analytics_history_hourly {
  width: 94px;
  float: right;
  height: 87px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 40px;
  background-image: image_url('analytics_history_hour.png');
}

.analytics_history_minute {
  width: 94px;
  float: right;
  height: 87px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 40px;
  background-image: image_url('analytics_history_minute.png');
}

.analytics_history_selected {
  width: 90px;
  float: right;
  height: 50px;
  margin-top: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 40px;
  background-image: image_url('analytics_history_selected.png');
}

.re-border {
  border: 1px solid #e1e1e0;
  margin-left: 0px !important;
  margin-bottom: 5px;
}

.event-toggle {
  cursor: pointer;
}

.span-clr {
  color: #fd4f00;
}

.panel-mg {
  margin-top: 15px !important;
}

.event-circle {
  height: 23px;
  width: 23px;
  line-height: 22px;
  border-radius: 64px;
  border: 1px solid #8c8a88;
  text-align: center;
  background: white;
}

.daily-icon {
  position: absolute;
  margin-top: 50px;
  left: 4px;
}

.hour-event {
  margin-left: 10px;
  display: block;
  margin-left: 23px;
  border-left: 1px solid #b1afad;
  left: -8px;
}

.minute-event {
  margin-left: 25px;
  display: block;
  border-left: 1px solid #b1afad;
  margin-left: 36px;
  padding-top: 20px;
}

.selected-event {
  border: 1px solid #fd4f00;
  color: #fd4f00;
}

.bb2 {
  color: #05d8ff !important;
  font-size: 16px !important;
  font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif !important;
}

.analytic-table {
  td {
    vertical-align: top;
  }
  border: 2px solid #f2f2f2;
  width: 100% !important;
  thead {
    pointer-events: none;
    border: none;
    display: table;
    width: 100%;
    th {
      width: 20%;
      color: #65675e;
      font-size: 16px !important;
      font-weight: 500;
      font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif;
    }
  }
  th {
    border: none !important;
  }
  tbody {
    width: 100%;
    tr {
      display: table;
      width: 100%;
    }
  }
  border: none !important;
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}

.recent-analytic-table {
  tbody {
    max-height: 364px;
    display: inline-block;
    overflow-y: auto;
    position: relative;
    tr {
      td {
        width: 20%;
        padding-left: 20px;
      }
    }
  }
  thead {
    margin-left: 15px;
  }
  width: 100%;
  display: block;
}

.daily-analytic-table {
  thead {
    background: #f3f3f2;
    th {
      padding-left: 30px;
      width: 20%;
      color: #65675e;
      font-size: 16px !important;
      font-weight: 500;
      font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif;
    }
    th:first-child {
      width: 20%;
      /*padding-left: 30px;*/
    }
  }
}

.verticalLine {
  border-left: thick solid #ff0000;
}

.daily-analytic-table {
  tbody {
    /*max-height: 1200px;*/
    display: inline-block;
/*    overflow-y: auto;
    position: relative;
*/
    tr {
      td {
        width: 20%;
        padding-left: 20px;
        .user_label{
          font-size: 16px;
        }
      }
      td:first-child {
        width: 100%;
      }
    }
  }
  width: 100%;
  display: block;
  div.dhead {
    margin: 12px;
  }
}

#asset-reports-index {
  overflow-x: hidden;
}

.event-loc {
  text-decoration: underline;
}

.min-icon {
  position: absolute;
  margin-top: 0px;
  left: -10px;
  padding-top: 0px;
}

#scatter-icon svg:hover{
  fill: #fd4f00;
}

.asset-report-range {
  select {
    position: initial !important;
    pointer-events: all !important;
    opacity: 1 !important;
    height: 2rem;
  }
}

.entries-font {
  font-size: 15px;
  padding-left: 20px !important;
}

.entries-font {
  display: block;
  width: 100%;
  span {
    font-size: 15px;
  }
  .first-entry {
    margin-top: 10px;
    display: inline-block;
  }
}

.daily-ev-rows {
  display: inline-flex;
  margin-left: 17px;
  border: 1px solid #e1e1e0;
}

.hourly-rows {
  display: inline-flex;
  border: 1px solid #e1e1e0;
}

.minutes-rows {
  display: inline-flex;
  border: 1px solid #e1e1e0;
}

.main-panel-node {
  .sorting, .sorting_asc, .sorting_desc {
    background: none;
  }
  .re-border {
    padding-left: 10px;
    h5.update_header {
      font-size: 16px !important;
      font-weight: 500;
      font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif;
      text-decoration: none;
      padding-top: 10px;
    }
  }
  table.dataTable thead th.sorting,
  table.dataTable thead th.sorting_asc,
  table.dataTable thead th.sorting_desc {
    background: none;
    padding: 4px 5px;
  }
  .dataTables_paginate, .dataTables_info {
    display: none;
  }
}
.re-border {
  padding-left: 10px;
  h5.update_header {
    font-size: 16px !important;
    font-weight: 500;
    font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif;
    text-decoration: none;
    padding-top: 10px;
  }
}
/*use for export button*/
.exp-tb-h{
  position: absolute;
  right: 15px;
  top: 305px;
}
.helvetica-font {
  font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif;
}

.text-grey {
  color: #65675e;
}

.col.s12.card-panel.right.main-panel-node {
  padding-left: 0px;
  .daily-ev-rows {
    margin-left: 0px;
    td:first-child {
      border-left: 1px solid #d0d0c9;
      margin-left: 13px;
    }
  }
}

.greyRow {
  background-color: #f2f2f2 !important;
}

.whiteRow {
  background-color: white !important;
}
.no-result{
  text-align: center;
  color: #fd4f00;
}
.rules-wrapper.filter-wrapper{
  .border_box{
    margin-bottom: 25px;
  }
  .pagination li{
    margin-left: 10px;
  }
}

.last_event_count{
  color: gray;
}

.minutes-rows, .hourly-rows, .daily-ev-rows{
  td:first-child{
    min-height: 165px;
  }
}
.card-panel .sample_asset {
  padding-left: 0;
  padding-right: 10px;
  position: relative;
  .asset-type {
    position: absolute;
    left: 0;
    width: 66px;
    height: 0;
    border-top: 20px solid red;
    border-right: 12px solid transparent;
    z-index: 3;
    &:after {
      position: absolute;
      top: -20px;
      left: 3px;
      color: white;
      font-size: 12px;
      line-height: 20px;
      @include helvetica_neue();
    }
    &.rental {
      border-top-color: #f7bb3b;


      &:after {
        content: 'Rental';
      }
    }
    &.owned {
      border-top-color: $primary;


      &:after {
        content: 'Owned';
      }
    }
    &.for_sale {
      border-top-color: #b1d200;
      &.ours {
        border-top-color: #b1d101;
      }
      &:after {
        content: 'For Sale';
      }
    }

    &.for_rent {
      border-top-color: #3aa33a;
      &.ours {
        border-top-color: #39a53d;
      }
      &:after {
        content: 'For Rent';
      }
    }
  }
}
.no-result{
  text-align: center;
  color: #fd4f00;
}
.rules-wrapper.filter-wrapper{
  .border_box{
    margin-bottom: 25px;
  }
  .pagination li{
    margin-left: 10px;
  }
}

.last_event_count{
  color: gray;
}



#margin_button_25
{
  margin-right: 25px;
}

.scatter-chart-icon
{
  background: url('scatter.svg');
  height: 40px;
  width: 40px;
}

.react-tabs
{
  &__tab-list{
    display: inline-flex;
  }
  &__tab{
    margin-left: 15px;

    &--selected{
      color: #fd4f00;
    }
  }

  i {
    font-size: 40px;
    cursor: pointer;
  }
}
.btn-bg{
  background-color : #fd4f00 !important;
}

.load-td{
  vertical-align: bottom !important;
  text-align: center;
  cursor: pointer;
  div{
    color: #fd4f00;
  }
}
.main-filtered-assets{
  .Collapsible__trigger{
    position: absolute !important;
    right: 0;
    top: 60px;
    border: none !important;
  }
  .Collapsible__contentInner{
    background-color: #ffffff !important;
    border: none !important;
  }
  label[for=asset_filter_name]{
    color: black;
    font-size: 14pt;
  }
}
.Collapsible__contentInner{
  color: rgba(33, 33, 33, 0.75)!important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif !important;
  text-decoration: none !important;
}
