@import "variables";

.nm {
  margin: 0 !important;
}


/*==============Margin Right==========*/

.mr-tn {
  margin-right: $px-tn !important;
}

.mr-sm {
  margin-right: $px-sm !important;
}

.mr-mn {
  margin-right: $px-mn !important;
}

.mr-md {
  margin-right: $px-md !important;
}

.mr-mx {
  margin-right: $px-mx !important;
}

/*==============Margin Top==========*/

.mt-tn {
  margin-top: $px-tn !important;
}

.mt-sm {
  margin-top: $px-sm !important;
}

.mt-mn {
  margin-top: $px-mn !important;
}

.mt-md {
  margin-top: $px-md !important;
}

.mt-mx {
  margin-top: $px-mx !important;
}

/*==============Margin Bottom==========*/

.no-mb {
  margin-bottom: 0 !important;
}

.mb-tn {
  margin-bottom: $px-tn !important;
}

.mb-sm {
  margin-bottom: $px-sm !important;
}

.mb-mn {
  margin-bottom: $px-mn !important;
}

.mb-md {
  margin-bottom: $px-md !important;
}

.mb-mx {
  margin-bottom: $px-mx !important;
}

/*==============Padding Bottom==========*/
.pb-tn {
  padding-bottom: $px-tn !important;
}

.pb-sm {
  padding-bottom: $px-sm !important;
}

.pb-mn {
  padding-bottom: $px-mn !important;
}

.pb-md {
  padding-bottom: $px-md !important;
}

.pb-mx {
  padding-bottom: $px-mx !important;
}

.fs-base {
  font-size: $fs-base !important;
}
.fs-tn {
  font-size: $fs-tn !important;
}
.fs-sm {
  font-size: 12px !important;
}
.fs-mn {
  font-size: $fs-mn !important;
}
.fs-md {
  font-size: $fs-md !important;
}
.fs-mx {
  font-size: $fs-mx !important;
}
.fs-lg {
  font-size: $fs-lg !important;
}
.fs-xl {
  font-size: $fs-xl !important;
}

.pt-sm {
  padding-top: $px-sm !important;
}
/* Color classes */

.c-primary {
  color: $primary !important;
}
.c-darker-primary {
  color: $darker-primary !important;
}
.c-secondary {
  color: $secondary !important;
}
.c-inherit {
  color: inherit;
}


.t-nowrap {
  white-space: nowrap !important;
}

/* Text Transform */

.t-nt {
  text-transform: none;
}
.t-lowercase {
  text-transform: lowercase !important;
}
.t-capitalize {
  text-transform: capitalize;
}
.t-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.d-if {
  display: inline-flex;
}
.d-ib {
  display: inline-block;
}

.bb-gray {
  border-bottom: 1px solid #d0d0d0;
}
.bb-light-gray {
  border-bottom: 1px solid #e5e5e5;
}

/* Other
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Main Website Background Color */
.mainbg { 
  background-color: #f7f6f3;
}
/* Icon Color for Analytics, Icon tabs, etc. */
.icons { 
  color: #a3a49f;
  text-decoration: none;
}
a.icons:hover {
  color: $primary;
}
/* Dropdown Border & Horizontal Line */
.dropdownborder { 
  background-color: #c1c2bf;
}
/* Background of Filter & Band on List */
.filterbg { 
  background-color: $lightest-gray;
}
/* Checkbox color */
.checkbox { 
  background-color: $dark-gray;
}
