@import "variables";

#companies-show {
  .card-panel img {
    background-color: $primary-color;
    padding: 10px;
  }
}

#companies-edit {
  form img {
    background-color: $primary-color;
    padding: 10px;
  }
  .header-link {
    a {
      font-size: 15px;
      color: $font-color-blue;
    }
  }
}

.company_assignments {
  tr > td:last-child {
    text-align: right;
  }
}

#seats-remaining {
  color: $card-panel-heading-color;
}

.company-edit {
  float: right;
  margin-top: -53px;
}

table.company_directory{
  td{
    vertical-align: top;
  }
  .other_projects{
    display: none;
  }
  .other_projects.expanded{
    display: block;
  }
  .expander {
    cursor: pointer;
  }
  .expander.expanded{
    display: none;
  }
  @media #{$small-and-down} {
   .user_fullname {
     font-weight: bold;
   }
  }
  a{
    vertical-align: middle;
    display: inline-flex;
  }
}
#project_roles {
    tr > td:first-child {
        width: 50%;
    }
    tr > td:last-child {
        text-align: right;
    }
}

strong.default-contact{
  color: $font-color-blue;
}

.company-name {
  color: $font-color-light-black;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.company-users-heading {
  padding-right: 50px
}

.margin-right-20 {
  margin-right: 20px;
}

.btn-company {
  @media #{$small-and-down} {
    margin-top: 15px;
    float: none;
  }
  @media #{$medium-and-up} {
    margin-top: 15px;
    margin-left: 15px;
    float: right;
  }
}

.reinvite-share{
  color: #00b2d3;
  font-size: $fs-md;
  position:absolute;
  margin-top: 4px;
}
.btnCompanyRole ,.btnInviteUser {
  float:left;
}
.btnInviteUser {
  margin-left:10px;
}


/* Print QR codes page: start */
.qrPrintingPanel {
  padding: 20px 14px 20px 14px;
}

.leftSection p:nth-child(1) ,.leftSection p:nth-child(2), .leftSection p:nth-child(3) {
  font-size: $fs-mn;
}

.prinitingTags .row {
  margin-right: 3px;
  margin-left: 5px;
}

.rdbPrinted label {
  padding-left: 21px;
}

.leftSection p:nth-child(4),.leftSection p:nth-child(5) {
  line-height: 14px;
}

.leftSection {
  border-right: 2px solid #d6d6d6;
}

.rdbPrinted div {
  padding: 0 !important;
}

.rdbPrinted {
  margin-right:0px !important;
}

.drpLabelSize {
  height: 2rem;
  border: 1px solid #9e9e9e;
  height: 2rem;
  border: 1px solid #9e9e9e;
  margin: -8px 6px 0px -6px;
}

.txtPrintQR {
  margin: 5px;
  font-size: $fs-mn;
}

.btnQRTags, .btnQRTags:hover{
  background-color: #2196F3 !important;
}

.btnSection {
  margin-bottom: 0;
  margin-top: 8px;
}

.qrPrintingPanel h5 {
  font-size: $fs-md;
}

.text-lightGreen {
  color: #5fe070;
}

@media screen and (max-width: 430px) {
  .rdbPrinted label {
    padding-left: 21px !important;
  }
}

.printQrLoader {
  top: 3%;
  right: 2px;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.71);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width:425px) {
  .leftSection {
    border-right:0px;
  }
/*  .card-panel {
    margin-top:0px !important;
  }*/ //BUG-453
}

@media screen and (max-width:320px) {
  .btnQRTags {
    margin-left:4%;
  }
/*  .card-panel {
    margin-top:0px !important;
  }*/ //BUG-453
}

@media screen and (min-width:376px) and (max-width:425px){
  .btnQRTags {
    margin-left:16% !important;
  }
}

@media screen and (min-width:322px) and (max-width:375px){
  .btnQRTags {
    margin-left:12% !important;
  }
}

/*@media screen and (max-width:375px){
  .card-panel {
    margin-top:0px !important;
  }
}*/ //BUG-453

.loaderOverlay > p {
  color: #fff;
}

.btnGetQr {
  padding: 0px 19.3%;
}

@media screen and (min-width:768px) {
  .btnSection > .col {
    padding-left:0px !important;
  }
}
/* Print QR codes page: end */
#company-assignments-index{
  .edit_user {
    border: 1px solid #dadada !important;
    height: 35px;
  }
  .edit_user div.select-wrapper {
    margin-top: -5px;
  }
  div.select-wrapper input.select-dropdown {
    border-bottom: none;
  }
  div.select-wrapper .caret {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .invitation-cancel{
    position: absolute;
    left: 60px;
  }
  .invit-send{
    width: 40%;
    margin-right: 10px;
    font-size: 8px !important;
  }
  .site-assign-btn{
    width: 42%;
  }
  .site-assign-cancel{
    width: 40%;
  }
  .users-btn-cncl{
    width: 27%;
  }
  .users-btn-asignment{
    width: 28%;
  }
  #company-assignments-index .edit_user div.select-wrapper{
    margin-left: -10px;
  }
}
#company-assignments-index {
  .select-wrapper input.select-dropdown{
      border: none !important;
  }
}
