@import "variables";

$short-screen: "screen and (max-height: 305px)";
$small-and-down-map: "screen and (max-width: 600px), screen and (max-height: 767px)";
$small-and-down-map-landscape: "screen and (max-height: 767px) and (orientation: landscape)";
$medium-and-up-map: "screen and (min-width: 601px) and (min-height: 768px), screen and (min-height: 768px)";

nav #desktop_main_vertical_nav_btn, nav #mobile_main_nav_btn
{
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

@media #{$short-screen}{
    .hide-on-short-screen{
        display: none !important;
    }
}
@media #{$small-and-down-map}{
  .hide-on-small-and-down-map{
    display: none !important;
  }
  .show-on-small-and-down-map{
    display: initial !important;
  }
}

@media #{$medium-and-up-map}{
  .hide-on-med-and-up-map{
    display: none !important;
  }
  .show-on-med-and-up-map{
    display: initial !important;
  }
}

#dashboard-index {
  .card-panel-heading {
    @include helvetica_neue_bold();
    color: #332e2b;
    font-size: $fs-mx;
    margin-bottom: 10px;
    border-bottom: none;
    text-transform: capitalize;
  }
  #filters .card-panel-heading {
    @include helvetica_neue_bold();
    color: #332e2b;
    font-size: $fs-mx;
  }
  #bottom-bg {
    display: block;
    position: absolute;
    bottom: 55px;
    z-index: -1;
    @media #{$medium-and-down} {
      position: inherit;
    }
  }
  .dashboard-stats {
    text-align: center;
    font-weight: 600;
    @media #{$small-and-down} {

    }
    .company-name {
      font-size: 25px;
      color: #6DAA00;
      text-transform: uppercase;

      @media #{$medium-and-down} {
        font-size: 19px;

      }
    }

    .text-downcase{
      text-transform: none;
    }
    .value {
      color: #6DAA00;
      font-size: $fs-mx;
      font-weight: 600;
      font-family: "Open Sans",sans-serif;
    }
    .value2 {
      color: #6DAA00;
      font-size: 25px;
      font-weight: 600;
      font-family: "Open Sans",sans-serif;
    }
    .assets-count{
      font-size: $fs-xl;
      color: #009BEE;
      @media #{$medium-and-down} {
        font-size: $fs-xl;
      }
    }
    hr{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    @media #{$large-and-up} {

    }
    @media #{$small-and-down} {

    }
    .sub-text {
      font-size: $fs-mx;
      color: #009BEE;
      @media #{$medium-and-down} {
        font-size: 15px;
      }
      @media #{$small-and-down} {

      }
    }
    .row{
      margin-bottom: 0px;
    }
    .verticalLineRight{
      @media #{$medium-and-down} {
        display: block;
        border-left: 1px solid #e1e1e1;
        height: 100px;
        margin-top: 10px;
        margin-left:5%;
      }
      @media #{$small-and-down} {
        border: none;
        display: none;
      }
    }

  }
  .dashboard-footer{
    @media #{$medium-and-up} {
      padding-bottom: 30px;
    }
  }
  .dashboard-chart {
    .chart {
      .card-panel {
        height: 300px;
        padding: 0;
        font-size: 12px;
        @media #{$small-and-down} {
          font-size: 10px;
          height: 270px;
          margin-top: 10px;
        }
      }
      margin-bottom: 0.75rem;
    }
  }

  .stats-card-panel{
    @media #{$medium-and-down} {
          height: 200px !important;
        }
    @media #{$small-and-down} {
          height: 220px !important;
        }
  }
  #table-assets {
    tr {
      .mark-form {
        // bottom: 40px;
      }

      .price {
        bottom: 10px;
      }
    }
  }

  #table-projects {
    tr {
      .address {
        bottom: 27px;
      }

      .closeout_date {
        bottom: 10px;
      }
    }

    .row {
      margin-bottom: 10px;
    }
  }

  .show-all {
    margin-top: 10px;
    text-align: right;
  }
}

//fix for active projects
.awesome-marker-icon-gray:after {
  top: -35px !important;
}

.cluster-circle {
  position: relative;
  border-radius: 50%;
  text-align:center;
  @include helvetica_neue();
  color: $white;
  font-size: 12px;
  font-weight: normal;
}

.cluster-my_assets {
  color: #ffffff;
  background-color: #0066A2;
}

.cluster-owned_assets {
  color: #ffffff;
  background-color: #fd4f00;
}

.cluster-rental_assets {
  color: #ffffff;
  background-color: #f6b436;
}

.cluster-public_assets {
  color: #ffffff;
  background-color: #a8cc00;
}

.cluster-projects {
  color: #ffffff;
  background-color: #65675e;
}

.cluster-public_public_assets {
  color: #ffffff;
  background-color: #8a20ba;
}

.active-cluster:before {
  content: '';
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid rgb(252, 94, 94);
  border-radius: 50%;
  position: absolute;
}

.active-marker:after  {
  content: "";
  width: 39px;
  height: 54px;
  top: -34px;
  left: -1px;
  background: image-url('marker_active.png') no-repeat;
  background-size: 37px;
  position: relative;
  display: inline-block;
}

#map-wrapper {
  position: relative;
  height: 160px;

  .live-data-btn {
    position: absolute;
    right: 80px;
    top: 0;
  }

  @media #{$medium-only} {
    height: 220px;
  }

  @media #{$large-and-up} {
    height: 560px;
  }

  @media #{$small-and-down-map} {
    height: calc( 100vh - 110px );
  }

  /* iPhone 2G-4S in portrait */
  @media only screen
  and (device-width : 320px)
  and (device-height : 480px)
  and (orientation : portrait) {
    height: 255px;
  }

  /* iPhone 5 & 5S in portrait */
  @media only screen
  and (device-width : 320px)
  and (device-height : 568px)
  and (orientation : portrait) {
    height: 345px;
  }

  /* iPhone 6 in portrait */
  @media only screen
  and (device-width : 375px)
  and (device-height : 667px)
  and (orientation : portrait) {
    height: 450px
  }

  /* iPhone 6/6S plus in portrait */
  @media only screen
  and (device-width : 414px)
  and (device-height : 736px)
  and (orientation : portrait) {
    height: 510px;
  }

  /* iPad mini in landscape */
  @media only screen
  and (device-width : 768px)
  and (device-height : 1024px)
  and (orientation : landscape)
  and (-webkit-min-device-pixel-ratio : 1) {
    height: 580px;
  }
}

.sidebar{
  margin:10px auto;
  width: 400px;
  overflow: hidden;
}

.additional-header {
  // margin-top: -12px;
  // padding-bottom: 12px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar__content{
  float:left;
  width: 90%;
}
.sidebar__actions{
  float:left;
  width: 10%;
  background: #ccc;
}
.sidebar-items{
  list-style:none;
  padding:0;
  margin: 0 -10px;
  @media #{$small-and-down-map}{
      width: 100vw;
  }
}

.sidebar-items .sidebar-items__item{
  border-bottom: 1px solid #d0d0d0;
  line-height: 16px;
}
.sidebar-items .sidebar-items__item:first-child{
  border-top: 1px solid #d0d0d0;
}

.sidebar-item{
  padding: 8px 0 8px 12px;
  text-transform: capitalize;
}
.sidebar-item__link{
  text-decoration: none;
  line-height: 19px;
}

.sidebar-item__options, .sidebar-item__project, .sidebar-item__availability, .sidebar-item__position, .sidebar-item__link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  strong {
    font-weight: 900
  }
}

.sidebar-item__link {
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.more{
  line-height: 22px;
  color:$primary;
  font-weight: bold;
  margin-top: -17px;
  display: inline-block;
  vertical-align: middle;
}
.btn, .btn-large {
  background-color: $primary;
}

.more:hover{
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.leaflet-bottom {
  bottom: 50%;
}
@media (max-width: 768px) {
  .leaflet-bottom {
    bottom: 0%;
  }
}

#dashboard-map {
  height: 100%;
  z-index: 0;
}

.mobile-map-overlay.expanded{
    height: 100%;
    .mobile-map-header{
        background-color: rgba(49,49,50,1);
        @media #{$small-and-down-map-landscape}{
            position: initial !important;
            width: 100%;
            height: 45px;
        }
    }
    .mobile-more-info{
        display: inline-table;
        width: 100%;
    }
    @media #{$small-and-down-map-landscape}{
        width: 100%;
        left: 0px;
        right: initial !important;
    }
}
.mobile-map-overlay{
    position: absolute;
    width: 100%;
    z-index: 3;
    top: -1px;
    .hidden{
        display: none;
    }
    @media #{$small-and-down-map-landscape}{
        right: 0px;
        width: 45px;
        height: 100%;
    }
    .mobile-map-header{
        min-height: 45px;
        background-color: rgba(49,49,50,0.5);
        color: #fff;
        margin: 0px;
        padding-top: 5px;
        h1, h2, h3, h4, h5 {
            font-family: "Open Sans",sans-serif !important;
            margin-bottom: 0px !important;
            text-align: center;
        }
        @media #{$small-and-down-map-landscape}{
            position: absolute;
            width: 45px;
            right: 0px;
            height: 100%;
            .mobile-filter-status{
                position: absolute;
                bottom: 0px;
            }
        }
    }
    .mobile-filters,
    .mobile-more-info{
        background-color: white;
        height: calc( 100% - 45px );
        #bs-filters {
            padding: 25px;
        }
    }
    .mobile-more-info-title > .row{
        margin-bottom: 0px;
    }
    .mobile-more-info{
        display: none;
    }
}

#bs-sidebar,
.mobile-filters{
  h1, h2, h3, h4, h5 {
    font-family: "Open Sans",sans-serif !important;
    margin-bottom: 0px !important;
  }

  .sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
    background-color: #717167 !important;
    color: #fff !important;
  }

  .sidebar-header {
    font-family: $base-font-medium;
    background-color: $white;
    color: $darker-gray;
    font-size: $fs-md;
    font-weight: 500;
    border-bottom: 1px solid #d0d0d0;

    i {
      color: #fd5a00;
    }

    &.sidebar-main-header {
      padding: $px-tn 0 $px-tn $px-mx;

      .sidebar-close {
        top: 5px;
      }
    }
  }
  #pin-info-error {
    @include helvetica_neue();
  }

  #bs-filters {
    padding-top: 10px;
  }

  .filter {
    @include helvetica_neue();
    font-size: $fs-mn;
    color: $darker-gray;

    width: 100%;

    margin-top: 8px;
    padding-left: 24px;

    height: 16px;
    line-height: 16px;

    display: -webkit-flex !important;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center !important;

    &:before {
      //width: 16px;
      //height: 16px;
      //margin-top: 0px;
    }



    i.marker {
      width:  26px;
      height: auto;
      padding-left: 5px;

      &.owned {
        color: #f25e26;
      }

      &.rental {
        color: #f7bc3a;
      }

      &.sale {
        color: #b1d200;
      }

      &.for_rent {
        color: #3aa33a;
      }

      &.assets {
        color: #b1d200;
      }

      &.other-assets {
        color: #9522c2;
      }
    }

    .filter-lock {
      margin-left: -17px;
      margin-right: 4px;
      margin-top: -6px;
      color: white;
      font-size: 13px !important;
    }

    span {
      vertical-align: top;
    }
  }

  [type="checkbox"]:checked + .filter:before {
    margin-top: 2px;
  }

  .inherit-filter {
    margin-left: 17px;
  }
}

//sidebar pins
.sidebar-single-pin:after {
  content: "";
  width: 39px;
  height: 54px;
  top: -2px;
  left: -1px;
  background: image-url('marker_active.png') no-repeat;
  background-size: 37px;
  position: relative;
  display: inline-block;
}

.sidebar-single-pin {
  display: inline-block;
  background-size: 31px 44px !important;
  background-repeat: no-repeat !important;
  background-position-x: 2px !important;
  background-position-y: 1px !important;
}


.rental-single-pin {
  background: image-url('orange-lock.png') no-repeat;
}

.owned-single-pin {
  background: image-url('dark-blue-lock.png') no-repeat;
}

.for-rent-single-pin {
  background: image-url('marker-blue.png') no-repeat;
}

.for-sale-single-pin {
  background: image-url('marker-dark-blue.png') no-repeat;
}

.public-asset-single-pin {
  background: image-url('light-blue-eye.png') no-repeat;
}

.public-public-asset-single-pin {
  background: image-url('green-tag.png') no-repeat;
}

.project-single-pin {
  background: image-url('grey-briefcase.png') no-repeat;
}

.sidebar-multi-pin {
  border-radius: 50%;
  color: white;
  position: relative;
  text-align: center;
  display: inline-block;
  margin-right: 16px;
  margin-left: 6px;
}

.rental-multi-pin {
  background-color: #f6b436;
}

.owned-multi-pin {
  background-color: #fd4f00;
}

.for-rent-multi-pin {
  background-color: #009BEE;
}

.for-sale-multi-pin {
  background-color: #00557F;
}

.public-asset-multi-pin {
  background-color: #a8cc00;
}

.public-public-asset-multi-pin {
  background-color: #8a20ba;
}

.project-multi-pin {
  background-color: gray;
}

.rental-multi-pin:before,
.owned-multi-pin:before,
.for-rent-multi-pin:before,
.for-sale-multi-pin:before,
.public-asset-multi-pin:before,
.public-public-asset-multi-pin:before,
.project-multi-pin:before {
  content: '';
  // top: -5px;
  // bottom: -5px;
  // left: -5px;
  // right: -5px;
  // border: 2px solid rgb(252, 94, 94);
  // border-radius: 50%;
  position: absolute;
}



.sidebar__title{
  padding: $px-sm $px-tn;
  align-items: center;
  display: flex;

  .sidebar-title-marker {
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // width: 22px;
  }

  .sidebar-title-text {
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media #{$small-and-down-map}{
    padding-top: 5px;
    .sidebar-title-text{
        text-align: center;
    }
  }
}

.empty-pin {
  width: 18px;
  height: 18px;
}

.custom-lock {
  font-size: 18px !important;
}

.cluster-icon {
  border-radius: 50%;
  border-color: white;
  background-color: white;
}

.leaflet-map-pane {
  z-index: 2 !important;
}

.leaflet-google-layer {
  z-index: 1 !important;
}

#location-input {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  max-width: 195px;
  background-color: white;
  border: 1px solid lightgray;
  height: 25px;
  padding-left: 5px;

  &:focus {
    border: 1px solid lightgray;
  }

  @media #{$small-and-down-map} {
      width: 75px;
      top: 50px;
  }
  @media #{$small-and-down-map-landscape}{
      width: 167px;
      top: 10px;
  }
}

#location-zip-code{
  .parsley-errors-list {
    position: absolute;
    top: 40px;
    left: 10px;
    padding: 0 5px;
    color: white;
    background-color: #F55F5F;
    margin: 0;

    @media #{$large-and-up} {
      width: 201px;
    }

    @media #{$medium-and-down} {
      width: 172px;
    }
    @media #{$small-and-down-map} {
      width: 172px;
      top: 80px;
    }
    @media #{$small-and-down-map-landscape}{
      width: 172px;
      top: 40px;

    }
  }
}
.widgets {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: $white;
  .map-scroller {
    width: 90px;
    position: absolute;
    left: calc( 50% - 45px );
    top: calc(100vh - 40px );
    background-color: #3f3f3f;
    /* iPhone 2G-4S in portrait */
    @media only screen
    and (device-width : 320px)
    and (device-height : 480px)
    and (orientation : portrait) {
        top: 325px;
    }
    /* iPhone 5 & 5S in portrait */
    @media only screen
    and (device-width : 320px)
    and (device-height : 568px)
    and (orientation : portrait) {
        top: 413px;
    }

    /* iPhone 6/6S in portrait */
    @media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (orientation : portrait) {
        top: 515px
    }

    /* iPhone 6/6S plus in portrait */
    @media only screen
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait) {
        top: 580px;
    }

    /* iPad mini in landscape */
    @media only screen
    and (device-width : 768px)
    and (device-height : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
        top: 660px;
    }

    .fa{
      padding: 10px;
    }
  }

  > .row {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    max-width: 1092px;

    @include open-sans-light();
    font-size: 13px;
    line-height: 13px;

    @media #{$medium-and-up} {
      font-size: $fs-mn;
      line-height: 14px;
    }

    @media #{$medium-and-up} {
      > .col {
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          padding-bottom: 0.75rem;
        }
      }
    }

    @media #{$small-and-down} {
      > .col {
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)  {
          padding-bottom: 0.75rem;
        }
      }
    }
  }
}

.vr {
  display:inline;
  height:100%;
  width:1px;
  border:1px inset;
  margin:5px
}

.widget-title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;

  @media #{$medium-and-up} {
    font-size: 36px;
    line-height: 36px;
  }

  i {
    padding-right: 10px;
  }

  span {
    vertical-align: top;
  }

  &.resources-sold {
    color: #ff7954;
  }

  &.resources-reallocated {
    color: #a0d269;
  }

  &.views-outline {
    color: #919beb;
  }

  &.resources-expiring {
    color: #fc5e5e;
  }

  &.resources-available {
    color: #faeb64;
  }
}

.callout-img {
  position: absolute;
  top: 15px;
  left: 23px;
}
.widget-item {
  display: flex;
}
.widget-desc {
  @include helvetica_neue();
  float: left;
  margin-left: auto;
  margin-right: auto;
  .oval {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    padding: 0 10px;
    margin-right: 10px;
    &.blue {
      background: #007fbf;
    }
    &.green {
      background: #91e300;
    }
    @media #{$large-and-up} {
      width: 70px;
      height: 42px;
      font-size: $fs-md;
      line-height: 42px;
    }
  }
  .widget-desc .btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  }
  .btn {
    text-transform: capitalize !important;
    border-radius: 8px;
    min-width: 90px;
    height: auto !important;
    box-shadow: none;
  }
}

.callout-row-project-name {
  margin-bottom: 2px;

  .col {
    padding-left: 0;
    padding-right: 0;
  }
}

.callout-project-name {
  margin-bottom: 0;

  @include merriweather();
  font-size: $fs-mn;
  color: #464655;

  &.price {
    @include open-sans();
  }
}

.callout-row-regular {
  border-bottom: 1px solid $input-border-color;
  padding-bottom: 6px;
  margin-bottom: 6px;

  .col {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.callout-regular {
  margin-bottom: 0;

  @include open-sans();
  font-size: 13px;
  color: #787878;
}

.callout-light {
  margin-bottom: 0;

  @include open-sans-light();
  font-size: 12px;
  color: #727272;
}

.callout-row-view-details {
  margin-bottom: 0;
}

.callout-view-details {
  font-size: $fs-mn;
  color: #3b98df
}

@media #{$small-and-down} {
  .callout-project-name {
    font-size: 12px;
  }

  .callout-regular {
    font-size: 11px;
  }

  .callout-light {
    font-size: 10px;
  }

  .callout-view-details {
    font-size: $fs-mn;
  }
}

.notification{
  position: absolute;
  z-index: 99;
  top: 2%;
  left: 33%;
  font-family: "Open Sans",sans-serif;
  font-size: $fs-mn;
  word-wrap: break-word;

 @media #{$small-and-down} {
    left: 0%;
    width:100% !important;
    font-size: 10px;
    top: 1.4%;
  }

  @media #{$medium-only} {
    font-size: 10px;
    left: 28%;
  }

  .close-btn{
    width: 20px !important;
    float: right !important;
    padding: 0px;
    height: 20px;
    text-align: center;
    line-height: 1.5;
    font-size: $fs-mn;

    @media #{$small-and-down} {
    width: 20px !important;
    height: 20px;
  }

  }
  .notification-duration{
    color: #F9073E;
    font-weight: 700;
  }

  .heading{
    color: #4BB2F0;
    font-weight: 700;
    padding: 0px;
    float: left;
    @media #{$small-and-down} {
      font-size: 9px;
    }
  }

  .schedule-time{
    color: #F96384;
  }
}

.status-icons-center {
  @media #{$large-and-up} {
    padding-left: 105px !important;
  }
}


.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.awesome-marker {
  background: image-url("markers-soft-tenna.png") no-repeat 0 0;
  width: 35px;
  height: 46px;
  position: absolute;
  left:0;
  top:0;
  display: block;
  text-align: center;
}

.awesome-marker-shadow {
  background: image-url('markers-shadow.png') no-repeat 0 0;
  width: 36px;
  height: 16px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background: image-url('markers-soft-tenna@2x.png');
  background-size: 720px 46px;
 }
 .awesome-marker-shadow {
  background: image-url('markers-shadow@2x.png');
  background-size: 35px 16px;
 }
}

.awesome-marker i {
  color: #333;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}

.awesome-marker .icon-white {
  color: #fff;
}

/* Colors */
.awesome-marker-icon-red {
  background-position: 0 0;
}

.awesome-marker-icon-darkred {
  background-position: -180px 0;
}

.awesome-marker-icon-lightred {
  background-position: -360px 0;
}

.awesome-marker-icon-orange {
  background-position: -36px 0;
}

.awesome-marker-icon-beige {
  background-position: -396px 0;
}

.awesome-marker-icon-green {
  background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
  background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
  background-position: -432px 0;
}

.awesome-marker-icon-blue {
  background-position: -108px 0;
}

.awesome-marker-icon-darkblue {
  background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
  background-position: -468px 0;
}

.awesome-marker-icon-purple {
  background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
  background-position: -288px 0;
}

.awesome-marker-icon-pink {
  background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
  background-position: -324px 0;
}

.awesome-marker-icon-white {
  background-position: -574px 0;
}

.awesome-marker-icon-gray {
  background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
  background-position: -612px 0;
}

.awesome-marker-icon-black {
  background-position: -682px 0;
}
