@import "variables";

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  margin: 0;
}

abbr[title] {
  border-bottom: none;
}

.error_notification {
  color: #D33333;
  margin-bottom: 10px;
}

.error-block {
  margin-top: 5px;
  font-size: 12px;
  color: #D33333;
}

.help-block {
  margin-top: 10px;
  line-height: 20px;
}

label.boolean, label.collection_radio_buttons {
  top: 0;
  left: 0;
}

.input-field.boolean, .input-field.radio_buttons {
  margin-top: 0;
}

[type="radio"] {
  + label {
    font-size: 12px !important;
  }
}

[type="radio"] + label:before,
[type="radio"] + label:after {
  margin-left: 0;
}

.radio_buttons > span:last-child {
  position: absolute;
  top: 0;
  left: 186px;
}

@media #{$medium-only} {
  .radio_buttons > span {
    display: block;

    &:last-child {
      position: static;
      left: auto;
    }
  }
}

@media #{$small-and-down} {
  .form-col:first-child {
    margin-bottom: 20px;
  }
}

.form-col > .row:last-of-type {
  margin-bottom: 0;
}

.form-actions {
  text-align: right;

  a, button {
    margin-left: 20px;
  }
}

.form-actions-wanted {
  text-align: right;
  a, button {
    margin-right: 10px;
    margin-top: 30px;
  }
}

.input-field {
  // label {
  //   font-size: 15px;
  //   @media #{$small-and-down} {
  //     font-size: $fs-mn;
  //   }
  //   color: $font-color-dark-gray;
  //   // &.boolean {
  //   //   font-size: 12px;
  //   //   color: $font-color-dark-gray;
  //   // }
  // }
}

.file-field, .material_file, .image_preview {
  margin-top: 0;
}

.image_preview img {
  display: block;
}

select {
  height: 2rem;
  margin: 0.5rem 0;
  // font-size: 12px;
}

////buttons, button-link, form-inputs//// Not the final names////
.btn {
  border-radius: 0;
  text-transform: capitalize;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $primary;
  box-shadow: 0 1px 0 0 $primary;
}

input[type=search] {
  border-bottom: 1px solid #C6C6C6 !important;

  &:focus:not([readonly]) {
    border-bottom: 1px solid $primary !important;
    box-shadow: 0 1px 0 0 $primary;
  }
}

.input-field label {
  color: $light-gray;
  font-size: 14px;
  font-family: $base-font;
}
