@import "variables";

$small-and-down-map: "screen and (max-width: 600px), screen and (max-height: 767px)";
html.turbolinks-progress-bar::before {
  background-color: $secondary-color !important;
}

@media #{$medium-and-up} {
  body {
    background-color: #f7f6f3;
  }
  #search-form , #group-search-form {
    .input-field {
      margin-left: 4%;
    }
  }
}
@media #{$medium-and-down} {
  #toggle-filters{
    margin-right: 5px !important;
  }
}

.card-panel {
  position: relative;
  margin: 40px auto 0 auto;

  @media #{$small-and-down} {
    box-shadow: none;
    padding: 0;
  }

  > .row {
    margin-bottom: 0;
  }
}

.margin-top-none {
  margin-top: 0 !important;
}

.margin-top-std {
  margin-top: 20px !important;
}

.margin-top-lg {
  margin-top: 30px !important;
}

.margin-btm-none {
  margin-bottom: 0 !important;
}

.margin-btm-std {
  margin-bottom: 20px !important;
}

.margin-btm-lg {
  margin-bottom: 30px !important;
}

.caret {
  color: #646464;
}

.table {
  table-layout: fixed;

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  tr:first-child td {
    padding-top: 0;
  }

  tr:last-child td {
    padding-bottom: 0;
    border-bottom: none !important;
  }

  p {
    margin-bottom: -1px;
    max-width: calc(100% - 30px);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: $fs-mn;
}

.header-link {
  position: relative;
  .form-actions {
    position: absolute;
    right: 0;
    top: -10px;
    a, button {
      position: relative;
      font-size: inherit;
      line-height: 36px;
      @include helvetica_neue_medium();
      font-size: $fs-mn;
      color: $font-color-blue;
      background: none;
      border: 0;
      box-shadow: none;
      text-transform: none;
      vertical-align: top;
      will-change: inherit;
    }
  }
  a {
    &#apply-filters {
      @include helvetica_neue_bold();
      font-size: $fs-base;
      color: $font-color-blue;
    }
  }
  a {
    position: absolute;
    top: 0;
    right: 0;

    font-size: $fs-mn;
    line-height: 16.5px;
  }
}

.nowrap {
  white-space: nowrap;
}

@media #{$medium-and-up} {
  .separator-row {
    > .col {
      &:first-child {
        padding-right: 20px;
        border-right: 1px solid $input-border-color;
      }

      &:last-child {
        padding-left: 20px;
      }
    }
  }
}

.map-pin-info-project {
  width: 350px;
  padding-top: 5px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.map-pin-info-asset {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.map-pin-info-asset-single {
  .callout-row-regular {
    height: 60px;
  }

  .callout-project-name {
    max-width: 115px;
    margin-left: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media #{$medium-and-down} {
  .map-pin-info-project {
    width: 225px;
  }

}
.row-buttons{
    a,
    button{
        margin-top: 5px;
    }
}

#flash {
  text-align: center;

  .chip {
    margin-top: 20px;
    display: inline-table;
    color: #fff;
    &.alert {
      background-color: #F55F5F;
    }

    &.notice {
      background-color: #3B98DF;
    }

    &.success {
      background-color: #B0D18C;
    }
  }
}

#pages-index, #dashboard-index {
  #flash {
    position: absolute;
    top: 56px;
    margin: auto 0;
    z-index: 1000;
    left: 50%;
  }
}

[type="checkbox"].filled-in:checked + label:after {
	border: 2px solid $primary;
    background-color: $primary;
}
/* could be put in assets css if any problem */

input[type="text"]:focus:not([readonly]) + label {
	color: $primary;
}

[type="checkbox"]:checked:disabled + label:before, [type="checkbox"]:checked + label:before {
  border-right: 2px solid $primary !important;
  border-bottom: 2px solid $primary !important;
}
[type="checkbox"]:disabled + label, [type="checkbox"] + label {
  color: $black;
}
[type="checkbox"]:not(:checked):disabled + label:before, [type="checkbox"]:not(:checked) + label:before {
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  background-color: inherit;
}

input[type=text]:focus,input[type=email]:focus,input[type=textarea]:focus,input[type=tel]:focus, .materialize-textarea:focus:not([readonly]) {
 border-bottom: 1px solid $primary !important;
 box-shadow: 0 1px 0 0 $primary !important;
}



.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: $primary;
	font-family: $base-font-regular;
	font-size: $fs-mn;
}

.select2-results__option {
	color: $darker-gray;
	font-size: $fs-mn;
	font-family: $base-font-regular;
  strong.select2-results__group {
    font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif;
    font-weight: 600;
  }
}

#filter_search_distance_miles option:hover{
	background-color: red !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: $darker-gray;
	font-size: $fs-mn;
	font-family: $base-font-regular;
}
#filters {
  .form-actions .btn {
    padding-left: 1em;
    padding-right: 1em;

    &:first-child {
      margin-left: 0;
    }
  }
  .form-actions .btn-link1 {
    padding-right: 0;
    padding-left: 0;
  }
  .card-panel-heading {
    @include helvetica_neue_bold();
    color: $darker-gray;
    font-size: $fs-lg;
    font-weight: bold;

    text-transform: capitalize;
    padding-bottom: 10px;
    margin-bottom: 20px;

    border-bottom: 1px solid #C6C6C6;

  }
}

.filter-header {
  @include helvetica_neue_bold();
  color: $darker-gray;
  font-size: $fs-lg;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 1px solid #C6C6C6;
  @media #{$small-and-down} {
    padding-bottom: $px-tn;
  }
}


.filter-list {
  float: right;
}
.filter-list .filter-item{
  margin-left: $px-sm;
  display: inline-block;
  @media #{$small-and-down} {
    display: block;
  }
}
.picker__date-display{
  display: none;
}
.btn:hover, .btn-large:hover{
	background-color: $primary;
}
.tabs .indicator {
    background-color: $primary;
}
.tabs .tab a.active, .tabs .tab a:hover {
    color: $primary;
}

a {
  color: #fd4f00;
}
#scatter-icon.active svg {
    fill: $primary;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: $primary transparent transparent transparent;
}

/* select caret plus font colot change
select {
  background: transparent;
  width: 168px;
  padding: 5px;
  font-size: $fs-base;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  color: $primary;
}*/
.new-action-caret-groups{
  border: 1px solid #dadada;
  padding: 5px;
}
.modal-bg-clr{
  background: white;
}
.modal-heading-botm{
  border-bottom: 1px solid #dadada;
}
.change-date-cncl-btn{
  margin-top: 0px !important;
  margin-right: 20px !important;
}
.hr-global{
  border: none;
  height: 1px;
  background: #dadada;
}
.exp-row{
  margin-bottom: 1px;
  margin-top: -2%;
}
.noUi-connect, .noUi-handle{
	background-color: $primary !important;
}

@media only screen and (max-width: 600px) {
	.marketplace-srt-page {
	  right: 9px;
    }
    body{
      background: white !important;
  }
}

.right-margin--15 {
  margin-right: -15px;
}
.left-margin--15 {
  margin-left: -15px;
}
.padding-mid-top-35 {
  @media #{$medium-and-down} {
    padding-top: 35px !important;
  }
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.text-align-right {
  text-align: right !important;
}
.text-align-left {
  text-align: left !important;
}

#dashboard-index {
  #bs-filters {
    @media #{$small-and-down-map}{
      @media screen and (min-width:0\0) { /* hack to target only IE 9 and 10 browsers */
        padding-top: 45px;
      }
    }
    .marketplace-srt{
      top: 24px;
    }
    .marketplace_heading{
      margin-top: 48px;
    }
    .market-mg{
      margin-top: 0px !important;
    }
	#assets-index .card-panel-mg{
	  margin-top: 20px !important;
	}

	#new-head > h1 {
		top: -31px;
	    position: relative;
	}
	.select-wrapper input.select-dropdown {
	     margin-left: 0px !important;
	}
	.assets-srt-page{
	  margin-right: -8px !important;
	  margin-top: 0px !important;
	  top: 2px;
	}
	.projects-srt-page{
	  margin-top: 30px;
	}
	#projects-index .srt-fm-desktop{
      margin-right: 21px;
    }
    .controller-projects.action-show .new-page-size-form{
      margin-right: 0px;
      margin-top: -5px;
    }
    .controller-projects.action-show .page-sz-frm-grp{
      margin-top: -37px;
    }
	.wrench-icon-bold {
		margin-left: 0px !important;
	}
	.small_left_align{
		text-align: left;
	}
	.hide_data{
		display: none !important;
	}
	table.dataTable.no-footer {
	    border-bottom: 1px solid #111;
	    font-size: 9px !important;
	}
	.sortable{
		display: none !important;
	}
	.controller-assets.action-new .waves-effect.waves-light.btn, .controller-assets.action-create .waves-effect.waves-light.btn, .controller-assets.action-edit .waves-effect.waves-light.btn, .controller-assets.action-update .waves-effect.waves-light.btn, .controller-wanted-assets.action-new .waves-effect.waves-light.btn, .controller-wanted-assets.action-create .waves-effect.waves-light.btn, .controller-wanted-assets.action-edit .waves-effect.waves-light.btn, .controller-wanted-assets.action-update .waves-effect.waves-light.btn{
		height: 35px;
	    margin-top: 0px;
	    line-height: 2.4rem;
	}
	.hide-tab-scrollbar .tabs .tab {
	    height: 60px;
	    line-height: 60px;
	    min-width: 50px;
	}
	.wrench-icon-bold:before {
      content: "\f0ad";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #E6913E;
      font-size: 25px;
      padding-right: 0.5em;
      position: absolute;
      left: 100px;
      top: -7px;
	}
	.steps-splitter > li {
	    min-width: 100px !important;
	}
}
.hr-market-global{
  margin-top: 40px;
  border: none;
  border-bottom: 1px solid #dadada;
  height: 0px;
}
.hr-site-aset-global{
  margin-top: -27px;
  border: none;
  border-bottom: 1px solid #dadada;
  height: 2px;
}
.dropdown-content li > a{
  color: $primary;
}
.modal-content{
  background: #fff;
}
@media only screen and (min-width : 768px) and (max-width : 1600px) {
	body{
	  background-color: #F7F6F3 !important;
	}
  }
  .hr-market-global{
    margin-top: 40px;
    border: none;
    border-bottom: 1px solid #dadada;
    height: 0px;
  }
  .hr-site-aset-global{
    margin-top: -27px;
    border: none;
    border-bottom: 1px solid #dadada;
    height: 2px;
  }
  .dropdown-content li > a{
    color: #fd4f00;
  }
  .modal-content{
    background: #fff;
  }
  @media only screen and (min-width : 768px) and (max-width : 1600px) {
    body{
      background-color: #F7F6F3 !important;
    }
  }
}
footer.page-footer {
  margin: 0;
  padding: 0;
  background: none;
}
footer.page-footer .card-panel {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.tabs.groups {
  background: transparent;
  margin-top: 15px;
  .tab {
    border-bottom: 4px solid rgba(0, 0, 0, 0.12);
    /*border-top-right-radius: 15px;
    border-top-left-radius: 15px;*/
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-weight: bold;
  }
}

p.move-group-info-text {
  font-size: $fs-mn;
  font-weight: 400;
  color: $font-color-light-green;
  padding-bottom: 5px;
}

.padding-0 {
  padding: 0 !important;
}
.padding-10 {
  padding: 10px !important;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-100 {
  padding-top: 100px !important;
}
.padding-top-150 {
  padding-top: 150px !important;
}
.padding-bottom-1 {
  padding-bottom: 1px;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}
.padding-bottom-50 {
  padding-bottom: 50px !important;
}
.padding-bottom-100 {
  padding-bottom: 100px !important;
}
.padding-left-0 {
  padding-left: 0 !important;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-170 {
  padding-left: 170px;
}
.padding-right-100 {
  padding-right: 100px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-left-0 {
  margin-left: 0 !important;
}
.ltr-spacing {
  letter-spacing: 2px;
}
.image-mask {
  opacity: 0.3;
}
.line-height-30 {
  line-height: 30px;
}
.line-height-40 {
  line-height: 40px;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}

@media #{$large-and-up} {
  .btn-border-blue3 {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    border: 4px solid #009BEE;
    text-align: center;
    line-height: 28px;
  }
}

@media only screen and (max-width: 1100px) {
  .hide-on-desktop-small {
    display: none !important;
  }
  nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }
  .show-on-desktop-small {
    display: block !important;
  }
  .nav-user-dropdown {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: -5%;
  }
  .show-on-desktop-small-text {
    text-align: right !important;
  }
}

#second-nav {
  background-color: #33333C;
  max-width: 100% !important;
  width: 100% !important;
  box-shadow: none !important;
}

.learn-more-form {
  button {
    text-transform: uppercase !important;
    color: white !important;
  }
  select {
    font-size: 12px !important;
    margin: 0.5rem 0 !important;
  }
  .comment-label{
    label {
      left: -0.25rem !important;
    }
  }
}

.dl-pdf-form {
  width: 400px;
  button {
    text-transform: uppercase !important;
    color: white !important;
  }
  input {
    border: none !important;
    border-bottom: 1px solid #979797 !important;
  }
}

@media only screen and (max-width: 600px) {
  #new_filter_search{
    padding-top: 10px;
    margin: 10px;
    padding-bottom: 10px;
  }
  #tab-inventory .card-panel:first-child, #tab-checklist .card-panel:first-child{
    padding: 20px !important;
  }

  #panel-list_inventory, #panel-list_not-in-list, #panel-list_found, #panel-list_not-in-assets{
    padding: 10px;
  }
  #panel-list_not-found{
    padding: 10px;
    margin-top: 40px !important;
  }
  .show_link_on_small_devices{
    width: 30%;
  }
}

.tbl-Groups {
  border-top:1px solid #ccc;
}

.asset-icons{
  top: 90px !important;
}

.videos-box {
  bottom: 130px;
  top: auto;
  left: 15px;
  width: 300px;
  height: 200px;
  z-index: 3000;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  border-radius: 4px;
  display: none;
  @media #{$medium-and-down} {
    bottom: 90px;
    left: 30px;
  }
  @media #{$small-and-down} {
    width: 100%;
    left: 0;
    box-shadow: none;
    border-radius: 0;
    bottom: 0;
  }
}
.videos-box-header {
  width: 100%;
  height: 30px;
  background-color: #00B2D3 ;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 12px;
  color: #ffffff ;
  padding: 7px 0px 0px 12px;
  @media #{$small-and-down} {
    border-radius: 0;
  }
}
.video-box-content{
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  bottom: 0;
  top: 35px;
  right: 0;
  left: 0;
}
.videos-box-cancel {
  color: #ffffff ;
  right: 12px;
  top: 4px;
  cursor: pointer;
  position: absolute;
}
.video-link-div {
  padding: 10px 10px 0 10px;
  span {
    position: relative;
    padding-left: 0;
    top: 0;
    color: #33333C ;
  }
}
.video-help-link {
  //position: absolute;
  width: 90%;
}
.fab-helper-main {
  position: absolute;
  left: 23px;
  width: 0;
  &.active, .fab-helper-sub {
    .btn-floating {
      background-color: #00B2D3;
    }
  }
}
.fab-helper-sub {
  position: fixed;
  bottom: 60px;
  @media #{$medium-and-down} {
    bottom: 23px;
  }
  ul {
    bottom: 64px;
  }
}
.my-table tr:first-child td {
  top: 5px !important;
  padding-bottom: 20px !important;
}
.my-table tr:first-child td:last-child a > p.date_posted {
  margin-bottom: 0px;
}

body {
  font-family: $base-font-regular;
}

/* Main Website Background Color */
.mainbg {
  background-color: #f7f6f3;
}
/* Icon Color for Analytics, Icon tabs, etc. */
.icons {
  color: #a3a49f;
  text-decoration: none;
}
a.icons:hover {
  color: $primary;
}
/* Dropdown Border & Horizontal Line */
.dropdownborder {
  background-color: #c1c2bf;
}
/* Background of Filter & Band on List */
.filterbg {
  background-color: $lightest-gray;
}
/* Checkbox color */
.checkbox {
  background-color: $dark-gray;
}
.btn:hover, .btn-large:hover{
	background-color: $primary;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: $primary;
    color: #ffffff;
}

.picker__day.picker__day--today {
    color: $primary;
}

.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: $primary;
 }


 @media only screen and (max-width: 500px) {
 	.premium-reports{
 		display: none !important;
 	}
 	#reports-container{
 	 		margin-top: 15px !important;
 	}
}

.cb1 {
  color: $darker-gray !important;
  font-size: 14px !important;
  font-family: $base-font-medium !important;
}
// .controller-projects, .controller-assets{
//     div.select-wrapper .select-dropdown{
//       // border: none;
//     }
// }

.tenna-blue {
  color: #00b2d3;
}

@media only screen and (max-width: 500px) {
    .hide-on-desktop-small {
        display: none;
    }
    .dhx_cal_light_rec.dhx_cal_light_wide {
	    width: 350px !important;
	    left: 5px !important;
	}
	#events-index .dhtmlx_modal_box{
	    left: 10px !important;
	    width: 320px !important;
	}
}

#tracking-codes-unauthorized, .controller-asset-reports ,.controller-wanted-assets,.controller-reports,
.action-checklist,.action-findit,.controller-events,.controller-live-data, .controller-safety-reports{
  main.container {
    max-width: 100% !important;
  }
  #not_subscribed {
    padding-top: 40px;

    .title-text-big-orange {
      color: $primary;
      @media #{$medium-and-up} {
        font-size: 39px;
      }
      @media #{$small-and-down} {
        font-size: $fs-xl;
      }
    }

    .intro-text {
      font-size: $fs-mx;
      font-weight: 200;
      color: #2d2a26;

      &.contact-text {
        color: black;
      }
    }

    .not-subscribed-image {
      background-image: asset_url('reports-assets-non-subscriber-min.png');
      background-repeat: no-repeat;
      border-radius: 0;
      box-shadow: none;
      text-align: center;
      height: 500px;
      width: 100%;
      font-size: 50px;
      font-weight: 200;
      justify-content: center;
      display: flex;

      @media #{$large-and-up} {
        background-size: contain;
        height: 450px;
      }

      @media #{$medium-and-down} {
        background-position-x: center;
      }
    }
    .not-subscribed-livedata-image {
      background-image: asset_url('Live-Data-Devices-for-Non-Subscriber.png');
    }
    .not-subscribed-want-it-image {
      background-image: asset_url('Wanted-for-PNG-Export-Non-Subscriber.png');
    }
    .not-subscribed-company-reports-image{
      background-image: asset_url('Non-Subscriber-Company-Reports.png');
    }
    .not-subscribed-find-it-image {
      background-image: asset_url('Find-It-For-Non-Subscriber.png');
    }
    .not-subscribed-schedule-it-image {
      background-image: asset_url('Schedule-It-Devices-for-Non-Subscriber.png');
    }
    .not-subscribed-safety-reports {
      background-image: asset_url('safety-reports-non-subscriber.png');
    }
    .not-subscribed-img-generic-css{
      background-repeat: no-repeat;
      border-radius: 0;
      box-shadow: none;
      text-align: center;
      height: 500px;
      width: 100%;
      font-size: 50px;
      font-weight: 200;
      justify-content: center;
      display: flex;

      @media #{$large-and-up} {
        background-size: contain;
        height: 450px;
      }

      @media #{$medium-and-down} {
        background-position-x: center;
      }
    }

    #mail-div a {
      color: $primary;
    }
  }
}

.email-link1 {
  a {
    color: #00b2d3;
  }
}

.b3-qr {
  color: $darker-gray !important;
  font-size: $fs-base !important;
  font-family: $base-font-regular !important;
  font-weight: normal !important;
}

.text-printable {
  color: #fd4f00;
}

.l5-qr {
  color: #2d2a26 !important;
  font-weight: bold !important;
}

.btn-qr {
  float: right;
}

.labelcb {
  color: #353330;
  font-weight: bold;
}

[type="radio"].with-gap:checked + label:before {
  border: 2px solid #5a5a5a;
}

label.boolean {
  color: #2d2a26;
}

.Select--multi .Select-value-icon, .Select--multi .Select-value
{
  border-color: #ccc !important;
  background-color: #ccc !important;
}

#first-nav {
  box-shadow: none !important;
  border-bottom: 1px solid #C6C6C6;
}

.padding-left-5
{
  padding-left: $px-tn;
}

.pointer_cursor{
  cursor: pointer;
}

.subs-modal-close-icon{
  font-size: 20px;
  float: right;
  margin-top: 6px;
}
.is-focused:not(.is-open) > .Select-control
{
  border-color: $primary !important;
  box-shadow: none !important;
}

.Select-value{
  color: #999 !important;
  cursor: pointer;
  margin-right: 2px;
}


.scanned-text
{
  font-size: 20px;
  color: $primary;
}

.scanned-img{
  width: 50px;
  height: 50px;
}

.color_green{
  color: #94dc00 !important;
  margin-left: 5px !important;
}

#link_asset{
  float: right;
}

@media only screen and (max-width: 500px) {
  .mt-md {
    display: none;
  }
}


.scanned_list
{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.dropdown_fix{
  width: 100% !important;
  cursor: pointer;
  top: 0px !important;
  left: 20px !important;
  opacity: 1 !important;
  height: 30px !important;
  pointer-events: all !important;
}

.Select {
  .Select-input {
    margin-top: -3px;

    input {
      box-sizing: border-box !important;
    }
  }

  .Select-value {
    margin-top: -5px;

    .Select-value-label {
      line-height: 45px;
    }
  }
}

#search-form, #group-search-form {
  label[for="search"] {
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-transform-origin: unset !important;
    transform-origin: unset !important;
  }
}


#flash .chip .material-icons
{
  cursor: pointer !important;
  float: right !important;
  font-size: 16px !important;
  line-height: 32px !important;
  padding-left: 8px !important;
}

#flash > .notice {
  color: #FFF;
  background-color: #A8CC00 !important;
}

.preloader-background {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 996;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .spinner-layer {
    border-color: $primary;
  }
}
.input-field select{
  display: block;
  position: inherit;
  width: 100%;
  pointer-events: all;
  height: 32px;
  top: 0;
  left: 0;
  opacity: 1;
}