@import "variables";

.container {
  width: 90%;
}

main.container {
  max-width: 740px;
}

#assets-index,#assets-findit, #assets-checklist, #assets-sold, #dashboard-index, #marketplace-index, #favorites-index, #projects-index, #projects-show,
#wanted-assets-index, #companies-show, #groups-index, #groups-show, #reports-index, #path-finder-index, #path-finder-manage-routes, #path-finder-edit, 
#asset-reports-index, #asset-reports-filter-get, #asset-reports-pre-filter-get, #live-data-index {
  main.container {
    max-width: 1280px;
  }
}
