@import "variables";
#groups-index {
  strong {
    font-weight: 600;
  }
  @media #{$medium-and-up}{
    .page-size-filter-form::before{
      top: 3px;
    }
  }
}

#table-groups {
  tr:last-child {
    .address {
      bottom: 17px;
    }

    .closeout_date {
      bottom: 0;
    }
  }
  td.selection-cell {
    width: 30px;
    padding-right: 10px;
    vertical-align: middle !important;

  }


  td {
    position: relative;
    border-bottom: 1px solid #C6C6C6;
  }

  p {
    &.group_name {
      margin-bottom: 1px;
      @include open-sans-semi-bold();
      font-size: 15px;
      color: $font-color-light-black;
    }
  }

   .category, .available_on, .project, .location, .description, .name, .email, .phone {
    font-size: 13px;
    color: $font-color-dark-gray;
    max-width: calc(100% - 150px);
  }

  .date_posted {
    right: 5px;
    @media #{$medium-and-up} {
      position: absolute;
      font-size: 13px;
      bottom: 10px;
    }
    @media #{$small-and-down} {
      font-size: 13px;
      bottom: 5px;
    }
    color: $font-color-dark-gray;
  }
}


#groups-show {
  #spreadsheet-links {
    a:last-child {
      float: none;
    }



    button {
      float: right;
      // margin-left: 15px;
      padding: 0px 11px;
      @media #{$medium-and-down} {
        //float: none;
        margin-left: 0;
        //display: block;
        margin-top: $px-sm;
      }
    }
  }

  #tab-assets {
    .card-panel {
      margin-top: 0 !important;
    }
  }
  #tab-history {
    margin-top: 0;
  }
  a.btn.move-group {
    color: white;
    // margin-left: 15px;
    // font-weight: 300;
    // float: right;
    @media #{$medium-and-down} {
      float: none;
      margin-left: 0;
      display: block;
      margin-top: $px-sm;
      width: fit-content;
    }
  }
}

#multi-group-notes, #group-edit-notes {
  display: none;
  p {
    color: #e6913e;
    font-size: $fs-mn;
    font-weight: 400;
    padding: 0 20px;
  }
}
.group-srt-name{
  margin-top: 52px;
  border: 1px solid #dadada;
  height: 32px;
  border-radius: 3px;
}
.group-srt-name input{
  margin-top: -8px !important;
  border-bottom: 0px !important;
  margin-left: 4px !important;
}
.group-chkbox-align{
  vertical-align: top !important;
  top: 6px;
}



input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label
{
  color: #fd4f00 !important;
}

.group-filter {
  div.boolean {
    margin-bottom: 20px;
  }
}
