@import "variables";

html {
 /*@include open-sans();*/
  position: relative;
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
#bottom-bg {
  display: none;
}
@media #{$large-and-up} {
  body {
    margin: 0 0 55px; /* bottom = footer height + margin */
  }


  .page-footer {
    padding-top: 30px !important; /* bottom = footer height + margin */
  }


  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 58px;
    width: 100%;
  }
}

main {
  @media #{$medium-and-down} {
    //margin-bottom: 100px !important;
  }
}

.footer-text {
  line-height: 24px;
  position: relative;

  a {
    color: $dark-gray;
  }

  ul {
    display: table-cell;
    float: left;
    margin: 2px 0 0 40px;
    
    @media #{$medium-and-down} {
      display: block;
      float: none;
      margin: 0;
      text-align: center;
    }

    li {
      display: inline;

      &:before {
        content: " | ";
        padding: 0 12px;
      }

      &:first-child:before {
        content: none;
      }
    } 
  }

  .social-links {
    float: left;
    
    &:after {
      position: absolute;
      content: "";
      width: 2px;
      height: 68px;
      top: 0;
      left: 210px;
      background: $lighter-gray;
    }

    @media #{$medium-and-down} {
      border-right: none;
      float: right;
      margin-top: 15px;
      &:after {
        display: none;
      }
    }

    @media #{$small-and-down} {
      float: none;
      text-align: center;
    }
    a {
      i {
        font-size: 24px;
        color: $black;
      }
      &:hover {
        i {
          color: $secondary;
        }
      }
      margin-right: 20px;
      @media #{$medium-and-down} {
        margin: 0 10px;
      }
    }
  }

  .copy-right {
    line-height: 24px;
    @media #{$medium-and-down} {
      padding-top: 15px;
      line-height: 16px;
    }
    @media #{$small-and-down} {
      text-align: center;
      padding: 15px 0;
    }
    span {
      float: right;
      @media #{$medium-and-down} {
        float: left;
      }
      @media #{$small-and-down} {
        float: none;
      }
    }
  }
}

.page-size-form {
  position: relative;
  &:before {
    content: 'Show:';
    position: absolute;
    right: 120%;
    top: 0;
    margin-right: -10px;
    line-height: 45px;
  }
  width: 70px;
  float: right;

  .select-wrapper input.select-dropdown {
    //border: 1px solid #979797;
    border: none;
    color: black;
    text-align: center;
  }
  .select-wrapper {
    .dropdown-content {
      min-width: 90px;
    }

    .caret {
      color: $primary;
    }
  }
}

.history-select {
  position: relative;
  color: black;
  &:before {
    font-weight: 800;
    font-size: $fs-base;
    font-family: 'Open Sans', sans-serif;
    content: 'Show:';
    position: absolute;
    top: 0;
    margin-right: 1px;
    line-height: 45px;
  }
  width: 70px;
  float: right;

  .select-wrapper input.select-dropdown {
    border: none;
    color: black;
    text-align: center;
  }
  .select-wrapper {
    .dropdown-content {
      min-width: 60px;
      //max-width: 150px;
    }
  }
}

.card-panel-heading.without-border {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 45px;
}

.text-blue {
  color: #3B98DF !important;
}

.margin-left {
  margin-left: 20px;
}

.Select-menu-outer {
  z-index: 3;
}