// Place all the styles related to the live_data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "live_data/sub_navigation";
@import "live_data/map";
@import "live_data/assets";
@import "live_data/assets_carousel";
@import "live_data/assets_table";
@import "live_data/notification" ;
@import "live_data/config_alerts" ;
@import "live_data/config_filters" ;
@import "live_data/navigation" ;
@import "live_data/accordion" ;
@import "live_data/filter" ;
@import "live_data/idle_hours";
@import "live_data/company_contacts";
@import "live_data/alert_notes";
@import "live_data/alert_type";
@import "live_data/attachment_subnav";
@import "live_data/alert_type_carousel";
@import "live_data/alert_type_modal";
//@import 'react-select/dist/react-select.css';
@import "live_data/notification_modal" ;
@import "live_data/geo_fence";
@import "live_data/asset_detail/asset_detail";

.liveData {
  &__filter {
    flex: 0 0 auto;
    max-width: 100%;
    min-width: 0;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__map {
    flex: 1 1 0px;
    position: relative;
  }

  &__filterContainer {
    display: flex;
    flex-flow: row wrap;
  }

  &__homeLink {
    position: absolute;
    right: 55px;
    top: 0;
  }
}

.gallery-cell {
  width: 17%;
  height: 290px;
  margin-right: 29px !important;
}

.flickity-viewport
{
  height: 350px !important;
}

.flickity-page-dots{
  display: none !important;
}

.gallery-cell.is-selected {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 310px !important;
  top: -10px !important;
}

.gallery-cell img {
  width: 100% !important;
}

.liveDataNotification {
  .row {
    .col {
      margin: 10px 0;
    }
  }

  .notification-table {
    max-height: 353px;
    overflow-y: scroll;
    border-bottom: 1px solid lightgray;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  }
}

#live-data-index {
  .modal-content {
    overflow-y: auto !important;
  }

  .modal-footer {
    position: sticky;
    bottom: 0;
  }
}

@media screen and (max-width: 390px) {
  .ldAssetInfo__info {
    line-height: 30px;
    height: 387px;
  }
  .ldAssetInfo__infoWrapper {
    border: 1px solid #d8d8d8;
    padding: 30px 10px;
    height: 488px;
  }
}
@media screen and (min-width: 490px) and (max-width: 600px) {
  .alertTypeModal__content > .row > .guage_items{
    margin: 0px -90px 0px -10px;
  }
}

@media screen and (min-width: 393px) and (max-width: 489px) {
  .alertTypeModal__content > .row > .guage_items{
    margin: 0px -96px 0px 8px;
  }
}

@media screen and (max-width: 392px) {
  .alertTypeModal__content > .row > .guage_items{
    margin: -5px -104px 0px -13px !important;
  }
  .btns_modal{
    padding: 0px 18px 0px 13px;
  }
}

.gmnoprint {
  left: 40px !important;
}

@media screen and (min-width: 390px) and (max-width: 500px) {
  .ldAssetInfo__info {
    line-height: 30px;
    height: 294px;
  }
  .ldAssetInfo__infoWrapper {
    border: 1px solid #d8d8d8;
    padding: 30px 10px;
    height: 390px;
  }
}

@media screen and (max-width: 320px) {
  .ldAssetNotifList__severityList {
    width: 40px;
  }
  .ldAssetNotifList__inlineLabel {
    margin-right: 0px;
  }
  th {
    padding: 15px 2px !important;
  }
  #map-wrapper .live-data-btn {
    position: absolute;
    right: 80px;
    top: 45px;
  }
}

@media screen and (max-width: 467px) {
  #map-wrapper .live-data-btn {
    position: absolute;
    right: 80px;
    top: 45px;
  }
}
@media screen and (orientation:portrait) {
  .gmnoprint {
    margin-top: 50px !important;
  }
  .gm-style-mtc {
    top: -41px;
  }
}
@media screen and (orientation:landscape) {
  .gmnoprint {
    margin-top: 50px !important;
  }
  .gm-style-mtc {
    top: -41px;
  }
}
@media screen and (max-width: 425px) {
  .gm-style-mtc {
    top: -41px;
  }
  .liveData__homeLink {
    padding: 0px 12px 0px 12px;
    margin-top: 7px;
  }
  .export-data-btn {
    visibility: hidden;
  }
}

.inputfielD {
  width: 85px !important;
}

.liveDataAssetCarousel > .slick-list > .slick-track > .slick-slide {
  width: 200.148px !important;
}

@media screen and (min-width: 426px) and (orientation: portrait) {
  .view_list{
    display:inline;
  }
}

@media screen and (max-width: 425px) and (orientation: portrait) {
  .view_list {
    display:none;
  }
}

@media screen and (min-width: 750px) and (orientation: landscape) {
  .view_list{
    display:inline;
  }
}

@media screen and (max-width: 750px) and (orientation: landscape) {
  .view_list {
    display:none;
  }
}

.divContacts {
  margin-top:45px;
}

@media screen and (min-width: 321px) and (max-width: 373px) {
  .tableHead{
    font-size: 12px !important;
  }
  .ldAssetNotifList__severityList{
    width: 58px !important;
  }
}

.label_event_filters{
  display: block;
  color: rgba(33, 33, 33, 0.75);;
  font-size: 16px !important;
  font-weight: 500;
  font-family: "Helvetica Neue - Medium", Helvetica, Arial, serif;
  text-decoration: none;
  position: relative;
  padding: 10px 1px;
}

@media screen and (max-width: 665px) {
  .alertItem__conditionList {
    display: flex !important;
  }
}

@media screen and (max-width:555px) {
  .liveData__homeLink {
    margin-top:47px !important;
  }
}
@media screen and (min-width: 750px) and (max-width: 1190px){
  .slick-slide {
    width: 123px !important;
  }
}
