@import "variables";

#marketplace-index {
  #dashboard-map {
    width: 100%;
    height: 560px;;

    @media #{$medium-only} {
      height: 360px;
    }

    @media #{$large-and-up} {
      height: 560px;
    }
  }
  .marketplace-srt-page{
    position: absolute;
    top: 48px;
    right: 150px;
  }
  #panel-list {
    padding-top: 15px;
  }
  .filter-header{
    border: none;
  }
  h1.without-border {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 45px;
  }

/*  .sort-form,
  .action-form {
    top: 10px;
  }*/
  @media #{$small-and-down} {
    .marketplace_heading{
      margin-top: -9px;
      margin-left: -12px;
    }
    .marketplace-srt-page{
      top: -40px;
      right: 10px;
    }
    .marketplace-srt{
      top: -13px;
      right: 10px;
    }
    #new-head{
      margin-top: 16px !important;
    }
    .row .mb-sm .h1{
      top: 62px;
    }
    .margin-bottom-0{
      margin-bottom: 22px !important;
      position: relative;
    }
  }
  /*.select-wrapper input.select-dropdown{
    border: none;
  }*/
  #new-head{
    margin-top: 24px;
  }
  /*.select-wrapper input.select-dropdown{
    top: 7px;
  }*/
}
