@import "variables";

body.controller-pages {
  nav {
    background-color: white;
    &.nav-search {
      background-color: $primary-color-dark;
    }
    a {
      color: #D3D1DB;
    }
    ul {
      a {
        color: #D3D1DB;
      }
      &.side-nav {
        a {
          color: #444;
        }
      }
    }
    i.icon-blue {
      color: #009BEE;
    }
  }
}


nav {
  @include open-sans-bold();
  background-color: white;

  .header-main-link {
    @media (min-width: $medium-screen) {
      border-left: 1px solid lightgray;
    }

    @media screen and (min-width:601px) and (max-width:992px){
      border-left: 1px solid lightgray;
    }

    @media (max-width: $small-screen) {
      height: 56px;
      margin-top: 15px;

      &:hover {
        background-color: transparent;
      }

      .hi-user-name-with-initial {
        font-weight: normal;
        padding: 14px 16px;
      }
    }

    &:hover, &:active {
      div.tenna-main-nav-icon {
        background-image: url('/static-assets/tenna-nav-images-colored.png');
      }
    }

    i.fa {
      margin-left: 10px;
      font-size: 100%;
      color: $primary;

      @media (max-width: $small-screen) {
        margin-left: 0;
        margin-top: 5px;
      }
    }

    .tenna-main-nav-icon {
      width: 30px;
      height: 26px;
      margin-top: 11px;
      margin-right: 10px;

      @media (max-width: $small-screen) {
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
  #desktop_main_vertical_nav_btn, #mobile_main_nav_btn {
    height: 100%;
    margin: 0 15px 0 0;
    vertical-align: top;
    border-radius: 0;
    padding: 0 15px;
    background-color: white;
    color: #717167;

    &.active {
      background-color: #717167;
      color: white;
    }
  }

  #mobile_main_nav_btn {
    padding-top: 10px;
    border-right: 1px solid lightgray;
    box-shadow: none;
  }

  .dropdown-content {
    overflow-y: visible;

    .dropdown-content {
      margin-left: 100%;
    }

    li > a, li > span {
      color: black !important;
      font-weight: normal;
    }

    li > a > i.fa {
      font-size: initial;
    }
  }

  #desktop_main_vertical_nav_dropdown, #mobile_main_nav_dropdown {
    li.company-logo {
      img {
        width: 100%;
        padding: 10px 40px;
      }
    }
  }

  #desktop_main_vertical_nav_dropdown {
    width: 225px !important;

    li.active {
      background-color: #e4e4e4;
    }
  }

  #mobile_main_nav_dropdown {
    display: none;
    position: absolute;
    width: 100% !important;

    @media screen and (max-height: 480px) {
        overflow-y: scroll;
    }

    background: -moz-linear-gradient(top,  rgba(228,228,228,1) 0%, rgba(255, 255, 255,1) 5px); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,228,1)), color-stop(5px,rgba(255, 255, 255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255, 255, 255,1) 5px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255, 255, 255,1) 5px); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255, 255, 255,1) 5px); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(228,228,228,1) 0%,rgba(255, 255, 255,1) 5px); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border-radius: 0;

    #main_mobile_nav {
      padding: 15px;
    }

    .mobile-nav-btn-large, .mobile-nav-btn-small {
      margin-bottom: 10px;
      text-align: center;
      vertical-align: bottom;
      position: relative;
      box-shadow: 2px 2px 2px lightgray;

      .bottom-text {
        position: absolute;
        bottom: -8px;
        color: black;
        width: 100%;

        @media (max-width: 350px) {
          font-size: smaller;
        }
      }
    }

    .mobile-nav-btn-large {
      height: 115px;
      padding-top: 25px;

      .mobile-nav-icon {
        width: 55px;
        height: 50px;
      }
    }

    .mobile-nav-btn-small {
      height: 84px;
      padding-top: 10px;
    }

    .mobile-nav-btn-tenna-orange { background-color: $primary; }
    .mobile-nav-btn-green { background-color: #a8cc00; }
    .mobile-nav-btn-tenna-yellow { background-color: #f6b436; }

    .mobile-subnav-button {
      &.mobile-subnav-main-button {
        .mobile-nav-icon {
          height: 50px;
          width: 55px;
        }
      }

      i.fa {
        color: black;
        position: absolute;
        right: 10px;
        top: 35px;
        font-size: $fs-base;
      }
    }

    .mobile-subnav {
      padding-top: 15px;

      .mobile-subnav-head {
        box-shadow: 0 4px 2px -2px lightgray;
        padding-bottom: 15px;

        .mobile-nav-btn-small {
          width: 110px;
          height: 110px;
          margin: 0 auto;
        }

        .back-to-mobile-main-nav {
          width: 125px;
          height: 110px;
          float: left;

          i.fa {
            position: absolute;
            color: black;
            left: 20px;
            top: 50px;
            font-size: $fs-mx;
          }
        }
      }

      .mobile-subnav-items {
        padding: 15px;

        .mobile-nav-btn-small {
          height: 100px;
        }
      }
    }
  }

  #desktop_route_it_subnav_dropdown, #desktop_find_it_subnav_dropdown, #desktop_report_it_subnav_dropdown {
  }

  .brand-logo {
    padding-top: 7px;
    font-size: large;

    img {
      height: 35px
    }
  }

  ul a {
    font-size: $fs-mn;
    color: black;
    font-weight: normal;
  }
  .nav-social-links {
    a {
      display: inline-block;
      margin-left: 15px;
      padding: 0;
    }
  }

  @media #{$large-and-up} {
    .container {
      padding-right: 100px;
      max-width: 100%;
      width: 100%;
    }
  }

  .marketplace-link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .nav-wrapper.container {
    width: 100%;
  }
}

.nav-close{
  color: #fd4f00 !important;
}
.nav-search {
  /*background-color: $primary-color-dark;*/
  background-color: #fff;
  line-height: 1;
  padding-top: 10px;

  .nav-wrapper {
    display: flex;

    > form {
      flex: 1;
    }

    > a {
      margin-left: 20px;
      transition: all 0s ease 0s !important;

      @media #{$medium-and-up} {
        height: 30px;
        line-height: 30px;
      }
    }

    i {
      font-size: 24px;
      line-height: 36px;

      @media #{$medium-and-up} {
        line-height: 30px;
      }
    }
  }


  .input-field .material-icons:first-child {
    color: #444;
  }

  input[type=search] {
    height: 36px;
    line-height: 36px;

    // background-color: $input-bg-color;
    border: 0;
    box-shadow: none;
    color: #444;

    @include open-sans-light;

    font-size: 13px;

    transition: all 0s ease 0s !important;
    -webkit-appearance: none !important;

    @media #{$medium-and-up} {
      height: 30px;
      line-height: 30px;
    }
  }
}

.nav-search {
  i.nav-close {
    font-size: 20px !important;
    &.active {
      color: #a3a49f !important;
    }
  }
}

#nav-search::-ms-clear {
  display: none;
}

#dropdown-user, #dropdown-resources {
  @include open-sans();
}

.nav-search-summary {
  height: 30px;
  line-height: 30px;
  background-color: #E9EAF1;

  @include museo_slab_500();

  color: #6F6F6F;
  font-size: 13px;
}

.side-nav li.copyright {
  line-height: 1.5;
  padding: 22px 30px;

  &:hover {
    background-color: inherit;
  }
}

#toggle-filters {
  @include open-sans();

  padding: 0 1rem;
  margin-right: -10px;
  color: #fff !important;
  text-transform: none;

  @media #{$large-and-up} {
    display: none;
  }
}

#toggle-map {
  @include open-sans();

  padding: 0 1rem;
  color: #fff !important;
  text-transform: none;
}

#pages-index {
  .nav-wrapper2 {
    width: 90%;
    float: right;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

#pages-market-place {
  .brand-logo {
    img {
      height: 35px;
    }
  }
  .nav-wrapper {
    width: 90%;
  }
}

#pages-value, #pages-industries-served {
  .wrapper2 {
    width: 100%;
    background: transparent;

  }
}

.tenna-nav-asset-reports, .tenna-nav-assets, .tenna-nav-checklist, .tenna-nav-company, .tenna-nav-company-reports,
.tenna-nav-create-route, .tenna-nav-dashboard, .tenna-nav-find-it, .tenna-nav-groups, .tenna-nav-homepage,
.tenna-nav-inventory, .tenna-nav-marketplace, .tenna-nav-print-qr, .tenna-nav-report-it, .tenna-nav-route-it,
.tenna-nav-route-management, .tenna-nav-schedule-it, .tenna-nav-sites, .tenna-nav-user, .tenna-nav-wanted, .tenna-nav-live-data {
  max-width: 100%;
  background-size: 100%;
  background-image: url('/static-assets/tenna-nav-images-gray.png');

  &.colored-nav-icons {
    background-image: url('/static-assets/tenna-nav-images-colored.png');
  }

  &.white-nav-icons {
    background-image: url('/static-assets/tenna-nav-images-white.png');
  }

  &.mobile-nav-icon {
    background-image: url('/static-assets/tenna-nav-images-black.png');
    width: 50px;
    height: 45px;
    margin: 0 auto;
  }
}

.tenna-nav-asset-reports-premium {
  max-width: 100%;
  background-size: 100%;
  background-image: url('/static-assets/asset-reports-premium-grey.png');
  &.mobile-nav-icon {
    background-image: url('/static-assets/asset-reports-premium-black.png');
    width: 50px;
    height: 45px;
    margin: 0 auto;
  }
}

.tenna-nav-route-it-premium {
  max-width: 100%;
  background-size: 100%;
  background-image: url('/static-assets/route-it-premium-grey.png');
  &.mobile-nav-icon {
    background-image: url('/static-assets/route-it-premium-black.png');
    width: 50px;
    height: 45px;
    margin: 0 auto;
  }
}

.tenna-nav-asset-reports {
  background-position: 0 0%;
}

.tenna-nav-assets {
  background-position: 0 5.263158%;
}

.tenna-nav-checklist {
  background-position: 0 10.526316%;
}

.tenna-nav-company {
  background-position: 0 21.052632%;
}

.tenna-nav-company-reports {
  background-position: 0 15.789474%;
}

.tenna-nav-create-route {
  background-position: 0 26.315789%;
}

.tenna-nav-dashboard {
  background-position: 0 31.578947%;
}

.tenna-nav-find-it {
  background-position: 0 36.842105%;
}

.tenna-nav-groups {
  background-position: 0 42.105263%;
}

.tenna-nav-homepage {
  background-position: 0 47.001145%;
  @media #{$small-and-down} {
    background-position: 0 47.368421%;
  }
}

.tenna-nav-inventory {
  background-position: 0 52.631579%;
}

.tenna-nav-marketplace {
  background-position: 0 57.894737%;
}

.tenna-nav-print-qr {
  background-position: 0 63.157895%;
}

.tenna-nav-live-data {
  max-width: 100%;
  background-size: 100%;
  background-image: image-url('live_data/live-data-icon-grey.png');
}

.tenna-nav-safety-reports {
  max-width: 100%;
  background-size: 100%;
  background-image: image-url('safety-reports-icon-grey.png');
}

.tenna-nav-report-it {
  background-position: 0 67.999999%;
  @media #{$small-and-down} {
    background-position: 0 68.421053%;
  }
}

.tenna-nav-route-it {
  background-position: 0 73.684211%;
}

.tenna-nav-route-management {
  background-position: 0 78.947368%;
}

.tenna-nav-schedule-it {
  background-position: 0 83.923451%;
  @media #{$small-and-down} {
  background-position: 0 84.210526%;
  }
}

.tenna-nav-sites {
  background-position: 0 89.301234%;
  @media #{$small-and-down}{
    background-position: 0 89.473684%;
  }
}

.tenna-nav-user {
  background-position: 0 94.736842%;
}

.tenna-nav-wanted {
  background-position: 0 100%;
}

#desktop_main_user_nav_dropdown {
  @media #{$small-and-down} {
    top: 56px !important;
    width: 50% !important;
    left: 49% !important;

    li {
      text-align: right;
    }
  }
  @media #{$medium-and-up} {
    top: 50px !important;
  }
}

#desktop_main_vertical_nav_dropdown {
  li {
    .tenna-nav-asset-reports, .tenna-nav-assets, .tenna-nav-checklist, .tenna-nav-company, .tenna-nav-company-reports,
    .tenna-nav-create-route, .tenna-nav-dashboard, .tenna-nav-find-it, .tenna-nav-groups, .tenna-nav-homepage,
    .tenna-nav-inventory, .tenna-nav-marketplace, .tenna-nav-print-qr, .tenna-nav-report-it, .tenna-nav-route-it,
    .tenna-nav-route-management, .tenna-nav-schedule-it, .tenna-nav-sites, .tenna-nav-user, .tenna-nav-wanted, .tenna-nav-asset-reports-premium, .tenna-nav-route-it-premium,
    .tenna-nav-live-data, .tenna-nav-safety-reports {
      height: 25px;
      width: 30px;
      margin-right: 15px;
    }

    &:hover, &.active {
      i.fa {
        color: #f6bc4a;
      }

      .tenna-nav-assets, .tenna-nav-company, .tenna-nav-dashboard, .tenna-nav-find-it, .tenna-nav-groups,
      .tenna-nav-marketplace, .tenna-nav-print-qr, .tenna-nav-report-it, .tenna-nav-route-it,
      .tenna-nav-schedule-it, .tenna-nav-sites, .tenna-nav-user, .tenna-nav-wanted {
        background-image: url('/static-assets/tenna-nav-images-colored.png');
      }
      .tenna-nav-route-it-premium {
        background-image: url('/static-assets/route-it-premium-yellow.png');
      }
      .tenna-nav-live-data {
        background-image: image-url('live_data/live-data-icon-yellow.png');
      }
    }

    ul.dropdown-content > li {
      &:hover, &.active {
        .tenna-nav-create-route, .tenna-nav-route-management, .tenna-nav-checklist, .tenna-nav-inventory,
        .tenna-nav-asset-reports, .tenna-nav-company-reports, .tenna-nav-homepage , .tenna-nav-safety-reports{
          background-image: url('/static-assets/tenna-nav-images-colored.png');
        }
        .tenna-nav-asset-reports-premium {
          background-image: url('/static-assets/asset-reports-premium-yellow.png');
        }
        .tenna-nav-safety-reports {
          background-image: image-url('safety-reports-icon-yellow.png');
        }
      }
    }
  }
  &.dropdown-content {
    max-height: 900px !important;
  }
}
.dropdown-content li > a > i{
  margin: inherit !important;
  width: inherit !important;
}

#mobile_main_nav_dropdown {
  div.mobile-nav-btn {
    &:hover, &.active {
      background-color: #e4e4e4;

      .tenna-nav-assets, .tenna-nav-company, .tenna-nav-dashboard, .tenna-nav-find-it, .tenna-nav-groups,
      .tenna-nav-marketplace, .tenna-nav-print-qr, .tenna-nav-report-it, .tenna-nav-route-it,
      .tenna-nav-schedule-it, .tenna-nav-sites, .tenna-nav-user, .tenna-nav-wanted, .tenna-nav-create-route, .tenna-nav-live-data,
      .tenna-nav-route-management, .tenna-nav-company-reports {
        background-image: url('/static-assets/tenna-nav-images-colored.png') !important;
      }
    }
    .company-reports-text {
      line-height: 20px;
      bottom: 5px;
    }
  }
}
