.pages-container{
  margin-top: 30px;
}

.pages-list{
  margin:0;
  padding-left: 20px;
}

ul.pages-list, li.pages-list{
  list-style: disc;
  padding-left: 5px;
}

ul.pages-num-list, li.pages-num-list {
  list-style: decimal;
  padding-left: 5px;
}

@media only screen and (min-width: 1024px) {
    /* add the code */
    .not-active {
       pointer-events: none;
       cursor: default;
       color: black
    }
}
