@import "variables";

.controller-path-finder {
  #other_notification_error {
    font-size: 75%;
    padding-top: 10px;
    color: red;
  }

  &.action-index, &.action-edit {
    #table-assets {
      margin-top: 10px;
    }
    .row.page-size {
      h1 {
        margin-bottom: 10px;
        &.without-border {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
          line-height: 45px;
        }
        @media #{$small-and-down} {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
          line-height: 45px;
        }
      }
    }
  }
  &.action-show {
    .close-lnk {
      @media #{$small-and-down} {
        top: 10px;
      }
    }
    .qr-none {
      display: none;
    }
    .qr-back {
      float: right;
      text-decoration: underline;
    }
    #mark_all_as_undone {
      @media #{$medium-and-up} {
        text-align: left;
      }
      @media #{$small-and-down} {
        margin-bottom: 10px;
      }
    }
  }

  &.action-recurring {
    .dhx_cal_data table {
      width: auto;
      display: inherit;
      td, th {
        padding: 0;
        margin: 0;
      }
    }
  }
  #routing-tabs {
    margin-top: 10px;
  }

  .users-table {
    max-height: 300px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 15px;

    .driver-name {
      line-height: 10px;
    }
  }
  .users-table::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  .users-table::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .driver-options {
    display: none;
    border: 1px solid lightgrey;
    margin-top: 20px;
    padding: 20px;

    h1 {
      margin: 0 -10px;
      padding: 0 10px 10px;
      text-transform: none;
    }

    label {
      left: 0;
    }

    .input-field {
      margin-top: 30px;
    }
  }

  .waypoint-options {
    display: none;

    .waypoint-options-wrapper {
      padding: 20px;

      .input-field label.active {
        height: auto;
      }
    }

    .options-wrapper {
      border-bottom: 1px solid lightgrey;
      margin: 0 25px 20px;
    }

    &.asset-waypoint-options {
      .options-wrapper {
        background-color: white;
      }
    }

    &.project-waypoint-options {
      .options-wrapper {
        // background-color: #F6F4FB;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }

  .filterable-user {
    margin-bottom: 11px;
    padding-bottom: 11px;
    line-height: 18px;
    border-bottom: 1px solid #e5e5e5;

    label.collection_check_boxes {
      font-size: 0.01px;
      color: transparent;

      &.driver {
        padding-top: 4px;
      }
    }
  }

  .routing-project {
    padding-right: 0;
  }

  .routing-project label.boolean, .routing-asset label.boolean {
    font-size: 0.01px;
    color: transparent;
  }

  .project-header.collapsible-header {
    line-height: normal;
    padding: 10px 15px 10px 10px;
  }

  .project-content {

    .row {
      margin: 0 10px 20px;
    }
  }

  .routing-load-slider-container {
    padding-top: 5px;

    @media #{$small-and-down} {
      padding-bottom: 35px;
    }

    .routing-load-slider-value-display {
      text-align: center;
      padding-bottom: 10px;
      padding-left: 3px;
    }
  }

  .path-head {
    padding: 0 0 10px;
    border-bottom: 1px solid lightgrey;
  }

  .preview-date {
    font-size: 65%;
    font-weight: normal;
    text-transform: none;

    @media #{$large-and-up} {
      text-align: right;
    }
  }

  label.optional abbr {
    display: none;
  }

  .ordinalLabel {
    @include helvetica_neue_bold();
    color: $darker-gray;
    font-size: $fs-md;

    .ordinal {
      vertical-align: super;
      font-size: 70%;
    }
  }

  .route-path {
    &:nth-child(odd) {
      background-color: #f1f2f1;
    }
    margin-bottom: 0;
    padding: 20px;

    .path-asset-info {
      padding-top: 10px;
      border-bottom: 1px solid lightgrey;
      @include helvetica_neue();
      color: $darker-gray;
      font-size: $fs-base;
      font-weight: 500;

      .bold {
        font-weight: bold;
      }

      .path-asset-image-description {
        padding: 0 15px;
      }
    }
    .path-head {
      @include helvetica_neue();
      color: $darker-gray;
      font-size: $fs-base;
    }
  }

  .btn-light {
    background-color: white;
    color: #1a9fdb;
    text-transform: none;
  }

  .path-notes-actions {
    padding: 10px;

    .path-actions {
      @media #{$large-and-up} {
        text-align: right;
      }
    }

    .row { margin-bottom: 0; }
  }

  .route-show {
    @media #{$small-and-down} {
      .colored {
        background-color: #efefef;
      }
    }

    .path-done {
      @media #{$large-and-up} {
        display: flex;
      }

      .path-done-map {
        @media #{$large-and-up} {
          float: right;
        }
        @media #{$medium-and-down} {
          margin-top: 10px;
        }
      }
    }

    .card-panel-heading {
      font-size: initial;
      font-family: inherit;
      font-weight: normal;
      padding-bottom: 0;

      h1 {
        float: left;
        font-size: inherit; // IE
        font-size: initial; // Others
        font-family: inherit;
        font-weight: bold;
        line-height: 36px;
        margin-bottom: 10px;
      }
    }
  }

  .route-selector {
    &.row { margin-bottom: 0; }

    .label { line-height: 3rem; }

    .select-dropdown {
      border: none;
      font-weight: bold;
      margin-left: 10px;
    }

    .driver-chooser {
      width: 85%;
    }

    span { float: left; }
  }

  .user-search-filter {
    label[for=user_filter] {
      white-space: nowrap;
    }
  }

  .project-header, .routing-asset {
    .vertical-center {
      display: flex;
      // align-items: center;
    }
  }

  .project-header {
    .row {
      margin: 0;
    }

    .vertical-center {
      margin: 10px 0;
    }

  }

  .routing-asset {
    .vertical-center {
      margin: 0;
    }
  }

  .project.collapsible-body {
    border-bottom: 1px solid #e1e1e1;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
  }

  .project-assets {
    background-color: white;

    .routing-asset-header {
      padding: 15px 0;

      border-bottom: 1px solid #e1e1e1;
    }
  }

  .projects-assets-list {
    background-color: white;
    box-shadow: none;
  }

  #not_subscribed {
    padding-top: 40px;

    .title-text-big-blue {
      @media #{$medium-and-up} {
        font-size: 40px;
      }
      @media #{$small-and-down} {
        font-size: $fs-xl;
      }
    }

    .intro-text {
      font-size: $fs-mx;
      font-weight: 200;
      color: #2d2a26;
      @include helvetica_neue();

      &.contact-text {
        color: #2d2a26;
      }
    }

    .not-subscribed-image {
      background-image: asset_url('Routing-Devices-for-Non-Subscriber-Page.png');
      background-repeat: no-repeat;
      border-radius: 0;
      box-shadow: none;
      text-align: center;
      height: 500px;
      width: 100%;
      font-size: 50px;
      font-weight: 200;
      justify-content: center;
      display: flex;

      @media #{$large-and-up} {
        background-size: contain;
        height: 450px;
      }

      @media #{$medium-and-down} {
        background-position-x: center;
      }
    }
  }

  #notification_modal {
    h4.card-panel-heading {
      color: #00557f;
      text-transform: none;
    }

    .other-notification-details {
      width: 100%;
      margin-bottom: 0;
    }

    .modal-footer {
      padding-right: 25px;
    }

    .small-screen-height-block {
      height: 35px;
    }

    .vertical-center {
      display: flex;
      align-items: center;
    }

    #cancel_send_route {
      margin-top: -10px;
      text-transform: none;
      font-size: 75%;
      color: #3B98DF;
    }
  }

  #route_disclaimer {
    color: red;
    font-size: 75%;
  }

  .card-panel.edit-errors {
    font-weight: bold;

    .message {
      color: red;
    }

    .error-name {
      color: #EDAC66;
      padding-left: 20px;
    }
  }

  #route_history_table {
    th{
      @include helvetica_neue();
      color: $darker-gray;
      font-size: $fs-md;
      font-weight: 500;
      padding-left: 5px;
    }
    td {
      @include helvetica_neue();
      color: $darker-gray;
      font-size: $fs-base;
      padding-left: 10px;
    }
  }
  .icon-list {
    padding: 5px 0;
  }
  .icon-list a {
    line-height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    color: #a2a4ae;
    text-align: left;

    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: $secondary;
    }

    i {
      display: inline-flex;
      margin-right: 10px;
    }
    span {
      display: inline-flex;
      @include helvetica_neue();
      font-size: 12px;
      font-weight: normal;
      line-height: 12px;
    }
  }
  .icon-list .splitter {
    border-right: 1px solid #e5e5e5;
    height: 100%;
    width: 15px;
    display: inline-flex;
  }

  .other-notification-details {
    input[type="text"], input[type="email"] {
      padding: 3px 0;
    }
  }
  label[for="other_notification_check"] {
    margin-top: 5px;
  }
  #additional-options-filters .input-field label.active {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px !important;
    font-weight: normal;
    color: #33302b !important;
  }

  .input-field label.cb1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 20px ;
    color: #33302b !important;
  }
  .input-field label.collection_check_boxes {
    font-size: 0.01px !important;
    color: transparent !important;

    &.driver {
      padding-top: 4px;
    }
  }
  .routeItMapLabel{
    margin-top: 20px;
  }

  #route_history_start_date, #route_history_end_date {
    select {
      position: initial !important;
      pointer-events: all !important;
      height: auto !important;
      display: block !important;
      margin-left: 2.25em !important;
      opacity: 1 !important;
    }
  }
}
