@import "variables";

#spreadsheet-links {
  padding-top: 10px;
  border-top: 1px solid #C6C6C6;
  text-align: left;

  @include open-sans-light();
  /*font-size: $fs-mn;*/

  // a {
  //   white-space: nowrap;
  //   padding-left: 20px;
  //    @media only screen and (max-width: 1024px) {
  //     text-align: left;
  //     // padding: 5px 0 0 0;
  //     margin-left: 10px;
  //    }
  //   &:first-child {
  //     padding-left: 0px;
  //   }
  //   &:last-child {
  //     float: right;
  //     @media #{$medium-and-down} {
  //     }
  //   }
  // }

  // i {
  //   padding-right: 5px;
  // }
}

#table-projects {
  tr {
    &:last-child {
      .address {
        bottom: 17px;
      }

      .closeout_date {
        bottom: 0;
      }
    }
    &:first-child {
      td {
        border-top: 1px solid #C6C6C6 !important;
        padding-top: $px-sm !important;
      }
    }
  }

  td {
    position: relative;
    border-bottom: 1px solid #C6C6C6 !important;
  }
}

p.project_address {
  position: absolute;
  bottom: 27px;
  right: 5px;
  font-size: 14px;
}
p.project_action {
  position: absolute;
  top: 5px;
  right: 5px;
  @media #{$small-and-down} {
    top: 28px;
  }
}

p.project_closedout_date {
  position: absolute;
  bottom: 10px;
  right: 5px;
  overflow: visible;
}

p.project_closeout_date {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

p.project_closed_date {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #e6913e;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

#project-details {
  position: relative;
  padding-bottom: 10px;

  p {
    margin-bottom: -1px;
  }

  p.project_name {
    margin-bottom: 1px;
  }
}
.controller-projects.action-edit{
  main{
    margin-top: 80px !important;
  }
}
.controller-projects.action-new{
  main{
    margin-top: 80px;
  }
}
.resources-card-panel {
  .card-panel-heading {
    // text-align: center;
    //padding-left: 140px;
  }
}

.project_assignments {
  tr > td:last-child {
    text-align: right;
  }
}

.upload-status {
  margin-top: 24px;
}

a.project-action-header{
  font-size: $fs-mn;
}

#panel-list{
  top: -30px;
}

.project-main-header div,
.project-main-header span{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color:$font-color-blue;
}
.project-main-header{
  padding: 20px 0px 20px 0px;
}

.project-assets-add-icon{
  float: right !important;
  text-decoration-style: bold;
}

.project-header-icons {
  display: flex;
  float: right;
}

.project-header-icons a {
  line-height: $px-mx;
  height: $px-mx;
  font-size: $px-md;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: $px-sm;
  color: $secondary;
  text-align: left;

  @media #{$small-and-down} {
    margin-left: $px-tn;
  }
}
.project-header-icons a span {
  display: inline-flex;
  color: $secondary;
  font-size: 12px;
  font-family: $base-font-regular;
  font-weight: normal;
  line-height: 12px;
}
.project-header-icons a img{
  display: inline-flex;
  height: $px-md;
}

.project-detail-links {
  display: flex;
}

.project-detail-links a {
  line-height: $px-mx;
  height: $px-mx;
  font-size: $px-md;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: $px-sm;
  color: $secondary;
  text-align: left;

  @media #{$small-and-down} {
    margin-left: $px-tn;
  }
}

.project-detail-links a img {
  height: $px-md;
}

.project-detail-links a span {
  display: inline-flex;
  color: $secondary;
  font-size: 12px;
  font-family: $base-font-regular;
  font-weight: normal;
  line-height: 12px;
}


.project-main-header{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#modal-upload-spreadsheet span{
  font-weight: 400;
}

.import-projects-file-btn{
  color: white ;
  font-weight: 400 ;
}
.project-import-btn{
  margin-top: 2%;
}


#projects-show,
#groups-show {
  .new-head{
    margin-top: -11px;
  }
  .projects_heading{
    padding-top: 21px;
  }
  .lean-overlay {
    // display: none !important;
    z-index: 1002 ;
    display: block;
    opacity: 0.5 ;
  }

  .sort-form.srch-name
  {
         top: 10px;
  }
  .page-sz-frm-grp
  {
       z-index: 1;
    border: 1px solid #dadada;
    width: 110px !important;
    height: 32px;
    margin-top: 42px;
    border-radius: 3px;
  }
  .header-link a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: $font-color-blue;
  }

  #panel-list {
    /*padding-top: 50px;*/
  }

  .tbl-Groups
  {
    margin-top: 0px !important;
  }
  .row.page-size {
    h1 {
      margin-bottom: 10px;
      &.without-border {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 45px;
      }
      @media #{$small-and-down} {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 45px;
      }
    }
  }
}
.controller-projects.action-show {
  #table-groups{
    margin-top: 0px;
  }
}

.controller-projects.action-index {
  .project-main-header  {
    h1 {
      margin-bottom: 0;
    }
  }
}

#projects-show {
  #tab-assets {
    .card-panel:first-child {
      margin: 0;
    }
  }

  #project-details .project_name {
    @media #{$small-and-down} {
      width: 200px;
    }
  }
}

#tab-groups {
  .card-panel:first-child {
    margin: 0;
  }
}

.project-asset-filter,
.project-group-filter {
  display: none;
  &.active {
    display: block;
  }
}

.has-assets {
  display: none;
}
.steps-tab{
 position: absolute;
 margin-top: -107px;
 height:40px;
 /*border-radius: 19px;*/
 margin-left: -18px;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}
.steps-tab .tab {
  height: 40px;
  line-height: 40px;
}
.steps-tab .tab a.active {
    background: $primary;
    color: #f4f2f8;
    font-size: $fs-md;
    font-weight: 500;
    font-family: $base-font-medium;
}
.steps-tab .tab a{
  color: $primary;
}
.steps-tab .indicator{
  display:none;
}
.steps-splitter .indicator{
  display:none;
}
.steps-splitter i{
  font-size: 40px;
}
.steps-splitter .tab{
  flex-grow: 0;
  margin-left: -23px;
}
.step-back{
  margin-top: 10px;
}
.step-2-btns{
  float: right;
  margin-top: 5%;
}
@media #{$small-and-down} {
  .step-back span{
    width: 45%;
  }
  .step-back button{
      width: 46%;
  }
  .steps-tab{
    margin-left: 0px;
    margin-top: -100px;
  }
}
.project_description label{
    margin-left: 10px;
}
.project_description textarea{
    padding: 0.0rem 0;
    width: 98%;
    margin-left: 1.1%;
}
#searchTextField{
  position: absolute;
  z-index: 1;
  margin: 4px;
  background: white;
  width: 50%;
}
#geolocation{
  width: 100%;
  height: 400px;
}
.next-disable{
  pointer-events: none;
  opacity: 0.3;
}
.site-submit-btn {
  font-family: 'Open Sans', sans-serif;
}
#sort-form-prj .select-wrapper input.select-dropdown{
  margin-left: 5px;
  margin-top: 4px;
  border: none;
  font-size: 14px !important;
}

.select-wrapper span.caret
{
  color: #fd4f00;
}

.prj-srt-div{
  border: 1px solid #d4d4d4;
  height: 30px;
  width: 19% !important;
  margin-left: 10%;
}
.select-wrapper li span{
  color: $primary;
}
.prj-srt-div form {
  margin-top: -7px;
}
.srt-fm-desktop{
  top: 80px;
  height:32px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
}

#prev-step{
  position:absolute;
  margin-left: 90%;
  margin-top: -6%;
}
abbr {
  color: $primary;
  text-decoration: none;
}
.site-header-bottom{
  border-bottom: 1px solid #C6C6C6;
}
.site-assignment-new{
  color: $primary;
  float: right;
  margin-top: 19px;
}
.site-assignment-btn{
  float:right;
  margin-top: 20px;
}
.exp-guide{
  margin-top: -11%;
  /*font-weight: 500;*/
}
.site-detail-tabs > li {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  font-weight: bold;
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .controller-assets.action-index .page-sz-frm{
    margin-top: 53px;
  }
  #projects-index .select-wrapper input.select-dropdown{
    // margin-top: 2px;
  }
  #sort-form-prj .select-wrapper input.select-dropdown{
    margin-top: -6px;
  }
  #projects-index div.select-wrapper .caret{
    // margin-top: -3px;
  }
  .controller-projects.action-show .group-srt-name{
    margin-top: 53px;
  }
}
@media only screen and (min-width : 300px) and (max-width : 600px) {
  #projects-index .select-wrapper input.select-dropdown{
    // margin-top: 2px;
  }
  #sort-form-prj .select-wrapper input.select-dropdown{
    margin-top: -6px;
  }
  #projects-index div.select-wrapper .caret{
    // margin-top: -3px;
  }
}
.controller-projects.action-show .page-sz-frm-grp{
  height: 32px;
}
@media only screen and (max-width: 600px) {
  .project_address_line_2{
    position: absolute;
    top: 200px;
  }
  .project_address_city{
    margin-top: 100px;
  }
  .project_address_state{
    position: absolute;
    top: 362px;
  }
  .project-country{
    margin-top: 100px;
  }
  .project_address_zip{
    margin-top: -26px;
  }
  #prev-step{
    margin-top: -14%;
    position: initial;
    float: right;
  }
  .srt-fm-desktop{
    top: 66px;
    right: 0;
  }
  .prj-srt-di{
    margin-top: -2.8% !important;
    margin-left: -16% !important;
  }
  #table-projects{
    margin-top: 9px !important;
  }
  .controller-projects.action-show {
    .group-select-wrapper{
      margin-top: 63px;
    }
    .page-sz-frm-grp{
      margin-top: -10px !important;
    }
    .sort-form{
      right: 10px;
    }
  }
}
.controller-projects.action-index {
  .srt-fm-desktop .select-wrapper{
    margin-top: -11px;
  }
}
.controller-projects.action-show {
  .assets-mass-action-form{
    top: -6px !important;
  }
  .new-action-caret-groups{
    padding: 8px;
  }
}
@media #{$small-and-down} {
  .controller-projects.action-show {
    .projects-srt-page, #tab-groups .page-size-form {
      right: -9px;
    }
    #tab-groups .page-size-form{
      top: -5px;
    }
    #tab-assets .page-size-form{
      top: 0px;
    }
    .sort-form{
      right: 0;
    }
    table.tbl-Groups, .new-table-mg{
      margin-top: -5.5% !important;
    }
    .select-wrapper input.select-dropdown{
      // top: 2px;
    }
  }
}


#detail, #address
{
  text-transform: initial !important;
}

.site-filter {
  div {
    margin-bottom: 20px;
  }
}




.filter_search_contact_id:after{
width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    position: absolute;
    top: 44%;
    right: 17px;
    content: "";
    z-index: 98;
  }
 .filter_search_category select {
   -webkit-appearance: none;
 }

.filter_search_distance_miles:after{
width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    position: absolute;
    top: 44%;
    right: 17px;
    content: "";
    z-index: 98;
  }
 .filter_search_distance_miles select {
   -webkit-appearance: none;
 }


.site-date-btn {
  a {
    float: right;
  }
  @media #{$small-and-down} {
    padding-top: 10px !important;
    a {
      float: none;
    }
  }
}

#project_create {
  select {
    position: initial !important;
    pointer-events: all !important;
    height: 2rem;
    opacity: 1 !important;
  }
}
.controller-projects{
  div.error-block{
    position: absolute;
    width: 100%;
  }
}
@media #{$medium-and-up} {
  .contact-size{
    margin-top: 34px;
  }
}