@import "variables";

body#safety-reports-landing-page {
  background-color: white !important;
}
#safety-reports-landing-page {

  .backdrop {
    background-color: whitesmoke;
  }

  .material-tooltip {
    color: black;
    table{
      border: 1px solid black;
      thead {
        background-color: silver;
      }
      tbody {
        background-color: white;
        td {
          border: 1px solid black;
        }
      }
    }
  }

  .spinner-layer {
    border-color: $primary;
  }
  .preloader-background {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 996;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .preloader-wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      right: 50%;
      bottom: 50%;
    }
    p {
      opacity: 0.8;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: 100px;
      margin-left: 7px;
     }
  }
  .blinking {
    animation: blinker 0.8s linear infinite;
  }
  @keyframes blinker {
    50% { opacity: 0; }
  }

  main.container {
    max-width: 100%;
  }
  .scrollable-div-x{
    overflow-x: scroll;
    white-space: nowrap;
  }
  .shadow-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    height: 155px
  }
  .scorecard-averages {
    height: 175px;
  }
  .scorecard-item {
    width: 150px;
  }
  .main-ul {
    li {
      display: inline-block;
    }
  }
  .main-ul li:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid lightgray
  }
  .scorecard-item-title {
    padding-bottom: 10px;
    color: $dark-gray;
    font-weight: 600;
  }
  .score_category {
    a {
      color: $dark-gray;
    }
    .active {
      color: $primary !important;
      pointer-events: none;
    }
  }
  .average_number_circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2.2em;
    min-height: 2.2em;
    border-radius: 50%;
    vertical-align: middle;
    font-size: $px-xl;
    border-style: solid;
    border-color: $medium-gray;
    &.red_circle {
      border-color: $darker-primary;
      color: $darker-primary;
    }
    &.green_circle {
      border-color: $grande;
      color: $grande;
    }
  }
  .average_number_circle:before {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
  }
  .number_circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.9em;
    min-height: 1.9em;
    border-radius: 50%;
    vertical-align: middle;
    font-size: $fs-mn;
    border: 1px solid $medium-gray;
    &.red_circle {
      border-color: $darker-primary;
      color: $darker-primary;
    }
    &.green_circle {
      border-color: $grande;
      color: $grande;
    }
  }
  .number_circle:before {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
  }
  .sv_toggler_violations {
    display: none;
  }
  .violation_num {
    font-size: $px-xxl;
  }
  table.dataTable tbody tr.strip1 {
    background-color: #ffffff;
  }
  table.dataTable tbody tr.strip2 {
    background-color: #f2f2f2;
  }
  table.dataTable thead {
    background-color: #f2f2f2;
  }

  .h5-font {
    font-family: $base-font-medium;
  }

  .bottom-border{
    margin-top: -30px;
    border-bottom: 1px solid #C6C6C6;
  }

  .autocomplete-content.dropdown-content{

    li > a, li > span {
      color: black;
    }
    li:hover, li.active, li.selected {
      background-color: $primary;
      a, span {
        color: white;
      }
    }
  }

  div.chip.selected{
    background-color: $primary;
  }

  .chips.focus {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;

    .autocomplete-content.dropdown-content {
      box-shadow: none;
    }
  }
}

.dataTables_wrapper .dataTables_tags {
  float: left;
  text-align: left;
}

#scorecards {
  position: relative;
}
.sdates , .edates {
  position: relative;
  top:22px;
}

.string-date{
  font-size: 9px !important;
  color: #fd4f00 !important;
}

.data_row_div{
  margin-top: 21px;
}
