@import "variables";

.devise:not(.controller-registrations.action-edit) {

  font-size: $fs-mn;

  ul {
    margin: 0;
  }

  li {
    font-size: 13px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .form-actions {
    text-align: left;

    a, button {
      margin-left: 0;
    }
  }
}

#sessions-new {
  .card-panel-heading {
    border-bottom: none;
    padding-bottom: 0;
  }

  .sign_in {
    @media #{$small-and-down} {
      margin-bottom: 20px;

      form {
        border-bottom: 1px solid $input-border-color;
        padding-bottom: 20px;
      }
    }
  }

  .sign_up {
    p {
      margin-bottom: 20px;
    }
  }


  .sign-in-btns button {
    @media #{$large-and-up} {
      margin-left: 20px;
    }
  }
}

body#sessions-new, body#registrations-new, body#passwords-new, body#confirmations-new {
  .sign-in-logo {
    @media #{$large-and-up} {
      width: 200px;
    }
    @media #{$medium-and-down} {
      width: 150px;
    }
  }

  .card-panel {
    box-shadow: none;
  }

  h1 {
    text-transform: capitalize;
  }

  main.container {
    @media #{$large-and-up} {
      max-width: 850px;
    }
  }
  background-color: #fff !important;
}
