@import "variables";

h1, h2, h3, h4, h5, h6 {
  @include merriweather();
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-panel-heading {
  @include helvetica_neue_bold();
  color: $darker-gray;
  font-size: $fs-lg;
  text-transform: capitalize;
  @media #{$small-and-down} {
    font-size: $fs-base;
    font-weight: bold;
  }

  /*text-transform: uppercase;*/
  padding-bottom: 10px;
  margin-bottom: 20px;

  border-bottom: 1px solid #C6C6C6;

}
a.inherit-color{
  color: inherit;
}
.btn{
  text-transform: none;
}

.title-text-big-orange {
  color: #fd4f00;
  font-size: 40px;
  font-weight: 200;
  font-family: "Helvetica Neue";
}