// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #585863;
$light-gray: #606060;
$add-light-gray: #737373;
$dark-blue: #565764;
$black: #333;
$white: #fff;
$light-blue: #3b98df;
$blue: #48aae5;
$pink: #f6f6f8;

$base-font-sans-serif: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$base-font-serif: "Helvetica Neue", Helvetica, Arial, serif;
$base-font: "Helvetica Neue", Helvetica, Arial, serif;
// Body
$base-text-color: $dark-blue !default;
$base-background-color: $white !default;
$base-font-size: 18px !default;
$base-line-height: 1.33333 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $blue;

// Buttons 
$btn-color: $white !default;
$btn-background: $light-blue !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 36px !default;
$h2-font-size: 36px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;