<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <p>Welcome <%= @resource.first_name %>!</p>

            <p>You can confirm your account email through the link below:</p>

            <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

            <p>
            If you have any questions or require additional assistance please call or email us at:<br/>
            1.844.50BUILD<br/>
            support@tenna.com
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
