<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <p>Welcome <%= @resource.first_name %>!</p>

            <p>
            <% if @resource.invited_by_id.nil? %>
              You have been invited to Tenna,
            <% else %>
              <%= User.find(@resource.invited_by_id).name %> at <%= @resource.company.name %> invited you to Tenna,
            <% end %>
              you can accept it though the link below</p>

            <p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>
            <p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
            <p>
            If you have any questions or require additional assistance please call or email us at:<br/>
            1.844.502.8453<br/>
            support@tenna.com
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
