<div id="customer_stories" class="row">
  <div class="row">
    <div class="col s12 m12 l12 padding-top-50">
      <div class="col s12 m12 l12 center"><span class="title-text-big-blue">CUSTOMER STORIES</span></div>
    </div>
  </div>
  <div class-="row">
    <div class="col s12 m12 l12 center">
      <div class="col s12 m12 hide-on-large-only">
        &nbsp;
      </div>
      <div class="col s12 m12 l6">
        <div class="row padding-bottom-25">
          <div class="col l1 float-left hide-on-med-and-down">&nbsp;</div>
          <div class="col s12 m12 l10 dark-section">
            <div class="row testimonial"><br/>
              <div class="image-holder">
                <a class="lightbox fancybox.iframe" href="//player.vimeo.com/video/192639737?autoplay=1">
                  <%= image_tag 'homepage/triumph_thumbnail.png', class: 'main' %>
                  <i class="player large material-icons">play_circle_outline</i>
                </a>
              </div>
            </div>
            <div class="row">
              <span class="content-text-white" style="position: relative">
                <div class="testimonial-quote left-quote">&ldquo;</div>
                They were very very professional about the way they went about it, their communication and their efficiency.
                <div class="testimonial-quote right-quote">&rdquo;</div>
              </span>
            </div>
            <div class="row gray-section">
              <div class="col s6">
                <span style="float:left; text-align: left">John Green <br/>Director of Leasing Operations <br/>Triumph Modular</span>
              </div>
              <div class="col s6">
                <div class="row margin-bottom-0">
                  <span style="float:right; width:100%"><%= image_tag 'homepage/triumph_logo.png', class: 'company-logo' %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <div class="row">
          <div class="col l1 float-left hide-on-med-and-down">&nbsp;</div>
          <div class="col s12 m12 l10 dark-section">
            <div class="row testimonial"><br/>
              <div class="image-holder">
                <a class="lightbox fancybox.iframe" href="//player.vimeo.com/video/192638237?autoplay=1">
                  <%= image_tag 'homepage/Palmer-thumbnail.jpg', class: 'main' %>
                  <i class="player large material-icons">play_circle_outline</i>
                </a>
              </div>
            </div>
            <div class="row">
              <span class="content-text-white" style="position: relative">
                <div class="testimonial-quote left-quote">&ldquo;</div>
                Tenna has added a lot of organization. We can really keep track of where our assets are.
                <div class="testimonial-quote right-quote">&rdquo;</div>
              </span>
            </div>
            <div class="row gray-section">
              <div class="col s6">
                <span style="float:left; text-align: left">Nick Barret <br/>Site Assistant, Implementer <br/>Palmer Paving</span>
              </div>
              <div class="col s6">
                <div class="row margin-bottom-0">
                  <span style="float:right; width:100%"><%= image_tag 'homepage/sponsor-palmer2.png', class: 'company-logo' %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col l1 hide-on-med-and-down">&nbsp;</div>
        </div>
      </div>
      <div class="col s12 m12 hide-on-large-only">
        &nbsp;
      </div>
    </div>
  </div>
</div>
