<div class="wrapper2">
  <div class="row">
    <div class="row padding-top-50">
      <div class="col s2 m2 l2 float-left">&nbsp;</div>
      <div class="col s9 m9 l9 intro-text-heading2">INDUSTRIES SERVED</div>
    </div>
    <div class="row">
      <div class="col s2 m2 l2 float-left">&nbsp;</div>
      <div class="col s9 m9 l6 intro-text">Tenna serves the industries that drive our world’s infrastructure. Whether it’s building highways, transporting goods and materials, or generating energy, this is complex work. Tenna helps companies across industries keep it simple and smart, allowing them to find more value from their assets.</div>
    </div>
    <div class="row padding-top-20">
      <div class="col s2 m2 l2 float-left">&nbsp;</div>
      <div class="col s9 m9 l6">
        <a href="#customer_stories" class="play-video btn-border-blue ltr-spacing" id="customer-stories">CUSTOMER STORIES<i class="fa fa-caret-down"></i></a>
      </div>
    </div>
  </div>
</div>
