<div class="row">&nbsp;</div>
<div class="row">
  <div class="col s12 m12 l12 center">
    <span class="customers-title-blue">Some Of Our Customers</span>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/xtreme_drilling_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/triumph_logo2.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/bo_phillips_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/northern_tree_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/palmer_paving_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/american_shoring_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/chase_roofing_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/clean_delaware_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/cms_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/pennsy_supply_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/severino_trucking_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/silver_birch_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/trc_construction_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/wl_french_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/ja_alexander_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
  <%= image_tag 'homepage/united_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/facca_incorporated_logo.png'%>
  </div>
  <div class="col s4 m2 l2 img-hover center">
    <%= image_tag 'homepage/ptr_logo.png'%>
  </div>
</div>
<div class="hide-on-med-and-down">
  <div style="background-color: lightgrey">
    <div class="row center" style="position: relative"><br /><br />
    <div class="col l2">&nbsp;</div>
    <div id="ind-tab1" class="col l2 tab-text-blue show-ind-content active">CONSTRUCTION<br /><br /><i class="fa-caret-down fa fa-caret-up"></i></div>
    <div id="ind-tab2" class="col l3 tab-text-blue show-ind-content">FACILITY & PROPERTY<br />MANAGEMENT<br /><i class="fa fa-caret-down"></i></div>
    <div id="ind-tab3" class="col l2 tab-text-blue show-ind-content">TRANSPORTATION<br /> & TRANSPORT<br /><i class="fa fa-caret-down"></i></div>
    <div id="ind-tab4" class="col l2 tab-text-blue show-ind-content">UTILITIES<br /><br /><i class="fa fa-caret-down"></i></div>
    <div class="col l1">&nbsp;</div>
    </div><br /><br />
  </div>
  <div class="row dark-section ie-industrial-content">
    <div id="ind-tab1show" class="row flex-s industrial-content">
      <div class="col s12 m12 l6 padding-0  padding-top-50 img-order-2"> <%= image_tag 'homepage/bridge_construction-min.jpg'%></div>
      <div class="col s12 m12 l6 padding-0">
        <div class="col l2 float-left">&nbsp;</div>
        <div class="col l9 padding-left-5 padding-top-150">
          <span class="title-text">CONSTRUCTION</span><br />
          <span class="content-text-white">
            <ul class="list-style-circle">
              <li>General Contractors</li>
              <li>Heavy Civil</li>
              <li>Industrial Suppliers</li>
              <li>Material Manufacturers</li>
              <li>Modular / Mobile Buildings</li>
              <li>Vertical - Commercial / Residential</li>
            </ul>
          </span>
          <div class="row padding-top-10" style="margin-left: -30px;">
            <div class="col l12">
              <div class="btn-border-blue2 cta-options">
                <a class="modal-trigger leads-form" href="#lead-email" data-lead-link="BuildSourced_for_Civil_Construction_Paving_and_Road_Building_Industries.pdf">TENNA HELPS IN CONSTRUCTION<i class="fa fa-caret-right"></i></a>
              </div>
            </div>
            <br/><br/><br/>
            <div class="col l12">
              <div class="btn-border-blue2 cta-options">
                <a class="modal-trigger leads-form" href="#lead-email" data-lead-link="BuildSourced_for_Mobile_Office_and_Storage_Industry.pdf">TENNA HELPS IN MODULAR<i class="fa fa-caret-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l2"></div>
      </div>
    </div>
    <div id="ind-tab2show" class="row industrial-content">
      <div class="col s12 m12 l6 padding-0">
        <div class="col l2 float-left">&nbsp;</div>
        <div class="col l9 padding-left-5 padding-top-150">
          <span class="title-text">FACILITY & PROPERTY MANAGEMENT</span><br />
          <span class="content-text-white">
            <ul class="list-style-circle">
              <li>Communities / Municipalities</li>
              <li>Education / Schools</li>
              <li>Manufacturing / Industrial</li>
              <li>Medical / Hospital</li>
              <li>Residential Commercial </li>
              <li>Waste Management</li>
            </ul>
          </span>
          <div class="row padding-top-10" style="margin-left: -30px;">
            <div class="col l4">
              <div class="btn-border-blue2 cta-options">
                <a class="modal-trigger leads-form" href="#lead-email" data-lead-link="BuildSourced_for_Routing_and_Waste_Management_Industry.pdf">TENNA HELPS IN WASTE MANAGEMENT<i class="fa fa-caret-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l2"></div>
      </div>
      <div class="col s12 m12 l6 padding-0 padding-top-50"> <%= image_tag 'homepage/property_management-min.jpg'%></div>
    </div>
    <div id="ind-tab3show" class="row flex-s industrial-content">
      <div class="col s12 m12 l6 padding-0  padding-top-50 img-order-2"> <%= image_tag 'homepage/transportation-min.jpg'%></div>
      <div class="col s12 m12 l6 padding-0">
        <div class="col l2 float-left">&nbsp;</div>
        <div class="col l9 padding-left-5 padding-top-150">
          <span class="title-text">TRANSPORTATION & TRANSPORT</span><br />
          <span class="content-text-white">
            <ul class="list-style-circle">
              <li>Airport Facilities</li>
              <li>Ground and Rail</li>
              <li>Logistics</li>
            </ul>
          </span>
        </div>
        <div class="col l2"></div>
      </div>
    </div>
    <div id="ind-tab4show" class="row industrial-content">
      <div class="col s12 m12 l6 padding-0">
        <div class="col l2 float-left">&nbsp;</div>
        <div class="col l10 padding-left-5 padding-top-150">
          <span class="title-text">UTILITIES</span><br />
          <span class="content-text-white">
            <ul class="list-style-circle">
              <li>Energy / Power</li>
              <li>Oil & Gas</li>
              <li>Utilities Contractors</li>
            </ul>
          </span>
          <div class="row padding-top-10" style="margin-left: -30px;">
            <div class="col l12">
              <div class="btn-border-blue2 cta-options">
                <a class="modal-trigger leads-form" href="#lead-email" data-lead-link="BuildSourced_for_Oil_and_Gas_Drilling_Industry.pdf">TENNA HELPS IN OIL & GAS<i class="fa fa-caret-right"></i></a>
              </div>
            </div>
            <br/><br/><br/>
            <div class="col l12">
              <div class="btn-border-blue2 cta-options">
                <a style="color: #ffffff" href="//www.tenna.com/newsroom/xtreme-drilling-selects-buildsourced-for-physical-asset-management">PRESS RELEASE ON XTREME DRILLING<i class="fa fa-caret-right" style="color: #009BEE"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l2"></div>
      </div>
      <div class="col s12 m12 l6 padding-0 padding-top-50"> <%= image_tag 'homepage/utilities-min.jpg'%></div>
    </div>
  </div>
</div>
<div class="hide-on-large-only">
  <div class="row dark-section">
    <div class="row flex-s">
      <div class="col s12 m12 l6 padding-0  padding-top-50 img-order-2"> <%= image_tag 'homepage/bridge_construction-min.jpg'%></div>
      <div class="col s12 m12 l6 padding-0">
        <div class="col s0 l2 float-left">&nbsp;</div>
        <div class="col s9 l9 padding-left-5 padding-top-100">
          <span class="title-text-2">CONSTRUCTION</span><br />
          <span class="content-text-white">
            <ul class="list-style-circle">
              <li>General Contractors</li>
              <li>Heavy Civil</li>
              <li>Industrial Suppliers</li>
              <li>Material Manufacturers</li>
              <li>Modular / Mobile Buildings</li>
              <li>Vertical - Commercial / Residential</li>
            </ul>
          </span>
          <div class="row padding-top-10" style="margin-left: -30px;">
            <div class="col s12">
              <div class="btn-border-blue2 cta-options">
                <a class="modal-trigger leads-form" href="#lead-email" data-lead-link="BuildSourced_for_Civil_Construction_Paving_and_Road_Building_Industries.pdf">TENNA HELPS IN CONSTRUCTION<i class="fa fa-caret-right"></i></a>
              </div>
            </div>
            <br/><br/><br/>
            <div class="col s12">
              <div class="btn-border-blue2 cta-options">
                <a class="modal-trigger leads-form" href="#lead-email" data-lead-link="BuildSourced_for_Mobile_Office_and_Storage_Industry.pdf">TENNA HELPS IN MODULAR<i class="fa fa-caret-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l6 padding-0">
        <div class="col s0 l2 float-left">&nbsp;</div>
        <div class="col s9 l9 padding-left-5 padding-top-100">
          <span class="title-text-2">FACILITY & PROPERTY MANAGEMENT</span><br />
          <span class="content-text-white">
            <ul class="list-style-circle">
              <li>Communities / Municipalities</li>
              <li>Education / Schools</li>
              <li>Manufacturing / Industrial</li>
              <li>Medical / Hospital</li>
              <li>Residential Commercial </li>
              <li>Waste Management</li>
            </ul>
          </span>
          <div class="row padding-top-10" style="margin-left: -30px;">
            <div class="col s12">
              <div class="btn-border-blue2 cta-options">
                <a class="modal-trigger leads-form" href="#lead-email" data-lead-link="BuildSourced_for_Routing_and_Waste_Management_Industry.pdf">TENNA HELPS IN WASTE MANAGEMENT<i class="fa fa-caret-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l2"></div>
      </div>
      <div class="col s12 m12 l6 padding-0 padding-top-50"> <%= image_tag 'homepage/property_management-min.jpg'%></div>
    </div>
    <div class="row flex-s">
      <div class="col s12 m12 l6 padding-0  padding-top-50 img-order-2"> <%= image_tag 'homepage/transportation-min.jpg'%></div>
      <div class="col s12 m12 l6 padding-0">
        <div class="col s0 l2 float-left">&nbsp;</div>
        <div class="col s9 l9 padding-left-5 padding-top-100">
          <span class="title-text-2">TRANSPORTATION & TRANSPORT</span><br />
          <span class="content-text-white">
            <ul class="list-style-circle">
              <li>Airport Facilities</li>
              <li>Ground and Rail</li>
              <li>Logistics</li>
            </ul>
          </span>
        </div>
        <div class="col l2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l6 padding-0">
        <div class="col s0 l2 float-left">&nbsp;</div>
        <div class="col s9 l9 padding-left-5 padding-top-100">
          <span class="title-text-2">UTILITIES</span><br />
          <span class="content-text-white">
            <ul class="list-style-circle">
              <li>Energy / Power</li>
              <li>Oil & Gas</li>
              <li>Utilities Contractors</li>
            </ul>
          </span>
          <div class="row padding-top-10" style="margin-left: -30px;">
            <div class="col s12">
              <div class="btn-border-blue2 cta-options">
                <a class="modal-trigger leads-form" href="#lead-email" data-lead-link="BuildSourced_for_Oil_and_Gas_Drilling_Industry.pdf">TENNA HELPS IN OIL & GAS<i class="fa fa-caret-right"></i></a>
              </div>
            </div>
            <br/><br/><br/>
            <div class="col s12">
              <div class="btn-border-blue2 cta-options">
                <a style="color: #ffffff" href="//www.tenna.com/newsroom/xtreme-drilling-selects-buildsourced-for-physical-asset-management">PRESS RELEASE ON XTREME DRILLING<i class="fa fa-caret-right" style="color: #009BEE"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l2"></div>
      </div>
      <div class="col s12 m12 l6 padding-0 padding-top-50"> <%= image_tag 'homepage/utilities-min.jpg'%></div>
    </div>
  </div>
</div>
<%= render partial: 'pages/leads_email_form' %>
