<%host_path = "#{request.protocol}#{request.host_with_port}"%>
<%header_img = "#{host_path}/man-holding-tablet-low-res-2500by1500.jpg".html_safe%>
<!DOCTYPE html>
<html>
<body>
<div style="text-align:left;font-family: 'Open Sans',sans-serif ;font-size:16px; margin-top: 0px; width: 100%;">
  <div style="background-color: #007BBE; width: 100%;min-height: 100px;overflow: auto;display: table;vertical-align: inherit;border-color: inherit;">
        <div style="width: 45%;padding: 10px;color: white;text-align: left; font-size: 18px;float:left;display: table-cell;vertical-align: inherit;">
          Technology Update 2.3
          <%date_time= DateTime.now.in_time_zone%>
          <div style="font-size: 16px;margin-top: 18px;color: white;"><%=date_time.strftime("%B #{date_time.day.ordinalize} %Y") %>
          </div>
        </div>
        <div style="width: 35%;padding: 10px;color: white;font-size: 18px;text-align: right;float:right;margin-top: 18px;display: table-cell;vertical-align: inherit;">
          Tenna<sup>&reg;</sup>
        </div>
  </div>
  <br>
  <div style="margin-top: 20px;">
    <div>
      <table style="width:90%; margin: auto;" cellspacing="0">
        <thead>
          <tr>
              <th style="  border: 1px solid #DCDDDC;padding: 10px;color: white;background-color: #1a9fdb;border-collapse: collapse;text-align: center;    font-size: 15px;">New Features</th>
              <th style="  border: 1px solid #DCDDDC;padding: 10px;color: white;background-color: #1a9fdb;border-collapse: collapse;text-align: center;    font-size: 15px;">Details</th>
              <th style="  border: 1px solid #DCDDDC;padding: 10px;color: white;background-color: #1a9fdb;border-collapse: collapse;text-align: center;    font-size: 15px;">How You Benefit</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;">Item 1</td>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;"></td>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;"></td>
          </tr>
          <tr>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;">Item 2</td>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;"></td>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;"></td>
          </tr>
          <tr>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;">Item 3</td>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;"></td>
            <td style="border: 1px solid #DCDDDC;padding: 10px;color: black;border-collapse: collapse;"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
    <div style="background-color: #007BBE; width: 100%;min-height: 40px;overflow: auto;display: table;vertical-align: inherit;border-color: inherit;">
        <div style="width: 40%;padding-left: 10px;color: white;text-align: left; font-size: 18px;float:left;display: table-cell;vertical-align: inherit;    margin-top: 10px;">
          <a href="www.tenna.com" style="text-decoration: none;color: white;font-size: 18px;">www.tenna.com</a>
        </div>
        <div style="width: 47%;padding-right: 10px;color: white;font-size: 17px;text-align: right;float:right;margin-top: 10px;display: table-cell;vertical-align: inherit;">
           &copy; 2017 Tenna
        </div>
  </div>

</div>

</body>
</html>
