<div class="card-panel" id="user-info">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading">
          My Profile
        </h1>
        <%= link_to 'Edit', edit_user_registration_path(back: user_profile_path), onClick: "ga('send', 'Internal Link', '#{edit_user_registration_path}  #{current_user.email}');".html_safe %>
      </div>


      <div class="row">
        <div class="col s12">
          <span class="body-text1"><%= current_user.company_name %><br/>
          <%= current_user.name %><br/></span>
          <%= mail_to current_user.email %><br/>
          <span class="body-text1"><%= phony_formatted current_user.phone_number %><br/></span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 left-align">
          <br/>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, onClick: "ga('send', 'Internal Link', '#{destroy_user_session_path}');".html_safe, class: :btn %>
        </div>
      </div>
    </div>
  </div>
</div>
