<p>Hello Tenna,<br/>
  &nbsp;&nbsp;&nbsp;User <b><%= @email_params['first_name'] %> <%= @email_params['last_name'] %></b> want to learn more about Tenna.<br/><br/>

  <b>User's information:</b><br/><br/>
  <b>Email:</b> <%= @email_params['email'] %><br/>
  <b>Phone:</b> <%= @email_params['phone_number'] %><br/>
  <b>Industry:</b>  <%= @email_params['select_your_industry'] %><br/>
  <b>Reason:</b>  <%= @email_params['reason_for_contacting'] %><br/>
  <b>Title:</b> <%= @email_params['title'] %><br/>
  <b>Company:</b> <%= @email_params['company_name'] %><br/>
  <b>Comments:</b> <%= @email_params['comment'] %><br/><br/><br/><br/>


Thanks<br/>
--Tenna Mailer
</p>
