<div class="wrapper2">
  <div class="row padding-top-50">
    <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
    <div class="col s9 m9 l7">
      <span class="title-text-big-blue">Tenna Learning</span><br /><br />
      <span class="content-text-gray"><%= Faker::Lorem.paragraph %></span><br />
    </div>
  </div>
  <div class="row padding-top-20">
    <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
    <div class="col s9 m9 l7">
      <%= link_to "VIEW FAQS", contact_us_path, class: "btn-border-blue ltr-spacing content-text-black-med" %>
    </div>
  </div>

  <div class="row padding-top-50 support-videos-and-files">
    <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
    <div class="col s12 m12 l7 support-videos">
      <%= render partial: 'pages/support_partials/video',
                 collection: [
                     {vimeo_video_id: '190880747', title: 'How to Add an Asset', description: Faker::Lorem.paragraph, duration: '1:12'},
                     {vimeo_video_id: '190880747', title: 'How to Add and Edit Sites', description: Faker::Lorem.paragraph, duration: '1:03'},
                     {vimeo_video_id: '190880747', title: 'How to Manage Users', description: Faker::Lorem.paragraph, duration: '1:00'},
                     {vimeo_video_id: '190880747', title: 'How to Share Asset Information', description: Faker::Lorem.paragraph, duration: '0:30'}
                 ],
                 as: :video
      %>
    </div>

    <div class="col s12 m12 l3 support-files">
      <span class="title-text-big-blue">How to Pdfs</span><br /><br />
      <%= render partial: 'pages/support_partials/file',
                 collection: [
                     {name: Faker::Lorem.words(2).map(&:capitalize).join(' '), description: Faker::Lorem.paragraph, link: '#'},
                     {name: Faker::Lorem.words(2).map(&:capitalize).join(' '), description: Faker::Lorem.paragraph, link: '#'},
                     {name: Faker::Lorem.words(2).map(&:capitalize).join(' '), description: Faker::Lorem.paragraph, link: '#'},
                     {name: Faker::Lorem.words(2).map(&:capitalize).join(' '), description: Faker::Lorem.paragraph, link: '#'},
                     {name: Faker::Lorem.words(2).map(&:capitalize).join(' '), description: Faker::Lorem.paragraph, link: '#'}
                 ],
                 as: :file
      %>
    </div>
  </div>
</div>
