<div class="wrapper2">
  <div class="row dark-section">
    <div class="row padding-top-50">
      <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
      <div class="col s12 m12 l10 intro-text-heading2">Frequently Asked Questions</div>
    </div>

    <div class="row">
      <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
      <div class="col s12 m12 l10" style="border-bottom: 1px solid #acacac">&nbsp;</div>
    </div>

    <div class="row padding-top-20">
      <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
      <div class="col s12 m12 l10 content-text-white">
        <div class="faq-category">Data Storage</div>

        <div class="faq-question">Q: How much data/space do you get?</div>
        <div class="faq-answer">A: Data within Tenna is currently unlimited.</div>

        <div class="faq-question">Q: Can we extract/import data?</div>
        <div class="faq-answer">A: Yes, a user of Tenna can extract/import data through our mass upload features.</div>

        <div class="faq-question">Q: Is the data encrypted 'at rest' and 'in transit'?</div>
        <div class="faq-answer">A: At rest data is not encrypted as it's constantly accessed and used. We are A+ grade
          by QUALYS SSL LABS and using HTTPS protocol. Please refer to the following link:
          <a href="https://www.ssllabs.com/ssltest/analyze.html?d=www.tenna.com&hideResults=on&latest" target="_blank">https://www.ssllabs.com/ssltest/analyze.html?d=www.buildsourced.com&hideResults=on&latest</a>
        </div>

        <div class="faq-category">Bandwidth</div>

        <div class="faq-question">
          Q: Some sites charge for uploads, some for downloads, and some for any 'traffic'.
          What are Tenna's charges related to bandwidth?
        </div>
        <div class="faq-answer">A: No additional charges. Pricing is an annual subscription.</div>

        <div class="faq-category">User Access</div>

        <div class="faq-question">Q: Does the solution support single sign-on?</div>
        <div class="faq-answer">A: We are not supporting single sign-on at the moment and the sign-on is user specific
          to tenna.com site. Tenna designed the product with the intent to have permissions from
          Site Leaders (i.e. Site Managers or Superintendents), and Site Users (Field Engineers). This allows
          for multiple work flows and permissions when moving assets between projects, yards, or to our public marketplace.
        </div>

        <div class="faq-category">General</div>

        <div class="faq-question">Q: What is your vendor support structure? How many days can we contact someone for help?</div>
        <div class="faq-answer">A: We offer support all day every day.</div>

        <div class="faq-question">Q: What is your hosting model?</div>
        <div class="faq-answer">A: We use a secure cloud based (AWS) system.</div>

        <div class="faq-question">Q: Would we be single tenant? Would we be sharing the same computer space as other customers?</div>
        <div class="faq-answer">A: No everyone gets their own computing space.</div>

        <div class="faq-question">Q: Is your site mobile accessible?</div>
        <div class="faq-answer">A: It is a responsive website accessible through any phone's or tablet's supportive
          browser. We will be creating APIs down the road to integrate with iOS and Android based devices.
        </div>

        <div class="faq-question">Q: Are iOS devices supported?</div>
        <div class="faq-answer">A: Yes, since it's a responsive website.</div>
      </div>
    </div>
  </div>
</div>
