<div class="row padding-top-20">
  <div class="col s12 m12 l12">
    <h3><%= file[:name] %></h3>
    <span><%= file[:description] %></span><br><br>
    <span><%= link_to 'Download Link', file[:link] %></span>
  </div>
</div>
