<div class="wrapper2">
  <div class="row">
    <div class="row padding-top-50">
      <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
      <div class="col s9 m9 l9 intro-text-heading2">Support</div>
    </div>
    <div class="row">
      <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
      <div class="col s9 m9 l6 intro-text">Tenna serves the industries that drive our world’s infrastructure.  Whether it’s building highways, transporting goods and materials, or generating energy, these are complex processes.  Tenna helps companies across industries keep it simple and smart, allowing them to best leverage their assets.</div>
    </div>
    <div class="row padding-top-20">
      <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
      <div class="col s9 m9 l6">
        <%= link_to "CONTACT SUPPORT", contact_us_path, class: "btn-border-blue ltr-spacing content-text-white-med" %>
      </div>
    </div>
    <div class="row padding-top-20">
      <div class="col l1 hide-on-med-and-down float-left">&nbsp;</div>
      <div class="col s9 m9 l6 intro-text">
        844.502.8453<br/>
        Support@buildsourced.com
      </div>
    </div>
  </div>
</div>
