<div class="row padding-top-20 padding-bottom-20">
  <div class="col s6 m6 l6">
    <div>
      <div class="responsive-container">
        <iframe src="https://player.vimeo.com/video/<%= video[:vimeo_video_id] %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a href="https://vimeo.com/<%= video[:vimeo_video_id] %>">triumph_video</a> </p>
      </div>
    </div>
  </div>
  <div class="col s6 m6 l6">
    <h3><%= video[:title] %></h3>
    <span><%= video[:description] %></span><br><br>
    <span>Duration: <%= video[:duration] %></span>
  </div>
</div>
