<div  class="tab-content" style="padding:0px;" id="asset-location-audit">
  <div  class="" >
    
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active h1">Asset Location Audit
          <!-- <i class="material-icons right more report-info-i-more">expand_more</i> -->
        </div>
        <div class="collapsible-body">
        <div class="b21">Report Information</div>
        <p class="b1">Asset location audit report provides a comparison of the current location of assets and their sites allocations. This allows you to quickly audit the locations of assets and take action.</p></div>
      </li>
    </ul>

    <div style="padding: 0px 16px 16px 16px;">
      <div class="asset-report-header">
        <div class="header-link">
        </div>
      </div>

      <div>
        <%= simple_form_for(@filter_search, url: reports_generate_asset_location_audit_report_path(format: :pdf), method: :post) do |f| %>
          <div class="asset-report-body row">
            <div class="col s12 m12 " style="margin-bottom:16px;">
              <label style="font-size: 1rem;">Select Report By: </label>
            </div>
            <div class="col m12 s12 l12" style="padding-left:32px;">
              <div class="export-assets-report row">
                <div class="col s12 m12">
                  <%= f.input :asset_category_filter, label: 'Asset Category', as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in' , id: 'asset-category-filter'} %>
                </div>

                <div class="col s12 m12 report-category-types">
                  <%= f.input :equipment, as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in', id: 'report_filter_search_equipment'} %>
                </div>

                <div class="col s12 m12 report-category-types">
                  <%= f.input :material, as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in' , id: 'report_filter_search_material'}%>
                </div>

                <div class= "col s11 m11 category-filters">
                  <%= f.input :asset_categories, label: false , input_html: { class: 'select2', multiple: true }, collection: Category.with_type('material').by_name, include_blank: false, wrapper_html: {class: 'col s12 m12 report-assets-material-categories' , style: 'padding-left:32px;'} %>
                  <%= f.input :asset_categories, label: false, input_html: { class: 'select2', multiple: true }, collection: Category.with_type('equipment').by_name, include_blank: false, wrapper_html: {class: 'col s12 m12 report-assets-equipment-categories' , style: 'padding-left:32px;'} %>
                  <%= f.input :asset_categories, label: false, input_html: { class: 'select2', multiple: true }, collection: Category.by_name, include_blank: 'All Categories', wrapper_html: {class: 'col s12 m12 report-assets-all-categories' , style: 'padding-left:32px;'} %>
                </div>
              </div>

              <div class="export-assets-report row">
                <div class="col s12 m12">
                  <%= f.input :project_filter, label: 'Site', as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in', id: 'project-filter'} %>
                </div>

                <div class= "col s11 m11">
                  <%= f.input :projects, label: false, input_html: { class: 'select2', multiple: true ,id: 'projects-collection'}, collection: @projects, include_blank: 'All Sites', wrapper_html: {class: 'col s12 m12', style: 'padding-left:32px;'} %>
                </div>
              </div>

              <div class="row export-assets-report">
                <div class="col s2 m2" style= "font-size: 1rem;">
                  <label>Date Range: </label>
                </div>
                <div class="col s9">
                  <input type="date" class="date-range datepicker report-date col m6 ip2" name="report_assets_search[date_from]" placeholder="From" max= <%= Date.today.to_s %> >
                  <input type="date" class="date-range datepicker report-date col m6 ip2" name="report_assets_search[date_to]" placeholder="To" max= <%= Date.today.to_s %> >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col m9 s12">
              <p class="center-align red-text multi-projects-msg">This report may take up to a minute to produce.</p>
              &nbsp;&nbsp;
            </div>

            <div class="row" style="float:right; margin:10px;">
              <button name="button" type="submit" class="waves-effect waves-light btn but1">Create Report</button>
              <%#= f.button :submit, 'Create Report', {class: 'waves-effect waves-light btn but1'} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
