<div id="not_subscribed">
  <div class="row">
    <div class="col l1 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l10">
      <div class="row">
        <div class="col s12 m12 l12">
        <span class="title-text-big-orange">
          Company Reports are an optional Premium selection...
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text">
          Tenna’s <span style="color: #fd4f00;">Company Reports</span> lets you gather reports for Site Utilization and Asset Location Audit. Site Utilization allows you to compare your asset allocation against internal billing systems and to gain insights into the utilization of your assets across operations. Asset Location allows you to quickly audit the locations of assets and take action. 
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 intro-text contact-text">
          <div>Contact us if you wish to subscribe.</div>
          <div id="mail-div"><%= mail_to 'support@tenna.com' %></div>
          <div>844.502.8453</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 hide-on-med-and-down">&nbsp;</div>
    <div class="col s12 m12 l9">
      <div class="row v-h-align center ie-center">
        <div class="not-subscribed-company-reports-image not-subscribed-img-generic-css v-h-align" style="align-self: center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
