<div  class="tab-content" style="padding:0px;" id="project-utilization">
  <div  class="">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active h1">Report Information
          <!-- <i class="material-icons right more report-info-i-more">expand_more</i> -->
        </div>
        <div class="collapsible-body">
        <div class="b21">Site Utilization</div>
        <p class="b1">Site utilization report provides a summary list of all the assets that have been allocated to the site including details on arrival to and departure from the site, total days on site, and total value. This allows you to compare your asset allocation against internal billing systems and to gain insights into the utilization of your assets across operations.</p></div>
      </li>
    </ul>

    <div style="padding: 0px 16px 16px 16px;">
      <div class="asset-report-header">
        <div class="header-link">
        </div>
      </div>

      <div>
        <%= simple_form_for(@filter_search, url: reports_generate_project_assets_report_path(format: :pdf), method: :post) do |f| %>
          <div class="asset-report-body row">
            <div class="col m12 s12 l12">
              <div class="export-assets-report row">
                <div class="col l2 s3 m3 sort-order-label subh2">Site: </div>
                  <%= f.input :projects, label: false, input_html: { class: 'select2  dd1' }, collection: @projects, wrapper_html: {class: 'col s9 m9 l9 dd1'} , include_blank: false %>
              </div>

              <div class="row">
                <div class="col s3 m3 l2 sort-order-label subh2">Sort Order: </div>

                <%= f.input :sort_order, label: false, input_html: { class: 'sort-order-input select2' }, collection: ['Asset Id', 'Asset Title'], :selected => 'Asset Id', wrapper_html: {class: 'sort-order col s8 m5 l7  dd1'} %>
              </div>

              <div class="row export-assets-report">
                <div class="col s3 m3 l2 subh2">Date Range: </div>
                <div class="col s8 m8 l9">
                  <input type="date" class="date-range datepicker report-date col m6 l6 ip2" name="report_assets_search[date_from]" placeholder="From" max= <%= Date.today.to_s %> >
                  <input type="date" class="date-range datepicker report-date col m6 l6 ip1" name="report_assets_search[date_to]" placeholder="To" max= <%= Date.today.to_s %> >
                </div>
              </div>

              <div class="row">
                <div class="col s3 m3 l2 subh2">Include in Report: </div>
                <div class="col s8 m8 l9">
                  <%= f.input :internal_rental_rate, as: :boolean, boolean_style: :inline, input_html: {class: 'filled-in'}, wrapper_html: {class: 'col m6 l4 ip2'},label_html: {class: 'cb1'} %>
                  <%= f.input :calculate_cost, as: :boolean, boolean_style: :inline,label: "Calculate cost to job &nbsp;&nbsp; <span style='font-style: italic;font-size: 12px;'>[Days on project * price]</span>".html_safe, input_html: {class: 'filled-in'}, wrapper_html: {class: 'col m6 l8 ip2'},label_html: {class: 'cb1'} %>
                </div>
              </div>

              <div class="export-type row export-assets-report">
                <div class="export-as-label col s3 m3 l2 subh2">Export as:</div>
                <div class="export-types col s8 m8 l6" >
                  <%= f.collection_radio_buttons :export_type, [['csv', 'CSV'] ,['pdf', 'PDF']], :first, :last, wrapper_html: {class: 'export-type checkbox'}, :checked => 'csv' %>
                </div>
              </div>

              <div>
                <%= f.input :project, :as => :hidden , input_html: {value: @project}%>
              </div>
            </div>
          </div>

          <div class="row" style="float:right;margin:10px;">
            <button name="button" type="submit" class="waves-effect waves-light btn but1">Create Report</button>
            <%#= f.button :submit, '', {class: 'waves-effect waves-light btn'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
