<head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <style>
      .report-header{
        background-color: #fd4f00;
        color: white;
        padding: 5px;
        margin: 5px 0px 0px 0px;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 600;
      }
      .report-table-header{
        background-color: #EBECEC;
        color: #85868A;
        font-size: 14.9032px;
        font-family: sans-serif;
        line-height: 21px;
        font-weight: normal;
      }
      .report-table-header th{
        padding: 5px;
        font-weight: 100;
        font-style: italic;
      }
      .report-table td{
        padding: 5px;
        font-family: Arial,sans-serif;
        font-size: 14px;
        line-height: 20px;
        border-collapse: collapse;
      }
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-row-group;
      }
      tr {
        page-break-inside: avoid;
      }
      div.alwaysbreak {
        page-break-before: always;
      }
      .right-border-dotted{
          border-right: 2px dotted #66BDEC;
      }
      .report-detail{
        font-family: sans-serif;
        font-size: 17px;
        line-height: 24px;
      }
      .report-container{
        width: 100% ;
      }
      #report-logo-container img{
        width: 200px;
        float: right;
      }
    </style>
  </head>
