<div id="reports-side-nav" style="padding:0px;">
  <div class="tabs-vertical">
    <div class="col m12 s12 z-depth-1" style="padding:0px;">
        <ul class="tabs" style="border-radius: 2px;">
            <li class="tab" >
                <a class="active"  href="#project-utilization">Site Utilization</a>
            </li>
            <li class="tab">
                <a  href="#asset-location-audit">Asset Location Audit</a>
            </li>
        </ul>
    </div>
  </div>
</div>
