<!doctype html>
  <head></head>
  <body>
    <div class='row headerContent'>
      <div class='col s3' style='float:left'>
        <% if asset_location_audit_by_category and !both_reports_flag %>
          Last Location by Asset Category
        <% elsif asset_location_audit_by_project %>
          Last Location by Site
        <%end%>
        <%= date %>
      </div>
      <div class='col s3' style='float:right'>
        <img src=<%= "#{Rails.root.to_s + '/app/assets/images/tennalogo/Tenna_Logo_Horz_PMS_Orange021.png'}"%> width='100px' height='40px'>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  var headerCheck = function() {
    var x=document.location.search.substring(1).split('&');
    for (var i in x) {
      if(x[i] == "page=1")
        document.getElementsByClassName("headerContent")[0].style.display = "none";
    }
  }();
</script>
