<!-- <html>
  <head>

  </head>
  <body onload="number_pages()">
    <div class="report-page-num" style="float:right;">
      <span class="page"></span>/<span class="topage"></span>
    </div>
    <div class="footerContent" style="display: none">
      <div >
        <img src= <%= "#{Rails.root.to_s + '/app/assets/images/bottom-bg.gif'}" %> class ="report-bottom-bg" width='100%'>
      </div>
    </div>

  </body>
</html>
 -->
<script type="text/javascript">
  function number_pages() {
    var vars={};
    var x=document.location.search.substring(1).split('&');
    for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
    var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
    for(var i in x) {
      var y = document.getElementsByClassName(x[i]);
      for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
    }
  }

   var footerCheck = function() {
       var x=document.location.search.substring(1).split('&');
       var currentPage = 1;
       for (var i in x) {
         var z=x[i].split('=',2);
         if(z[0] == "page")
           currentPage = unescape(z[1]);
         if(z[0] == "topage" && currentPage == unescape(z[1]))
           document.getElementsByClassName("footerContent")[0].style.display = "block";
        }
     }();

</script>