<html>
  <%=render :partial => 'report_head'%>
  <body>
    <main>
      <div class="report-container">
        <div class="row report-detail">
          <div class="col s3">
            <span><b>Asset Utilization Report</b></span><br />
            <span><b><%= @project.company.name if @project.company %></b></span><br />
            <span>User: <%= current_user.name %></span><br />
            <span>Report Date: <%= DateTime.parse(@datetime.to_s).in_time_zone.strftime('%m/%d/%Y') %></span><br />
            <span>Time: <%= DateTime.parse(@datetime.to_s).in_time_zone.strftime('%I:%M %p %Z') %></span><br />
            <span>Date Range: <%= params[:report_assets_search][:date_from].to_date.strftime("%m/%d/%Y") if params[:report_assets_search][:date_from].to_date.present? %>
              - <%= params[:report_assets_search][:date_to].to_date.strftime("%m/%d/%Y") if params[:report_assets_search][:date_to].to_date.present? %></span>
          </div>
          <div class="col s3">
            <span><b><%= @project.name if @project %></b></span><br />
            <span>Assets: <%= @assets_count %></span><br />
            <span>Cost: $<%= @assets_value[:cost] %></span><br />
            <span>Value: $<%= @assets_value[:value] %></span><br />
            <span>Closing Date: <%= @project.closeout_date.strftime("%m/%d/%Y") %></span>
          </div>
          <div class="col s3">
            <span><b>Company Wide Members</b></span><br />
            <span>Admins: <%= @project.company.company_admins.count if @project.company %></span><br />
            <span>Field: <%= @project.company.field_members.count if @project.company %></span><br />
            <span><b>Team Members</b></span><br />
            <span>Leaders: <%= @team_members[:leaders] %></span><br />
            <span>Members: <%= @team_members[:members] %></span>
          </div>
          <div class="col s3">
            <div id="report-logo-container">
              <img src= <%= "#{Rails.root.to_s + '/app/assets/images/tennalogo/Tenna_Logo_Horz_PMS_Orange021.png'}" %> style="height:62px">
            </div>
          </div>
        </div>

        <div>
          <h4 class="report-header">At a Glance</h4>
          <table class="report-table striped">
            <thead>
              <tr class="report-table-header">
                <th>Asset Title</th>
                <th>ID</th>
                <th>Days on Site</th>
                <% if @internal_rental_rate %>
                  <th>Internal Rental Rate</th>
                  <% if @calculate_cost %>
                    <th>Charge to Job</th>
                  <% end %>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @asset_versions_with_total_days_of_assets_on_project.each_with_index do |asset_version, index| %>
                <% values = AssetsVersion.asset_versions_with_total_days_of_assets_on_project_values(asset_version, true) %>
                  <% if values.present? %>
                    <tr>
                      <td><%= values[:asset_title] %></td>
                      <td><%= values[:asset_id] %></td>
                      <td><%= values[:days_on_project] %></td>
                      <% if @internal_rental_rate %>
                        <td><%= values[:internal_rate].present? ? values[:internal_rate] : '0' %></td>
                        <% if @calculate_cost %>
                          <td><%= values[:internal_rate].present? ? values[:internal_rate] * values[:days_on_project] : '0' %></td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="alwaysbreak"></div>
          <h4 class="report-header">Site Asset Utilization Report</h4>
          <table class="report-table striped">
            <thead>
              <tr class="report-table-header">
                <th>Asset Title</th>
                <th class="right-border-dotted">ID</th>
                <th>From Site</th>
                <th>Date</th>
                <th class="right-border-dotted">User</th>
                <th>To Site</th>
                <th>Date</th>
                <th class="right-border-dotted">User</th>
                <th>Days on Site</th>
              </tr>
            </thead>
            <tbody>
              <% @assets_versions.each do |asset_version| %>
                <% values = AssetsVersion.asset_values(asset_version,true) %>
                <% if values.present? %>
                  <tr>
                    <td><%= values[:asset_title] %></td>
                    <td class="right-border-dotted"><%= values[:asset_id] %></td>
                    <td><%= values[:from_project] %></td>
                    <td><%= values[:arrival_date] %></td>
                    <td class="right-border-dotted"><%= values[:from_user_name] %></td>
                    <td><%= values[:to_project_name] %></td>
                    <td><%= values[:departure_date] %></td>
                    <td class="right-border-dotted"><%= values[:to_user_name] %></td>
                    <td><%= values[:days_on_project] %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
      </div>
    </main>
  </body>
</html>
