<html>
  <%=render :partial => 'report_head'%>
  <body>
    <main>
      <div class="report-container">
        <div class="row report-detail">
          <div class="col s4">
            <span><b><%=@user.company.name if @user.company%></b></span><br />
            <span>User: <%= @user.name %></span><br />
            <span>Date: <%= DateTime.parse(@datetime.to_s).in_time_zone.strftime('%m/%d/%Y') %></span><br />
            <span>Time: <%= DateTime.parse(@datetime.to_s).in_time_zone.strftime('%I:%M %p %Z') %></span><br />

          </div>
          <div class="col s4">
            <span><b>Report Type: Last Location by Asset Category</b></span><br />
            <span>Location Match Total: <span style="color:#8FAC00;"><%= @location_match_total_by_cat %></span></span><br />
            <span>Location Mismatch Total: <span style="color:red;"><%= @location_mismatch_total_by_cat %></span></span><br />
            <span>Date Range: <%= params[:report_assets_search][:date_from].to_date.strftime("from  - %m/%d/%Y - to - ") if params[:report_assets_search][:date_from].to_date.present? %>

              <%= params[:report_assets_search][:date_to].to_date.strftime("%m/%d/%Y") if params[:report_assets_search][:date_to].to_date.present? %></span>

          </div>
          <div class="col s4">
            <div id="report-logo-container">
              <img src= <%= "#{Rails.root.to_s + '/app/assets/images/tennalogo/Tenna_Logo_Horz_PMS_Orange021.png'}" %> style="height:62px">
            </div>
          </div>
        </div>
        <h4 class="report-header" style = "font-size: 25.5909px;background: #fd4f00">Asset Location Audit - Asset Category</h4>
        <% @assets_grouped_by_category.each do |category,category_assets| %>
          <h4 class="report-header" style="background-color:#65675e; margin: 10px 0px 0px 0px;"><%=category%></h4>
          <div>
            <table class="report-table striped">
              <thead>
                <tr class="report-table-header">
                  <th>Asset Title</th>
                  <th>ID</th>
                  <th>Location Last Scanned : Long,Lat</th>
                  <th>Date</th>
                  <th>Location Match</th>
                </tr>
              </thead>
              <tbody>

                <% category_assets.each_with_index do |asset, index| %>
                  <%lat_lng = {lat: 'N/A', lng: 'N/A'}%>
                  <%last_scan_date = ''%>
                  <%last_scan_time = ''%>
                  <%asset_loc_vers = @location_versions_by_cat[asset.id]%>
                  <%if asset_loc_vers%>
                    <%location_version = asset_loc_vers.sort_by{|version| version.created_at}.last(2)%>

                    <%last_scan_date = (location_version.count > 0) ? DateTime.parse(location_version[0].updated_at.to_s).in_time_zone(@browser_timezone).strftime('%m/%d/%Y') : ''%>

                    <%last_scan_time = (location_version.count > 0) ? DateTime.parse(location_version[0].updated_at.to_s).in_time_zone(@browser_timezone).strftime('%I:%M %p') : ''%>

                    <%if (location_version.count > 0) %>
                      <%if location_version[0].field_name.downcase == 'current_lat'  %>

                        <%lat_lng[:lat] = location_version[0].to%>
                        <%lat_lng[:lng] = location_version[1].to%>

                      <%elsif location_version[0].field_name.downcase == 'current_lng'%>

                        <%lat_lng[:lat] = location_version[1].to%>
                        <%lat_lng[:lng] = location_version[0].to%>

                      <%end%>
                    <%end%>
                  <%end%>

                  <tr>
                    <td><%= asset.title %></td>
                    <td><%= asset.id%></td>
                    <td><%= (lat_lng[:lat] == 'N/A') ? 'N/A' : lat_lng[:lng].to_s + ', ' + lat_lng[:lat].to_s%></td>
                    <td><%= last_scan_date + ' ' + last_scan_time  %></td>
                    <%if asset.same_location == true %>
                      <td style= "color:#8FAC00; text-align:center;">Y</td>
                    <%elsif asset.same_location == false%>
                      <td style= "color:red;text-align:center;">N</td>
                    <%elsif asset.same_location == nil%>
                      <td></td>
                    <%end%>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <%end%>

      </div>
    </main>
  </body>
</html>
