<!doctype html>
  <head>
  </head>
  <body >
    <div class="row headerContent">
      <div class="col s3" style="float:left"><%=project_name +" - "+ date%></div>
      <div class="col s3" style="float:right;">
        <img src= <%= "#{Rails.root.to_s + '/app/assets/images/tennalogo/Tenna_Logo_Horz_PMS_Orange021.png'}"%> height="38">
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
    var headerCheck = function() {
      var x=document.location.search.substring(1).split('&');
      for (var i in x) {
        if(x[i] == "page=1")
          document.getElementsByClassName("headerContent")[0].style.display = "none";
       }
     }();
</script>
