<%if @company_reports_subscription%>
	<div class="row reports-container">
	  <div class="col l4 m5 s12" id="navbar-reports">
	      <%=render :partial => 'side_nav'%>
	  </div>
	  <div id="reports-container" class="col l8 m7 card-panel">
	    <%=render :partial => 'project_utilization'%>
	    <%=render :partial => 'asset_location_audit'%>
	  </div>
	</div>
<%else%>
	<%= render partial: 'reports/not_subscribed.html' %>
<%end%>