<div class="card-panel">
  <div class="row">
    <div class="asset-report-header">
      <div class="header-link">
        <h1 class="h1 without-border modal-heading-botm"><b>Export Asset Report</b></h1>
        <%= link_to "Back".html_safe, project_path(@project), class: 'lk1' %>
      </div>
    </div>
    <%= simple_form_for(@filter_search, url: reports_generate_project_assets_report_path(format: :pdf), method: :post) do |f| %>
      <div class="asset-report-body row">
        <div class="col s12 m8">
          <div class="export-assets-report row">
            <div class="col s3 m3 sort-order-label"><label class="subh2">Sort Order: </label></div>
            <%= f.input :sort_order, label: false, input_html: { class: 'sort-order-input dd1' }, collection: ['Asset Id', 'Asset Title'], :selected => 'Asset Id', wrapper_html: {class: 'sort-order col s5 m5'},input_html: {class: 'dropdown_fix'} %>
          </div>
          <div class="row export-assets-report">
            <div class="col s3 m3"><label class="subh2">Date Range: </label></div>
            <div class="col s9">
              <input type="date" class="date-range datepicker report-date" name="report_assets_search[date_from]" placeholder="From" max= <%= Date.today.to_s %> >
              <input type="date" class="date-range datepicker report-date" name="report_assets_search[date_to]" placeholder="To" max= <%= Date.today.to_s %> >
            </div>
          </div>

          <div class="export-type row export-assets-report">
            <div class="export-as-label col s3 m3"><label class="subh2">Export as:</label></div>
            <div class="export-types col s6 m6" >
              <%= f.collection_radio_buttons :export_type, [['csv', 'CSV'] ,['pdf', 'PDF']], :first, :last, wrapper_html: {class: 'export-type'}, :checked => 'csv' , label_html: {class: 'cb1'}%>
            </div>
          </div>

          <div><%= f.input :project, :as => :hidden , input_html: {value: @project}%></div>

        </div>
        <div class="col m4"></div>
      </div>

      <div class="row" style="float:right;margin:10px;">
        <%= link_to 'Cancel', project_path(@project), {class: 'btn asset-report-btn'} %>
        <%= f.button :submit, 'Export', {class: 'waves-effect waves-light btn'} %>
      </div>
    <% end %>
  </div>
</div>
