<div id="not_subscribed">
  <div class="row">
    <div class="col s4"><%= image_tag('Lock.png', alt: 'Lock image', style: 'width: 100px') %></div>
    <div class="col s8">
      <div class="row">
        <div class="col s12">
          <span class="title-text-big-orange">Sorry</span>
        </div>
      </div>
      <div class="row" style="margin-top: -15px">
        <div class="col s12 intro-text padding-bottom-10">
          You are not authorized to view this asset.
        </div>
        <div class="col s12 intro-text">
          Tenna Support has been notified.
        </div>
      </div>
      <div class="row padding-bottom-25">
        <div class="col s12">
          <%= link_to 'Dashboard', root_path, class: "waves-effect waves-light btn but1" %>
        </div>
      </div>
    </div>
  </div>
</div>
