<div class="sidebar-header sidebar-main-header hide-on-small-and-down-map">
  <div class="h2">
    <%= "#{pluralize(total, 'Asset', 'Assets')} in #{entities.first.zip_code.zip_code}" %>
  </div>
  <div class="additional-header b3">and the surrounding area</div>
  <span class="sidebar-close" onclick="closeTab();"><i class="fa fa-caret-right"></i></span>
</div>
<div class="sidebar__title">
  <div class="sidebar-title-marker"> <%= render_selected_icon(group_type, total, current_user) %></div>
  <div class="sidebar-title-text b8">
    <%= "#{entities.first.zip_code.city}, #{entities.first.zip_code.state}" %>
  </div>
</div>
<div id="sidebar-items">
  <ul class="sidebar-items">
    <% entities.each do |asset| %>
      <li class="sidebar-items__item sidebar-item b17">
        <%= link_to asset.title, asset_path(asset), class: 'sidebar-item__link b16' %>
        <% if asset.asset_num.present? %>
          <div>ID: <%= asset.asset_num %></div>
        <% end %>
        <div class="sidebar-item__options"><%= asset.description %></div>
        <div class="sidebar-item__project"><%= asset.project ? asset.project.name : 'No associated project' %></div>
        <div class="sidebar-item__availability b24"><%= "#{asset.available? ? 'Available' : 'Not Available'}, "%><strong><%= asset.asset_kind.titleize %></strong></div>
        <div class="sidebar-item__position"><%= "#{asset.creator.name} #{asset.creator.phone_number || 'No phone'}" %></div>
      </li>
    <% end %>
  </ul>
</div>

<% if (total > 2) %>
  <div class="mt-tn">
    <%= link_to "#{total - 2} More Assets", more_path, class: 'lk1' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var closeTab = function() {
    $('a[href*="#sidebar-marker-info"]').children().click();
    $(".mobile-map-overlay").removeClass("expanded");
    $(".mobile-more-info, .mobile-more-info-title").addClass("hidden");
    $(".mobile-filter-open, .mobile-filter-status").removeClass("hidden");
    $(".mobile-more-info").html("");
  };

  $(".mobile-map-overlay .fa-map-o").on("click", function(){
    closeTab()
  })
</script>
