<div class="row">
  <div class="col s8 offset-s2 center-align">
    <h5><%= "#{pluralize(total, 'SITE', 'SITES')} IN/NEAR #{entities.first.address.zip}" %></h5>
  </div>
  <div class="col s2 right-align">
    <i class="fa fa-map-o fa-2x"></i>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(".mobile-map-overlay .fa-map-o").on("click", function(){
    closeTab()
  })
</script>
