<div class="sidebar-header sidebar-main-header hide-on-small-and-down-map h2">
  <%= "#{pluralize(total, 'Site', 'Sites')} in #{entities.first.address.zip}" %>
  <div class="additional-header">and the surrounding area</div>
  <span class="sidebar-close"  onclick="closeTab();"><i class="fa fa-caret-right"></i></span>
</div>
<div class="sidebar__title">
  <div class="sidebar-title-marker"><%= render_selected_icon(group_type, total, current_user) %></div>
  <div class="sidebar-title-text b8">
    <%= "#{entities.first.address.city}, #{entities.first.address.state}" %>
  </div>
</div>
<ul class="sidebar-items">
  <% entities.each do |project| %>
    <li class="sidebar-items__item sidebar-item b17">
      <%= link_to project.name, project_path(project), class: 'sidebar-item__link b16' %>
      <% if project.project_num.present? %>
        <div>ID: <%= project.project_num %></div>
      <% end %>
      <div class="sidebar-item__options"><%= project.project_num %></div>
      <div class="sidebar-item__project"><%= "#{project.contact.name} #{project.contact.phone_number || 'No phone'}" %></div>
      <div class="sidebar-item__availability b24"><%= "#{ project.available_assets.count }" %> project assets</div>
    </li>
  <% end %>
</ul>

<% if (total > 2) %>
  <div>
    <%= link_to "#{total - 2} more projects", more_path, class: 'lk1' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var closeTab = function() {
    $('a[href*="#sidebar-marker-info"]').children().click();
    $(".mobile-map-overlay").removeClass("expanded");
    $(".mobile-more-info, .mobile-more-info-title").addClass("hidden");
    $(".mobile-filter-open, .mobile-filter-status").removeClass("hidden");
    $(".mobile-more-info").html("");
  };

  $(".mobile-map-overlay .fa-map-o").on("click", function(){
    closeTab();
  })
</script>
