$('#<%= @render_element_id %>').html("<%= escape_javascript (render partial: @partial, locals: { entities: @entities, total: @total, more_path: @more_path, group_type: @group_type }) %>");


$('.mobile-more-info').html("<%= escape_javascript (render partial: @partial, locals: { entities: @entities, total: @total, more_path: @more_path, group_type: @group_type }) %>");

$(".mobile-more-info-title").html("<%= j render(partial: "#{@partial}_mobile_title", locals: {total: @total, entities: @entities} )%>")
$(".mobile-map-overlay").addClass("expanded");
$(".mobile-more-info, .mobile-more-info-title").removeClass("hidden");
$(".mobile-filter-title, .mobile-filter-close, .mobile-filter-open, .mobile-filter-status").addClass("hidden");

