<td class="body-text1 dd1">
  <% if export.export_type == 'assets' %>
    <% if export.export_filtered_assets %>
      <%= export_assets_description(export.is_filtered_asset, export.export_filtered_assets) %>
    <% else %>
      <%= filter_description(params[:filtered_assets], false) %>
    <% end %>
  <% else %>
    <% if export.project.nil? %>
      All Site and Asset Data
    <% else %>
      <%= export.project.name %>
    <% end %>
  <% end %>
  <% if export.ready? %>
    Exported at <%= format_time(export.exported_at) %> (GMT)
  <% end %>
</td>
<td class="center links-li1">
  <% if export.ready? %>
    <%= link_to 'Download', export.file.url, class: 'b18', style: 'float:right' %>
  <% else %>
    <div class="preloader-wrapper xsmall active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  <% end %>
</td>
