<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="card-panel-heading"><%= current_user.name %> > Exports</h1>
        <% if current_user.company.can_create_exports? %>
          <%= link_to exports_path(:export_assets_only => true, filtered_assets: params[:filtered_assets]), method: :post, class: "link-export-btn" do %>
            <span class="hide-on-small-and-down export-btn btn">Export Assets Data</span>
            <i class="material-icons hide-on-med-and-up">system_update_alt</i>
          <% end %>
        <% end %>
      </div>

      <table class="project_exports">
        <tbody>
          <% if @project_exports.any? %>
            <% @project_exports.each do |export| %>
              <tr id="<%= dom_id(export) %>" class="export-row"
                data-url="<%= export_path(export)%>" data-ready=<%= export.ready?%> >
                <%= render partial: "export", locals: {export: export, assets_export: true} %>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <% if current_user.company.can_create_exports? %>
                <td class="center">There aren't any exports yet. <%= link_to "Create one now", exports_path(:export_assets_only => true), method: :post %></td>
              <% else %>
                <td class="center">No assets at this time.</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
