<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <div class="header-link">
        <h1 class="h1 without-border modal-heading-botm"><%= current_user.name %> > Exports</h1>
      </div>
      <div class="row exp-row">
        <div class="col s8">
        <% if current_user.company.can_create_exports? %>
          <%= link_to exports_path, method: :post, class: 'btn but1' do %>
            <span class="hide-on-small-and-down">Export All Site and Asset Data</span>
            <i class="material-icons hide-on-med-and-up">system_update_alt</i>
          <% end %>
        <% end %>
        </div>
        <div class="col s4" style="padding-right: 0px;">
          <a href="/sites" class="proj-popup btn white but2 change-date-cncl-btn" style="float: right">Cancel</a>
        </div>
      </div>
      <hr class="hr-global">
      <table class="project_exports">
        <tbody>
          <% if @project_exports.any? %>
            <% @project_exports.each do |export| %>
              <tr id="<%= dom_id(export) %>" class="export-row modal-heading-botm"
                data-url="<%= export_path(export)%>" data-ready=<%= export.ready? %> >
                <%= render partial: 'export', locals: {export: export} %>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <% if current_user.company.can_create_exports? %>
                <td class="center">There aren't any exports yet. <%= link_to 'Create one now', exports_path, method: :post %></td>
              <% else %>
                <td class="center">No sites or assets at this time.</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
