<div id="confirm-delete-user-<%= user_id.to_s %>" class="modal delete-confirms">
  <div class="modal-content modalDeletingUser">
    <h4 class="left-align">DELETING USER</h4>
    <a href="#!" class="modal-action modal-close" id="token-cancel">Cancel</a>
    <div id="token-fab-id">
      <p class="left-align txtUserInfo">
        <span class="">You are about to delete a user </span><strong><%= user_name %></strong>.
      </p>
      <p class="left-align orange-text">
        Are you sure you want to continue?
      </p>
    </div>
    <div class="row buttonGroups" id="token-add-id">
      <a href="#!" class="modal-action modal-close btn btnCancel" id="token-cancel">Cancel</a>
      <%= link_to 'Delete', company_user_path(company_id, user_id), method: :delete, class: "btn btn-danger btnDelete" %>
    </div>
  </div>
</div>