<a class='dropdown-button btn hide-on-small-and-down' href='#' data-activates='desktop_main_vertical_nav_dropdown' data-beloworigin="true" id="desktop_main_vertical_nav_btn">
<i class="fa fa-bars" style="font-size:36px" aria-hidden="true"></i>
</a>

<ul id='desktop_main_vertical_nav_dropdown' class='dropdown-content'>
  <li class="company-logo">
    <% if current_user.present? && current_user.private? && current_user.company.company_logo.present? %>
      <%= image_tag current_user.company.company_logo.url %>
    <% else %>
      <%= image_tag("company-logo-not-uploaded.png") %>
    <% end %>
  </li>
  <li class="divider"></li>
  <li class="<%= tab_active('assets') %>">
    <a href="<%= assets_path %>" onclick="ga('send', 'Internal Link', '<%= assets_path %>');" class="desktop-nav-item">
      <div class="float-left tenna-nav-assets">&nbsp;</div>
      Assets
    </a>
  </li>
  <%if user_signed_in? and !current_user.public?%>
    <li class="divider"></li>
    <li class="<%= tab_active('groups') %>">
      <a href="<%= groups_path %>" onclick="ga('send', 'Internal Link', '<%= groups_path %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-groups">&nbsp;</div>
        Groups
      </a>
    </li>
    <li class="divider"></li>
    <li class="<%= tab_active('projects') %>">
      <a href="<%= projects_path %>" onclick="ga('send', 'Internal Link', '<%= projects_path %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-sites">&nbsp;</div>
        Sites
      </a>
    </li>
    <li class="divider"></li>
    <li class="<%= tab_active('wanted') %>">
      <a href="<%= wanted_assets_path %>" onclick="ga('send', 'Internal Link', '<%= wanted_assets_path %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-wanted">&nbsp;</div>
        Want It
      </a>
    </li>
    <li class="divider"></li>
    <li class="<%= tab_active('events') %>">
      <a href="<%= event_index_path %>" onclick="ga('send', 'Internal Link', '<%= event_index_path %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-schedule-it">&nbsp;</div>
        Schedule It
      </a>
    </li>
    <li class="divider"></li>
    <li class="<%= tab_active('paths') %>">
      <a class='dropdown-button d desktop-subnav-button' href='#' data-activates='desktop_route_it_subnav_dropdown' data-hover="hover" data-stoppropagation="true" data-alignment="left">
        <div class="float-left <%= route_it_subscription ? 'tenna-nav-route-it':'tenna-nav-route-it-premium' %>">&nbsp;</div>
        Route It
        <i class="fa fa-caret-right float-right" aria-hidden="true"></i>
      </a>
    </li>
    <li class="divider"></li>
    <li class="<%= tab_active('findit') %>">
      <a class='dropdown-button d desktop-subnav-button' href='#' data-activates='desktop_find_it_subnav_dropdown' data-hover="hover" data-alignment="left">
        <div class="float-left tenna-nav-find-it">&nbsp;</div>
        Find It
        <i class="fa fa-caret-right float-right" aria-hidden="true"></i>
      </a>
    </li>
    <li class="divider"></li>
    <li class="<%= tab_active('reports') %>">
      <a class='dropdown-button d desktop-subnav-button' href='#' data-activates='desktop_report_it_subnav_dropdown' data-hover="hover" data-alignment="left">
        <div class="float-left tenna-nav-report-it">&nbsp;</div>
        Report It
        <i class="fa fa-caret-right float-right" aria-hidden="true"></i>
      </a>
    </li>
  <%end%>
  <% if user_signed_in? && current_user.company.present? %>
    <li class="divider"></li>
    <li class="<%= tab_active('print_qr') %>">
      <a href="<%= print_company_qr_path(current_user.company) %>" onclick="ga('send', 'Internal Link', '<%= print_company_qr_path(current_user.company) %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-print-qr">&nbsp;</div>
        Print QR
      </a>
    </li>

    <li class="divider"></li>
    <li class="<%= tab_active('live_data') %>">
      <a href="<%= live_data_path %>" onclick="ga('send', 'Internal Link', '<%= live_data_path %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-live-data">&nbsp;</div>
        Live Data
      </a>
    </li>

  <% end %>
  <% if user_signed_in? && current_user.company.present? %>
    <li class="divider"></li>
    <li class="<%= tab_active('company_profile') %> show-on-desktop-small" style="display: none">
      <a href="<%= company_path(current_user.company) %>" onclick="ga('send', 'Internal Link', '<%= company_path(current_user.company) %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-company">&nbsp;</div>
        Company
      </a>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li class="divider"></li>
    <li class="<%= tab_active('marketplace') %> show-on-desktop-small" style="display: none">
      <a href="<%= marketplace_path %>" onclick="ga('send', 'Internal Link', '<%= marketplace_path %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-marketplace">&nbsp;</div>
        Marketplace
      </a>
    </li>
  <% end %>
</ul>

<ul id='desktop_route_it_subnav_dropdown' class='dropdown-content'>
  <li class="<%= tab_active('create_route') %>">
    <a href="<%= path_finder_index_path %>" onclick="ga('send', 'Internal Link', '<%= path_finder_index_path %>');" class="desktop-nav-item">
      <div class="float-left tenna-nav-create-route">&nbsp;</div>
      Create Route
    </a>
  </li>
  <li class="divider"></li>
  <li class="<%= tab_active('manage_routes') %>">
    <a href="<%= manage_routes_path_finder_index_path %>" onclick="ga('send', 'Internal Link', '<%= manage_routes_path_finder_index_path %>');" class="desktop-nav-item">
      <div class="float-left tenna-nav-route-management">&nbsp;</div>
      Manage Routes
    </a>
  </li>
</ul>

<ul id='desktop_find_it_subnav_dropdown' class='dropdown-content'>
  <li class="<%= tab_active('findit_checklist') %>">
    <a href="<%= findit_checklist_path %>" onclick="ga('send', 'Internal Link', '<%= findit_checklist_path %>');" class="desktop-nav-item">
      <div class="float-left tenna-nav-checklist">&nbsp;</div>
      Checklist
    </a>
  </li>
  <li class="divider"></li>
  <li class="<%= tab_active('assets_findit') %>">
    <a href="<%= assets_findit_path %>" onclick="ga('send', 'Internal Link', '<%= assets_findit_path %>');" class="desktop-nav-item">
      <div class="float-left tenna-nav-inventory">&nbsp;</div>
      Inventory
    </a>
  </li>
</ul>

<ul id='desktop_report_it_subnav_dropdown' class='dropdown-content'>
  <li class="<%= tab_active('asset_reports') %>">
    <a href="<%= asset_reports_path %>" onclick="ga('send', 'Internal Link', '<%= asset_reports_path %>');" class="desktop-nav-item">
      <div class="float-left <%= asset_reports_subscription ? 'tenna-nav-asset-reports': 'tenna-nav-asset-reports-premium' %> ">&nbsp;</div>
      Asset Reports
    </a>
  </li>
  <li class="divider"></li>
  <li class="<%= tab_active('company_reports') %>">
    <a href="<%= reports_path %>" onclick="ga('send', 'Internal Link', '<%= reports_path %>');" class="desktop-nav-item">
      <div class="float-left tenna-nav-company-reports">&nbsp;</div>
      Company Reports
    </a>
  </li>
  <% if user_signed_in? && current_user.company_admin? %>
    <li class="divider"></li>
    <li class="<%= tab_active('safety_reports') %>">
      <a href="<%= safety_reports_landing_page_path %>" onclick="ga('send', 'Internal Link', '<%= safety_reports_landing_page_path %>');" class="desktop-nav-item">
        <div class="float-left tenna-nav-safety-reports">&nbsp;</div>
        Driver Scorecard
      </a>
    </li>
  <% end %>
<!--  <li>
    <a href="<%#= root_path %>" onclick="ga('send', 'Internal Link', '<%= root_path %>');" class="desktop-nav-item">
      <div class="float-left tenna-nav-homepage">&nbsp;</div>
      Home Page
    </a>
  </li>-->
</ul>
