<%# if current_page?('/') %>
<footer class="page-footer" style="color: #747684">
  <% unless action_name == 'market_place' || action_name == 'dashboard' || (controller_name == 'dashboard' && action_name == 'index') %>
    
  <% end %>
  <div class="row footer-text card-panel">
    <div class="col m8 l8 hide-on-med-and-down">
      <%= render partial: 'shared/social_links' %>
      <%= render partial: 'shared/interal_links' %>
    </div>
    <div class="col m4 l4 hide-on-med-and-down">
      <%= render partial: 'shared/copy_right' %>
    </div>
    <div class="hide-on-large-only hide-on-small-only col m12">
      <%= render partial: 'shared/interal_links' %>
    </div>
    <div class="hide-on-large-only hide-on-small-only col m6">
      <%= render partial: 'shared/social_links' %>
    </div>
    <div class="hide-on-large-only hide-on-small-only col m6">
      <%= render partial: 'shared/copy_right' %>
    </div>
    <div class="hide-on-med-and-up col s12">
      <%= render partial: 'shared/interal_links' %>
    </div>
    <div class="hide-on-med-and-up col s12">
      <%= render partial: 'shared/social_links' %>
    </div>
    <div class="hide-on-med-and-up col s12">
      <%= render partial: 'shared/copy_right' %>
    </div>
  </div>
  <% unless user_signed_in? %>
      <script type="text/javascript">_satellite.pageBottom();</script>
  <% end %>
</footer>
