<li><%= link_to 'Free Marketplace', marketplace_path, onClick: "ga('send', 'Internal Link', '#{marketplace_path}');".html_safe %></li>
<li><%= link_to 'Contact Us', contact_us_path %></li>
<li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
<li><%= link_to 'Terms of Service', terms_path %></li>
<% if user_signed_in? and current_user.admin? %>
  <li><%= link_to 'Tenna Admin', admin_root_path, class: "red" %></li>
<% end %>

