<div id="flash">
<% flash.each do |name, msg| %>

	<div class="chip <%= fmt_flash_name(name) %>">
      <i  class=" close material-icons centered" data-dismiss="alert" style= "text-align:center;">close</i>
      <%= fmt_flash_msg(msg) %>
    </div>

<% end %>
</div>
