<a class='btn hide-on-med-and-up' id="mobile_main_nav_btn">
  <i class="material-icons">apps</i>
</a>

<div id='mobile_main_nav_dropdown'>
  <div class="mobile-carousel">
    <div class="mobile-carousel-item" id="main_mobile_nav">
      <div class="row">
        <div class="col s8">
          <a href="<%= assets_path %>" onclick="ga('send', 'Internal Link', '<%= assets_path %>');">
            <div class="mobile-nav-btn mobile-nav-btn-large mobile-nav-btn-tenna-orange <%= tab_active('assets') %>">
              <div class="tenna-nav-assets mobile-nav-icon">&nbsp;</div>
              <div class="bottom-text">Assets</div>
            </div>
          </a>
          <%if user_signed_in? and current_user.public?%>
            <a href="<%= marketplace_path %>" onclick="ga('send', 'Internal Link', '<%= marketplace_path %>');">
              <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-green <%= tab_active('marketplace') %>">
                <div class="tenna-nav-marketplace mobile-nav-icon">&nbsp;</div>
                <div class="bottom-text">Marketplace</div>
              </div>
            </a>
          <%end%>
          <%if user_signed_in? and !current_user.public?%>
          <a href="<%= groups_path %>" onclick="ga('send', 'Internal Link', '<%= groups_path %>');">
            <div class="mobile-nav-btn mobile-nav-btn-large mobile-nav-btn-tenna-orange <%= tab_active('groups') %>">
              <div class="tenna-nav-groups mobile-nav-icon">&nbsp;</div>
              <div class="bottom-text">Groups</div>
            </div>
          </a>
          <a href="<%= projects_path %>" onclick="ga('send', 'Internal Link', '<%= projects_path %>');">
            <div class="mobile-nav-btn mobile-nav-btn-large mobile-nav-btn-tenna-orange <%= tab_active('projects') %>">
              <div class="tenna-nav-sites mobile-nav-icon">&nbsp;</div>
              <div class="bottom-text">Sites</div>
            </div>
          </a>
          <div class="row">
            <div class="col s6">
              <a href="<%= marketplace_path %>" onclick="ga('send', 'Internal Link', '<%= marketplace_path %>');">
                <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-green <%= tab_active('marketplace') %>">
                  <div class="tenna-nav-marketplace mobile-nav-icon">&nbsp;</div>
                  <div class="bottom-text">Marketplace</div>
                </div>
              </a>
            </div>
            <% if user_signed_in? && can?(:read, Project) %>
                <div class="col s6 padding-left-0">
                  <a href="<%= company_path(current_user.company) %>" onclick="ga('send', 'Internal Link', '<%= company_path(current_user.company) %>');">
                    <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-green <%= tab_active('company_profile') %>">
                      <div class="tenna-nav-company mobile-nav-icon">&nbsp;</div>
                      <div class="bottom-text">Company</div>
                    </div>
                  </a>
                </div>
            <% end %>
          </div>
        </div>
        <div class="col s4 padding-left-0">
          <a href="<%= wanted_assets_path %>" onclick="ga('send', 'Internal Link', '<%= wanted_assets_path %>');">
            <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow <%= tab_active('wanted') %>">
              <div class="tenna-nav-wanted mobile-nav-icon">&nbsp;</div>
              <div class="bottom-text">Want It</div>
            </div>
          </a>
          <a href="<%= event_index_path %>" onclick="ga('send', 'Internal Link', '<%= event_index_path %>');">
            <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow <%= tab_active('events') %>">
              <div class="tenna-nav-schedule-it mobile-nav-icon">&nbsp;</div>
              <div class="bottom-text">Schedule It</div>
            </div>
          </a>
          <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow mobile-subnav-button <%= tab_active('paths') %>" data-subnav-target="route_it">
            <div class="<%= route_it_subscription ? 'tenna-nav-route-it':'tenna-nav-route-it-premium' %> mobile-nav-icon">&nbsp;</div>
            <div class="bottom-text">Route It</div>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </div>
          <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow mobile-subnav-button <%= tab_active('findit') %>" data-subnav-target="find_it">
            <div class="tenna-nav-find-it mobile-nav-icon">&nbsp;</div>
            <div class="bottom-text">Find It</div>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </div>
          <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow mobile-subnav-button <%= tab_active('reports') %>" data-subnav-target="report_it"> <%#-- TODO: Hidden? %>
            <div class="tenna-nav-report-it mobile-nav-icon">&nbsp;</div>
            <div class="bottom-text">Report It</div>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </div>
          <a href="<%= live_data_path %>" onclick="ga('send', 'Internal Link', '<%= live_data_path %>');">
            <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow <%= tab_active('live_data') %>">
              <div class="tenna-nav-live-data mobile-nav-icon">&nbsp;</div>
              <div class="bottom-text">Live Data</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="mobile-carousel-item hidden mobile-subnav" id="route_it_mobile_nav">
      <div class="mobile-subnav-head">
        <div class="back-to-mobile-main-nav">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mobile-nav-btn-small mobile-nav-btn-tenna-yellow mobile-subnav-button mobile-subnav-main-button <%= tab_active('paths') %>">
          <div class="tenna-nav-route-it mobile-nav-icon">&nbsp;</div>
          <div class="bottom-text">Route It</div>
        </div>
      </div>
      <div class="mobile-subnav-items">
        <div class="row">
          <div class="col s4">
            <a href="<%= path_finder_index_path %>" onclick="ga('send', 'Internal Link', '<%= path_finder_index_path %>');">
              <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow <%= tab_active('create_route') %>">
                <div class="tenna-nav-create-route mobile-nav-icon">&nbsp;</div>
                <div class="bottom-text">Create Route</div>
              </div>
            </a>
          </div>
          <div class="col s4">
            <a href="<%= manage_routes_path_finder_index_path %>" onclick="ga('send', 'Internal Link', '<%= manage_routes_path_finder_index_path %>');">
              <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow <%= tab_active('manage_routes') %>">
                <div class="tenna-nav-route-management mobile-nav-icon">&nbsp;</div>
                <div class="bottom-text">Route History</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-carousel-item hidden mobile-subnav" id="find_it_mobile_nav">
      <div class="mobile-subnav-head">
        <div class="back-to-mobile-main-nav">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mobile-nav-btn-small mobile-nav-btn-tenna-yellow mobile-subnav-button mobile-subnav-main-button">
          <div class="tenna-nav-find-it mobile-nav-icon">&nbsp;</div>
          <div class="bottom-text">Find It</div>
        </div>
      </div>
      <div class="mobile-subnav-items">
        <div class="row">
          <div class="col s4">
            <a href="<%= findit_checklist_path %>" onclick="ga('send', 'Internal Link', '<%= findit_checklist_path %>');">
              <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow <%= tab_active('findit_checklist') %>">
                <div class="tenna-nav-checklist mobile-nav-icon">&nbsp;</div>
                <div class="bottom-text">Check List</div>
              </div>
            </a>
          </div>
          <div class="col s4">
            <a href="<%= assets_findit_path %>" onclick="ga('send', 'Internal Link', '<%= assets_findit_path %>');">
              <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow <%= tab_active('assets_findit') %>">
                <div class="tenna-nav-inventory mobile-nav-icon">&nbsp;</div>
                <div class="bottom-text">Inventory</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-carousel-item hidden mobile-subnav" id="report_it_mobile_nav">
      <div class="mobile-subnav-head">
        <div class="back-to-mobile-main-nav">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mobile-nav-btn-small mobile-nav-btn-tenna-yellow mobile-subnav-button mobile-subnav-main-button">
          <div class="tenna-nav-report-it mobile-nav-icon">&nbsp;</div>
          <div class="bottom-text">Report It</div>
        </div>
      </div>
      <div class="mobile-subnav-items">
        <div class="row">
          <div class="col s4">
            <a href="<%= reports_path %>" onclick="ga('send', 'Internal Link', '<%= reports_path %>');">
              <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow <%= tab_active('company_reports') %>">
                <div class="tenna-nav-company-reports mobile-nav-icon">&nbsp;</div>
                <div class="bottom-text company-reports-text">Company <br /> Reports</div>
              </div>
            </a>
          </div>
          <div class="col s4">
            <a href="<%= root_path %>" onclick="ga('send', 'Internal Link', '<%= root_path %>');">
              <div class="mobile-nav-btn mobile-nav-btn-small mobile-nav-btn-tenna-yellow">
                <div class="tenna-nav-homepage mobile-nav-icon">&nbsp;</div>
                <div class="bottom-text">Home Page</div>
              </div>
            </a>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
