<li class="<%= tab_active('projects') %>"><%= link_to 'Sites', projects_path, onClick: "ga('send', 'Internal Link', '#{projects_path}');".html_safe %></li>
<li class="<%= tab_active('groups') %>"><%= link_to 'Groups', groups_path, onClick: "ga('send', 'Internal Link', '#{groups_path}');".html_safe %></li>
<li class="<%= tab_active('assets') %>"><%= link_to 'Assets', assets_path, onClick: "ga('send', 'Internal Link', '#{assets_path}');".html_safe %></li>
<li class="<%= tab_active('wanted') %>"><%= link_to 'Wanted', wanted_assets_path, onClick: "ga('send', 'Internal Link', '#{wanted_assets_path}');".html_safe %></li>
<li class="<%= tab_active('reports') %>"><%= link_to 'Reports', reports_path, onClick: "ga('send', 'Internal Link', '#{reports_path}');".html_safe %></li>
<li class="<%= tab_active('findit') %>"><%= link_to 'Find It', assets_findit_path, onClick: "ga('send', 'Internal Link', '#{assets_findit_path}');".html_safe %></li>
<li class="<%= tab_active('paths') %>"><%= link_to 'Route It', path_finder_index_path, onClick: "ga('send', 'Internal Link', '#{path_finder_index_path}');".html_safe %></li>
<li class="<%= tab_active('events') %>"><%= link_to 'Schedule It', event_index_path, onClick: "ga('send', 'Internal Link', '#{event_index_path}');".html_safe %></li>

