<li class="<%= tab_active('marketplace') %>">
  <%= link_to marketplace_path, onClick: "ga('send', 'Internal Link', '#{marketplace_path}');".html_safe, class: 'marketplace-link' do %>
    Marketplace &nbsp;<i class="hide-on-med-and-down material-icons">business</i>
  <% end %>
</li>

<% if mobile && user_signed_in? && can?(:read, Project) %>
  <li class="<%= tab_active('projects') %>"><%= link_to 'Sites', projects_path, onClick: "ga('send', 'Internal Link', '#{projects_path}');".html_safe %></li>
  <li class="<%= tab_active('assets') %>"><%= link_to 'Assets', assets_path, onClick: "ga('send', 'Internal Link', '#{assets_path}');".html_safe %></li>
  <li class="<%= tab_active('wanted') %>"><%= link_to 'Wanted', wanted_assets_path, onClick: "ga('send', 'Internal Link', '#{wanted_assets_path}');".html_safe %></li>
  <li class="<%= tab_active('company_profile') %>"><%= link_to 'Company', company_path(current_user.company), onClick: "ga('send', 'Internal Link', '#{company_path(current_user.company)}');".html_safe %></li>
<% elsif user_signed_in? && can?(:read, Project) %>
  <li class="<%= tab_active('projects') %>"><%= link_to 'Sites', projects_path, onClick: "ga('send', 'Internal Link', '#{projects_path}');".html_safe %></li>
  <li class="<%= tab_active('assets') %>"><%= link_to 'Assets', assets_path, onClick: "ga('send', 'Internal Link', '#{assets_path}');".html_safe %></li>
  <li class="<%= tab_active('wanted') %>"><%= link_to 'Wanted', wanted_assets_path, onClick: "ga('send', 'Internal Link', '#{wanted_assets_path}');".html_safe %></li>
  <li class="<%= tab_active('company_profile') %>"><%= link_to 'Company', company_path(current_user.company), onClick: "ga('send', 'Internal Link', '#{company_path(current_user.company)}');".html_safe %></li>
<% end %>
