<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <% if current_user.present? && current_user.private? && current_user.company.company_logo.present? %>
            <%= image_tag current_user.company.company_logo.url(:thumb) %>
        <% else %>
            <%= image_tag("Buildsourced-Logo-White.png") %>
        <% end %>
      </a>
      <ul class="right hide-on-med-and-down">
        <%= render partial: 'layouts/navigation_links', locals: {mobile: false} %>
        <% if user_signed_in? %>
          <% if current_user.public? %>
            <li>
              <%= link_to current_user.name_with_initial, user_profile_path, onClick: "ga('send', 'Internal Link', '#{user_profile_path} #{current_user.email}');".html_safe %>
            </li>
          <% else %>
             <li>
               <%= link_to current_user.name_with_initial, company_user_path(current_user.company, current_user), onClick: "ga('send', 'Internal Link', '#{company_user_path(current_user.company, current_user)} #{current_user.email}');".html_safe %>
             </li>
          <% end %>
        <% else %>
            <li class="<%= tab_active('user') %>"><%= link_to 'Sign In', new_user_session_path, onClick: "ga('send', 'Internal Link', '#{new_user_session_path}');".html_safe %></li>
        <% end %>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <%= render partial: 'layouts/navigation_links', locals: {mobile: true} %>
        <li class="divider"></li>

        <% if user_signed_in? %>
            <%= render partial: 'layouts/user_links' %>
        <% else %>
            <li><%= link_to 'Sign In', new_user_session_path, onClick: "ga('send', 'Internal Link', '#{new_user_session_path}');".html_safe %></li>
        <% end %>

        <li class="divider"></li>

        <%= render partial: 'layouts/footer_links' %>
        <li class="divider"></li>
        <li class="nav-social-links"><%= render partial: 'layouts/social_links' %></li>
        <li class="copyright">&copy; Tenna.<br>All Rights Reserved</li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">Menu</a>
    </div>
  </nav>
</div>
<%= yield :search %>
