<% unless user_signed_in? %>
  <% if Rails.env.production? %>
    <a href='http://www.tenna.com/' class="marketplace-link" style="color: #009BEE;"><i class="material-icons">arrow_back</i> BACK</a>
  <% elsif Rails.env.staging? %>
    <a href='http://tennamarketing.lumenoweb.com/' class="marketplace-link" style="color: #009BEE;"><i class="material-icons">arrow_back</i> BACK</a>
  <% else %>
  <li class="nav-menu <%= tab_active('marketplace') %>">
    <%= link_to industries_served_path, onClick: "ga('send', 'Internal Link', '#{industries_served_path}');".html_safe, class: 'marketplace-link' do %>
      INDUSTRIES SERVED
    <% end %>
  </li>
  <li class="nav-menu <%= tab_active('marketplace') %>">
    <%= link_to market_place_path, onClick: "ga('send', 'Internal Link', '#{market_place_path}');".html_safe, class: 'marketplace-link' do %>
        THE MARKETPLACE
    <% end %>
  </li>
  <li class="nav-menu <%= tab_active('marketplace') %>">
    <%= link_to value_path, onClick: "ga('send', 'Internal Link', '#{value_path}');".html_safe, class: 'marketplace-link' do %>
      VALUE
    <% end %>
  </li>
  <li class="hide-on-med-and-down nav-menu">
    <%= link_to learn_more_path, onClick: "adRoll(); ga('send', 'Internal Link', '#{learn_more_path}');".html_safe, class: 'v-h-align' do %>
        <span style="align-self: center">LEARN MORE</span>
    <% end %>
  </li>
  <li class="hide-on-large-only nav-menu">
    <%= link_to learn_more_path, onClick: "adRoll(); ga('send', 'Internal Link', '#{learn_more_path}');".html_safe do %>
        <span style="align-self: center">LEARN MORE</span>
    <% end %>
  </li>
  <% end %>
<% end %>
<%if user_signed_in?%>
  <li class="<%= tab_active('marketplace') %> header-main-link hide-on-desktop-small">
    <%= link_to '<div class="float-left tenna-nav-marketplace tenna-main-nav-icon">&nbsp;</div>Marketplace'.html_safe, marketplace_path, onClick: "ga('send', 'Internal Link', '#{marketplace_path}');".html_safe %>
  </li>
<%end%>
<% if !mobile && user_signed_in? && can?(:read, Project) %>
  <li class="<%= tab_active('company_profile') %> header-main-link hide-on-desktop-small">
    <%= link_to '<div class="float-left tenna-nav-company tenna-main-nav-icon">&nbsp;</div>Company'.html_safe, company_path(current_user.company), onClick: "ga('send', 'Internal Link', '#{company_path(current_user.company)}');".html_safe %>
  </li>
<% end %>
