<% unless current_page?('/users/sign_in') || current_page?('/users/sign_up') || current_page?('/users/confirmation/new') || current_page?('/users/password/new') %>
  <div class="navbar-fixed">
    <nav role="navigation" id="first-nav">
      <div class="nav-wrapper container">
        <%= render partial: 'layouts/desktop_nav' %>
        <%= render partial: 'layouts/mobile_nav' %>

        <a id="logo-container" href="/" class="brand-logo">
          <%= image_tag("Logo500.png") %>
        </a>

        <ul class="right">
          <%= render partial: 'layouts/navigation_links', locals: { mobile: false } %>
          <% if user_signed_in? %>
            <% if params[:controller] == 'company_assignments' and params[:action] == 'show' %>
              <li class="active header-main-link">
            <% else %>
              <li class="header-main-link">
            <% end %>
              <%= link_to ('<div class="float-left tenna-nav-user tenna-main-nav-icon">&nbsp;</div><div class="hide-on-small-and-down float-left">' + current_user.name_with_initial + '</div><i class="fa fa-caret-down float-right" aria-hidden="true"></i>').html_safe,
                          '#',
                          class: 'user-dropdown-button',
                          href: '#',
                          autofocus: true,
                          data: {
                            activates: 'desktop_main_user_nav_dropdown',
                            beloworigin: 'true'
                          }
              %>
            </li>
          <% else %>
            <% if Rails.env.development? %>
              <li class="<%= tab_active('user') %> header-main-link" style="padding-top: 7px;"><%= link_to 'SIGN IN', new_user_session_path, onClick: "ga('send', 'Internal Link', '#{new_user_session_path}');".html_safe, class: "btn-border-blue3" %></li>
            <% end %>
          <% end %>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <%= render partial: 'layouts/navigation_links', locals: { mobile: true } %>
          <li class="divider"></li>
          <% if user_signed_in? %>
            <%= render partial: 'layouts/user_links' %>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path, onClick: "ga('send', 'Internal Link', '#{new_user_session_path}');".html_safe %></li>
          <% end %>
          <li class="divider"></li>
          <%= render partial: 'layouts/footer_links' %>
          <li class="divider"></li>
          <li class="nav-social-links"><%= render partial: 'layouts/social_links' %></li>
          <li class="copyright">&copy; Tenna.<br>All Rights Reserved</li>
        </ul>
        <%# TODO: Remove unnecessary code above %>
      </div>
    </nav>
  </div>
<% end %>

  <ul id='desktop_main_user_nav_dropdown' class='dropdown-content'>
  <% if current_user.present? %>
      <li class="hide-on-med-and-up hi-user-name-with-initial ">
      <div class="float-left tenna-nav-user tenna-main-nav-icon">&nbsp;</div>
      <div class="float-right">Hi <%= current_user.name_with_initial %></div>
    </li>
    <li class="divider"></li>
    <li>
      <% if current_user.public? %>
        <%= link_to 'Profile', user_profile_path, onClick: "ga('send', 'Internal Link', '#{user_profile_path} #{current_user.email}');".html_safe %>
      <% else %>
        <%= link_to 'Profile', company_user_path(current_user.company, current_user), autofocus: true, onClick: "ga('send', 'Internal Link', '#{company_user_path(current_user.company, current_user)} #{current_user.email}');".html_safe %>
      <% end %>
    </li>
    <li class="hide-on-desktop-small" style="display: none;">
      <%= link_to '<div class="float-left tenna-nav-marketplace tenna-main-nav-icon nav-user-dropdown">&nbsp;</div><div class="float-right">Marketplace</div>'.html_safe, marketplace_path, onClick: "ga('send', 'Internal Link', '#{marketplace_path}');".html_safe %>
    </li>
    <li class="divider"></li>
    <% if current_user.company %>
      <li class="hide-on-desktop-small" style="display: none;">
        <%= link_to '<div class="float-left tenna-nav-company tenna-main-nav-icon nav-user-dropdown">&nbsp;</div><div class="float-right">Company</div>'.html_safe, company_path(current_user.company), onClick: "ga('send', 'Internal Link', '#{company_path(current_user.company)}');".html_safe %>
      </li>
    <% end %>
    <li>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, autofocus: true, onClick: "ga('send', 'Internal Link', '#{destroy_user_session_path}');".html_safe %>
    </li>
  <% end %>
</ul>
  <% if @tracking_code %>
    <%= render partial: 'assets/scanned_asset_not_assigned.html.erb' %>
  <% end %>
<%= yield :search %>

<script>
  $('.user-dropdown-button').dropdown();
</script>
