<a href="https://www.youtube.com/channel/UCwqeRPqA_cNtbhjTQoM8bFQ?guided_help_flow=3" target="_blank">
  <%= image_tag "social-youtube-circle-128.png", alt: "Youtube", width: 24 %>
</a>
<a href="https://www.linkedin.com/company/buildsourced-com" target="_blank">
  <%= image_tag "social-linkedin-circle-128.png", alt: "LinkedIn", width: 24 %>
</a>
<a href="https://www.facebook.com/buildsourced" target="_blank">
  <%= image_tag "social-facebook-circle-128.png", alt: "Facebook", width: 24 %>
</a>
<a href="https://twitter.com/buildsourced" target="_blank">
  <%= image_tag "social-twitter-circle-128.png", alt: "Twitter", width: 24 %>
</a>
