<% if current_user.public? %>
<li>
  <%= link_to 'My Profile', user_profile_path, onClick: "ga('send', 'Internal Link', '#{user_profile_path} #{current_user.email}');".html_safe %>
</li>
<% else %>
  <li><%= link_to 'My Profile', company_user_path(current_user.company, current_user), onClick: "ga('send', 'Internal Link', '#{company_path(current_user.company)} #{current_user.email}');".html_safe %></li>
<% end %>
<li>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, onClick: "ga('send', 'Internal Link', '#{destroy_user_session_path}');".html_safe %>
</li>
