<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Tenna
    </title>

    <meta name='description' content='<%= yield_meta_tag(:description, 'Default description') %>' />
    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'construction,marketplace, equipment') %>' />

    <%= render partial: 'layouts/favicon' %>

    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,600" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Merriweather:400' rel='stylesheet' type='text/css'>
    <script src="//maps.google.com/maps/api/js?v=3&key=AIzaSyD_6U-7TBtJjTwYvK7Kv-VVsct3QMQLjs0&libraries=geometry,places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

    <% if controller_name != "live_data"%>
      <script src="//maps.google.com/maps/api/js?v=3&key=AIzaSyD_6U-7TBtJjTwYvK7Kv-VVsct3QMQLjs0&libraries=geometry,places"></script>
    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.css" rel="stylesheet"/>
    
    <%= stylesheet_link_tag 'application' %>

    <%= javascript_include_tag :modernizr %>

    <%= javascript_include_tag 'application' %>

    <% unless user_signed_in? %>
      <%= javascript_include_tag 'http://assets.adobedtm.com/c876840ac68fc41c08a580a3fb1869c51ca83380/satelliteLib-9c836938164ad18cdb30a31c03f85232a805f52f.js' %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= page_id %>" class="<%= page_classes %>">
    <%= render partial: 'layouts/navigation' %>

    <%= render partial: 'layouts/messages' %>

    <%= yield(:map) %>

    <main class="container">
      <%= yield %>
    </main>

    <% if user_signed_in? %>
      <%= render partial: 'shared/help_video' %>
    <% end %>

    <% if user_signed_in? || request.host == 'localhost' %>
      <%= render partial: 'layouts/footer' %>
    <% end %>
    <%= render partial: 'layouts/modal' %>

    <%= google_analytics 'UA-72177402-1' %>
  </body>
</html>
