<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>
    <%= if content_for?(:title) then
          yield(:title) + ' | '
        end %>
    Tenna
  </title>

  <meta name='description'
        content='<%= yield_meta_tag(:description, 'Default description') %>'/>
  <meta name='keywords'
        content='<%= yield_meta_tag(:keywords, 'construction,marketplace, equipment') %>'/>

  <%= render partial: 'layouts/favicon' %>

  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,600" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Merriweather:400' rel='stylesheet' type='text/css'>
  <script src="//maps.google.com/maps/api/js?v=3&key=AIzaSyD_6U-7TBtJjTwYvK7Kv-VVsct3QMQLjs0&libraries=geometry"></script>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag 'dhtmlx/main' %>
    <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'ext/dhtmlxscheduler_recurring', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'ext/dhtmlxscheduler_editors', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'ext/dhtmlxscheduler_multiselect', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag 'dhtmlx/main' %>
  <%= stylesheet_link_tag 'dhtmlxscheduler', media: 'all', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag 'application' %>

  <%#= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

    <% unless user_signed_in? %>
      <%= javascript_include_tag "http://assets.adobedtm.com/c876840ac68fc41c08a580a3fb1869c51ca83380/satelliteLib-9c836938164ad18cdb30a31c03f85232a805f52f.js" %>
    <% end %>
  <!--style>
  #sidenav-overlay {
      z-index: 100;
  }
  #warning-message {
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    padding: 15px;
    text-align: center;
    background-color: white;
  }
  @media only screen and (orientation:portrait){
    #bs-scheduler { display:none; }
    #warning-message { display:block; }
  }

  @media only screen and (orientation:landscape){
    #warning-message { display:none; }
  }

  @media only screen and (min-device-width: 768px) and (orientation:portrait){
    #bs-scheduler { display:block; }
    #warning-message { display:none; }
  }

</style-->
</head>

<body id="<%= page_id %>" class="<%= page_classes %>">
<!-- <div id="warning-message">
<h5>This works only on landscape mode</h5>
</div> -->
<div id="bs-scheduler">
  <%= render partial: 'layouts/navigation' %>

  <%= render partial: 'layouts/messages' %>

  <%= yield(:map) %>

  <main>
    <%= yield %>
  </main>

  <%# if user_signed_in? %>
    <%#= render partial: 'shared/help_video' %>
  <%# end %>

  <%= render partial: 'layouts/footer' %>

  <%= render partial: 'layouts/modal' %>

  <%= google_analytics 'UA-72177402-1' %>
</div>
</body>
</html>
