<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="VLoyvRj1ZcNGfn4DqsIyM3DVNo0kP2Tn7NHONreAC_A" />
  <title>Tenna</title>
  <%= render partial: 'layouts/favicon' %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Merriweather:400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'homepage' %>
  <%= javascript_include_tag :modernizr %>
  <script src="//assets.adobedtm.com/c876840ac68fc41c08a580a3fb1869c51ca83380/satelliteLib-9c836938164ad18cdb30a31c03f85232a805f52f.js"></script>
</head>
<body id="<%= page_id %>" class="<%= page_classes %>" data-no-turbolink="true">
<%= render partial: 'layouts/navigation' %>
<%= render partial: 'layouts/messages' %>
<%= yield %>
<%= render partial: 'layouts/footer' %>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="jquery-1.11.2.min.js"><\/script>')</script>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'homepage' %>

<%= google_analytics 'UA-72177402-1' %>
<script type="text/javascript">
  adroll_adv_id = "CLMJUYKWZJFNHLIWATMT6P";
  adroll_pix_id = "R5BFACP3BRFH3JZWAMVCEY";
  /* OPTIONAL: provide email to improve user identification */
  /* adroll_email = "username@example.com"; */
  (function () {
    var _onload = function(){
      if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
      <% if current_page?(root_path) && !user_signed_in? %>
      <% end %>
      if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
      scr.setAttribute('async', 'true');
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
    };
    if (window.addEventListener) {window.addEventListener('load', _onload, false);}
    else {window.attachEvent('onload', _onload)}
  }());
</script>
</body>
</html>
